[2019-02-19 10:28] subhanjansaha commented on #2238
I would like to work on this.

[2019-02-19 10:30] teolemon commented on #2238
@CharlesNepote @stephanegigandet Those should be updatable over the air (cached on the device, and updatable on the fly)

[2019-02-19 10:35] #1780 closed

[2019-02-19 10:39] #1005 closed

[2019-02-19 10:50] #2158 closed

[2019-02-19 11:22] teolemon opened #2239 "Crash when scanning 3256224069164 and sliding up"
Crash when scanning 3256224069164 and sliding up

[code]

[2019-02-19 11:22] subhanjansaha commented on #2239
I can work on this.

[2019-02-19 11:25] teolemon commented on #2239
You can go ahead on this one 👍

[2019-02-19 11:47] teolemon opened #2241 "Reorganize settings"
Create a section for units in the settings with:
Preferred unit for energy
Preferred unit for volume

Create a "Language & Location" section with:
Language
Country

Create a "Scan" section with
Scan on startup
Shake to scan
Delete the Powermode scan settings (it has been deprecated)

[2019-02-19 12:16] teolemon commented on #2239
@subhanjansaha a proper stack trace (non obfuscated)
[code]

[2019-02-19 12:19] teolemon opened #2243 "Fatal exception when starting comparison mode from the additives list"
Go to the additives explorer.
Click on E101.
Click on the 1st product.
Start a comparison.
Boom.
Stacktrace:
[code]

[2019-02-19 12:30] subhanjansaha commented on #2243
I'll look into this.

[2019-02-19 12:39] prashantkh19 commented on #2241
I will work on it

[2019-02-19 12:41] teolemon opened #2244 "The project tagline should always fit on one line"
The project tagline should always fit on one line. It's handled ok on the splash screen, but not on the home screen.

![image](https://user-images.githubusercontent.com/1689815/53015641-d0b19000-344b-11e9-9a6e-cd3df43370a5.png)
![image](https://user-images.githubusercontent.com/1689815/53015719-06567900-344c-11e9-8a12-d2965986b645.png)

[2019-02-19 12:45] balaji-ramavathu commented on #2244
I'll fix it.

[2019-02-19 13:04] teolemon opened #2245 "Add a bottom bar to home"
![image](https://user-images.githubusercontent.com/1689815/53016963-318e9780-344f-11e9-9b58-080387c83e0d.png)

[2019-02-19 13:06] jaindiv26 commented on #2245
I'll work on this.

[2019-02-19 13:16] teolemon opened #2246 "Replace the plane icon by a offline icon in the side menu"
It seems that the official icon to express offline is now the crossed cloud
https://storage.googleapis.com/icons.google.com.a.appspot.com/google-assets/system_icons/quantum/file/res-export/ic_cloud_off_24px.svg

[2019-02-19 13:17] jaindiv26 commented on #2246
I'll work fix the icons.

[2019-02-19 16:57] serpico opened #2247 "crash after editing product when saving"
**Summary:**

App crash after editing product when saving

**system logs:**

[logcat.txt.](https://github.com/openfoodfacts/openfoodfacts-androidapp/files/2880986/logcat.txt)

**Expected behavior:**

What did you expect the app to do?

Show the message "produit envoyé avec succès"

What did you see instead?  OpenFoodFacts has stopped
**Device and Android version:**
Samsung GT-I9195
Android 4.2.2
A

[2019-02-19 17:02] teolemon commented on #2247
[code]

[2019-02-19 17:10] teolemon commented on #2247
ava.lang.NoClassDefFoundError:
  at org.apache.commons.lang3.StringUtils.capitalize (StringUtils.java)
  or                     .containsAny (StringUtils.java)
  or                     .isEmpty (StringUtils.java)
  or                     .join (StringUtils.java)
  or                     .replace (StringUtils.java)
  at org.apache.commons.lang3.StringUtils.capitalize (StringUtils.java)
  or

[2019-02-19 18:24] jaindiv26 commented on #2247
I'll try to reproduce this issue.

[2019-02-19 19:42] teolemon opened #2249 "Create a new list wording change from "Yes/No" to "Create/Cancel""
Change the wording of the modal to create a new list from "Yes/No" to "Create/Cancel"

[2019-02-19 19:43] balaji-ramavathu commented on #2249
I'll do that.

[2019-02-19 19:44] teolemon opened #2250 "Show if a product belongs to one of the lists on the summary tab"
Show if a product belongs to one of the user's lists on the summary tab

[2019-02-19 19:46] prashantkh19 commented on #2250
I will work on this.

[2019-02-19 19:46] teolemon opened #2251 "Add a counter to products in list"
Allow the user to add a number on products in lists. Ideally, the user could input fractions, so that it can work for:
I have 2 bottles of coke in my fridge
I have eaten 1/10 of the Nutella jar :-)

[2019-02-19 19:48] prashantkh19 commented on #2251
I will work on this

[2019-02-19 20:02] teolemon opened #2252 "It's impossible to type a comma in the Nutrition table edit mode"
It's impossible to type a comma in the Nutrition table edit mode.
It should be possible to do so (some language use it as a separator), while ensuring the API call is properly done (that the comma doesn't mess up the API call).

[2019-02-19 20:03] jaindiv26 commented on #2252
I'll look into it.

[2019-02-19 20:25] balaji-ramavathu opened #2254 "Display other fields of the product in the appropriate language."
**Summary:**
fields : ingredients_text,generic_name, other_information,conservation_conditions,recycling_instructions_to_discard,recycling_instructions_to_recycle,warning,customer_service,image_front_url,image_ingredients_url,image_nutrition_url

These should be displayed in
-> language of the UX if available,
-> else display it in English if available.
-> else display it in the main language of t

[2019-02-19 20:25] balaji-ramavathu commented on #2254
I'm working on this :-)

[2019-02-19 20:26] teolemon commented on #2245
@jaindiv26 I've made a similar design for the product page, where we keep the same color for contrast, we move the search button on the top left (where people usually expect it to be), thus reducing the number of icon from 5 to 4 (and prevent the fab ovelay on the history)
![image](https://user-images.githubusercontent.com/1689815/53045030-e8f5cf00-348c-11e9-85b5-63c53665ad86.png)

[2019-02-19 21:05] teolemon opened #2255 "Reformat product header"
![image](https://user-images.githubusercontent.com/1689815/53047275-5e17d300-3492-11e9-9d27-aa1093cf56ce.png)

[2019-02-19 21:07] jaindiv26 commented on #2255
I'll work on it.

[2019-02-19 21:09] jaindiv26 commented on #2245
Got the idea, I'll work accordingly.

[2019-02-19 21:11] teolemon commented on #2255
I forgot the common name, that we can put below, or like this:
![image](https://user-images.githubusercontent.com/1689815/53047692-468d1a00-3493-11e9-8f4f-997b343b2d31.png)

[2019-02-19 21:12] teolemon commented on #2255
![image](https://user-images.githubusercontent.com/1689815/53047763-70ded780-3493-11e9-9117-d7315e078fe3.png)

[2019-02-19 21:14] jaindiv26 commented on #2255
How about if we cardify this something like,
Common Name : Ham and cheese sandwich with guerande salt
Above the Club Jambon...

[2019-02-19 21:23] teolemon commented on #2255
Why not, keep in mind that the common name is not always available though.
![image](https://user-images.githubusercontent.com/1689815/53048423-0169e780-3495-11e9-8da6-83a02d1a7a28.png)

[2019-02-19 21:25] teolemon commented on #2255
![image](https://user-images.githubusercontent.com/1689815/53048518-3a09c100-3495-11e9-94e6-bdc3c4649407.png)

[2019-02-19 21:26] teolemon commented on #2255
@jaindiv26 you are free to choose the design that seems to work best.
Keep in mind:
- common name is not always available
- images can be vertical, or horizontal

[2019-02-19 21:38] jaindiv26 commented on #2255
@teolemon I'll make sure of it, I'll push my changes soon.

[2019-02-20 08:03] brandenfung commented on #1884
Yes, it's probably similar to #2156. In general, views containing product data should be updated on return from editing the product.

[2019-02-20 08:08] brandenfung commented on #2219
I'm not sure if this feature is needed for OFF. This pattern is usually used for immersive content (like mobile games, or certain fullscreen apps).

[2019-02-20 08:17] #2239 closed

[2019-02-20 08:18] #2249 closed

[2019-02-20 10:12] balaji-ramavathu opened #2260 "App tagline is displayed in English when the language is set to Hindi in Home"
**Summary:**

Though we have tagline translation in Hindi which is well displayed in splash activity, it is being displayed in English in Home when the app language is set to Hindi.

**Screenshots:**

![hindi2](https://user-images.githubusercontent.com/26673203/53083946-d9769480-3525-11e9-9296-70fdd6ce2d6f.jpg)
![hindi1](https://user-images.githubusercontent.com/26673203/53083945-d9769480-3525-11e

[2019-02-20 11:31] teolemon opened #2262 "Exception when scanning twice the same product from compare mode"
Exception when scanning twice the same product from compare mode
Barcode: 3124480184320

[code]

[2019-02-20 11:32] teolemon opened #2263 "Hide the barcode in the history view"
Hide the barcode in the history view. Give all the space to the product name

[2019-02-20 11:36] balaji-ramavathu commented on #2263
I'll do it.

[2019-02-20 12:15] teolemon opened #2264 "Clicking on offline mode sends to settings"
![](https://i.imgur.com/xs1tN0w.png)

[2019-02-20 12:16] subhanjansaha commented on #2264
I can work on this.

[2019-02-20 12:16] subhanjansaha commented on #2262
I'll work on this.

[2019-02-20 12:25] mustaqmustu opened #2265 "Add scroll bar to preferences"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-20 12:26] mustaqmustu commented on #2265
I want to work on this issue

[2019-02-20 12:27] teolemon commented on #2265
You can go ahead. We should probably also allow to filter settings

[2019-02-20 12:28] teolemon commented on #2265
![](https://i.imgur.com/DHoJDQD.png)

[2019-02-20 13:29] prashantkh19 opened #2266 "No option to add products to lists"
**Summary:**
There is no '+' button on top right of the product page to add the product to list.

**Screenshots:**
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/27685757/53094902-65e28080-3541-11e9-81ae-4f03f99d4d2d.gif)

[2019-02-20 13:30] subhanjansaha commented on #2266
I want work on this.

[2019-02-20 13:30] prashantkh19 commented on #2266
@teolemon Please check if there is any other way, otherwise I will look into it

[2019-02-20 16:32] mustaqmustu opened #2268 "Splash screen is not appearing"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-20 16:54] prajurock commented on #2219
Yes but i noticed this feature in some shopping app also

[2019-02-20 16:54] prajurock commented on #690
Ok.

[2019-02-20 17:37] teolemon commented on #2266
It doesn't appear in scan mode, it seems, you are right.

[2019-02-20 17:40] prashantkh19 commented on #2266
It doesn't show on the productFragment, I will fix it.

[2019-02-21 05:39] #2202 closed

[2019-02-21 07:32] teolemon opened #2270 "The environment infocard is blank (master)"
Still seems to be working server side:
https://fr.openfoodfacts.org/api/v0/produit/3560070573998/lasagnes-a-la-bolognaise-grand-jury?fields=environment_infocard_fr

Barcode to reproduce:
https://barcode.tec-it.com/en/EAN13?data=3560070573998

[2019-02-21 07:33] teolemon commented on #2270
Also side note: if nothing is displayed, the tab should disappear as well.

[2019-02-21 07:34] subhanjansaha commented on #2270
I want to work on this.

[2019-02-21 11:24] mustaqmustu opened #2273 "When no items are added to offline edit, Text is misplaced"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-21 11:25] mustaqmustu commented on #2273
I want to work on this issue

[2019-02-21 11:33] mustaqmustu opened #2274 "when user types a password less than 6 characters,text view error is overlapping with see password button."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-21 11:34] mustaqmustu commented on #2274
I want to work on this issue.

[2019-02-21 15:26] teolemon commented on #2270
You can go ahead. :+1:

[2019-02-21 19:41] serpico commented on #163
Duplicate of #2158

[2019-02-21 19:42] serpico opened #2278 "Ability to reorder items on a list"
- Allow user to rearrange/reorder ( move them up/down ) items in a list by pressing and sliding items.

[2019-02-21 19:43] prashantkh19 commented on #2278
I will work on it

[2019-02-21 20:06] serpico opened #2279 "Ability to duplicate list of products"
For weekly grocery shopping, chances are some of the products listed/bought the week before have to be bought again, duplicate give a base to work with and not recreate the list from scratch.

[2019-02-21 20:07] prashantkh19 commented on #2279
I will do it.

[2019-02-21 20:17] serpico opened #2280 "Ability to hide specific(s) list(s) of products"
Maybe something similar to "mark as completed"
Different from deleting, allow, when the list is _completed_, to hide it but it's still available ( "show completed lists" ) for reuse/duplicate later, instead of recreating it from scratch.
Useful for weekly ( boilerplate ) lists

[2019-02-21 20:19] prashantkh19 commented on #2280
I will do it.

[2019-02-21 20:20] balaji-ramavathu opened #2281 "Save/Discard text is displayed in a wrong way"
**Summary:**

While adding a product to a new list, save and discard texts are shown in reverse manner i.e, "discard" to save and "save" to discard

**Screenshots:**

![save-discard](https://user-images.githubusercontent.com/26673203/53199061-13d65380-3644-11e9-9552-a7f4c12c612d.jpg)

I'm going to fix this.

[2019-02-21 20:22] serpico commented on #2279
@prashantkh19 thanks a lot for all this !!! :smile:

[2019-02-22 10:48] #2270 closed

[2019-02-22 10:50] #2237 closed

[2019-02-22 10:51] #2281 closed

[2019-02-22 11:18] teolemon opened #2286 "The environnement tab is not scrollable on some screens"
The environnement tab is not scrollable on some screens. Initially reported by @stephanegigandet

[2019-02-22 11:23] subhanjansaha commented on #2286
I want to work on this.

[2019-02-22 11:31] subhanjansaha opened #2287 "Crash on clicking on Offline Mode from Settings"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-22 11:32] subhanjansaha commented on #2287
I want to work on this.

[2019-02-22 11:33] teolemon commented on #2287
Ok. related as you saw is the one I opened yesterday:
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/2264

[2019-02-22 11:35] subhanjansaha commented on #2287
Right. I'll open a PR that would close both issues.

[2019-02-22 12:46] teolemon opened #2289 "Blank bottom card in some cases"
Blank bottom card in some cases. @stephanegigandet is experiencing this. It might be a first use issue, or a network issue.

[2019-02-22 12:47] prashantkh19 commented on #2289
I will look into it..

[2019-02-22 12:54] #2244 closed

[2019-02-22 12:55] #2263 closed

[2019-02-22 13:26] serpico commented on #2247
I don't know if it helps but when trying again I noticed photos were sent despite the crash

see https://fr.openfoodfacts.org/produit/3760133730058/10-oeufs-frais

[2019-02-22 13:28] prashantkh19 commented on #2289
@teolemon Which bottom card are you talking about?

[2019-02-22 14:00] #2219 closed

[2019-02-23 09:29] teolemon opened #2291 "Deduplicate the code used in the slideup view and the regular product view"
Deduplicate the code used in the slideup view and the regular product view.
This is 90+% the same code, and it's causing slipups when one is changed and not the other.

[2019-02-23 09:30] subhanjansaha commented on #2291
I want to work on this.

[2019-02-23 09:31] teolemon commented on #2289
The scan mode card, completely blank. Haven't found a pattern yet.
@stephanegigandet can you share a barcode ?
possibly different screen densities, or network issues ?

[2019-02-23 09:31] teolemon commented on #2289
a perhaps a failed query ?

[2019-02-23 09:41] prashantkh19 commented on #2234
@subhanjansaha are you still working on it?

[2019-02-23 09:43] subhanjansaha commented on #2234
Yes, I am. I'll open a PR very soon

[2019-02-23 09:45] prashantkh19 commented on #2289
yeah, sharing the barcode would be helpful to track the bug. I have tried with different products, didn't find this issue. I will go through the code once again, check if there is any unhandled exception.

[2019-02-23 10:37] #2264 closed

[2019-02-23 10:38] #2287 closed

[2019-02-23 10:39] #2266 closed

[2019-02-23 10:41] #2225 closed

[2019-02-23 10:46] #2262 closed

[2019-02-23 19:54] teolemon opened #2294 "Add the ability to reimport a List CSV export into the App"
Add the ability to reimport a List CSV export into the App
Loop for the barcode column, and re-add the items to a list.
A simple way to exchange a list between 2 people (for shopping)

[2019-02-23 20:04] #2273 closed

[2019-02-23 20:30] prashantkh19 commented on #2294
I would like to work on this

[2019-02-24 06:26] mustaqmustu opened #2296 "In languages ,some of the languages are misplaced."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-24 06:26] mustaqmustu commented on #2296
I want to work on this issue

[2019-02-24 12:42] stephanegigandet opened #2297 "Blank product card in some cases"
Maybe related to #2289. When I install the app (built from the current master), I scan a product, I get the overlay at the bottom with the product thumbnail, nutriscore and nova, and when I slide up, I get a completely blank screen. I can slide it down, but then the product camera is frozen, it's not scanning and it's not updating the view (I get one still frame). This bug is transient, after a wh

[2019-02-24 12:43] stephanegigandet commented on #2297
Log file: https://github.com/openfoodfacts/openfoodfacts-androidapp/files/2897890/blank_product_cad_log.txt

[2019-02-24 12:43] subhanjansaha commented on #2297
I want to work on this.

[2019-02-24 12:48] stephanegigandet commented on #2297
When I'm on the blank product screen, clicking on the "+" to add to a list and then canceling it makes the product data appear, here is the corresponding log:

2019-02-24 13:57:43.876 11023-11023/openfoodfacts.github.scrachx.openfood D/CameraPreview: pause()
2019-02-24 13:57:43.877 11023-11023/openfoodfacts.github.scrachx.openfood D/CameraInstance: Camera is closed, not requesting preview
2019-02-

[2019-02-24 17:21] #2274 closed

[2019-02-25 10:44] #2296 closed

[2019-02-25 11:52] mustaqmustu opened #2301 "when no products are for comparison,Add product button must be placed at center."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-25 13:03] #2301 closed

[2019-02-25 13:19] mustaqmustu opened #2304 "Add scroll view to the "your lists" category."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-25 13:23] mustaqmustu commented on #2304
I want to work on this

[2019-02-25 13:28] rohap97 opened #2305 "Small UI change"
**Summary:**

Text was appearing on left side of the screen on fragment-home, instead of being centered

**Steps to reproduce:**

Step 1. Build the offDebug variant
Step 2. Navigate to the Home screen

**Expected behavior:**

The text should have been centered.

**Observed behavior:**

Text was on the left side of the screen.

**Device and Android version:**

Device: Lenovo Vibe K5 Note
Android ve

[2019-02-25 13:28] rohap97 commented on #2305
Would you like to work on this issue? Yes!

[2019-02-25 19:59] rohap97 opened #2309 "Add Error message for empty Password in Sign-in Screen"
**Summary:**

With empty credentials, on clicking Sign in button, error message pops up only for Username and not for password.

**Steps to reproduce:**

Step 1. Navigate to Login Screen.
Step 2. Leave the credentials empty.
Step 3. Click the Sign In button.
Step 4. Observer the error

**Expected behavior:**

An error message should have popped up for password as well.

**Observed behavior:**

Err

[2019-02-25 19:59] rohap97 commented on #2309
I would like to work on this issue

[2019-02-25 22:42] teolemon opened #2311 "Crash on 3270160636839"
https://barcode.tec-it.com/en/EAN13?data=3270160636839
When called from history, for instance

2019-02-25 23:39:08.368 30248-30248/openfoodfacts.github.scrachx.openfood E/AndroidRuntime: FATAL EXCEPTION: main
    Process: openfoodfacts.github.scrachx.openfood, PID: 30248
    android.content.res.Resources$NotFoundException: Resource ID #0x0
        at android.content.res.ResourcesImpl.getValueForDe

[2019-02-26 02:03] subhanjansaha commented on #2311
I will look into it.

[2019-02-26 06:53] subhanjansaha commented on #2181
@teolemon This issue was resolved when #2190 was merged as the exception in both cases was thrown due to `null` nutriments but now we have a check for that.

[2019-02-26 10:17] #2311 closed

[2019-02-26 15:51] dhruveshk commented on #2294
i would also like to work on this

[2019-02-26 18:40] Karljoones commented on #2304
This is not a bug, the RecyclerView implements a Scrollview, so this scrolls by default.

https://developer.android.com/reference/android/support/v7/widget/RecyclerView

[2019-02-26 18:40] #2304 closed

[2019-02-26 18:41] #2305 closed

[2019-02-27 12:21] teolemon opened #2315 "Don't show the "Compute nutrition facts" button when there are no nutrition facts"
Don't show the "Compute nutrition facts" button when there are no nutrition facts
![image](https://user-images.githubusercontent.com/1689815/53489892-8c993d80-3a92-11e9-9ab5-3fe041e03d1c.png)

[2019-02-27 12:21] teolemon commented on #2315
Also, probably hide the nutrition table header

[2019-02-27 12:23] teolemon opened #2316 "Don't show the "Send Updated Ingredients Image" button when there's no initial image"
Don't show the "Send Updated Ingredients Image" button when there's no initial image
![image](https://user-images.githubusercontent.com/1689815/53489946-b488a100-3a92-11e9-95bf-d2198bf61e46.png)

[2019-02-27 12:24] teolemon opened #2317 "Add a little left and right margin to the Nutri-Score prompt"
Add a little left and right margin to the Nutri-Score prompt. Good example of the proper padding is in the Nutrition tab
![image](https://user-images.githubusercontent.com/1689815/53490031-ed287a80-3a92-11e9-805b-b876a799f438.png)

![image](https://user-images.githubusercontent.com/1689815/53490057-029da480-3a93-11e9-9de7-e0850cd30806.png)

[2019-02-27 12:35] teolemon opened #2318 "Add icons to the various buttons on the product page to make it more lively"
- Compare product: swap_horiz
![image](https://user-images.githubusercontent.com/1689815/53490288-adae5e00-3a93-11e9-9685-172d12b93fd6.png)
- Take more photos / Send updated photo
![image](https://user-images.githubusercontent.com/1689815/53490509-231a2e80-3a94-11e9-809a-01a1737fafb1.png)

[2019-02-27 13:25] teolemon commented on #2268
This is related to the homepage "Discover Open Beauty Facts" which is not cached in trunk.

[2019-02-27 13:25] #2105 closed

[2019-02-27 20:53] teolemon opened #2321 ""I'm eating this" should be removed -> replaced by "Add to list""
![image](https://user-images.githubusercontent.com/1689815/53522104-00ab0400-3ada-11e9-835d-33c1e6a441fe.png)
I expected the button to be on the summary tab in view mode, not edit mode.

[2019-02-27 21:09] teolemon opened #2322 "Add icons to buttons"
![image](https://user-images.githubusercontent.com/1689815/53523124-449f0880-3adc-11e9-90aa-345cd5e0166e.png)

[2019-02-27 21:17] teolemon opened #2323 "Make the buttons on the summary tab more harmonious"
![image](https://user-images.githubusercontent.com/1689815/53523493-3dc4c580-3add-11e9-806d-6c037c6e2029.png)
- same size
- icons (compare_arrows, add_circle, add_a_photo)
- padding (even if it means putting the text on 2 lines)

[2019-02-27 21:28] teolemon opened #2324 "Release checklist"
- [ ] Make sure all those issues have been fixed and closed: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues?q=is%3Aissue+is%3Aopen+label%3Arelease-blocking-issue
- [ ] Screenshots for new features
- [ ] Changelog
- [ ] Bugs
- [ ] Check migrations
- [ ] Check new features
- [ ] Check it works in all languages on display (check on a product with fr_FR and nl_BE)
- [ ] Check it work

[2019-02-28 04:33] mustaqmustu commented on #2318
I want to work on this issue

[2019-02-28 04:59] mustaqmustu commented on #2322
I want to work on this issue

[2019-02-28 08:00] teolemon commented on #2322
👍 you can go ahead @mustaqmustu

[2019-02-28 08:01] teolemon commented on #2318
ok to go ahead :-)

[2019-02-28 12:39] teolemon opened #2326 "Crash when clicking on additive from scan view"
1. https://barcode.tec-it.com/en/EAN13?data=5997523313111
2. Slide up
3. Click on E621 additive
4. BOOM

[code]

[2019-03-01 14:41] mustaqmustu opened #2327 "Add dividers to some of the preferences"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-03-01 17:29] #2291 closed

[2019-03-01 17:37] Karljoones commented on #2327
This is not part of any android design guidelines. I would recommend against adding dividers into this dialog.

[2019-03-02 10:52] teolemon opened #2330 "String only partially using placeholders"
```<string name="last_editor_history">Last edit of product page on %1$s at %2$s CEST by </string>```
in /main/res/values/strings.xml

There's a part of the sentence which isn't using placeholders.

[2019-03-02 10:53] teolemon commented on #2330
<string name="creator_history">Product added on %1$s at %2$s CET by</string>

[2019-03-02 17:16] teolemon commented on #2245
@jaindiv26 Any progress on this one ? This is one of the changes I'd really like to get into the next version.

[2019-03-02 17:47] teolemon opened #2333 "Blank card on the summary page"
![image](https://user-images.githubusercontent.com/1689815/53685487-82d63b00-3d1b-11e9-8126-93ec2fcdc079.png)
https://barcode.tec-it.com/en/EAN13?data=5601002097439

[2019-03-02 17:56] jaindiv26 commented on #2245
I'll submit it in the morning.

[2019-03-02 19:51] teolemon opened #2334 "Create a set of barcode scan tests"
http://www.tomgibara.com/android/camera-source
The idea would be to create a set of barcodes with problematic values, different states, and loop through them in the emulator.

[2019-03-02 19:52] teolemon opened #2335 "Create a test that attempts to open the app in all possible locales"
Create a test that attempts to open the app in all possible locales

[2019-03-03 06:37] mustaqmustu commented on #2327
@Karljoones So can I close it.

[2019-03-03 08:14] mustaqmustu opened #2337 "Increase the height of edit text in calculate calories layout."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-03-03 08:55] mustaqmustu opened #2338 "Update RX java2 dependencies"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-03-03 11:18] teolemon opened #2341 "Hide the 4 fields below Nutri-Score in edit mode (they are not editable yet)"
Hide the 4 fields below Nutri-Score in edit mode (they are not editable yet)
![image](https://user-images.githubusercontent.com/1689815/53694388-62a38c00-3dae-11e9-8e21-6c6674ff3650.png)

[2019-03-03 11:19] teolemon commented on #2184
https://stackoverflow.com/questions/8523631/remove-accents-from-string

[2019-03-03 13:01] teolemon opened #2342 "Disable this tooltip"
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/e7b08535da27ffa0a20774c390a05c4dc7a09f76/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java#L446
Disable this tooltip completely or make it translatable.

[2019-03-03 13:25] teolemon opened #2343 "Make this string translatable (Lists)"
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/60c0babd25cdda44d251a295cfdbb62d2f0ca95a/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductListsActivity.java#L66

[2019-03-03 15:05] teolemon opened #2345 "The new taxonomy loading system doesn't work for flavors"
The new taxonomy loading system doesn't work for flavors

[2019-03-03 15:25] teolemon commented on #2321
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductOverviewFragment.java#L789

[2019-03-03 15:26] teolemon commented on #2321
@balaji-ramavathu

[2019-03-03 15:40] balaji-ramavathu commented on #2321
Okay, I'll solve it :-)

[2019-03-03 15:44] teolemon commented on #2138
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/res/layout/fragment_add_product_overview.xml

  |   | app/src/main/res/layout/fragment_add_product_photos.xml
  |   | app/src/main/res/layout/fragment_add_product_overview.xml
  |   | app/src/main/res/layout/fragment_add_product_ingredients.xml
  |   | app/src/main/res/layout/fragment_add_product_nutrition_facts.xml

[2019-03-03 15:46] teolemon commented on #2321
![image](https://user-images.githubusercontent.com/1689815/53697647-d60bc480-3dd3-11e9-82a9-193c154fc466.png)
Position of the button (or at the bottom of the tab)

[2019-03-03 15:48] teolemon commented on #2330
@PrajwalM2212
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/ContributorsFragment.java

[2019-03-03 16:12] teolemon opened #2346 "Add (Required to compute the Nutri-Score) below the category field in edit mode"
Add (Required to compute the Nutri-Score) below the category field in edit mode.
This should be a gray hint, like the one below the quantity field)
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/res/layout/fragment_add_product_overview.xml

[2019-03-03 16:16] teolemon opened #2347 "Allow to go back to the main screen from compare mode"
![image](https://user-images.githubusercontent.com/1689815/53698047-005f8100-3dd8-11e9-900b-4463456174cd.png)

[2019-03-03 16:19] teolemon commented on #2347
Original PR to know where to look :
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2180

@subhanjansaha

[2019-03-03 16:26] teolemon opened #2348 "Make quick addition mode the default mode"
Make quick addition mode the default addition mode
Original PR:
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/2118

[2019-03-03 16:29] teolemon opened #2349 "Hide newly added fields from quick addition mode"
![image](https://user-images.githubusercontent.com/1689815/53698205-d1e2a580-3dd9-11e9-8bd6-7a8fdab1ff5c.png)
Everything until (and including categories) is relevant. The rest below should be hidden from quick addition mode

[2019-03-03 16:45] teolemon opened #2350 "Minimal reformat of the product addition"
![image](https://user-images.githubusercontent.com/1689815/53698366-09525180-3ddc-11e9-8241-769d033d8640.png)

[2019-03-03 18:45] teolemon commented on #2349
@raphael0202 related one

[2019-03-03 20:30] teolemon commented on #2348
solved by @raphael0202

[2019-03-03 20:30] #2348 closed

[2019-03-03 20:33] teolemon commented on #2345
introduced by this PR
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2122

[2019-03-03 20:35] teolemon commented on #2326
If you see how to solve it @raphael0202
It works in the ingredient tab, but not in the summary tab.
It's not quite the same code as the classic product browsing code

[2019-03-03 20:36] teolemon commented on #2315
@raphael0202 a small logic error

[2019-03-03 20:36] teolemon commented on #2316
@raphael0202 logic error

[2019-03-03 21:14] raphael0202 commented on #2349
Fixed in 8c939d5f9d4f3c34b2594eb490a6ceed39e71a14

[2019-03-03 21:31] raphael0202 commented on #2343
Fixed in f37c937dafb3043275236f9525a413f5db28acf6

[2019-03-03 23:13] #2349 closed

[2019-03-03 23:14] #2343 closed

[2019-03-04 10:12] teolemon opened #2355 "Exception for E306 - org.json.JSONException"
https://barcode.tec-it.com/en/EAN13?data=5997523313111
Nothing happens when clicking on E306 (https://www.wikidata.org/wiki/Q910277)
It seems to be because of a wikidata redirection: https://www.wikidata.org/wiki/Q13081782
We should at least display the modal without Wikidata information
[code]

[2019-03-04 10:22] teolemon opened #2356 "Impossible to edit product #1"
1. Search for "Pot au feu Golden Viginia" (without a r in Virginia)
2. Try to edit
3. BOOM
[code]

[2019-03-04 10:30] dobriseb commented on #2345
In fact LoadTaxonomiesService is only used by SplashPresenter.java, and this is after a test in line 37 : `if (BuildConfig.FLAVOR.equals("off")) {...`
Is there differents list of files to be load in OBF, OFF, OPF and OPFF ?
eg : OFF needs to load labels.json, tags.json, allergens.json, countries.json, additives.json, categories.json and soon ingredients.json.
Does OBF needs the same ?
Does this fi

[2019-03-04 10:52] teolemon opened #2357 "Extreme nutrition tables are not fully displayed"
![nutritiontable](https://user-images.githubusercontent.com/1689815/53728867-f723f200-3e73-11e9-8d86-90d007f965e0.png)
https://world.openfoodfacts.org/product/1/pot-au-feu-golden-viginia

[2019-03-04 11:08] teolemon commented on #2357
Currently the nutrient list is harcoded in https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/46a8fbb136d222729011c198bbeca500f0c37668/app/src/main/java/openfoodfacts/github/scrachx/openfood/models/Nutriments.java#L30

However, we have a Taxonomy of nutrients we can refresh.
https://static.openfoodfacts.org/data/taxonomies/nutrients.json

[2019-03-04 12:52] #2326 closed

[2019-03-04 13:48] #2327 closed

[2019-03-04 14:09] teolemon opened #2359 "Traces are not translated"
This is the same taxonomy as for the Allergen field (just above in the screenshot)

![image](https://user-images.githubusercontent.com/1689815/53738446-84287480-3e8f-11e9-893a-4c86237d1ea3.png)

[2019-03-04 14:50] dobriseb commented on #2345
Well, for what I've found :
OFF has labels.json, tags.json, allergens.json, countries.json, additives.json, categories.json and ingredients.json
OBF has labels.json, tags.json, countries.json, additives.json, categories.json and ingredients.json (same except allergens.json)
OPF only has tags.json and categories.json
OPFF only has tags.json and categories.json
Can someone confirm this ?

[2019-03-04 17:10] teolemon opened #2361 "Make all cards edge to edge in the Product view"
Make all cards edge to edge in the Product view

[2019-03-04 20:04] teolemon commented on #2069
I have fixed the CSV export for NOVA which wasn't exported correctly:
https://world.openfoodfacts.org/data/offline/en.openfoodfacts.org.products.small.csv.zip

[2019-03-04 20:43] teolemon commented on #2233
@jaindiv26 here's the additives classes taxonomy, which explains the roles of additives:
https://static.openfoodfacts.org/data/taxonomies/additives_classes.json

[2019-03-05 10:59] mustaqmustu commented on #2356
@teolemon can u please upload a screenshot of the product because i'm unable to find it

[2019-03-05 11:13] teolemon commented on #2356
![image](https://user-images.githubusercontent.com/1689815/53801670-0ff9d980-3f40-11e9-972b-de6433561755.png)
![image](https://user-images.githubusercontent.com/1689815/53801680-1425f700-3f40-11e9-989a-c02ace1f68bd.png)

[2019-03-05 14:35] teolemon opened #2364 "Complete fail on the product scanner"
https://youtu.be/MXmU786k6hs
1. Scan a product, expand and swipe left to ingredients
2. Reduce
3. Scan a 2nd product
4. Expand
5. Blank
6. Swipe to ingredients
7. Swipe back to summary
8. Previous product appears

[2019-03-05 15:28] teolemon commented on #2364
[code]

[2019-03-05 16:09] mustaqmustu opened #2365 "Floating action button of scan is overlapping with history in toolbar in product layout"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-03-06 16:27] dobriseb commented on #2345
Here is my proposition of correction coupled with ingredients.json import.

[2019-03-06 21:50] #2337 closed

[2019-03-07 14:46] #2365 closed

[2019-03-07 15:16] mustaqmustu opened #2368 "Add a fab button to product search which helps user to go to the first product after browsing many products"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-03-07 15:53] teolemon opened #2369 "Crash on Comparing Evian and other products"
1. Scan barcode
2. Scan https://barcode.tec-it.com/en/EAN13?data=5997523313111
3. Slide up and click compare
4. Scan https://barcode.tec-it.com/en/EAN13?data=3068320110783
5. BOOM

[2019-03-07 15:58] teolemon commented on #2369
[code]

[2019-03-07 19:55] teolemon commented on #2369
[code]

[2019-03-07 20:45] #2007 closed

[2019-03-07 20:45] #1921 closed

[2019-03-07 20:45] #1978 closed

[2019-03-08 01:32] verdy-p opened #2374 "Nutrition units incorrectly managed"
While entering nutrition info, it forces the input for 100g even if we indicate a portion. The conversion bet, even kilojoules and kilo calories are incorrect. Units in milligrammes for example vitamins are recorded but incorrectly displayed divided by 1000, as if they were in grams, but displayed still as milligrams...

The results is completely unreliable. Does not match the actual input.

Notat

[2019-03-08 13:04] #2338 closed

[2019-03-08 13:07] teolemon opened #2375 "Ensure the consistency check for the nutrition table are adapted to portion cases"
Ensure the consistency check for the nutrition table are adapted to portion cases

[2019-03-08 13:14] teolemon opened #2376 "Keep additives clickables + warnings in compare mode"
![image](https://user-images.githubusercontent.com/1689815/54030607-6cf9c780-41ac-11e9-93de-40550dccaf96.png)

[2019-03-08 13:29] mustaqmustu opened #2377 "Color of ADD Fab button in alert allergens fragment is looking overlapped with item number indicated as it is blue in colour."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-03-08 13:31] teolemon commented on #2369
Fixed by @philippeauriach

[2019-03-08 13:31] #2369 closed

[2019-03-08 13:32] teolemon commented on #2364
Fixed by @philippeauriach

[2019-03-08 13:32] #2364 closed

[2019-03-08 13:54] #2250 closed

[2019-03-08 14:23] teolemon commented on #2374
Thanks a lot @verdy-p
Are you using the regular version or the beta ?

[2019-03-08 16:18] verdy-p commented on #2374
The regular Android App; this is not the beta.

Le ven. 8 mars 2019 à 15:24, Pierre Slamich <notifications@github.com> a
écrit :

[2019-03-09 13:05] mustaqmustu opened #2383 "Add a toast message when user clicks on "delete local search history""
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-03-09 14:55] #2323 closed

[2019-03-09 15:52] #2265 closed

[2019-03-09 15:55] #2377 closed

[2019-03-09 22:30] teolemon opened #2385 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.product.ingredients.IngredientsProductFragment.a (IngredientsProductFragment.java:79)"
java.lang.RuntimeException:
  at android.app.ActivityThread.performLaunchActivity (ActivityThread.java:2951)
  at android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:3086)
  at android.app.servertransaction.LaunchActivityItem.execute (LaunchActivityItem.java:78)
  at android.app.servertransaction.TransactionExecutor.executeCallbacks (TransactionExecutor.java:108)
  at android.app.

[2019-03-09 22:32] teolemon opened #2386 "java.lang.IllegalStateException at openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity"
[code]

[2019-03-10 16:06] teolemon opened #2388 "<string name="nutrition_image_prompt_text">call-to-action.nutrition</string>"
<string name="nutrition_image_prompt_text">call-to-action.nutrition</string>
Not sure there should be strings like these in the translation files

[2019-03-10 17:41] teolemon opened #2391 "This should be translatable"
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/fa54c4b2a6f69ae2590387f2b02a63e73d07b5f3/app/src/main/res/layout/fragment_summary_product.xml#L232

[2019-03-10 19:44] teolemon opened #2395 "Add a bottom bar to the scanner"
Add a bottom bar to the scanner, like we did on iOS

![image](https://user-images.githubusercontent.com/1689815/54090514-3de28200-4375-11e9-9d5c-a31d07f5359d.png)

[2019-03-10 19:47] teolemon commented on #2395
- Lists should propose to add the current product to a list (with an option to go to the list section), otherwise go directly to the list section
- Compare should go to compare mode with the current product, otherwise go to compare mode empty
- History should go to History
- Home should go to Home

[2019-03-10 19:49] teolemon opened #2396 "Add bottom bar to the History"
![image](https://user-images.githubusercontent.com/1689815/54090583-fdcfcf00-4375-11e9-9593-f8945e7c7eb4.png)

[2019-03-10 19:50] teolemon opened #2397 "Add bottom bar to the Allergen alert"
![image](https://user-images.githubusercontent.com/1689815/54090599-29eb5000-4376-11e9-840d-c998b7d5041c.png)

[2019-03-10 20:25] teolemon opened #2398 "Reenable Wifi Service the right way"
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/1583
WifiUploadReceiver.java, line 39

[2019-03-11 11:08] mustaqmustu commented on #2397
I want to work on this

[2019-03-11 12:02] teolemon commented on #2397
@jaindiv26 is already working on a bottom bar for home. Can you wait so that the implementation can be coherent ?

[2019-03-11 12:02] teolemon commented on #2395
@jaindiv26 is already working on a bottom bar for home. Can you wait so that the implementation can be coherent ?

[2019-03-11 12:02] teolemon commented on #2396
@jaindiv26 is already working on a bottom bar for home. Can you wait so that the implementation can be coherent ?

[2019-03-11 12:03] teolemon opened #2400 "Add a "Send update nutrition photo" button below nutrition image"
Add a "Send update nutrition photo" button below nutrition image

[2019-03-11 12:04] mustaqmustu commented on #2397
@teolemon Sure :)

[2019-03-11 12:07] mustaqmustu commented on #2400
@teolemon If possible,can u keep a screenshot of the page where should we add the button

[2019-03-11 12:09] teolemon commented on #2400
![image](https://user-images.githubusercontent.com/1689815/54122984-d5d87e00-43fe-11e9-9e4e-75ada13d7ed3.png)

[2019-03-11 12:12] mustaqmustu commented on #2400
can in work on this?

[2019-03-11 12:28] teolemon commented on #2400
Yes. Same model as the button in the ingredient list tab.

[2019-03-11 22:13] #2383 closed

[2019-03-12 10:24] teolemon opened #2403 "Use TextInputLayout in all fields of the edit form"
https://developer.android.com/reference/android/support/design/widget/TextInputLayout

[2019-03-12 13:31] mustaqmustu opened #2406 "Add a toast message when user successfully changes units and resolution of images in preferences."
**Summary:**
Add a toast message when user successfully changes units and resolution of images in preferences.

[2019-03-12 13:37] mustaqmustu commented on #2406
I want to work on this

[2019-03-12 13:39] teolemon opened #2407 "Hide the placeholders in the product scan card"
![image](https://user-images.githubusercontent.com/1689815/54204455-8e242600-44d4-11e9-800c-3fabfd50975c.png)

[2019-03-12 13:39] teolemon commented on #2407
Unknown quantity, Unknown brand…

[2019-03-12 13:40] teolemon opened #2408 "Clipping problem in the "Add category to compute the Nutri-Score" button"
![image](https://user-images.githubusercontent.com/1689815/54204571-c1ff4b80-44d4-11e9-996b-7644f5b0e5f6.png)
Clipping problem in the "Add category to compute the Nutri-Score" button. The whole text should appear.

[2019-03-12 13:42] teolemon opened #2409 "Hide the little Barcode icon next to the barcode"
Hide the little Barcode icon next to the barcode
![image](https://user-images.githubusercontent.com/1689815/54204685-fe32ac00-44d4-11e9-8411-59dc128daf71.png)

[2019-03-12 13:44] teolemon opened #2410 "Put more emphasis on the Scores"
![image](https://user-images.githubusercontent.com/1689815/54204775-418d1a80-44d5-11e9-9400-1369980351eb.png)
Put more emphasis on the Scores, less on products details (brands and quantity)

[2019-03-12 13:45] teolemon commented on #2410
![image](https://user-images.githubusercontent.com/1689815/54204908-86b14c80-44d5-11e9-890e-8128f0f25bed.png)

[2019-03-12 14:10] stephanegigandet commented on #2410
Let's make the logos even bigger: the brand and quantity is useless, the real value is the Nutri-Score, NOVA and CO2.

![app-big-nutriscore](https://user-images.githubusercontent.com/8158668/54206468-a5fda900-44d8-11e9-97f2-5902f010a525.png)

What is the meaning / use of the button in the blue circle? It's not clear to me.

[2019-03-12 17:35] RAMAR-RAR opened #2413 "CATEGORY ERRORS"
Why there are normal food in PET FOOD app when i go to see in the category area?

[2019-03-12 17:46] RAMAR-RAR opened #2414 "TOO DIFFERENT CATEGORY"
There are too category in the app, that can be changed with pre-compilated category list.
Ex.
Product: iPhone 8
Pre-compilated list (where can choose category): Electronic

[2019-03-13 17:03] mustaqmustu commented on #2400
@tolemon can u allow me to work on this for some more time as I having some issues with my git branch.I have already completed the code work related to it.I will make PR as soon as I solve those git issues.

[2019-03-13 18:00] teolemon commented on #2400
👍

[2019-03-13 18:32] #2391 closed

[2019-03-13 19:02] #2406 closed

[2019-03-13 20:10] #2341 closed

[2019-03-13 22:47] teolemon opened #2420 "The promo is taking the user to a really long page outside the app"
The promo is taking the user to a really long page outside the app.
We have several possible approaches to this.

- Include a chunk of HTML in the promo JSON, and cache it locally (with an invalidation mechanism), and show it natively, even when offline
- Craft a custom more minimalistic HTML page

[2019-03-13 22:49] teolemon opened #2421 "Issue with translation export on Crowdin"
![image](https://user-images.githubusercontent.com/1689815/54319643-8f477700-45ea-11e9-9b5b-d2679c7f67e3.png)
The fix I did hasn't been exported properly it seems.

[2019-03-13 22:51] teolemon opened #2422 "Add a large, edge to edge scan a product button ?"
@stephanegigandet wants a large, edge to edge `scan a product` button.

We're adding a bottom bar with a scan button as well. How can the 2 live together on the home screen ?

[2019-03-13 22:54] teolemon opened #2423 "Make the button blue with white text, and rounded edges."
Make the button blue with white text, and rounded edges.
The idea is to make them more beautiful than the current grey buttons

[2019-03-13 22:56] teolemon opened #2424 "The product page appears half-scrolled on some screen densities"
The product page appears half-scrolled on some screen densities. Reproducable on a Galaxy S8 with Android 8.0. Ping @stephanegigandet for more details.

![image](https://user-images.githubusercontent.com/1689815/54319893-7c817200-45eb-11e9-82a1-38f84732ccb7.png)

[2019-03-13 22:57] teolemon opened #2425 "Shadows and spacing not coherent between cards on the summary tab"
Shadows and spacing not coherent between cards on the summary tab

![image](https://user-images.githubusercontent.com/1689815/54319958-bd798680-45eb-11e9-9686-cf881ac607c8.png)

[2019-03-13 23:00] teolemon opened #2426 "Hide `Stores` and `Countries where sold` by default in the summary tab"
Hide `Stores` and `Countries where sold` by default in the summary tab.
Those fields currently bring little to no value to 95% of users. Hide them by default behind a "Show advanced information" settings.

[2019-03-13 23:01] teolemon opened #2427 "Make it possible to remove a product from the comparison"
Make it possible to remove a product from the comparison. Introduce a little cross to remove it. Or perhaps a swipe gesture, or both.

[2019-03-14 05:02] #2254 closed

[2019-03-14 08:36] stephanegigandet commented on #2422
With the same icon for the 2 buttons, the large one with the text makes it clear what it is "scan a product" and what the main use of the app is. I don't think it's a problem to have 2 buttons for scanning on the home screen.

[2019-03-14 16:34] teolemon opened #2428 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment.areRequiredFieldsEmpty"
[code]

[2019-03-15 09:59] deniger commented on #2252
While testing this I had this exception ( if I press on < in the text field):

03-15 10:54:44.803 8824-8824/openfoodfacts.github.scrachx.openfood E/MessageQueue-JNI: java.lang.NumberFormatException: For input string: "40<"
        at sun.misc.FloatingDecimal.readJavaFormatString(FloatingDecimal.java:2043)
        at sun.misc.FloatingDecimal.parseFloat(FloatingDecimal.java:122)
        at java.lang

[2019-03-15 14:43] teolemon opened #2431 "Nutriscore is wrong on the product to be completed"
It doesn't show a Nutriscore, while the product has a Nutri-Score actually
![image](https://user-images.githubusercontent.com/1689815/54439352-e78c8f00-4738-11e9-879d-e7c56f63f446.png)
![image](https://user-images.githubusercontent.com/1689815/54439394-ff641300-4738-11e9-954d-94c6ed2739ae.png)

[2019-03-15 22:26] teolemon opened #2434 "Make the Flash toggle accessible"
![image](https://user-images.githubusercontent.com/1689815/54465087-b54f5180-4779-11e9-988d-43412364dea3.png)

[2019-03-15 22:28] teolemon commented on #2434
![image](https://user-images.githubusercontent.com/1689815/54465165-0c552680-477a-11e9-991c-67d751637521.png)

[2019-03-15 22:29] teolemon commented on #2434
![image](https://user-images.githubusercontent.com/1689815/54465185-25f66e00-477a-11e9-842b-923df308237a.png)

[2019-03-15 22:30] teolemon commented on #2434
![image](https://user-images.githubusercontent.com/1689815/54465206-46262d00-477a-11e9-92c0-f02d144fae49.png)

[2019-03-16 17:27] teolemon opened #2436 "Display the number of additives in the scan card"
Display the number of additives in the scan card (The call needs to be modified slightly)
https://world.openfoodfacts.org/api/v0/product/3168930007562.json?fields=additives_n

[2019-03-18 13:06] deniger commented on #2403
I can work on it as soon as the pull request 2252 can be accepted / merged ( to avoid too many merge issue).
Could we split this issue in 2: one for Nutritions Fact and one for Overview ?

[2019-03-18 13:09] deniger opened #2438 "Fix unit tests"
**Summary:**
 4 unit tests fail:

openfoodfacts.github.scrachx.openfood.models.AdditiveNameTest
openfoodfacts.github.scrachx.openfood.models.AdditiveResponseTest
openfoodfacts.github.scrachx.openfood.models.AdditivesWrapperTest
openfoodfacts.github.scrachx.openfood.models.ProductTest fail

[2019-03-18 13:27] raphael0202 opened #2440 "java.lang.NullPointerException: Attempt to invoke virtual method 'java.io.Serializable android.os.Bundle.getSerializable(java.lang.String)' on a null object reference"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.

**Summary:**
This stacktrace appears in the log when viewing the nutrition tab of the product 3401542119460.

[code]

[2019-03-18 13:52] deniger commented on #2138
Is it the same point than #2403 ?

[2019-03-18 13:56] deniger commented on #2440
Should be fixed with the PR https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2437

[2019-03-18 17:59] teolemon commented on #2138
Yes. I tend to double file bugs :-)

[2019-03-18 18:07] teolemon opened #2442 "Disable notification of taxonomy download"
Disable notification of taxonomy download.
I disabled the one on success. People are complaining about the one shown during the download. Is it possible to not show it ?

[2019-03-18 22:30] teolemon opened #2443 "In expanded scan mode, infinite refresh loop"
1. Scan a product and expand
2. Drag down to refresh
3. Endless loop

![image](https://user-images.githubusercontent.com/1689815/54567913-bed4f580-49d5-11e9-80b7-c2534cb4634f.png)

[2019-03-19 00:19] teolemon commented on #2442
![](https://i.imgur.com/sOO91bN.png)

[2019-03-19 00:19] teolemon commented on #2442
It has been stuck like this for hours

[2019-03-19 08:34] #2408 closed

[2019-03-19 08:35] #2252 closed

[2019-03-19 08:35] #2438 closed

[2019-03-19 08:44] stephanegigandet commented on #2442
I guess you can just remove all of this in LoadTaxonomiesService.java :

[code]

[2019-03-19 10:50] teolemon opened #2444 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.MainActivity.detectBarCodeInImage"
[code]
![image](https://user-images.githubusercontent.com/1689815/54600456-1f4b4d80-4a3d-11e9-9efd-8a13e6004cf7.png)

[2019-03-19 11:05] teolemon opened #2445 "java.lang.IllegalStateException at openfoodfacts.github.scrachx.openfood.views.customtabs.CustomTabActivityHelper.a"
[code]

[2019-03-19 11:06] teolemon commented on #2444
![image](https://user-images.githubusercontent.com/1689815/54601493-6c302380-4a3f-11e9-9c10-3b12b0773422.png)

[2019-03-19 11:06] teolemon commented on #2445
![image](https://user-images.githubusercontent.com/1689815/54601506-75b98b80-4a3f-11e9-9279-b568feff634c.png)

[2019-03-19 11:08] teolemon opened #2446 "Server issue seems to be causing NPEs"
![image](https://user-images.githubusercontent.com/1689815/54601571-a13c7600-4a3f-11e9-9253-0939e8183c52.png)
![image](https://user-images.githubusercontent.com/1689815/54601594-b1ecec00-4a3f-11e9-986a-cf20e90b8c59.png)

[2019-03-19 11:10] teolemon opened #2447 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.fragments.AddProductIngredientsFragment"
[code]

[2019-03-19 12:00] teolemon commented on #2255
https://user-images.githubusercontent.com/1689815/54564828-14f16b00-49cd-11e9-8eb2-3d0379c12b0e.png

[2019-03-19 12:00] teolemon commented on #2255
@raphael0202 @jaindiv26

[2019-03-19 12:01] teolemon opened #2448 "Reformat ingredient tab"
![54567283-8af8d080-49d3-11e9-9639-0cd0d2dcc967](https://user-images.githubusercontent.com/1689815/54604480-1a8b9700-4a47-11e9-8171-7c32ed67f7cc.png)

[2019-03-19 12:02] teolemon opened #2449 "Reformat Nutrition tab"
![54566761-1709f880-49d2-11e9-9fca-c614857bb013](https://user-images.githubusercontent.com/1689815/54604537-44dd5480-4a47-11e9-9bc8-6ad6488113ac.png)

[2019-03-19 15:33] #2317 closed

[2019-03-19 17:15] dobriseb commented on #2447
Can you and how to reproduce this ?

[2019-03-20 12:41] teolemon commented on #2297
Fixed by @philippeauriach

[2019-03-20 12:41] #2297 closed

[2019-03-20 20:28] teolemon opened #2451 "Test that translations of strings that contain Open Food Facts also contain Open Food Facts"
Test that translations of strings that contain Open Food Facts also contain Open Food Facts

[2019-03-20 20:28] teolemon opened #2452 "Test that translations of strings that contain a placeholder also contain a placeholder"
Test that translations of strings that contain a placeholder also contain a placeholder

[2019-03-20 20:29] teolemon commented on #2451
Same for Open Beauty Facts, Open Pet Food Facts, Open Products Facts

[2019-03-20 20:30] teolemon commented on #2452
Check it it common and openfoodfacts string files

[2019-03-21 15:31] deniger opened #2454 "Nutrient using % DV as unit are not displayed correctly"
To check it, open the product "1" ( Golden Virgina). The zinc value is not correctly displayed.
The correct value shoud be 444 %DV
The issue:
the api give values in gram but the application doesn't take it in account.

[2019-03-22 12:01] deniger commented on #2241
Shall we add a "Preferred unit for mass".
A section is just as "General" in the preferences ( a red title :) ) ?

[2019-03-22 14:39] teolemon commented on #2003
@deniger

[2019-03-22 15:54] #2426 closed

[2019-03-23 09:36] #163 closed

[2019-03-23 20:36] #2403 closed

[2019-03-23 22:04] #2309 closed

[2019-03-24 15:26] teolemon opened #2458 "Show both NOVA and Nutri-Score in the various product lists"
Show both NOVA and Nutri-Score in the various product lists, with the official logos instead of the rounded version we currently show for the Nutri-Score.
This will harmonize the display with the iPhone version that currently has the behaviour, and will be useful for people who care about food processing.

![image](https://user-images.githubusercontent.com/1689815/54881571-9889dc80-4e51-11e9-8475-

[2019-03-24 15:28] teolemon opened #2459 "Reformat search results"
![image](https://user-images.githubusercontent.com/1689815/54881595-ce2ec580-4e51-11e9-8a59-68dc5de668b9.png)

[2019-03-24 19:31] #2255 closed

[2019-03-24 21:04] teolemon opened #2464 "Add an onboarding tooltip on 1st scan"
![image](https://user-images.githubusercontent.com/1689815/54885828-b91d5b00-4e80-11e9-89e6-7585609b255a.png)

[2019-03-25 08:58] raphael0202 commented on #2409
Closed, no barcode anymore

[2019-03-25 08:58] #2409 closed

[2019-03-25 15:53] teolemon opened #2468 "Dagger crash at startup"
[code]

[2019-03-25 16:21] teolemon opened #2470 "Honor multilingual products in history"
Ensure the product appear if possible in the current UX language in the product history

[2019-03-25 16:22] teolemon opened #2471 "Honor multilingual products in search results"
Honor multilingual products in search results
Make products appear in the current UX language if a local product name is available

[2019-03-25 16:22] teolemon opened #2472 "Honor multilingual products in product lists pages"
Honor multilingual products in product lists pages

[2019-03-25 21:57] teolemon opened #2474 "Use the HTML fallback for the nutrition table, and make the native optional until we fix it."
Use the HTML fallback for the nutrition table, and make the native optional until we fix it. Bind it the same way as the environnement card

https://fr.openfoodfacts.org/api/v0/product/1.json?fields=nutrition_table_html
https://us.openfoodfacts.org/api/v0/product/1.json?fields=nutrition_table_html
https://ca-fr.openfoodfacts.org/api/v0/product/1.json?fields=nutrition_table_html
https://ca-en.openf

[2019-03-26 08:29] #2374 closed

[2019-03-26 09:46] deniger commented on #2232
I tried to investigate this bug but can't "reproduce" it easily. How could we test it ?

[2019-03-26 10:03] teolemon commented on #2356
Fixed by @deniger :-)

[2019-03-26 10:03] #2356 closed

[2019-03-26 11:24] #2468 closed

[2019-03-26 11:48] serpico opened #2477 "Change French strings during export of list"
**Summary:**

When exporting a list two messages appears successively
 - "Exporter vos produits..." consider changing to "Exportation de vos produits..."
 - "Vos produits ont été délivrés" consider changing to "Vos produits ont été exportés"

**Steps to reproduce:**

Export any list to see the messages

**Device and Android version:**
Samsung SM-G361F
Android 5.1.1
Beta from google play updated to

[2019-03-26 12:05] serpico opened #2478 "[feature request] Consider adding a scan button to the list view"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-03-26 12:13] serpico opened #2479 "Tap on export list notification has no effect"
**Summary:**

Tapping on the notification displayed after export doesn't show the exported file, the user need to use the file explorer to locate the file.

The notification won't go away either...

**Steps to reproduce:**

Export any list then, tap on the notification

**Expected behavior:**

- Tap on the notification display the exported file on the file explorer
- After tap, the notification is

[2019-03-26 13:56] karimfares1131 opened #2480 "the scanner does not scan properly when I use the APK on windows"
when I am using the apk on bluestacks for windows, although the application is working fine, when I scan the barcode using the webcam nothing happens.

[2019-03-27 15:37] teolemon opened #2483 "We display categories in French when the app is in Portuguese"
![image](https://user-images.githubusercontent.com/1689815/55089916-8062c900-50ae-11e9-9c6e-82639fca572d.png)

It doesn't seem to be a server side issue, since we have the translation:
https://pt.openfoodfacts.org/aditivo/e300-acido-ascorbico

[2019-03-27 16:21] teolemon opened #2484 "No summary prompt to add nutrition facts when they are missing"
![image](https://user-images.githubusercontent.com/1689815/55093392-9e332c80-50b4-11e9-9f67-d5f60d12f7a2.png)
![image](https://user-images.githubusercontent.com/1689815/55093436-a7bc9480-50b4-11e9-92d8-44deb9e9a8b8.png)

[2019-03-27 18:26] teolemon opened #2485 "Show "Add more photos" in product addition simple mode"
Show "Add more photos" in product addition simple mode.
@offvince is pissed off it disappeared :-)

[2019-03-27 18:37] #2234 closed

[2019-03-27 20:04] tomdaly commented on #2444
Hi, I think I may have a fix for this bug. Do you have any more info about the error report, and do you know if that error was printed due to an `e.printStackTrace()` or if it was printed because of an uncaught exception? Thanks

[2019-03-27 21:26] teolemon opened #2488 "The link to rate the app is broken"
![image](https://user-images.githubusercontent.com/1689815/55113402-67264080-50df-11e9-99bf-eade5247113d.png)

[2019-03-28 00:12] teolemon commented on #2444
No idea, the issue is probably related to the share intent "Share image to openfoodfacts" that lets you share pictures including pictures with barcodes to openfoodfacts

[2019-03-28 07:42] #2484 closed

[2019-03-28 10:06] deniger commented on #2483
I tried with Sumol Maracujá and it seems ok:
![image](https://user-images.githubusercontent.com/47569605/55148633-dedc8580-5148-11e9-8e3e-c07c427db46f.png)
The additives are loaded when you change the language in the preferences and a bug could be that the portugese file can't be loaded.
In the log file, did you have an error like ""Unable to import additives from ..." ?

[2019-03-28 10:13] deniger commented on #1933
Should be fixed by https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2476

[2019-03-28 10:26] teolemon commented on #2483
I think the app needs restarting for some of the fields.

[2019-03-28 10:26] teolemon commented on #2483
Plus some of the features are checking system locale instead of app locale `Locale.getDefault().getLanguage()`

[2019-03-28 13:53] deniger opened #2493 "Clean method MainActivity#detectBarCodeInImage"
- inputStream is opened but not closed. Suggestion, use the auto-close approach:
` try(InputStream imageStream=getContentResolver().openInputStream(uri)){....`

- Replace ` e.printStackTrace();` by Log.w(....,e)

[2019-03-28 15:48] deniger commented on #2375
@teolemon  should be ok now no ?

[2019-03-28 16:04] #2454 closed

[2019-03-28 16:04] deniger commented on #2454
Fixed by #2455

[2019-03-28 16:06] #2440 closed

[2019-03-28 16:06] deniger commented on #2440
See PR #2437

[2019-03-28 16:17] deniger commented on #2138
Closed with #2403

[2019-03-28 16:17] #2138 closed

[2019-03-28 16:18] deniger commented on #2121
Fixed with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2455

[2019-03-28 16:18] #2121 closed

[2019-03-28 16:19] deniger commented on #2003
Fixed with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2455

[2019-03-28 16:19] #2003 closed

[2019-03-28 16:20] deniger commented on #1884
@teolemon  should be fixed with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2494

[2019-03-28 17:14] deniger commented on #2483
In fact, we should never use `Locale.getDefault().getLanguage()`?

[2019-03-28 17:18] deniger commented on #2156
Will be fixed with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2494

[2019-03-28 17:42] #1933 closed

[2019-03-28 19:02] tomdaly commented on #2493
Thought I'd fix this while as I was already working on #2444, PR incoming

[2019-03-29 07:53] #2444 closed

[2019-03-29 08:00] #2493 closed

[2019-03-29 10:46] teolemon opened #2499 ""Go to full product page" should be translatable"
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/941331f8da5eab75ecbb60c7ac2daf32d4ed6145/app/src/main/res/layout/product_comparison_list_item.xml#L239

[2019-03-29 10:48] teolemon commented on #2499
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/941331f8da5eab75ecbb60c7ac2daf32d4ed6145/app/src/main/res/layout/product_comparison_list_item.xml#L227

[2019-03-29 10:48] teolemon commented on #2499
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/941331f8da5eab75ecbb60c7ac2daf32d4ed6145/app/src/main/res/layout/product_comparison_list_item.xml#L181

[2019-03-29 10:58] #2488 closed

[2019-03-29 11:54] #1868 closed

[2019-03-29 11:54] #2156 closed

[2019-03-29 11:54] #1884 closed

[2019-03-29 21:24] #2321 closed

[2019-03-30 09:20] teolemon commented on #2499
Fixed in #2499

[2019-03-30 09:20] #2499 closed

[2019-03-30 13:25] karimfares1131 opened #2501 "The strings are sometimes displayed with missing characters"
![tas1](https://user-images.githubusercontent.com/34647711/55276761-9a431c80-52f7-11e9-9b98-3520936cfd69.png)

[2019-03-30 13:37] karimfares1131 opened #2502 "It would be good to add a feature to import images not only taking photos."
![tas2](https://user-images.githubusercontent.com/34647711/55276874-4df8dc00-52f9-11e9-88d9-b78d394bd15d.png)

[2019-03-30 15:06] teolemon commented on #2501
Do you have a bit more context ?
- Android version
- App version (does it still happen in master ? F-Droid or Play Store)
- Custom theme ?
- device language ? Open Food Facts language ?

[2019-03-30 15:07] teolemon commented on #2502
You can share images from your photoroll to Open Food Facts by using "Share to Open Food Facts"

[2019-03-30 16:26] teolemon commented on #2480
Bluestack is a specific emulator. Does the camera otherwise work for you ?
Can you get a trace ?

[2019-03-30 18:51] karimfares1131 commented on #2480
![image](https://user-images.githubusercontent.com/34647711/55280371-1b64d880-5325-11e9-91b2-d46e1235c8f6.png)

[2019-03-30 18:52] karimfares1131 commented on #2480
the camera works but it does not detect the barcode.

[2019-03-30 19:09] karimfares1131 commented on #2502
It is about sharing images in general I am just proposing to add shortcut.
example of Issue: when I was adding a new product to the database I didn't have a good camera, but I had good photos on my machine and did not have the opportunity to use them directly.

[2019-03-31 11:44] stephanegigandet commented on #2502
On your machine? Not a phone you mean? With a computer, you can upload images more easily using the web site : https://world.openfoodfacts.org

[2019-03-31 21:54] raphael0202 opened #2504 "App crashes when going to "Product Image" tab"
- Scan this product: https://barcode.tec-it.com/en/EAN13?data=2115834795652
- Go to "Product Images" tab
- The app crashes

[code]

[2019-03-31 22:03] karimfares1131 commented on #2502
Actually, I am using the APK on an emulator "bluestacks"!

[2019-04-01 07:16] teolemon opened #2505 "Invalid icon on Android Q"
![image](https://user-images.githubusercontent.com/1689815/55309676-cdec8680-545e-11e9-9589-a17bd6d1c776.png)
We seem to be implementing the icon thing in a wrong way

[2019-04-01 07:18] teolemon opened #2506 "The editing mode is opened twice (and has to be closed twice)"
The editing mode is opened twice (and has to be closed twice) in the latest master.

[2019-04-01 08:40] deniger commented on #2483
@teolemon will do a global find and replace (manual) Locale.getDefault().getLanguage() should be replaced by the language set in appli preferences. Ok ?

[2019-04-01 10:14] deniger commented on #2359
trace were not translated...
![image](https://user-images.githubusercontent.com/47569605/55320552-9c33e980-5477-11e9-9c4d-263eec43cdb3.png)

[2019-04-01 14:08] deniger commented on #1996
Could be marked as fixed

[2019-04-01 14:13] deniger commented on #2289
is it fixed with https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/2297 ?

[2019-04-01 14:24] teolemon commented on #2289
yes it is @deniger , thanks :-)

[2019-04-01 14:24] #2289 closed

[2019-04-01 14:25] #1996 closed

[2019-04-01 14:37] deniger commented on #2057
Should be fixed with #2124 by @subhanjansaha
![image](https://user-images.githubusercontent.com/47569605/55335985-7705a200-549c-11e9-87fd-7c6fc9b2f7b3.png)

[2019-04-01 14:41] teolemon commented on #2057
@deniger Still an issue where No Nutriscore appears while one exists.
![image](https://user-images.githubusercontent.com/1689815/55336254-eda29f80-549c-11e9-8e34-99f42fb73264.png)
![image](https://user-images.githubusercontent.com/1689815/55336262-f1cebd00-549c-11e9-8b3d-4c98ed444487.png)

[2019-04-02 12:06] deniger commented on #1973
issue for app/src/obf/res/values-iw/strings.xml
![image](https://user-images.githubusercontent.com/47569605/55401272-86debe00-5550-11e9-8f42-a06735774d86.png)
We should find %1$d

[2019-04-02 12:16] mustaqmustu opened #2512 "Don't allow user to create multiple product lists with same name"
**Summary:**
Don't allow user to create multiple product lists with same name

**Screenshots:**
![ezgif com-video-to-gif(10)](https://user-images.githubusercontent.com/43813438/55401714-3c206e80-556f-11e9-91d5-fb68ae07c3b3.gif)

[2019-04-02 12:36] deniger commented on #1965
How could we reproduce it ?

[2019-04-02 12:53] deniger commented on #2187
New crash ( linked to the question feature I guess):
`W/System.err: java.lang.NullPointerException: The mapper function returned a null value.
        at io.reactivex.internal.functions.ObjectHelper.requireNonNull(ObjectHelper.java:39)
        at io.reactivex.internal.operators.single.SingleMap$MapSingleObserver.onSuccess(SingleMap.java:57)
        at io.reactivex.internal.operators.single.SingleM

[2019-04-02 13:16] teolemon commented on #2187
@raphael0202

[2019-04-02 13:18] #2447 closed

[2019-04-02 13:19] deniger commented on #2187
@raphael0202  please have a look to https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2514 that should fix this issue + the issue related to question

[2019-04-02 13:23] deniger commented on #1966
Could be closed or it's reproductible ?

[2019-04-02 13:51] raphael0202 commented on #2187
@deniger @teolemon It's not causing a crash on my device, it's only a warning that a null value was returned, which breaks the observable flow, which was the expected behaviour. There must be more elegant way to do that.

[2019-04-02 14:01] deniger commented on #2187
In the PR I use an empty question to avoid this.
The issue comes from io.reactivex.Single#map that throw a nullPointerException. Maybe it's catched somewhere else but didn't see it...
![image](https://user-images.githubusercontent.com/47569605/55408571-8ea65e80-5560-11e9-9f6f-37bd76ff6466.png)

[2019-04-02 14:33] #2504 closed

[2019-04-03 11:05] mustaqmustu commented on #2458
@teolemon nutri score should be added in product search results or my lists?

[2019-04-03 11:32] deniger commented on #2458
I have made a PR to refactor the way the nutriscore image is obtained.
It will be better for me if the PR is validated before this issue ;)
@teolemon your want to replace the small image (only the letter) by the big one?

[2019-04-04 04:11] #2442 closed

[2019-04-04 04:15] #2355 closed

[2019-04-04 04:19] #2347 closed

[2019-04-05 07:44] deniger opened #2520 "Review the field Utils#DISABLE_IMAGE_LOAD and add a isLowBatteryMode method"
This static field should be removed and replaced by a local by view using it.

This code has to be removed because it changes a static variable:
[code]

Proposition:
Add 2 methods `isLowBatteryMode` in `BaseActivity`:

1. a static one with a context paramater
2. a instance one calling the first one.

Then remove Utils.DISABLE_IMAGE_LOAD and replace code by isLowBatteryMode

[2019-04-05 14:45] #1860 closed

[2019-04-07 10:48] #1973 closed

[2019-04-07 11:49] #2057 closed

[2019-04-07 14:16] teolemon opened #2524 "Misplaced icons in some circonstances"
![image](https://user-images.githubusercontent.com/1689815/55684860-719ed080-5950-11e9-80c0-86db8f73fec0.png)

[2019-04-07 14:16] teolemon commented on #2524
![image](https://user-images.githubusercontent.com/1689815/55684867-8e3b0880-5950-11e9-949c-914fdaef4e6b.png)

[2019-04-07 14:17] teolemon opened #2525 "Bad clipping for questions"
![image](https://user-images.githubusercontent.com/1689815/55684881-ab6fd700-5950-11e9-83f6-0bda8c81847c.png)

[2019-04-07 14:24] teolemon opened #2526 "Bad portuguese translation"
![image](https://user-images.githubusercontent.com/1689815/55684988-ac553880-5951-11e9-8588-f0812d3058d1.png)

[2019-04-07 14:41] teolemon opened #2527 "Layout issue when answering a Question about a category"
![image](https://user-images.githubusercontent.com/1689815/55685222-d0b21480-5953-11e9-9a7a-460818cbc6de.png)
The product was missing a category and nutrition facts. I answered a question about a category. The server automatically attributed A since it's just mineral water, without waiting for  nutrition facts. As a result, the following happened.

[2019-04-07 14:42] teolemon commented on #2527
Fixed by a full refresh:
![image](https://user-images.githubusercontent.com/1689815/55685246-25558f80-5954-11e9-9404-610f0684f492.png)

[2019-04-07 14:48] teolemon opened #2528 "'Share to Open Food Facts' doesn't honor the locale of the app"
My app was in Portuguese but the product was uploaded as English
https://world.openfoodfacts.org/product/7891097000256

[2019-04-07 15:00] teolemon opened #2529 "You can edit a product without being logged in if you click on "Add nutrition facts to compute Nutri-Score""
You can edit a product without being logged in if you click on "Add nutrition facts to compute Nutri-Score"
Can we protect it with a login prompt ?

[2019-04-07 15:36] teolemon opened #2530 "Nutri-Score is broken on the scan card."
![image](https://user-images.githubusercontent.com/1689815/55685920-a49a9180-595b-11e9-8711-625ceffa2dac.png)
![image](https://user-images.githubusercontent.com/1689815/55685922-a9f7dc00-595b-11e9-972f-e4efe4aa91fe.png)

[2019-04-07 15:37] teolemon commented on #2530
https://barcode.tec-it.com/en/EAN13?data=3350033032361

[2019-04-07 15:58] #2187 closed

[2019-04-07 19:09] #2086 closed

[2019-04-07 19:10] #2400 closed

[2019-04-07 19:41] teolemon commented on #2530
@deniger could it be related to Nutri-Score display refactoring ?

[2019-04-07 19:49] deniger commented on #2530
Yes it could ...I will have a look tomorrow

---- On Sun, 07 Apr 2019 21:41:35 +0200 notifications@github.com wrote ----

@deniger could it be related to Nutri-Score display refactoring ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-07 20:41] mustaqmustu commented on #2529
can i work on this @teolemon ?

[2019-04-08 06:41] deniger commented on #2528
Maybe could be fixed with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2507

[2019-04-08 12:45] StephaneC commented on #2512
How do you want to manage backward compatibility on devices with multiples lists and already existed Database ?
I though about adding @Index on listName, but it will crash older app.

If you want to manage that in a resilient way, I'll _just_ add a check on list name before adding.
That's less maintainable.

[2019-04-08 12:47] #2359 closed

[2019-04-08 12:47] #2483 closed

[2019-04-08 19:15] teolemon opened #2533 "Replace "Open Beauty Facts" by "Install Open Beauty Facts" when not installed"
Replace "Open Beauty Facts" by "Install Open Beauty Facts" when not installed.
We need that to be compliant with app-stores policies.

![20190804_120048_PDT](https://user-images.githubusercontent.com/1689815/55750327-56f95400-5a43-11e9-9cf8-825409eaf9b4.png)

[2019-04-08 19:16] teolemon commented on #2533
![image](https://user-images.githubusercontent.com/1689815/55750430-9031c400-5a43-11e9-8fb8-37fadfd2b4be.png)

[2019-04-08 20:52] teolemon opened #2535 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.product.ingredients.IngredientsProductFragment.extractIngredients (IngredientsProductFragment.java:95)"
[code]

[2019-04-08 20:53] teolemon opened #2536 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.product.ingredients.IngredientsProductFragment.change_ing_image (IngredientsProductFragment.java:118)"
java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.views.product.ingredients.IngredientsProductFragment.change_ing_image (IngredientsProductFragment.java:118)
  at openfoodfacts.github.scrachx.openfood.views.product.ingredients.IngredientsProductFragment_ViewBinding$4.a (IngredientsProductFragment_ViewBinding.java:2)
  at butterknife.internal.DebouncingOnClickListener.onCli

[2019-04-08 20:55] teolemon opened #2537 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.fragments.AddProductIngredientsFragment.a (AddProductIngredientsFragment.java:3)"
java.lang.RuntimeException:
  at android.app.ActivityThread.deliverResults (ActivityThread.java:4398)
  at android.app.ActivityThread.handleSendResult (ActivityThread.java:4441)
  at android.app.ActivityThread.-wrap19 (Unknown Source)
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1668)
  at android.os.Handler.dispatchMessage (Handler.java:105)
  at android.os.Looper.loop (Lo

[2019-04-08 20:57] teolemon opened #2538 "java.lang.IllegalStateException openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity$2.lambda$null$3"
Sony Xperia XA (F3111), Android 7.0

[code]

[2019-04-08 20:58] teolemon opened #2539 "java.lang.NullPointerException at openfood.views.product.summary.SummaryProductFragment.b_ (Unknown Source:17)"
[code]

[2019-04-09 06:31] Jantzilla commented on #2533
If it's alright, I would like to be assigned this issue.

[2019-04-09 09:05] teolemon opened #2542 "android.content.res.Resources$NotFoundException: Drawable org.openfoodfacts.scanner:drawable/ic_file_download_black_18dp"
2019-04-09 10:22:46.833 23258-23258/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.openfoodfacts.scanner, PID: 23258
    android.view.InflateException: Binary XML file line #123: Binary XML file line #123: Error inflating class Button
    Caused by: android.view.InflateException: Binary XML file line #123: Error inflating class Button
    Caused by: android.content.res.Resources$NotFou

[2019-04-09 09:12] teolemon opened #2543 "Harmonize color of icon and add margin with image"
Harmonize color of icon, add margin with image, and make it almost full width (see the button in the summary tab for benchmark)

![image](https://user-images.githubusercontent.com/1689815/55788200-2acbea80-5ab8-11e9-8889-33a390b07efc.png)

[2019-04-10 12:20] teolemon commented on #1894
Bug still alive on 2.9.7, reported on an ASUS 7.0 English, when trying to add a product.
[code]

[2019-04-10 13:01] teolemon commented on #2542
@mustaqmustu can you have a look ? It seems related to your change

[2019-04-10 13:04] teolemon commented on #2530
Fixed by @deniger in a8e2de0c2a49159341b1cc333429fa9648b7edf2

[2019-04-10 13:04] #2530 closed

[2019-04-10 13:07] teolemon commented on #2526
Fixed in Crowdin

[2019-04-10 13:28] teolemon commented on #2529
Yes

[2019-04-10 13:32] mustaqmustu commented on #2542
![Screenshot from 2019-04-10 18-57-28](https://user-images.githubusercontent.com/43813438/55882774-b336b200-5bc2-11e9-9543-0ba85e73edfc.png)
It says that file is missing, but i still found it in drawable folder .@teolemon ,Could you say in which activity this error comes?

[2019-04-10 13:33] teolemon commented on #2542
When trying to add or edit a product.

[2019-04-10 14:26] mustaqmustu commented on #2542
So I think its the problem with android Q @teolemon

[2019-04-10 14:27] teolemon commented on #2542
I will try to revert to ic_compare_arrows_black_18dp to see if it works better for me

[2019-04-10 21:52] teolemon commented on #2542
@mustaqmustu changing back the icon fixes it for me

[2019-04-11 07:24] serpico opened #2551 "Crash when scanning"
[logcat.txt.](https://github.com/openfoodfacts/openfoodfacts-androidapp/files/3067390/logcat.txt)

**Summary:**

Tried with 3 different products, crash with all 3
Tried with the same version on a  Samsung SM-G361F ( Android 5.1.1 ) --> doesn't crash

Same apparent behavior (crash) with the previous beta version 3.0.7 ( sorry no traces )

**Device and Android version:**

Samsung GT-I9195
Android 4.

[2019-04-11 08:15] teolemon commented on #2551
Did you try with 3.0.8 that I pushed yesterday evening ?

[2019-04-11 08:19] serpico commented on #2551
Yeah, sorry I wasn't clear enough, the bug report is for for version 3.0.8 ( with traces) just updated this morning.
What I meant was, the behavior looked the same ( straight crash when scanning but no traces ) yesterday with 3.0.7.
Thanks

[2019-04-11 13:01] teolemon commented on #2551
Do you have the barcodes by any chance ?

[2019-04-11 19:16] serpico commented on #2551
@teolemon I can give you the numbers?

3450970006767 https://world-fr.openfoodfacts.org/produit/3450970006767  works with both the searchbar on the website ( typed and looked up "RIZ LONG ECO+" or the barcode number ) or through scanning from the app 3.0.8 but on the Samsung SM-G361F ( Android 5.1.1 )

3450970001144 https://fr.openfoodfacts.org/produit/3450970001144/tomates-entieres-pelees-au-jus-

[2019-04-12 03:11] raphodn opened #2552 "Serving size is only in g/mg/ug"
**Summary:**

In the Nutrition Facts tab, when adding the 'Serving size' value, you can only select g/mg/ug. There should be options for l/ml as well (in the case of beverages)

**Device and Android version:**

Latest Android version of the app (not beta)

[2019-04-12 10:52] teolemon opened #2553 "ava.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductIngredientsFragment.hideOCRProgress"
[code]

[2019-04-12 12:16] mustaqmustu commented on #2542
@teolemon I dont have Android Q to test it

[2019-04-12 12:17] teolemon commented on #2542
I don't think it's Android Q related.

[2019-04-12 12:27] mustaqmustu commented on #2542
@teolemon  Is it due to the path in that file ??? I created it by vector asset method.

[2019-04-13 07:48] CharlesNepote opened #2554 "Nutrients list lack of fruits & vegetables estimated percentage"
This information is needed to compute Nutriscore.
It appears in webapp but not in mobile app.

[2019-04-13 13:51] karimfares1131 commented on #2501
I am using the APK
 BlueStacks on windows

[2019-04-14 10:06] teolemon commented on #2245
@jaindiv26 should I reassign this one ? Do you have some code somewhere ?

[2019-04-14 10:18] #2318 closed

[2019-04-14 10:18] #2322 closed

[2019-04-18 12:38] teolemon opened #2559 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.product.ingredients.IngredientsProductFragment.a (IngredientsProductFragment.java:40)"
[code]

[2019-04-18 12:41] teolemon commented on #2554
Duplicate of https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/1622

[2019-04-18 12:41] #2554 closed

[2019-04-22 16:20] Flint4 opened #2562 "Nutrition tab: calories always zero"
In nutrition tab, calories are always shown as zero on my device. All products affected. "Preferred energy unit" is set to kcal in the settings. Language English, same issue in German.

OFF Android App 3.0.8
LG G7 ThinQ, Android 8.0.0. Stock ROM.

![Screenshot_2019-04-22-18-04-35(1)_1280x720](https://user-images.githubusercontent.com/9900799/56510633-a4d58800-652a-11e9-8ada-b9713957b153.png)

[2019-04-22 16:48] teolemon commented on #2562
Hey, can you provide the barcode you're scanning ?

[2019-04-22 19:17] Flint4 opened #2563 "Product Edit: Nutrition Facts radio buttons unselected"
In the Edit mode at Nutrition Facts, both radio buttons "For 100g / 100ml" and "Per serving" look like unselected when editing an already existing product. In the screenshot below (EAN 5060108450508), the "For 100g / 100ml" radio button should be active. All products affected.

OFF Android App 3.0.8
LG G7 ThinQ, Android 8.0.0. Stock ROM.

![2019-04-22 20_59_11-Screenshot_2019-04-22-20-56-58](https

[2019-04-23 10:42] deniger commented on #2563
solution found here:
https://stackoverflow.com/questions/46516506/android-nougat-why-do-checkboxes-on-fragment-have-incomplete-state-when-selecte

[2019-04-23 10:58] deniger commented on #2559
is it easy to reproduce ?

[2019-04-23 11:09] teolemon commented on #2551
[code]

[2019-04-23 12:02] #2562 closed

[2019-04-23 12:02] #2563 closed

[2019-04-23 12:34] teolemon commented on #2184
@prashantkh19 can I reassign ?

[2019-04-23 14:54] deniger commented on #2551
feedback from @teolemon:

`Android 4.4 (API level 20) and lower doesn't support vector drawables. If your minimum API level is set at one of these API levels, you have two options when using Vector Asset Studio: generate Portable Network Graphic (PNG) files (the default) or use the Support Library.`

some raster images are missing:

- ic_add_a_photo_blue_18dp
- ic_add_box_blue_18dp
- ic_add_a_phot

[2019-04-23 15:09] #2485 closed

[2019-04-23 15:46] prashantkh19 commented on #2184
@teolemon Yeah

[2019-04-23 15:46] teolemon commented on #2184
👍

[2019-04-23 16:13] teolemon commented on #2551
https://developer.android.com/studio/write/vector-asset-studio

[2019-04-23 16:19] teolemon commented on #2551
yes but:
[code]

[2019-04-23 16:27] deniger commented on #2551
Ok :) on my env, it seems these PNG were not generated

---- On Tue, 23 Apr 2019 18:19:08 +0200 notifications@github.com wrote ----

yes but:

We are also excited to offer backwards compatibility for your vector assets in Android Studio 1.4. Once you have a vectorDrawable image in your res/drawable, the Gradle plugin will automatically generate raster PNG images for API level 20 and below during b

[2019-04-23 17:01] teolemon commented on #2536
https://stackoverflow.com/questions/29390695/onclick-array-with-optional-ids-butterknife ?

[2019-04-24 09:04] teolemon opened #2570 "NPE at (SummaryProductFragment.java:4)"
java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.utils.Utils.f (Utils.java:3)
  at openfoodfacts.github.scrachx.openfood.views.product.summary.SummaryProductFragment.a (SummaryProductFragment.java:4)
  at openfoodfacts.github.scrachx.openfood.views.product.summary.-$$Lambda$pysTZXrcx555yi6l_8GkaNuZHco.accept (Unknown Source:4)
  at io.reactivex.internal.observers.Consumer

[2019-04-24 11:03] teolemon opened #2572 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.fragments.AddProductIngredientsFragment.af (AddProductIngredientsFragment.java:4)"
java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.fragments.AddProductIngredientsFragment.af (AddProductIngredientsFragment.java:4)
  at openfoodfacts.github.scrachx.openfood.views.AddProductActivity$10.a (AddProductActivity.java:4)
  at io.reactivex.internal.disposables.EmptyDisposable.a (EmptyDisposable.java:5)
  at io.reactivex.internal.operators.single.SingleDoOnSubscr

[2019-04-27 11:26] Zoah opened #2574 "Can't install both OpenFoodFacts and OpenBeautyFacts"
**Summary:**

I can't install both OpenFoodFacts and OpenBeautyFacts on the same device. SearchSuggestionProvider is used on both applications and Android seems to dislike that.

**Steps to reproduce:**

- Install OpenBeautyFacts (2.9.8) from F-Droid.
- Install OpenFoodFacts (2.9.8) from F-Droid.
- Update OpenBeautyFacts to 3.1.0
- Try to update OpenFoodFacts to 3.1.0

Or easier:
- Install OpenBea

[2019-04-27 12:52] teolemon opened #2575 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.product.ProductAttributeDetailsFragment.getDescription"
[code]

[2019-04-27 12:53] teolemon commented on #2575
![image](https://user-images.githubusercontent.com/1689815/56849975-2e56d280-68fc-11e9-9938-dcb46adef214.png)

[2019-04-27 12:54] teolemon opened #2576 "NPE/ openfood.utils.Utils.f / .SummaryProductFragmen/ views.product.summary.-$$Lambda$pysTZXrcx555yi6l_8GkaNuZHco.accept"
[code]

[2019-04-27 14:22] teolemon opened #2577 "java.net.UnknownHostException java.net.InetAddress.lookupHostByName"
[code]

[2019-04-27 14:24] teolemon opened #2578 "libcore.io.GaiException libcore.io.Posix.getaddrinfo"
[code]

[2019-04-27 14:24] teolemon commented on #2578
![image](https://user-images.githubusercontent.com/1689815/56850896-fefa9280-6908-11e9-8d14-8fe60da0746b.png)

[2019-04-27 15:22] teolemon opened #2579 "Make this string translatable (Required to compute the Nutri-Score)"
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/res/layout/fragment_add_product_overview.xml#L286

[2019-04-27 15:47] teolemon commented on #2579
fixed

[2019-04-27 15:47] #2579 closed

[2019-04-27 17:17] SantosSi commented on #2574
Same for me trying to install the new 3.1.0 from f-droid on a Galaxy S9 with Android 9 with an unknown error and on a Galaxy S6 with LineageOS 14.1 (Android 7.1.2) with "Error -13: The new package failed because it contains a content provider with the same authority as a provider already installed in the system."

[2019-04-27 17:23] teolemon opened #2582 "java.net.SocketTimeoutException okhttp3.internal.http2.Http2Stream$StreamTimeout.a"
[code]

[2019-04-27 17:24] teolemon commented on #2582
![image](https://user-images.githubusercontent.com/1689815/56852968-02e6de80-6922-11e9-82ce-0f43b36b2a7a.png)

[2019-04-27 17:25] teolemon commented on #2582
https://github.com/square/okhttp/issues/3146

[2019-04-27 20:05] teolemon opened #2583 "Trying to add a nutrition image on an existing product crashes the camera"
Trying to add a nutrition image on an existing product crashes the camera on my Google Pixel on Android Q (Preview 2)
It works fine for front and ingredients though

[2019-04-28 09:28] teolemon opened #2585 "retrofit2.adapter.rxjava2.HttpException at retrofit2.adapter.rxjava2.BodyObservable$BodyObserver.onError"
[code]

[code]

[2019-04-28 09:29] teolemon commented on #2585
![image](https://user-images.githubusercontent.com/1689815/56862221-d4f8ad00-69a8-11e9-8038-7c1cac160ab6.png)

[2019-04-28 14:09] Zoah commented on #2574
Hi. I also tried to install Open Pet Food Facts 3.1.0. The result was similar.

[2019-04-28 19:42] teolemon commented on #2583
I can't reproduce

[2019-04-28 22:27] teolemon opened #2586 "App unresponsive on a white splash screen on first use"
App unresponsive on a white splash screen on first use
[code]

[2019-04-29 06:43] teolemon commented on #2574
@subhanjansaha

[2019-04-29 06:46] teolemon commented on #2574
Perhaps a solution like this @deniger @subhanjansaha ?
https://stackoverflow.com/questions/26527722/define-a-string-in-gradle-and-also-use-a-flavor-specific-applicationid

[2019-04-29 07:22] deniger commented on #2574
I believe that the fix should be easier as we can use a something like that:

[code]

[2019-04-29 07:55] deniger commented on #2574
I had to modify AndroidManifest.xml too:
[code]

[2019-04-29 08:20] #2574 closed

[2019-04-29 08:42] deniger commented on #2583
impossible to install Android Q on my env :(
We should use 3.5 Preview:

- https://developer.android.com/preview/setup-sdk
- https://stackoverflow.com/questions/55598318/cant-get-emulator-x86-images-for-android-q-says-unable-to-resolve-dependencie

[2019-04-29 08:45] teolemon commented on #2583
I'm not even able to reproduce here, so i'd be tempted to let slip

[2019-04-29 09:53] deniger commented on #2578
I'm trying to catch all reactivex call and add a "onError" method.
Maybe a more elegant solution could be used:
https://medium.com/mindorks/rxjava2-and-retrofit2-error-handling-on-a-single-place-8daf720d42d6

[2019-04-29 09:58] teolemon opened #2588 "subjectAltNames okhttp3.internal.connection.RealConnection.connect"
[code]

[2019-04-29 09:58] teolemon commented on #2588
![image](https://user-images.githubusercontent.com/1689815/56889233-2327b200-6a76-11e9-9a90-497724c37f8f.png)

[2019-04-29 11:59] #2575 closed

[2019-04-29 11:59] #2576 closed

[2019-04-29 11:59] #2578 closed

[2019-04-29 11:59] #2582 closed

[2019-04-29 11:59] #2585 closed

[2019-04-29 12:05] deniger commented on #2570
Should be closes as duplicate of #2576

[2019-04-29 12:08] deniger commented on #2577
Could be marked as fixed as io.reactivex.exceptions.OnErrorNotImplementedException should be managed now.

[2019-04-29 12:17] deniger commented on #2536
maybe My fix is not complete as I try to only manage null references in the method change_ing_image

[2019-04-29 12:36] #2536 closed

[2019-04-29 12:36] #2539 closed

[2019-04-29 13:30] deniger commented on #2446
is it possible to have some other logs ? It's difficult to find the cause only with the current info :)

[2019-04-29 13:33] teolemon commented on #2446
I'm closing this one. I tend to open bugs too easily :-)

[2019-04-29 13:33] #2446 closed

[2019-04-29 14:14] SantosSi commented on #2574
Was F-Droid notified to trigger them to provide corrected apps?

[2019-04-29 14:27] teolemon commented on #2574
normally, I've created a release, so it should propagate really soon :-)

[2019-04-29 14:36] teolemon opened #2591 "Send header with tagline-off.json request"
XXXX- - [29/Apr/2019:16:34:52 +0200] "GET /files/tagline/tagline-off.json HTTP/2.0" 200 424 "-" "okhttp/3.9.0"

Something like : ```Open Food Facts - Android client - version xxx ```

[2019-04-29 14:37] teolemon commented on #2591
same for [29/Apr/2019:16:34:54 +0200] "GET /1.json?fields=null HTTP/2.0" 200 379 "-" "okhttp/3.9.0"

[2019-04-30 03:15] serpico commented on #2551
Since update to version 3.1.2 (automatically updated by Play Store)
Samsung GT-I9195
Android 4.2.2

[logcat.txt.](https://github.com/openfoodfacts/openfoodfacts-androidapp/files/3129826/logcat.txt)

It can load the "card" at the bottom ( see screenshot ), not completely ( see the loading sign instead of a thumbnail ) then crash right after.
![Screenshot_2019-04-30-04-42-59](https://user-images.git

[2019-04-30 07:48] teolemon commented on #2551
[code]

[2019-04-30 08:15] deniger commented on #2551
I encountered this issue on a emulator with Android 4. I didn't find a solution to fix it: it seems it's an issue with scalar assets that are not supported by Android 4.?

Normally there is a workaround for this and it seems it's applied on OFF but no...

---- On Tue, 30 Apr 2019 09:48:21 +0200 notifications@github.com wrote ----

E/AndroidRuntime( 3344): FATAL EXCEPTION: main
E/AndroidRuntime( 33

[2019-04-30 08:53] serpico commented on #2551
@deniger no worries, it's nice enough of you to have looked into it and tried the PR to solve it.
@teolemon out of curiosity, what's the breakdown of users still using the app with Android 4. ?

[2019-04-30 09:20] teolemon commented on #2551
@deniger https://stackoverflow.com/questions/47366882/resourcesnotfoundexception-android-4-4

[2019-04-30 18:32] teolemon opened #2593 "org.xmlpull.v1.XmlPullParserException openfoodfacts.github.scrachx.openfood.fragments.BaseFragment.createView"
[code]

[2019-04-30 20:24] #2477 closed

[2019-05-01 04:46] serpico opened #2594 "[feature request] Price [device stored] monitoring feature"
I've looked in the issues, but haven't found anything, anybody ever asked for this? It might be considered outside the scope of the app as well.

I've seen it on some feature's wishlist for OFF, not on github, but couldn't find it anymore.

Maybe a separate tab, which the user could enable through the Preferences, similar to the current contribution tab ( although, some text box should be easily a

[2019-05-02 12:29] teolemon opened #2595 "exception.class.missing._Unknown_ com.hootsuite.nachos.NachoTextView.toString"
[code]

[2019-05-02 12:33] teolemon opened #2596 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.network.OpenFoodAPIClient$12.onFailure"
[code]

[2019-05-02 12:33] teolemon commented on #2596
![image](https://user-images.githubusercontent.com/1689815/57075502-3b523800-6ce7-11e9-8060-52114b142283.png)

[2019-05-02 13:26] deniger commented on #2551
I tried to use srcCompat.. but the library androidx... has some weird impact
So I set drawable via java methods -> ok

I'm able to launch OFF on Android 4.2 and edit a product

[2019-05-02 13:34] deniger commented on #2542
could be closed no ?

[2019-05-02 13:37] deniger commented on #2593
android 4 ?

[2019-05-02 13:58] teolemon commented on #2593
![image](https://user-images.githubusercontent.com/1689815/57080608-1fed2a00-6cf3-11e9-8ae3-aae5c74d736a.png)
yup

[2019-05-02 13:59] teolemon commented on #2542
It will be superseded by your fix, so yes.

[2019-05-02 13:59] #2542 closed

[2019-05-02 14:00] teolemon commented on #2551
Did we introduce AndroidX already in the project ??

[2019-05-02 14:17] #2551 closed

[2019-05-02 14:45] teolemon opened #2598 "64-bits compliance"
![image](https://user-images.githubusercontent.com/1689815/57083941-a147bb00-6cf9-11e9-83ac-3d72b8af5355.png)

[2019-05-03 13:16] teolemon opened #2601 "Issue with the portion checker on new empty product"
![image](https://user-images.githubusercontent.com/1689815/57139763-622b6f80-6db6-11e9-91c1-5a2f04841b6d.png)

[2019-05-03 13:40] teolemon commented on #1838
![image](https://user-images.githubusercontent.com/1689815/57141079-b4ba5b00-6db9-11e9-8e07-08af02beb456.png)

[2019-05-03 13:42] teolemon opened #2602 "Text overlapping in the ingredients tab"
![image](https://user-images.githubusercontent.com/1689815/57141205-ffd46e00-6db9-11e9-97ea-189e4e33f7dd.png)

[2019-05-04 17:33] SantosSi opened #2603 "Version 3.1.2 requires serving size"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-05-04 17:44] teolemon opened #2604 "OBF Android app 3.1.2 crashes when swiping to ingredients #73"
OBF Android app 3.1.2 crashes when swiping to ingredients #73

[2019-05-05 21:39] MauroMombelli opened #2605 "Make nutrition input numeric"
**Summary:**

Make the input box for nutritional fact numeric

**Steps to reproduce:**

if you try to add the nutritional fact, the full keyboard appears instead of the numeric

[2019-05-06 04:39] huzaifaiftikhar commented on #2605
We can't have a numeric input type for nutritional fact because we need to type the following characters as well "<", ">"and "~". It is not possible to type these on a numeric input type.

[2019-05-06 08:35] #2529 closed

[2019-05-06 08:51] deniger opened #2606 "The user should be redirected to edit mode after login"
1. The user click on "Add Nutrition facts to compute..."
2. he signs in
3. He is redirected to the view mode but He should be redirected to the edit mode

[2019-05-06 10:06] teolemon opened #2607 "java.lang.NoClassDefFoundError openfoodfacts.github.scrachx.openfood.views.adapters.ProductComparisonAdapter.access$000"
[code]

[2019-05-06 10:06] teolemon commented on #2607
![image](https://user-images.githubusercontent.com/1689815/57219118-61cde700-6ff7-11e9-9bce-e961329c033f.png)

[2019-05-07 09:33] deniger commented on #2472
For this issue and #2470:
a related concern is how to update product info stored locally. For instance, in the scan history the nutrition Grade is stored on locale DB. We should add a background task to update these locale informations: the title of a product change, the quantity,...
This background task could be used too to update the title if the main language is changed.

But, it could have a p

[2019-05-07 11:24] teolemon opened #2610 "java.lang.RuntimeException openfoodfacts.github.scrachx.openfood.views.LoadTaxonomiesService.doTask"
[code]

[2019-05-07 13:32] deniger commented on #2604
Do you have info about Android version and or the product code ?

[2019-05-07 14:31] #2543 closed

[2019-05-07 14:49] deniger commented on #2598
https://developer.android.com/distribute/best-practices/develop/64-bit
// Your app's build.gradle
apply plugin: 'com.android.app'

android {
   compileSdkVersion 27
   defaultConfig {
       appId "com.google.example.64bit"
       minSdkVersion 15
       targetSdkVersion 28
       versionCode 1
       versionName "1.0"
       ndk.abiFilters 'armeabi-v7a','arm64-v8a','x86','x86_64'

[2019-05-07 16:25] RajaVamsi11 opened #2611 "Minor gradle refactor"
**Summary:**
In Gradle, versions of some dependency are mentioned directly but according to the convention it should be fetched from rootProject.

**Expected behavior:**
Dependencies version must be fetched from the root project.

**Observed behavior:**
Versions of dependencies are directly mentioned in gradle files.

[2019-05-07 16:26] RajaVamsi11 commented on #2611
@deniger @teolemon I am working on this issue.

[2019-05-07 19:17] teolemon opened #2612 "java.lang.IllegalStateException openfoodfacts.github.scrachx.openfood.views.splash.SplashPresenter.a"
[code]

[2019-05-07 19:17] teolemon commented on #2612
![image](https://user-images.githubusercontent.com/1689815/57326758-80be9d00-710d-11e9-90c0-e64354ce8163.png)

[2019-05-07 19:54] teolemon commented on #1825
[code]

[2019-05-07 19:54] teolemon commented on #1825
![image](https://user-images.githubusercontent.com/1689815/57328816-bd40c780-7112-11e9-9ec2-456a87c18629.png)

[2019-05-07 19:56] teolemon commented on #2559
[code]
![image](https://user-images.githubusercontent.com/1689815/57328886-f5480a80-7112-11e9-8f41-339a5e115e09.png)

[2019-05-07 19:56] teolemon commented on #2559
@deniger seems focused on Android 9 so far

[2019-05-07 19:57] teolemon commented on #2559
And it's the top bug in the release so far

[2019-05-07 20:01] teolemon commented on #2559
Seing a 2nd cluster for Android 8 and 8.1
[code]
![image](https://user-images.githubusercontent.com/1689815/57329225-a058c400-7113-11e9-9509-cdd801311dff.png)

[2019-05-07 20:03] teolemon commented on #2559
And a 3rd slightly different cluster to Android 4.4 that looks a bit similar to this closed bug:
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/1870

[2019-05-07 20:04] teolemon commented on #2559
[code]
![image](https://user-images.githubusercontent.com/1689815/57329427-05acb500-7114-11e9-82c8-18770c7bcd3f.png)

[2019-05-07 20:05] teolemon opened #2613 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.network.OpenFoodAPIClient$12.a"
[code]

[2019-05-07 20:05] teolemon commented on #2613
![image](https://user-images.githubusercontent.com/1689815/57329542-40aee880-7114-11e9-9b5e-c199f57be31b.png)

[2019-05-07 20:08] teolemon opened #2614 "java.lang.IllegalStateException openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity$2.a"
[code]
![image](https://user-images.githubusercontent.com/1689815/57329697-a1d6bc00-7114-11e9-9184-3d164e4584f8.png)

[2019-05-07 20:13] teolemon commented on #2538
[code]

[2019-05-07 20:13] teolemon commented on #2538
![image](https://user-images.githubusercontent.com/1689815/57330069-5244c000-7115-11e9-8c3e-fa17e090ea3b.png)

[2019-05-07 21:00] teolemon opened #2615 "Process: com.google.android.GoogleCamera, PID: 25603 java.lang.SecurityException: Permission Denial: writing android.support.v4.content.FileProvider uri content://org.openfoodfacts.scanner.easyphotopicker.fileprovider/picturesext/665c6152-96f5-4424-9d4a-64a7d25638271406564021776967102.jpg from pid=25603, uid=10077 requires the provider be exported, or grantUriPermission()"
[code]

[2019-05-07 21:02] teolemon commented on #2615
might be related to https://github.com/commons-app/apps-android-commons/issues/167

[2019-05-07 21:07] teolemon opened #2616 "Image rotation crashes without throwing any exception in LogCat"
Image rotation crashes without throwing any exception in LogCat.
1. Edit mode
2. Click on front image
3. Rotate
4. Validate
5. Screen flash

[2019-05-07 21:52] teolemon commented on #2053
@stephanegigandet the bug already exists.
@jaindiv26 are you still working on this ?

[2019-05-09 08:57] deniger commented on #2615
Do you have more logs about this: the action that causes this ?

[2019-05-09 10:41] teolemon opened #2618 "Disable crop in the "Take more photo" button on the Summary tab"
- [ ] Disable crop in the "Take more photos" button on the Summary tab.
- [ ] Add a new button called "Send new front picture" to send a new front picture (with crop)

[2019-05-09 11:34] deniger commented on #2559
I hope I managed to reproduce it:

2019-05-09 13:27:08.031 12168-12168/openfoodfacts.github.scrachx.openfood E/NUTRIMENTS-MODEL: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null object reference
        at openfoodfacts.github.scrachx.openfood.models.Nutriments.getServing(Nutriments.java:226)
        at openfoodfacts.github.s

[2019-05-09 12:31] AntonisFaros commented on #2397
@teolemon I worked on this and this is my result, any comments before creating a pull request?

![Screenshot_1557404841](https://user-images.githubusercontent.com/32640209/57453541-4d941f00-726f-11e9-9d1e-e7bfbb083ad9.png)

[2019-05-09 12:36] teolemon commented on #2397
Yup, couple of little remarks:
- color scheme (same blue as in the product view)
- Both icon and text should be visible for all icons, at all time (like in the product view)
- icons are `compare_arrows` for Compare and `playlist_add` for list addition

[2019-05-09 13:17] teolemon opened #2619 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.product.environment.EnvironmentProductFragment.a (EnvironmentProductFragment.java:61)"
[code]

[2019-05-09 13:19] teolemon commented on #2619
![image](https://user-images.githubusercontent.com/1689815/57456461-dca03780-726d-11e9-9cb4-1bff7bc73d4b.png)

[2019-05-09 13:44] deniger commented on #2619
It could be the same issue as the  IngredientsProductFragment NPE as the Nutriment is also called in the EnvironmentProductFragment

[2019-05-09 16:06] teolemon opened #2620 "Nutrition Facts are not correctly displayed on all products"
![image](https://user-images.githubusercontent.com/1689815/57468633-27797980-7285-11e9-8eb8-07d501318dbb.png)
https://barcode.tec-it.com/en/EAN13?data=5400101047594

[2019-05-09 16:54] stephanegigandet commented on #2620
This is most likely because of an harmonization of the types in the JSON.

There are different fields in the nutriments hash, and some of them must not be used:

energy_100g: 1172,
energy: 1172,
energy_value: 280,
energy_unit: "kcal",
energy_serving: 1170,

energy_value and energy_unit are what the user entered, they may be per 100g or per serving.  energy is a conversion of energy_value to the de

[2019-05-09 16:54] stephanegigandet commented on #2620
numeric values are now always numeric (for some products they were strings before)

[2019-05-10 06:20] deniger commented on #2620
I checked that the values used are _100g and _serving -> ok

[2019-05-10 06:23] deniger commented on #2620
one thing to finish: to display nutriment value I use the unit entered by the user ( after conversion).
Normally we should use the taxonomy to choose the correct unit the taxonomy is not yet loaded in the App ( too complicate as far I understand)

[2019-05-10 06:48] stephanegigandet commented on #2620
The unit field seems to be empty on some products, ones that have been last edited by some apps like Yuka it seems, e.g. https://world.openfoodfacts.org/api/v0/product/8410509003624/boisson-vegetale-riz-quinoa-costa-eco
One thing I could try is to create a unit field with the default unit for those products, on the server side.

[2019-05-10 07:44] deniger commented on #2620
it should be fixed. I modified the view to dispay nothing if no serving size

![image](https://user-images.githubusercontent.com/47569605/57510833-fee69380-7307-11e9-9656-743a7eecea3f.png)

[2019-05-10 12:26] teolemon opened #2621 "Send a source=scan parameters with scans"
Send a `source=scan` parameters with scans
`source=scan|search|list|history|whatever`
`111.json?fields=toto&source=scan`

This will simplify greatly work server side.

[2019-05-10 13:29] #2552 closed

[2019-05-10 13:29] #2601 closed

[2019-05-10 13:29] #2603 closed

[2019-05-10 13:29] #2620 closed

[2019-05-10 13:29] #2606 closed

[2019-05-10 13:29] #2610 closed

[2019-05-10 13:29] #2559 closed

[2019-05-11 09:55] teolemon opened #2625 "android.content.ActivityNotFoundException openfoodfacts.github.scrachx.openfood.views.customtabs.WebViewFallback.a"
[code]

[2019-05-11 09:56] teolemon commented on #2625
Probably when clicking on the NOVA explanation

[2019-05-11 13:53] AntonisFaros commented on #2397
@teolemon does this look ok?
![Screenshot_1557582692](https://user-images.githubusercontent.com/32640209/57570670-35f29d00-740d-11e9-9f2f-98f5503de76f.png)

[2019-05-11 15:24] teolemon commented on #2397
@raphael0202 @stephanegigandet what do you think about it ?
@AntonisFaros I would probably take advantage to turn the circular button into an inline button on top of the allergen list with something like "+ Add an allergen"

[2019-05-11 17:58] stephanegigandet commented on #2397
Looks good! I agree with @teolemon regarding the circular + button.

[2019-05-11 18:00] AntonisFaros commented on #2397
Great ! Already fixed that  @teolemon @stephanegigandet
![Screenshot_1557597321](https://user-images.githubusercontent.com/32640209/57573391-b75b2700-742f-11e9-9a33-47f803e0be4a.png)

[2019-05-11 18:02] teolemon opened #2626 "Load the brand taxonomy to offer brand suggestions"
Load the brand taxonomy to offer brand suggestions
https://static.openfoodfacts.org/data/taxonomies/brands.json

[2019-05-11 19:18] huzaifaiftikhar opened #2627 "Travis CI build failing"
**Log**
[code]

[2019-05-12 15:12] teolemon opened #2628 "The carbon footprint icon is not cleared on product change on the scan card"
1.Scan a product with a carbon footprint ex: EAN: https://barcode.tec-it.com/en/EAN13?data=3596710464074
2. Scan a non existing product : https://barcode.tec-it.com/en/EAN8?data=21296864
3. BOOM: The carbon footprint icon is not cleared on product change on the scan card
![image](https://user-images.githubusercontent.com/1689815/57584191-ce098880-74d8-11e9-8c6c-fb9a149af976.png)

[2019-05-12 15:19] teolemon opened #2629 "Don't return a result if the scanned barcode matches the server-side blacklist"
The barcode scanner will return invalid barcodes due to bright reflexions, poor lighting, etc…While those barcodes are theoretically valid EAN-8 barcodes, they are not attributed. We are thus putting in place a server side blacklist of common invalid barcodes, so that the app doesn't return a prompt to add a blacklisted product, or return a result for an invalid product once someone has created it

[2019-05-12 20:27] teolemon commented on #2614
![image](https://user-images.githubusercontent.com/1689815/57587446-28204300-7505-11e9-8750-a3b01562cfca.png)

[2019-05-13 07:46] deniger commented on #2614
I tried to find the root cause... ( not sure):
I search in the whole code and it seems it could be only generated from the file ContinuousScanActivity  line 337

[2019-05-13 08:19] deniger commented on #2627
if someone could find a solution here :) I gave up...

[2019-05-13 13:56] teolemon opened #2631 "There is still a way to add a new product anonymously without a UUID"
There is still a way to add a new product anonymously without a UUID. (the user comment was 3.1.5 but no UUID)
Perhaps it's using the offline mode, perhaps it's something else.

[2019-05-13 15:41] #2464 closed

[2019-05-13 15:41] #2471 closed

[2019-05-13 15:41] #2602 closed

[2019-05-13 15:41] #2607 closed

[2019-05-13 18:43] RajaVamsi11 opened #2632 "Remove unused Namespace declaration in XML files"
**Summary**
By inspecting the project I found there are unused namespace declaration in some of the XML files and they are showing warnings in XML files. I am interested in removing those declarations.

**Screenshot**
![Screenshot from 2019-05-14 00-04-07](https://user-images.githubusercontent.com/30550059/57645858-d519bf00-75dc-11e9-8545-0551d9edefa5.png)

[2019-05-13 18:43] RajaVamsi11 commented on #2632
@teolemon Can I start working on this issue?

[2019-05-13 19:29] RajaVamsi11 opened #2634 "Delete unused import statements"
**Summary**
After going through the code base of the app, I found there are import statements (more than 100) which are not used in that class. My idea is to delete the unused import statements.

**Screenshot:**
![Screenshot from 2019-05-14 00-50-35](https://user-images.githubusercontent.com/30550059/57648551-6c821080-75e3-11e9-8f51-e8cb76c38104.png)

[2019-05-13 19:41] RajaVamsi11 opened #2636 "Code style issues"
**Summary**
There are code style issues in the project. They are:
1.**Unnecessary interface modifiers:** There are public modifiers on the interface methods which are redundant.
2.**Unnecessary semicolumns:** There are some unnecessary semicolumns in some of the Java classes.

Those should be removed to remove code style issues and make our code look clean.

**Screenshots:**
![Screenshot from 2019

[2019-05-13 21:10] AntonisFaros commented on #2396
@teolemon Can i work on this?

[2019-05-13 21:11] teolemon commented on #2396
👌 if you can mutualize the code with what you've already done, as suggested by @deniger

[2019-05-13 21:16] AntonisFaros commented on #2396
Alright

[2019-05-14 06:50] #2632 closed

[2019-05-14 07:07] #2636 closed

[2019-05-14 07:17] #2611 closed

[2019-05-14 07:29] deniger commented on #2396
It seems there is no way to mutualize the XML code for that... Let's try at least to mutualize the java part...

[2019-05-14 15:16] jaindiv26 commented on #2396
Sorry, but will not be working on this.

[2019-05-14 15:16] jaindiv26 commented on #2053
Sorry, but will not be working on this.

[2019-05-14 20:52] RajaVamsi11 opened #2640 "Redundant type casting in the project"
**Summary:**

One of the things that Google announced in IO 2017 is something that’s called ‘castaway’ :). The Android developer doesn’t have to do a manual casting for findViewById(). It’s a simple change. There are more than 20 unnecessary castings in the whole project which must be removed.

![Screenshot from 2019-05-15 02-16-27](https://user-images.githubusercontent.com/30550059/57731255-e5529

[2019-05-15 07:52] #2634 closed

[2019-05-15 07:59] #2640 closed

[2019-05-15 15:42] deniger commented on #2396
![image](https://user-images.githubusercontent.com/47569605/57789243-cb0cd300-7738-11e9-88c8-e4e36d1c2170.png)

Est-ce que l'ordre a un impact ?

[2019-05-15 19:25] huzaifaiftikhar commented on #2396
@deniger Ideally the order should be same throughout the app. If this is the order which is being followed everywhere then this is good to go.

[2019-05-15 21:47] teolemon commented on #2396
See the allergen view (with 5 items, should we stick to 4 ?)

[2019-05-16 05:56] deniger commented on #2396
We can have 5 items.  I removed the history item as we are in the history view.

---- On Wed, 15 May 2019 23:47:58 +0200 notifications@github.com wrote ----

See the allergen view (with 5 items, should we stick to 4 ?)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-05-16 06:00] teolemon commented on #2396
We should keep the current item, otherwise the order becomes unpredictable

[2019-05-16 09:30] deniger commented on #2396
![image](https://user-images.githubusercontent.com/47569605/57843095-f988bd80-77cd-11e9-841f-c068b4583b56.png)
![image](https://user-images.githubusercontent.com/47569605/57843131-05747f80-77ce-11e9-8547-1f6d30129455.png)

Should I add it to the home page too ?

[2019-05-16 10:07] teolemon commented on #2396
Yup

Le jeu. 16 mai 2019 à 11:30, deniger <notifications@github.com> a écrit :

[2019-05-16 19:19] huzaifaiftikhar commented on #2396
In scan it will hide when the bottom card will be displayed. Also the current should be highlited somehow to show that it is selected. Maybe by changing the front or icon color.

[2019-05-16 19:26] teolemon commented on #2396
I thought we could display the bottom card above it ?

[2019-05-16 20:26] deniger commented on #2396
Yes, I modified the layout for that. Let's test

---- On Thu, 16 May 2019 21:26:48 +0200 notifications@github.com wrote ----

I thought we could display the bottom card above it ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-05-16 20:55] teolemon opened #2643 "Failing gradle task for screenshots"
[code]

[2019-05-17 07:21] vanshikaarora commented on #191
Hey @teolemon Is the Issue already solved?

I can see the field in the app. Or have I misunderstood the Issue?
![IMG-20190517-WA0000](https://user-images.githubusercontent.com/34261945/57910198-52c22100-78a2-11e9-8564-bcc4fa3428d5.jpg)

[2019-05-17 08:22] vanshikaarora commented on #1497
Hey @teolemon. I want to work on this.I can see two tasks in the above Issue:

- Improve the UI
- Make the translations available in our own language

Shall I start working on this? Also for the UI do you have any particular suggestions in mind?

[2019-05-17 11:02] vanshikaarora opened #2645 "Fix some of the TODO items in the project under openfoodfacts.github.scrachx.openfood"
**Summary:**

 There are almost 17 items listed as TODO in the project. Which can be completed. I'll take these tasks one by one and send PRs here

### Steps

- Go to TODO section in your project
- Check openfoodfacts.github.scrachx.openfood module

[2019-05-17 19:35] teolemon commented on #63
closing, since fixed

[2019-05-17 19:35] #63 closed

[2019-05-19 12:11] MauroMombelli commented on #2605
Sorry for the late answer.
While i agree those information may be important to collect, I also know those symbols are little and well known.
IMHO a better approach would be to keep the field numeric and instead add those symbols to the drop box (or add another drop box) as this would make the parsing of the field much easier (also in a database query, looking for specific values would be much bett

[2019-05-19 12:32] huzaifaiftikhar commented on #2605
@MauroMombelli Your suggestion looks good to me! I am reopening this issue.

[2019-05-20 15:27] deniger commented on #2616
Should be solved with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2646

[2019-05-20 16:38] deniger commented on #2165
@teolemon maybe could be closed with the last PR...

[2019-05-20 16:40] deniger commented on #2044
A new edit button is now available to change the image
if the user click on the image, he is able to rotate/crop the image

[2019-05-21 08:01] deniger commented on #2627
Should be ok now:
https://travis-ci.org/openfoodfacts/openfoodfacts-androidapp/builds/535168851

I copy the configuration from
https://github.com/ankidroid/Anki-Android/blob/master/.travis.yml

[2019-05-21 08:48] teolemon commented on #2627
🎊

[2019-05-21 10:26] teolemon opened #2648 "Missing header in the list view"
Missing header in the list view
Current:
![image](https://user-images.githubusercontent.com/1689815/58088756-9cbd4680-7bc3-11e9-8a8e-f7db170f5a2f.png)

Proposed:
![image](https://user-images.githubusercontent.com/1689815/58088745-9929bf80-7bc3-11e9-8d05-75248086030e.png)

[2019-05-22 16:28] teolemon opened #2649 "No icon on the miniature of the app in Android Q (and earlier ?)"
No icon on the miniature of the app in Android Q (and earlier ?)

![image](https://user-images.githubusercontent.com/1689815/58191645-4d5c4080-7cbf-11e9-81a4-85ef413146b5.png)

[2019-05-23 07:16] vanshikaarora commented on #2605
@MauroMombelli  @huzaifaiftikhar  Can I please take this Issue if you are not working on it?

[2019-05-23 07:23] vanshikaarora commented on #1659
Hey @teolemon @deniger I have resolved this Issue here #2644 Can you please review the PR:)

[2019-05-23 08:57] huzaifaiftikhar commented on #2605
@vanshikaarora go ahead :)

[2019-05-23 09:49] vanshikaarora commented on #2605
Thanks @huzaifaiftikhar  for assigning the work to me:)

Well before working upon I would mention all the changes that I'll be making. As I see in nutrition fact only Serving size has a numeric keyboard while all other fields have full keyboard. So I need to change input type for all of them as numeric. Well, if there anything else you would like to add then please inform here:)

[2019-05-23 10:12] vanshikaarora commented on #2605
Hey @huzaifaiftikhar I have raised a PR here #2650 Can you please review :)

[2019-05-23 19:37] huzaifaiftikhar commented on #2605
@vanshikaarora I have gone through the PR, I guess you didn't get the issue exactly. Anyway, I'll try to explain to my best.
Currently, we have a full keyboard for all the nutrition facts fields (except serving size) because we need to type these characters as well  "<", ">" and "~". By simply changing the input type to numeric won't fix the issue as the user won't be able to input the above chara

[2019-05-24 07:10] vanshikaarora commented on #2605
@huzaifaiftikhar  I am sorry for not understanding the exact issue before. And thanks for explaining it as well:) .

`To fix this I would suggest you add a spinner before the input field (similar to the one already present for units) which would contain these characters as suggested by @MauroMombelli.`

While fixing this, I felt that this is disturbing the UI and adding two spinners for each field

[2019-05-24 07:30] huzaifaiftikhar commented on #2605
@vanshikaarora I guess the spinner beside the radio boxes won't be visible when we are inputting a the last nutrient for a long list of nutrients. Can you post screenshots for both the approaches?

[2019-05-24 08:17] vanshikaarora commented on #2605
Hey @huzaifaiftikhar here are the screenshots for both the states

![Screenshot_20190524_133536](https://user-images.githubusercontent.com/34261945/58312983-2a9a6b00-7e2a-11e9-8e86-783b58797f85.png)
The position of the spinner in this could be either right or left

![Screenshot_20190524_134227](https://user-images.githubusercontent.com/34261945/58312986-2c642e80-7e2a-11e9-8619-b816df5ae7f7.jpg)
Th

[2019-05-24 08:46] huzaifaiftikhar commented on #2605
@teolemon @deniger @brandenfung @Karljoones Can you take a look at this?  Which UI seems appropriate?

[2019-05-24 09:31] MauroMombelli commented on #2605
My 5 cent:
I see you ask for "NUMERIC", in my opinion the possible sign would have to
be hardcoded (><~ and no simbol).

A second phase of this PR would could be to update the DB field structure
to break the filed into 2 field, numeric and symbols(char? Enum?).

I like the one spinner for field, but maybe placing them both on the right?

[....number...][simbol][unit]

On Fri, May 24, 2019, 10:46 H

[2019-05-24 19:14] RajaVamsi11 opened #2652 "Remove Redundant throws declarations"
**Summary:**

This issue focuses on removing the redundant throws clause present in the whole project. When I inspected the project I found there are 5 unnecessary throws declarations.

![Screenshot from 2019-03-20 15-35-16](https://user-images.githubusercontent.com/30550059/54676870-b096ee80-4b27-11e9-8e28-ad14cf1ef33e.png)

My idea is to remove the unnecessary throws declarations from the projec

[2019-05-24 19:29] RajaVamsi11 opened #2654 "Simplificable JUnit assertions"
**Summary**

There are some JUnit assertions in the codebase which can be simplified using the below simplifications.

![Screenshot from 2019-05-25 00-53-27](https://user-images.githubusercontent.com/30550059/58351979-e2aa3100-7e87-11e9-9361-4c5a27b1062e.png)
We can simplify the required JUnit assertions.

[2019-05-24 19:43] RajaVamsi11 opened #2656 "Android resource validation error"
**Summary**

In custom_search_suggestion.xml file, it shows that there is an Android resource validation error.
The problem is with the id of the icon2. ( cannot resolve symbol id/andr )
Presently the ID attribute was like this:

                            android:id="@id/android:icon2"
which was wrong and must be changed like this:

                            android:id="@android:id/icon2"

Cha

[2019-05-24 19:57] RajaVamsi11 opened #2658 "Remove hardcoded texts from XML files"
**Summary:**

Using hardcoded texts in XML files is not a good practice. We need to add them in string resources and use them. By inspecting the project I found there are 4 hardcoded texts in the whole project. I am interested in adding them in string resources.

![Screenshot from 2019-05-25 01-23-55](https://user-images.githubusercontent.com/30550059/58353412-125b3800-7e8c-11e9-92b8-de3b045ee024.

[2019-05-24 21:00] #2658 closed

[2019-05-25 06:17] RajaVamsi11 opened #2660 "Keyboard inaccessible widget Lint warnings"
**Summary**

Android Accessibility Lint warnings contain keyboard inaccessible widgets.
We can remove Android Keyboard inaccessible widget lint warnings by adding focusable to true.
A widget that is declared to be clickable but not declared to be focusable is not accessible via the keyboard. we should add the focusable attribute as well.

There are these warnings in two XML files named `fragment_c

[2019-05-25 06:42] RajaVamsi11 opened #2661 "Android perfomance lint warnings"
**Summary**

When one inspects the project they can find performance lint warnings. They include many things like Obsolete params, Long vector paths, Static field leaks and many more. You can refer the below screenshot.

![Screenshot from 2019-05-25 12-09-55](https://user-images.githubusercontent.com/30550059/58365740-2e8bc300-7ee6-11e9-9ab2-4568d7c31ca6.png)

We must remove these lint warnings to

[2019-05-25 08:26] vanshikaarora commented on #2605
@huzaifaiftikhar Are the symbols very frequently used while filling these fields? If not, then I think that just one spinner for all could a better option(position of this can be decided according to convenience).

Rest I leave it upon the opinion of other community members, to decide. And I'll modify accordingly:)

[2019-05-25 09:12] vanshikaarora commented on #2645
@teolemon @deniger @huzaifaiftikhar for the To-Do item:

[code]

![Screenshot from 2019-05-25 14-37-33](https://user-images.githubusercontent.com/34261945/58367240-c693a780-7efa-11e9-8c7c-5771619d85b4.png)

This is the conversion system that is followed, could you please help me where can I info of the Vitamin present or if not, then what can be done with this?

[2019-05-25 10:27] vanshikaarora commented on #429
Hey @teolemon Is the Issue already solved? I cannot see a popup here, or could you please help me reproduce the issue
![Screenshot_20190525_151012](https://user-images.githubusercontent.com/34261945/58368089-a74e4780-7f05-11e9-95b5-976fd73b0801.png)

[2019-05-25 10:57] huzaifaiftikhar commented on #2605
I'm pretty sure that these symbols are not used often. Keeping a single spinner can work provided that it doesn't create any confusion for the user.
I'm waiting for others to take a look at this.

[2019-05-26 07:22] vanshikaarora commented on #2605
@teolemon  @deniger @brandenfung @Karljoones Can you please pitch in your suggestions too? I'll add single spinner at the appropriate position, if you agree with it.

[2019-05-26 16:25] #2614 closed

[2019-05-26 16:25] #2618 closed

[2019-05-26 16:25] #2044 closed

[2019-05-26 16:25] #2245 closed

[2019-05-26 16:25] #2386 closed

[2019-05-26 16:25] #2395 closed

[2019-05-26 16:25] #2397 closed

[2019-05-26 16:25] #2616 closed

[2019-05-26 16:25] #2648 closed

[2019-05-26 16:31] #2625 closed

[2019-05-26 16:31] #2627 closed

[2019-05-26 16:32] #2628 closed

[2019-05-26 19:03] VaiTon commented on #2643
It works for me 😮

[2019-05-26 19:33] teolemon opened #2664 "Plugin [id: 'org.sonarqube', version: '2.7'] was not found"
[code]

[2019-05-27 13:55] teolemon commented on #2165
@deniger I just discussed with @stephanegigandet and we agreed it would be way more sane for server space to have server-side cropping, rather than filling the hard-drives with duplicates.

[2019-05-27 16:21] #2654 closed

[2019-05-27 16:22] #2652 closed

[2019-05-27 16:51] #2661 closed

[2019-05-27 16:53] #2656 closed

[2019-05-27 16:56] #2660 closed

[2019-05-27 17:03] deniger commented on #2605
IMHO, i'll try to do something like that but I will let @teolemon gives his feedback :)
![image](https://user-images.githubusercontent.com/47569605/58432304-f638e000-80b1-11e9-842d-dbabe14f0b8e.png)

If it's the solution, the code should be organized to avoid duplicated block ....

[2019-05-27 17:42] teolemon opened #2668 "[Bottom Bar] Some devices don't show the labels below the icons"
![image](https://user-images.githubusercontent.com/1689815/58433406-7877d300-80b7-11e9-9030-9c6fefc76267.png)

[2019-05-28 06:53] RajaVamsi11 opened #2669 "Register KeepAliveService in AndroidManifest file"
**Summary**
When I inspected the whole project in Android studio it shows this in Android Lint Correctness warnings.
For `KeepAliveService.java`

![screenshot from 2019-03-03 19-39-29](https://user-images.githubusercontent.com/30550059/53696505-876b2400-3ded-11e9-9aa2-911355017b1f.png)

As our service is not registered in Manifest file, I am going to make it registered in the manifest file using t

[2019-05-28 07:04] RajaVamsi11 opened #2671 "Update the compile and target SDK version"
**Summary**

The compileSdkVersion and targetSdkVersion which are set to versions 27 and 27, respectively, must be changed to 28( Android Pie) as the latest Android APIs must be used to make use of the latest features.

[2019-05-28 07:16] RajaVamsi11 opened #2673 "Use apply() on SharedPreferences instead of commit()"
**Summary:**

Presently SharedPreferences is using commit() method to write its data on SharedPreferences in the below code:

                        editor = pref.edit();
                        editor.putBoolean(IS_FIRST_TIME_LAUNCH, isFirstTime);
                        editor.commit();

The commit() method should be replaced with apply() method because commit blocks and writes its data to pers

[2019-05-28 07:56] #2673 closed

[2019-05-28 10:58] teolemon opened #2675 "Coke in German on a French Device"
![image](https://user-images.githubusercontent.com/1689815/58473149-32b71b00-8148-11e9-89e7-77ff28422b6c.png)

[2019-05-28 10:59] teolemon opened #2676 "Disable autocomplete in field "product name""
![image](https://user-images.githubusercontent.com/1689815/58473206-537f7080-8148-11e9-8881-95b321fc140d.png)

No name autocomplete. It seems to think it has to fill a person's detail

[2019-05-28 11:00] teolemon opened #2677 "I should not have to wait for the product to upload (esp. when I have no or little network)"
![image](https://user-images.githubusercontent.com/1689815/58473263-6eea7b80-8148-11e9-85f8-db614fe81ea6.png)

[2019-05-28 11:00] teolemon commented on #2677
It should save the product immediately, attempt to upload it in the background, and notify me if there are any conflicts to solve

[2019-05-28 11:01] teolemon opened #2678 "Image not displayed properly in offline mode"
I went back to an offline mode product, and I can't see nor click on  the image

![image](https://user-images.githubusercontent.com/1689815/58473339-a22d0a80-8148-11e9-84e6-f476bff5da16.png)

[2019-05-28 11:02] teolemon opened #2679 "Disable dragging up in offline mode"
![image](https://user-images.githubusercontent.com/1689815/58473403-c8eb4100-8148-11e9-8f93-5a4153022e57.png)

[2019-05-28 11:05] teolemon opened #2680 "Disable dragging up on unknown product"

[2019-05-28 14:07] #2669 closed

[2019-05-28 14:14] vanshikaarora commented on #2677
@teolemon in this issue shouldn't we detect if there is no network and display a dialog "no network detected. Try re-connecting your network" ?

[2019-05-28 14:32] vanshikaarora commented on #2679
Hey @teolemon I would like to work on this issue. Could you please translate the code to English. I couldn't get which Activity is this

[2019-05-28 14:40] teolemon commented on #2679
ContinuousScanActivity, I think.
The best way to approach it is to try scanning a book (both online and offline) and try dragging up.

[2019-05-28 14:44] vanshikaarora commented on #2679
Yeah thanks for this I tried it and got that it's empty in offline mode. I can work on this issue can you please assign this to me :)

[2019-05-28 16:36] teolemon opened #2683 "Add dark mode to the Android App"
Moving to a new bug

### Points fixed
- [x] Logo in homepage and in splash is light mode ([image](https://user-images.githubusercontent.com/1689815/85314655-1a840d80-b4ba-11ea-9e2d-ca6519625ec0.png))
- [x] Image in the `Search by` scan
- [x] Splash screen is still white (#2615 )
- [x] Grey on grey in preferences ([image](https://user-images.githubusercontent.com/12072630/85398179-1f49cf80-b555-11e

[2019-05-29 12:20] VaiTon opened #2684 "Shallow clone SonarCloud"
### Summary:

SonarCloud complains about the travis build being a shallow build.
### Screenshots:

![image](https://user-images.githubusercontent.com/12072630/58556411-4af86a00-821c-11e9-8e04-38aa56e5778c.png)

### How to fix
This code should be added to .travis.yml
[code]

[2019-05-29 14:45] deniger commented on #2664
I didn't see it on travis....is it on your computer only ?

[2019-05-30 03:55] vanshikaarora commented on #2668
Hey @teolemon I would like to work on this issue:)

[2019-05-30 03:56] vanshikaarora commented on #2668
Hey @teolemon I would like to work on this issue:)

[2019-05-30 04:32] vanshikaarora commented on #2679
Hey @teolemon @RajaVamsi11  I have raised a PR here #2685. Kindly review :)

[2019-05-30 06:46] RajaVamsi11 opened #2687 "'equals()' between objects of two inconvertible types"
**Summary**

Presently, in the project, there is `.equals()` method between the target and arguments which are of incompatible types i.e... between String and CustomValidatingEditTextView. While such a call might theoretically be useful, most likely it represents a bug.

These types of inconvertible types between two objects must be resolved.

[2019-05-30 06:58] RajaVamsi11 opened #2689 "Refactor all anonymous classes to lambda in the project."
**Summary**

Currently, a lot of anonymous classes are used throughout the project which can and should be converted to lambda expressions.

[2019-05-30 08:23] RajaVamsi11 opened #2691 "Explicit type can be replaced with <>"
**Summary:**

This issue focuses on replacing the explicit type with diamond type <>. The inspection gives the following result.
![Screenshot from 2019-03-20 16-15-22](https://user-images.githubusercontent.com/30550059/54678628-8b0be400-4b2b-11e9-9e71-adb4216075da.png)

This line of code :

                mAllergens = new ArrayList<AllergenName>();
can be converted into:

                 mAllerg

[2019-05-30 09:25] vanshikaarora commented on #2668
@teolemon Can you please tell which emulator are you using?

[2019-05-30 20:54] teolemon opened #2693 "Stuck on a loop in edit mode in trunk"
1. crop an image
2. Type on backspace to exit
![image](https://user-images.githubusercontent.com/1689815/58663900-c1d15800-832d-11e9-954c-839cd92811de.png)
3. Error:
![image](https://user-images.githubusercontent.com/1689815/58663928-d7468200-832d-11e9-8fd6-0cc847a11dc5.png)
4. You can't escape. You're stuck in edit mode Foreveeeer !

[2019-05-30 20:55] teolemon commented on #2693
@deniger I think we won't escape server side cropping.

[2019-05-30 20:57] teolemon opened #2694 "Never ask whether to add the product when coming from history"
Never ask whether to add the product when coming from history (or search results by the way)

![image](https://user-images.githubusercontent.com/1689815/58663998-052bc680-832e-11e9-929f-da9c97c2cf94.png)

This happens when there's no or little network. The app wants to be helpful. It would make sense if we had a local list of existing products like implemented in the offline PR

[2019-05-30 20:57] teolemon opened #2695 "The green co2 label is displayed for a product without ingredients. TO BE CLOSED"
![image](https://user-images.githubusercontent.com/1689815/58664114-4de37f80-832e-11e9-815a-949391ad81f8.png)
![image](https://user-images.githubusercontent.com/1689815/58664130-5340ca00-832e-11e9-8216-d6b2eb7130b7.png)

[2019-05-31 06:54] vanshikaarora opened #2696 "In case of no internet connection tapping on any product in History shoukd display a proper error message"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-06-01 14:02] teolemon opened #2698 "OCR doesn't work on a French product when the app (and possibly the system) are in English"
OCR doesn't work on a French product when the app (and possibly the system) are in English

[2019-06-02 06:07] vanshikaarora commented on #2695
Hey @teolemon I would like to work on this issue can you please help. Is there any object containing ingredient information in the SummaryProductFragment

[2019-06-02 06:08] vanshikaarora commented on #2668
@teolemon Can you please tell which emulator are you using?

[2019-06-02 06:14] vanshikaarora commented on #2696
@teolemon  @deniger @VaiTon I have solved this issue here #2700. Can you please review:)

[2019-06-02 09:38] teolemon commented on #1659
@vanshikaarora I was actually thinking about additives in the product view. That will teach me to do more explicit bugs :-)

[2019-06-02 15:04] teolemon commented on #2696
Why should a popup appear ? Most likely the user knows that she or he is offline or has poor network. I'm not quite sure of the value a popup like this brings to the table.

[2019-06-02 15:37] VaiTon commented on #2696
Otherwise the user will never know why nothing is happening, it's just a friendly reminder that the app still got his input.

[2019-06-02 18:30] grrrrr opened #2701 "3.1.6: no longer offering to crop or diplay photos after taking them"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2019-06-03 04:42] serpico opened #2702 "[Question] new release precedence "policy" between F-Droid and Google Play Store?"
I changed phone recently so I am a little fuzzy on the details, however I kinda remember I subscribed to the beta version program on Play Store since the F-Droid version was behind at the time.
Now I can't seem to find the beta version on Play Store ( version 3.1.5 installed  )  while 3.1.6 has been on F-Droid for 4 days...

Which release "canal" should I preferably use if I want the most up-to-da

[2019-06-03 06:37] teolemon commented on #2702
We usually release F-Droid a bit early.
There might be exceptions, but it's usually:
beta-testing on the playstore beta, stable release on F-Droid, stable release on the PlayStore.

[2019-06-03 07:46] #2691 closed

[2019-06-03 08:13] deniger opened #2703 "static field ProductFragment.productState should be removed"
+ This field is set each time a product is opened
+ it's used in BaseFragment#getStateFromActivityIntent :(
+ The full workflow should be revisited to remove this field

[2019-06-03 08:55] deniger commented on #2695
Same issue in the PR: https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2666

Product code: 20211394

[2019-06-03 09:04] deniger commented on #2695
@teolemon:

https://world.openfoodfacts.org/api/v0/product/20211394.json?fields=environment_impact_level_tags

The field environment_impact_level_tags is equals to en:low. Is it normal ?

[2019-06-03 09:05] #2687 closed

[2019-06-03 09:05] deniger commented on #2687
solved in a previous PR

[2019-06-03 09:28] deniger commented on #2693
You can't escape if you try to save your changes with the too small image, correct ?
In this case the user should discard his changes or take a new photo.

Another solution could be to check the image before the user click on crop and reject the modification...

[2019-06-03 09:33] deniger commented on #2693
What is the minimum allowed size  of the image ?

[2019-06-03 12:51] deniger commented on #2695
It's a server issue...

[2019-06-03 13:55] #1659 closed

[2019-06-04 08:33] vanshikaarora commented on #2696
Yeah I felt the same. I have added a toast [here](https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2700). @teolemon If you think that toast is better shall I rename this Issue?

[2019-06-05 19:41] #2410 closed

[2019-06-05 19:46] deniger commented on #2701
Should be fixed with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2705
A preference is now available:
![image](https://user-images.githubusercontent.com/47569605/58985238-2a5f7f80-87db-11e9-8146-f60995d77daa.png)

[2019-06-05 19:49] deniger commented on #2694
should be fixed with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2705
If the exception is a IOException, just display a message

[2019-06-05 20:16] teolemon opened #2706 "/InputDispatcher: Window handle Window{c1473e0 u0 Splash Screen openfoodfacts.github.scrachx.openfood} has no registered input channel"
/InputDispatcher: Window handle Window{c1473e0 u0 Splash Screen openfoodfacts.github.scrachx.openfood} has no registered input channel

[2019-06-05 20:17] teolemon opened #2707 "openfoodfacts.github.scrachx.openfood E/libEGL: Driver indicates EGL 1.5 support, but does not have a critical API"
openfoodfacts.github.scrachx.openfood E/libEGL: Driver indicates EGL 1.5 support, but does not have a critical API

[2019-06-05 21:24] teolemon opened #2708 "E/BufferQueueProducer: [unnamed-32425-0] setMaxDequeuedBufferCount: 2 dequeued buffers would exceed the maxBufferCount (2) (maxAcquired 1 async 0 mDequeuedBufferCannotBlock 0)"
32425-3992/openfoodfacts.github.scrachx.openfood E/BufferQueueProducer: [unnamed-32425-0] setMaxDequeuedBufferCount: 2 dequeued buffers would exceed the maxBufferCount (2) (maxAcquired 1 async 0 mDequeuedBufferCannotBlock 0)

[2019-06-06 12:48] #2689 closed

[2019-06-06 13:21] #2696 closed

[2019-06-06 19:43] RajaVamsi11 opened #2709 "Invalid Travis link in contributing.md"
**Describe the bug**

In contributing.md file, in the section of Pull Request Process the `Travis` link is not working. It should be replaced with the working link i..e,

                https://travis-ci.org/openfoodfacts/openfoodfacts-androidapp

[2019-06-07 06:28] RajaVamsi11 opened #2711 "Unnecessary boxing on Float value in QuantityParseUtil.java"
**Summary**
In QuantityParseUtil.java file, there is unnecessary boxing on float value..e, wrapping of primitive types in objects.
This line of code:

                   return Float.valueOf(result.floatValue());

Can be replaced with this:

                    return result.floatValue();

Explicit manual boxing is unnecessary under Java 5 and newer and can be safely removed.

[2019-06-07 12:51] #2711 closed

[2019-06-07 12:51] #2709 closed

[2019-06-07 18:12] VaiTon commented on #2357
Also it doesn't show fields like Polyols

[2019-06-07 18:21] VaiTon commented on #2357
How could we get relations between them? (I'm thinking of minerals, vitamins, etc...) @teolemon

[2019-06-07 18:27] VaiTon commented on #2357
Also, if we create a map at runtime, we should change all occurrences like this
[code]

[2019-06-08 14:28] vanshikaarora opened #2715 "Document java files which require documentation"
### Description

The following java files need documentation:

- [ ] Common API Manager.java
- [ ] OpenFoodAPIClient.java
- [ ] WikidataApiClient.java
- [ ] CategoryRepository.java
- [ ] FileDownloader.java
- [ ] CategoryFragmentViewModel.java
- [ ] AdditiveFragmentHelper.java

_Please comment name of few more classes that needs documentation_

[2019-06-08 15:05] RajaVamsi11 commented on #2715
@vanshikaarora There are many files in the whole project which requires documentation.

[2019-06-08 15:18] vanshikaarora commented on #2715
@RajaVamsi11 Can you please add more suggestions to the list :)

[2019-06-08 18:43] RajaVamsi11 commented on #2715
@vanshikaarora Instead of naming all java files here we can create different issues for different packages like a dagger, jobs, models, etc.,

[2019-06-08 18:44] RajaVamsi11 opened #2717 "Document the files in openfood/category package"
**Summary:**

Document the files in openfood/category package: [https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/category](https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/category)

[2019-06-08 18:44] RajaVamsi11 opened #2718 "Document the files in openfood/dagger package"
**Summary**

Document the files in openfood/dagger package: [https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/dagger](https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/dagger)

[2019-06-08 18:44] RajaVamsi11 opened #2719 "Document the files in openfood/fragments package"
**Summary**

Document the files in openfood/fragments package : [https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments](https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments)

[2019-06-08 18:44] RajaVamsi11 opened #2720 "Document the files in openfood/jobs package"
**Summary**

Document the files in openfood/jobs package: [https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/jobs](https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/jobs)

[2019-06-08 18:45] RajaVamsi11 opened #2721 "Document the files in openfood/models package"
**Summary**

Document the files in openfood/models package: [https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/models](https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/models)

[2019-06-08 18:45] RajaVamsi11 opened #2722 "Document the files in openfood/network package"
**Summary**

Document the files in openfood/network package: [https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/network](https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/network)

[2019-06-08 18:45] RajaVamsi11 opened #2723 "Document the files in openfood/repositories package"
**Summary**

Document the files in openfood/repositories package: [https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories](https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/repositories)

[2019-06-08 18:46] RajaVamsi11 opened #2724 "Document the files in openfood/utils package"
**Summary**

Document the files in openfood/utils package: [https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils](https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils)

[2019-06-08 18:46] RajaVamsi11 opened #2725 "Document the files in openfood/views package"
**Summary**

Document the files in openfood/views package: [https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/views](https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/views)

[2019-06-09 07:38] vanshikaarora commented on #2719
Thanks for creating individual packages @RajaVamsi11. I am currently working on few of the classes and will send a PR soon :)

[2019-06-09 07:38] vanshikaarora commented on #2720
Thanks for creating individual packages @RajaVamsi11. I am currently working on few of the classes and will send  a PR soon :)

[2019-06-09 07:38] vanshikaarora commented on #2721
Thanks for creating individual packages @RajaVamsi11. I am currently working on few of the classes and will send  a PR soon :)

[2019-06-09 07:39] vanshikaarora commented on #2722
Thanks for creating individual packages @RajaVamsi11. I am currently working on few of the classes and will send  a PR soon :)

[2019-06-09 07:39] vanshikaarora commented on #2724
Thanks for creating individual packages @RajaVamsi11. I am currently working on few of the classes and will send  a PR soon :)

[2019-06-09 07:39] vanshikaarora commented on #2725
Thanks for creating individual packages @RajaVamsi11. I am currently working on few of the classes and will send  a PR soon :)

[2019-06-09 07:39] vanshikaarora commented on #2717
Thanks for creating individual packages @RajaVamsi11. I am currently working on few of the classes and will send  a PR soon :)

[2019-06-09 07:52] RajaVamsi11 commented on #2725
@vanshikaarora There are many packages to work on. So don't work on all packages at a time. Complete one package documentation and move on to next package. So can you please comment on one package in which you are working presently.
After completing that package, you can document another one.

[2019-06-09 07:54] RajaVamsi11 commented on #2720
@vanshikaarora please refer my comment in #2725

[2019-06-09 07:56] RajaVamsi11 commented on #2720
@teolemon @deniger I am currently working on this issue.

[2019-06-09 08:18] vanshikaarora commented on #2725
@RajaVamsi11 I have cuurently done the network package and also while working with #271. I have gone through the fragment package :). I'll raise a PR for these shortly.

[2019-06-09 08:20] vanshikaarora commented on #2718
@RajaVamsi11 the dagger package has mostly interfaces does it needs a documentation?

[2019-06-09 09:02] RajaVamsi11 commented on #2718
@vanshikaarora Let's leave it to mentors. @deniger @teolemon Whar are your views on the dagger package documentation.

[2019-06-09 15:21] teolemon opened #2729 "java.lang.NullPointerException - onFieldByLanguageResponse"
**Crash**
[code]

**Smartphone (PlayStore bug report) :**
 - Device: Samsung Galaxy A5(2017) (a5y17lte)
 - OS: Android 8.0
 - Version 316

[2019-06-10 16:35] RajaVamsi11 commented on #2725
@teolemon @deniger I am currently working on this issue.

[2019-06-10 19:27] VaiTon commented on #2604
Is this still an issue?

[2019-06-10 19:42] VaiTon commented on #2695
Can we close this?

[2019-06-10 19:42] deniger commented on #2695
Yes

---- On Mon, 10 Jun 2019 21:42:21 +0200 notifications@github.com wrote ----

Can we close this?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-11 09:29] mythio commented on #469
Is this fixed?

[2019-06-12 09:38] #2671 closed

[2019-06-12 09:46] teolemon commented on #2695
Fixed server side. Closing

[2019-06-12 09:46] #2695 closed

[2019-06-12 19:16] Flint4 opened #2735 "App language resets to OS language when scanning a product"
When scanning a product, the app resets its language to the language of the OS. This happens when a different language is choosen in OFF than in the OS.
Example: Phone OS in English, OFF language is set to German. After product scan OFF language is English again.

Steps to reproduce the behavior:
1. Go to Preferences > Languages
2. Choose a language which is different from your OS
3. Return to the

[2019-06-13 08:14] teolemon commented on #2729
![image](https://user-images.githubusercontent.com/1689815/59415601-119b2f00-8dc4-11e9-9c94-33322f04cfa1.png)

[2019-06-13 09:40] VaiTon opened #2736 "Cannot add photos, camera crash"
**Describe the bug**
When I try to open the camera it makes me take the photo but then returns to the product screen without doing nothing.
**To Reproduce**
Steps to reproduce the behavior:
1. Open a product without images
2. Click on add image
3. Look at Android Studio Log

**Smartphone (please complete the following information):**
 - Device: Huawei p8 lite 2017
 - OS: Android 8
 - Browser: Chro

[2019-06-13 14:31] teolemon opened #2737 "The non-clickable button on top of the scan card is confusing users"
The non-clickable button on top of the scan card is confusing users. We could either remove it completely or expand the card when it's clicked.
Also, when the product does not exist, we should make clear that the card can be clicked.

[2019-06-13 15:45] #2694 closed

[2019-06-13 15:45] #2701 closed

[2019-06-13 16:48] VaiTon commented on #203
https://developer.android.com/platform/technology/app-bundle

[2019-06-14 06:53] #2684 closed

[2019-06-14 07:05] deniger opened #2740 "Migrate to androidx"
androidx will replace support library
https://developer.android.com/jetpack/androidx

[2019-06-14 07:46] teolemon opened #2741 "PLR tracker bug"
[code]

[2019-06-14 07:46] teolemon commented on #2741
- [ ]

[code]

[2019-06-14 07:47] teolemon commented on #2741
[code]

[2019-06-14 07:47] teolemon commented on #2741
[code]

[2019-06-14 07:48] teolemon commented on #2741
[code]

[2019-06-14 07:48] teolemon commented on #2741
[code]

[2019-06-14 07:48] teolemon commented on #2741
[code]

[2019-06-14 07:49] teolemon commented on #2741
[code]

[2019-06-14 07:49] teolemon commented on #2741
[code]

[2019-06-14 07:49] teolemon commented on #2741
[code]

[2019-06-14 07:50] teolemon commented on #2741
[code]

[2019-06-14 07:50] teolemon commented on #2741
[code]

[2019-06-14 07:50] teolemon commented on #2741
[code]

[2019-06-14 07:50] teolemon commented on #2741
[code]

[2019-06-14 07:51] teolemon commented on #2741
[code]

[2019-06-14 07:51] teolemon commented on #2741
[code]

[2019-06-14 07:51] teolemon commented on #2741
[code]

[2019-06-14 07:52] teolemon commented on #2741
[code]

[2019-06-14 07:52] teolemon commented on #2741
[code]

[2019-06-14 07:52] teolemon commented on #2741
[code]

[2019-06-14 10:06] teolemon opened #2743 "The app displays a calorie less that the value in the edit mode"
The app displays a calorie less that the value in the edit mode
![image](https://user-images.githubusercontent.com/1689815/59501939-e20c2580-8e9c-11e9-9687-ea62fdf0d5b2.png)

![image](https://user-images.githubusercontent.com/1689815/59501919-d9b3ea80-8e9c-11e9-9cc1-a866acfea9bc.png)

[2019-06-14 10:54] teolemon opened #2744 "Missing units in the wild"
![image](https://user-images.githubusercontent.com/1689815/59504557-81341b80-8ea3-11e9-801d-7e79cce1b2c9.png)

[2019-06-14 10:55] teolemon commented on #2744
I need to double-check the version. He might be using an outdated dev build.

[2019-06-14 16:46] teolemon opened #2746 "Improvements to the new image selector"
- [ ] Add the ability to report images in the new image selector

- [ ] Add a button to open product edit view and launch the OCR (on the selected ingredient image, and in the matching language)

- [x] Timestamp the selectable images so that the user can select the most recent possible

- [x] Allow in settings to replace native languages names by langcodes (I have a hard time finding Bulgarian, wr

[2019-06-14 16:51] teolemon commented on #2746
![image](https://user-images.githubusercontent.com/1689815/59524961-6b3f4e80-8ed5-11e9-8c60-c5e205c0f3d9.png)

[2019-06-16 12:55] teolemon opened #2747 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.views.product.summary.SummaryProductFragment.refreshView"
[code]

[2019-06-16 12:56] teolemon commented on #2747
![image](https://user-images.githubusercontent.com/1689815/59564429-e1af8e00-9046-11e9-8f38-5bf506505354.png)

[2019-06-16 12:58] teolemon opened #2748 "java.lang.IllegalStateException openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity$2.onSuccess"
[code]

[2019-06-16 12:59] teolemon commented on #2748
![image](https://user-images.githubusercontent.com/1689815/59564455-4b2f9c80-9047-11e9-8717-cfadee63ec10.png)

[2019-06-16 13:02] teolemon commented on #596
This bug has been obsoleted as the view has been rewritten

[2019-06-16 13:02] #596 closed

[2019-06-16 13:02] teolemon commented on #1545
fixed

[2019-06-16 13:02] #1545 closed

[2019-06-16 13:03] teolemon commented on #2164
Fixed by @deniger in some other way

[2019-06-16 13:03] #2164 closed

[2019-06-16 13:03] teolemon commented on #2165
Fixed by @deniger

[2019-06-16 13:03] #2165 closed

[2019-06-16 13:04] teolemon commented on #2396
fixed by @deniger

[2019-06-16 13:04] #2396 closed

[2019-06-16 13:05] teolemon commented on #2502
fixed in the latest version, for product with existing images.

[2019-06-17 08:11] RajaVamsi11 opened #2749 "Remove commented code from the project"
**Summary:**

As Ferd Deniger said, we can remove the commented code lines from the project to make to clean, I am going to work on this issue.
Here is the [link](https://sonarcloud.io/project/issues?id=openfoodfacts_openfoodfacts-androidapp&resolved=false&rules=squid%3ACommentedOutCodeLine&types=CODE_SMELL) for further details of commented code using Sonar Cloud.

[2019-06-17 10:21] teolemon opened #2752 "Fix the Service Manager"
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2750/files#diff-ecfca09ce3e9da0edcf46142aa63eeaeL37

[2019-06-17 10:52] teolemon opened #2753 "Selecting ingredients crashes the app"
**Describe the bug**
Selecting ingredients crashes the app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 6130743016779
2. Click on ingredients tabs
3. Select the ingredient list
4. See crash

[code]
**Smartphone (please complete the following information):**
 - Device: Google Pixel 1
 - OS: Android 9
 - Version 317

[2019-06-17 11:31] teolemon commented on #1979
fixed by @ripetrescu , thanks :-)
closing

[2019-06-17 11:31] #1979 closed

[2019-06-17 11:37] grrrrr commented on #2701
thank you @deniger that works perfectly.

[2019-06-17 12:29] teolemon commented on #2747
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java#L176

[2019-06-17 12:54] deniger commented on #2753
will bar difficult to solve as only Android classes are related to this issue...

[2019-06-17 19:24] teolemon opened #2756 "It is possible to make the view jump by reclicking on "Scan" in the bottom bar"
It is possible to make the view jump by reclicking on "Scan" in the bottom bar.
It should stay stable, and not reopen (or seem to reopen) 20 views.

[2019-06-18 09:44] deniger commented on #2753
Fixed by #2751

[2019-06-18 09:50] teolemon commented on #2753
thx. Not sure why it's not auto-closing.
Closing

[2019-06-18 09:50] #2753 closed

[2019-06-18 09:55] teolemon commented on #2629
[code]

[2019-06-18 10:05] #2749 closed

[2019-06-18 10:51] teolemon commented on #2629
https://world.openfoodfacts.org/data/invalid-barcodes.json

[2019-06-18 11:06] deniger commented on #2746
@teolemon do you have the product barcode ?

[2019-06-18 11:26] deniger commented on #2746
Could it be a solution ?
![image](https://user-images.githubusercontent.com/47569605/59678430-b2c32480-91cc-11e9-9305-0f1fdd9d63b2.png)

[2019-06-18 11:31] deniger commented on #2746
report images / ocr we should add 2 new buttons in this view....

[2019-06-18 11:33] teolemon commented on #2746
yup for the selector 👍
product with null, example: 7750526000307 https://barcode.tec-it.com/en/EAN13?data=7750526000307

[2019-06-18 11:34] deniger commented on #2746
The product has no available name...

![image](https://user-images.githubusercontent.com/47569605/59678889-d470db80-91cd-11e9-8214-4ff60d7d053a.png)

[2019-06-18 11:36] deniger commented on #2746
https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=7750526000307

[2019-06-18 11:40] deniger commented on #2746
If not image selected, the icon is:
![image](https://user-images.githubusercontent.com/47569605/59679260-a344db00-91ce-11e9-88bb-b06e5b1ff1bf.png)

[2019-06-21 08:00] deniger opened #2760 "Remove unused resources"
Use the Refactor action "remove unused resources" from Android studio to track all unused resources:

![image](https://user-images.githubusercontent.com/47569605/59907382-3f5b2600-940b-11e9-9f4b-c546701711eb.png)

[2019-06-22 10:28] teolemon opened #2761 "ANR related to the ingredients taxonomies"
![image](https://user-images.githubusercontent.com/1689815/59962691-20cb5c80-94e9-11e9-8385-9895d29101e5.png)
![image](https://user-images.githubusercontent.com/1689815/59962701-36408680-94e9-11e9-801b-421817b6da67.png)

[2019-06-22 15:16] teolemon opened #2762 "android.system.GaiException libcore.io.Linux.android_getaddrinfo"
[code]

[2019-06-22 15:17] teolemon commented on #2762
![image](https://user-images.githubusercontent.com/1689815/59965663-99deaa00-9511-11e9-8bb4-3ea4af8a8a91.png)

[2019-06-22 17:47] teolemon opened #2763 "Duplicated bottom bar in some cases"
![image](https://user-images.githubusercontent.com/1689815/59967142-82f68280-9526-11e9-93b9-a8641d3d1d7f.png)

[2019-06-22 17:47] teolemon commented on #2763
@stephanegigandet any specific steps to reproduce ?

[2019-06-22 21:15] teolemon opened #2764 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.views.ProductImageManagementActivity.updateLanguageStatus"
[code]

[2019-06-23 05:57] RajaVamsi11 commented on #2760
@deniger Can I work on this issue?

[2019-06-23 06:07] RajaVamsi11 commented on #2760
@deniger I inspected the whole project for unused resources using Analyze option. It seems like they have been removed. Can you please confirm that these unused resources still exist?

[2019-06-23 06:38] RajaVamsi11 opened #2765 "Lambdas can be replaced with method reference"
**Summary:**
Lambdas can be replaced with method reference.
Lambda/method references syntax is not supported under Java 1.7 or earlier JVMs. As we are using Java 8 we can replace lambdas with method reference.

[2019-06-23 08:29] deniger commented on #2760
On Android studio, If you select the Res folder and launch the analyser, you should find some unused resources

---- On Sun, 23 Jun 2019 08:07:31 +0200 notifications@github.com wrote ----

@deniger I inspected the whole project for unused resources using Analyze option. It seems like they have been removed. Can you please confirm that these unused resources still exist?

—
You are receiving this b

[2019-06-23 08:40] teolemon opened #2767 "java.net.SocketTimeoutException com.android.org.conscrypt.NativeCrypto.SSL_do_handshake"
[code]

[2019-06-23 08:40] teolemon commented on #2767
![image](https://user-images.githubusercontent.com/1689815/59973690-52a0f980-95a3-11e9-806f-a479f7132412.png)

[2019-06-23 09:24] teolemon opened #2768 "Dutch tagline is not centered on every screen density"
![image](https://user-images.githubusercontent.com/1689815/81393899-656fde80-9121-11ea-87d0-798e21bc0041.png)
![image](https://user-images.githubusercontent.com/1689815/81393914-6b65bf80-9121-11ea-975c-0f0d9356c3c7.png)

[2019-06-23 09:34] teolemon opened #2769 "Ensure taxonomy loading doesn't make the app unresponsive"
Ensure taxonomy loading doesn't make the app unresponsive.
I filed yesterday a bug with ANRs #2761 that seem related to the ingredient taxonomy loading.
I just tested an old device that had just received a new version of the app, and it took 5 minutes to get a response for a scan.
I suspect the device was being overloaded with taxo update, and the result displayed once the operation was completed.

[2019-06-23 09:53] RajaVamsi11 commented on #2760
Found them @deniger. Can I proceed by removing all the unused resources?

[2019-06-23 09:54] teolemon opened #2770 "android.os.RemoteException com.android.server.am.ActivityManagerService.reportSizeConfigurations"
[code]
[code]

[2019-06-23 09:54] teolemon commented on #2770
![image](https://user-images.githubusercontent.com/1689815/59974541-aadcf900-95ad-11e9-911f-52dcd3688a9b.png)

[2019-06-23 10:17] deniger commented on #2760
Let's try.
Your should test all the flavor then

---- On Sun, 23 Jun 2019 11:53:20 +0200 notifications@github.com wrote ----

Found them @deniger. Can I proceed by removing all the unused resources?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-23 10:26] stephanegigandet commented on #2761
The ingredients taxonomy is huge, and it is going to become more and more huge. What features of the app use it?

[2019-06-23 11:52] teolemon commented on #2761
@dobriseb

[2019-06-23 17:24] teolemon opened #2772 "Image crashing when clicked from compare mode"
Image crashing when clicked from compare mode

[code]

[2019-06-23 17:45] philippeauriach commented on #2748
Do not have time to test, but this error occurs essentially when activity is killed (onSavedInstance called) before return of the async method fetching the barcode info from the API.
In this case a simple fix could be to change `commit()` by `commitAllowingStateLoss()`

To test you might want to use the "force quit all activities" in the developer settings of an android phone, test the scan in bba

[2019-06-24 07:50] deniger commented on #2756
The scan was reopened in order to "clean" the scan ( usefull in debug mode).
I add a check to avoid it.

[2019-06-24 08:37] dobriseb commented on #2761
Well, when I first suggested my "diet add-on", the first things I was told was to make it with taxonomy.
For the moment nothing use the ingredients taxonomy but in a future (I'd like to be soon) you will be able to use Diet in OFF to be sure no forbiden ingredients are used into a product.

[2019-06-24 08:37] dobriseb commented on #2761
It could also be use to translate ingredients.

[2019-06-24 10:08] deniger commented on #2748
thanks @philippeauriach for the info.
I tried n times to reproduce the issue  ( low network, break point,...) but not able to reproduce this issue :(
I replaced ```commit()``` by ```commitAllowingStateLoss()```.

https://medium.com/inloopx/demystifying-androids-commitallowingstateloss-cb9011a544cc

[2019-06-24 10:10] deniger commented on #2764
add a new activity ( simple zoom): for offline activity and for images tab, the default action shout be a simple zoom with not other actions.

[2019-06-24 10:32] teolemon opened #2774 "The previous product is displayed on top of the scanned product card"
The previous product is displayed on top of the scanned product card:
`What the French` is seen on top of `Ben and Jerry's`, which was scanned after.
![image](https://user-images.githubusercontent.com/1689815/60012333-f78f0580-967b-11e9-90ae-72299dddec39.png)
![image](https://user-images.githubusercontent.com/1689815/60012347-fd84e680-967b-11e9-8fcc-88c6c7834ab3.png)

[2019-06-24 10:33] deniger commented on #2763
scan a product -> edit product -> press back

[2019-06-24 10:40] teolemon opened #2775 "Modifier for sodium isn't handled correctly"
Modifier for sodium isn't handled correctly

https://world.openfoodfacts.org/api/v0/product/3263670234459.json?fields=nutriments
![image](https://user-images.githubusercontent.com/1689815/60012801-29549c00-967d-11e9-9f24-8890925503d3.png)
![image](https://user-images.githubusercontent.com/1689815/60012817-31144080-967d-11e9-9413-1c9ed51b9f2a.png)
https://world.openfoodfacts.org/product/32636702344

[2019-06-24 14:10] deniger commented on #2774
didn't manage to reproduce. Maybe because the n-1 call ended after the n call...
A check has been added in the scan to avoid it:
if a new scan / update is started, we check if the previous one is finished ( disposed). If not, we dispose it.

[2019-06-24 14:13] deniger commented on #2775
in the json, the value is:
`sodium_modifier | "1_modifier"`

Is it normal ? How can we manage it ?

[2019-06-24 14:25] teolemon opened #2777 "Clicking on scan changes the language of the app"
Steps to reproduce
1. My device is in English.
2. My app is in English.
3. I change the language to French. The home and the bottom bar appears in French.
4. I click on Scan.
5. The scan view and the bottom bar appear in English.

[2019-06-24 14:36] teolemon commented on #2775
I'm not sure at all. that's the 1st time I see that @stephanegigandet

[2019-06-24 16:04] deniger commented on #2777
fixed

[2019-06-24 16:27] teolemon commented on #2777
testing the branch

[2019-06-24 17:04] #2756 closed

[2019-06-24 17:05] #2748 closed

[2019-06-24 17:05] #2763 closed

[2019-06-24 17:05] #2777 closed

[2019-06-25 07:39] teolemon commented on #2775
This seems like a server side issue. Migrating the issue.

[2019-06-25 07:51] teolemon opened #2779 "com.afollestad.materialdialogs.MaterialDialog$DialogException openfoodfacts.github.scrachx.openfood.views.listeners.CommonBottomListener.onNavigationItemSelected"
[code]

[2019-06-25 07:54] teolemon opened #2780 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.utils.LocaleHelper.getLocale"
[code]

Perhaps already fixed ?

[2019-06-25 07:56] teolemon opened #2781 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.views.product.ProductAttributeDetailsFragment.updateContent"
java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.views.product.ProductAttributeDetailsFragment.updateContent (ProductAttributeDetailsFragment.java:149)
  at openfoodfacts.github.scrachx.openfood.views.product.ProductAttributeDetailsFragment.onCreateView (ProductAttributeDetailsFragment.java:123)

[2019-06-25 08:51] teolemon opened #2782 "java.lang.IllegalStateException openfoodfacts.github.scrachx.openfood.fragments.HomeFragment.updateTextHome"
[code]

[2019-06-25 09:28] dobriseb commented on #2761
I'm going to suspend the default download and make it optionaly with an warning for the users.

[2019-06-25 11:27] dobriseb commented on #2761
PR 2785

[2019-06-25 14:54] teolemon opened #2786 "java.lang.NumberFormatException openfoodfacts.github.scrachx.openfood.models.Nutriments$Nutriment.getForAnyValue"
[code]

[2019-06-25 16:28] deniger commented on #2786
Is there any info about the product ?

[2019-06-25 16:41] teolemon commented on #2786
nope, but there's some weird stuff going on with Sodium. Might be caused by that. I'm going to try to reproduce by computing a portion on a product with the sodium bug.

[2019-06-25 19:12] #2786 closed

[2019-06-26 09:18] teolemon opened #2789 "The android app sends "chamorro" language for Swiss users"
https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=76404108
June 26, 2019 at 9:53:55 AM CEST - stephan8 Selected images (Added: nutrition_ch) - new image nutrition_ch : 4.10 - view

[2019-06-26 12:08] #2723 closed

[2019-06-26 12:14] #2251 closed

[2019-06-26 16:00] #2772 closed

[2019-06-26 16:00] deniger commented on #2772
Fixed with last PR

[2019-06-26 16:19] #2764 closed

[2019-06-26 16:20] deniger commented on #2764
Close with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2776

[2019-06-26 16:21] deniger commented on #2747
Fix with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2776

[2019-06-26 16:22] deniger commented on #2735
Should be fixed with https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2776

[2019-06-26 16:22] deniger commented on #2729
should be fixed as this method has been removed

[2019-06-26 16:26] #2765 closed

[2019-06-26 19:45] #2779 closed

[2019-06-26 19:45] #2780 closed

[2019-06-26 19:45] #2782 closed

[2019-06-27 08:35] teolemon opened #2792 "The new quantity system for list is buggy"
![image](https://user-images.githubusercontent.com/1689815/60250573-32d14480-98c7-11e9-97f3-04ec04e0663c.png)

[2019-06-27 08:35] teolemon commented on #2792
![image](https://user-images.githubusercontent.com/1689815/60250643-52686d00-98c7-11e9-96e3-ae91c1032717.png)

[2019-06-27 08:44] teolemon opened #2793 "Products added to a list end up in a buggy version of history"
![image](https://user-images.githubusercontent.com/1689815/60251275-885a2100-98c8-11e9-930d-1f457415b46c.png)

[2019-06-27 10:00] deniger commented on #2792
@teolemon  what should we do ? add a new line, truncate the quantity ?

[2019-06-28 06:58] teolemon opened #2796 "android.database.sqlite.SQLiteConstraintException org.greenrobot.greendao.database.StandardDatabaseStatement.execute"
[code]

[2019-06-28 13:03] #2613 closed

[2019-06-28 13:56] RajaVamsi11 opened #2798 "Remove groovy warnings in quality.gradle file"
**Summary:**

There is a groovy warning in quality. gradle file due to unnecessary semi column.

[2019-06-28 13:59] RajaVamsi11 commented on #2798
I think it has been resolved in some of the latest commits.

[2019-06-28 13:59] #2798 closed

[2019-06-28 16:05] #2760 closed

[2019-06-29 14:20] teolemon opened #2801 "android.content.res.Resources$NotFoundException at BaseFragment.createView Caused by: org.xmlpull.v1.XmlPullParserException"
[code]

[code]
[code]

[2019-06-29 14:23] teolemon opened #2802 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment.areRequiredFieldsEmpty"
[code]

[2019-06-29 14:30] teolemon opened #2803 "android.content.ActivityNotFoundException openfoodfacts.github.scrachx.openfood.views.customtabs.CustomTabActivityHelper.openCustomTab"
[code]

[2019-06-29 14:33] teolemon opened #2804 "java.lang.OutOfMemoryError openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity.onCreate"
java.lang.OutOfMemoryError

openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity.onCreate

[code]

[2019-06-29 14:38] teolemon commented on #2804
[logcat.txt](https://github.com/openfoodfacts/openfoodfacts-androidapp/files/3341980/logcat.txt)

[2019-06-29 16:23] teolemon opened #2805 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.views.YourListedProducts.onCreate"
[code]

[2019-06-29 16:25] teolemon opened #2806 "java.lang.IllegalStateException openfoodfacts.github.scrachx.openfood.models.BottomScreenCommon.showBottomSheet"
[code]

[2019-06-29 17:30] teolemon opened #2807 "android.content.res.Resources$NotFoundException at openfoodfacts.github.scrachx.openfood.views.adapters.ProductComparisonAdapter.onCreateViewHolder (ProductComparisonAdapter.java:114) at openfoodfacts.github.scrachx.openfood.views.adapters.ProductComparisonAdapter.onCreateViewHolder (ProductComparisonAdapter.java:54)"
[code]

[2019-06-30 14:17] teolemon opened #2809 "Handle plural singular in additive count"
![image](https://user-images.githubusercontent.com/1689815/60397911-78557200-9b52-11e9-95f5-20334dbdb43d.png)

[2019-07-01 11:35] teolemon commented on #2801
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/res/layout/fragment_nutrition_product.xml

[2019-07-03 08:01] deniger commented on #2807
with android 4 ?

[2019-07-03 08:04] teolemon commented on #2807
Yup

[2019-07-03 08:05] deniger commented on #2807
ok... It's certainly due to the usage of LeftDrawable... It's fixed on the master

[2019-07-03 11:12] teolemon opened #2810 "Bug in Gradle file"
![image](https://user-images.githubusercontent.com/1689815/60587216-2f8cfb80-9d94-11e9-957d-f0c88b6eff37.png)

[2019-07-03 11:59] teolemon opened #2811 "Make the image viewer variant agnostic"
Make the image viewer variant agnostic
` String baseUrlString = "https://static.openfoodfacts.org/images/products/";`

[2019-07-03 12:11] teolemon opened #2812 "Crash when opening a product with Open Pet Food Facts"
[code]

[2019-07-03 12:13] #2811 closed

[2019-07-03 14:56] #2809 closed

[2019-07-04 10:10] teolemon opened #2819 "Could not find class 'java.util.Locale$Builder',"
[code]
Android 4.1, 4.2…

[2019-07-04 10:25] teolemon opened #2820 "Trace from Crash with AsyncTasks on OpenPetFoodFacts"
2019-07-03 13:57:58.785 29126-29229/? E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1
    Process: org.openpetfoodfacts.scanner, PID: 29126
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$4.done(AsyncTask.java:399)
        at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:383)
        at java.util.concurrent.Futur

[2019-07-04 10:26] teolemon opened #2821 "Crash on product addition from trunk"
[code]

[2019-07-04 10:54] VaiTon commented on #1692
Is this still an encountered issue? @teolemon

[2019-07-04 18:10] VaiTon commented on #2740
Can close with #2759. @deniger @teolemon

[2019-07-04 18:16] VaiTon commented on #2526
@teolemon closed?

[2019-07-04 18:16] VaiTon commented on #2526
@teolemon closed?

[2019-07-04 18:20] VaiTon commented on #2134
This can be closed @teolemon @deniger

[2019-07-04 18:22] VaiTon commented on #1832
For the translations you can use [Crowdin ](https://crowdin.com/project/openfoodfacts) to correct them. @yarons

[2019-07-04 18:22] VaiTon commented on #1830
Is this still an issue?

[2019-07-04 18:23] VaiTon commented on #1778
I think this can be closed. @teolemon @deniger

[2019-07-04 18:28] #1778 closed

[2019-07-04 18:29] VaiTon commented on #1208
Any news?

[2019-07-04 19:30] yarons commented on #1832
Lol, translation is not the issue, I'm the only Hebrew translator anyway.

[2019-07-05 08:06] teolemon commented on #2821
![image](https://user-images.githubusercontent.com/1689815/60707689-93d2cb00-9f0c-11e9-95e0-abc1988520a9.png)
https://teamtreehouse.com/community/javalangnullpointerexception-attempt-to-invoke-virtual-method-void-androidwidgetprogressbarsetvisibilityint

[2019-07-05 09:04] teolemon opened #2822 "Appearence of the side menu changed"
![image](https://user-images.githubusercontent.com/1689815/60711215-a8b35c80-9f14-11e9-8bc5-56d3c28d38be.png)

[2019-07-05 15:39] VaiTon commented on #2736
Because of this issue I can't add any product. The app tells me that I must add at least a photo to save the product but when i take the photo this happens. @teolemon

[2019-07-06 18:43] VaiTon commented on #1717
@teolemon any news on this?

[2019-07-06 18:57] teolemon opened #2823 "Crash when clicking on Help complete categories in the category explorer"
Crash when clicking on Help complete categories in the category explorer
It should open a Chrome Custom Tab, instead it crashes the app
[code]

[2019-07-06 18:58] teolemon commented on #2823
I have this on the @dobriseb branch for diets, but I think it might happen on trunk.

[2019-07-06 20:18] PopeRigby opened #2824 "Bottom-bar UX suggestion"
I have two ideas of how to make the bottom-bar easier to use

1. Have a slide animation when switching between the sections on the bar
2. Make switching between the sections seamless by having the sections not move you into a screen you have to back out of.

[2019-07-11 17:50] deniger commented on #2822
Should be ok now:
![image](https://user-images.githubusercontent.com/47569605/61073154-08c66900-a415-11e9-96f1-ec9b83ed46fb.png)

[2019-07-11 17:56] deniger commented on #2805
should be fixed

[2019-07-11 17:57] #2781 closed

[2019-07-11 17:58] deniger commented on #2781
additive could be null: fixed

[2019-07-11 18:02] deniger commented on #2801
Did you test with the last version: fragment_nutrition_product.xml was containing some configuration not compatible with android 4 ( drawableLeft). Fixed 13 days ago.

[2019-07-11 18:24] deniger commented on #2819
I've just tested with android 4.2. Seems ok. When do you encounter this issue ?

[2019-07-11 18:29] #2821 closed

[2019-07-11 18:29] #2822 closed

[2019-07-11 18:29] #2823 closed

[2019-07-11 18:29] #2802 closed

[2019-07-12 06:45] teolemon opened #2828 "The bottom bar sometimes appears open in screenshot generation"
![image](https://user-images.githubusercontent.com/1689815/61107942-537dca80-a481-11e9-9d9f-253cdc7bf276.png)

[2019-07-12 06:46] teolemon opened #2829 "Product photos don't appear in screenshot generation"
![image](https://user-images.githubusercontent.com/1689815/61107993-6f816c00-a481-11e9-857c-097883f94254.png)
Product photos don't appear in screenshot generation (probably because the language of the view is wrong)

[2019-07-12 06:51] teolemon opened #2830 "New screenshots to generate (Comparison mode with 2 products)"
Comparison mode with 2 products:
![image](https://user-images.githubusercontent.com/1689815/61108191-f3d3ef00-a481-11e9-94d0-c2cb3c1aa704.png)

[2019-07-12 06:52] teolemon opened #2831 "New screenshots to generate (Search with a query term)"
New screenshots to generate (Search with a query term:
![image](https://user-images.githubusercontent.com/1689815/61108234-1108bd80-a482-11e9-86be-d6e8ae5f52d5.png)

[2019-07-12 06:53] teolemon commented on #2831
The overlay will be done with Sketch/a Python script. A screenshot before typing and after the search is complete would be useful

[2019-07-12 06:53] teolemon opened #2832 "New screenshots to generate (Additive card for Monosodium Glutamate)"
New screenshots to generate (Additive card for Monosodium Glutamate
![image](https://user-images.githubusercontent.com/1689815/61108284-35fd3080-a482-11e9-9a78-feaa7f1d68ca.png)

[2019-07-12 18:50] teolemon commented on #2832
![image](https://user-images.githubusercontent.com/1689815/61151596-9c1b9f00-a4e6-11e9-93c6-eee83583bed3.png)

[2019-07-13 19:11] teolemon opened #2835 "requested task be persisted for tag: 'upload_saved_product_job' but does not hold the permission android.permission.RECEIVE_BOOT_COMPLETED"
[code]

[2019-07-14 21:10] #2294 closed

[2019-07-15 07:14] RajaVamsi11 opened #2837 "Add trim() method to all EditText objects in the project"
**Summary:**

Add .trim() method to all EditText objects in the whole project. This method returns a copy of the string, with leading and trailing whitespace omitted. The Unicode value of space character is ‘\u0020’. The trim() method in java checks this Unicode value before and after the string, if it exists then removes the spaces and returns the omitted string.

**Example**
For example, In the

[2019-07-15 07:15] RajaVamsi11 commented on #2837
@teolemon @deniger Can I work on this issue?

[2019-07-15 07:28] deniger commented on #2837
@teolemon I believe the server is doing this job no ?
It could be used for locale data. Is there a way to add this feature without modifying all fragments/activities ( a kind of Aspects or something like that) ?

[2019-07-16 12:08] teolemon commented on #2837
Yes. The server is doing the trimming and normalization job. No need to add trimming everywhere.

[2019-07-17 05:52] RajaVamsi11 commented on #2837
@teolemon @deniger  Great to hear that server doing trimming and normalization. We can close this issue as it is not valid. Thank you for your responses.

[2019-07-17 05:52] #2837 closed

[2019-07-17 21:29] Karljoones commented on #1695
Closed due to issue being resolved.

[2019-07-17 21:29] #1695 closed

[2019-07-17 21:32] Karljoones commented on #264
Feature was added

[2019-07-17 21:32] #264 closed

[2019-07-17 21:36] Karljoones commented on #1617
Not relevant anymore.

[2019-07-17 21:36] #1617 closed

[2019-07-17 21:37] #1515 closed

[2019-07-17 21:38] #2134 closed

[2019-07-17 21:40] #2020 closed

[2019-07-18 18:28] Karljoones commented on #2388
@teolemon not too sure on how Crowdin works, should setting this to non-translatable in the base language remove this automatically?

[2019-07-20 09:22] VaiTon commented on #2805
@deniger can you find in which commit has it been fixed? For archive purpose 😝

[2019-07-22 09:09] teolemon commented on #2388
I'm wondering it it's not an iOS bug actually, that I filed in the wrong place. Moving it.

[2019-07-22 09:19] teolemon opened #2840 "Java.lang.ArithmeticException com.journeyapps.barcodescanner.CameraPreview.calculateFrames"
[code]
![image](https://user-images.githubusercontent.com/1689815/61621098-86d70b00-ac72-11e9-8bf3-062e24a89331.png)

[2019-07-22 09:21] teolemon commented on #2840
It seems there's a fix for this that hasn't been merged in the upstream library
https://github.com/journeyapps/zxing-android-embedded/pull/463/commits/0e7413e1f79389bc81ac255b510f7ca489fe2171

[2019-07-22 12:06] teolemon opened #2841 "java.lang.IllegalArgumentException android.support.v4.content.FileProvider.parsePathStrategy"
java.lang.IllegalArgumentException
android.support.v4.content.FileProvider.parsePathStrategy

[code]
[code]

[2019-07-22 12:06] teolemon commented on #2841
![image](https://user-images.githubusercontent.com/1689815/61631182-f3113900-ac89-11e9-8119-30e01857e702.png)

[2019-07-22 12:44] teolemon commented on #2805
@VaiTon @deniger I guess it's this commit: https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/91047ff249b73a533fbcf8dbb0ba10c6eb840853#diff-f378562123e744490d688914eaf3363f

[2019-07-22 19:51] chk1 opened #2842 "Crash when taking picture after changing product language"
**Steps to reproduce the behavior**
1. Scan a new product, tap add/edit to visit the editor
2. Tap camera icon to take a picture
3. Do not take and submit a picture, tap the back button
4. Change product language
5. Tap camera icon again, take picture, tap accept/checkmark
8. App crashes

**Smartphone**
 - Device: Xiaomi Redmi 4X
 - OS: LineageOS 15.1 / Android 8.1
 - Camera app: Open Camera v1.46

[2019-07-22 20:52] chk1 opened #2843 "Default product language should be a user setting"
**Is your feature request related to a problem? Please describe.**
My phone language is German, but I prefer the app language to be in English. I am able to set my country in settings, which is reflected in the "Countries where sold" default when editing, but product language defaults to English when adding a new product. Sometimes I forget to change this when adding a product, which requires me e

[2019-07-22 21:01] chk1 opened #2844 "Scan button in bottom menu should close product card"
**Is your feature request related to a problem? Please describe.**
After scanning a product and expanding the card to full view, the only way to return to the scan view is by swiping the card down from the top. Alternatively, tapping back returns to the "welcome screen" and I have to tap scan again. Tapping scan should return to scan mode immediately.

**Describe the solution you'd like**
The scan

[2019-07-24 14:25] teolemon commented on #2844
This is a sensible idea. Thanks @chk1 👍

[2019-07-24 14:34] teolemon opened #2845 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment.chipifyAllUnterminatedTokens"
[code]

[2019-07-24 14:34] teolemon commented on #2845
![image](https://user-images.githubusercontent.com/1689815/61802559-f85cb800-ae30-11e9-8f04-af3d598f587d.png)

[2019-07-24 14:36] teolemon commented on #2845
This happens when the user is leaving a view with a field that turns values in blue chips, but for some reason, values haven't been chipified yet (like he or she is in the middle of a word)

[2019-07-25 06:56] ozanhonamlioglu commented on #693
Hi

Please follow the build error and see what is crushes. In my case I changed every "android.aaa.bbb.ccc" which is incompatible or old libraries with "androidx.aaa.bbb.ccc". To see androidx version libraries search for google, you can find them in android's web page.

In my case changing those libraries removed all build fails but it was not enough for me because when I tried to run my app on de

[2019-07-31 13:19] sank20 commented on #2844
Hi, I'd like to take up this issue. I'll send a PR soon.

[2019-08-03 10:07] teolemon opened #2851 "Impossible to scroll beyond 10 items in lists"
Impossible to scroll beyond 10 items in lists. It's possible to add more than 10 items apparently, but impossible to scroll past the 10th item

[2019-08-06 15:39] SuperMeepBoy opened #2852 "Add label for vegetarian/vegan/palm products"
**Is your feature request related to a problem? Please describe.**
It is always a pain to shop when you're a vegan beginner. You have to read the whole package meaning first find the list of ingredients, then compare, read it twice to be sure etc. Moreover, when you're a complete beginner you may not know some things. Some additives aren't necessarily vegan (for example E101 if I make no mistake).

[2019-08-06 15:52] teolemon commented on #2852
`https://world.openfoodfacts.org/api/v0/product/3564700459447.json?fields=ingredients_analysis_tags,ingredients`

[2019-08-07 09:49] #2740 closed

[2019-08-07 09:54] teolemon commented on #2436
fixed by @deniger

[2019-08-07 09:54] #2436 closed

[2019-08-07 10:03] #1614 closed

[2019-08-07 10:04] #1330 closed

[2019-08-07 10:05] #730 closed

[2019-08-07 10:11] teolemon commented on #114
fixed by lists

[2019-08-07 10:11] #114 closed

[2019-08-07 10:15] #460 closed

[2019-08-08 10:12] teolemon opened #2853 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment.areRequiredFieldsEmpty"
[code]

[2019-08-08 10:17] teolemon opened #2854 "java.lang.ArrayIndexOutOfBoundsException openfoodfacts.github.scrachx.openfood.fragments.AddProductNutritionFactsFragment.b"
[code]

[2019-08-11 08:20] teolemon opened #2856 "We are restarting the camera too early."
**Describe the bug**
We are restarting the camera too early.

**To Reproduce**
0. Activate flash in the scanner
1. Scan an existing product
2. Slideup (the flash should disappear)
3. Click on the photo
4. Exit the photo view
5. The flash reappears before sliding down

[2019-08-11 12:09] teolemon opened #2857 "BottomNavigationView breaks the build"
[code]

[2019-08-12 13:55] #2844 closed

[2019-08-12 14:26] deniger commented on #2845
Should be fixed but impossible to reproduce...

[2019-08-13 12:09] #2854 closed

[2019-08-13 12:09] #2856 closed

[2019-08-13 12:09] #2845 closed

[2019-08-14 07:42] teolemon opened #2859 "Add a button on new product addition card"
![image](https://user-images.githubusercontent.com/1689815/63003110-c8c12e80-be77-11e9-9584-3f051e76d776.png)

[2019-08-14 07:52] teolemon opened #2860 "Move image taking buttons to 1st tab of product addition"
![image](https://user-images.githubusercontent.com/1689815/63003759-315cdb00-be79-11e9-8b12-d5df4018c15d.png)
Move (or possibly clone) image taking buttons to 1st tab of product addition

[2019-08-14 08:20] teolemon opened #2861 "Allow to add products from search in compare mode"
Allow to add products from search in compare mode. Asked by one user.

[2019-08-14 13:36] teolemon commented on #2852
monkey >> palm oil
vegan >> leaf
vegetarian >> egg

[2019-08-15 13:49] ripetrescu commented on #2852
Pushed against this branch https://github.com/openfoodfacts/openfoodfacts-androidapp/tree/vegetarian_vegan_palm

[2019-08-16 08:21] #2191 closed

[2019-08-16 08:24] #2533 closed

[2019-08-16 09:57] teolemon commented on #2238
![image](https://user-images.githubusercontent.com/1689815/63160022-08754b00-c01d-11e9-8ccf-005701087ad9.png)

[2019-08-17 11:13] #238 closed

[2019-08-18 16:01] mustaqmustu commented on #2851
@teolemon can I work on this issue?

[2019-08-19 09:21] teolemon opened #2864 "Cropping is broken when gestural navigation is enabled in Android Q"
**Describe the bug**
Cropping is broken when gestural navigation is enabled in Android Q. A crop too near the edge, and the Swipe back gesture will close the app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product
2. Click on the image
3. Click on the crop button
4. Crop from the side of the screen

**Smartphone (please complete the following information):**
 - Google Pixel 1
 -

[2019-08-19 09:27] teolemon opened #2865 "cannot find symbol result.updateName(ITEM_OBF, new StringHolder(getString(R.string.open_food_drawer)));"
[code]

[2019-08-20 11:59] Slawek234 opened #2867 "Default units for vitamins, fats and micronutrients."
When we add a Vitamin, fats, macro- microelements the default unit should be selected.

Current situation. The default unit is gram.
<a href='https://postimg.cc/K4cV6y9x' target='_blank'><img src='https://i.postimg.cc/K4cV6y9x/Screenshot-2019-08-20-13-28-35.png' border='0' alt='Screenshot-2019-08-20-13-28-35'/></a>

After entering the automatic units for the different nutrients.
<a href='https://p

[2019-08-22 06:23] ripetrescu commented on #2583
@teolemon just checked on my Pixel 2 with Android Q Beta (the latest one) and everything works as expected (no crashes) :)

[2019-08-24 00:44] VaiTon commented on #2851
Sure you can :)

[2019-08-24 14:05] VaiTon commented on #2238
Love it! <3

[2019-08-24 14:07] VaiTon commented on #2860
Why? Right now it's very organized.

[2019-08-24 14:10] VaiTon commented on #2865
Could you give us the environment to reproduce? :-)

[2019-08-24 15:47] teolemon commented on #2860
Because some people don't want to put 5 min of effort into a product. The bare minimum before they leave are the images
That way, when and if the person moves to the ingredient section, the OCR is ready.

[2019-08-27 08:57] teolemon opened #2870 "Add an in-app changelog"
- Add an in-app changelog that's triggered when opening the app after an upgrade (or series of upgrades) to let the user know what's new from the last time he/she used the app
- Proposed library to use: https://github.com/TonnyL/WhatsNew
- We can either hardcode it, or we can have a JSON file on the server, or somewhere in the code like @VaiTon suggested

[2019-08-29 13:50] deniger commented on #2857
With travis there is no error:
https://travis-ci.org/openfoodfacts/openfoodfacts-androidapp/jobs/576504241

I'll try

[2019-08-29 13:55] deniger commented on #2865
@teolemon Fixed with #2869. Correct ?

[2019-08-29 13:55] teolemon commented on #2865
yup, thanks :-)

[2019-08-29 13:55] #2865 closed

[2019-08-29 13:56] teolemon commented on #2857
mmh, the latest build works :-S

[2019-08-29 14:04] deniger commented on #2853
Line 898:
` Toast.makeText(OFFApplication.getInstance(), R.string.add_at_least_one_picture, Toast.LENGTH_SHORT).show();`

Can't understand how a NPE can be generated here...

[2019-08-29 14:06] teolemon commented on #2853
perhaps a dual install of org.openfoodfacts.scanner and openfoodfacts.github.scrachx.openfood ?

[2019-08-29 14:06] teolemon commented on #2853
(or something related to photo taking, since it's a photo taking button ?)

[2019-08-29 14:24] deniger commented on #2860
Do we clone or move the buttons to the first tab ?
this new feature is available in addition and in modificatio or only in addition mode ?

[2019-08-29 14:26] deniger commented on #2843
@teolemon  shall we use a default product language ?

[2019-08-29 14:43] deniger commented on #2820
For Open Pet Food Facts, the issue is that this query:
https://ssl-api.openpetfoodfacts.org/api/v0/product/3662852000255.json?fields=emb_codes_tags%2Cother_information%2Cvitamins_tags%2Ccustomer_service%2Crecycling_instructions_to_discard_en%2Cimage_nutrition_url%2Cnutriments%2Cother_information_en%2Ccustomer_service_en%2Cserving_size%2Cconservation_conditions%2Cwarning%2Cproduct_name_en%2Cwarning