[2017-01-10 14:16] teolemon opened #423 "Voice typing crashes the new branch"
[code]

[2017-01-10 14:19] teolemon opened #424 "Crash when opening history on new branch"
[code]

[2017-01-10 14:24] teolemon opened #425 "Add alert modal title is not translatable"
![image](https://cloud.githubusercontent.com/assets/1689815/21809628/da027de8-d748-11e6-900d-eb353fa451bc.png)

[2017-01-10 15:26] teolemon commented on #425
Actually an improper translation

[2017-01-10 15:26] #425 closed

[2017-01-11 09:57] teolemon opened #427 "Add a topbar in the "Connect or Register" screen"
Add a topbar in the "Connect or Register" screen

[2017-01-11 10:11] aleksejrs opened #428 "Open web pages in a custom browser"
Other apps open pages in IceCat, but OpenFood starts Chrome (which shows ToS).

[2017-01-11 10:13] aleksejrs commented on #323
0.4 still crashes (searched by name in Russian, clicked the result).

[2017-01-11 10:15] teolemon commented on #428
Does it switch apps or try to open a webview ?

[2017-01-11 10:17] aleksejrs commented on #428
Switch (a new window appears).

[2017-01-11 10:18] teolemon commented on #428
Ok. What is expected is an overlay with ChromeCustom tabs (for systems that have it) that falls back to a Webview (with the default system FOSS webview)

[2017-01-11 10:25] teolemon opened #429 "Transfer the allergen warning popup into the view"
From this:
![image](https://cloud.githubusercontent.com/assets/1689815/21844866/96797efc-d7f0-11e6-8d12-8dc5b2bfcf10.png)
To this
![image](https://cloud.githubusercontent.com/assets/1689815/21844851/86fc871c-d7f0-11e6-9fb4-8b9a92f5ad08.png)

[2017-01-11 10:28] teolemon commented on #410
![image](https://cloud.githubusercontent.com/assets/1689815/21844993/0fedc1ee-d7f1-11e6-9373-cbcd3e638045.png)

[2017-01-11 10:31] teolemon commented on #265
![image](https://cloud.githubusercontent.com/assets/1689815/21845080/7e9ed83a-d7f1-11e6-9d48-e27e2d17cdb1.png)

[2017-01-11 10:36] teolemon commented on #410
- Version number
- Contributors
- Open Source Licences
- Send your feedback
- Rate the app

[2017-01-11 10:46] teolemon opened #430 "More minimalistic loading screen"
From this:
![image](https://cloud.githubusercontent.com/assets/1689815/21845628/a1b229ce-d7f3-11e6-9df4-3bc1db86d727.png)
To this:
![image](https://cloud.githubusercontent.com/assets/1689815/21845612/97e58a6c-d7f3-11e6-9068-78d4d6311efb.png)

[2017-01-11 11:39] teolemon opened #431 "Crash when refining search from history view (new ux branch)"
[code]

[2017-01-11 12:02] teolemon opened #432 "Simplified Chinese and Brazilian Portuguese are not loaded properly"
Simplified Chinese and Brazilian Portuguese are not loaded properly while the languages are here. Probably related to the fact that they are not: pt and cn but pt_BR and cn_ZH

[2017-01-11 12:19] teolemon opened #433 "Ensure we are the referrer in Chrome custom tab"
As quoted in the Chrome Custom Tab guidelines:
[code]

[2017-01-11 12:19] teolemon commented on #428
Preparing for other browsers
Remember the user may have more than one browser installed that supports Custom Tabs. If there's more than one browser that supports Custom Tabs and none if them is the preferred browser, ask the user how she wants to open the link

    /**
     * Returns a list of packages that support Custom Tabs.
     */
    public static ArrayList getCustomTabsPackages(Context cont

[2017-01-11 12:20] teolemon commented on #428
Allow the user to opt out of Custom Tabs
Add an option into the application for the user to open links in the default browser instead of using a Custom Tab. This is specially important if the application opened the link using the browser before adding support for Custom Tabs.

[2017-01-11 12:21] teolemon commented on #428
https://developer.chrome.com/multidevice/android/customtabs#bestpractices

[2017-01-11 14:09] teolemon opened #434 "Replace NutriScore raster assets with svg version"
https://github.com/openfoodfacts/openfoodfacts-server/blob/5b43a3584b7843716870e2c349c6dc136bcef37f/html/images/misc/nutriscore-e.svg
https://github.com/openfoodfacts/openfoodfacts-server/blob/5b43a3584b7843716870e2c349c6dc136bcef37f/html/images/misc/nutriscore-d.svg
https://github.com/openfoodfacts/openfoodfacts-server/blob/5b43a3584b7843716870e2c349c6dc136bcef37f/html/images/misc/nutriscore-c.sv

[2017-01-11 14:10] teolemon opened #435 "Replace high low moderate images by vector version"
https://github.com/openfoodfacts/openfoodfacts-server/blob/5b43a3584b7843716870e2c349c6dc136bcef37f/html/images/misc/moderate.svg
https://github.com/openfoodfacts/openfoodfacts-server/blob/5b43a3584b7843716870e2c349c6dc136bcef37f/html/images/misc/low.svg
https://github.com/openfoodfacts/openfoodfacts-server/blob/5b43a3584b7843716870e2c349c6dc136bcef37f/html/images/misc/high.svg

[2017-01-11 14:18] teolemon opened #436 "Replace logo by vectorized version"
https://github.com/openfoodfacts/openfoodfacts-server/blob/master/html/images/misc/openfoodfacts-logo-no-tagline.svg

[2017-01-11 14:33] teolemon opened #437 "Replace drawer background by vector version"
We can change it if no vector can be done. But 2,9MB on a 8MB apk ?

https://github.com/openfoodfacts/OpenFoodFacts-androidApp/blob/master/app/src/main/res/drawable-hdpi/background_header_drawer.png

[2017-01-11 14:49] teolemon opened #438 "Drawer to update to 5.8.0"
https://github.com/mikepenz/MaterialDrawer/blob/develop/MIGRATION.md

[2017-01-11 14:52] teolemon opened #439 "Disable the drowdown"
https://github.com/mikepenz/MaterialDrawer/blob/develop/FAQ/accountheader_single_profile_without_dropdown.md

[2017-01-11 15:02] teolemon commented on #437
https://github.com/mikepenz/MaterialDrawer/blob/develop/app/src/main/res/drawable/header.jpg
34 ko. Much more sane

[2017-01-11 15:42] geocohn commented on #323
This happens when I use an emulator, and also on some (but not all) phones. I concur with @herau that DBFlow is a good alternative to Sugar ORM.

[2017-01-11 15:43] teolemon opened #440 "Apply shrinking guidelines"
https://developer.android.com/studio/build/shrink-code.html

[2017-01-11 15:46] itchix commented on #323
I'm testing GreenDAO on a new branch, and it works great for the moment

[2017-01-11 16:05] #438 closed

[2017-01-11 16:05] #437 closed

[2017-01-11 16:15] #397 closed

[2017-01-11 16:47] teolemon opened #441 "History still has old topbar color"
![image](https://cloud.githubusercontent.com/assets/1689815/21857506/fe5ecefc-d825-11e6-8516-627fc1a3c15a.png)

[2017-01-12 02:51] asmoth360 commented on #430
You should consider consulting your notifications :)

[2017-01-12 10:33] #441 closed

[2017-01-12 10:35] herau commented on #441
![screenshot_1484217272](https://cloud.githubusercontent.com/assets/2950666/21886241/364e2890-d8bb-11e6-8b6e-a0694c642cf9.png)

[2017-01-12 10:41] herau commented on #439
@teolemon
I'm ok with this idea but we have an `Manage account` item in the multi-accounts view

![screenshot_1484217580](https://cloud.githubusercontent.com/assets/2950666/21886427/ff967c52-d8bb-11e6-8779-b6bccb9e7888.png)

Maybe we can add this item in the user preference panel

![screenshot_1484217596](https://cloud.githubusercontent.com/assets/2950666/21886442/0a2f5ed6-d8bc-11e6-9b2f-fa1c52aa3

[2017-01-12 11:04] teolemon opened #443 "java.lang.RuntimeException: cancelAutoFocus failed java.lang.RuntimeException: cancelAutoFocus failed"
[code]

[2017-01-12 12:05] teolemon opened #444 "On a new product page, Photos just taken locally are not displayed"
Steps to reproduce:
1. Add a new product
2. You land on the new product page
3. The photos are not loaded, resulting in the empty grey dot.
4. The "no image" pixelated cross is present on the history.
5. Moving within the app eventually fixes it.

[2017-01-12 12:43] teolemon commented on #286
Added in strings. Needs conditional code

[2017-01-12 14:14] #427 closed

[2017-01-12 14:34] herau commented on #279
My first though will be to say that we have to define a fork per additional project (Beauty, Fashion).

I'll try to find oher open source projects which maybe has the same requirement (The same code base but multiple apps)

[2017-01-12 14:36] teolemon opened #445 "Offer to type barcode if no barcode is detected after 30s"
- Offer to type barcode if no barcode is detected after 30s in the Scan View.
- Also add an option to dismiss forever
- If this option is chosen, add a final info that you can always search by barcode.

[2017-01-12 14:49] herau commented on #279
if all the apps share the same code but only change for app names, app icons and themes i think it's ok to have the same code base.

[2017-01-12 14:51] teolemon commented on #279
there will be minor behaviour here and there (like some tabs in the product view, api urls…) but nothing that intrusive imo

[2017-01-12 14:54] herau commented on #279
what about the data model ? no différence between the both app?

maybe we could also exclude some resources with a flag: for exemple remove OBF resources when we build the OFF artifact; don't know if possible

[2017-01-12 14:55] teolemon commented on #279
We have fields added and removed (added: Period after opening plus ingredient detection) (removed: nutrition stuff)

[2017-01-12 14:57] herau commented on #445
I think the user will not wait 30 seconds :-) 5s / 10s may be more realistic ?

[2017-01-12 15:12] teolemon opened #446 "Disable the Nutriscore in Quickview for Open Beauty Facts"

[2017-01-12 16:35] #320 closed

[2017-01-12 16:42] #414 closed

[2017-01-13 09:53] teolemon opened #447 "Images sent are downsized (they shouldn' be, or not too much)."
https://de.openfoodfacts.org/images/products/730/040/012/2702/1.jpg
https://de.openfoodfacts.org/images/products/730/040/012/2702/2.jpg
```mikeh Images uploaded with the new app are still extreamly downsized```

[2017-01-13 09:57] teolemon opened #448 "Front photo disappears before send"
I was in offline mode yesterday in the subway, and tried to add a can of beer I found, as a demo.
- Took front,
- Took nutrition
- Tried to hit send. Popup: you're lacking an image.
- Switch back to nutrition. The front pic had disappeared, had to retake it before sending

[2017-01-13 10:13] teolemon opened #449 "Add a material touch to the history"
Use cards with square edges instead of rounded ones

![image](https://cloud.githubusercontent.com/assets/1689815/21926244/3c0f6336-d981-11e6-808f-a4e60670e62a.png)

[2017-01-13 14:35] herau commented on #449
maybe also use recyclerView (like with the search result) instead of a cardview ?

[2017-01-13 14:36] teolemon commented on #449
yes, actually more space efficient, and more consistent.

[2017-01-13 14:38] teolemon commented on #449
Also, replacing "OpenFood" by "History" as title

[2017-01-13 14:43] herau commented on #383
outdated

[2017-01-13 14:43] #383 closed

[2017-01-13 15:32] asmoth360 opened #450 "Picture is opened stretched"
When you tap a picture in the product view (product, ingredients or nutrition tab), it's displayed stretched to fill the screen. Then if you tap and try to "slide" it a little or zoom in, it comes back in a right way.

Note that the issue was not present in the last version, when the open / zoom was implemented first.

[2017-01-13 15:43] asmoth360 opened #451 "Additives inconsistencies between app and website"
I noticed the additives were now in red in the ingredients list, probably to match their "toxicity". Maybe the problem is not new but anyway now it says many additives are toxic, when on the website it's not.
Also, the additive E160aii  is not displayed at all in the app.

Example with the product 3103220033371 (https://fr.openfoodfacts.org/produit/3103220033371/tagada-l-originale-haribo) (sorry i

[2017-01-13 15:45] teolemon commented on #451
Another non-off source is used in the app. #149

[2017-01-13 15:48] asmoth360 opened #452 "Scan button not intuitive"
On the new home screen, I find the new "red camera button" not very intuitive. Nothing says it's the button to scan a barcode, instead it now looks like it takes a picture, which is not exactly its function.
In my opinion a button with "scan", a barcode logo or anything like this would be clearer, especially for a new user.

[2017-01-13 16:41] teolemon opened #453 "New proposed UX for allergen detector"
New UX to add an allergen, stolen from ConsoReglo

![screenshot_20161106-200504](https://cloud.githubusercontent.com/assets/1689815/21387414/d87681a8-c777-11e6-88d5-378b3b149705.png)

[2017-01-13 16:45] teolemon opened #454 "Extend additives system to all languages using the Open Food Facts API"
Extend additives system to all languages using the Open Food Facts API instead of the current CSV files that only cover English and French.

That will be a regression for the toxicity level, but those are not sourced, and not scalable in terms of languages.

https://world.openfoodfacts.org/additives.json
https://fr.openfoodfacts.org/additifs.json

(Those can be put in translatable strings to get t

[2017-01-13 17:13] herau commented on #452
it was the barcode icon for the first draft but we using already the camera icon for the left menu, so i switch to this one.

I agree with you opinion but i don't think the barcode will improve the understanding of the feature (maybe we have to create a tutorial which be displayed the first time the app is opened).

![screenshot_1484327510](https://cloud.githubusercontent.com/assets/2950666/219384

[2017-01-13 23:43] asmoth360 commented on #451
Wouldn't it be possible to use the same source?

[2017-01-13 23:46] asmoth360 commented on #453
Seems way better. Also this way there would be only real allergens? Currently the list is huge.

[2017-01-13 23:57] asmoth360 commented on #452
I like the barcode better. Why not put it in the left menu too?
Also a tutorial was not needed when there was a "scan" button before. I think if we need one now, it means it's less clear...
Out of curiosity, why did the button change to this one, is it to match the "official" material buttons or something like that?

[2017-01-14 09:19] herau commented on #452
indeed WE are trying to apply the material design guidelines.

i can switch to the barcode if @teolomon is agree.

[2017-01-14 09:47] teolemon commented on #452
@asmoth360 I can see your point how the paper fab might be less intuitive for some than the "Scan product" in full text.
However, we chose the camera because the icon was standard, way more and quicker recognized than the barcode, and gave an equivalent idea of what's going to happen.

Let's give it a little time to live, and we'll do some more user testing ?

[2017-01-14 10:25] teolemon commented on #430
![image](https://cloud.githubusercontent.com/assets/1689815/21954263/339a88ae-da4c-11e6-9e97-6aedcbc439a0.png)

[2017-01-14 10:29] teolemon commented on #99
![image](https://cloud.githubusercontent.com/assets/1689815/21954275/ab39f85e-da4c-11e6-8ee9-6ada9ce729da.png)

[2017-01-14 11:27] itchix commented on #447
We compress images when the app send the data : https://github.com/openfoodfacts/OpenFoodFacts-androidApp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java#L114

[2017-01-14 12:08] teolemon commented on #447
We can fix a higher minimum and let the user decide for very high res ?

[2017-01-14 12:09] teolemon commented on #447
Also, it would be great to try to send images as soon as they are selected, and not wait for Send/Save

[2017-01-14 12:10] teolemon opened #455 "Try to send images as soon they are selected."
Try to send images as soon they are selected
Provide live feedback on whether it has been properly received
```Sending…```
```Upload successful…```

[2017-01-14 17:12] teolemon opened #456 "Add a prompt for edit on empty products"
Add a prompt for edit on empty products with a clear incentive (calculate the Nutriscore for instance) related to the tab you're in.

[2017-01-14 17:12] teolemon opened #457 "Add editable placeholders when the product is empty"

[2017-01-14 17:13] teolemon opened #458 "Enable native nutrition input"
![image](https://cloud.githubusercontent.com/assets/1689815/21975359/8d4a3634-dbcc-11e6-8bd8-f2553a80365d.png)
![image](https://cloud.githubusercontent.com/assets/1689815/21975441/fe111ce8-dbcc-11e6-914c-ace14835de7a.png)

[2017-01-14 17:14] teolemon opened #459 "old proposal for label edition"
![image](https://cloud.githubusercontent.com/assets/1689815/21966197/2f9ea766-db6f-11e6-9469-a0e78c025de8.png)

Either a checkbox like bio, or more probably an editable field with autocomplete

[2017-01-14 17:15] teolemon opened #460 "Enable native product name edition"
![image](https://cloud.githubusercontent.com/assets/1689815/21956627/7479bd8e-da85-11e6-84cf-878a73044e89.png)

[2017-01-14 17:19] teolemon opened #461 "Include timestamp in history"
Let the person know when he/she last scanned the product.

[2017-01-14 17:38] #214 closed

[2017-01-14 17:41] itchix commented on #214
![unnamed-2](https://cloud.githubusercontent.com/assets/2846894/21956803/f823d202-da88-11e6-9b99-02356dcf4976.png)

![unnamed](https://cloud.githubusercontent.com/assets/2846894/21956808/00ab8e38-da89-11e6-978f-a884f8fce7de.png)

[2017-01-14 18:22] teolemon opened #462 "NullNull in Nutrition"
https://fr.openfoodfacts.org/produit/3660140003865/la-bio-pizza-3-fromages-mozzarella-emmental-gorgonzola-manosque
![image](https://cloud.githubusercontent.com/assets/1689815/21957050/c51a3d6e-da8e-11e6-9af9-a37e70012858.png)

[2017-01-14 18:23] teolemon commented on #462
https://fr.openfoodfacts.org/produit/3660140003865/la-bio-pizza-3-fromages-mozzarella-emmental-gorgonzola-manosque

[2017-01-15 01:29] asmoth360 commented on #452
No problem, it's just my opinion.

[2017-01-15 02:37] asmoth360 commented on #447
Agreed to upload larger images, it's cropped then to view only the information we want, so it needs to be reasonably big. Maybe an option to send original pictures when connected in Wifi ?

[2017-01-15 16:59] itchix opened #463 "Resources not found"
[code]

[2017-01-15 17:00] itchix opened #464 "Chrome missing: ActivityNotFoundException"
[code]

[2017-01-15 18:56] teolemon opened #465 "java.lang.NullPointerException: Attempt to invoke virtual method 'com.fasterxml.jackson.databind.JsonNode"
[code]

[2017-01-15 18:56] teolemon opened #466 "E/WindowManager: android.view.WindowLeaked: Activity openfoodfacts.github.scrachx.openfood.views.SaveProductOfflineActivity has leaked window com.android.internal.policy.PhoneWindow$DecorView"
[code]

[2017-01-15 19:13] teolemon commented on #327
![image](https://cloud.githubusercontent.com/assets/1689815/21965386/0f46fb04-db5f-11e6-9008-6d8434c3ee10.png)
![image](https://cloud.githubusercontent.com/assets/1689815/21965387/152d6fda-db5f-11e6-80e0-2fb6f66c4089.png)

[2017-01-15 20:41] teolemon commented on #124
This is what could happen if the product is uncomplete

![image](https://cloud.githubusercontent.com/assets/1689815/21966003/4175660e-db6b-11e6-9ac2-6b2fdeefe281.png)

[2017-01-15 21:08] teolemon commented on #459
![image](https://cloud.githubusercontent.com/assets/1689815/21966197/2f9ea766-db6f-11e6-9469-a0e78c025de8.png)

[2017-01-15 22:56] asmoth360 commented on #459
@teolemon Good idead, it looks good. And when you type in the input field, it filters the logos ?

[2017-01-15 23:31] teolemon opened #467 "Rephrase offline product deletion"
![image](https://cloud.githubusercontent.com/assets/1689815/21967214/f1ad0a2e-db82-11e6-971a-031d6f36badc.png)

```Are you sure you want to delete this product draft ? ```

[2017-01-16 07:48] teolemon opened #468 "Add spaces after commas in Product View"
Add spaces after commas in Product View
- Packaging
- Manufacturing Places
- Purchase place

Check that all fields have proper spaces after commas, so that we're consistant across fields.

[2017-01-16 07:59] teolemon commented on #456
![image](https://cloud.githubusercontent.com/assets/1689815/21974954/18cb64ec-dbca-11e6-82ce-9482e127d400.png)

[2017-01-16 08:01] teolemon commented on #456
![image](https://cloud.githubusercontent.com/assets/1689815/21975002/65fb88f0-dbca-11e6-97a6-2a286a545970.png)

[2017-01-16 08:07] teolemon commented on #449
![image](https://cloud.githubusercontent.com/assets/1689815/21975141/3200f624-dbcb-11e6-925c-2cdfe8efc010.png)

[2017-01-16 08:07] teolemon commented on #461
![image](https://cloud.githubusercontent.com/assets/1689815/21975148/4148d908-dbcb-11e6-8495-c247ae05b787.png)

[2017-01-16 08:12] teolemon commented on #456
![image](https://cloud.githubusercontent.com/assets/1689815/21975263/f130b64c-dbcb-11e6-9404-25472c2eff8e.png)

[2017-01-16 08:17] teolemon commented on #458
![image](https://cloud.githubusercontent.com/assets/1689815/21975359/8d4a3634-dbcc-11e6-8bd8-f2553a80365d.png)

[2017-01-16 08:27] teolemon commented on #173
![image](https://cloud.githubusercontent.com/assets/1689815/21975625/f955edea-dbcd-11e6-84c8-a0298e31d3ea.png)

[2017-01-16 08:48] teolemon commented on #445
Yes :-)

[2017-01-16 09:23] nebulon42 commented on #49
The link mentioned in the readme and here does not work (anymore). Where is the Android translation project?

[2017-01-16 09:24] teolemon commented on #49
@nebulon42 https://translations.launchpad.net/openfoodfacts/openfoodfacts-android-native (for the App)
https://translations.launchpad.net/openfoodfacts/trunk/+pots/common-web (for the Server, also needed)

[2017-01-16 09:26] nebulon42 commented on #49
Thanks.

[2017-01-16 09:37] teolemon commented on #356
Added a screenshot of the V1 for reference. We can do a little better:
Let's align on the website:
[code]

[code]

[2017-01-16 09:43] herau commented on #99
could be great if you can have sub-division like in the current official OFF app. But currently the API doesn't provide this kind of hierarchy and i think that the division is different per country isn't it @teolemon ?

[2017-01-16 09:46] teolemon commented on #99
I propose that we copy the structure for English, and localize later (Search is not localized, and the rest of the product page like ingredient list isn't)
Here's a nice example of what subdivisions could look like:
![image](https://cloud.githubusercontent.com/assets/1689815/21977991/ddbb5f88-dbd8-11e6-97ac-39e831adcf60.png)

[2017-01-16 09:48] herau commented on #214
@itchix what do you think to remove the `Number of results` when the user scrolling down ? to enable the user to have more space to see the results ?

[2017-01-16 14:08] herau commented on #465
@teolemon how to reproduce please ?

[2017-01-16 15:23] herau commented on #465
@teolemon i'm interesting about the context to reproduce for this issue

[2017-01-16 15:24] #465 closed

[2017-01-16 15:38] herau commented on #462
Also use the same layout than the web site and the current official OFF app.

Example

[code]

[2017-01-16 15:38] teolemon commented on #462
can we add an hyphen ?
```16.9 g – Fat in moderate quantity```

[2017-01-16 15:42] teolemon opened #469 ""Ingredients are listed in order of importance (quantity).""
Add above ingredients (perhaps in light gray)
```Ingredients are listed in order of importance (quantity).```

[2017-01-16 15:44] teolemon opened #470 "Add common name below name"
https://world.openfoodfacts.org/product/3056440046495/best-of-belin

Name:Best of
```Common name: Biscuits crackers```

[2017-01-16 15:48] teolemon commented on #253
```🔗  Product page on the official site of the producer```

[2017-01-16 15:50] herau commented on #462
16.9 g – **Fat** in moderate quantity ?

[2017-01-16 15:52] nebulon42 commented on #49
I had a go at the German translations for both Android app and server. I noticed inconsistencies regarding formal or informal language. I made sure that for the server all strings are in formal language. For the Android app now all strings are in informal language, but this should probably be changed to match the server. How is this handled in French or other languages?

Another thing: I noticed t

[2017-01-16 15:53] teolemon commented on #49
We French only use ```Vous```. Any casual language is out of the question :-) Haben ```Sie``` verstanden ?
Please file the report :-)

[2017-01-16 18:36] nebulon42 opened #471 "Notice regarding self-made photos is missing"
On the web the user is notified that s/he should only upload self-made photos and must not use photos from the web. For the Android app this notice is currently missing.

[2017-01-17 10:41] teolemon commented on #212
https://github.com/andresoviedo/android-3D-model-viewer

[2017-01-17 11:15] teolemon opened #473 "Scan barcode from image"
Enable scanning a barcode from an image selected from the photoroll
**Use case:**
-a user (like @tacite) has taken many product photos (usually photo of barcode, then several photos)
- he should be able to select a photo with a barcode
- the app should detect the barcode in the image, and switch to the classic add new product view (or to the product if it exists) to let him do further work (like a

[2017-01-17 12:12] teolemon opened #474 "String from the Camera in the Search field"
![image](https://cloud.githubusercontent.com/assets/1689815/22020066/8faedb60-dcb6-11e6-816f-17fb472b311f.png)

[2017-01-17 12:15] teolemon opened #475 "I/HISTORY: unable to get the history product image java.net.MalformedURLException"
[code]

[2017-01-17 12:17] teolemon opened #476 "Photos disappear and popup appears while adding ingredients picture"
Photos (Front and nutrition pictures, added using camera) disappear and popup explaining the offline mode appears while adding ingredients picture.

Here's what I have in terms of logs.

[code]

[2017-01-17 13:02] teolemon opened #477 "Add a promo to add a product if there are no search results."
Add a promo to add a product if there are no search results (either by barcode or by scan)

[2017-01-17 13:06] herau commented on #430
also the loading of a product from scan or by search

[2017-01-17 13:21] herau commented on #464
no chrome on the device ?

[2017-01-17 13:22] herau commented on #466
information about your use case are welcome :-)

[2017-01-17 13:29] teolemon commented on #466
I've managed to reproduce it more of less in the last bug about disappearing images. At least it appears in the scenario I've described.

[2017-01-18 09:24] teolemon opened #478 "Try to keep loading search results or products in the background"
In case of spotty connexions, search results or products might not load, and the user might skip to something else (either in app or in another app).
- Keep trying to download the result
- Notify him/her when it's done

[2017-01-18 09:34] herau commented on #462
@teolemon does the nutrition facts units are always in grammes in this view ? because the API doesn't return the unit all the time and i have to put a default unit value (like `g`).

[2017-01-18 09:43] teolemon commented on #462
a priori, yes. weird that we don't have units.

[2017-01-18 10:25] teolemon opened #479 "Better looking error message if no results found (or offline)"
This is what search results currently look like in offline mode
![image](https://cloud.githubusercontent.com/assets/1689815/22060370/bf72590c-dd70-11e6-8d2a-4e56789f395b.png)

- The reason of no results 'offline' should be displayed along with no results, instead of being shown as a transient message.
- A try again button should be proposed
- Everything should be centered.
- Cloud optional

 ![ima

[2017-01-18 10:29] teolemon opened #480 "Product page loading strategy"
Instead of having the spinner and then skipping to the product view, we should directly skip to the product view and have a Material Design spinner in the view.
![image](https://cloud.githubusercontent.com/assets/1689815/22060705/29b5d36a-dd72-11e6-8c18-4df9a4995ee5.png)

[2017-01-18 10:29] teolemon commented on #480
In the future, instead of the spinner, we could have placeholders. We'd load a very lite version of the product (name, brand, weight, small images) and then the full one (or perhaps tab by tab).
![image](https://cloud.githubusercontent.com/assets/1689815/22060523/63cf4794-dd71-11e6-93d0-3a3b8eb2b41e.png)

Haven't found any lib to do this.

[2017-01-18 12:15] herau commented on #105
@teolemon maybe also rename the default package name to `org.openfoodfacts.android` (or something like that) instead of `openfoodfacts.github.scrachx.openfood`

[2017-01-18 12:20] teolemon commented on #105
``òrg.openfoodfacts.scanner``` is the official name. We need to avoid clashes and confusion. I'd like to be able to have both versions on my phone i guess.
OBF is ``òrg.openbeautyfacts.scanner```

[2017-01-18 14:23] herau commented on #462
![screenshot_20170118-135249](https://cloud.githubusercontent.com/assets/2950666/22067532/f4334162-dd91-11e6-902d-c6bdeece4b3f.png)

@teolemon what do you think about this version ?

[2017-01-19 09:37] herau commented on #474
@teolemon how to reproduce this bug please ?

[2017-01-19 09:40] teolemon commented on #474
Cannot. Let's close.

[2017-01-20 09:31] herau commented on #105
maybe an option with `https://developer.android.com/studio/build/build-variants.html`

[2017-01-20 10:00] teolemon commented on #105
Can you still change the ```applicationId``` ?

[2017-01-20 10:54] #462 closed

[2017-01-20 10:54] #435 closed

[2017-01-20 10:54] #436 closed

[2017-01-20 10:55] #474 closed

[2017-01-20 10:58] herau commented on #463
not reproductible on the master branch (the resource `ic_arrow_back_black.xml` doesn't not exist anymore)

[2017-01-20 10:58] #463 closed

[2017-01-20 11:00] herau commented on #471
can you please add the website link where this information is displayed ?

[2017-01-20 11:03] teolemon commented on #471
[code]

[2017-01-20 11:04] teolemon commented on #471
https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=3256220394079

[2017-01-20 14:02] herau commented on #379
@asmoth360 Not sure this feature will improve the contribution.
I think we have to add some buttons and text to tell to the user that he can add information instead of dropping tabs

what do you think @teolemon ?

[2017-01-20 14:17] teolemon commented on #379
I'm on the same line. I'd rather keep the tab and add a prompt/button to add data.

[2017-01-20 14:17] teolemon commented on #379
Please see https://github.com/openfoodfacts/OpenFoodFacts-androidApp/issues/457 for more suggestions about that

[2017-01-20 14:21] #379 closed

[2017-01-20 15:43] teolemon commented on #457
![](https://files.slack.com/files-pri/T02KVRT1Q-F3U81A3KM/screenshot_20170120-163324.png)

![](https://files.slack.com/files-pri/T02KVRT1Q-F3U8161B5/screenshot_20170120-163343.png)

![](https://files.slack.com/files-pri/T02KVRT1Q-F3V0M4WS2/screenshot_20170120-163349.png)

![](https://files.slack.com/files-pri/T02KVRT1Q-F3V0Y12MV/screenshot_20170120-163338.png)

[2017-01-20 15:44] teolemon opened #483 "Nutrition chips behaving weirdly when product is empty"
![image](https://cloud.githubusercontent.com/assets/1689815/22155411/9a58d5a4-df2f-11e6-92d9-07987c74e8e0.png)

[2017-01-20 15:44] teolemon opened #484 "Get rid of the image icon for empty info"
Get rid of the image icon for empty info (and merge the "Repères nutritionnels pour 100g" header with the values)

![image](https://cloud.githubusercontent.com/assets/1689815/22155436/b0cee4b8-df2f-11e6-80a0-1103a700f5f8.png)

[2017-01-20 15:46] teolemon opened #485 "Better Quick view behaviour for empty products"
![image](https://cloud.githubusercontent.com/assets/1689815/22155519/ff854854-df2f-11e6-8e3b-309ee976fc8d.png)

Add editable placeholders for name, brand and weight (if they are empty)

[2017-01-21 10:16] teolemon commented on #485
![image](https://cloud.githubusercontent.com/assets/1689815/22173694/16c52f34-dfcb-11e6-8cbe-23917afeb6de.png)

[2017-01-21 10:24] teolemon commented on #483
@herau is working on a table replacement for the chips. This bug does not need to be solved.

[2017-01-21 10:30] teolemon commented on #455
- You get an ```Currently uploading``` message from the moment you select the message to the successful end of the upload
- You get a ```Success``` message as soon as the server replies success.
![image](https://cloud.githubusercontent.com/assets/1689815/22173762/a460e918-dfcc-11e6-8955-3a8e988b1298.png)
- You get a ```Try again``` prompt that attempts sending the image again.
![image](https://clo

[2017-01-21 10:43] teolemon commented on #477
![image](https://cloud.githubusercontent.com/assets/1689815/22173858/dc94b434-dfce-11e6-8040-c6ce52c92bdc.png)

[2017-01-21 10:57] teolemon commented on #478
![image](https://cloud.githubusercontent.com/assets/1689815/22173920/cb369bf6-dfd0-11e6-80d4-3912a2672d9e.png)

[2017-01-21 11:20] teolemon opened #486 "Harmonize color and size of the share icon in product page"
Small details about sharing. See https://github.com/openfoodfacts/OpenFoodFacts-androidApp/issues/185 for details on how to implement native sharing.

![image](https://cloud.githubusercontent.com/assets/1689815/22174023/d7426f6c-dfd3-11e6-91a2-198557a775f3.png)

[2017-01-21 12:32] teolemon commented on #41
Mockup with the latest UX
![image](https://cloud.githubusercontent.com/assets/1689815/22174407/0db6d894-dfde-11e6-8e11-a8f8cacd3dac.png)

[2017-01-21 14:06] teolemon commented on #30
https://github.com/wmentzel/dump-creator

[2017-01-22 11:19] teolemon commented on #252
@herau @itchix To solve this, we have to download the countries list JSON for the current language, and get the ```name``` parameter.

http://fr.openfoodfacts.org/pays.json
```{"products":21,"name":"Autriche","id":"en:austria","url":"https://fr.openfoodfacts.org/pays/autriche"},```

http://world.openfoodfacts.org/countries.json
```{"url":"https://world.openfoodfacts.org/country/austria","id":"en:a

[2017-01-22 13:29] teolemon opened #487 "Get rid of the "Hello world" string"
```<string name="hello_world">Hello world!</string>```

[2017-01-22 13:40] teolemon commented on #471
NB: This **should not** be a popup. This should not get in the way. We moved the licence message to the menu in the Camera finder. We perhaps can put it there as well ?

[2017-01-22 13:42] teolemon commented on #464
This looks like it.
Best practises for Chrome Custom Tabs : https://developer.chrome.com/multidevice/android/customtabs#bestpractices

[2017-01-22 13:45] teolemon commented on #455
Here's a common example of the use by power contributors: 1 image per side of a box.
![image](https://cloud.githubusercontent.com/assets/1689815/22182909/4752dd9a-e0b1-11e6-9e80-3ebe96ea701d.png)

[2017-01-22 13:46] teolemon commented on #66
Closing this bug. It's been merged.

[2017-01-22 13:46] #66 closed

[2017-01-22 13:48] teolemon commented on #31
#66 closed.
The simple way would be to reuse the view created for search, using the various jsons.
[code]

[2017-01-22 14:17] teolemon commented on #298
![image](https://cloud.githubusercontent.com/assets/1689815/22183089/e6e00b90-e0b5-11e6-9e2d-ae06d5bf26df.png)

[2017-01-22 14:26] teolemon commented on #471
![image](https://cloud.githubusercontent.com/assets/1689815/22183143/16dd7930-e0b7-11e6-8b81-838cc5be54a4.png)

[2017-01-22 14:26] teolemon commented on #298
![image](https://cloud.githubusercontent.com/assets/1689815/22183144/27a9200c-e0b7-11e6-821a-fac897f1e3f6.png)

[2017-01-22 14:31] teolemon commented on #411
![image](https://cloud.githubusercontent.com/assets/1689815/22183168/d1993f70-e0b7-11e6-9319-154339f2623b.png)

[2017-01-22 14:43] teolemon commented on #298
![image](https://cloud.githubusercontent.com/assets/1689815/22183243/7e22bfa4-e0b9-11e6-8a74-f4eab2c0c5b2.png)

[2017-01-22 16:07] teolemon commented on #434
Seems like we have a conversion problem on one the scores```nutriscore-b.svg ```

[2017-01-22 16:14] teolemon commented on #434
@herau tells me it applies to all files. I had one of them through https://jakearchibald.github.io/svgomg/ and it reduced the # of errors

[2017-01-22 16:21] teolemon commented on #434
http://stackoverflow.com/questions/36453520/inconsistence-between-svg-file-and-android-studio-vector-asset

[2017-01-23 12:02] teolemon commented on #434
http://inloop.github.io/svg2android/

[2017-01-23 12:11] teolemon commented on #282
http://stackoverflow.com/questions/38407664/syntax-for-conditional-statements-in-android-xml-layout

[code]

[2017-01-23 14:07] itchix commented on #412
Close with 50d9086a53ade10768d02fd8f637adaff802c724

[2017-01-23 14:07] #412 closed

[2017-01-23 14:08] itchix commented on #323
Hope 50d9086a53ade10768d02fd8f637adaff802c724 close this issue.
Please open if not

[2017-01-23 14:08] #323 closed

[2017-01-23 19:44] teolemon commented on #203
There are now guidelines on how we can prepare :
https://developer.android.com/topic/instant-apps/prepare.html

[2017-01-23 19:46] teolemon commented on #203
```Android instant apps need to be structured into URL-addressable modules that are under 4MB in size. For apps that are larger than 4MB, developers would need to refactor the app into smaller modules that can be downloaded and run independently in response to URL navigation```

[2017-01-23 19:47] teolemon opened #489 "enable shrinkResources in build.gradle"
Libraries that you add to your code may include unused resources. Gradle can automatically remove resources on your behalf if you enable shrinkResources in your app's build.gradle file.
[code]
https://developer.android.com/topic/performance/reduce-apk-size.html

[2017-01-23 19:50] teolemon opened #490 "enable lint in gradle"
https://developer.android.com/studio/write/lint.html

[2017-01-23 19:51] #490 closed

[2017-01-23 19:54] teolemon opened #491 "Crunch PNG Files"
The aapt tool can optimize the image resources placed in res/drawable/ with lossless compression during the build process. For example, the aapt tool can convert a true-color PNG that does not require more than 256 colors to an 8-bit PNG with a color palette. Doing so results in an image of equal quality but a smaller memory footprint.

Keep in mind that the aapt has the following limitations:

Th

[2017-01-24 10:49] teolemon commented on #327
Fixed.

[2017-01-24 10:49] #327 closed

[2017-01-26 14:51] teolemon opened #492 "Indicate in Quickview whether photos are needed"
![image](https://cloud.githubusercontent.com/assets/1689815/22336037/304a8b38-e3e1-11e6-8d14-b7e439daeb6a.png)

[2017-01-26 21:44] #424 closed

[2017-01-26 21:44] #402 closed

[2017-01-27 13:05] teolemon commented on #434
@herau I added the vector files

[2017-01-30 09:31] teolemon opened #493 "Fix code style in table"
[code]
[code]

[2017-01-30 11:54] #99 closed

[2017-01-30 17:46] #493 closed

[2017-02-03 18:36] teolemon commented on #16
![image](https://cloud.githubusercontent.com/assets/1689815/22603514/027c819e-ea48-11e6-8289-55ea29fe2372.png)

[2017-02-09 15:20] davidak opened #497 "Crash when scanning Barcode"
1. scan barcode
2. ???
3. App crashes

Could it be because it is out of focus? It that case it should still not crash.

![screenshot_2017-02-09-13-28-28](https://cloud.githubusercontent.com/assets/91113/22789479/55758716-eee3-11e6-95f9-2480fd316969.png)

---

Open Food 0.5 from F-Droid
Fairphone 2 with Open OS 16.12.0 (Android 5.1)

[2017-02-09 15:25] davidak opened #498 "Interface freezes after refuse to add product to database"
1. scan barcode
2. "product not in database, want to add?" -> No
3. screen freezes (camera image not moving, you still can use the back botton to go to home screen)

![screenshot_2017-02-09-16-08-45](https://cloud.githubusercontent.com/assets/91113/22789443/389e3c14-eee3-11e6-8a8d-6cedefb95502.png)

---
Open Food 0.5 from F-Droid
Fairphone 2 with Open OS 16.12.0 (Android 5.1)

[2017-02-11 09:09] fuddl opened #499 "burst mode"
It seems to me that the current ui is based on the assumption that a users carefully create a _complete_ product entry on their phones. At least the for me that does not work.

I am usually taking four or five random photos of the product with little or no information. I don't want to be forced to decide if I'm now taking a _front_, _nutrition_ or _ingredients_ picture. Also I am taking photos of

[2017-02-13 12:29] teolemon commented on #183
This one is rather important actually, and easy to fix.

[2017-02-13 12:29] teolemon commented on #183
We could show it just above the image addition form, with a button to go back to scanning "Scan again"

[2017-02-14 12:02] teolemon commented on #476
This might be related to the order issue spotted in the PR @herau

[2017-02-14 12:23] teolemon commented on #225
@herau @itchix
![image](https://cloud.githubusercontent.com/assets/1689815/22928825/ba60a4de-f2b8-11e6-9b3f-1122aedce60d.png)

[2017-02-14 12:23] teolemon commented on #225
The idea is to dismiss the info using "Got it", once and for all.

[2017-02-14 12:51] teolemon opened #500 "The contribution popup should also let you login"
Currently, when clicking on "My Contributions" while logged out, you can only create an account. There should also be a button to let you login.

![image](https://cloud.githubusercontent.com/assets/1689815/22929547/945c73c2-f2bc-11e6-8783-3187aacfe94d.png)

[2017-02-14 12:54] teolemon opened #501 "Kill the offline popup, and replace it by an inline card"
![image](https://cloud.githubusercontent.com/assets/1689815/22929626/f2c35d18-f2bc-11e6-9150-dece2d5ce4eb.png)

Kill the offline popup, and replace it by an inline card that can be dismissed (and that facts is remembered and honoured using settings)

[2017-02-15 10:22] loominade commented on #109
I think the issue here was, that I misunderstood the interface. I expected the same behaviour as in the legacy app.

[2017-02-15 10:23] loominade opened #502 "allow adding photos to already existing Products"

[2017-02-15 10:24] teolemon commented on #109
@herau is working on a new feature that behaves like the old app. Adding photos from product view.
The idea is that you'll be able to upload photos assigned to a field, but we'll also have a button to bulk add photos.

[2017-02-18 11:55] teolemon opened #503 "The Build fails because the Terms of Service of the SDK are not accepted"
SDK Terms of Service make the build fail

[code]

[2017-02-20 19:22] teolemon commented on #502
Duplicate of https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/41
@herau is working on it. Closing this one.

[2017-02-20 19:22] #502 closed

[2017-02-21 12:40] loominade opened #504 "add products without barcode"

[2017-02-21 12:41] teolemon commented on #504
Duplicate of https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/123

[2017-02-21 12:41] #504 closed

[2017-02-21 21:40] picsi opened #505 "F-Droid version crashes upon loading"
I just installed Open Food from F-Droid (Version 0.5 - Added on 2017-01-14) on my Android 4.4.2 and I can't use it. I open the app, the splash image with the logo appears and then an Android system error message tells me the app has crashed.

Any ideas?

[2017-02-26 11:37] teolemon opened #506 "Using Wikidata Toolkit Java Library to enrich facets in the app"
Many facets of Open Food Facts (categories, labels…) are linked to Wikidata, which is linked to Wikipedia.

Thus, by getting the Wikidata ID from the API, we can get Wikidata info we can display, and links to Wikipedia, so that the users can get more knowledge: controversies about additives, more info about the wine they are drinking…

https://github.com/Wikidata/Wikidata-Toolkit

[2017-02-26 11:38] teolemon commented on #506
See https://github.com/openfoodfacts/openfoodfacts-server/issues/391

[2017-02-26 11:44] teolemon commented on #506
![image](https://cloud.githubusercontent.com/assets/1689815/23339381/542ddc14-fc21-11e6-8d2a-a948262b656d.png)

[2017-02-27 11:51] teolemon opened #507 "Make it possible to ban list of ingredients"
Make it possible to ban list of ingredients, as a first step towards proper diet support.

We could
- create several predefined lists, with a clear warning that they might not be exhaustive.
- ask for feedback (please send feedback or ingredients that are missing to email@app.com)

- without gluten
- without palm oil
- vegan
- vegetarian
- without pork
- pregnancy

[2017-02-27 15:42] teolemon commented on #505
Can you try building it from trunk. @itchix has replaced the ORM engine, and it might help. Otherwise, we'll release an updated version soon.

[2017-02-27 15:44] teolemon commented on #497
Can you provide a trace ?

[2017-02-27 15:48] davidak commented on #497
@teolemon no, but i would like to get it if you tell me how.

[2017-02-27 15:50] teolemon commented on #497
You can install Android Studio, connect your device using a USB cable, and look at the log in Android Studio.

[2017-02-27 15:53] davidak commented on #497
That would take some time... is that log a file on the device? I can give you any file on the device.

I have here another image that crashes the app on my device.

![img_20170219_213646](https://cloud.githubusercontent.com/assets/91113/23368086/ec873bb8-fd0c-11e6-974e-3616d8b86348.jpg)

Can you reproduce it? Then you can also check if a potential fix works.

[2017-02-27 16:51] teolemon commented on #499
@fuddl The current UI takes care of product creation, and doesn't claim more.
We just have a backlog of features, and photo addition is #1 on @herau's list :-)
We're trying to solve https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/41 first.

You'll also see a big speed improvement on product creation in the next release (we killed the dropdown)

[2017-02-28 16:17] teolemon commented on #497
I tried it with the latest version from Trunk: the product doesn't exist, and it doesn't crash.

[2017-02-28 20:50] davidak commented on #497
@teolemon does it crash when you try to add it?

[2017-03-03 07:53] teolemon opened #508 "Change app icons"
![openfoodfacts round](https://cloud.githubusercontent.com/assets/1689815/23542715/03994be0-ffef-11e6-9c8e-3969b2933001.png)
![openbeautyfacts round](https://cloud.githubusercontent.com/assets/1689815/23542718/086e95a8-ffef-11e6-9c9d-f04762bed735.png)

[2017-03-03 15:31] teolemon opened #510 "Crash on initial Allergen Alert load"
Crash on initial Allergen Alert load (when clicking on the plus button)
[code]

[2017-03-03 15:37] teolemon opened #511 "Fragment order error"
When adding a new product, 3 fields are displayed:
[code]

However, when you look at **app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductActivity.java**, the order is Front, Ingredients, Nutrition

[code]

This is creating a bug that makes the Front image disappear when you select a Nutrition image.

[2017-03-03 17:40] teolemon commented on #505
0.6 just released. should arrive soon on F-Droid

[2017-03-04 15:49] #510 closed

[2017-03-04 18:38] teolemon commented on #511
fixed by @itchix

[2017-03-04 18:38] #511 closed

[2017-03-05 18:15] teolemon opened #512 "Uploaded images are not attributed to the user"
Uploaded images are not attributed to the user
[code]

[2017-03-05 19:04] teolemon opened #513 "Product always posted in English"
New products are always posted in English, even if the UX is in French.

[code]

[2017-03-06 09:52] Hangman228 commented on #505
Still Crash on Android 4.4...
Here is a logcat
[logcat.txt](https://github.com/openfoodfacts/openfoodfacts-androidapp/files/820709/logcat.txt)

[2017-03-06 10:00] teolemon commented on #505
Thank you so much for the log. @itchix

[2017-03-10 18:41] #503 closed

[2017-03-11 08:53] teolemon commented on #505
@Hangman228 @picsi Did you receive the latest version ?

[2017-03-11 08:55] teolemon opened #514 "FATAL EXCEPTION:java.lang.RuntimeException: Unable to start activity ComponentInfo{openfoodfacts.github.scrachx.openfood/openfoodfacts.github.scrachx.openfood.views.SplashActivity}: android.content.res.Resources$NotFoundException: File res/drawable/background_splash.xml from drawable resource ID #0x7f020055"
[code]

[2017-03-11 12:58] picsi commented on #505
@teolemon Yes, I installed 0.6.2 today from F-Droid and it still crashes upon loading. Minor difference now: it doesn't even get to the splash screen before crashing.

[2017-03-11 13:33] itchix commented on #505
Mhhh I'm working on it...

[2017-03-11 15:34] itchix commented on #514
You are using android 4.4? or below?

[2017-03-11 15:52] itchix commented on #476
Can I close?

[2017-03-11 16:06] itchix commented on #508
#65ff3c105003d64a49485d799e398f8fc72916da

[2017-03-11 18:04] milancheee opened #516 "Some unicode characters not properly displayed if listed as allergens"
Some of uni code characters listed in latin extended-a https://en.wikipedia.org/wiki/Latin_Extended-A not properly displayed if listed as allergens.

![screenshot_2017-03-11-17-35-25-397_openfoodfacts github scrachx openfood](https://cloud.githubusercontent.com/assets/11298427/23825637/989898c8-068d-11e7-81c1-8ee7572df2b4.png)

[2017-03-12 16:00] itchix commented on #513
Fixed with d134f7a90c9884c1e400984ad1f5c69d78f576d5

[2017-03-12 16:25] #41 closed

[2017-03-12 18:27] fuddl commented on #447
what was wrong with how the old app did it? (upload the original file)

Only scheduled when wifi is available

[2017-03-13 08:49] teolemon opened #517 "Logo splash screen broken on tablets and some phones."
Splash screen broken on tablets. The logo is distorted and takes the whole screen.

[2017-03-13 08:51] teolemon opened #518 "the OFF and OBF logos are in the Wrong languages"
The Open Beauty Facts logo has the English tagline, regardless of the language
The Open Food Facts logo has the French tagline, regardless of the language

[2017-03-13 09:12] teolemon opened #519 "Share icon is grey while edit icon is black"
On product view, the Share icon is grey while edit icon is black. They should both be black and the same size.

[2017-03-13 10:30] teolemon opened #520 "Unit missing: cL"
You can't choose cL from the unit dropdown

[2017-03-13 13:01] teolemon opened #521 "java.lang.NullPointerException: Attempt to invoke virtual method 'models.NutrientLevels.getFat()' on a null object reference"
Steps to reproduce
1. App in Japanese
2. Japanese product (4901551355051)
3. Swipe to ingredients tab

[code]

[2017-03-13 13:52] teolemon commented on #171
Mockup
![image](https://cloud.githubusercontent.com/assets/1689815/23857167/947b1444-07fc-11e7-89bd-107338298554.png)

[2017-03-13 19:22] #521 closed

[2017-03-13 19:42] teolemon opened #522 "Unit test to update"
[code]

[2017-03-14 06:46] #513 closed

[2017-03-14 08:47] loominade opened #523 "use barcode icon to scan for barcodes, not the camera icon"
Currently the interface looks something link this:

Now what I tap without thinking, when I intent to scan a barcode is the ![Barcode] icon

When I see ![Camera] I think of permanently photographing something. Technically the phone utilizes the camera to scan a barcode but I think in my head it is a different application.

I propose the change it like this:

[Camera]: https://storage.googleapis.co

[2017-03-15 19:12] #415 closed

[2017-03-15 19:48] #522 closed

[2017-03-16 06:52] teolemon commented on #452
Let's use the Scan icon instead. Bonus points if you add the button on the all views of the app (especially on the product view), for Quick anytime scan.

[2017-03-16 09:01] teolemon opened #526 "Let the user add packaging from the product view"
Let the user add packaging from the product view (cc @ysculo)

[2017-03-17 11:41] loominade commented on #109
i think this is fixed then

[2017-03-18 10:15] teolemon opened #527 "Add the red scan button in the Product View"
Add the red scan button in the Product View, so that it's easy to keep scanning once you've checked a product.

[2017-03-18 20:27] teolemon commented on #517
![image](https://cloud.githubusercontent.com/assets/1689815/24075755/a56d354c-0c21-11e7-9a3d-cf408a5018df.png)

[2017-03-18 20:30] teolemon commented on #520
Also support for US units:
fl oz

[2017-03-18 20:56] teolemon commented on #513
Has it been deployed yet ?
poke @itchix (reported by @tacite)

[2017-03-19 14:07] #520 closed

[2017-03-19 14:07] #527 closed

[2017-03-19 14:10] itchix commented on #483
No longer an issue

[2017-03-19 14:10] #483 closed

[2017-03-19 14:12] itchix commented on #497
Any update? Feel free to reopen it =)

[2017-03-19 14:12] #497 closed

[2017-03-19 14:20] teolemon commented on #492
UX doesn't have to be exactly like this

[2017-03-19 14:53] teolemon commented on #164
The url is customized, but still says : "Look at this product on Open Food Facts"

[2017-03-19 14:53] #38 closed

[2017-03-19 14:54] teolemon commented on #157
Fixed by @itchix

[2017-03-19 14:54] #157 closed

[2017-03-19 14:55] #284 closed

[2017-03-19 14:55] #281 closed

[2017-03-19 14:55] #282 closed

[2017-03-19 14:55] #283 closed

[2017-03-19 14:55] #286 closed

[2017-03-19 15:50] davidak commented on #497
I just updated to latest version (0.7) and successfully scanned a product and added it. I don't have the box i had trouble with anymore but i will create a new bugreport if i have any problems. Thanks!

[2017-03-19 16:10] teolemon opened #528 "Share credentials between Open Beauty Facts and Open Food Facts"
See how we can share credentials between Open Beauty Facts and Open Food Facts, potentially leveraging the Android accounts system ?

[2017-03-19 16:11] teolemon opened #529 "Switch to POST instead of GET for credentials in API requests"
Switch to POST instead of GET for credentials in API requests
Contact @teolemon for details

[2017-03-19 18:37] picsi commented on #505
Error persists as of 0.7.

[2017-03-22 08:33] teolemon opened #530 "Clicking on the scan button when you arrived from the history brings back to history"
Clicking on the scan button when you arrived from the history brings back to history.
It should open the scan window instead.

[2017-03-22 11:54] teolemon commented on #170
![image](https://cloud.githubusercontent.com/assets/1689815/24196598/a0e05fec-0efe-11e7-9c0f-4ed9d6dfdbbf.png)

[2017-03-22 11:55] teolemon commented on #170
It's because we don't use the right markup

```Apps can now define circular launcher icons, which are used on devices that support them. When a launcher requests an app icon, the framework returns either android:icon or android:roundIcon, depending on the device build configuration. Because of this, apps should make sure to define both android:icon and android:roundIcon resources when responding t

[2017-03-23 18:19] itchix commented on #514
ref to #505

[2017-03-23 18:19] #514 closed

[2017-03-23 18:31] itchix commented on #529
It's already in POST request : https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java#L42

[2017-03-23 18:32] #529 closed

[2017-03-23 18:40] #170 closed

[2017-03-23 18:59] #508 closed

[2017-03-23 19:00] itchix commented on #505
Can you confirm that it's fixed with the last version 0.7.1?

[2017-03-23 19:32] picsi commented on #505
@itchix will do as soon as it lands on F-Droid. It might be a good idea to remind the F-Droid folks of the new version.

[2017-03-24 08:37] teolemon opened #532 "Crash on 4.x tablet - latest version"
[code]

[2017-03-24 09:01] #532 closed

[2017-03-24 09:04] itchix commented on #530
I can't reproduce the bug...

[2017-03-24 09:06] teolemon commented on #530
1. Go to history
2. Click on a product
3. Click on the red button
4. Back to history

[2017-03-28 12:36] herau commented on #512
don't see any user parameter for the upload api

[2017-03-28 13:00] herau commented on #512
I will add the `user_id` and `password` parameters to the request, like below:
[code]

[2017-03-29 14:07] teolemon opened #534 "Excessive capabilities for Amazon devices"
[code]
Excessive capabilities for Amazon devices. Can we perhaps do a flavor for the Amazon app store where the minSdkVersion is lower, and the autofocus not required ?

[2017-03-29 14:08] teolemon commented on #534
And perhaps disable some features where no camera is detected ?

[2017-03-29 18:42] teolemon opened #535 "Add a message saying only 1 photo is compulsory"
Add a message saying only 1 photo is compulsory

"You don't have to fill all the info right now. Just 1 photo required."

[2017-03-29 18:52] teolemon opened #536 "Make the product addition form look like an empty product"
- It should look like an empty product
- It should try to send pictures as soon as they are taken (or later if offline mode is enabled)
- It should let people add product name and brand
- It should not have an explicit save button : people wanting to add text should add it by editing and saving.

[2017-03-29 18:59] teolemon commented on #518
The Open Beauty Facts logo has the English tagline, regardless of the language
The Open Food Facts logo has the French tagline, regardless of the language

[2017-03-29 19:01] teolemon commented on #444
This one is annoying.

[2017-03-29 21:37] teolemon commented on #273
https://firebase.google.com/docs/app-indexing/android/public-content

[2017-03-30 12:15] teolemon opened #537 "Ensure we work well with 18:9 aspect ratios"
https://android-developers.googleblog.com/2017/03/update-your-app-to-take-advantage-of.html

[code]

[2017-03-30 13:57] #512 closed

[2017-03-30 14:29] teolemon opened #538 "Use Fastlane tools wherever possible"
Use Fastlane tools wherever possible.
We need an install on a server, and then use as much as possible of the available automation tools.

[2017-04-02 13:45] teolemon commented on #505
@picsi fixed ?

[2017-04-02 13:46] teolemon opened #539 "Crash while swiping on 3274490972988"
[code]

[2017-04-02 15:43] picsi commented on #505
Nope. On 0.7.4 the bug persists.

[2017-04-03 15:14] teolemon commented on #206
Ensure that the following permissions exist in your src/debug/AndroidManifest.xml
[code]

[2017-04-03 15:14] teolemon commented on #206
Add the test dependency to your Gradle build:
[code]

[2017-04-04 06:51] #432 closed

[2017-04-04 07:01] #409 closed

[2017-04-04 07:03] #470 closed

[2017-04-04 09:33] teolemon commented on #539
[code]

[2017-04-05 07:55] teolemon commented on #191
We don't have the images exposed in the API yet. However, the URLs are simple to build:
```https://static.openbeautyfacts.org/images/lang/en/periods_after_opening/12-months.90x90.svg```

[code]

![image](https://cloud.githubusercontent.com/assets/1689815/24695381/d2150d1e-19e5-11e7-8397-ed761bdb508b.png)

[2017-04-05 07:56] teolemon commented on #191
- https://world.openbeautyfacts.org/product/3560070791460/solution-dentaire-active-anti-plaque-carrefour
- https://ssl-api.openbeautyfacts.org/api/v0/product/3560070791460.json

[2017-04-05 08:06] teolemon opened #545 "Add ingredient analysis for Open Beauty Facts"
In Open Beauty Facts, we display an ingredient analysis on the web version.
To provide value in the mobile app, we need to display this analysis (once available in the API).

**Ingredients analysis:**
- Without Parabens
- Without Formaldehyde releasers
- With Allergenic fragrances
- Without Silicones
- Without Phenoxyethanol
- Without Triclosan
- Without Cetrimonium bromide
- Without Methylisothia

[2017-04-05 08:07] teolemon commented on #545
API issue for the server: https://github.com/openfoodfacts/openfoodfacts-server/issues/789

[2017-04-05 12:00] teolemon commented on #476
The popup has disappeared, but I still experience the issue.

[2017-04-05 12:04] #419 closed

[2017-04-05 15:08] picsi commented on #505
Sorry, that was a mistake on my behalf. I just got the 0.7.4 update from F-Droid, and now it works!

The app loads successfully, although the splash image is very distorted, tries to fill the whole screen. Other than that, it works. I noticed that clicking on Sign-in crashes the app. I'll create an issue specifically for that.

[2017-04-05 15:08] #505 closed

[2017-04-05 15:12] picsi opened #548 "Clicking on Sign-in crashes the app"
As mentioned on #505, clicking on Sign-in crashes the app.

Environment: Open Food from F-Droid (Version 0.7.4) on Android 4.4.2

[2017-04-05 15:23] teolemon commented on #382
Fixed by @herau a long time ago

[2017-04-05 15:23] #382 closed

[2017-04-05 15:24] teolemon commented on #276
Done by @teolemon

[2017-04-05 15:24] #276 closed

[2017-04-05 15:25] teolemon commented on #340
I believe it is fixed @itchix

[2017-04-05 15:27] teolemon commented on #30
The database is now 600MB (due to the US and Swiss imports, mostly). tacite says that selecting the 1st 15 columns reduces that to 60MB.

[2017-04-05 15:28] teolemon commented on #105
Fixed.

[2017-04-05 15:28] #105 closed

[2017-04-05 15:31] teolemon commented on #144
I've started a migration to Crowdin

[2017-04-05 15:32] teolemon commented on #201
fixed

[2017-04-05 15:32] #201 closed

[2017-04-05 15:33] teolemon commented on #178
Poke @itchix

[2017-04-06 10:51] teolemon commented on #264
![image](https://cloud.githubusercontent.com/assets/1689815/24750849/ac13c668-1ac7-11e7-987e-bf0d59d94b7b.png)
Twitter has a smart way to do this

[2017-04-07 07:15] #378 closed

[2017-04-07 12:21] mac-adder commented on #324
Changes are ready, one problem though is that the result may not be good enough for some specific languages (see for example this [SO post](http://stackoverflow.com/questions/29536631/getting-locale-variant-for-simplified-chinese)).

The Android core seems to circumvent this by using two dedicated string arrays (one for the special locale codes and the other for their displayable names), but havin

[2017-04-07 12:49] #516 closed

[2017-04-07 14:16] teolemon commented on #324
The current version has the advantage of working with older versions of Android, that might miss some languages.

The language issue is very complex:

- UX of the application
- Language the food/cosmetic product is available in (the default language displayed, the way to view the product in its other languages)
- Language for new photos/new products (the one of the UX ? Always ask ? Default, but l

[2017-04-07 16:02] mac-adder commented on #324
Actually what I meant was that, in the language list from the preferences, each option is translated based on the current locale, so that if we wanted to use hard-coded names for some specific languages such as simplified chinese, we would have to go back to defining two string arrays per supported locale to remain consistent.
Apart from avoiding the need for those manual translations, wouldn't it

[2017-04-09 13:04] aleksejrs opened #550 "[ru] Nutritional values and ingredients are mixed in the Russian translation"
![img_0002](https://cloud.githubusercontent.com/assets/1025861/24837491/92ca8f80-1d46-11e7-8391-eeddd23fc49b.jpg)
![img_0003](https://cloud.githubusercontent.com/assets/1025861/24837492/92f6c5aa-1d46-11e7-8e07-28d182ed78bb.jpg)

"Пищевая ценность" means nutritonal values, "Состав" means ingredients.

[2017-04-09 13:05] aleksejrs opened #551 "Energy value in the nutrition table does not fit if the translations are too long"
The number after "Энергетическая ценность" does not fit.
![img_0003](https://cloud.githubusercontent.com/assets/1025861/24837500/c12a5dce-1d46-11e7-888d-23dc16a980fb.jpg)

[2017-04-09 13:06] aleksejrs opened #552 "[ru] Some lists have no space after commas."
![img_0004](https://cloud.githubusercontent.com/assets/1025861/24837507/e2b9887a-1d46-11e7-831d-ce0fe4909852.jpg)
https://ru.openfoodfacts.org/product/40084701/kinder-chocolate-ferrero

[2017-04-12 07:21] teolemon opened #562 "saveImage_noImageFile_ko() throws IOException at OpenFoodAPIServiceTest.java:208"
https://api.travis-ci.org/jobs/221240112/log.txt?deansi=true
[code]

[2017-04-14 14:56] teolemon commented on #296
@herau : working solution: they both have the ```en:baby-foods``` id with the localized name
- https://world.openfoodfacts.org/categories.json
``` {"url":"https://world.openfoodfacts.org/category/baby-foods","name":"Baby foods","id":"en:baby-foods","products":670} ```
- https://world-fr.openfoodfacts.org/categories.json
``` {"url":"https://world-fr.openfoodfacts.org/categorie/aliments-pour-bebe","

[2017-04-14 15:10] teolemon commented on #410
![image](https://cloud.githubusercontent.com/assets/1689815/25047074/2fc69c92-2135-11e7-9a9b-c03a2c146cd9.png)

[2017-04-15 07:56] fuddl opened #564 "Let the user choose his/her preferred units"
I propose a switch or a series of switches in the settings that adjust which units a user will see on nutrition tables etc.

Preferred units  | Options
----------------|----------
 Energy              | kcal ↔ kj
 Weight              | lb ↔ kg
 Mass                 | oz ↔ L

I don't know which of these settings are actually necessary. I only need the first one.

[2017-04-15 09:24] teolemon commented on #562
updated with proper output

[2017-04-15 09:25] teolemon commented on #562
[code]

[2017-04-15 09:27] teolemon opened #565 "Analyse Linting Results"
[code]

[2017-04-15 15:05] teolemon opened #566 "Method getColor(int) from the type Resources is deprecated"
[code]
[code]

[2017-04-15 15:05] teolemon opened #567 "The import org.greenrobot.greendao.annotation.Unique is never used"
[code]

[2017-04-15 15:06] teolemon opened #568 "Refactor MainActivity.java"
[code]

[2017-04-15 15:07] teolemon opened #569 "The serializable class Nutriments does not declare a static final serialVersionUID field of type long"
[code]

[2017-04-15 15:07] teolemon opened #570 "The serializable class Product does not declare a static final serialVersionUID field of type long"
[code]

[2017-04-15 15:08] teolemon commented on #566
[code]

[2017-04-15 15:38] teolemon opened #571 "Resources$NotFoundException: File res/drawable-hdpi-v4/error_image.png"
[code]

[2017-04-16 13:27] bamberino commented on #545
Yes, please also list the ingredients what are responsible for the result, e.g.: With Allergenic fragrances: Limonene (incl. link to explaination for the ingredient).

[2017-04-17 11:02] teolemon commented on #571
not quite sure why ```drawable-hdpi-v4/error_image.png```is called (error_image exists)

[2017-04-17 11:11] teolemon commented on #571
http://stackoverflow.com/questions/12852702/android-support-multiple-screen

[2017-04-18 14:47] teolemon commented on #183
![image](https://cloud.githubusercontent.com/assets/1689815/25136935/9e58fcda-2456-11e7-921b-1fe299562431.png)
Being implemented by @ChasakisD

[2017-04-19 11:20] Jibec opened #574 "different use case to make OBF/OPFF/OFF crash"
hi there,

a few weeks ago, versions bigger than 0.4 didn't run at all.
Now, with the version 7.xx, it does:
 * run,
 * scan,
 * add unknown items

Before running test, I clean application data.
I go to OBF search page, type "a", open first ingredient, go ingredient tab, it works.
I go to OPFF search page, type "a", open first ingredient, go ingredient tab, it **crashes**.
I go to OFF search page,

[2017-04-21 12:04] teolemon commented on #574
@Jibec Any way you can provide traces of the bug ?

[2017-04-21 16:27] Jibec commented on #574
is this of any help? This is the log from OPFF when going to the ingredients menu.

[code]

[2017-04-21 16:29] teolemon commented on #574
Looks like: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/571

[2017-04-21 16:30] teolemon commented on #574
I'd be interested in the Login Bug. Can you trace it ?

[2017-04-21 19:11] teolemon commented on #256
We are currently giving false information. Turning into a very high impact bug as a result.

[2017-04-22 08:02] Jibec commented on #574
Here it is for the OFF login bug:

[code]

[2017-04-22 08:09] teolemon opened #578 "Crash on the login page due to missing PNG fallback"
Reported by @jibec
[code]

[2017-04-22 08:46] teolemon commented on #448
[code]

[2017-04-22 10:57] teolemon commented on #571
[code]

[2017-04-22 10:58] teolemon commented on #571
While trying to create a folder called drawable-hdpi-v4/error_image.png

[2017-04-22 17:00] teolemon opened #580 "Make Quick Mode more minimalistic, à la Google Maps"
The app would keep scanning all the time.
We could display the info at the bottom of the screen, in a edge to edge card, that you could swipe up to get more info.
You could add some action in the blue button. You could swipe up to go to full product view.
This would make quick mode feel more powerful, less intrusive, almost like AR.

![image](https://cloud.githubusercontent.com/assets/1689815/2530

[2017-04-23 08:32] teolemon commented on #580
http://stackoverflow.com/questions/34310530/sliding-bottomsheet-like-google-map
https://github.com/umano/AndroidSlidingUpPanel
http://stackoverflow.com/questions/21826892/replicate-google-maps-bottom-panel-swipe-up

[2017-04-24 10:49] teolemon opened #583 "Perform on the fly OCR on front and ingredient images"
1. Taking a photo of ingredients
2. Cropping it and indicating language
3. The image is sent to the Open Food Facts server which forwards it to Google Cloud Vision for processing
4. If the image contains NSFW content, a special response is sent
5. Otherwise, text and annotations are received by the app and displayed for correction.

[2017-04-24 10:49] teolemon commented on #583
We can receive raw text, and logo annotations.

[2017-04-26 15:20] Cypresslin opened #585 "Add zh_TW, zh_CN and zh_HK as locales"
For Chinese, it should be divided into:
 * Traditional Chinese (zh_TW)
 * Simplified Chinese (zh_CN)

But for now there is only one, which is Simplified Chinese.

In order to reduce confusion, I would suggest:
 1. Rename "Chinese" to "Simplified Chinese" in the language selection menu.
 2. Add a new entry for Traditional Chinese.

[2017-04-26 15:22] teolemon commented on #585
I've added zh_CN and zh_HK. Should I add zh_TW as well ?

[2017-04-26 15:27] Cypresslin opened #586 "l10n: on openfoodfacts.org, only Simplified Chinese / English available"
If you set your country to Taiwan, there should be a Traditional Chinese version available on the website.

For now, only Simplified Chinese and English are available.

[2017-04-26 15:29] Cypresslin commented on #585
Yes please, that would be great. Many terms are significantly different between these three.
(I'm already doing translation work for zh_TW on launchpad.)
Thanks.

[2017-04-27 09:22] teolemon commented on #585
I've added a rule on Crowdin and imported your translations from Launchpad.
Although a long time Launchpad user, the platform timeouts too often to be usable.
https://crowdin.com/project/openfoodfacts/zh-TW#

[2017-04-27 09:23] teolemon commented on #586
This should be filed against the server
https://github.com/openfoodfacts/openfoodfacts-server

[2017-04-27 10:32] Cypresslin commented on #586
Oops, thanks for pointing that out.

[2017-04-27 10:32] #586 closed

[2017-04-27 10:35] Cypresslin commented on #585
Thanks, so it's better to make translations on Crowdin or on github directly instead of working on launchpad? (If that's the case, issue #301 will need an update)

[2017-04-27 12:11] teolemon commented on #585
corrected on #301
Yes, Crowdin is the way to go now. I'll be syncing for a while, but eventually, I'll probably disable Launchpad.

[2017-04-27 20:53] teolemon opened #588 "Allergen detector doesn't load the allergen list anymore"
The allergen detector doesn't load the allergen list anymore.

[2017-04-27 20:56] teolemon commented on #518
We need to:
- include the logo without tagline by default (both SVG and PNG)
- download the localized logo on first load (both SVG and PNG).
- download the localized logo on locale change (both SVG and PNG).

[2017-04-27 20:57] teolemon commented on #517
This also affect some mobile phones.

[2017-04-27 21:00] teolemon commented on #574
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/578 has been opened.
The other one looks like: #571

Closing this meta bug ? @Jibec

[2017-04-27 21:01] teolemon commented on #551
poke @herau

[2017-04-29 07:46] teolemon opened #589 "Adding screenshots for F-Droid and PlayStore using Fastlane"
The process is explained at: https://gitlab.com/fdroid/fdroidclient/issues/15#note_27126420
Example: https://github.com/open-keychain/open-keychain/tree/master/fastlane/metadata/android/en-US/images
How to on Fastlane website: https://github.com/fastlane/fastlane/blob/1.109.0/supply/README.md#images-and-screenshots

[2017-04-30 08:21] teolemon opened #592 "App not sending images properly"
https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=84182111
I had put a photo of the front and of the ingredients. 1/2 got through.
The product was created in English, and Norwegian and French
![image](https://cloud.githubusercontent.com/assets/1689815/25562756/b38da8ee-2d8e-11e7-8903-cdf89809727f.png)

[2017-05-01 11:37] teolemon commented on #562
This bug is making the builds fail. It prevents us from detecting other bugs.

[2017-05-02 08:30] teolemon opened #596 "Upload popup misplaced on Moto G"
When uploading several images in a row, the upload popup is misplaced on Moto G

![image](https://cloud.githubusercontent.com/assets/1689815/25610092/285b8a58-2f22-11e7-9919-1d401ddf932e.png)

![image](https://cloud.githubusercontent.com/assets/1689815/25610116/3afc1bdc-2f22-11e7-9aa1-8499696d8552.png)

[2017-05-02 08:32] teolemon commented on #444
![image](https://cloud.githubusercontent.com/assets/1689815/25610200/96052a64-2f22-11e7-8477-ba72a95e16e8.png)

[2017-05-02 08:41] #539 closed

[2017-05-02 08:42] teolemon commented on #548
Opened another bug with a trace. Closing this one

[2017-05-02 08:42] #548 closed

[2017-05-02 14:57] picsi commented on #548
Can you link to itw

[2017-05-03 08:53] loi219 opened #597 "Cannot swipe"
When I take a picture of a barcode, I see the basic information and when I swipe to the right, the camera shows up and I can't see the other information about the product.

I'm on Android 6.0.

[2017-05-03 08:56] teolemon commented on #597
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/571

[2017-05-03 09:02] teolemon commented on #597
@loi219 Where did you install Open Food Facts from ? source ? Play Store ? F-Droid ?

[2017-05-03 09:02] loi219 commented on #597
F-Droid

[2017-05-03 09:03] teolemon commented on #571
Ok. It seems that this bug is in the Live version (at least on F-Droid).

[2017-05-03 09:04] teolemon commented on #597
Thanks. I've added a comment on #571. Closing this duplicate

[2017-05-03 09:04] #597 closed

[2017-05-03 11:10] Jibec commented on #574
I would like to say yes, but there is still one more use case to investigate here. I propose to wait for the resolution of the two existing bugs, and to try to reproduce the last bug. If it still exists, we'll have to investigate more, if not well close this ticket, OK ?

[2017-05-06 11:33] teolemon commented on #237
![image](https://cloud.githubusercontent.com/assets/1689815/25772004/81491b9e-3260-11e7-9c0b-c275e2e1766c.png)
First workflow to visualize essential information for a product

[2017-05-06 11:38] teolemon commented on #237
![image](https://cloud.githubusercontent.com/assets/1689815/25772024/3ea947c2-3261-11e7-9c6f-3bb5069091c5.png)

[2017-05-09 07:38] teolemon opened #600 "Open Beauty Facts, Open Food Facts and Open Pet Food Facts have the same name"
![image](https://cloud.githubusercontent.com/assets/1689815/25840185/1f837e30-349b-11e7-8fd3-2cde7b8fb260.png)

[2017-05-09 07:39] teolemon opened #601 "The Rounded icon for Nougat doesn't work"
![image](https://cloud.githubusercontent.com/assets/1689815/25840220/4c1ea988-349b-11e7-8413-07fd52c80d5c.png)
It should fill up the circle

[2017-05-14 22:58] Ekt0s commented on #565
I've fixed 2 lint errors

[2017-05-20 15:37] teolemon opened #605 "Suggest Allergen free alternative to a product"
Suggest Allergen free alternative to a product that contains an allergen you've banned.

Eg you scan : "Andros Meat and Apple Lasagne", it contains gluten.

- Search : category: lasagne -allergen:gluten

[2017-05-20 15:39] teolemon commented on #605
https://world.openfoodfacts.org/cgi/search.pl?action=process&tagtype_0=allergens&tag_contains_0=does_not_contain&tag_0=gluten&tagtype_1=categories&tag_contains_1=contains&tag_1=fr%3Alasagnes&sort_by=unique_scans_n&page_size=20&axis_x=energy&axis_y=products_n&action=display

[2017-06-12 06:56] teolemon commented on #585
- https://crowdin.com/project/openfoodfacts/zh-HK
- https://crowdin.com/project/openfoodfacts/zh-CN
- https://crowdin.com/project/openfoodfacts/zh-TW

[2017-06-24 16:46] teolemon opened #613 "Refactor tracking bug"
@itchix has started a complete refactor of the app based on https://github.com/MindorksOpenSource/android-mvp-architecture

![image](https://user-images.githubusercontent.com/1689815/27510183-d2a0533c-590b-11e7-8922-5b41bd10fc44.png)
![image](https://user-images.githubusercontent.com/1689815/27510187-dcd89fda-590b-11e7-9562-dedbd25aef95.png)
![image](https://user-images.githubusercontent.com/16898

[2017-07-06 18:40] mueller-ma opened #616 "Add option to disable pictures on mobile internet"

[2017-07-10 12:16] teolemon commented on #616
Duplicate of #264

[2017-07-10 12:16] #616 closed

[2017-08-05 21:44] wdwde commented on #348
I would like to see this feature :+1:

[2017-08-09 17:09] Hangman228 opened #621 "0.7.4 App crash when product page is incomplete (drawable-hdpi-v4/error_image.png)"
On Android 4.4.4, app crash when you go on ingredients page who is empty or incomplete, for example on this bar code : 3242272866053 (empty)
or this one : 7613036024358 (incomplete)

[2017-08-24 14:49] Phyks commented on #621
Same on Android 4.2.2.

[2017-08-27 14:39] teolemon commented on #621
Can you give me the version number of the app, as well as the install source ?

[2017-08-27 14:46] Phyks commented on #621
It is version 0.7.4 from [F-Droid](https://f-droid.org/packages/openfoodfacts.github.scrachx.openfood/).

[2017-08-31 10:17] Hangman228 commented on #621
0.7.4 from Play Store

[2017-09-08 15:22] Hangman228 commented on #621
Here is a logcat when it crash

W/ResourceType(25156): Bad XML block: header size 18254 or total size 169478669 is larger than data size 1603
D/AndroidRuntime(25156): Shutting down VM
W/dalvikvm(25156): threadid=1: thread exiting with uncaught exception (group=0x41e7bd88)
E/AndroidRuntime(25156): FATAL EXCEPTION: main
E/AndroidRuntime(25156): Process: openfoodfacts.github.scrachx.openfood, PID: 25

[2017-09-11 15:22] teolemon opened #629 "Use ARCore to overlay the Nutriscore on products"
https://developers.google.com/ar/

[2017-09-14 18:37] mikini commented on #144
The README.md still mentions Launchpad, I reckon that is obsolete now (maybe also a2po?).

[2017-09-14 19:47] mikini commented on #578
I got something similar with OFF v0.7.4 from F-Droid on a Stock Samsung SIII (GT-I9305) running Android 4.4.4. Monitoring press on "Sign-in" yields:
[code]
Device info:
[code]
I can do some diagnostics if needed. Planning on putting an alternative Android on it soon, though.

[2017-09-18 15:51] mikini commented on #548
I think @teolemon is referring to #578. Experiencing the same bug, my trace also says something about an invalid vector in a binary xml file, seems to orignate from file app/src/main/res/drawable/ic_person_grey_24dp.xml.

[2017-09-18 16:21] mikini commented on #578
Digging for "invalid drawable tag vector" lead me to [this stackoverflow comment](https://stackoverflow.com/a/45397767/4782539) which smells like something similar.

I guess the openfoodfacts.github.scrachx.openfood.utils.CustomEditTextView class used by the login form in app/src/main/res/layout/activity_login.xml is based on TextView. And the only reference to ic_person_grey_24dp I found (in mast

[2017-09-18 19:24] teolemon commented on #501
https://material.io/guidelines/patterns/offline-states.html#offline-states-offline-interactions

[2017-09-18 19:24] teolemon commented on #479
https://material.io/guidelines/patterns/offline-states.html#offline-states-offline-interactions

[2017-09-25 19:45] Phyks commented on #621
Looks like this issue is a duplicate of https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/571.

[2017-09-29 00:52] pandark commented on #592
Same here (but only created in French and English, I think).

[2017-10-03 12:38] #487 closed

[2017-10-08 17:22] teolemon commented on #601
https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive.html

[2017-10-08 22:06] ross-holloway94 commented on #158
Alternatively you could use drill-down menus. i.e.
Nuts -> Peanuts, hazelnuts, cashews, pine etc (and select all option)
Dairy -> Milk, Egg

[2017-10-09 18:53] teolemon commented on #158
Totally agree. I have no preconceived idea on what we should do. Itchix has tried a toggle based approach in the V2

[2017-10-09 18:55] teolemon commented on #158
![image](https://user-images.githubusercontent.com/1689815/31353802-3074e2a8-ad34-11e7-92a3-fd20749f1feb.png)

[2017-10-09 18:56] teolemon commented on #158
![image](https://user-images.githubusercontent.com/1689815/31353835-523aa436-ad34-11e7-8047-aa3d6d35ec01.png)

[2017-10-09 18:57] teolemon commented on #158
![image](https://user-images.githubusercontent.com/1689815/31353859-7212bc44-ad34-11e7-9721-8244d1293321.png)

[2017-10-09 18:57] teolemon commented on #158
![image](https://user-images.githubusercontent.com/1689815/31353867-7e04cea2-ad34-11e7-8d74-42e0146cce77.png)

[2017-10-13 07:27] teolemon opened #631 "Add confirmation step before logging out"
Add confirmation step before logging out. This will avoid unvolontary logout. As reported by Qian.

"You're about to log out. Confirm ?"
Yes/No

[2017-10-13 11:41] ross-holloway94 commented on #588
Is this not fixed?

[2017-10-13 12:01] ross-holloway94 opened #632 "Update for compatibility with Android Oreo (API 26)"
As suggested by @teolemon : https://android-developers.googleblog.com/2017/10/introducing-android-instant-apps-sdk-11.html

[2017-10-13 12:06] ross-holloway94 opened #633 "Suggestion: Add allergens for specific individuals"
I would like to know people's opinions on this.
I believe that adding allergens for individuals, and therefore showing who is safe to eat a product and who is not, would improve the user experience.

[2017-10-13 13:24] teolemon commented on #633
Yes. You mean turning the current allergen detector into a multiuser experience ?
[code]

[2017-10-13 13:36] ross-holloway94 commented on #633
Exactly this. I wondered if it was too complicated to add this, however.

[2017-10-13 14:20] teolemon commented on #633
I'm wondering if the case with different allergens for the various children occurs that often.
So in terms of roadmap, not sure, in terms of storytelling ("selling the app"): it tells a great story, even to people who will never use the feature.

[2017-10-13 14:22] ross-holloway94 commented on #633
Well, in my case - my mum is allergic to nuts and white fish. I am allergic to both of those, but I am allergic to egg as well.

[2017-10-13 14:24] teolemon commented on #633
In that case, go ahead. One motivated dev makes a strong case ;-)

[2017-10-15 01:31] teolemon opened #634 "Send an anonymized hash with each contribution non-logged in device"
Send an anonymized hash for each non-logged in device so that we can block any spammer or bad-meaning person server side.
It has to remain the same across contributions, but shouldn't contain any information that could let anyone trace back to the user.
Strongly hashing a uuid might be an option. We need to add a secret string to further protect against any rainbow tables of hashed uuids that migh

[2017-10-16 14:19] ross-holloway94 commented on #358
This appears to be fixed in current release.

![screenshot_20171016-151631](https://user-images.githubusercontent.com/20950727/31616728-655e1ca4-b285-11e7-8243-352f0b6b0c6a.png)

[2017-10-23 12:04] ross-holloway94 commented on #621
This is an API compatibility issue, rather than resolution issue. This error is produced on API 23 but not API 25 or 26. That's all I have so far.

[2017-10-28 19:11] teolemon commented on #30
world.openfoodfacts.org/data/output-small.csv
Database at 1GO, new export: 87MB

[2017-10-29 07:31] teolemon opened #641 "The Jack toolchain is deprecated and will not run"
Warning:The Jack toolchain is deprecated and will not run. To enable support for Java 8 language features built into the plugin, remove 'jackOptions { ... }' from your build.gradle file, and add

android.compileOptions.sourceCompatibility 1.8
android.compileOptions.targetCompatibility 1.8

Future versions of the plugin will not support usage of 'jackOptions' in build.gradle.
To learn more, go to h

[2017-10-29 07:32] teolemon opened #642 "All flavors must now belong to a named flavor dimension."
Error:All flavors must now belong to a named flavor dimension. Learn more at https://d.android.com/r/tools/flavorDimensions-missing-error-message.html

[2017-10-29 07:32] teolemon opened #643 "The specified Android SDK Build Tools version (25.0.1) is ignored, as it is below the minimum supported version (26.0.2) for Android Gradle Plugin 3.0.0."
Error:The specified Android SDK Build Tools version (25.0.1) is ignored, as it is below the minimum supported version (26.0.2) for Android Gradle Plugin 3.0.0.
Android SDK Build Tools 26.0.2 will be used.
To suppress this warning, remove "buildToolsVersion '25.0.1'" from your build.gradle file, as each version of the Android Gradle Plugin now has a default version of the build tools.
<a href="fix.

[2017-10-29 13:10] teolemon opened #645 "Utils.java:179: error: illegal start of expression"
[code]

[2017-10-29 13:17] anticultist commented on #645
could it help to comment out line 177 to avoid double function definition?

[2017-10-29 13:20] teolemon commented on #645
@itchix can you provide feedback on this one ?

[2017-10-29 13:21] teolemon commented on #645
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java#L178

[2017-10-29 13:36] teolemon commented on #621
I've just updated Gradle and APIs on trunk. Can you try building it in Android Studio ? @Hangman228 @Phyks @ross-holloway94

[2017-10-29 13:36] teolemon commented on #358
@asmoth360 Can you confirm ?

[2017-10-29 13:58] teolemon commented on #588
Broken on my device. The Plus button doesn't have any icon, and it's stuck on loading

[2017-10-29 14:01] teolemon commented on #632
Just bumped SDK.
We'd need to implement the new APIs where relevant

[2017-10-30 11:58] teolemon commented on #645
@anticultist can you delete the line in a branch, and see if it builds ?

[2017-10-30 12:30] ross-holloway94 commented on #645
Can confirm deleting line 179 builds successfully. You may need to rebuild the APK though.

[2017-10-30 12:31] teolemon commented on #645
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/646
Build going on

[2017-10-30 12:32] ross-holloway94 commented on #621
@teolemon same issue occurring. The newer versions are fine, it's API 23 and below that are affected.

[2017-10-30 13:13] teolemon opened #647 "java.io.IOException at OpenFoodAPIServiceTest.java:208"
[code]

[2017-11-02 16:57] Phyks commented on #63
:+1: for something like the last image. I would tend to think users will be more encline to answer a simple yes/no question (is this product complete / accurate) when they scan, rather than actually completing the product infos directly on their mobile. This would not provide additional data, but some quality metrics which are always nice to have :)

[2017-11-04 21:45] teolemon commented on #600
Solutions: https://stackoverflow.com/questions/19830972/different-app-names-for-different-build-flavors

[2017-11-04 21:55] teolemon opened #649 "Add tests to check Translated URLs are correct"
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/640/files#diff-89c7ec4cb436d33d9ed2f8a5e480b60b

Check whether the page exists or not at build time, for every language.

[2017-11-04 22:14] teolemon commented on #647
[code]

[2017-11-05 11:21] teolemon opened #650 "Category browser"
Enable users to delve into the Open Food Facts category system, and see products in those categories
https://world.openfoodfacts.org/categories.json

This should be modular, so that we can reuse the code to browse other stuff (packaging types, country of origin…)

![image](https://user-images.githubusercontent.com/1689815/32414283-bbbe9e2c-c223-11e7-984b-5cf37002f093.png)

[2017-11-09 17:29] Rudloff commented on #621
Same issue here with 0.7.4 on Android 6.0.1:
[code]

[2017-11-10 13:09] teolemon commented on #583
There's a code sample to help with that:
https://github.com/GoogleCloudPlatform/cloud-vision/tree/master/android/CloudVision

[2017-11-16 12:56] teolemon opened #652 "Add barcode-less product recognition"
We're going to replace Moodstocks by Pastec.io, since Moodstocks is deprecated.
The doc is here:
http://pastec.io/doc/oss/
[code]

[2017-11-19 11:00] Phyks commented on #621
Two extra cents on this, I can reproduce it with 0.7.3 and 0.7.4 (both from F-Droid), on Android 4.2.2. I also noticed that the splash screen is not correctly scaled on my device, not sure if this can be somehow related.

[2017-12-09 08:53] teolemon opened #656 "The Storage Permission is asked at the wrong time"
The Storage Permission is asked at the wrong time, and thus scary. It is asked when you land on an existing product page.

**Why would I possibly need the storage permission to view a product ?**

- We only need it when **adding a new product from images already on the device**.
- Otherwise, **if adding a new product from the camera, we only need the camera**.
- **If adding additional photos to an

[2017-12-27 17:00] teolemon commented on #613
https://github.com/itchix/TestMVPAndroid

[2017-12-27 17:06] alikyo commented on #650
Hello,

I will work on that ticket.

Br

[2017-12-31 17:02] teolemon commented on #650
Ok, Assigning it to you :-)

[2017-12-31 17:03] teolemon commented on #632
Android will soon enforce minimum SDK targets.

[2017-12-31 17:04] teolemon commented on #632
https://www.slashgear.com/google-to-require-apps-to-target-recent-android-versions-64-bit-19512386/

[2017-12-31 17:05] teolemon opened #666 "Add Allergen button doesn't work"
![image](https://user-images.githubusercontent.com/1689815/34463241-388964b6-ee55-11e7-9a17-9d274854bc24.png)
There should be a white plus icon within the button

[2017-12-31 18:07] teolemon opened #667 "no such table: RATING_PRODUCT"
Created by the merge of the Personal Reviews branch.

[code]

[2017-12-31 18:10] teolemon opened #668 "java.lang.RuntimeException: Unable to start activity ComponentInfo{openfoodfacts.github.scrachx.openfood/openfoodfacts.github.scrachx.openfood.views.ProductActivity}: java.lang.ArrayIndexOutOfBoundsException: length=4; index=4"
Created by the merge of the Personal Reviews branch.
[code]

[2018-01-07 16:26] sj4 commented on #583
with some machine learning, the nutrient facts label should also be 'easy enough' to be OCR-ed automatically, especially because the format is standardized in many countries

[2018-01-08 10:19] teolemon commented on #583
I guess we can start with the ingredients, which is the most useful, has the highest Return on Development.

[2018-01-08 12:55] teolemon commented on #632
Being fixed for API level by https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/669

[2018-01-08 12:57] teolemon commented on #578
@mikini Can you try with latest trunk ?

[2018-01-08 22:50] mikini commented on #578
@teolemon I'm sad to say that this device is now serving in the duty of the eternal bricklayer. At some point I might be able to put together a working 9305 from parts but I can't promise when.

[2018-01-09 12:19] ross-holloway94 commented on #666
Fixed in #670

[2018-01-09 12:19] #666 closed

[2018-01-09 12:20] ross-holloway94 commented on #656
Fixed in #664

[2018-01-09 12:20] #656 closed

[2018-01-09 15:02] ross-holloway94 commented on #452
Fixed in #671

[2018-01-09 15:02] #452 closed

[2018-01-10 15:32] netoliguz91 commented on #643
Thanks man, I just had to updated my grandle and that made the trick.  My regards dude...

[2018-01-15 15:48] ross-holloway94 commented on #343
What is the name of the layout file to change this? I cannot seem to find it.

[2018-01-15 15:53] teolemon commented on #343
activity_save_product_offline.xml

[2018-01-18 13:22] teolemon opened #676 "It is impossible to switch the app to Chinese"

[2018-01-18 13:22] teolemon commented on #676
Simplified chinese doesn't work either

[2018-01-18 13:53] teolemon opened #677 "The categories view stays stuck on "Loading…""
[code]

[2018-01-18 14:04] teolemon commented on #454
Those files are not sourced from Open Food Facts, and need to go away. They don't expose facts but unsourced opinions.
[code]

Let's replace them by results from the API, which in available in many more languages.
We can use the "function" field from this file:
https://github.com/manwar/Food-ECodes/blob/master/share/ecodes.xml

The other fields are too touchy right now.

[2018-01-18 14:58] teolemon commented on #677
Poke @alikyo

[2018-01-20 14:32] teolemon commented on #324
@mac-adder @herau Realized this is still an issue in Trunk, and that we had this branch.
Can you turn it into a pull-request ?

[2018-01-26 23:16] Karljoones opened #680 "Strings not resources in activity_save_product_offline.xml"
Strings should be resources to ensure translation

[2018-01-26 23:41] Karljoones commented on #389
This already seems like it is implemented into the app, can you confirm? I noticed this while adding the icon for #388 and was going to get this one done too. If this is already done, can we close this issue?

[2018-01-26 23:55] Karljoones commented on #138
This has been resolved.

[2018-01-26 23:55] #138 closed

[2018-01-28 12:08] ross-holloway94 commented on #680
Fixed in #683

[2018-01-28 12:08] #680 closed

[2018-01-29 12:44] #387 closed

[2018-01-29 12:48] Karljoones commented on #388
Fixed in #404

[2018-01-29 12:48] #388 closed

[2018-01-29 12:48] Karljoones commented on #389
Fixed in #404

[2018-01-29 12:48] #389 closed

[2018-01-29 12:51] #537 closed

[2018-01-29 12:53] Karljoones commented on #537
Fixed in #682

[2018-01-29 13:27] Karljoones commented on #534
@teolemon I ran into this problem before. In terms of manifest items that allow for use with Fire (Amazon), you will need to put this into the `<manifest>` file of the app.

`<uses-feature android:name="android.hardware.camera" android:required="false"/>`

`<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>`

`<uses-feature android:name="android.hardware.came

[2018-01-29 13:33] Karljoones commented on #358
Confirmed fixed

[2018-01-29 13:33] #358 closed

[2018-01-29 13:36] Karljoones commented on #530
@teolemon can you confirm that this is fixed? Just tried to reproduce it at the moment and could not with the instructions that you outlined above.

[2018-01-29 14:22] ross-holloway94 commented on #343
Fixed in #683

[2018-01-29 14:22] #343 closed

[2018-01-29 16:30] Karljoones opened #685 "String resources needed for HistoryScanActivity"
In the method (line 114) to export the history of the user, there are three headers that are not translated, "Barcode", "Name" and "Brands" along with the filename itself.

[2018-01-30 17:39] Karljoones opened #688 "SaveProductOfflineActivty: incorrect titles & resources"
Noticed this issue when working on the activity. Please ignore the lack of camera button as this is relevant to PR #686. There appears to be two titles for the nutrition images, with the "Take nutrition image" should not be there. This may be confusing to some users.

These titles are also hardcoded in `activity_save_product_offline.xml`.

![screenshot_20180130-173211](https://user-images.githubus

[2018-01-30 19:30] ross-holloway94 commented on #688
This is addressed in #684 .

[2018-01-31 09:47] teolemon opened #690 "Create deeplinks for product pages"
Create deeplinks for product pages so that we can make it easier to open them from search results.

https://developer.android.com/training/app-links/deep-linking.html

[2018-01-31 12:44] teolemon commented on #530
Indeed, fixed. Closing

[2018-01-31 12:44] #530 closed

[2018-01-31 13:21] Ekt0s commented on #690
What are the link that needs to be supported ?

• Search link ?
• Direct link to an item ?

[2018-01-31 13:51] teolemon commented on #690
Direct link to an item would be a good first step. The facet system is the next good candidate

[2018-02-01 12:06] gayanW commented on #348
We'd like to work on this. Do we need calcualte the burned.amount as in the picture? Will that be really necessary?

Any ideas are welcome.

[2018-02-01 14:35] lenucksi commented on #348
A general open-source version of the usual intake counting apps would be great, especially given the OpenFoodFacts data as a basis.
I would like to add [FDDBExtender | https://fddbextender.de] as a nice example, too. They do server storage and viz of the recorded data too and provide an opportunity to collect weight metrics and broad sport activity too. A nice, self-hosted alternative to said feat

[2018-02-02 14:03] #688 closed

[2018-02-06 09:43] teolemon commented on #265
Here's the current view
![image](https://user-images.githubusercontent.com/1689815/35852186-82e35e30-0b2a-11e8-8168-b827b5049718.png)

[2018-02-06 09:44] teolemon opened #692 "Categories crash when the network is low or unexistant"
![image](https://user-images.githubusercontent.com/1689815/35852268-baf9a41e-0b2a-11e8-9519-3d61745b42fb.png)

[2018-02-06 09:51] teolemon commented on #479
![image](https://user-images.githubusercontent.com/1689815/35852602-a5b66cda-0b2b-11e8-85b0-876f4385fb31.png)

[2018-02-06 12:33] ross-holloway94 opened #693 "File provider is preventing the app from launching on earlier Android versions"
Tested on APIs 16 and 18.
From what I can understand, "FileProvider" has been added to the EasyImage library which is causing this problem.

[code]

[2018-02-07 14:01] teolemon opened #694 "Favorite products"
Nice implementation by Wikipedia
![image](https://user-images.githubusercontent.com/1689815/35920297-cefaffe2-0c17-11e8-8e36-6ed398725e95.png)

![image](https://user-images.githubusercontent.com/1689815/35920273-bbff4cd6-0c17-11e8-9be4-36e948aa0fda.png)
![image](https://user-images.githubusercontent.com/1689815/35920280-c1ac60ce-0c17-11e8-882a-a79ab3cd1daa.png)

[2018-02-08 13:15] #372 closed

[2018-02-08 13:18] teolemon commented on #372
Closed by @policorn with #695

Thanks you so much :-)

[2018-02-09 10:21] policorn commented on #183
Hi @teolemon, as far as I can tel this was fixed by PR#577, can we close this as fixed?

[2018-02-09 10:21] teolemon commented on #183
Yup :-)

[2018-02-09 10:21] #183 closed

[2018-02-09 15:26] policorn commented on #641
This was fixed by commit#86fc1016d641c83b39463862414705a44706dedb

[2018-02-09 15:26] #641 closed

[2018-02-09 17:48] policorn commented on #677
OFF is using OkHttpClient 3.9.0. It uses a default read timeout of 10secs. The categories.json takes about that time to get rendered in the server (I guess it is not being cached* and the query is being executed on every "categories list" query hitting the server). Download effective time is ~1.6secs (over 5G wifi and 400mbps downlink).

Implementing OkHttpClient read timeout allows the download p

[2018-02-09 19:34] policorn commented on #692
Hi @teolemon, can it be related with #677 ?

[2018-02-09 19:37] policorn commented on #296
Hi @teolemon, should we display only the categories matching the user language?

[2018-02-10 09:00] teolemon commented on #296
If we have a translation in the user's language, yes, otherwise fallback to English, and if no English, the original language of the product.

[2018-02-10 13:08] teolemon commented on #677
Fix by @policorn just merged

[2018-02-10 14:23] policorn commented on #600
This is fixed, right?

[2018-02-10 14:25] teolemon commented on #600
It seems so:
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/build.gradle

[2018-02-10 14:25] #600 closed

[2018-02-10 14:55] teolemon opened #697 "Put the nutriscore in the Summary tab, below product name"
Put the nutriscore in the Summary tab, below product name
Most people want it first, as a nutrition summary, and it's the killer feature of V1

The code is in the Nutrition tab. Duplicate it. Don't remove it from the nutrition tab. We can live with the nutriscore being displayed twice :-)

[2018-02-10 14:56] policorn commented on #697
Going to work on it

[2018-02-10 19:38] policorn commented on #697
![screenshot_1518291465](https://user-images.githubusercontent.com/18316436/36065982-60b827c0-0ea2-11e8-8553-87bcc0e82c8c.png)

[2018-02-11 08:36] yarons opened #698 "[BUG] Language codes appear as translatable"
This could break numerous applications, can I just remove these from the values/strings.xml file or is there any further step I should take in order to prevent breaking the build?

We're talking about this list:
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/res/values/strings.xml#L32

Kind regards,
Yaron (Hebrew translation)

[2018-02-11 19:08] teolemon commented on #698
cc @policorn

[2018-02-11 19:25] policorn commented on #698
Ok, going to try to understand the issue and work on it

[2018-02-11 23:34] policorn commented on #698
I've reused a big part of @mac-adder's #324 code (https://github.com/mac-adder/openfoodfacts-androidapp/commit/e6339c9715354602623a6163664d34431dab405b)

[2018-02-11 23:35] policorn commented on #698
![screenshot_1518387676](https://user-images.githubusercontent.com/18316436/36080188-9903fe48-0f8c-11e8-8b62-f76a419923a3.png)
![screenshot_1518387727](https://user-images.githubusercontent.com/18316436/36080189-99206a42-0f8c-11e8-8d09-d1dfcf725f86.png)
![screenshot_1518387744](https://user-images.githubusercontent.com/18316436/36080190-993cb7ec-0f8c-11e8-89f1-0d649c2f17be.png)

[2018-02-11 23:49] policorn commented on #698
I've added the locale at the end of each language to make it more easy to pick the desired language (i.e.: you select Chinese by mistake and you don't remember 英语 means "English" by heart).

[2018-02-12 07:31] teolemon opened #702 "Palm oil appears in French, as a slug"
Ingredients that may be from palm oil "huile-vegetale"
![image](https://user-images.githubusercontent.com/1689815/36086932-8da24314-0fcf-11e8-851b-2e650839cd0e.png)

You can try by searching nutella: 3017620429484

[2018-02-12 07:36] teolemon opened #703 "Product with 1 label has extra comma at the end of the list"
![image](https://user-images.githubusercontent.com/1689815/36086965-c1e136bc-0fcf-11e8-8a74-2f28b1a91609.png)

[2018-02-12 07:48] teolemon opened #704 "Add a bottom navigation"
![image](https://user-images.githubusercontent.com/1689815/36087196-6597a448-0fd1-11e8-8141-86f1521ce290.png)

- Language switching of the product
- Share button
- Jump to sections of the product
- Save product to a list

[2018-02-12 07:52] teolemon opened #705 "Add a trending product card on homepage"
![image](https://user-images.githubusercontent.com/1689815/36087295-fe63f712-0fd1-11e8-974f-09384f25e732.png)

[2018-02-12 07:53] teolemon opened #706 "Add a product of the day card on homefeed"
![image](https://user-images.githubusercontent.com/1689815/36087332-2dba0a56-0fd2-11e8-995b-02fb325a6aea.png)

[2018-02-12 07:54] teolemon opened #707 "3D product history / switching"
![image](https://user-images.githubusercontent.com/1689815/36087347-4ade8e5e-0fd2-11e8-8d85-5a52ce00e646.png)

[2018-02-12 07:55] teolemon opened #708 "Add a donation button "Support Open Food Facts""
![image](https://user-images.githubusercontent.com/1689815/36087400-877978c4-0fd2-11e8-9b68-9baa0a088b46.png)
![image](https://user-images.githubusercontent.com/1689815/36087374-6f753c54-0fd2-11e8-94ea-4664421b8932.png)
![image](https://user-images.githubusercontent.com/1689815/36087381-7974c92c-0fd2-11e8-902e-1669c83df7c1.png)

[2018-02-12 08:15] teolemon commented on #708
https://wikimediafoundation.org/wiki/Keep_Wikipedia_Free
https://www.helloasso.com/associations/open-food-facts/formulaires/1/widget/en

[2018-02-12 09:56] yarons commented on #698
You can use CLDR instead of asking translators to do this manually, this will require less strings to translate and maintain.

[2018-02-12 10:19] teolemon commented on #698
Android has https://developer.android.com/reference/java/util/Locale.html

[2018-02-12 10:46] teolemon opened #709 "Crash when clicking on main photo to expand it"
02-12 11:39:24.754 3659-3659/openfoodfacts.github.scrachx.openfood E/AndroidRuntime: FATAL EXCEPTION: main
 Process: openfoodfacts.github.scrachx.openfood, PID: 3659
 java.lang.RuntimeException: Unable to start activity ComponentInfo{openfoodfacts.github.scrachx.openfood/openfoodfacts.github.scrachx.openfood.views.FullScreenImage}: android.view.InflateException: Binary XML file line #7: Binary XML

[2018-02-12 11:02] teolemon commented on #698
fixed. Thank @policorn . High impact one.

[2018-02-12 11:02] #698 closed

[2018-02-12 18:19] batbrain7 commented on #708
@teolemon may I work on this?

[2018-02-12 18:23] teolemon commented on #708
That's a good and useful introduction to the code, I guess. :-)
We work using branches and pull-requests.

[2018-02-12 18:58] samagra14 commented on #643
@teolemon Please close this issue as it has been taken care of.

[2018-02-12 19:00] #643 closed

[2018-02-12 19:00] teolemon commented on #643
thanks @samagra14

[2018-02-12 19:06] samagra14 opened #711 "Upgrade PhotoView version"
A new version (2.1.3) of the PhotoView library is available. Currently, used version is 2.0.0. This should be updated to the latest release.

#### Are you interested to work on this issue?
Yes.

[2018-02-12 19:11] ujjwalagrawal17 opened #712 "Communication channel link is missing in Readme"
Do we have a communication channel on gitter or slack channel for new Contributors and discussion of new features and bugs?

[2018-02-12 19:27] ujjwalagrawal17 opened #713 "Add Installation Script install.sh"
**Issues Faced**
1.Installation failed due to insufficient permission on running easy_install android2po
2. a2po COMMAND --android myproject/res --gettext myproject/locale gives

**Log**
1.error: can't create or remove files in install directory
The following error occurred while trying to add or remove files in the
installation directory:
    [Errno 13] Permission denied: '/usr/local/lib/python2.

[2018-02-12 19:31] iml-v opened #714 "Adding PULL_REQUEST_TEMPLATE.md file for new contributors"
There should be PULL_REQUEST_TEMPLATE.md file which tell new contributors how to get started  .

[2018-02-12 19:35] samagra14 commented on #517
@teolemon, I guess the problem is that currently, the splash screen is implemented via a dedicated splash activity which is not an optimal way of implementing splash screens. Moreover setting up SharedPref and other functionalities in the splash activity is also suboptimal. The correct way of implementing splash screens as stated by Google can be found on the link below:-
https://android.jlelse.eu

[2018-02-12 19:35] iml-v opened #715 "Create ISSUE_TEMPLATE.md file"
There should be proper Issue Template for creating new issues so that others can know about that issue means how he/she created and all .

[2018-02-12 19:38] ujjwalagrawal17 commented on #715
can I work on this?

[2018-02-12 19:38] ujjwalagrawal17 commented on #715
I will send a PR you review it.

[2018-02-12 19:38] iml-v commented on #715
@ujjwalagrawal17  i am working on this

[2018-02-12 19:39] iml-v commented on #714
working on it

[2018-02-12 22:03] policorn commented on #585
Hi @teolemon, this is fixed I guess

[2018-02-12 22:14] teolemon commented on #585
Yes. Serbian still eludes me.

[2018-02-12 22:14] #585 closed

[2018-02-12 22:58] #715 closed

[2018-02-12 22:58] #714 closed

[2018-02-12 22:59] iml-v opened #716 "Adding PULL_REQUEST_TEMPLATE.md file for new contributors"
There should be PULL_REQUEST_TEMPLATE.md file which tell new contributors how to get started for contribution .

[2018-02-12 23:02] iml-v opened #717 "Adding ISSUE_TEMPLATE.md file"
There should be proper Issue Template for creating new issues so that others can know about that issue and its related thing .
.

[2018-02-13 00:09] policorn commented on #585
Serbian Cyrillic is a typo in the lang_array; Serbian Latin seems to be trickier

[2018-02-13 00:28] iml-v opened #720 "there should be wiki page for Introduction to Git and Github for new contributors ."
A wiki page for Introduction  to Git and Github should be there to get started to contributing in project .
something like this -
![giithub](https://user-images.githubusercontent.com/30701209/36137834-f571f046-10bc-11e8-8db3-e29fe20d08e2.PNG)

[2018-02-13 00:28] iml-v commented on #720
would like to work on this ?

[2018-02-13 00:31] iml-v commented on #720
@teolemon what is your point on this ?

[2018-02-13 03:59] samagra14 commented on #720
I guess this is completely unnecessary as people are expected to know git and Github if they are willing to dive into OSS. Besides, there will be no point in adding Introduction to git and Github on every project.

[2018-02-13 07:30] iml-v commented on #720
@samagra14 yeah, but most of time in starting people are not version control familiar ,also there is no guideline how to start working on any Openfoodfacts project .

[2018-02-13 12:35] teolemon opened #721 "Show Nutriscore in search results and scan history as a color dot"

[2018-02-13 12:51] teolemon commented on #721
assigning to @Nymerea

[2018-02-13 13:08] samagra14 commented on #567
@teolemon Please close this issue. It has already been resolved.

[2018-02-13 13:09] ross-holloway94 commented on #567
Issue has been fixed and merged.

[2018-02-13 13:09] #567 closed

[2018-02-13 13:44] samagra14 commented on #568
@teolemon I have resolved this issue. Please take a look.

[2018-02-13 13:59] samagra14 commented on #570
@teolemon I have added the serialVersionUID and from what I have researched, this should work as expected. Please correct me if I am wrong.

[2018-02-13 14:30] ManognaMutyala commented on #519
Could I know if anyone is still working on it or can I work on it @teolemon ?

[2018-02-13 14:45] ross-holloway94 commented on #519
@Karljoones have you started on this?

[2018-02-13 14:52] teolemon commented on #519
I guess it's fine to go ahead.

[2018-02-13 15:13] Shubham2320 commented on #706
Can I work on it?

[2018-02-13 15:17] ManognaMutyala commented on #519
Thanks!! will be submitting PR soon !!

[2018-02-13 17:53] huzaifaiftikhar commented on #709
@teolemon I've fixed this issue. Please merge.

[2018-02-13 18:07] ManognaMutyala opened #726 "App crash"
App is crashing on clicking information related to products such as ingredients,nutrition,nutrition table

![screenshot_20180213-233214](https://user-images.githubusercontent.com/22299553/36165850-dbed6538-1116-11e8-83f2-940a0c0865e1.png)

[2018-02-13 18:15] samagra14 commented on #566
@teolemon I have fixed this issue. Please review my PR.

[2018-02-13 18:24] huzaifaiftikhar commented on #726
Not able to reproduce this bug. Works fine on my device.
Android 7.1.1

[2018-02-13 18:30] ross-holloway94 commented on #726
I believe this is a duplicate of #621

[2018-02-13 18:38] abhinavbajpai2012 commented on #704
hey ,can I work on this?

[2018-02-13 18:40] samagra14 commented on #704
Yeah, sure @abhinavbajpai2012. Noone has claimed this issue. So I guess it is open to contributions.

[2018-02-13 18:48] samagra14 commented on #565
@teolemon What exactly needs to be done? Can you please explain in detail? If all these are to be corrected or checked, then what should be the protocol? (Directly submitting a PR or first opening a particular issue followed by a discussion and then a PR ). Please help.

[2018-02-13 18:50] Karljoones commented on #519
Sorry, haven't had a chance, had great ambition to get a lot of bugs closed but life got in the way!

[2018-02-13 19:06] abhinavbajpai2012 commented on #704
thank you @samagra14 👍

[2018-02-13 19:41] Shubham2320 opened #728 "Bug during search"
On getting search results unnecessary text view containing the wrong message appears while progress bar runs.

<img src="https://user-images.githubusercontent.com/25099208/36169321-f7307f1e-1121-11e8-9ed0-af146b1cf9e2.png" height="440px" />

I'm willing to work on this issue.

[2018-02-13 19:44] abhinavbajpai2012 opened #729 "Progress Bar not properly placed"
![screenshot_2018-02-14-00-51-20-873_openfoodfacts github scrachx openfood](https://user-images.githubusercontent.com/24355881/36169440-41f91ab0-1122-11e8-9db7-4b97a87a2118.png)

Progress bar is getting trimmed at the top in some of the devices.
I want to work on this.

[2018-02-13 20:05] sachincool commented on #569
i would love to work on this. :fire:

[2018-02-13 20:06] teolemon commented on #729
thanks :) go ahead

[2018-02-13 20:07] abhinavbajpai2012 opened #730 "Add an alert window when no internet access detected."
The app notifies the user for no internet connection when he has entered all the details for sign up/search. There should be a alert box to notify the user before searching or accessing the feature regarding no internet connection.
I am willing to work on this and would implement a similar alert box a shown in the below screenshot.
![screenshot_2018-02-14-01-25-35-411_openfoodfacts github scrachx

[2018-02-13 20:10] samagra14 commented on #730
@abhinavbajpai2012  Notifying beforehand is perfect. Nice idea. But I guess a toast message will be a better alternative. Besides, it would cause some unnecessary check network calls.

[2018-02-13 20:10] Shubham2320 opened #731 "Bug on getting back from findProductFragment to homeFragment."
On pressing back button from **find product fragment** we switch back to **home fragment** and in this process overlap of two fragments occur which should be fixed.

<img src="https://user-images.githubusercontent.com/25099208/36171010-195441de-1127-11e8-81c6-fbb8d9e81a90.png" height="440px" />

I will work on this issue.

[2018-02-13 20:12] samagra14 commented on #731
@Shubham2320  Is this the right flavor you have built? It says Open Beauty Facts.

[2018-02-13 20:14] teolemon commented on #731
It closes the app for me. Weird.

[2018-02-13 20:21] abhinavbajpai2012 commented on #730
yup any of the options would work, toast will be better though.

On Wed, Feb 14, 2018 at 1:40 AM, Samagra Sharma <notifications@github.com>
wrote:

[2018-02-13 20:23] teolemon commented on #730
For the login system, if we push it further: it might store the identifier locally, so that login is easier when back online (or even attempt to auto-login when back online)

[2018-02-13 20:24] teolemon commented on #730
For the categories, it could queue the download, and attempt again when network is detected.

[2018-02-13 20:24] Shubham2320 commented on #731
@samagra14  I've built Flavour `obf`. I assume its the right flavour. Correct me if I'm wrong.

[2018-02-13 20:29] abhinavbajpai2012 commented on #730
Ok @teolemon , I will surely implement as you suggested.

[2018-02-13 20:36] Shubham2320 commented on #731
thanks @samagra14 you're right I was in a different flavour, but still, the bug should be fixed.

[2018-02-13 20:39] abhinavbajpai2012 opened #732 "No message for successful logout"
A toast after successful logout is needed and also logs you out when no internet connection. May I fix it while fixing issue #729

[2018-02-13 20:47] teolemon commented on #732
Duplicate of #631

[2018-02-13 20:47] #732 closed

[2018-02-13 20:47] teolemon commented on #631
poke @abhinavbajpai2012

[2018-02-13 21:05] iml-v opened #733 "Back button is not working in sign in & sign up activity"
**Summary:**
when we pres back button in sign up and sign activity is don't goes back .

**Steps to reproduce:**

1. open app --->choose sign in from navbar
2.  press back button

**Expected behaviour:**

on pressing back buttons user should back to mainActivity .

**Observed behaviour:**

It does not do anything on pressing .

**Device and Android version:**
Android  7.0 ,API 24

**Screenshots:**

[2018-02-13 21:07] iml-v commented on #733
@teolemon i am working on this.

[2018-02-13 21:12] Shubham2320 opened #734 "App crashes on taping on the image of products."
<img src="https://user-images.githubusercontent.com/25099208/36173767-1d499e66-1130-11e8-849d-75392bd61b93.png" height="560"/>

**Steps to reproduce:**

1) Open details of any Product which has its image.
2) Tap on the image.

**Stack Trace:**

02-14 02:24:49.471 27357-27357/openfoodfacts.github.scrachx.openfood E/AndroidRuntime: FATAL EXCEPTION: main

[2018-02-13 21:14] teolemon commented on #734
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/725

[2018-02-13 21:14] #566 closed

[2018-02-13 21:16] #717 closed

[2018-02-13 21:19] #570 closed

[2018-02-13 21:32] Shubham2320 commented on #468
@teolemon can I work on it?

[2018-02-13 21:34] ross-holloway94 commented on #468
@Shubham2320 It doesn't seem to be assigned or claimed, so by all means :)

[2018-02-13 21:49] iml-v opened #735 "No warning on pressing back in home activity and app closes"
**Summary:**

when user press back button in app it takes out from app but there is no warning message "Please press back again to exit" .

**Steps to reproduce:**

Start the app ---> press back button on home screen .

**Add System logs:**

**Expected behavior:**

It should show warn message to user like "Please press back again to exit " to come out from app.

**Observed behavior:**

on pressing

[2018-02-13 21:50] iml-v commented on #735
@teolemon  i am working on the issue.

[2018-02-13 21:57] ross-holloway94 commented on #735
@iml-v Before you go too far, I would like to hear more opinions on this. Personally, I would find it annoying.

[2018-02-13 21:58] ross-holloway94 commented on #712
openfoodfacts.slack.com

[2018-02-13 21:58] #712 closed

[2018-02-13 22:03] iml-v commented on #735
@ross-holloway94  sometimes we incidentally presses back and comes out of app and whatever we were doing before become useless so i think it should warn user before going out of app ,also i would like to hear from others opinion on this .

[2018-02-13 22:04] ujjwalagrawal17 commented on #712
I can not join it. Can you send me an invite at ujjwal.iitism@gmail.com

[2018-02-13 23:00] #728 closed

[2018-02-14 03:37] samagra14 commented on #735
@ross-holloway94 I share your opinion. I guess that those "Are you sure you want to exit ?" are annoying.

[2018-02-14 04:30] samagra14 commented on #711
I have upgraded the version. Please review.

[2018-02-14 05:17] samagra14 commented on #714
@iml-v Please don't close issues until your PR is merged. Open issues are a great place for discussions.

[2018-02-14 07:23] Shubham2320 commented on #731
@teolemon yes you're right it closes the app mostly, but I've found the way to reproduce the bug.

**Ways to reproduce:**

1) Open homepage.
2) Search for any product.
3) After getting search results press back.
4) Now the app is back on the homepage.

     Open any of the below fragment.

-     Find product fragment (Search by barcode)
-     Allergen alert
-     Preferences

<img src="https://use

[2018-02-14 08:33] iml-v commented on #714
@samagra14 i agree but there was some problem so did that and reopened same new issue.

[2018-02-14 10:31] abhinavbajpai2012 commented on #704
@teolemon I don't think overlap of FAB or any other view is allowed over bottom bar, although I have implemented it. Shall I send you a PR?

[2018-02-14 11:41] huzaifaiftikhar commented on #500
@teolemon Please take a look at the PR.

[2018-02-14 12:48] Karljoones commented on #735
@ross-holloway94 @teolemon I agree, they can be annoying and interrupt the users flow through their device, might be off-putting for some users, myself included. Exiting out of the app won't remove any data that the user has input, the onResume() should handle this anyway if this is the case.

[2018-02-14 13:25] #568 closed

[2018-02-14 13:38] #709 closed

[2018-02-14 15:04] #500 closed

[2018-02-14 16:35] #468 closed

[2018-02-14 19:41] iml-v commented on #733
@ross-holloway94 @teolemon  fixed this issue and sent PR #747 , Please Review PR.

[2018-02-14 19:45] jaztriumph commented on #693
I wish to work on this.

[2018-02-14 21:57] huzaifaiftikhar commented on #703
@teolemon I have fixed this issue. Please merge.

[2018-02-15 00:22] jaztriumph commented on #578
@Karljoones Did you find a solution? if you are not working on this, I would like to take up on this.

[2018-02-15 01:17] jaztriumph opened #753 "App crashes on clicking "offline edit" option on Android version 4.4 and also when loading offline images"
**Summary:**

App crashes on clicking "offline edit" option on Android version 4.4.

**System logs:**

[code]

**Device and Android version:**

HTC 820 G+
 Android 4.4 KITKAT

**Screen-shots:**
![device-2018-02-15-060357](https://user-images.githubusercontent.com/22943390/36236118-5555a832-121a-11e8-8cf2-4081b2b2f28a.gif)

[2018-02-15 01:18] jaztriumph commented on #753
@teolemon I would like to work on this.

[2018-02-15 04:00] ManavPoddar opened #754 "Adding a side scroll in the categories tab for easier navigation"
**Summary:**

There should be a scroll on side of the categories tab for easier navigation of users to their desired category.

![scroll](https://user-images.githubusercontent.com/18038492/36239762-33b7f8de-1232-11e8-85ee-4f543e59eddc.png)
![screenshot_20180215-092320](https://user-images.githubusercontent.com/18038492/36239785-6808eb52-1232-11e8-9cf6-dd7e17220673.png)

[2018-02-15 04:04] ManavPoddar commented on #754
@teolemon i'm working on it

[2018-02-15 04:29] ManavPoddar opened #755 "Option for deleting a particular item in History"
**Summary:**

There is an option  for deleting all the scan history, but there may be some users who might want to delete only a particular product from their history.

**Steps to reproduce:**

Menu -> History

**Expected behavior:**

We can improvise the feature by selecting the product we want to delete by long pressing it and then pressing the delete button.

**Screen-shots:**

A small example

[2018-02-15 05:28] samagra14 commented on #754
@ManavPoddar Please wait till there is an official nod for the related feature. Don't just start working on issues that are not accepted officially. It might not be agreed upon and you might have wasted your time.

[2018-02-15 05:42] jaztriumph opened #756 "app crashes just after logging in and clicking manage accounts"
**Summary:**

app crashes just after logging in and clicking manage accounts.

**Steps to reproduce:**

just after logging in, in the navigation drawer header we can observe that the name is still anonymous and them on clicking manage accounts.

**Add System logs:**

[code]

**Expected behavior:**

user name in navigation drawer header should get updated after logging in and app should not crash.

[2018-02-15 05:43] jaztriumph commented on #756
@teolemon I will be working on this

[2018-02-15 12:16] Shubham2320 commented on #697
@teolemon hey, is any more work left on this issue or otherwise, it should be closed now.

[2018-02-15 12:27] Shubham2320 commented on #552
This issue has been solved in PR #468.

[2018-02-15 14:41] jaztriumph opened #761 "app crash when you go to item which is empty or incomplete"
**Summary:**

app crash when you go to item which is empty or incomplete, for example on this bar code :7613036024358 (incomplete).

**Steps to reproduce:**

search by barcode 7613036024358.

**System logs:**
[code]
**Device and Android version:**

one plus 5T , Android O.

**Screen-shots:**
![string_errror](https://user-images.githubusercontent.com/22943390/36261949-110f544e-128c-11e8-819c-0a92e1

[2018-02-15 14:48] Shubham2320 commented on #761
I would love to work on this issue if available.

[2018-02-15 14:57] jaztriumph commented on #761
this happened due to changes in this PR #743

[2018-02-15 14:58] jaztriumph commented on #761
@Shubham2320 I am working on this.

[2018-02-15 15:20] ManavPoddar commented on #754
@samagra14  yeah i agree, thanks :)

[2018-02-15 16:07] ManavPoddar opened #763 "The username does not change in the menu when you sign out"
**Summary:**

When you sign-out or sign-in, the username does not change in the menu, it changes only when we restart the app.

**Steps to reproduce**
open app (username in menu is anonymous) -> sign-in (after signing in, username is anonymous)->restart the app (now username changed to that of yours)

**Expected behavior:**

The username should change immediately after we signed in or signed out,

[2018-02-15 16:08] ManavPoddar commented on #763
@teolemon i would love to work on this issue

[2018-02-15 16:10] Shubham2320 commented on #445
I will work in this.

[2018-02-15 16:11] Shubham2320 commented on #446
I will work on this.

[2018-02-15 16:20] ManavPoddar opened #764 "There is an empty list item in the start of the categories tab."
**Summary**
The list item in the start of categories is empty

**Steps to reproduce:**
menu->categories

**Screen-shots:**

![screenshot_20180215-214337](https://user-images.githubusercontent.com/18038492/36267517-143793c6-129a-11e8-93d0-7919bf3a2707.png)

[2018-02-15 16:43] jaztriumph commented on #763
@ManavPoddar Already discussed in #756 and resolved in #760

[2018-02-15 16:47] #763 closed

[2018-02-15 18:44] Siddharth-Singhs opened #766 "Show notifications when network status of device changes."
**Summary:**

Whenever the user goes offline or online,a snackBar should give notification to the User.

**Screen-shots:**
![whatsapp image 2018-02-16 at 00 06 57-2](https://user-images.githubusercontent.com/31280485/36274434-c4320906-12ad-11e8-858b-70451a34e51d.jpeg)
![whatsapp image 2018-02-16 at 00 06 57](https://user-images.githubusercontent.com/31280485/36274436-c65d02da-12ad-11e8-8dbd-f5987f

[2018-02-15 19:07] ManavPoddar commented on #519
@teolemon  i would love working on this

[2018-02-15 19:57] AbsolutelySaurabh commented on #735
I would like to work on this issue.

[2018-02-15 20:07] jaztriumph commented on #571
@teolemon  I think it is a compatibility problem which occurs on android versions below 21 and I can resolve all these issues once #693 is merged.The above error occurs because in  [views/adapters/NutrientLevelListAdapter.java#L60](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/a80c79142a4f441d8c3e6f87ea29f32567829d62/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ad

[2018-02-15 20:19] iml-v commented on #735
@AbsolutelySaurabh thanks you are interested but changes i have done on my local machine i am waiting for @teolemon viewpoint on this issue   .

[2018-02-15 21:33] Shubham2320 commented on #764
I would love to work on this issue if available.

[2018-02-15 21:37] ManavPoddar commented on #764
I am already working on it

[2018-02-15 21:37] AbsolutelySaurabh opened #769 "App is crashing(sometimes) while scanning the bar code on Home screen."
**Summary:**

The app is crashing(sometimes) while scanning the bar code on home screen. It did worked once, and the item got added in the "history", but clicking on the added item in the "history" is crashing afterthen. .

**Steps to reproduce:**

Just press the FAB on the home screen and scan the bar code on the food packet, it's crashing with a message "Unfortunately open food facts has stopped

[2018-02-15 21:39] Shubham2320 commented on #461
I will work on this issue :)

[2018-02-15 21:55] AbsolutelySaurabh commented on #704
We can add a ScrollView effect, in which the bottom bar will be visible once the user taps on the screen, otherwise it'll disappear. Moreover, we'll "bottombar + FAB" in a coordinator layout to make them interact smoothly, that must even eliminate the overlapping problem.

[2018-02-16 01:59] sowmya9029 commented on #583
Hi teolemon, I am Sowmya, a Master's student from Seattle University. I've worked as an Android Application developer for 5 years and am currently taking Machine Learning and Pattern Recognition courses. This problem seems very interesting to me and I would like to begin investigation on this issue and work towards a PoC using the given code sample.

[2018-02-16 02:46] jaztriumph commented on #769
@AbsolutelySaurabh Its already discussed in #761 and resolved in #765.

[2018-02-16 04:23] huzaifaiftikhar commented on #477
@teolemon I would like to work on this issue. Please assign it me.

[2018-02-16 04:44] sowmya9029 commented on #693
This issue still exists.I am unable to proceed forward due to this.
I am running on API version : 23. Can you please let me know if there is a known fix for this.

[2018-02-16 05:11] AbsolutelySaurabh commented on #769
@jaztriumph , should I close this issue?

[2018-02-16 06:53] jaztriumph commented on #693
@sowmya9029  You experiencing this issue while the app is opening right?
I have fixed this in #749.

[2018-02-16 06:54] jaztriumph commented on #769
@AbsolutelySaurabh yes.

[2018-02-16 06:55] #769 closed

[2018-02-16 07:35] jaztriumph commented on #707
@teolemon I wish to work on this.

[2018-02-16 15:47] teolemon commented on #756
I can reproduce. Manage accounts should open a Chrome Custom Tab to manage the account, until we have a native solution
https://world.openfoodfacts.org/cgi/user.pl?userid=XXXXX&type=edit

[2018-02-16 16:01] PrajwalM2212 opened #770 "Implement Product List item as card view"
![screenshot_1518796308](https://user-images.githubusercontent.com/30733262/36316238-c82c5964-135f-11e8-9a93-c8f0d82d1948.png)

The product list items can be card views . The text sizes and colours can be changed to match material design guidelines.

[2018-02-16 16:02] PrajwalM2212 commented on #770
@teolemon @ross-holloway94  I would like to work on this.

[2018-02-16 16:03] teolemon commented on #770
Yup, totally agree :-)
Also, as a side note, it takes ages to load if the network is poor. We should cache the products from the history

[2018-02-16 16:09] teolemon commented on #770
![image](https://user-images.githubusercontent.com/1689815/36316965-16ac2e1c-133c-11e8-8283-9b56fe705e8d.png)

[2018-02-16 16:09] teolemon commented on #770
![image](https://user-images.githubusercontent.com/1689815/36316999-26d779e0-133c-11e8-939f-5a0d6c28cce3.png)

[2018-02-16 16:27] teolemon commented on #314
It seems that @naofum fixed it. Closing.

[2018-02-16 16:27] #314 closed

[2018-02-16 16:33] teolemon commented on #754
Yup, it's ok.
Also, it would be cool to be able to actually click the categories ;-)

[2018-02-16 16:50] teolemon commented on #702
Blocked on https://github.com/openfoodfacts/openfoodfacts-server/issues/522

[2018-02-16 16:56] PrajwalM2212 commented on #770
@teolemon  Let me solve the design aspect of the problem first .
The loading time is large because it is displaying the items after parsing the all the available items .
So we can decrease the load time if can somehow send batches of parsed items (say 10 each time).This way the screen gets populated fast . Or we may add a next button at the bottom and parse only limited number of items each time t

[2018-02-16 17:00] teolemon commented on #770
Yes, let's focus on  one issue at the time :)

[2018-02-16 17:04] AdityaGupta030697 opened #771 "Replace hardcoded strings with string resource in the project"
Hardcoded strings are used at some places in the project. It would be great if we replace the strings with string resource.

I would like to work on the issue.

[2018-02-16 17:06] teolemon commented on #771
Perfect :)
Feel free to be more specific when opening bugs

[2018-02-16 17:08] teolemon commented on #713
We don't use android2po anymore

[2018-02-16 17:11] teolemon commented on #713
Just removed it from instructions

[2018-02-16 17:11] #713 closed

[2018-02-16 17:13] #271 closed

[2018-02-16 17:22] teolemon commented on #676
Fixed.

[2018-02-16 17:22] #676 closed

[2018-02-16 17:23] #650 closed

[2018-02-16 17:46] Karljoones commented on #534
Yep!

[2018-02-16 17:46] #534 closed

[2018-02-16 18:16] PrajwalM2212 commented on #755
@toelmon Nowadays apps come with option to delete by a swipe action . So as an enhancement we may allow a user a delete by swiping a item across the screen . It may lead to a better User Experience as the user need not have to long press a item and delete it .

[2018-02-16 18:34] policorn commented on #569
Hi @sachincool, I've found there're other Serializable Classes without serialVersionUID. Can you please check them too please?

<img width="494" alt="screen shot 2018-02-16 at 19 32 52" src="https://user-images.githubusercontent.com/18316436/36323212-6bdf29f2-1350-11e8-85a7-f26121106565.png">

[2018-02-16 18:59] #569 closed

[2018-02-16 19:15] sachincool commented on #569
@policorn  on it!

[2018-02-16 19:32] #733 closed

[2018-02-16 19:35] #734 closed

[2018-02-16 19:43] ManavPoddar commented on #755
@PrajwalM2212  that's a really nice idea, it is much more convenient :)

[2018-02-16 20:04] ManavPoddar opened #773 "Camera Scan button making it difficult to view the nutrition facts for some products"
**Summary:**

It is nearly impossible to view the bottom most  details of some products under  the Nutrition Facts tab. This is because of the camera  scan button coming in between. For some products, even the scrolling doesn't help.

**Steps to reproduce:**
Open any product -> swipe right to nutrition facts.

**Expected behavior:**

The camera scan button can fade a little or become invisible unt

[2018-02-16 20:06] teolemon commented on #773
Or perhaps add enough space after the table so you can scroll.

[2018-02-16 20:10] ManavPoddar commented on #773
@teolemon I would love working on this issue

[2018-02-16 20:12] teolemon commented on #773
go ahread :)

[2018-02-16 20:31] ManavPoddar opened #775 "Improvement needed for adding a Allergen"
**Summary:**

It is very difficult to search for a specific allergen, as the list is not sorted and neither there is any option to search.

**Steps to reproduce:**

Menu -> allergen alert -> click on the add button.

**Expected behavior:**

Either the list of allergens can be sorted alphabetically or we can add an option for searching our preferred allergen.

**Screen-shots:**

![screenshot_201802

[2018-02-16 21:30] teolemon commented on #775
I guess both (sorting, and filtering) are interesting

[2018-02-16 22:05] teolemon commented on #519
#486

[2018-02-16 22:12] teolemon commented on #729
Can we use a bottom snackbar instead. I'm uneasy with using an offset when screen size and orientation can change (tablets, phablets…), and make it move over the logo or elsewhere

[2018-02-16 22:17] ArchangeGabriel commented on #62
They are some apps having different builds for F-Droid and the Google Play Store, like riot.im, so this is definitively possible just in case someone was wondering about it.

[2018-02-16 22:21] teolemon commented on #349
@stephanegigandet We need an API for this one

[2018-02-16 22:21] ArchangeGabriel commented on #302
Hum… https://f-droid.org/en/packages/openfoodfacts.github.scrachx.openbeauty/ So some renaming should be requested I guess?

[2018-02-16 22:22] teolemon commented on #349
https://github.com/openfoodfacts/openfoodfacts-server/issues/1087

[2018-02-16 22:25] ArchangeGabriel commented on #302
But I guess you know about that… https://gitlab.com/fdroid/fdroiddata/issues/647 :p

[2018-02-16 22:34] ArchangeGabriel opened #776 "0.8 was published on GPS, but no tag and no changelog here"
**Summary:**

See title.

**Steps to reproduce:**

Go to the Play Store (or your favourite PlayStore app), maybe you will see the new version (0.8.0)…

**Expected behavior:**

The new version would be tagged here, a changelog would be available here as written in the Play Store changelog (“Voir GitHub”).

**Observed behavior:**

No tag, no changelog for this version.

[2018-02-16 22:41] teolemon commented on #776
@itchix

[2018-02-16 23:54] AbsolutelySaurabh commented on #775
I am working on this issue.

[2018-02-16 23:55] doomers opened #778 "LoginActivity landscape mode UI issues"
**Summary:**

currently, almost whole of the app is built in portrait mode, but LoginActivity can go in landscape mode also, and this is causing UI issues hiding the sign-up button(as seen in the screenshot), so the orientation of activity should be portrait mode not in landscape mode.

**Steps to reproduce:**

open the LoginActivity and tilt your phone to landscape mode.

**Expected behavior:**

[2018-02-16 23:56] doomers commented on #778
should i send a PR for this?

[2018-02-17 04:48] SatyamBansal commented on #486
I want to work on this issue

[2018-02-17 08:50] sachincool opened #781 "Serializable Classes without serialVersionUID"
**Summary:**
there are some Serializable Classes which don't have `SerialVersionUID`
Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**
Try to build and it will show you warnings

**Expected behavior:**
No warnings at all.

**Screen-shots:**

![](https://user-images.githubusercontent.com/18316436/36323212-6bdf29f2-1350-11e8-85a7-f26121106

[2018-02-17 10:38] Shubham2320 commented on #571
I think this can also be solved in this way PR #784.

[2018-02-17 11:05] sachincool commented on #716
I could Suggest some New Changes in the existing Template, Can I work on this? @iml-v @teolemon

[2018-02-17 11:10] Shubham2320 commented on #596
@teolemon so what are your thoughts on this, where the upload popup should be placed on the screen. I'll propose to make it in **centre of the screen** and also **upload popup is misplaced while uploading a single product image**.

**Screenshot:**

<img src="https://user-images.githubusercontent.com/25099208/36340324-a53e9c68-1400-11e8-835b-6cf9b6f69160.png" height="560" />

I'm willing to work on

[2018-02-17 11:11] sachincool commented on #781
While Checking the files I found that `Product.java` File Uses a Depreciated method and we have to make a Whole class just for 1 method named `convert` i could help finding a better and new alternative for this.
![1](https://user-images.githubusercontent.com/25671488/36340340-f99fafcc-1400-11e8-872e-d9ce5fcaace7.png)
Should I go with it? I was doubtful why it is kept that way.

[2018-02-17 11:47] jaztriumph commented on #571
@Shubham2320 This issue is not in just one file PR #783 fixes all those as the core reason for all of them is same.

[2018-02-17 12:47] #781 closed

[2018-02-17 15:36] samagra14 commented on #517
@ross-holloway94 @teolemon Your views here, please.

[2018-02-17 15:50] Shubham2320 commented on #535
I'm working on this issue.

[2018-02-17 16:29] Shubham2320 commented on #705
Is there any API written already to get the trending product?

[2018-02-17 16:30] teolemon commented on #770
I thought you were going to apply the material style (see my last screenshot) to the History, not apply the Bubble history style to Search :-S

[2018-02-17 16:34] PrajwalM2212 commented on #770
@teolemon  The fork that i have already has card view implemented to the history .

[2018-02-17 16:50] PrajwalM2212 commented on #770
![history](https://user-images.githubusercontent.com/30733262/36343313-aae6052c-1430-11e8-825a-3aacc2f664f9.png)
@teolemon  The history already looks like this .

[2018-02-17 16:55] Shubham2320 commented on #41
is it still an issue?

[2018-02-17 17:01] huzaifaiftikhar opened #788 "Implement static shortcuts for Open Food Facts"
**Summary:**

Add feature for displaying static shortcuts to specific actions. Shortcuts let users quickly start common or recommended tasks within the app. Works on API 25 or above.

**Expected behavior:**

We can add shortcuts for specific actions like 'Scan Barcode' , 'History' and 'Search by barcode' to  let users quickly search the products and also quickly view their history.

**Observed beh

[2018-02-17 17:02] PrajwalM2212 commented on #770
@teolemon  Do you want any changes in the appearance of the history above?

[2018-02-17 17:03] teolemon commented on #788
We already have a bug for App Shortcuts at https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/171
Pinned Shortcuts would be cool as well :-)

[2018-02-17 17:03] Karljoones commented on #770
@PrajwalM2212 I think there may have been a bit of confusion on my behalf, just had a chat with @teolemon regarding this issue. What we wanted to do was to make the history look like the search results. The lists for history, and for search results should be the same, aka: how the search results look at the moment, without card views.

[2018-02-17 17:04] huzaifaiftikhar commented on #788
Ohh I am sorry I didn't look up for that :(
Can I work on that issue?

[2018-02-17 17:08] PrajwalM2212 commented on #770
@Karljoones  The history already has card views implemented before itself(see the image above). So it would be fine to make search also as card views right?

[2018-02-17 17:10] teolemon commented on #770
The Material Design list spec uses lines, like in the history
https://material.io/guidelines/components/lists.html#lists-usage

[2018-02-17 17:15] Karljoones commented on #788
@huzaifaiftikhar of course you can, I am going to close this issue as a duplicate :) Please continue your work on #171

[2018-02-17 17:15] #788 closed

[2018-02-17 17:15] PrajwalM2212 commented on #770
@teolemon  That is the list implementation. Below they have listed cards as an alternative.
I have used card views. The history (in the above image ) already has implemented card views. All search results of google are card views if you see. So it would be better to use card views.
Or do you prefer list views itself.

[2018-02-17 17:40] PrajwalM2212 commented on #770
@Karljoones @teolemon  What is the update on this issue?
Should we go with cards or lists?

[2018-02-17 17:59] #731 closed

[2018-02-17 18:00] Karljoones commented on #770
@PrajwalM2212 the history list should not have cards. You can find more information on the implementation of the search lists [here](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/adapters/ProductsListAdapter.java). The history list adapter is [here](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/m

[2018-02-17 18:01] Shubham2320 commented on #298
I would like to work on this.

[2018-02-17 18:12] PrajwalM2212 commented on #770
@Karljoones  Then we will have to convert card views in history back to lists .I will convert the history into lists .

[2018-02-17 18:17] PrajwalM2212 commented on #770
@Karljoones  Since the history list should not have cards . We will have to change https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/res/layout/history_list_item.xml code to remove card views.
I will do that.

[2018-02-17 18:36] Karljoones commented on #770
Yep! You can use product_list_item.xml for reference! Thanks! Let me know when it is done and I can have another look

[2018-02-17 18:41] abdulwd commented on #690
@teolemon I would like to work on this issue.

[2018-02-17 18:43] PrajwalM2212 commented on #770
@Karljoones  Since this issue was opened for making search as card views , i will create a new issue to remove card views from history.

[2018-02-17 19:15] Karljoones commented on #770
Sure, we can close this pull request for now, and then when you have made the changes, just reopen a new one and we can take it from there. Just so I see it, request a review from me or ping me on Slack.

[2018-02-17 19:15] #770 closed

[2018-02-17 19:24] Karljoones commented on #778
Fixed in #782

[2018-02-17 19:24] #778 closed

[2018-02-17 20:49] Karljoones commented on #771
@AdityaGupta030697 can you put a bit more detail into this issue so others know what it is about? Also, can you confirm if you are working on this?

[2018-02-17 21:19] gerry101 commented on #766
I would like to work on this feature if possible

[2018-02-17 21:20] sidknight commented on #766
I am working on it.

[2018-02-17 21:22] Siddharth-Singhs commented on #766
I am working on it @gerry101

[2018-02-17 21:29] #571 closed

[2018-02-17 21:29] #621 closed

[2018-02-17 21:29] #753 closed

[2018-02-17 21:37] AdityaGupta030697 commented on #771
Yes

[2018-02-17 22:47] #771 closed

[2018-02-17 23:34] gerry101 commented on #766
Okay.

[2018-02-17 23:36] sachincool opened #793 "Forever loading on SplashScreen on OffDebug Variant"
**Summary:**
The Splash Screen Keeps on Loading on `OffDebug` Variant

**Steps to reproduce:**
1 choose offDebug as your build variant
2 Build and run the variant on 7.1 Android
3 Splash Screen with LoadToast is showing indeterminately.

**Add System logs:**
There's no Error
Only a bunch of Database create calls.
**Expected behavior:**
The App should run fine on android 7.1

**Observed behavior:**

[2018-02-17 23:37] sachincool commented on #793
Yes i would like to Work on this issue.

[2018-02-17 23:40] sowmya9029 commented on #484
I am  working on this issue.

[2018-02-17 23:51] sachincool commented on #793
It is caused inside that `getAllergence` call And inside that call it calls the Overridden method `onFailure`
Here is the proof:
![1](https://user-images.githubusercontent.com/25671488/36346770-34daae06-146b-11e8-934c-8b0c82e94178.png)

[2018-02-18 00:05] sachincool commented on #793
on printing the stacktrace of the throwable `t`  i got this
[code]
If anybody got a clue on why is it happening in `getAllergance` method. Don't keep it to yourself :smile:

[2018-02-18 00:35] policorn commented on #399
This is still happening and should be an easy fix, anyone?

[2018-02-18 01:41] policorn commented on #726
Hi @ManognaMutyala, PR #783 should have fixed it, can you update your repo and try to reproduce it? If it's already fixed please close this issue ticket. Thanks!

[2018-02-18 08:29] #552 closed

[2018-02-18 08:47] Karljoones commented on #428
This is implemented, no? Safe to close?

[2018-02-18 12:40] #773 closed

[2018-02-18 12:50] Siddharth-Singhs commented on #766
@Karljoones please check the commit

[2018-02-18 13:29] Karljoones commented on #519
Closed duplicate #486

[2018-02-18 13:29] #519 closed

[2018-02-18 15:22] #477 closed

[2018-02-18 15:28] policorn commented on #171
Hi @teolemon, this one can be closed

[2018-02-18 15:53] teolemon opened #800 "Can't upload pictures on existing products"
**Summary:**

Can't upload pictures on existing products, either  from "Take more pictures" button or from "Take ingredient picture" or "Take nutrition picture"

**Steps to reproduce:**

-Get an existing product
-Take  more pictures
-"We were not able to access the  Internet. Are you having connectivity issues ?"

**Expected behavior:**

- Upload the picture
- If really no internet, we could use t

[2018-02-18 16:10] policorn opened #801 "Shortcut icons are Bitmaps instead of VectorDrawables"
Please replace the shortcuts bitmaps icons introduced in PR #792 by VectorDrawables.

As an example, you can use layer-list to combine the required elements (grayed circle in the back and a referenced drawable on top of it):

[code]
Change the sizes, colors as required to replicate the ones used currently.

**Note**: Not an issue, but a suggested improvement

[2018-02-18 16:10] huzaifaiftikhar commented on #801
@policorn I would like to work on this. Please assign it to me.

[2018-02-18 16:14] teolemon commented on #446
go ahead :)

[2018-02-18 16:16] policorn commented on #801
HI @huzaifaiftikhar, consider it assigned to you 👍

[2018-02-18 16:21] teolemon opened #802 "The red cross for missing image is pixelated in History"
**Summary:**

The red cross for missing image is blurry and pixelated in History. We should have something crisper.

**Device and Android version:**

Android Oreo on a Google Pixel

**Screen-shots:**

![image](https://user-images.githubusercontent.com/1689815/36354142-06311954-14d0-11e8-95e5-9782e8b5ca55.png)

[2018-02-18 16:44] SatyamBansal commented on #802
@teolemon, I suggest that instead of red cross we could use place holder image like this
![placeholder](https://user-images.githubusercontent.com/19202937/36354355-036d7eb4-14f9-11e8-9578-8595dbecfbf0.jpg)

[2018-02-18 16:55] teolemon commented on #802
We use the Open Food Facts pacman on the website
https://static.openfoodfacts.org/images/misc/pacman.svg

[2018-02-18 17:31] #726 closed

[2018-02-18 17:40] policorn commented on #726
Thanks @ManognaMutyala!

[2018-02-18 17:54] Karljoones commented on #486
Fixed #779

[2018-02-18 17:54] #486 closed

[2018-02-18 17:54] Karljoones commented on #185
Fixed #779

[2018-02-18 17:54] #185 closed

[2018-02-18 18:36] huzaifaiftikhar commented on #801
@policorn @teolemon Please review.

[2018-02-18 18:50] #535 closed

[2018-02-18 18:54] Karljoones opened #805 "Persistent dismissal of image upload message"
**Summary:**

The message that informs the user that only one image is necessary for an upload should not be displayed once the user dismisses this. You can check out the message that was added in #789. The message should always appear, but once dismissed by the user, this should be stored in prefs and never shown again.

**Expected behavior:**

This should always display unless dismissed by the u

[2018-02-18 19:02] Shubham2320 commented on #805
I am working on it.

[2018-02-19 08:23] AbsolutelySaurabh commented on #755
May I work on this issue?

[2018-02-19 12:06] #801 closed

[2018-02-19 12:41] doomers opened #807 "Share app feature in the app"
**Summary:**

currently if user want to share the app with other users, there is no feature available, but we can that feature in navigation bar as shown in the screenshot.

this will ease users to share the app with other users on whatsapp, facebook, text, etc with just one click.

![openfood-2](https://user-images.githubusercontent.com/11586392/36378194-de2527f4-159f-11e8-8fc2-b2bdcc7c8ec1.jpeg)

[2018-02-19 12:42] doomers commented on #807
should i send PR for this?

[2018-02-19 12:47] teolemon commented on #807
An interesting idea. A couple of remarks though:
- it needs to take into account the fact that it is distributed both on the Play Store, F-Droid, and it will be distributed on Chinese App store (and some people as a result don't have the Play Store)
- Some people will be annoyed by the button, so it should be dismissable.

Perhaps we could put it in the settings section ?

[2018-02-19 12:59] doomers commented on #807
thanks for the useful remarks,
- firstly,  i don't people will be annoyed by this because of the fact it is the in the last of navigation drawer, only users who want to share the app will navigate that far.

- also putting it in settings will almost hide it, instead what i think is on clicking the share app button in the navigation drawer we will open a menu consisting playstore, F-droid and also

[2018-02-19 13:25] PrajwalM2212 commented on #692
@teolemon  One of the typical way to solve this is to display another layout which asks the user to try again after network becomes available(like browsers) .
Would you like have such a iimplementation?

[2018-02-19 14:18] Shubham2320 opened #809 "Project is not getting build due to Invalid resource directory name."
**Summary:**

The project contains invalid resource directory name due to which project is not getting build.

Path : _openfoodfacts-androidapp\app\src\main\res\values-sr-rME__
 and _openfoodfacts-androidapp\app\src\main\res\values-sr-r__

[2018-02-19 14:19] teolemon commented on #809
oh thanks. I broke the build, sorry. I'm going to fix that

[2018-02-19 14:21] Shubham2320 commented on #809
Welcome :)

[2018-02-19 14:22] teolemon commented on #802
we should use vectors, and a raster fallback

[2018-02-19 14:23] Shubham2320 commented on #809
If it is resolved can I close this issue?

[2018-02-19 14:24] huzaifaiftikhar commented on #802
@SatyamBansal are you working on this issue?

[2018-02-19 14:38] teolemon commented on #809
yup

[2018-02-19 14:38] #809 closed

[2018-02-19 15:22] ManavPoddar commented on #755
Hi @AbsolutelySaurabh, I am working on it :)

[2018-02-19 15:58] huzaifaiftikhar opened #810 "Product not found is shown even when the app is searching for products"
**Summary:**

While searching for a product the message "product not found" is shown even while the app is still in searching mode.

**Steps to reproduce:**
Search for a product, While the app is searching for a product the "products not found" layout is displayed.

**Expected behavior:**

The message "product not found should not be displayed".

**Observed behavior:**

Product not found screen is

[2018-02-19 15:58] huzaifaiftikhar commented on #810
I am working on this issue

[2018-02-19 16:14] SatyamBansal commented on #802
no i m not right now , u can have it

[2018-02-19 16:20] huzaifaiftikhar commented on #802
Okay @SatyamBansal .
I am working on this issue.

[2018-02-19 16:54] doomers commented on #807
should i do it @teolemon?

[2018-02-19 16:55] huzaifaiftikhar commented on #810
@teolemon I have fixed this issue. Please review the PR.

[2018-02-19 17:18] sachincool commented on #60
@samagra14  @policorn  @Karljoones  I think we can close this and start following this.
make the master as Stable Version  I.e the release apk code.
Make the Development Branch where all the PR's get merge/revert.

[2018-02-19 17:46] Arshilgenius opened #813 "Add Intro Screens"
**Summary:**

Currently when a user opens the app for the first time their is no intro screens about what are the main features of the app or how should the user proceed in the app.

**Steps to reproduce:**

Open the App for the first time.

**Observed behavior:**

Adding intro screens in the android app will make it more appealing to new users.

**Screen-shots:**

<img src=https://user-images.git

[2018-02-19 17:49] samagra14 commented on #60
@sachincool I think this is a good idea. One of the owners should checkout a branch from the last stable release and make that branch the release branch.

[2018-02-19 18:11] doomers opened #814 "show notification upon downloading history"
**Summary:**

as of now upon downloading history, the app is not notifying user where we are storing the .csv file,
so we should follow the standard and best approach which almost all apps are following, we should create a notification after downloading of csv file, and the user can open the file directly by clicking that notification.

[2018-02-19 18:14] Arshilgenius opened #815 "Rounded Corners in various buttons"
**Summary:**

According to Material design guidelines the buttons in the app should have rounded corners so that it looks better to the users.

**Steps to reproduce:**

Go to the Sign in section of the app

**Expected behavior:**

The App should have rounded corners.

**Observed behavior:**

Buttons don't have rounded corners.

**Screen-shots:**

The buttons after changing to rounded corners  look

[2018-02-19 18:14] ManognaMutyala commented on #429
Could you please translate the info into english? I would like to work on this issue.

[2018-02-19 18:24] teolemon commented on #813
We need to design carefully what messages we want to send, and what pictures we use.
We need to design it for Open Food Facts, Open Beauty Facts, and Open Pet Food Facts.
== Open Food Facts ==

Scan icon (xlarge)
"Contribute to Food transparency"
"Scan products, take them in picture, make food transparency happen"

Image of the Nutriscore from A to E, if possibly animated(xlarge)
"Get the Nutrisco

[2018-02-19 18:34] Arshilgenius opened #816 "show/hide the password in edittext field."
**Summary:**

Currently in login activity there is no option to unhide/unmask the password if the user want's to check whether he has typed the password correctly or not. This feature although very basic is very useful to the users.

**Steps to reproduce:**

Go to the sign in section of the app.

**Expected behavior:**

This is small but useful feature for the users.

<img src=https://user-images.

[2018-02-19 18:52] teolemon commented on #814
Yup, +1
And also add the option to share it, within the notification

[2018-02-19 18:52] Karljoones commented on #807
I think based on what @teolemon is saying, the only way to effectively doing this would be to lead the user to a webpage where they would be able to choose from a list where they would like to download the app from as there are so many different channels that they can download from.

[2018-02-19 18:53] teolemon commented on #429
<string name="warning_alert_data">Your allergies info will never be sent to the Open Food Facts server. Also, be careful that data may not be accurate, please double-check by yourself! </string>

[2018-02-19 18:54] teolemon commented on #816
go ahead, useful one

[2018-02-19 19:00] Arshilgenius opened #817 "Loading toast in login screen is not properly placed."
**Summary:**

When a user sign's in the app, the Loading toast appears to be half outside the screen rather it should be below in the bottom middle of the screen.

**Steps to reproduce:**

Login in the app

**Expected behavior:**

The Loading toast should not be half outside the screen and rather it should be in the bottom middle of the screen

**Observed behavior:**

<img src=https://user-images.

[2018-02-19 19:01] Karljoones commented on #75
Hey @teolemon and @oliver is this still an issue? Very old issue I know but I want to close it if it no longer affects anyone.

[2018-02-19 19:02] huzaifaiftikhar commented on #807
We could have an option in settings to hide the share option from the navgation drawer. As pointed out by @teolemon that it might annoy some users. In this way users who don't like it would hide the share option from setting.

[2018-02-19 19:03] Karljoones commented on #807
I think he means just hide the whole lot in the settings and not have anything in the navigation drawer for this feature. It's not a feature that a lot of people will use so it does not need to be seen at all times. But hopefully people will see it in settings and be like "OH! Let me share this"

[2018-02-19 19:07] Karljoones commented on #807
You might want to check out this link [here](https://stackoverflow.com/questions/3178043/is-there-a-way-to-detect-if-app-was-installed-with-market-or-not) as it gives a bit of information regarding detecting where the user has installed the app from.

[2018-02-19 19:08] huzaifaiftikhar commented on #817
You can also take a look at #430

[2018-02-19 19:12] Arshilgenius commented on #817
@huzaifaiftikhar  is someone working on that ?

[2018-02-19 19:15] Karljoones commented on #817
Thanks for logging this but this is already being worked on in #739 :) I am going to close this issue for the time being!

[2018-02-19 19:15] #817 closed

[2018-02-19 19:15] huzaifaiftikhar commented on #817
@Arshilgenius You can post a comment there and ask if anyone is working on it or not.

[2018-02-19 19:25] teolemon commented on #813
We use the Android flavor system
https://developer.android.com/studio/build/build-variants.html

As a result, you can have different strings based on the flavor. See for instance the text on the home screen.

[2018-02-19 19:25] huzaifaiftikhar commented on #813
@Arshilgenius Those are just the flavors of the same app. You can change the build variant from studio to get the other versions. There is no seperate repo for that. I hope this helps :smile:

[2018-02-19 19:39] doomers commented on #814
sure, i am working on it.

[2018-02-19 20:57] huzaifaiftikhar commented on #802
@teolemon I have fixed this issue. Please merge.

[2018-02-20 09:49] #815 closed

[2018-02-20 11:02] #578 closed

[2018-02-20 11:03] teolemon commented on #583
Ensure you join the #summerofcode channel on the Open Food Facts Slack.

[2018-02-20 12:25] #816 closed

[2018-02-20 13:00] teolemon opened #824 "Add a password forgotten link in the login screen"
Add a password forgotten link in the login screen

https://world.openfoodfacts.org/cgi/reset_password.pl

It should open in a Chrome Custom Tab

[2018-02-20 13:06] teolemon opened #825 "Add products from the same category, with a better Nutriscore"
Add products from the same category, with a better Nutriscore

Example for a hamburger ranked C:

Display a button that will display a view with A and B hamburgers, ranked by score:
[code]

[2018-02-20 13:35] Arshilgenius commented on #824
@teolemon  Can i work on this?

[2018-02-20 13:36] #802 closed

[2018-02-20 14:42] teolemon commented on #824
yes, you can go ahead :)

[2018-02-20 14:44] teolemon opened #827 "Missing photo and barcode for Products in the Offline edit view"
![image](https://user-images.githubusercontent.com/1689815/36430195-db4c5254-1654-11e8-8041-3e0f91e9aa59.png)
When clicking on it:
![image](https://user-images.githubusercontent.com/1689815/36430213-e46fc136-1654-11e8-904b-16751863755c.png)

We should see the barcode, and the picture I took. Both are missing.

[2018-02-20 14:46] teolemon opened #828 "Button style is not harmonized"
Following the merged PR to change button style, I noticed that the style is not harmonized in the product addition form.

![image](https://user-images.githubusercontent.com/1689815/36430312-2d8becaa-1655-11e8-9386-a57331b2c212.png)

[2018-02-20 14:48] teolemon opened #829 "Bad layout for the "Upload all" button"
There should be padding between the border of the button and the icon, and then between the icon and the text.
![image](https://user-images.githubusercontent.com/1689815/36430443-7cdcc93c-1655-11e8-9147-a386267418e2.png)

[2018-02-20 14:49] teolemon opened #830 "Upload toast is hiding the "Upload All" button"
![image](https://user-images.githubusercontent.com/1689815/36430543-ab5d79aa-1655-11e8-8a7f-c5047ecbb4e8.png)

[2018-02-20 15:16] AbsolutelySaurabh commented on #829
@teolemon I would like to work on this issue.

[2018-02-20 15:21] jaztriumph commented on #800
@teolemon I am working on this.

[2018-02-20 15:42] sachincool commented on #729
@teolemon I can do the changes. @abhinavbajpai2012  can i take this or are you already working on this?

[2018-02-20 15:51] Siddharth-Singhs commented on #830
I want to work on it

[2018-02-20 15:56] Siddharth-Singhs commented on #830
@teolemon can I work on it

[2018-02-20 16:15] teolemon opened #832 "Invisible camera icon in the Product addition form"
Invisible camera icon in the Product addition form
I've tweaked the colors so it is visible. It probably shouldn't be here ?
![image](https://user-images.githubusercontent.com/1689815/36435286-8e589162-1661-11e8-8a3e-37c699abee41.png)

[2018-02-20 16:26] AbsolutelySaurabh commented on #832
@teolemon , I would like to work on this issue please.

[2018-02-20 16:28] teolemon commented on #832
you can go ahead :)

[2018-02-20 16:29] teolemon commented on #830
you can go ahead :)

[2018-02-20 16:35] sachincool opened #834 "Adding a New CONTRIBUTING.MD Guideline for Open Food Facts"
**Summary:**
* There's a Need for a Guideline markdown which will direct new Comers with some of the basic guidelines on how to contribute to the open source. I'll add the `CONTRIBUTING.MD`

* Also `PULL_REQUEST_TEMPLATE` and `ISSUE_TEMPLATE` Needs to be in `.github` folder. Acc to the Github guidelines on templates. As this is a minimal change I'll add these 2 in a  single contribution

* Yes, I

[2018-02-20 16:49] huzaifaiftikhar opened #836 "Remove unused resources"
**Summary:**
We can remove the unused resources. This would help in reduction of overall apk size.
Following is the list of unused resources :

**Drawables**
barcode_black_24dp.xml
circle_view.xml
edittext_bottom.xml
edittext_middle.xml
edittext_top.xml
ic_add_black_24dp.xml
ic_camera_black.xml
ic_crowdsourcing_icon.xml
ic_decode_labels_icon.xml
ic_food_database_icon.xml
ic_home_black_24dp.xml
ic_

[2018-02-20 16:50] AbsolutelySaurabh commented on #828
@teolemon , I would like to work on this issue please.

[2018-02-20 16:50] huzaifaiftikhar commented on #836
@teolemon @Karljoones @policorn Please review this issue. I will send a PR for this then.

[2018-02-20 17:19] Arshilgenius opened #839 "Wrong title in various Activities"
**Summary:**

Currently in various screens like History,Sign in etc the name  of the app in the title instead of
the name of that particular activity is shown.

**Steps to reproduce:**

Go to history,sign in activity

**Expected behavior:**

Name of that particular Activity should be shown.

**Screen-shots:**

<img src=https://user-images.githubusercontent.com/21264401/36438472-0d739ce8-1690-11e8-

[2018-02-20 17:25] teolemon commented on #839
Go ahead.

[2018-02-20 17:29] teolemon opened #840 "Replace the share icon by the Nutriscore on the History view"
Replace the share icon by the Nutriscore on the History view. People will be still able to share the product from the detailed product view.
Quick Mockup
![image](https://user-images.githubusercontent.com/1689815/36439030-ebaca88a-166b-11e8-8ff3-2330eb02f5db.png)

[2018-02-20 17:34] AbsolutelySaurabh commented on #642
@teolemon , Is this issue has been solved now?

[2018-02-20 17:34] Siddharth-Singhs commented on #840
@teolemon can I work on it

[2018-02-20 17:36] teolemon commented on #840
Yes. The Nutriscore is shown on the summary page (if you need to see how to fetch it)

[2018-02-20 19:07] teolemon opened #842 "Progress icon misplaced"
The progress icon is misplaced when uploading offline products.
A nice improvement would be to indicate progress directly by turning the red cross icon on the product line into a progress indicator.

![image](https://user-images.githubusercontent.com/1689815/36437148-815202fa-1666-11e8-9ebd-2827737a789d.png)

[2018-02-20 20:35] AbsolutelySaurabh commented on #827
I am working on this issue.

[2018-02-20 20:43] sowmya9029 commented on #469
I can work on this.

[2018-02-20 20:54] doomers commented on #807
from what i have understood @teolemon @Karljoones , we want to add share button but it should be disabled from the settings, upon settings user can enable that if they need, in this case users who don;t want to use the button willn't get annoyed by the share button, am i right?

[2018-02-20 21:02] Karljoones commented on #807
@doomers No, I think there might be some confusion. If this feature is to be implemented, no item will be going into the navigation drawer. There would only be a share option in the settings. There would be no reason to allow users to enable and disable this feature.

[2018-02-20 21:23] sowmya9029 commented on #583
I have joined #summerofcode.

[2018-02-20 22:39] doomers commented on #807
@Karljoones  thanks for making this clear.

[2018-02-20 23:11] sowmya9029 commented on #260
![device-2018-02-20-133501](https://user-images.githubusercontent.com/11407233/36454314-366fb162-1650-11e8-8004-a6c4affa7bd0.png)
Is this what you are expecting?

[2018-02-21 00:11] policorn commented on #793
Hi @sachincool, I've been able to reproduce the issue, just as you mention, using a 7.0 image. The `java.net.PlainSocketImpl.socketConnect(Native Method)` warning made my thing something weird is going on. The URL `getAllergens()` is trying to retrieve can be accessed without errors outside the app (using a browser with it own TLS certificate stack, independent from the system, like chrome). Moreo

[2018-02-21 04:48] Arshilgenius opened #845 "Dialog box buttons are not appropriately placed."
**Summary:**

The dialog box buttons like Create Account, Cancel,Login etc are not appropriately arranged. They should be horizontal not vertical.

**Steps to reproduce:**

Go to the contribution activity in the app.

**Expected behavior:**

The buttons should be horizontly placed instead they are arranged in vertical order.

**Observed behavior:**

Vertical placement of buttons.

**Screen-shots:*

[2018-02-21 07:52] teolemon commented on #583
No, this is a new feature.

[2018-02-21 08:15] sachincool commented on #793
Wow !! @policorn  I never thought i would see Wireshark and Android in the same room :open_mouth:

I'll get on the links you provided Thankyou So much for the help.  :heart_eyes:

[2018-02-21 09:26] #828 closed

[2018-02-21 10:19] #824 closed

[2018-02-21 10:48] itchix commented on #793
You can see this file to resolve this issue : https://github.com/itchix/TestMVPAndroid/blob/88cf30e65756301464fc63c78ebe6ec47bdea4d8/app/src/main/java/com/scrachx/foodfacts/checker/utils/OkHttpUtil.java
I use it to bypass the bug on Android 7.0

[2018-02-21 10:51] policorn commented on #793
Hi @itchix, could we only force this weak cipher suite for Android 7.0 so the other Android versions can negotiate a stronger one if they support them?

[2018-02-21 11:05] itchix commented on #793
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java#L84

You can verify the `android.os.Build.VERSION_CODES` and pass the good `httpClient`

[2018-02-21 12:50] policorn commented on #793
Hi @sachincool, please implement the fix with @itchix's suggestions - Thanks!

[2018-02-21 12:57] ArmenApresyan8 opened #848 "App name texts are incorrect"
**Summary:**

App name and splash screen image are incorrect

**Expected behavior:**

Shouldn't the app name be Open Food Facts?

**Screen-shots:**

![screenshot_20180221-165509](https://user-images.githubusercontent.com/18738136/36481126-449e2628-1728-11e8-9fde-539349b80008.png)

[2018-02-21 13:02] ArmenApresyan8 opened #849 "Infinite loading in category menu"
**Summary:**

There is infinite progress bar loading in category menu

**Steps to reproduce:**

Select "Category" from navigation bar

**Device and Android version:**

Samsung Galaxy s6 edge
Android 7.0

**Screen-shots:**

![screenshot_20180221-165956](https://user-images.githubusercontent.com/18738136/36481325-f3a0a1c8-1728-11e8-8ed4-b90bd7c29481.png)

[2018-02-21 13:03] Shubham2320 commented on #842
@teolemon I'm also thinking to replace listView by RecyclerView can I do that?

[2018-02-21 13:03] ArmenApresyan8 opened #850 "No items shown in search"
**Summary:**

No items are shown for searching anything

**Steps to reproduce:**

Just search "a"

**Device and Android version:**

Samsung Galaxy s6 edge
Android 7.0

**Screen-shots:**

![screenshot_20180221-170011](https://user-images.githubusercontent.com/18738136/36481371-10d1448c-1729-11e8-97f6-3c7d17cc3826.png)

[2018-02-21 13:12] teolemon commented on #848
We use the Android flavor system to create Open Food Facts, Open Beauty Facts and Open Pet Food Facts out of the same code base. Just select offdebug to get the right version.

[2018-02-21 13:15] ArmenApresyan8 commented on #848
What do I select?

[2018-02-21 13:28] ArmenApresyan8 commented on #848
Ok, I got it thanks!

[2018-02-21 13:29] #848 closed

[2018-02-21 13:30] #850 closed

[2018-02-21 13:30] #849 closed

[2018-02-21 14:34] teolemon opened #852 "Getting rid of this dirty hack (tag.replaceAll("(en:|fr:)", "")) for language management"
Getting rid of this dirty hack

```  String tagWithoutLocale = tag.replaceAll("(en:|fr:)", "").toUpperCase(Locale.getDefault());```
We have many more locales, beyond en: and fr:

[2018-02-21 14:42] iml-v commented on #852
@teolemon  i will correct  this ,should i go ahead ?

[2018-02-21 14:43] samagra14 commented on #852
I was just gonna open an issue for that :sweat_smile: . Thanks.

[2018-02-21 14:45] teolemon commented on #852
How would you both go about solving it ? That's a very good opportunity to delve into the language subtleties of the API :)

[2018-02-21 14:49] samagra14 commented on #517
@teolemon SHould I start working on this issue and implement this screen as explained in the above method?

[2018-02-21 14:55] Shubham2320 commented on #842
I also want to confirm what are all parameters about any product which are necessary to upload it.
On analyzing the code I found out the following code:
[code]
which shows that if any of `product.getBarcode()` , `product.getImgupload_front()` , `product.getBrands()` , `product.getWeight()` , `product.getName()` **is empty** than only the **red cross icon** will be shown otherwise there is also a *

[2018-02-21 16:49] ArmenApresyan8 opened #853 "Infinite loading in splash screen"
**Summary:**

The app doesn't open when the Wi-Fi is on, but when I open the app without the Wi-Fi on, and then turning it on, it doesn't work either.

**Steps to reproduce:**

Just open the app

**Device and Android version:**

Samsung Galaxy S6 edge
Android 7.0 (touchwiz)

**Screen-shots:**

![screenshot_20180221-204758](https://user-images.githubusercontent.com/18738136/36493315-b80de60a-1748-1

[2018-02-21 17:01] iml-v commented on #852
@samagra14  wanted to work on this issue before me ,so i will go with other issues at the same time @teolemon  :)

[2018-02-21 17:03] iml-v commented on #852
@samagra14 confirm if you will work on this  or should i work ?

[2018-02-21 17:05] teolemon opened #854 "Add curved picture mode"
For some products, it's impossible to take the whole ingredient list in a single time because it is curved.

A Curved picture mode would tell the user to take 3 pictures (left middle and right) so that we can process it server side.

Here's an example from a French app

![image](https://user-images.githubusercontent.com/1689815/36494219-c470723a-1731-11e8-9801-96b83b8e9b31.png)

![image](https://u

[2018-02-21 17:06] teolemon opened #855 "Add message to ensure text is legible when taking the ingredient and nutrition picture"
![image](https://user-images.githubusercontent.com/1689815/36494296-f490ede6-1731-11e8-9ce4-1098edd07224.png)
"Is text legible ? " and a button to take the photo again.

[2018-02-21 17:53] Siddharth-Singhs opened #857 "Invalide Resource Directory Name"
**Summary:**

After Updating the Fork there is error while building the gradle.
Thats why travis CI is not passing.

**Screen-shots:**

<img width="271" alt="screen shot 2018-02-21 at 11 21 13 pm" src="https://user-images.githubusercontent.com/31280485/36496432-3dcb28ec-175e-11e8-99af-e95bb423d6e8.png">
<img width="962" alt="screen shot 2018-02-21 at 11 20 57 pm" src="https://user-images.githubuse

[2018-02-21 17:54] Siddharth-Singhs commented on #857
@teolemon Please Resolve this

[2018-02-21 18:04] #839 closed

[2018-02-21 18:23] huzaifaiftikhar commented on #857
@Siddharth-Singhs This is resolved. Just update again.
@teolemon This can be closed.

[2018-02-21 18:24] Siddharth-Singhs commented on #857
Okay Thanks

[2018-02-21 18:24] #857 closed

[2018-02-21 18:39] Shubham2320 commented on #855
I would like to work on it.

[2018-02-21 18:56] Shubham2320 commented on #854
I too faced this problem many times.
I've seen the SendProduct class and right now there is only one variable to store image of ingredients so I'd suggest an approach in which we can store an Integer value which would contain the **count** of **number of ingredient images**   for  the particular product and another variable would be an array to store these number of images.

I'd love to hear other

[2018-02-21 18:59] sowmya9029 commented on #845
I think this issue is fixed. I can see the dialog with buttons aligned horizontally.

[2018-02-21 19:08] policorn commented on #814
Hi @doomers, I saw you deleted the PR; are you going to continue working on it?

[2018-02-21 19:21] sachincool commented on #853
Duplicate Issue #793  @teolemon

[2018-02-21 19:29] sachincool commented on #60
@teolemon  How does this look?  I was thinking on Attaching this md in the `Readme.md/#installation`  of the app once you create a development branch. Also you need to set the main Branch for PR's to `development`

### Branch Policy
We have the following branches
 * **development**
	 All development goes on in this branch. If you're making a contribution,
	 you are supposed to make a pull request

[2018-02-21 19:41] huzaifaiftikhar commented on #832
@teolemon I have fixed this. Please merge.

[2018-02-21 20:25] policorn commented on #60
+1 It makes a lot of sense

[2018-02-21 22:09] doomers commented on #814
i am working on it, actually, i messed up something accidentally,  i will send the PR tomorrow.

[2018-02-21 22:12] ArmenApresyan8 commented on #853
Is there a working solution for this?

[2018-02-21 22:35] sachincool commented on #853
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/858 Here's an ongoing PR for this issue

[2018-02-22 03:33] jaztriumph commented on #800
@teolemon If a user is offline and took a Front picture, we store the image to upload it when he has connectivity but in mean while if some other user uploads the front image what does Api status be when we try to upload the previously stored image?

I got ` {"imgid":"-2","error":"field imgupload_other_en not set","status":"status not ok"}` this body when I tried to upload front image twice. I jus

[2018-02-22 09:04] teolemon commented on #800
@stephanegigandet I don't think we have a "other" field but we store all additional images.
You have 3 selected images (front, ingredient, nutrition) per language, and then you have unselected photos (either because they are old, or because the developper chose not to auto-select them at upload time)

[2018-02-22 09:07] #685 closed

[2018-02-22 09:10] #834 closed

[2018-02-22 09:27] #832 closed

[2018-02-22 09:27] teolemon commented on #832
Merged, thanks @huzaifaiftikhar

[2018-02-22 10:24] Karljoones commented on #845
There seems to be too many buttons on the dialog with too long strings. This would occur on some devices, this is the expected behaviour of the dialog. Maybe we can remove the cancel button? Tapping outside of this dialog should allow for dismissal anyway is `isCancelleable()` is set.

[2018-02-22 10:25] Karljoones commented on #853
Before closing this issue, I would like clarification that this is the same issue. Leave this open for now, but I would like this issue tested again once #858 is merged, to see if this resolves the issue.

[2018-02-22 10:28] Karljoones commented on #830
@Siddharth-Singhs I noticed that you closed the PR for this, how is this issue coming along? Are you still working on it?

[2018-02-22 10:43] Siddharth-Singhs commented on #830
@Karljoones working on it.
Today I will send new PR

[2018-02-22 10:43] Arshilgenius commented on #845
@Karljoones okay i'll remove the cancel button as it is not needed.

[2018-02-22 10:43] Karljoones commented on #825
Could do this as "similar products" tab, with products listed in the users country. There would be no point suggesting a product that is only sold in one country to a user that is in another. Though the issue with this is that not all products have the full list of countries sold...

[2018-02-22 10:44] Karljoones commented on #845
That is just my opinion, might be best to let someone else voice their opinion on this first :)

[2018-02-22 10:44] Karljoones commented on #830
Perfect, thanks @Siddharth-Singhs :)

[2018-02-22 10:46] Arshilgenius commented on #845
Sure. :)

[2018-02-22 10:49] Karljoones opened #864 "Remove "no data" toast from offline edit fragment"
**Avoid reporting a duplicate**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issue tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating reporting a issue.
   - Also before reporting please ensure that you have tested it with the latest (dev) version of the software.

**Summary:**

When opening the offline edit fr

[2018-02-22 10:52] Karljoones commented on #304
This needs to be an option as some users may find this annoying. If the option for this is disabled and there are products that need uploading, how about adding an icon (maybe an exclamation mark) beside the "offline edit" menu item in the navigation drawer? Subtle yet alerts the user that action is needed.

[2018-02-22 10:52] Karljoones commented on #339
@teolemon can we close?

[2018-02-22 10:58] teolemon commented on #304
That's another bug I filed, it indeed needs to be optional, but I would love an optional nudge.

[2018-02-22 10:58] ArmenApresyan8 commented on #864
I would like to work on it

[2018-02-22 11:00] Karljoones commented on #864
You're more than welcome to! Thanks for picking it up!

[2018-02-22 11:01] Karljoones commented on #304
Gotcha!

Notification should have an "upload all" button on it too in that case, make it super easy to upload them without even having to go into the app.

[2018-02-22 11:08] Karljoones commented on #845
@teolemon can we get your opinion on removing the cancel button? I agree that it looks messy when the buttons are too long and bunch up like the image.

[2018-02-22 12:48] PrajwalM2212 opened #865 "Setup Guidelines for Developers"
1 . I have observed that many people face trouble in correctly setting up their development environment leading to problems in pull requests .
2. There are people who are capable of contributing but do not know how to setup their development environment due to lack of knowledge of GitHub and Git .

It would be good if we create setup guidelines for developers  so that they can focus on contributin

[2018-02-22 12:48] PrajwalM2212 commented on #865
I am working on this issue

[2018-02-22 13:22] Shubham2320 commented on #855
This can be implemented together with issue #854. I can work on both together. :) Can I continue?

[2018-02-22 17:47] Arshilgenius opened #867 "Hide status bar in Splash Screen"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-22 18:41] teolemon opened #868 "Let people share images with barcodes to Open Food Facts"
Sometimes people don't have the time to open the app and properly scan a product. Instead, they take  2 or 3 photos of the product, including one with the barcode. Let the people add those pictures to Open Food Facts, and then open a wizard to help them add those pictures to an existing product or create  a new product, based on the case.

If the user only selects one image, it should ensure he ha

[2018-02-22 20:08] teolemon opened #871 "Allergen detector doesn't work"
I tried adding Mozarella as an additive.

-It doesn't work for a product in German (that is Mozarella, but contains Milch)
- It doesn't work for a mozarella product in French that contains Mozarella in ingredients.

My UX is in English.

We should disable it completely until it's reliable

[2018-02-22 20:15] teolemon opened #872 "Add Manufacturer URL"
Some product have a "Link to the product page on the official site of the producer" like the Big Mac
We should display it on the Summary page
https://world.openfoodfacts.org/product/2000000002603/big-mac-mcdonald-s

[2018-02-22 20:22] teolemon commented on #256
https://world.openfoodfacts.org/product/3270190025658/tarama-au-saumon-carrefour

[2018-02-22 20:28] teolemon commented on #256
Bonus points if you make the packager code and city clickable:
https://world.openfoodfacts.org/packager-code/fr-45-093-006-ec (has a nice map of the factory and the other products made in the same factory)
https://world.openfoodfacts.org/city/chevilly-loiret-france

[2018-02-22 20:41] huzaifaiftikhar commented on #256
@teolemon May I try this?

[2018-02-22 20:51] teolemon commented on #256
you can go ahead.
Relevant API parts:
-https://en.wiki.openfoodfacts.org/API#Packager_codes

[2018-02-22 21:36] #813 closed

[2018-02-22 21:36] #755 closed

[2018-02-22 21:52] waadalkatheri commented on #867
I am working on it.

[2018-02-22 23:04] #810 closed

[2018-02-23 00:52] Arshilgenius commented on #867
@waadalkatheri please try to post an issue before working on any feature/issues and see if anyone is not working on it, as it might cause clashes with other people's work, Also if you're new then refer to https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/CONTRIBUTING.md
Thanks :)

[2018-02-23 00:55] Arshilgenius commented on #872
I've like to work on it. :)

[2018-02-23 01:21] waadalkatheri opened #874 "Crash when adding new barcode"
**Summary:**

when search for Barcode number that does not exist and chose add new Barcode the application stops working
**Steps to reproduce:**

when search for Barcode number
How can we reproduce the issue?

[code]
**Expected behavior:**

go to add Barcode Activity

**Device and Android version:**

 Google Nexus 7

**Screenshots:**
![alt text](https://c.top4top.net/p_783sc2j81.png)

[2018-02-23 01:22] waadalkatheri commented on #874
I am working on it.

[2018-02-23 07:12] shushilkumarr commented on #864
![image](https://user-images.githubusercontent.com/22811731/36582270-d445d13a-1896-11e8-8596-538aa933c464.png)

Are you expecting something like this? @Karljoones

[2018-02-23 09:55] ArmenApresyan8 commented on #864
I still have yo wait for #858 to be merged to work on this, as I can't debug the app with by phone. If anyone else wants to work on this, please go ahead.

[2018-02-23 10:12] shushilkumarr commented on #864
can i work on it?

[2018-02-23 12:06] shushilkumarr commented on #864
Is this good enough?
![offline frag](https://user-images.githubusercontent.com/22811731/36593368-696a7d2e-18bf-11e8-9a1e-80efbf41760a.jpeg | width=100)

[2018-02-23 12:52] ross-holloway94 commented on #517
@samagra14 Yes, go ahead. Sorry for the late reply.

[2018-02-23 13:04] teolemon opened #875 "Keep the products in the history in cache"
The products in the history are reloaded each time. They should be cached on the phone.

[2018-02-23 13:05] PrajwalM2212 commented on #875
I will work on this .

[2018-02-23 13:10] teolemon commented on #875
It's part of the GSOC proposals >> https://en.wiki.openfoodfacts.org/Student_projects/GSOC/Proposals#Offline_mode

[2018-02-23 13:12] PrajwalM2212 commented on #875
Shall this issue be left for GSoC or should I work on it ?

[2018-02-23 13:19] teolemon commented on #875
Let's focus on other more urgent issues right now, like using the lite API, or correcting the bugs filed yesterday

[2018-02-23 13:57] Karljoones commented on #864
@shushilkumarr something similar but more "open food fact-y" if that makes sense! Try recreate the same view that should be displayed if there are no products returned in a result to ensure that all is consistent.

This should be a good thing, so include a positive message along the lines of "All done!" or similar.

Does that make sense?

[2018-02-23 14:00] teolemon commented on #864
Also, it should not be sad. There are no products potentially because the user was able to send it with the online mode.
So it should convey something like: "The products you add to Open Food Facts while offline will appear here."

[2018-02-23 14:38] teolemon commented on #872
Yes, you can go ahead :)

[2018-02-23 14:42] teolemon commented on #845
mmh, okay for removing cancel I guess.
Hopefully, less experienced user won't be confused.

[2018-02-23 14:54] teolemon commented on #339
Yes

[2018-02-23 14:54] #339 closed

[2018-02-23 14:54] teolemon commented on #245
Good news, the labels images are now available :
https://world.openfoodfacts.org/labels.json

[2018-02-23 14:57] teolemon opened #876 "Add optional label images in Product View"
Enable the user to optionally display label images in Product View:
https://static.openfoodfacts.org/data/taxonomies/labels.json
[code]
https://static.openfoodfacts.org/images/lang/en/labels/assured-food-standards.82x90.svg

[2018-02-23 15:53] #805 closed

[2018-02-23 16:58] teolemon opened #877 "Additives are always displayed in English while we have translations"
https://world.openfoodfacts.org/api/v0/product/737628064502.json

https://world-fr.openfoodfacts.org/additives.json
https://world-ru.openfoodfacts.org/additives.json
https://world.openfoodfacts.org/additives.json

![image](https://user-images.githubusercontent.com/1689815/36606150-1d6db662-18c3-11e8-8447-8b92dfd3c13d.png)

[2018-02-23 17:03] #631 closed

[2018-02-23 17:35] sashank27 commented on #876
@teolemon I would like to work on this. Could you please elaborate more on the issue?

[2018-02-23 17:37] Shubham2320 commented on #877
Can I work on it?

[2018-02-23 17:38] #565 closed

[2018-02-23 17:46] Karljoones commented on #877
Of course @Shubham2320, all yours :)

[2018-02-23 17:46] Shubham2320 commented on #877
Thank you :)

[2018-02-23 19:06] samagra14 opened #881 "Replacing anonymous classes with lambdas."
With the addition of JAVA 8, it is advised to use lambdas over anonymous classes for implementation of functional interfaces.

**Steps to reproduce:**

NA

**Add system logs:**

NA

**Expected behaviour:**

It is better if lambdas are more frequently used. Major benefit being runtime invocation of lambdas leading to smaller APk (avoids compile-time creation of anonymous .class files).

**Observed

[2018-02-23 19:10] Karljoones commented on #881
@samagra14 do you have any examples of where you would use this?

[2018-02-23 19:16] samagra14 commented on #881
@Karljoones the best example is the implementation of various Callbacks. Currently, we are doing this
[code]
However this can be replaced by the code below
[code]
**Short + Simple + Lower size **

[2018-02-23 19:23] Karljoones commented on #881
I think that we should wait a little before jumping the gun on this, I would like to wait to see other peoples opinions. We are trying to close off older issues at the moment rather than starting to refactor the app.

[2018-02-23 19:24] samagra14 commented on #881
Yeah sure :sweat_smile:

[2018-02-23 19:37] Arshilgenius commented on #881
@Karljoones  I think we should focus on adding new features and solving existing bugs and after that we can move to refractoring. That's my opinion let hear from other people.

[2018-02-23 19:54] l-o-b-s-t-e-r opened #882 "Frozen camera preview"
Steps:
1. Open screen to scan bar code.
2. Choose the "Select camera" option in toolbar
3. Click cancel in pop up dialog

Actual result: the camera preview is frozen, there is no ability to scan bar code.
Expected result: camera preview is working, there is ability to scan bar code.

[2018-02-23 19:56] sowmya9029 commented on #871
What should we disable do you mean the "Allergen alert" menu item? Are you referring to the below screen where Mozarella is shown in English when set to other language ?
![device-2018-02-23-115216](https://user-images.githubusercontent.com/11407233/36614125-89ef1db8-1890-11e8-881f-39c671e9a035.png)
 Can you given me more inputs so that I can start working on this.

[2018-02-23 20:08] l-o-b-s-t-e-r commented on #882
#883

[2018-02-23 21:41] sowmya9029 commented on #868
Can you please explain it more about what is the exact expectation ?I have added the OFF application in the sharing option. I'm not sure how the flow of the application should be.
Which screen should be launched after selecting open food facts app  from the option?

![1](https://user-images.githubusercontent.com/11407233/36617845-e7184b88-189d-11e8-95cc-62e38e0863ee.png)

[2018-02-23 23:16] policorn opened #885 "Broken build in master branch"
master branch cannot be built (as of head 72599226466dea69ebc7cb20d96ab9f78f9fd84d)
[code]

[2018-02-24 00:16] policorn commented on #885
Fixed by #884 (Also in #883 and #858)

[2018-02-24 01:13] #874 closed

[2018-02-24 02:38] PrajwalM2212 commented on #213
I am working on it.

[2018-02-24 08:59] #885 closed

[2018-02-24 09:34] shushilkumarr commented on #864
![pr pic](https://user-images.githubusercontent.com/22811731/36628825-d0f13294-1973-11e8-87b0-3f65b229285d.jpeg)

How about this layout?

[2018-02-24 10:37] sachincool opened #888 "Image Upload Fails on nougat"
**Summary:**
Image upload  fails on nougat

**Steps to reproduce:**
* scan a product
* Put details
* the content you put is sent succesfully and uploaded on server, but image  upload  fails and a Toast message appears
* try uploading again by going through history.

**Expected behavior:**
Image upload is  successful

**Device and Android version:**
 Nougat 7.0

[2018-02-24 10:38] sachincool commented on #888
#858

[2018-02-24 10:41] Karljoones commented on #864
@shushilkumarr Right idea, wrong implementation. The icon is too large and pixelated. This of the unread thread in Slack, a postive message and a small icon.

![image](https://user-images.githubusercontent.com/5596450/36629554-05aa7baa-194f-11e8-8b13-4e3249cde2e8.png)

Think along the lines of material design, check out this [icon](https://material.io/icons/#ic_done_all) for inspiration.

[2018-02-24 11:16] Karljoones opened #890 "Product not found toast in search should be removed"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-24 11:41] waadalkatheri commented on #890
Can I work on this?

[2018-02-24 11:42] waadalkatheri commented on #888
Can I work on this?

[2018-02-24 11:53] sachincool commented on #888
Yes, Go Ahead @waadalkatheri

[2018-02-24 12:48] shushilkumarr commented on #864
Just to be clear, Do you want me to change the icon or can I use it after resizing?

[2018-02-24 12:52] huzaifaiftikhar commented on #864
Use vectors wherever possible they are scalable and won't get pixelated :)

[2018-02-24 13:15] l-o-b-s-t-e-r commented on #827
#892

[2018-02-24 13:19] #882 closed

[2018-02-24 13:37] PrajwalM2212 opened #895 "Fix Text Size"
The intro screens are awesome but text sizes must be changed from dp to sp.
<img width="1680" alt="text_size" src="https://user-images.githubusercontent.com/30733262/36630975-e51506f2-1995-11e8-9ce8-c570c9986056.png">

[2018-02-24 13:48] Karljoones commented on #864
@shushilkumarr in my opinion, it should be something simpler, the icon that you used just seems to have a lot going on in it and does not suit material design :)

[2018-02-24 14:18] shivanshsoni opened #897 "Wrong screen showing while pressing back button"

[2018-02-24 14:27] #897 closed

[2018-02-24 14:40] shushilkumarr commented on #864
![updated_layout](https://user-images.githubusercontent.com/22811731/36631485-b6781b32-199e-11e8-926c-60860d754b6d.jpeg)

How about this one?

[2018-02-24 15:06] teolemon commented on #864
- When designing user interfaces, avoid exclamation marks.
- "All your contributions have been sent." would be a nice wording.
- Keep everything the same color (gray), like in your first mockup. In material design, gray is used for empty screens.

[2018-02-24 15:46] shushilkumarr commented on #864
![updated_layout](https://user-images.githubusercontent.com/22811731/36632089-dffe9f36-19a7-11e8-997d-1764c1113b5a.jpeg)

Is this ok?

[2018-02-24 16:16] shivanshsoni opened #898 "cancel button in camera selection mode of Scanning with barcode pausing the camera"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-24 16:50] teolemon opened #900 "Add a secret mode to use the .net server"
Add a secret mode to use the .net server instead or the .org server, so that we can easily test new features.

[2018-02-24 16:52] teolemon opened #901 "Use the new lite API in the Quick Scan mode"
https://world.openfoodfacts.org/api/v0/product/3700278400881.json?fields=product_name,categories_tags,ingredients_text,image_front_small_url,nutrition_grades_tags

Beware: ensure you pass all the fields necessary to the URL

[2018-02-24 16:53] teolemon opened #902 "Use the new lite API in Search"
https://world.openfoodfacts.org/cgi/search.pl?search_terms=nutella&search_simple=1&action=process&json=1&fields=product_name,nutrition_grades_tags,quantity,brands

Beware: ensure you pass all the fields necessary to the URL

[2018-02-24 16:53] teolemon opened #903 "Use the new lite API to delve into categories in the category browser"
https://world.openfoodfacts.org/category/pizzas.json?fields=product_name,categories_tags,ingredients_text,image_front_small_url,nutrition_grades_tags

Beware: ensure you pass all the fields necessary to the URL

[2018-02-24 16:58] teolemon opened #904 "Let the user choose the resolution of images he/she sends"
Newer cameras can produce images up to 20MB large.
Let the user choose the resolution of images he/she sends on mobile networks, with a minimum, to ensure the image is legible.

[2018-02-24 17:30] l-o-b-s-t-e-r commented on #872
@teolemon

[2018-02-24 17:36] l-o-b-s-t-e-r commented on #898
already fixed #883

[2018-02-24 17:47] l-o-b-s-t-e-r commented on #900
@teolemon
What do you mean by "secret mode"? Just add one more build varian with new HOST?

[2018-02-24 17:49] PrajwalM2212 commented on #267
I am working on it

[2018-02-24 17:50] teolemon commented on #900
Nope, because that would mean 6 flavors (3 current flavors *2). I was thinking of a hidden setting.
It is not a priority bug, anyway.

[2018-02-24 18:41] PrajwalM2212 commented on #865
The pull request has been merged .

[2018-02-24 18:41] #865 closed

[2018-02-24 18:51] jaztriumph commented on #580
@teolemon I will work on this

[2018-02-24 18:53] l-o-b-s-t-e-r commented on #901
@teolemon
How can I find this "Quick Scan mode"?

[2018-02-24 19:01] teolemon commented on #901
You can activate it from the settings

[2018-02-24 19:27] l-o-b-s-t-e-r commented on #901
@teolemon
We don't use such API to find product by barcode. We use api/v0/produit/{barcode}.json.

[2018-02-24 19:39] teolemon commented on #901
Updated, thanks :)

[2018-02-24 20:24] l-o-b-s-t-e-r commented on #903
@teolemon
If I'm not mistaken, there is no implementation to display products which are related to category, because category list is not even clickable. Also, API call for loading products by category isn't using.

Do we have to start implementing this?

[2018-02-24 22:54] #827 closed

[2018-02-24 22:55] policorn commented on #827
Hi @AbsolutelySaurabh; this has been fixed by #892

[2018-02-24 23:07] #890 closed

[2018-02-24 23:13] policorn commented on #872
Hi @Arshilgenius, are you still working on this issue?

[2018-02-24 23:30] #213 closed

[2018-02-24 23:37] #895 closed

[2018-02-25 03:11] shivanshsoni commented on #898
OK

[2018-02-25 03:11] #898 closed

[2018-02-25 03:13] shivanshsoni commented on #904
@teolemon I would like to work on this issue

[2018-02-25 04:44] shushilkumarr commented on #305
@teolemon could you please elaborate on what is need to be done in this issue?

[2018-02-25 05:27] shivanshsoni opened #912 "Large logo Size on home screen"
logo size on home screen is looking too big. So, it's size must be fixed.

Device Name: Redmi Note 4 (Android version 7.0(nougat))

Screnshot attached:
before
![whatsapp image 2018-02-25 at 18 03 00](https://user-images.githubusercontent.com/24546371/36641569-94529d70-1a57-11e8-88ef-daf875dcec52.jpeg)

after
![whatsapp image 2018-02-25 at 18 38 34 1](https://user-images.githubusercontent.com/24546

[2018-02-25 05:34] shivanshsoni commented on #904
Ya, I think it's a good idea. I would love to work on this.

[2018-02-25 06:15] ManavPoddar commented on #242
@teolemon  I think this issue can be closed now :)

[2018-02-25 06:16] shivanshsoni commented on #830
@Siddharth-Singhs Are you still working on this issue??

[2018-02-25 11:09] Karljoones commented on #912
Hi @shivanshsoni, please ensure that you upload screenshots with issue logging to make sure that people know exactly what you are referring to. If possible, please also include device information as the size of this icon may change depending on the device.

[2018-02-25 11:51] #836 closed

[2018-02-25 11:58] policorn commented on #900
Hi @teolemon; what about using a local proxy (for development?)? Would it be feasible or we prefer an automated configuration integrated with Android Studio?