[2020-08-22 19:34] sentry opened #3463 "IllegalArgumentException: Invalid slide direction"
Sentry Issue: [OPENFOODFACTS-ANDROID-3Q](https://sentry.io/organizations/openfoodfacts/issues/1854154443/?referrer=github_integration)

[code]

[2020-08-23 08:11] sentry-io[bot] opened #3464 "NPE - .models.Nutriments.get(java.lang.String - AddProductActivity.checkFieldsThenSave(AddProductActivity.java:423)"
Sentry Issue: [OPENFOODFACTS-ANDROID-3T](https://sentry.io/organizations/openfoodfacts/issues/1854751125/?referrer=github_integration)

[code]

[2020-08-23 09:41] teolemon opened #3465 "The app seems to duplicate queries"
The app seems to duplicate queries
[code]

[2020-08-23 11:48] sentry-io[bot] opened #3466 "`Loading…` message in edit mode"
NPE .String.equals(java.lang.Object) - getFieldForLanguage(Product.java:226)
`Loading…` message in edit mode

![image](https://user-images.githubusercontent.com/1689815/91094452-165fa200-e65b-11ea-8347-1b0c32bb37b7.png)

Sentry Issue: [OPENFOODFACTS-ANDROID-3W](https://sentry.io/organizations/openfoodfacts/issues/1854911703/?referrer=github_integration)

[code]

[2020-08-23 11:48] sentry-io[bot] opened #3467 "NPE - FullScreenActivityOpener - android.widget.Toast.makeText(Toast.java:333)"
Sentry Issue: [OPENFOODFACTS-ANDROID-3V](https://sentry.io/organizations/openfoodfacts/issues/1854909983/?referrer=github_integration)

[code]

[2020-08-23 12:55] sentry-io[bot] opened #3468 "AndroidRuntimeException - CommonBottomListener.java:54 - requestFeature() must be called before adding content"
Sentry Issue: [OPENFOODFACTS-ANDROID-3Y](https://sentry.io/organizations/openfoodfacts/issues/1854963865/?referrer=github_integration)

[code]

[2020-08-23 15:18] #3463 closed, assigned to nobody

[2020-08-23 15:23] teolemon opened #3469 "Screenshot build failing and blocking release"
/home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/TakeScreenshotScanActivityTest.java:10: error: cannot find symbol
13824
import openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity;
13825
                                                  ^
13826
  symbol:   class ContinuousScanActivity
13827

[2020-08-23 17:14] teolemon commented on #3421
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashActivity.java#L47

[2020-08-23 17:14] teolemon commented on #3421
This might be related to device orientation

[2020-08-23 17:17] sentry-io[bot] opened #3470 "NPE - models.Nutriments.get(java.lang.String) - AddProductNutritionFactsFragment.java:769"
Sentry Issue: [OPENFOODFACTS-ANDROID-40](https://sentry.io/organizations/openfoodfacts/issues/1855201292/?referrer=github_integration)

[code]

[2020-08-23 17:18] teolemon commented on #3470
AddProductNutritionFactsFragment
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java#L582

[2020-08-23 17:19] teolemon commented on #3470
openfoodfacts.github.scrachx.openfood.fragments.AddProductNutritionFactsFragment in addNutrientToMapIfUpdated at line 769
openfoodfacts.github.scrachx.openfood.fragments.AddProductNutritionFactsFragment in addUpdatedFieldsToMap at line 722
openfoodfacts.github.scrachx.openfood.views.AddProductActivity in saveProduct at line 357
openfoodfacts.github.scrachx.openfood.views.AddProductActivity in chec

[2020-08-23 17:39] sentry-io[bot] opened #3471 "This Activity already has an action bar supplied by the window decor. Do not request Window.FEATURE_SUPPORT_ACTION_BAR and set windowActionBar to false in your theme to use a Toolbar instead. at openfoodfacts.github.scrachx.openfood.views.ProductBrowsingListActivity.onCreate(ProductBrowsingListActivity.java:218"
Sentry Issue: [OPENFOODFACTS-ANDROID-27](https://sentry.io/organizations/openfoodfacts/issues/1807852982/?referrer=github_integration)

`
IllegalStateException: This Activity already has an action bar supplied by the window decor. Do not request Window.FEATURE_SUPPORT_ACTION_BAR and set windowActionBar to false in your theme to use a Toolbar instead.
    at openfoodfacts.github.scrachx.openfood.vi

[2020-08-23 17:42] teolemon opened #3472 "IllegalStateException: Fragment not attached to an activity at openfood.views.product - (IngredientsProductFragment.java:2)"
java.lang.IllegalStateException: Fragment z{ebe6e16} (cc8b936a-0eb2-4a6e-8ba9-1f28672b6de6)} not attached to an activity.

[code]

[2020-08-23 18:29] teolemon commented on #3466
Probably related to the "caricamento" issue

[2020-08-24 11:26] teolemon opened #3473 "Hunger Games prompts not displayed on some screen resolutions"
![image](https://user-images.githubusercontent.com/1689815/91039704-5304ac80-e60d-11ea-8df9-99d22c92bb77.png)
@raphael0202 reports on a (French OS) (French app) (Logged in to OFF) that he does not see the Hunger Games prompts. That might have to do with the ratio of his screen, possibly.

[2020-08-24 11:48] teolemon commented on #3472
Probably the same as #3460 and #3461 #3440

[2020-08-24 13:29] sentry-io[bot] opened #3474 "NPE - android.widget.ProgressBar - openfood.views.scan.ContinuousScanActivity$1.onSuccess(ContinuousScanActivity.java:275)"
Sentry Issue: [OPENFOODFACTS-ANDROID-46](https://sentry.io/organizations/openfoodfacts/issues/1856407903/?referrer=github_integration)

[code]

[2020-08-24 15:09] teolemon commented on #3421
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashActivity.java#L53
to prefs rather

[2020-08-24 17:10] stephanegigandet commented on #3465
Whenever an user goes to the home screen, those 3 queries are made:

[code]
If the user clicks the "Home" screen button 10 times, then you get the queries 10 times.

[2020-08-24 17:10] sentry-io[bot] opened #3475 "NPE: checkFieldsThenSave(AddProductActivity.java:423) - com.hootsuite.nachos.NachoTextView"
Sentry Issue: [OPENFOODFACTS-ANDROID-48](https://sentry.io/organizations/openfoodfacts/issues/1856784167/?referrer=github_integration)

[code]

[2020-08-24 18:00] teolemon opened #3476 "The taxonomies are loaded at each opening of the app"
The taxonomies are loaded at each opening of the app, resulting probably in a blank screen, which lasts anywhere from 5s to 30s.
**A user on the PlayStore**
[code]
**Another user on the PlayStore**
[code]
**Stéphane Gigandet**
After a discussion with @stephane, the white screen seems to last 6 seconds for him, on a Galaxy S7 device
[code]

[2020-08-24 18:02] teolemon commented on #3476
Stephane so my guess is that the duplicate queries and the white screen are 2 different issues. duplicate queries is just users hitting Home a few too many times
and the white screen is the loading of all the json stuff, with the app waiting for the queries to be done.

Pierre Slamich normally they are not reloaded each time, and normally, they are non-blocking which is doubly confusing

[2020-08-24 18:02] teolemon commented on #3476
https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/107a2b2c5477222182ea443d916a62a08c9af67e#diff-05fea2d6862815c6630802b3dcdc2a6e

we changed some code recently might be related

[2020-08-24 20:42] teolemon commented on #3466
![image](https://user-images.githubusercontent.com/1689815/91094452-165fa200-e65b-11ea-8347-1b0c32bb37b7.png)

[2020-08-25 08:00] teolemon commented on #3429
thanks. doing that right now

[2020-08-25 09:35] teolemon opened #3477 "Add screenshot generation to GitHub Actions pipeline"
- [ ] Add screenshot generation to GitHub Actions pipeline
- [ ] Upload generated screenshots somewhere

[code]

[2020-08-25 09:40] #3457 closed

[2020-08-25 09:44] teolemon commented on #3469
fixed.

[2020-08-25 09:44] #3469 closed

[2020-08-25 09:54] teolemon commented on #3429
Fixed. Closing.

[2020-08-25 09:54] #3429 closed

[2020-08-25 09:57] teolemon commented on #1638
Might have been fixed by restricting the queried fields to the essential

[2020-08-25 10:18] teolemon commented on #3301
404 fixed @VaiTon

[2020-08-25 10:24] teolemon commented on #3450
duplicate of #3472

[2020-08-25 10:24] #3450 closed

[2020-08-25 10:24] teolemon commented on #3460
duplicate of #3472

[2020-08-25 10:24] #3460 closed

[2020-08-25 10:24] teolemon commented on #3461
duplicate of #3472

[2020-08-25 10:24] #3461 closed

[2020-08-25 10:24] teolemon commented on #3440
duplicate of #3472

[2020-08-25 10:24] #3440 closed

[2020-08-25 10:24] teolemon commented on #3472
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients_analysis/IngredientsWithTagDialogFragment.java#L193
[code]

[2020-08-25 10:43] teolemon commented on #2458
Postponing this to a future release

[2020-08-25 10:44] teolemon commented on #2924
Postponing to a future release

[2020-08-25 10:44] teolemon commented on #3301
Postponing to a future release

[2020-08-25 10:47] #3456 closed

[2020-08-25 10:48] #3436 closed

[2020-08-25 10:50] teolemon commented on #3433
This was probably fixed by @VaiTon : closing

[2020-08-25 10:50] #3433 closed

[2020-08-25 10:51] teolemon commented on #3442
This was fixed by @VaiTon >> closing

[2020-08-25 10:51] #3442 closed

[2020-08-25 10:55] teolemon commented on #3426
@VaiTon marked this as resolved on Sentry. >> closing

[2020-08-25 10:55] #3426 closed

[2020-08-25 10:59] teolemon commented on #3421
Duplicate of #3422

[2020-08-25 10:59] #3421 closed

[2020-08-25 11:00] teolemon commented on #3422
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashActivity.java#L47 https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashActivity.java#L53

[2020-08-25 11:03] teolemon commented on #3404
Marked as resolved by @VaiTon >> closing here as well.

[2020-08-25 11:03] #3404 closed

[2020-08-25 11:04] teolemon commented on #3418
@Telperion87 can you confirm it's fixed ?

[2020-08-25 11:05] teolemon opened #3478 "Add a light/dark mode switch in settings"
https://developer.android.com/guide/topics/ui/look-and-feel/darktheme#changing_themes_in-app
![image](https://user-images.githubusercontent.com/1689815/91167119-b527e500-e6d3-11ea-808c-34cb28b34b4e.png)

[2020-08-25 11:07] teolemon opened #3479 "The additives browser text is in black on black background in Night Mode"
The additives browser text is in black on black background in Night Mode

![image](https://user-images.githubusercontent.com/1689815/91545799-daaa2e00-e921-11ea-8d70-5dd7ef0cbe3c.png)

[2020-08-25 11:12] teolemon commented on #3296
Not a real use case (screenshot gen on low memory devices) >> closing

[2020-08-25 11:12] #3296 closed

[2020-08-25 11:13] teolemon commented on #3295
Resources$NotFoundException
File res/drawable/ic_history_grey_24dp.xml from drawable resource ID #0x7f0800b3

[2020-08-25 11:14] teolemon commented on #3295
Assuming this is fixed.

[2020-08-25 11:14] #3295 closed

[2020-08-25 12:17] teolemon commented on #3475
openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment in chipifyAllUnterminatedTokens at line 846
openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment in addUpdatedFieldsToMap at line 778
openfoodfacts.github.scrachx.openfood.views.AddProductActivity in saveProduct at line 354
openfoodfacts.github.scrachx.openfood.views.AddProductActivity in checkFieldsTh

[2020-08-25 12:53] teolemon commented on #3462
Duplicate of #3464

[2020-08-25 12:54] teolemon commented on #3464
Sentry Issue: [OPENFOODFACTS-ANDROID-3K](https://sentry.io/organizations/openfoodfacts/issues/1852399531/?referrer=github_integration)

[code]

[2020-08-25 13:34] teolemon commented on #3475
Probably the same bug, but with an autocomplete variation

[2020-08-25 13:35] teolemon commented on #3462
Probably also related to :https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3475

[2020-08-25 13:35] teolemon commented on #3464
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3475 might be the same bug

[2020-08-25 13:36] CharlesNepote opened #3480 "The app doesn't detect it is online with Wi-Fi only connexion"
**Describe the bug**

- Samsung Galaxy A5 (2016)
- Android 7.0
- No SIM card in the phone but wifi activated and internet connection ok

I'm online (see video where I open firefox and open a link in Wikipedia), and then, when scanning a product with Open Food Facts beta 3.4.3, it tells the phone is offline.

**Video**
https://drive.google.com/file/d/11nOI72uwagYGm5Bc1cFCD6rcXuKyXTwl/view?usp=shari

[2020-08-25 13:40] teolemon commented on #3480
This is related to the revamp of offline product addition by @philippeauriach (we went from 2 modes to one mode) and possibly a revamp by @VaiTon .
The relevant function is below, but we shouldn't fail on that. Is it reproducible many times ?
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java#L523

[2020-08-25 14:07] teolemon commented on #3480
Ok, eventually this will be fixed even better by the offline mode (so that we don't accidentally add products that are already present, because of offline mode).
Meanwhile, you tell me you have a good and stable connexion, so it might either be:
- Samsung specific network behavior
- Android 7 specific network behavious
- a programming mistake on our side when only wifi is available and no sim is a

[2020-08-25 14:25] teolemon commented on #3284
Duplicate of #3386

[2020-08-25 14:25] #3284 closed

[2020-08-25 14:25] teolemon commented on #3386
Duplicate of #3453

[2020-08-25 14:25] #3386 closed

[2020-08-25 14:26] teolemon commented on #3453
Sentry Issue: [OPENFOODFACTS-ANDROID-3J](https://sentry.io/organizations/openfoodfacts/issues/1851682713/?referrer=github_integration)

[code]

Sentry Issue: [OPENFOODFACTS-ANDROID-2K](https://sentry.io/organizations/openfoodfacts/issues/1819926170/?referrer=github_integration)

[code]

Sentry Issue: [OPENFOODFACTS-ANDROID-H](https://sentry.io/organizations/openfoodfacts/issues/1736450791/?referre

[2020-08-25 14:26] teolemon commented on #3396
Duplicate of #3453

[2020-08-25 14:26] #3396 closed

[2020-08-25 14:26] teolemon commented on #3453
Sentry Issue: [OPENFOODFACTS-ANDROID-2Q](https://sentry.io/organizations/openfoodfacts/issues/1825081990/?referrer=github_integration)

[code]

[2020-08-25 14:58] teolemon commented on #3480
After investigation, the bug appears limited in scope.
I can't reproduce on a SIM-less Pixel 1 on Android 10.
Newer devices with mobile data disabled don't have the problem either.

[2020-08-25 18:54] slarti-zak commented on #2923
@teolemon You mean the missing images? Yes, I they are displayed now but i upgraded to android 9 so I can't say what fixed it.

[2020-08-25 20:17] Telperion87 commented on #3418
yes that one is fixed

thanks

Il giorno mar 25 ago 2020 alle ore 13:04 Pierre Slamich <
notifications@github.com> ha scritto:

[2020-08-25 20:51] #3418 closed

[2020-08-26 08:29] #3462 closed

[2020-08-27 11:09] teolemon commented on #1464
I've added what we do on the iPhone version.

[2020-08-27 13:57] teolemon commented on #3465
- The session.pl call seems other the top (what is it done for ?). It happens only when you're logged. So it's a proxy for Daily Logged Active Users.
- 1.json can probably be removed
- tagline-off.json is cached be reloaded everytime I think.
We need at least one of the last two as a proxy for Daily Actives.

[2020-08-27 14:02] teolemon commented on #3465
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/f8a55a399903ba3dd3fc7f314e4f71581cddffd6/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java#L87

[2020-08-27 14:03] teolemon opened #3482 "Move check user credentials to utils ?"
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/f8a55a399903ba3dd3fc7f314e4f71581cddffd6/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/HomeFragment.java#L135

[2020-08-27 14:13] VaiTon commented on #3465
Which call should we drop?

* The "session" is for checking that neither of user or password have changed.
* The "/1" is to get the products count.
* The tagline-off to display the tagline.

We do not have a caching mechanism for these simple ones since it would mean too much work. We could try to cache responses with okhttp though.

[2020-08-27 14:23] VaiTon commented on #3482
This is used only in HomeFragment because we do check if the credentials are still right every time the app is opened. What would be an optimal behavior is to check a "token" that atm we don't have.

[2020-08-27 14:27] VaiTon commented on #3476
Also, android would throw a NetworkOnMainThread exception or ANR if they would had been executed onto the Main Thread

[2020-08-27 14:41] teolemon commented on #3476
Maybe the constant reloading and the blank screen are separated ?
Also do we launch the check on the Splash, before the Splash, or in the home ?

[2020-08-27 14:49] #3482 closed

[2020-08-27 14:52] teolemon commented on #3464
closing, as probable duplicate

[2020-08-27 14:54] teolemon commented on #3474
This seems related to the comparison mode ?
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java#L275

[2020-08-27 14:55] teolemon commented on #3474
The 4B issue links to:
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ContinuousScanActivity.java#L328

[2020-08-27 14:57] teolemon commented on #3471
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java#L218

[2020-08-27 14:58] teolemon commented on #3471
Happens within on create:
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java#L212

[2020-08-27 15:17] teolemon commented on #3473
We have only one layout, and it's here: https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/res/layout/activity_product_browsing_list.xml#L47

[2020-08-27 15:20] teolemon commented on #3467
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java#L245

[2020-08-27 15:21] teolemon commented on #3467
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/FullScreenActivityOpener.java#L103

[2020-08-28 07:40] teolemon commented on #3422
14 occurrences for 13 users.

[2020-08-28 09:24] teolemon opened #3484 "Navigation for the calculated nutritional values in unlegible in dark mode"
Navigation for the calculated nutritional values in unlegible in dark mode
![image](https://user-images.githubusercontent.com/1689815/91545146-ffea6c80-e920-11ea-8bd0-1671b07d05d0.png)

[2020-08-28 09:29] teolemon opened #3485 "It's not possible to read the selected unit in the Nutrition calculated mode (dark mode)"
It's not possible to read the selected unit in the Nutrition calculated mode (dark mode)

![image](https://user-images.githubusercontent.com/1689815/91545653-9d45a080-e921-11ea-9c6f-2e2c2bdb2e3d.png)

[2020-08-28 10:30] teolemon commented on #3475
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java#L582

[2020-08-28 10:30] teolemon commented on #3475
void next() {
        Activity fragmentActivity = getActivity();
        if (fragmentActivity instanceof AddProductActivity) {
            ((AddProductActivity) fragmentActivity).proceed();
        }
    }

[2020-08-28 18:03] sentry-io[bot] opened #3486 "NPE - openfood.models.ProductState.getProduct()' on a null object reference - IngredientsProductFragment.java:160"
Sentry Issue: [OPENFOODFACTS-ANDROID-12](https://sentry.io/organizations/openfoodfacts/issues/1744762807/?referrer=github_integration)

[code]

[2020-08-29 09:49] teolemon commented on #3476
The amount of white screen is influenced by network speeds : 2-3s vs 5s
This one is with Fiber WiFi+4G, 2 meters away from the access point
https://photos.app.goo.gl/DUH1rQ8y7G7LF55h7

This one is with degraded 4G
https://photos.app.goo.gl/SCBhdGcs6bfD6wdz9

[2020-08-29 13:12] #3479 closed

[2020-08-29 13:12] #3485 closed

[2020-08-29 21:37] teolemon commented on #3484
@VaiTon has fixed this in the latest beta

[2020-08-29 21:37] #3484 closed

[2020-08-29 21:40] teolemon commented on #3466
I'm reopening @VaiTon
The NPE is possibly fixed, but the symptom is still here. Or should I create another one with just the symptom ?

[2020-08-30 00:05] #3476 closed

[2020-08-30 09:36] teolemon opened #3490 "Product addition fails partially"
**Describe the bug**
Product addition fails partially

**To Reproduce**
Steps to reproduce the behavior:
1. Scan a new product
2. Add a front photo
3. Add nutrition facts
4. The card appears with a spinner. After 20s, the card with a prompt to type a barcode appears.
5. Only the photos are saved: https://world.openfoodfacts.org/product/3700992600376

**Expected behavior**
1. After a save time, the

[2020-08-30 12:29] teolemon opened #3491 "The product name is not loaded for some languages"
2020-08-30 14:12:34.559 14146-21396/? D/OkHttp: --> GET https://ssl-api.openfoodfacts.org/api/v0/product/3700946806496.json?fields=ingredients_text_b%2Bsr%2BLatn%2Cproduct_name_b%2Bsr%2BLatn
2020-08-30 14:12:34.607 14146-21396/? D/OkHttp: <-- 200 https://ssl-api.openfoodfacts.org/api/v0/product/3700946806496.json?fields=ingredients_text_b%2Bsr%2BLatn%2Cproduct_name_b%2Bsr%2BLatn (47ms, unknown-len

[2020-08-30 14:12] #3432 closed

[2020-08-30 19:52] teolemon commented on #3490
This is related to https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3470

[2020-08-30 21:36] sentry-io[bot] opened #3493 "NPE: ProductBrowsingListActivity - onAdditiveResponse"
Sentry Issue: [OPENFOODFACTS-ANDROID-5E](https://sentry.io/organizations/openfoodfacts/issues/1867035318/?referrer=github_integration)

[code]

[2020-08-30 21:36] teolemon commented on #3493
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIClient.java#L760

[2020-08-30 21:37] teolemon commented on #3493
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/ProductBrowsingListActivity.java#L414

[2020-08-31 08:27] teolemon commented on #3491
We're going to have to implement our own workaround for now.

[2020-08-31 15:11] #3470 closed

[2020-08-31 15:11] #3490 closed

[2020-08-31 17:29] sentry-io[bot] opened #3496 "NullPointerException: Attempt to invoke virtual method 'int java.lang.String.length()' on a null object reference"
Sentry Issue: [OPENFOODFACTS-ANDROID-5P](https://sentry.io/organizations/openfoodfacts/issues/1868826915/?referrer=github_integration)

[code]

[2020-09-01 06:19] #3464 closed

[2020-09-01 17:03] teolemon opened #3498 "Deep link to the app is not working"
Deep link is not working. It's also not working for subdomains like fr.off, it.off…

1. Steps: click on a world.off.org link
2. Click on "Open in Open Food Facts"
3. See a black screen like this

![image](https://user-images.githubusercontent.com/1689815/91884162-db2a2800-ec85-11ea-886e-ec282ba733af.png)

[2020-09-01 18:07] sentry-io[bot] opened #3499 "InflateException: Binary XML file line #34: Error inflating class Button"
Sentry Issue: [OPENFOODFACTS-ANDROID-67](https://sentry.io/organizations/openfoodfacts/issues/1871092442/?referrer=github_integration)

[code]

[2020-09-01 18:13] sentry-io[bot] opened #3500 "ActivityNotFoundException: No Activity found to handle Intent { act=android.intent.action.VIEW pkg=com.sec.android.app.sbrow..."
Sentry Issue: [OPENFOODFACTS-ANDROID-68](https://sentry.io/organizations/openfoodfacts/issues/1871103101/?referrer=github_integration)

[code]

[2020-09-01 20:19] teolemon commented on #2963
This is fixed 🎉
thanks @Varsha-29 and @VaiTon

[2020-09-01 20:19] #2963 closed

[2020-09-01 20:21] teolemon commented on #2247
@serpico @sashabrava can you tell me if the issue is solved in the latest release ?

[2020-09-01 20:26] teolemon opened #3501 "Add support for the new server controlled product page layout"
### What is this ??
Product Attributes offer a flexible way to show product information without having to update the app whenever we want to add a new attribute or translation. The server sends a JSON with all the images, translated info that's necessary

### What will it look like ?
![image](https://user-images.githubusercontent.com/1689815/94362245-48c94880-00ba-11eb-96fc-eb9dfe4685e2.png)
![ima

[2020-09-02 07:26] sentry-io[bot] opened #3502 "RuntimeException: Unable to get provider androidx.core.content.FileProvider: java.lang.IllegalArgumentException: Co..."
Sentry Issue: [OPENFOODFACTS-ANDROID-6B](https://sentry.io/organizations/openfoodfacts/issues/1871989137/?referrer=github_integration)

[code]

[2020-09-02 07:45] teolemon commented on #3498
Probably this stack trace: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3500

[2020-09-02 09:14] teolemon commented on #3422
Still here on stable

[2020-09-02 16:37] teolemon commented on #3498
Example: https://world.openfoodfacts.org/product/3596710481262/fromage-frais-auchan

[2020-09-02 18:30] mustaqmustu commented on #3478
@teolemon can I work on this ?

[2020-09-02 19:57] sentry-io[bot] opened #3503 "Resources$NotFoundException: String resource ID #0x7f110259"
Sentry Issue: [OPENFOODFACTS-ANDROID-72](https://sentry.io/organizations/openfoodfacts/issues/1873350552/?referrer=github_integration)

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java

[code]

[2020-09-02 22:49] teolemon commented on #3478
Yes very welcome 👍

[2020-09-03 10:26] teolemon commented on #3498
Here's a link to the original PR: https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/13093feceda8eddab0d88412e5f11c0ed48dd735

[2020-09-04 07:32] teolemon opened #3506 "Products to be completed is not working"
Products to be completed is not working. This might be purely server related.
![image](https://user-images.githubusercontent.com/1689815/92211895-72af9680-ee91-11ea-8db8-780f6cdbbbdf.png)

[2020-09-04 17:47] sentry-io[bot] opened #3508 "RuntimeException: Unable to create application openfoodfacts.github.scrachx.openfood.views.OFFApplication: android...."
Sentry Issue: [OPENFOODFACTS-ANDROID-92](https://sentry.io/organizations/openfoodfacts/issues/1877989160/?referrer=github_integration)

[code]

[2020-09-04 18:31] teolemon commented on #3480
![image](https://user-images.githubusercontent.com/1689815/92274483-9d2f3d00-eeed-11ea-90ab-36ba57f4615f.png)
Reported by another user

[2020-09-04 21:29] teolemon commented on #3480
```Merci pour votre réponse.J'utilise ma tablette, je l'ai essayé avec wifi et 4G, mon réseau est n'était pas faible et je suis sur Android 7.```

[2020-09-04 21:34] teolemon commented on #3480
https://developer.android.com/about/versions/nougat/android-7.0

[2020-09-05 11:25] #223 closed

[2020-09-05 11:26] #2246 closed

[2020-09-05 11:26] teolemon commented on #2069
https://storage.googleapis.com/icons.google.com.a.appspot.com/google-assets/system_icons/quantum/file/res-export/ic_cloud_off_24px.svg

[2020-09-05 11:26] #2631 closed

[2020-09-05 11:30] #300 closed

[2020-09-05 11:49] sentry-io[bot] opened #3509 "IllegalStateException: Can not perform this action after onSaveInstanceState"
Sentry Issue: [OPENFOODFACTS-ANDROID-5M](https://sentry.io/organizations/openfoodfacts/issues/1868713236/?referrer=github_integration)

[code]

[2020-09-05 11:54] sentry-io[bot] opened #3510 "NullPointerException: None at openfoodfacts.github.scrachx.openfood.views.product.CalculateDetails.onCreate(CalculateDetails.java:96)"
Sentry Issue: [OPENFOODFACTS-ANDROID-64](https://sentry.io/organizations/openfoodfacts/issues/1869723248/?referrer=github_integration)

[code]

[2020-09-05 11:55] teolemon commented on #3510
Do we show the computation button when we have no nutrition facts or that it is marked as "no nutrition facts" available ?
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/CalculateDetails.java#L96

[2020-09-05 11:56] teolemon commented on #3509
openfoodfacts.github.scrachx.openfood.views.scan.ContinuousScanActivity in lambda$setShownProduct$1 at line 333
… .github.scrachx.openfood.views.scan.-$$Lambda$ContinuousScanActivity$DG6NQidn_1O6ka1P7fnlHxTh2jQ in accept at line 6

[2020-09-05 12:22] sentry-io[bot] opened #3511 "NoClassDefFoundError f.b.b.p com.mikepenz.materialdrawer.view.BezelImageView in <init> at line 75"
Sentry Issue: [OPENFOODFACTS-ANDROID-A1](https://sentry.io/organizations/openfoodfacts/issues/1879407336/?referrer=github_integration)

[code]

[2020-09-05 15:47] paulocoe commented on #2443
I see from the app that this is still an issue. Can I work on it?

[2020-09-05 19:42] VaiTon commented on #2443
Sure @paulocoe! I'm assigning you!

[2020-09-06 15:15] teolemon opened #3512 "Tests failing"
- [ ] openfoodfacts.github.scrachx.openfood.network.ProductsAPITest > getProductByNutritionGrade_a_productsFound FAILED
- [ ]     com.google.common.truth.AssertionErrorWithFacts at ProductsAPITest.java:69
- [ ] openfoodfacts.github.scrachx.openfood.network.ProductsAPITest > getProductByTrace_eggs_productsFound FAILED
- [ ]     com.google.common.truth.AssertionErrorWithFacts at ProductsAPITest.java

[2020-09-06 15:16] teolemon commented on #3512
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/testOff/java/openfoodfacts/github/scrachx/openfood/network/ProductsAPITest.java#L69
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/testOff/java/openfoodfacts/github/scrachx/openfood/network/ProductsAPITest.java#L322

[2020-09-06 15:57] adrigrillo opened #3514 "Search by name results with system font size large is completely broken"
When the application is set to Spanish, the results when searching by text are not shown properly. In concrete, the bottom bar, where the application's tabs are shown, goes to the middle of the screen and covers all the results, making the application unusable.
The behavior is shown in the first screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the language to Spanish in the ap

[2020-09-08 09:27] VaiTon commented on #3466
Fixed in 3.4.x branch

[2020-09-08 10:28] teolemon commented on #3480
A change in network connectivity has occurred. A default connection has either been established or lost. The NetworkInfo for the affected network is sent as an extra; it should be consulted to see what kind of connectivity event occurred.
Apps targeting Android 7.0 (API level 24) and higher do not receive this broadcast if they declare the broadcast receiver in their manifest. Apps will still rece

[2020-09-08 12:19] #3466 closed

[2020-09-08 12:19] #3509 closed

[2020-09-08 14:57] teolemon commented on #3480
another report:
Bis vor kurzem hat die App gut funktioniert. Jetzt sagt sie immer ich wäre offline und ich bekomme keine Produkte mehr geladen.

[2020-09-10 05:57] sashabrava commented on #2247
@teolemon  I haven't noticed the issue in the latest app versions.

[2020-09-10 06:51] teolemon opened #3516 "Build failing in develop"
Caused by: /home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/main/res/values-lol/strings.xml: Error: Found item String/txtHomeOnline more than one time
	at com.android.ide.common.resources.MergingException.throwIfNonEmpty(MergingException.java:170)
	at com.android.ide.common.resources.DataSet.loadFromFiles(DataSet.java:261)
	at com.android.build.gradle.tasks.MergeResource

[2020-09-10 07:02] teolemon commented on #3516
fixed by https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/6a9e2f406846ca03d7bee0cccd0feb6c7fff29a3

[2020-09-10 07:02] #3516 closed

[2020-09-10 12:47] teolemon opened #3517 "OCR does not work when the ingredient has just been added (or selected) without refreshing the product page"
OCR does not work when the ingredient has just been added (or selected) without refreshing the product page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product page without an ingredient photo
2. Add a photo (either by cropping a server photo or taking a new one)
3. Click on the Extract ingredient button that appeared
4. See error: No progress spinner, no visible extraction

**Ex

[2020-09-10 15:25] teolemon commented on #3480
[code]

[2020-09-10 15:26] teolemon commented on #3480
[code]

[2020-09-10 15:27] teolemon commented on #3480
We reverted a Nougat-specific fix while refactoring:
** Bug fixing **
- Fix for TLS issue on Nougat (tbm)
we fixed an issue a while ago
https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/9027fd20ee64e2fe57761538f392a43e0a5617a9
https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/84ee601e3027275b7936ff7aa6f59dd1ce24133f#diff-eb0f032ffa66c7d8116ca7b90149a9f9

[2020-09-10 20:09] teolemon commented on #3480
The fix might be as simple as adding back this:
[code]

[2020-09-10 20:10] teolemon commented on #3480
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/793

[2020-09-10 21:03] teolemon commented on #3480
A server side fix seems possible @stephanegigandet
https://stackoverflow.com/questions/39133437/sslhandshakeexception-handshake-failed-on-android-n-7-0

[2020-09-10 21:04] teolemon commented on #3480
otherwise, we can fix it client side

[2020-09-11 06:15] stephanegigandet commented on #3480
Making SSL changes for all users of all clients on the server side to fix one bug for one client is not a good idea IHMO. For all we know (or all we will never know), that change might break things for other clients, now or 3 years from now. So it would be much better to fix the app.

[2020-09-11 18:38] teolemon opened #3520 "Image upload is not properly credited to the contributor"
### What
Image upload is not properly credited to the contributor

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/92960966-c5c7b180-f46e-11ea-8b2c-2e1d712f6d5e.png)

### Part of
- #4202

[2020-09-11 18:47] teolemon opened #3521 "Nutrients displayed on a products with no nutrients"
![image](https://user-images.githubusercontent.com/1689815/92961675-ef350d00-f46f-11ea-8ffc-e5fabccb95b9.png)
![image](https://user-images.githubusercontent.com/1689815/92961683-f2c89400-f46f-11ea-8031-8f1fa6dd122b.png)

[2020-09-11 18:49] teolemon opened #3522 "Bottom menu is half translated in French"
![image](https://user-images.githubusercontent.com/1689815/92961886-581c8500-f470-11ea-9c93-aa0815c3e693.png)

[2020-09-13 10:03] teolemon commented on #2923
@CharlesNepote can you reproduce ?

[2020-09-13 10:03] teolemon commented on #2923
@VaiTon  possibly a similar SSL issue

[2020-09-13 10:13] teolemon opened #3524 "Ingredient analysis icons not shown on Android 7"
Ingredient analysis icons not shown on Android 7

- [ ] Nginx server is the same as the rest of the files

![image](https://user-images.githubusercontent.com/1689815/93015522-8017ff80-f5ba-11ea-8270-ab65c8164d01.png)

[2020-09-13 10:38] teolemon commented on #2926
Merging into #3524

[2020-09-13 10:38] #2926 closed

[2020-09-13 10:38] teolemon commented on #3080
Merging into #3524

[2020-09-13 10:38] #3080 closed

[2020-09-13 19:30] teolemon commented on #3524
This might be related to underscores in URLs
https://github.com/square/picasso/issues/1570

[2020-09-13 19:37] teolemon opened #3525 "Android 7 tracking issue"
We fixed a SSL issue that's specific to the Android 7 OS with a workaround that should work for network calls, and was preventing scan, but the rest of the app was having the issues above, and still has the issues above. Are we making network calls with another instance where we have not applied the workaround, is it something else ?

- [x] [Search not working](https://github.com/openfoodfacts/ope

[2020-09-13 19:42] teolemon commented on #3525
This might be related to underscores in URLs
square/picasso#1570

[2020-09-19 19:32] tanius commented on #3053
As of today, this issue is still open – it still looks as in the first screenshot in version 3.4.8 (which is the newest version in Google Play right now).

[2020-09-21 14:18] teolemon commented on #3525
We fixed a SSL issue that's specific to Android 7, and was preventing scan, but the rest of the app was having the issues above, and still has the issues above.

[2020-09-21 14:25] sentry-io[bot] opened #3526 "Error on Android 4.4"
Unable to start activity ComponentInfo{org.openfoodfacts.scanner/openfoodfacts.github.scrachx.openfood.views.scan.ContinuousScanActivity}: org.greenrobot.eventbus.EventBusException: Could not inspect methods of openfoodfacts.github.scrachx.openfood.views.scan.ContinuousScanActivity. Please make this class visible to EventBus annotation processor to avoid reflection.

Sentry Issue: [OPENFOODFACTS-A

[2020-09-21 14:34] teolemon opened #3527 "Search does not work on Android 7"
[code]
<img src="https://user-images.githubusercontent.com/1689815/93779934-cf4bd900-fc27-11ea-8947-3b18187cc0f8.png" width="300" />

[2020-09-26 16:47] teolemon opened #3528 "Add a placeholder so that the NOVA or the Nutri-Score is at a predictable place"
Add a placeholder so that the NOVA or the Nutri-Score or the Environment grade is at a predictable place, even though it's not computed yet.
We could add a special version explaining that it's not computed for this category (honeys, …) or that it's not computed due to a lack of data

[2020-09-27 10:22] teolemon opened #3529 "Add support for displaying the Eco-Score"
### Add support for displaying the Eco-Score.

- [ ] Clone the system that displays Nutri-Score on the scan card renaming it 'Eco-Score'
- [ ] Change the server request url we do on scan to include the ecoscore field
- [ ] If (and only if) the server sends back a proper value (a, b, c, d or e), hide the classic CO2 value and display the new score
`https://world.openfoodfacts.org/api/v0/product/341

[2020-09-27 13:23] teolemon opened #3530 "We send langcode "in" which results in "unknown language" on the server"
September 27, 2020 at 2:00:52 PM CEST - openfoodfacts-contributors Selected images (Added: ingredients_in) - new image ingredients_in : 2.7 - view
September 27, 2020 at 2:00:51 PM CEST - openfoodfacts-contributors Uploaded images (Added: 2) - new image 2 - image upload - view
September 27, 2020 at 1:59:41 PM CEST - openfoodfacts-contributors Data (Added: nutrition_data_per, nutrition_data_prepared

[2020-09-27 13:23] teolemon commented on #3530
https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=8992796011105

[2020-09-27 14:19] hangy commented on #3530
AFAIK, there is no language code `in` for India. Use `hi` for Hindi or `en`.

[2020-09-28 04:55] epicadk commented on #3066
Can I work on this?

[2020-09-30 15:46] teolemon opened #3531 "Add a button to take a picture of the recycling instructions"
### Overview
Add a button on the product page to take a picture of the recycling instructions and upload it to the server.

- This can be achieved by cloning the "Take another picture" code. (Most simple implementation)
- This can be achieved by cloning the "Take ingredients picture" code
- This is **very important** for the Environnemental Scoring project.

### Feature visible in the Web version

[2020-09-30 17:06] charchithere commented on #3531
I would Like to Work on this Issue

[2020-10-01 06:42] rsi2m commented on #168
@teolemon @Karljoones Is this problem still relevant? If yes, then I could fix it as part of #hacktoberfest

[2020-10-01 07:35] teolemon commented on #168
It seems fixed if you decide to add a product.
You can pick some other issue

[2020-10-01 07:35] #168 closed

[2020-10-01 09:28] teolemon commented on #3531
Welcome @charchithere
You can see a similar button on the ingredient tab here: https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/c30f75f70fd20c84a1d3d3cf803e9b120b93bab6/app/src/main/res/layout/fragment_ingredients_product.xml#L49
We would insert it in the Environnement tab here: https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/c30f75f70fd20c84a1d3d3cf803e9b120b93bab6/ap

[2020-10-02 13:41] teolemon opened #3536 "Add a prompt to add the category and or the ingredients to compute the NOVA group if it is missing"
if nova is empty, then:
[code]
The relevant fields are here: https://world.openfoodfacts.org/api/v0/product/5425600101745.json?fields=states_tags
The button and the logic system already exists for the Nutri-Score, so extending it should be simple.
![image](https://user-images.githubusercontent.com/1689815/94929642-a77d3080-04c5-11eb-9f11-3a93acbd2e9e.png)

[2020-10-02 15:42] nenzan commented on #3478
@teolemon can I try this one?

[2020-10-02 19:56] VaiTon commented on #3478
@nenzan sure you can!

[2020-10-03 06:11] namanrana16 commented on #2968
I would like to work on this

[2020-10-03 13:32] teolemon opened #3537 "Add a "Update image" button in the summary tab"
Add a "Update image" button in the summary tab above the "Take another picture" button and rename the "Take another picture" button to "Take extra photos of the packaging"
The "Update image" should replace the front image for the current language.

[2020-10-03 15:33] Gosunet commented on #3514
Hello, I tested it and I don't reproduce the bug. (Tested on Android 10)

<img width="359" alt="image" src="https://user-images.githubusercontent.com/11671046/94995311-c6e78c80-059d-11eb-855c-632e31530f62.png">

[2020-10-03 15:43] Gosunet commented on #3527
Hello, it's seems to be an SSL error like you mentioned in #3525

`E/ConnectivityManager.CallbackHandler: callback not found for RELEASED message
D/OkHttp: <-- HTTP FAILED: javax.net.ssl.SSLHandshakeException: Handshake failed
E/HomeFragment: Could not retrieve product count from server.
    javax.net.ssl.SSLHandshakeException: Handshake failed
        at com.android.org.conscrypt.OpenSSLSocketImp

[2020-10-04 00:03] WildOrangutan commented on #3537
I can implement this, if it's still open

[2020-10-04 03:57] sujithTSR commented on #3458
Can I try this?

[2020-10-04 12:38] teolemon commented on #2940
We're probably going to display information using the new Attributes system as part of the Eco-Score implementation.

[2020-10-04 12:40] teolemon commented on #3537
Yes, it is
Some pointers:
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/res/layout/fragment_summary_product.xml
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/summary/SummaryProductFragment.java

Fell free to join the Slack at https://slack.openfoodfacts.org in the #a

[2020-10-04 13:18] WildOrangutan commented on #3537
Ok, I will go ahead and start implementing it

[2020-10-04 17:31] WildOrangutan commented on #3340
I can work on this. Do you have any preference, which library to use, for 3-way toggle button (in e.g. "Preffered energy unit")?

[2020-10-04 19:42] teolemon opened #3539 "Add a link to the ingredient analysis section of settings"
Add a link to the ingredient analysis section of settings
We plan on adding many more analysis, so we need a scalable way to enable and disable them
![image](https://user-images.githubusercontent.com/1689815/95025494-5ec2a480-068a-11eb-9281-d34e897e0400.png)

[2020-10-05 11:11] teolemon commented on #3531
Ok the server support is API stable:
it will work exactly like the ingredients field and tab:

1. Upload a packaging_image
2. Request OCR output
3. Get the user to validate it
4. Send the validated result to packaging_text

[2020-10-05 16:08] adrigrillo commented on #3514
What is your app version? Is it from the Play store or F-Droid?

[2020-10-05 18:46] Gosunet commented on #3514
From the Play store : version 3.4.8

[2020-10-05 20:04] adrigrillo commented on #3514
I found the cause of the problem. I have set the font size, in the android settings, to default and is working as expected. However, when you set the font to large the bug occurs.

[2020-10-06 08:19] teolemon commented on #3531
This is live in production @charchithere
![image](https://user-images.githubusercontent.com/1689815/95175767-3e930280-07bc-11eb-88a2-924652dce45f.png)

In practise, that's duplicating exactly the ingredient addition workflow, as predicted

API doc to upload an image: https://documenter.getpostman.com/view/8470508/SVtN3Wzy?version=latest#6159dfb9-dd05-4ef8-8bf0-2c2ea7585760
API to perform OCR on it

[2020-10-06 11:48] ShareACoke1 commented on #3539
Hi, I would like to work on this one if possible. If I understand the issue correctly there should be a + icon which takes me to the ingredients page (instead if swiping up and selecting it)?

[2020-10-08 07:40] Sanjay-Xamarin commented on #693
am getting this exception after migrate to AndroidX

[2020-10-08 10:31] ShareACoke1 commented on #3539
@teolemon Hi there! I just would like to ask whether I have understood the issue correctly and can I start implementing it?

[2020-10-09 14:04] Poussinette commented on #3477
Hi! I'd like to work on this issue :)

[2020-10-09 14:39] Poussinette commented on #3477
@teolemon do you know which workflow should generate screenshot? and after which step should we generate screenshot and upload it?

[2020-10-09 16:19] teolemon commented on #3477
hi/salut @Poussinette
here are the screenshots we currently generate: https://photos.app.goo.gl/3KvmivgiXTsbzyMVA
- [ ] History (prepopulated)
- [ ] Scan (populated)
- [ ] Onboarding slides
- [ ] Product page (summary) with a bug on the front photo

Screenshots that would be nice:
- [ ] Adding compare mode screenshot with 2 products side by side
- [ ] Fixing the photo issue in the product page scr

[2020-10-10 07:02] teolemon commented on #3539
@ShareACoke1
- It's a link to the `Ingredients Analysis` section of settings. As we're going to add more and more using over the air updates, we're not going to display them all by default.
- This button is to make you aware that you can add more of them.
- Ideally, in case of an overflow, the analysis should be an horizontally scrollable stripe, and the `Add More` button should stay stickly on th

[2020-10-10 07:57] teolemon commented on #3477
@Poussinette Also, I think we should have a separation action, that would be triggered only on a specific branch ("generate-screenshots"). Then whenever we want to trigger a new generation, we would merger develop into this branch

[2020-10-10 09:05] teolemon commented on #3501
we have a first implementation of attributes for ios:
https://github.com/openfoodfacts/openfoodfacts-ios/pull/748/files

[2020-10-10 09:34] teolemon commented on #3531
@charchithere I've summarized everything on top. Are you still interested by the issue ?

[2020-10-10 10:02] pataquets opened #3540 "The language preference is ignored unless it's set system-wide"
**Describe the bug**
I'm a Catalan language translator and I've found that setting Catalan as language in preferences is not working, unless your Android system dude language is also Catalan.
Same for Spanish.

**To Reproduce**
Steps to reproduce the behavior:
1. Set system language to Spanish.
2. OFF correctly defaults to Spanish.
3. Go to preferences and select Catalan.
4. UI language is now in

[2020-10-10 11:42] adrigrillo commented on #3514
I can confirm that the issue also happens in the android emulator from android studio. The steps for reproducing are:

1. Set app language to Spanish.
2. Set the font size in android to large.
3. Perform an object search.

I will inspect what is the problem during these days.

[2020-10-10 14:55] teolemon commented on #3501
![image](https://user-images.githubusercontent.com/1689815/95658255-484c9b00-0b19-11eb-91d8-afc8878922e4.png)
![image](https://user-images.githubusercontent.com/1689815/95658260-4e427c00-0b19-11eb-93f1-1ccf35d8f2ba.png)
Preliminary mockups

[2020-10-10 14:57] teolemon commented on #3501
we could move all the raw data currently on the summary tab to a secondary tab for power users (like the full list of labels), enabled or disabled from the settings

[2020-10-11 05:08] raghav2110 commented on #3478
Hey @teolemon I would like to work on this issue, can i try this?

[2020-10-11 13:53] teolemon commented on #2247
I'm going to close it, and we'll reopen if needed.

[2020-10-11 13:53] #2247 closed

[2020-10-11 15:25] teolemon opened #3542 "Issue with importing some symbols"
Issue with importing some symbols. I'm pretty sure I saw this before, and that we might have fixed it on release/*.

[code]

[2020-10-11 15:49] huzaifaiftikhar commented on #3542
Not a code issue can be closed.

**Fix**
Go to Build -> Clean Project

@teolemon can you try this close if it gets resolved?

[2020-10-11 16:10] teolemon opened #3543 "Create a "Help with images" button in the scan screen"
![image](https://user-images.githubusercontent.com/1689815/95683612-b4e49a00-0bec-11eb-8568-e38559299281.png)
Ensure we can request photo updates for select products to users for images which should be taken or re-taken (because they are too old, or possibly too small / blurry).

https://fr.openfoodfacts.dev/api/v0/produit/3483130043180/beurre-cru-a-la-baratte-les-petites-laiteries?fields=images_t

[2020-10-11 16:44] teolemon commented on #3543
iOS issue: https://github.com/openfoodfacts/openfoodfacts-ios/issues/777

[2020-10-11 20:16] teolemon commented on #3542
yup, worked. closing

[2020-10-11 20:16] #3542 closed

[2020-10-12 08:19] #3537 closed

[2020-10-12 09:28] #3527 closed

[2020-10-12 11:09] teolemon commented on #3543
Edited to reflect that the API is now live.

[2020-10-12 21:59] VaiTon commented on #3478
Sure you can @raghav2110! @nenzan any progress on this?

[2020-10-13 15:57] raghav2110 commented on #3478
@VaiTon i have forked the repo and trying to run on local machine , but the app is crashing. Can you help me with it?

[2020-10-14 07:47] IpsumCapra commented on #3363
I'd like to help with this, is this still open?

[2020-10-14 11:25] teolemon commented on #3478
@raghav2110 Can you copy paste the messaage you get ?

[2020-10-14 17:18] VaiTon commented on #3525
This is in need of a retesting. @teolemon?

[2020-10-14 17:32] raghav2110 commented on #3478
@teolemon I had build the application and when the app is installed, the home screen appears and the app crashes the next moment. The pic below shows the logcat message which is displayed after the crash.
![s1](https://user-images.githubusercontent.com/37597208/96024309-3187aa80-0e71-11eb-931d-ba7272e33943.png)

[2020-10-14 19:40] teolemon commented on #3478
Can you tell me the language your application was in ? Or the language you were using on the phone or your simulator ?

[2020-10-14 21:26] sentry[bot] opened #3547 "IllegalStateException when trying to log-in from Recent Products view"
I got an IllegalStateException when trying to log-in from Recent Products view

Fragment SummaryProductFragment{56d8d5b} (71f1fd3d-9a98-41db-885a-0f3933ad65a9) f0} is attempting...

Sentry Issue: [OPENFOODFACTS-ANDROID-RR](https://sentry.io/organizations/openfoodfacts/issues/1957758295/?referrer=github_integration)

[code]

[2020-10-19 18:14] huzaifaiftikhar commented on #3498
@teolemon This is not reproducible for me on Google Pixel 3, Android 10. The deep link opens as expected and the product page is displayed with the details, however, I noticed that when the link is for an invalid product and the server responds back with "product not found" then in that case the app crashes with NullPointerException. We need to handle those scenarios.
Example URL - https://world.o

[2020-10-20 06:46] raghav2110 commented on #3478
@teolemon it was in english

[2020-10-20 06:47] raghav2110 commented on #3478
@teolemon i found that the application is not crashing when the internet connection is turned off. The application crashes when the internet connection is turned on.

[2020-10-21 19:00] asaikarthikeya commented on #3478
@teolemon I Would Like to work on this issue.

[2020-10-21 19:06] asaikarthikeya commented on #3478
@teolemon I have a issue in running this in local machine.
I am unable to import these two

_import openfoodfacts.github.scrachx.openfood.models.DaoMaster;
import openfoodfacts.github.scrachx.openfood.models.DaoSession;_

![Screenshot (5)](https://user-images.githubusercontent.com/70392921/96770881-8fcb0500-13fe-11eb-93bf-6ead2a412436.png)

[2020-10-21 21:11] teolemon commented on #3478
Try to clean your build @asaikarthikeya

[2020-10-21 21:12] teolemon commented on #3478
@raghav2110 weird, can you copy paste the stacktrace ?

[2020-10-21 21:12] teolemon commented on #3478
it might be that you're trying to build the OBF flavor ?

[2020-10-22 01:23] asaikarthikeya commented on #3478
Now the error is gone but when I run this on my phone . the app crashes very often.
![Screenshot (6)](https://user-images.githubusercontent.com/70392921/96807014-2dd8c280-1433-11eb-8f36-7b0a10bf63e6.png)
![Screenshot (7)](https://user-images.githubusercontent.com/70392921/96807022-3204e000-1433-11eb-9020-60226622e5f5.png)
![Screenshot (8)](https://user-images.githubusercontent.com/70392921/9680702

[2020-10-22 07:29] mohsin commented on #3531
Hi @teolemon, I would like to take this up. May I?

[2020-10-23 08:16] teolemon opened #3555 "Some screenshots tests are failing"
Some screenshots tests are failing
[code]

[2020-10-23 08:34] teolemon commented on #3531
Yes you may @SaifurRahmanMohsin
Another elegant way to implement this would be to tackle: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3543
It wouldn't bring the OCR part, but would enable getting the photos at large scale (and would be more generic)

[2020-10-23 15:36] #3498 closed

[2020-10-23 17:14] MadMax-M commented on #2968
I would love to work on this

[2020-10-23 17:39] teolemon commented on #3501
@VaiTon is suggesting we split the issues into 2 parts:
- [ ] 1 part to update the API call
- [ ] 1 part to prepare the matching layout

[2020-10-23 23:44] VaiTon commented on #3555
Fixed by ea234ba3a5f28f7210617aebced9430eeefb8c7e and 91a733a1a701e524e51e2267fe54e465344b9ce9

[2020-10-23 23:44] #3555 closed, assigned to nobody

[2020-10-24 10:35] VaiTon commented on #2968
@MadMax-M @namanrana16 sure! I'm adding you!

[2020-10-24 10:37] VaiTon commented on #3478
Try pulling from upstream again. @asaikarthikeya

[2020-10-24 10:37] VaiTon commented on #3363
@IpsumCapra yes it is! I'm assigning you! 👍

[2020-10-24 10:39] VaiTon commented on #3458
@sujithTSR sure you can! I'm assigning you! 👍

[2020-10-24 10:40] VaiTon commented on #3066
@epicadk sure you can! I'm assigning you! 👍

[2020-10-24 12:37] epicadk commented on #3066
un assigning as this issue has already been solved

[2020-10-24 21:24] Bartoshr commented on #2979
Hey. This issue was created long time ago. Is it still needed ? Can I take it ?

[2020-10-25 00:28] elizabethqiu commented on #3501
I have some Java experience, but this looks like a challenge to me. Nevertheless, may I have an attempt at helping with this? Thank you!

[2020-10-25 06:34] raghav2110 commented on #3478
@teolemon this is what I get when application crashes.
![s1](https://user-images.githubusercontent.com/37597208/97100519-37c02700-16ba-11eb-8b02-cca99021b114.png)

[2020-10-25 10:01] IpsumCapra commented on #3363
Could you please give me a clearer idea what you'd like to see, what kind of image-assets are needed, what code is needed?

[2020-10-25 17:15] chk1 opened #3557 "No way to check pending uploads"
**Describe the bug**
Yesterday I took a photo from a product's Nutrition tab. The photo was shown to me, I couldn't edit it (on tap it showed a message along the lines of "please wait until upload has finished"), the photo never appeared online on the OFF website.  On the app, a few minutes later, the product returned to its initial state where it had no nutrition image. I had the impression the p

[2020-10-26 07:18] sarah541 opened #3559 "IllegalStateException : attempting to register while current state is RESUMED. LifecycleOwners must call register before they are STARTED."
**Describe the bug**
startActivityForResult() was depreciated. The replacement for that was recently done in the code but not implemented correctly causing ISE.
**To Reproduce**
Steps to reproduce the behavior:
1. Click to menu item **Sign in** from drawer on home screen - will experience a crash.
The same crash is being experienced at different places in the App. Few noticed ones are
a. Search a

[2020-10-26 07:50] sarah541 commented on #3547
@teolemon Similar to #3559

[2020-10-26 07:52] huzaifaiftikhar commented on #3524
Closed via #3544

[2020-10-26 07:52] #3524 closed

[2020-10-26 07:52] huzaifaiftikhar commented on #2895
Closed via #3544

[2020-10-26 07:52] #2895 closed

[2020-10-26 07:52] huzaifaiftikhar commented on #3079
Closed via #3544

[2020-10-26 07:52] #3079 closed

[2020-10-26 07:53] huzaifaiftikhar commented on #2923
Closed via #3544

[2020-10-26 07:53] #2923 closed

[2020-10-26 07:53] huzaifaiftikhar commented on #3480
Closed via #3544

[2020-10-26 07:53] #3480 closed

[2020-10-26 08:07] SaifurRahmanMohsin commented on #3531
@teolemon Shouldn't there be an `image_packaging_url` in the response to load the recycling info in the app? I only get:
[code]

[2020-10-26 10:36] mohsin commented on #3531
@teolemon Was it verified that the API returns the packaging URL when field ID `packaging_en` is sent? I even tried sending `image_packaging_url_en` but even that didn't return the packaging image URL. Here was the request:
[code]
And the response:
[code]

I updated the app code to upload the packaging URL and that worked and the image I uploaded [does appear on the website](https://world.openfood

[2020-10-26 15:48] teolemon opened #3561 "java.lang.RuntimeException at ProductsAPITest.java:258 Caused by: java.net.SocketTimeoutException at ProductsAPITest.java:47"
openfoodfacts.github.scrachx.openfood.network.ProductsAPITest > post_product FAILED
    java.lang.RuntimeException at ProductsAPITest.java:258
        Caused by: java.net.SocketTimeoutException at ProductsAPITest.java:47

[2020-10-27 14:43] #3559 closed, assigned to nobody

[2020-10-27 15:00] mohsin commented on #3531
Hey @teolemon could you kindly verify and get back to me on this? I'm ready with some of the changes and am waiting only because of this blocker.

[2020-10-28 21:52] VaiTon commented on #3501
Sure you can @elizabethqiu! You should first try to implement the API side via retrofit, then try to integrate it into the database to make the product available offline after first scan (this can be postponed, let's create a new issue for this).

[2020-10-28 21:53] VaiTon commented on #3561
Sometimes the dev server is unresponsive when queried. That makes the test fail.

[2020-10-28 21:54] VaiTon commented on #3547
Is this still an issue? @teolemon could you please verify?

[2020-10-29 06:26] teolemon commented on #3547
This works

[2020-10-29 08:01] teolemon commented on #3547
actually, crash again

[2020-10-29 11:32] sarah541 commented on #3547
@teolemon @VaiTon This crash was never fixed. Can work on it.

[2020-10-29 12:31] VaiTon commented on #3547
Sure you can @sarah541! Thanks!

[2020-10-29 12:36] VaiTon commented on #3363
Sure! As you can see when you open a product without a foto, there is a button asking to take a photo of the front of the product. The same should happen for labels. Am I right @teolemon? Do we have a particular field for it on the API?

[2020-10-29 12:47] VaiTon commented on #2979
Yes, it is needed. Sure you can take it! I'm assigning you, thanks.

[2020-10-29 12:48] VaiTon commented on #3066
@epicadk what do you mean? How has this been solved?

[2020-10-29 14:51] teolemon commented on #3363
@IpsumCapra @VaiTon https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3543 is better documented. Would you solve this one instead, and I close this one ?

[2020-10-29 15:29] IpsumCapra commented on #3363
While I'd love to help, I'm very low on time right now. I can take a look later but it'd be better not to assign it to me as i can't work on it now.

[2020-10-29 17:37] teolemon commented on #3531
good catch @stephanegigandet ?
https://world.openfoodfacts.org/cgi/product_image_crop.pl?code=8901063017252&id=packaging_en&imgid=14&x1=0&y1=0&x2=0&y2=0&coordinates_image_size=full&angle=0&normalize=false&white_magic=false
{"image":{"display_url":"packaging_en.41.400.jpg"},"status":"status ok","imagefield":"packaging_en"}

[2020-10-29 18:00] SaifurRahmanMohsin commented on #3531
@teolemon Ok cool, so I can use this API node for this?

[2020-10-29 18:40] mohsin commented on #3531
@teolemon Ok I'm glad that the image is still accessible via image crop API, but should I use this API node instead for this? The `product/<product-barcode-id>` API is already called when the product item is opened and there is an `image_packaging_url` field in the Product class to which gets filled when this product load happens. I think it makes better sense to fix the `product/<product-barcode-

[2020-10-29 18:40] VaiTon commented on #3363
Closing in favor of #3543.

[2020-10-29 18:40] #3363 closed

[2020-10-29 18:54] VaiTon commented on #3520
What do you mean? Is newt a user?

Does this happens always or just sometimes?

[2020-10-31 16:07] teolemon commented on #3529
Here are the placeholders with the right size.
https://static.openfoodfacts.dev/images/icons/ecoscore-a.svg
https://static.openfoodfacts.dev/images/icons/ecoscore-b.svg
https://static.openfoodfacts.dev/images/icons/ecoscore-c.svg
https://static.openfoodfacts.dev/images/icons/ecoscore-d.svg
https://static.openfoodfacts.dev/images/icons/ecoscore-e.svg

[2020-10-31 19:22] elizabethqiu commented on #3501
I actually changed my mind-- unfortunately I will not be able to help out with this. Thank you for understanding!

[2020-11-01 07:02] sarah541 commented on #3547
@VaiTon Fixed. Please see attached PR.

[2020-11-03 07:13] teolemon commented on #3529
Here's what it would look like with a placeholder. We would loose the product image for better legibility. cc @stephanegigandet @VaiTon

![image](https://user-images.githubusercontent.com/1689815/97957895-6ae67280-1dac-11eb-92ef-1285a7288d91.png)

[2020-11-03 07:20] teolemon commented on #3529
Also please note that the scores are not the actual ones.

[2020-11-03 09:17] teolemon commented on #3361
closing in favor of https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3543

[2020-11-03 09:17] #3361 closed

[2020-11-03 09:17] teolemon commented on #3362
closing in favor of https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3543

[2020-11-03 14:04] VaiTon commented on #3529
Good idea, the product photo is not that useful to be honest.

[2020-11-03 14:57] licaon-kter commented on #3244
Trying to update 343
[code]

/LE: ref: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7656

[2020-11-03 15:15] #2979 closed

[2020-11-03 17:42] #3362 closed

[2020-11-03 20:31] licaon-kter commented on #3244
Same for `org.openpetfoodfacts.scanner` and `openfoodfacts.github.scrachx.openfood` right?

[2020-11-04 09:39] teolemon opened #3571 "Autocomplete for Origins"
Origins have just been taxonomized. We can add autocomplete for it:

The live API is already working: https://fr.openfoodfacts.org/cgi/suggest.pl?tagtype=origins&term=nou
The JSON file has not been generated yet: https://static.openfoodfacts.org/data/taxonomies/origins.json

Note: we have methods to use JSON files or live APIs.

### Steps
- [ ] Use the live API to get the results.
- [ ] Cache the

[2020-11-04 21:52] teolemon opened #3572 "Crash on ingredient extraction"
Crash on ingredient extraction
[code]

[2020-11-05 08:22] teolemon opened #3573 "IllegalStateException: LifecycleOwner MainActivity is attempting to register while current state is RESUMED"
**Describe the bug**
java.lang.IllegalStateException: LifecycleOwner openfoodfacts.github.scrachx.openfood.features.MainActivity@cfcd04f is attempting to register while current state is RESUMED. LifecycleOwners must call register before they are STARTED.

**To Reproduce**
Steps to reproduce the behavior:
1. Automatic Android testing on 390

[2020-11-05 12:13] mohsin opened #3574 "Is this even used?"
Looks like unreachable dead code.

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/OfflineProductService.java#L243-L247

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/edit/ProductEditActivity.java#L155-L163

[2020-11-05 12:14] SaifurRahmanMohsin commented on #3574
Oh, never mind, I found where it's being used now.

[2020-11-06 22:57] VaiTon commented on #3572
Sorry, which branch are you talking about? Could you link the hash? @teolemon thanks!

[2020-11-06 23:03] VaiTon commented on #3574
It's not. Cleaning it.

[2020-11-06 23:04] #3574 closed, assigned to nobody

[2020-11-06 23:06] VaiTon commented on #3547
Closed by #3566

[2020-11-06 23:06] #3547 closed, assigned to sarah541

[2020-11-07 11:35] #3529 closed

[2020-11-11 09:38] teolemon opened #3580 "Add an "Extract packaging" button on product page"
"Extract packaging" button does not appear on product page or edit mode while it seems to have been duplicated in the packaging PR that was just merged.
@SaifurRahmanMohsin could you have a look ?

Possibly add a 4th section in the edit mode for the Environment for the moment

[2020-11-11 12:51] teolemon commented on #3580
Possibly a 4th section in the edit mode for the Environment for the moment, but I'd like to eventually break down editing into granular pieces.

[2020-11-11 16:32] teolemon opened #3581 "On some products, the Environment tab shows the contributor tab"
![image](https://user-images.githubusercontent.com/1689815/98836733-535d5880-2442-11eb-94b1-119dfbf16650.png)
Report by @stephanegigandet

- [ ] On some products, the Environment tab shows the contributor tab
- [ ] It would seem that it only happens on 1st navigation
- [ ] I can't reproduce, with or without contribution tab enabled

[2020-11-11 18:49] teolemon opened #3582 "Show statistics on the last week of scans"
We could have a little statistics section on the last week of scans (or of a given list)

- [ ] pie chart repartition of Eco-Scores
- [ ] pie chart repartition of Nutri-Scores
- [ ] pie chart repartition of NOVA
- [ ] Sum of all the carbon footprints of the day/week/year https://github.com/openfoodfacts/openfoodfacts-server/issues/4503

[2020-11-11 19:27] teolemon commented on #3582
https://github.com/openfoodfacts/openfoodfacts-server/issues/4503

[2020-11-12 11:25] teolemon opened #3583 "The Eco-Score sometimes does not appear on the full product page"
The Eco-Score sometimes does not appear on the full product page.
https://fr.openfoodfacts.org/product/4056489207924/farine-de-ble-fluide-navarre
![image](https://user-images.githubusercontent.com/1689815/98934235-0d57d180-24e2-11eb-860e-6971658da499.png)

![image](https://user-images.githubusercontent.com/1689815/98934259-1779d000-24e2-11eb-91df-f36f2eca3327.png)
![image](https://user-images.gith

[2020-11-12 11:57] teolemon commented on #3572
I'm updating the issue. It's verified on master, but only seems to happen when coming from `Products to be completed`

[2020-11-12 17:20] VaiTon commented on #3583
Yeah I think I know why. We don't check for its presence before hiding the entire card.

[2020-11-12 18:02] sentry[bot] opened #3584 "NullPointerException: Attempt to read from field 'androidx.core.widget.NestedScrollView openfoodfacts.github.scrachx.op..."
Sentry Issue: [OPENFOODFACTS-ANDROID-ZY](https://sentry.io/organizations/openfoodfacts/issues/2023348613/?referrer=github_integration)

[code]

[2020-11-13 10:22] teolemon opened #3587 "The app is not loading translations anymore"
The app is not loading translations anymore for me. Android 11, System in French (I switched my locale to double check). App locale in French.
UI is in English instead of French.

[2020-11-14 10:35] sentry[bot] opened #3588 "IllegalStateException: IngredientsProductFragment.java:157 is attempting to registerForActivi..."
Sentry Issue: [OPENFOODFACTS-ANDROID-YE](https://sentry.io/organizations/openfoodfacts/issues/2007853827/?referrer=github_integration)

[code]

[2020-11-14 10:37] teolemon commented on #3588
### Video
https://slack-files.com/T02KVRT1Q-F01F48CBQF3-eb436d375b
### Stacktrace
androidx.fragment.app.Fragment in registerForActivityResult at line 3397
openfoodfacts.github.scrachx.openfood.features.product.view.ingredients.IngredientsProductFragment in extractIngredients at line 504
openfoodfacts.github.scrachx.openfood.features.product.view.ingredients.IngredientsProductFragment in lambda$onV

[2020-11-14 12:33] teolemon commented on #3588
It’s also happening when invoking the extraction from the Ingredient analysis modals

[2020-11-14 18:46] #3588 closed, assigned to nobody

[2020-11-14 18:50] #3583 closed, assigned to nobody

[2020-11-14 18:52] #3561 closed, assigned to nobody

[2020-11-14 18:55] VaiTon commented on #3587
Any error? Could you please post the entire log? Thanks

[2020-11-14 21:06] #3525 closed

[2020-11-15 11:37] #3573 closed, assigned to nobody

[2020-11-15 15:16] teolemon commented on #3474
The issue hasn't been seen in 3 months, so it seems your fix worked @VaiTon >> closing

[2020-11-15 15:16] #3474 closed

[2020-11-15 15:16] teolemon commented on #3416
seems fixed. closing

[2020-11-15 15:16] #3416 closed

[2020-11-17 07:59] sentry[bot] opened #3590 "NullPointerException: product.getImagePackagingUrl(langCode) must not be null"
Sentry Issue: [OPENFOODFACTS-ANDROID-140](https://sentry.io/organizations/openfoodfacts/issues/2035264688/?referrer=github_integration)

[code]

[2020-11-17 08:00] sentry[bot] opened #3591 "NullPointerException: product.getImagePackagingUrl(langCode) must not be null"
Sentry Issue: [OPENFOODFACTS-ANDROID-13E](https://sentry.io/organizations/openfoodfacts/issues/2034590390/?referrer=github_integration)

[code]

[2020-11-17 11:06] VaiTon commented on #3591
Fixed in 82afd163eb63b78c0c4a95fce26d338a9554176e

[2020-11-17 11:06] #3591 closed, assigned to nobody

[2020-11-17 11:06] #3590 closed, assigned to nobody

[2020-11-17 12:40] teolemon opened #3593 "Stripping EXIF metadata from images"
https://gitlab.com/pierre82/fdroiddata/-/jobs/854285295#L141

$ find metadata/ -name '*.jp*g' -o -name '*.png' | xargs exiftool -all=
    0 image files updated
   84 image files unchanged
$ echo "these images have EXIF that must be stripped:"
these images have EXIF that must be stripped:
$ git --no-pager diff --stat

[2020-11-17 20:10] teolemon opened #3596 "OOM error when linting in develop branch"
w: Some runtime JAR files in the classpath have an incompatible version. Consider removing them from the classpath
w: /home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/environment/EnvironmentProductFragment.kt: (167, 15): 'onActivityResult(Int, Int, Intent?): Unit' is deprecated. Deprecated in Java
Note

[2020-11-19 14:21] #3510 closed

[2020-11-19 14:24] #3512 closed

[2020-11-19 20:43] teolemon commented on #3531
Closing, since the initial implem is done

[2020-11-19 20:43] #3531 closed

[2020-11-20 10:15] sentry[bot] opened #3602 "IllegalStateException: Fragment z{141f2fb} (fe9f6bd6-5249-468d-b658-d099a9189971)} not attached to an activity."
Sentry Issue: [OPENFOODFACTS-ANDROID-16M](https://sentry.io/organizations/openfoodfacts/issues/2043975204/?referrer=github_integration)

[code]

[2020-11-21 11:48] teolemon opened #3603 "Display the grey unknown icons when the scores are unknown"
We now have unknown icons for the NOVA or the Nutri-Score or the Eco-Score that can help stabilize layouts. We could show them on

- [x] the scan card

when the values are unknown
https://static.openfoodfacts.org/images/misc/nutriscore-unknown.svg
https://static.openfoodfacts.org/images/misc/nova-group-unknown.svg
https://static.openfoodfacts.org/images/icons/ecoscore-unknown.svg

https://static.o

[2020-11-21 15:27] teolemon commented on #3539
@ShareACoke1 do you want me to assign you the issue ?

[2020-11-21 15:30] teolemon opened #3604 "Prepare the ingredient analysis strip for many more analysis"
### Feature
We currently have Vegan, Vegetarian and Palm oil. We're going to add many more analysis.
- [ ] Only display the first 3 ingredient analysis if no setting is explicitely set
- [ ] Allow the ingredient analysis strip to slide horizontally in case someone explicitely enables a lot of analysis.

### Sample of the new analysis available on the web version
![image](https://user-images.github

[2020-11-22 00:10] yukiisbored commented on #3066
I just cloned the project (I'm on commit fa6fa4647e970ccb20d843553e025b57fbc954e6) and can confirm that the default is now "Product that I have". Unless I misunderstood what "Change default name of list" means, I think this issue is fixed.

![Screenshot_1606003704](https://user-images.githubusercontent.com/18437312/99890427-4a992d80-2c5f-11eb-8966-5c36ba8f1c3a.png)

[2020-11-23 09:55] #3478 closed

[2020-11-26 11:41] licaon-kter commented on #3244
https://f-droid.org/wiki/index.php?title=openfoodfacts.github.scrachx.openfood/lastbuild_350&oldid=283201

https://f-droid.org/wiki/index.php?title=openfoodfacts.github.scrachx.openbeauty/lastbuild_350&oldid=283202

https://f-droid.org/wiki/index.php?title=org.openpetfoodfacts.scanner/lastbuild_350&oldid=283200

ref: https://gitlab.com/fdroid/fdroiddata/-/commit/e80fd485bd344249cb15cce3283e9bc31a5

[2020-12-01 14:35] VicFinistere commented on #3603
I am on it !

[2020-12-05 09:56] alexisdal commented on #348
I need a calorie counter too and I'm unhappy with the few options offered on Play Store. Not only apps are bloated and show useless ads, but most annoyingly the data is private. Besides either product does not exist in database and/or contains wrong food facts.
I thought apps most would use openfoodfacts but no.
And looking into openfoodfacts, i ended up here.

I disagree with the idea to have cal

[2020-12-05 11:10] teolemon commented on #3603
Thank you @Zoeinfp I've assigned it to you.
Here's the starting pointer I mentionned: https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java#L303

[2020-12-05 11:12] teolemon opened #3608 "Show the new packaging field values on the environment tab"
Show the new packaging field values on the environment tab

[2020-12-05 15:22] teolemon opened #3609 "The build is broken due to missing symbols in ProductRepositoryTest, ScreenshotActivityTestRule, AbstractScreenshotTest, TakeScreenshotShowProductsTest"
### Issue
The build is broken due to missing symbols in ProductRepositoryTest, ScreenshotActivityTestRule, AbstractScreenshotTest, TakeScreenshotShowProductsTest
### Failing build log
/home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/androidTest/java/openfoodfacts/github/scrachx/openfood/repositories/ProductRepositoryTest.java:37: error: cannot find symbol
        product

[2020-12-06 10:39] teolemon opened #3610 "Trying to open advanced search crashes the app"
**Describe the bug**
Trying to open advanced search crashes the app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sidemenu
2. Click on 'Advanced Search'
3. Click on 'Open with Open Food Facts'
4. See error

[2020-12-06 16:44] teolemon commented on #3528
Superseded by #3603

[2020-12-06 16:44] #3528 closed

[2020-12-06 16:52] teolemon commented on #3337
#3605 adds a Day/Night switch

[2020-12-06 16:54] #3229 closed

[2020-12-06 17:00] teolemon commented on #2990
fixed

[2020-12-06 17:00] #2990 closed

[2020-12-06 17:00] teolemon commented on #2975
fixed

[2020-12-06 17:00] #2975 closed

[2020-12-06 17:20] teolemon commented on #3593
done

[2020-12-06 17:20] #3593 closed, assigned to nobody

[2020-12-06 17:21] #3584 closed, assigned to nobody

[2020-12-06 17:21] #3602 closed, assigned to nobody

[2020-12-06 17:25] #3587 closed, assigned to nobody

[2020-12-06 17:26] #3503 closed

[2020-12-06 17:26] #3511 closed

[2020-12-06 17:27] #3269 closed

[2020-12-06 17:27] #3339 closed

[2020-12-06 17:27] #3352 closed

[2020-12-06 17:27] #3381 closed

[2020-12-06 17:27] #3397 closed

[2020-12-06 17:27] #3413 closed

[2020-12-06 17:27] #3414 closed

[2020-12-06 17:27] #3422 closed

[2020-12-06 17:27] #3427 closed

[2020-12-06 17:27] #3434 closed

[2020-12-06 17:27] #3453 closed

[2020-12-06 17:27] #3467 closed

[2020-12-06 17:27] #3468 closed

[2020-12-06 17:27] #3471 closed

[2020-12-06 17:27] #3475 closed

[2020-12-06 17:27] #3486 closed

[2020-12-06 17:27] #3493 closed

[2020-12-06 17:27] #3496 closed

[2020-12-06 17:27] #3499 closed

[2020-12-06 17:27] #3500 closed

[2020-12-06 17:27] #3502 closed

[2020-12-06 17:27] #3508 closed

[2020-12-06 17:28] teolemon commented on #3367
this seems fixed. closing

[2020-12-06 17:28] #3367 closed

[2020-12-06 17:30] #3472 closed

[2020-12-06 17:30] #3454 closed

[2020-12-09 16:25] VicFinistere commented on #3603
Sorry I did not solve it  and I have no more time now.

[2020-12-11 16:52] mrudultora commented on #3610
@teolemon  Sir, please review this !

[2020-12-11 18:33] mrudultora opened #3614 "App Crashed on opening Preferences from Sidebar"
**Describe the bug**
App is crashing on pressing preferences in debug build of OpenFoodFacts (giving a NullPointerException). The one available on Play Store is working fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to NavigationDrawer
2. Click on Preferences

**Expected behavior**
PreferencesFragment must Open.

**Additional context**
Attaching the logs...
    `2020-12-11 23:54:53

[2020-12-13 10:32] sentry[bot] opened #3616 "NPE at loadProductQuestion$1.accept(SummaryProductPresenter.kt:40)"
Sentry Issue: [OPENFOODFACTS-ANDROID-1EN](https://sentry.io/organizations/openfoodfacts/issues/2088259261/?referrer=github_integration)

[code]

[2020-12-13 10:34] sentry[bot] opened #3617 "NPE: offlineProductDAO.queryB…ode.eq(barcode)).unique() must not be null"
Sentry Issue: [OPENFOODFACTS-ANDROID-1DY](https://sentry.io/organizations/openfoodfacts/issues/2085436521/?referrer=github_integration)

[code]

[2020-12-14 19:53] teolemon commented on #3617
This happens when scanning a barcode

[2020-12-15 13:16] teolemon opened #3623 "Smart cast to 'MutableList<AllergenName>' is impossible, because 'mAllergensEnabled' is a mutable property that could have been changed by this time - Cannot access 'allergens': it is private in 'AllergensAdapter'"
The screenshot test still seems to fail because of:

[code]

[2020-12-15 13:27] teolemon opened #3624 "Add a message if we have a category but no Eco-Score"
Add a message if we have a category but no Eco-Score.
`if states_tags == categories-completed and ecoscore_grade == Null`

_"We could not compute an Eco-Score for this product. It might be that the category is not specific enough or that we don't have supporting data for this category. If you believe this is an error, you can email contact@openfoodfacts.org"_

[2020-12-15 13:40] teolemon commented on #3624
`if "labels-to-be-completed" in states:`

`"The Eco-Score takes into account environmental labels. Please take them into photo or edit the product so that they can be taken into account"`

`if "origins-to-be-completed" in states:`
`"The Eco-Score takes into account the origins of the ingredients. Please take them into photo (ingredient list and/or any geographic claim or edit the product so that t

[2020-12-20 18:00] teolemon opened #3625 "nutrition_facts_table_row.xml:37: Error: @+id/energy_kj_til is not a sibling in the same ConstraintLayout [NotSibling] app:layout_constraintTop_toBottomOf="@+id/energy_kj_til">"
/builds/pierre82/fdroiddata/build/openfoodfacts.github.scrachx.openfood/app/src/main/res/layout/nutrition_facts_table_row.xml:37: Error: @+id/energy_kj_til is not a sibling in the same ConstraintLayout [NotSibling]
            app:layout_constraintTop_toBottomOf="@+id/energy_kj_til">
[code]

[2020-12-20 18:01] teolemon commented on #3625
as reported in https://gitlab.com/pierre82/fdroiddata/-/jobs/923327590

[2020-12-20 18:02] teolemon opened #3626 "Sentry mapping uploading is failing in the F-Droid build"
[code]

[2020-12-23 11:27] teolemon opened #3629 "Add the ability to select recycling from the "Product Photos" tab"
Add the ability to select recycling from the "Product Photos" tab: we already have many packaging/recycling photos that are just not selected. This should help selecting and cropping more of them.

![image](https://user-images.githubusercontent.com/1689815/102991718-12189800-451a-11eb-9142-6a5ea002746c.png)

[2020-12-23 15:15] teolemon opened #3630 "inferred type is Locale? but Locale was expected (AbstractScreenshotTest.kt)"
e: /home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/AbstractScreenshotTest.kt: (77, 36): Type mismatch: inferred type is Locale? but Locale was expected

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/Abstract

[2020-12-23 15:29] teolemon commented on #3626
Here's the PR on the F-Droid side: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7930

[2020-12-23 15:54] teolemon commented on #3501
Do we have a chance to ship a first version of this before Jan 7th?
That's the date of the Eco-Score press conference.

[2020-12-25 12:00] teolemon opened #3634 "various errors reported by the last build"
[code]

[2020-12-25 14:11] teolemon opened #3635 "Cropping seems broken"
https://photos.app.goo.gl/9EvngfoQ18idAS3o8
Cropping seems broken.
Open Food Facts 3.6.1

[2020-12-25 15:01] VaiTon commented on #3630
Fixed by 5f0b1ab536ac50ded4a3dcf9f889603cd21161a7

[2020-12-25 15:01] #3630 closed, assigned to nobody

[2020-12-25 15:05] #3625 closed, assigned to nobody

[2020-12-25 15:23] #3623 closed, assigned to nobody

[2020-12-25 15:32] VaiTon commented on #3617
Fixed by 3d5a267b23d7e9a9c76dd8bf8e9fe88e8276ccf9

[2020-12-25 15:32] #3617 closed, assigned to nobody

[2020-12-25 15:34] VaiTon commented on #3610
I'm sorry for @mrudultora but I didn't see the PR and fixed (in theory) the issue. @teolemon could you check when you have time?

[2020-12-25 15:38] teolemon opened #3637 "ContinuousScanActivity.kt: (165, 37): Type mismatch: inferred type is OfflineSavedProduct? but OfflineSavedProduct was expected"
e: /home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/main/java/openfoodfacts/github/scrachx/openfood/features/scan/ContinuousScanActivity.kt: (165, 37): Type mismatch: inferred type is OfflineSavedProduct? but OfflineSavedProduct was expected

[2020-12-25 15:39] mrudultora commented on #3610
@VaiTon That's alright! Btw, it was my first pull request in this repo so I was excited. I will try to solve another issue.

[2020-12-25 15:56] teolemon commented on #3610
@VaiTon I'm going to do a fresh build and try to reproduce.
I've linked the PR that will be closed when we confirm it is fixed.

[2020-12-25 16:23] teolemon commented on #3614
Ok, develop crashes during app startup @VaiTon @mrudultora :-)
I'm trying a few things to make it work

[2020-12-25 16:23] teolemon commented on #3614
2020-12-25 17:17:20.466 25811-25811/? E/Finsky: [2] aftn.b(5): Failed to get status for package 'openfoodfacts.github.scrachx.openbeauty' (1601)
    java.lang.reflect.InvocationTargetException
        at java.lang.reflect.Method.invoke(Native Method)
        at znr.run(Unknown Source:5)
        at android.os.Handler.handleCallback(Handler.java:938)
        at android.os.Handler.dispatchMessage(Han

[2020-12-25 16:23] teolemon commented on #3614
[code]

[2020-12-25 16:39] teolemon opened #3638 "CountyTag vs. CountryTag"
CountyTag vs. CountryTag:
https://github.com/openfoodfacts/openfoodfacts-androidapp/search?q=County

![image](https://user-images.githubusercontent.com/1689815/103139010-14285580-46d8-11eb-822f-500fcf0c0ecf.png)

[2020-12-25 17:32] teolemon commented on #825
We now have a simplified way to do this:
https://world.openfoodfacts.org/category/prepared-lasagne.json?fields=product_name,nutriscore_score&sort_by=nutriscore_score

[2020-12-25 18:02] teolemon opened #3639 "Various deprecation warnings from the latest build"
- [ ] w: /home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/main/java/openfoodfacts/github/scrachx/openfood/app/OFFApplication.kt: (75, 21): Unsafe use of a nullable receiver of type Thread.UncaughtExceptionHandler?
- [ ] w: /home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/main/java/openfoodfacts/github/scrachx/openfood/customtabs/CustomTabsHelpe

[2020-12-25 20:10] teolemon opened #3640 "country.CountriesWrapperTest > initializationError FAILED"
openfoodfacts.github.scrachx.openfood.models.entities.country.CountriesWrapperTest > initializationError FAILED
    org.junit.runners.model.InvalidTestClassError at ParentRunner.java:525

155 tests completed, 1 failed

[2020-12-26 14:40] kartikaysharma01 commented on #3624
@teolemon  If this is unassigned, I would like to work on this.

[2020-12-26 16:31] teolemon commented on #3624
You're very welcome.

- The ecoscore is NULL for all products until release, but the Environment tab should already be shown.
- origins-to-be-completed does not exist yet (I've opened an issue for it, but we can code it anyway, without waiting) (server issue:  https://github.com/openfoodfacts/openfoodfacts-server/issues/4661 )

[2020-12-26 16:42] teolemon opened #3641 "Add a mention below the origin ingredients field mentioning it is required for the Eco-Score"
Add a mention below the origin ingredients field mentioning it is required for the Eco-Score (in the Edit mode)

[2020-12-26 18:41] mrudultora commented on #3614
@teolemon  I am unable to understand the logs you added. I mean how to reproduce them?

[2020-12-26 21:15] teolemon commented on #3626
Hopefully 3.6.1 will fix this

[2020-12-27 21:29] licaon-kter commented on #3626
Still fails, right? https://f-droid.org/wiki/index.php?title=org.openpetfoodfacts.scanner/lastbuild_361&oldid=284590

[2020-12-28 09:03] teolemon commented on #3626
https://github.com/openfoodfacts/openfoodfacts-androidapp/runs/1612131435
The issue was fixed. Testing is clean and the fail is due to something else (It's Kotlin related and thus and I don't believe it's on release/3.6.1 branch)
It does not mention what code it's building. The release tarball ? I can't find it in the build log.
https://gitlab.com/fdroid/fdroidserver/-/jobs/927753006

[2020-12-28 09:06] teolemon commented on #3626
https://f-droid.org/wiki/index.php?title=openfoodfacts.github.scrachx.openfood/lastbuild_361&redirect=no

@Vaiton do you confirm this kind of errors should not happen on the release/3.6.x branch ?

[2020-12-28 09:48] teolemon commented on #3626
Ok, still the Sentry issue actually: https://f-droid.org/wiki/index.php?title=org.openpetfoodfacts.scanner/lastbuild_361&oldid=284590

error: API request failed
  caused by: sentry reported an error: Authentication credentials were not provided. (http status: 401)

[2020-12-29 22:34] teolemon opened #3646 "Add the Eco-Score in the compare mode"
Add the Eco-Score in the compare mode

![image](https://user-images.githubusercontent.com/1689815/103354989-59200380-4aad-11eb-88ee-69755827d3c1.png)

[2020-12-30 10:01] teolemon opened #3648 "CountriesWrapperTest > initializationError FAILED org.junit.runners.model.InvalidTestClassError at ParentRunner.java:525"
Failure: https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/3645/checks?check_run_id=1623354120#step:5:244

Code: https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/1b1c38302b1fc51270940b0c030b2f4b966bbb0f/app/src/test/java/openfoodfacts/github/scrachx/openfood/models/entities/country/CountriesWrapperTest.kt#L16

[2020-12-30 13:54] teolemon commented on #3603
![image](https://user-images.githubusercontent.com/1689815/103355605-eadc4080-4aae-11eb-8133-5edbfdeaed41.png)

[2020-12-30 18:45] #3501 closed

[2020-12-30 18:54] #3637 closed, assigned to nobody

[2020-12-30 20:32] kartikaysharma01 opened #3649 "unable to run application on develop branch"
**Describe the bug**
Unable to run application on develop branch

**To Reproduce**
Steps to reproduce the behavior:
1.  checkout to develop branch
2. Build and run

**Expected behavior**
Application runs

**Smartphone (please complete the following information):**
   Tested on multiple devices
 - Device: Pixel 3a
 - OS: Android 11.0
 - Android API 30

**Additional context**
    --------- beginning

[2020-12-30 23:25] zukunft commented on #3582
Yes, the carbon footprints of the day/week/year in CO2-eq would be really be nice.

[2020-12-31 11:46] teolemon commented on #3635
It was a server side issue in the end. Closing

[2020-12-31 11:46] #3635 closed, assigned to nobody

[2020-12-31 14:03] teolemon opened #3651 "Add an example and a warning for the origins field"
Add an example and a warning for the origins field, since this is important for the Eco-Score
![image](https://user-images.githubusercontent.com/1689815/103413322-512d9580-4b79-11eb-81db-f85d76b52b23.png)

[2020-12-31 15:59] teolemon commented on #3624
![image](https://user-images.githubusercontent.com/1689815/103416938-00be3400-4b89-11eb-926b-105e7b5d5149.png)
How about a 1 time message ?

and for the others, text rather than buttons, below the "Take additional photos" button ?
![image](https://user-images.githubusercontent.com/1689815/103416976-28ad9780-4b89-11eb-94a6-b0f6f6fcf86c.png)
@VaiTon ?

[2020-12-31 17:24] kartikaysharma01 commented on #2968
is someone working on this issue?

[2020-12-31 23:52] VaiTon commented on #3638
The problem is that the class is an entity, so an update would require a db migration, and that's useless just for a rename

[2020-12-31 23:53] VaiTon commented on #2968
@kartikaysharma01 not at the moment. Would you like to work on this?

[2021-01-01 00:06] #3651 closed, assigned to nobody

[2021-01-01 00:42] #3649 closed, assigned to nobody

[2021-01-01 01:32] #3356 closed

[2021-01-01 01:32] VaiTon commented on #3640
Duplicate of #3648.

[2021-01-01 01:32] #3640 closed, assigned to nobody

[2021-01-01 01:32] #3634 closed, assigned to nobody

[2021-01-01 01:41] #3648 closed, assigned to nobody

[2021-01-01 01:42] #3638 closed, assigned to nobody

[2021-01-01 08:19] teolemon opened #3652 "Timeouting tests and actually failing tests"
Here's a quick list of the issue in the first build of 2021 🎉
Since most of them are timeouts, I've just relaunched the build.

- [x] openfoodfacts.github.scrachx.openfood.network.ProductsAPITest > byCategory FAILED
    java.lang.RuntimeException at ProductsAPITest.kt:37
        Caused by: java.net.SocketTimeoutException at PlainSocketImpl.java:-2

- [x] openfoodfacts.github.scrachx.openfood.netwo

[2021-01-01 09:25] teolemon opened #3653 "App crashes at launch / : Unable to get provider openfoodfacts.github.scrachx.openfood.utils.GenericFileProvider: java.lang.IllegalArgumentException: Missing android.support.FILE_PROVIDER_PATHS meta-data"
[code]

[2021-01-01 09:26] teolemon commented on #3653
https://stackoverflow.com/questions/45973746/missing-android-support-file-provider-paths-meta-data

[2021-01-01 12:12] kartikaysharma01 commented on #3653
Clean the project and run. It

[2021-01-01 14:06] #3646 closed, assigned to nobody

[2021-01-01 14:08] VaiTon commented on #3653
I can't reproduce. Have you tried cleaning and rebuilding?

[2021-01-01 14:13] kartikaysharma01 commented on #3653
cleaning and building resolves it !

[2021-01-01 14:17] #3653 closed, assigned to nobody

[2021-01-01 14:20] #3614 closed, assigned to nobody

[2021-01-01 14:25] VaiTon commented on #3610
Thank you for your work!

[2021-01-01 14:26] VaiTon commented on #3603
@teolemon could we get the svg versions?

[2021-01-01 14:27] VaiTon commented on #3641
Should be fixed in 7c35bc6fd7d8afc2585c50bc8eb4c3ec11ab0cd5

[2021-01-01 14:27] #3641 closed, assigned to nobody

[2021-01-01 15:18] teolemon commented on #3603
@VaiTon Those ones ? Something else ?

https://static.openfoodfacts.org/images/misc/nutriscore-unknown.svg
https://static.openfoodfacts.org/images/misc/nova-group-unknown.svg
https://static.openfoodfacts.org/images/icons/ecoscore-unknown.svg

[2021-01-01 15:58] kartikaysharma01 commented on #3624
How about toast?

[2021-01-01 16:02] kartikaysharma01 commented on #2968
@teolemon  @VaiTon  Can you elaborate the issue??
How to get to the screen attached as screenshot?

[2021-01-01 16:32] #3652 closed, assigned to nobody

[2021-01-01 16:33] teolemon opened #3654 "2 tests failing ( productByCity_Paris_noProductFound, post_product)"
openfoodfacts.github.scrachx.openfood.network.ProductsAPITest > productByCity_Paris_noProductFound FAILED
    java.lang.RuntimeException at ProductsAPITest.kt:119
        Caused by: com.fasterxml.jackson.databind.JsonMappingException at SettableAnyProperty.java:213
            Caused by: java.lang.NullPointerException at Search.kt:-1

openfoodfacts.github.scrachx.openfood.network.ProductsAPITest >

[2021-01-01 17:02] teolemon opened #3655 "Show the Eco-Score in product lists"
Show the Eco-Score in

- [x] Search (done by @VaiTon )
- [x] History (requires DB scheme edit)

 I have some vertical versions of the Nutri-Score to make some space
![image](https://user-images.githubusercontent.com/1689815/103442960-c624cc00-4c5a-11eb-8729-3f55007c0602.png)

https://raw.githubusercontent.com/openfoodfacts/openfoodfacts-server/nutriscore-variants/html/images/misc/nutriscore/nutris

[2021-01-02 08:41] kartikaysharma01 commented on #3624
Ok so how about we keep one text view below the "take additional photo" button and keep it in a format like, "Note: The Eco-score...." and we can change the message as per the condition.
@VaiTon  @teolemon

[2021-01-02 12:11] VaiTon commented on #3624
I agree, but please put it over the button :)

[2021-01-02 18:47] VaiTon commented on #3655
Search ✅

[2021-01-02 19:43] teolemon opened #3657 "Build warning because of kotlin-reflect & kotlin-stdlib"
https://stackoverflow.com/questions/42569445/warning-kotlin-runtime-jar-files-in-the-classpath-should-have-the-same-version

[code]

[2021-01-02 19:56] teolemon commented on #3654
openfoodfacts.github.scrachx.openfood.network.ProductsAPITest > post_product FAILED
    java.lang.ExceptionInInitializerError at ProductsAPITest.kt:167
        Caused by: kotlin.UninitializedPropertyAccessException at ProductsAPITest.kt:167

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/testOff/java/openfoodfacts/github/scrachx/openfood/network/ProductsAPITest.kt#L

[2021-01-02 19:56] teolemon commented on #3654
openfoodfacts.github.scrachx.openfood.network.ProductsAPITest > productByCity_Paris_noProductFound FAILED
    java.lang.RuntimeException at ProductsAPITest.kt:119
        Caused by: com.fasterxml.jackson.databind.JsonMappingException at SettableAnyProperty.java:213
            Caused by: java.lang.NullPointerException at Search.kt:-1

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/

[2021-01-02 20:55] teolemon opened #3658 "UninitializedPropertyAccessException at ProductsAPITest.kt:167"
openfoodfacts.github.scrachx.openfood.network.ProductsAPITest > post_product FAILED
    java.lang.ExceptionInInitializerError at ProductsAPITest.kt:167
        Caused by: kotlin.UninitializedPropertyAccessException at ProductsAPITest.kt:167

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/develop/app/src/testOff/java/openfoodfacts/github/scrachx/openfood/network/ProductsAPITest.kt#L

[2021-01-02 20:55] teolemon opened #3659 ".NullPointerException at Search.kt"
openfoodfacts.github.scrachx.openfood.network.ProductsAPITest > productByCity_Paris_noProductFound FAILED
    java.lang.RuntimeException at ProductsAPITest.kt:119
        Caused by: com.fasterxml.jackson.databind.JsonMappingException at SettableAnyProperty.java:213
            Caused by: java.lang.NullPointerException at Search.kt:-1

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/

[2021-01-02 20:55] #3654 closed, assigned to nobody

[2021-01-02 23:00] kartikaysharma01 commented on #3624
If it is put over the button , then what happens in case , statesTags includes "categories-to-be-completed" and "labels-to-be-completed"
(the button would say "add a category to compute nutri-score" and the textview "The eco-score....")
should the button be given priority ?
@VaiTon @teolemon

[2021-01-03 11:04] kartikaysharma01 opened #3660 "Unable to open Server Attributes in product screen and product from category"
**Describe the bug**
Unable to open Server Attributes in product screen and product from category

**To Reproduce**
Steps to reproduce the behavior:
In develop branch:
1. Go to categories
2. Click on any category
3. Open any product
4. See error

In develop branch:
1. Go to any product
2. Click on server attributes
3. See error

**Expected behavior**
No error should come

[2021-01-03 11:50] VaiTon commented on #3658
This should be fixed now. @teolemon ?

[2021-01-03 11:51] #3658 closed, assigned to nobody

[2021-01-03 11:51] #3659 closed, assigned to nobody

[2021-01-03 12:26] teolemon opened #3662 "Crowdin GitHub Action Timeout"
✔️  Translation file 'fastlane/metadata/android/vi-VN/off/short_description.txt' has been uploaded
❌ Failed to upload the translation file to the storage. Please contact our support team for help
❌ Error from server: <Code: <empty_code>, Message: Operation timed out (Read failed)>
❌ Current execution finished with errors

[2021-01-03 12:27] teolemon opened #3663 "Fastlane checks error"
Fastlane checks error
every step must define a `uses` or `run` key | .github/workflows/fastlane-supply-checks.yml: .github#L1
-- | --

[2021-01-03 12:39] #3660 closed, assigned to nobody

[2021-01-03 13:21] kartikaysharma01 commented on #3209
@teolemon I have created a pull request for this. Let me know if there is any change to be made,

[2021-01-03 13:28] teolemon opened #3665 "Add bottom padding to the attributes view (impossible to scroll completely)"
- [ ] Add bottom padding to the attributes view since it's impossible to scroll completely right now.
- [ ] Also let's rename the tab to "Synthesis" while it's still in progress.

![image](https://user-images.githubusercontent.com/1689815/103479694-bda1d200-4dcf-11eb-87e3-559e149c4fc5.png)

[2021-01-03 13:36] kartikaysharma01 commented on #3665
Unable to reproduce the scrolling issue.

[2021-01-03 13:37] kartikaysharma01 commented on #3665
Can you provide the product link where you faced this?

[2021-01-03 13:45] teolemon commented on #3665
Pixel 4 - 3256225426584

![image](https://user-images.githubusercontent.com/1689815/103480070-618c7d00-4dd2-11eb-9419-7a210658f6bc.png)

[2021-01-03 13:46] teolemon opened #3666 "Crash when trying to edit a product"
Crash when trying to edit a product
![image](https://user-images.githubusercontent.com/1689815/103480091-7e28b500-4dd2-11eb-8fc7-f5bc017358f5.png)

[2021-01-03 13:52] teolemon opened #3667 "The Eco-Score logo appears on top of the "Add new product card""
The Eco-Score logo appears on top of the "Add new product card"

![image](https://user-images.githubusercontent.com/1689815/103480192-2d658c00-4dd3-11eb-9fbe-4b90031e2b1c.png)

[2021-01-03 13:56] kartikaysharma01 commented on #3665
Working on it.

[2021-01-03 14:05] teolemon opened #3668 "Scan crashes on some specific products"
![image](https://user-images.githubusercontent.com/1689815/103480689-f6dd4080-4dd5-11eb-8c0b-94567e9012b1.png)
https://world.openfoodfacts.org/product/3270160862429/parmentier-de-colin-d-alaska-ecrase-de-pomme-de-terre-picard
![image](https://user-images.githubusercontent.com/1689815/103480560-5c7cfd00-4dd5-11eb-9596-e5a6d6bcc690.png)

[2021-01-03 14:10] teolemon commented on #3668
https://world.openfoodfacts.org/product/3270160862429/parmentier-de-colin-d-alaska-ecrase-de-pomme-de-terre-picard

[2021-01-03 14:30] VaiTon commented on #3668
Any stacktrace?

[2021-01-03 14:57] teolemon opened #3670 "Crash when accessing the image manager"
Crash when accessing the image manager by clicking on the front image

[2021-01-03 15:02] teolemon opened #3671 "Score layout issues in the Comparison screen"
Score layout issues in the Comparison screen

![image](https://user-images.githubusercontent.com/1689815/103481699-fd22eb00-4ddc-11eb-9635-a230096b0c50.png)

[2021-01-03 15:50] teolemon opened #3672 "Allergen manager behaving weirdly on allergen addition"
https://photos.app.goo.gl/8Neuu8hpRePfKdus8

- [ ] There's a "Aucun" (None) allergen
- [ ] Clicking on it adds random allergen
- [ ] Clicking on a allergen adds another allergen

[2021-01-03 16:12] teolemon opened #3673 "Button alignment issue in the Additives cards"
Button alignment issue in the Additives cards

"Browse products" and "View on Wikipedia" are not aligned.

![image](https://user-images.githubusercontent.com/1689815/103483317-ac17f480-4de6-11eb-8cc9-69b818e5ed94.png)

[2021-01-03 16:26] teolemon opened #3674 "Ingredient analysis are flashing (reloading) at every click"
Ingredient analysis are flashing (reloading) at every click.

Video: https://photos.app.goo.gl/C7DnRpYoFaUKoA1s6

[2021-01-03 18:10] #3665 closed, assigned to kartikaysharma01

[2021-01-03 18:46] VaiTon commented on #3667
Fixed by 3dc2eef7cc16a4e6dd9fa0ef3110c864b5c0d29c

[2021-01-03 18:46] #3667 closed, assigned to nobody

[2021-01-03 20:34] #3209 closed

[2021-01-03 22:29] mondlicht-und-sterne opened #3675 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-04 09:40] mrudultora commented on #3668
It's working fine for this barcode. Tested in 2 devices. Please add the logs.

[2021-01-04 10:24] sentry[bot] opened #3677 "IllegalArgumentException: Unable to create converter for class openfoodfacts.github.scrachx.openfood.models.ProductState"
Sentry Issue: [OPENFOODFACTS-ANDROID-1KX](https://sentry.io/organizations/openfoodfacts/issues/2127179742/?referrer=github_integration)

[code]

[2021-01-04 10:29] teolemon commented on #3677
[code]

[2021-01-04 10:32] kartikaysharma01 commented on #3666
I'd like to work on this. Can you assign this to me ?

[2021-01-04 10:49] teolemon commented on #3666
Yes @kartikaysharma01

[2021-01-04 12:06] VaiTon commented on #3675
That's great! I would like to implement fastlane to commit changes to fdroid as we're doing this.
@philippeauriach could you do it?

[2021-01-04 19:54] kartikaysharma01 commented on #3677
How to reproduce this? @teolemon

[2021-01-04 20:05] teolemon commented on #3677
Try scanning a product

[2021-01-05 06:24] #3668 closed, assigned to nobody

[2021-01-05 06:25] #3666 closed, assigned to kartikaysharma01

[2021-01-05 06:36] sentry[bot] opened #3682 "RuntimeException: Unable to start activity ComponentInfo{org.openfoodfacts.scanner/openfoodfacts.github.scrachx.ope..."
Sentry Issue: [OPENFOODFACTS-ANDROID-1N8](https://sentry.io/organizations/openfoodfacts/issues/2131726175/?referrer=github_integration)

[code]

[2021-01-05 11:04] philippeauriach commented on #3675
From what I understand, there is nothing to be done using fastlane, FDroid just uses the same layout as fastlane to know where to get the metadata.

So by putting our metadata in the `root/fastlane/metadata/android`, it should have work, except that we use flavors, so our folder structure is `root/fastlane/metadata/android/off/en-US` instead of `root/fastlane/metadata/android/en-US`, and FDroid do

[2021-01-05 13:35] #3671 closed, assigned to nobody

[2021-01-05 14:27] #3672 closed, assigned to nobody

[2021-01-05 14:27] VaiTon commented on #3603
@teolemon could you test latest develop for this?

[2021-01-05 14:30] VaiTon commented on #3677
I cannot reproduce this. @kartikaysharma01 what about you?

[2021-01-05 16:56] kartikaysharma01 commented on #3677
Same here. The sentry issue seems to be specific for arm64-v8a, but I couldn't get an emulator to work for that arch on my machine. Could you maybe try that?

[2021-01-05 21:44] sentry[bot] opened #3686 "IllegalStateException: Fragment z{634077} (60c53c1e-7502-4801-8cbd-41a71306f4e2)} not attached to an activity."
Sentry Issue: [OPENFOODFACTS-ANDROID-10W](https://sentry.io/organizations/openfoodfacts/issues/2030373189/?referrer=github_integration)

[code]

[2021-01-05 21:45] sentry[bot] opened #3687 "Users on Android 4.4 can't scan anymore"
Sentry Issue: [OPENFOODFACTS-ANDROID-10K](https://sentry.io/organizations/openfoodfacts/issues/2030074581/?referrer=github_integration)

[code]

[2021-01-06 00:34] VaiTon commented on #3677
@kartikaysharma01 it happens only after proguard optimizations. It's an issue with shrinking.

[2021-01-06 12:30] kartikaysharma01 commented on #3670
I am working on this.

[2021-01-06 12:42] teolemon opened #3688 "Grey NOVA is ommitted from the scan card"
Grey NOVA is ommitted from the scan card
![image](https://user-images.githubusercontent.com/1689815/103769672-01414980-5025-11eb-94a3-225919ed8757.png)

[2021-01-06 12:49] teolemon opened #3689 "Do not show the "id" of the sections in server attributes"
Do not show the "id" of the sections

![image](https://user-images.githubusercontent.com/1689815/103770240-f4712580-5025-11eb-94cb-c17fbffac202.png)

[2021-01-06 12:52] teolemon opened #3690 "The compare layout omits the Nutri-Score"
The compare layout omits the Nutri-Score. it can potentially go two lines instead of one, the most important thing is that the two products are homogeneous (eg that it’s easy to compare)

![image](https://user-images.githubusercontent.com/1689815/103770467-5a5dad00-5026-11eb-9512-389835616cb4.png)

[2021-01-06 13:33] VaiTon commented on #3677
Fixed in 9709f97a519f3e7e11700b526c95d8389c8c85e0

[2021-01-06 13:33] #3677 closed, assigned to nobody

[2021-01-06 14:36] #3689 closed, assigned to nobody

[2021-01-06 14:36] #3690 closed, assigned to nobody

[2021-01-06 15:26] VaiTon commented on #3688
Fixed in 7828b96526aa7e1d055a9c99ef5c04b30c1e801c

[2021-01-06 15:26] #3688 closed, assigned to nobody

[2021-01-06 16:42] teolemon opened #3691 "Layout issue in edit mode"
Layout issue in edit mode
![image](https://user-images.githubusercontent.com/1689815/103795682-91dc5180-5046-11eb-972c-f29945d18190.png)

[2021-01-06 23:06] teolemon opened #3692 "Category explorer is broken"
Category explorer is broken: offline screen appears when clicking on a category

[2021-01-06 23:55] teolemon opened #3693 "(Build failing) MissingKotlinParameterException at KotlinValueInstantiator.kt:116"
[code]

[2021-01-06 23:55] teolemon commented on #3693
possibly: https://github.com/FasterXML/jackson-module-kotlin/issues/87

[2021-01-07 13:15] #3670 closed, assigned to nobody

[2021-01-07 13:16] VaiTon opened #3696 "ActivityNotFoundException in ImagesManageActivity"
[code]
_Originally posted by @kartikaysharma01 in https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3694#issuecomment-756109115_

[2021-01-07 13:24] kartikaysharma01 commented on #3624
@teolemon @VaiTon What happens in this case?

[2021-01-07 18:40] teolemon opened #3697 "We insert an extra bracket in values for EMB codes (Traceability codes)"
We insert an extra bracket in values for EMB codes (Traceability codes)
![image](https://user-images.githubusercontent.com/1689815/103931182-2c5c9380-5120-11eb-9574-ae08f3291cf0.png)

[2021-01-07 23:06] sentry[bot] opened #3698 "URL capture crashes the app - RuntimeException: Unable to resume activity {org.openfoodfacts.scanner/openfoodfacts.github.scrachx.openfood.featur..."
Sentry Issue: [OPENFOODFACTS-ANDROID-1R6](https://sentry.io/organizations/openfoodfacts/issues/2138264778/?referrer=github_integration)

[code]

[2021-01-08 14:35] sentry[bot] opened #3700 "IllegalStateException: Can not perform this action after onSaveInstanceState"
Sentry Issue: [OPENFOODFACTS-ANDROID-1RA](https://sentry.io/organizations/openfoodfacts/issues/2139227173/?referrer=github_integration)

[code]

[2021-01-08 14:36] sentry[bot] opened #3701 "IllegalStateException: Too many receivers, total of 1000, registered for pid: 12714, callerPackage: org.openfoodfacts.sc..."
Sentry Issue: [OPENFOODFACTS-ANDROID-10Z](https://sentry.io/organizations/openfoodfacts/issues/2030465500/?referrer=github_integration)

[code]

[2021-01-08 20:30] teolemon opened #3703 "Edits are not honored"
as reported by @CharlesNepote

You can see that two edits I have made are empty:
January 8, 2021 at 6:00:03 PM CET - charlesnepote - (app)Official Open Food Facts Android app 3.6.0 (Added by d3d54e8f-6a92-4037-b0ba-1b87e7a43da8) - view
January 8, 2021 at 1:11:25 PM CET - charlesnepote - (app)Official Open Food Facts Android app 3.6.0 (Added by d3d54e8f-6a92-4037-b0ba-1b87e7a43da8) - view
While I d

[2021-01-08 20:33] teolemon commented on #3703
It pretends it has saved everything ok

[2021-01-09 08:28] #3691 closed, assigned to nobody

[2021-01-09 08:28] #3697 closed, assigned to nobody

[2021-01-09 10:10] #3700 closed, assigned to nobody

[2021-01-09 10:49] teolemon opened #3705 "Ecoscore value is not shown in products to be completed"
Ecoscore value is not shown in products to be completed (and possibly NOVA). The grey placeholder are working ok though.

[2021-01-09 10:58] teolemon commented on #3705
![image](https://user-images.githubusercontent.com/1689815/104089790-034c1800-5272-11eb-9892-2452433e4fe3.png)

[2021-01-09 11:07] VaiTon commented on #3705
Maybe we don't request the fields

[2021-01-09 11:19] teolemon opened #3706 "The Eco-Score is not passed on to the search result view"
The Eco-Score is not passed on to the search result view
![image](https://user-images.githubusercontent.com/1689815/104090140-cf262680-5274-11eb-8b24-ad4407401592.png)

[2021-01-09 11:35] #3603 closed, assigned to nobody

[2021-01-09 18:41] #3698 closed, assigned to nobody

[2021-01-09 19:13] sentry[bot] opened #3708 "Crash on product page opening"
Sentry Issue: [OPENFOODFACTS-ANDROID-1TQ](https://sentry.io/organizations/openfoodfacts/issues/2141852387/?referrer=github_integration)

[code]

[2021-01-09 23:10] kartikaysharma01 opened #3710 "Tip System is broken"
**Describe the bug**
Tip System is broken

[2021-01-09 23:10] kartikaysharma01 commented on #3710
I am working on it

[2021-01-09 23:27] #3706 closed, assigned to nobody

[2021-01-09 23:29] VaiTon commented on #3708
Fixed with 3d33169ff1d6282bb9f7e717e09115d3ac8b70b7

[2021-01-09 23:29] #3708 closed, assigned to nobody

[2021-01-09 23:38] #3696 closed, assigned to nobody

[2021-01-09 23:42] #3693 closed, assigned to nobody

[2021-01-10 09:20] sentry[bot] opened #3712 "Exception when opening a product page from a deeplink"
Sentry Issue: [OPENFOODFACTS-ANDROID-1R3](https://sentry.io/organizations/openfoodfacts/issues/2138194279/?referrer=github_integration)

[code]

[2021-01-10 09:21] teolemon commented on #3712
Happens when I try to open a product from the website:
Vidéo: https://photos.app.goo.gl/nMFDwbDhm2GZPSgq8

[2021-01-10 09:32] teolemon opened #3713 "Portions are not computed for all nutrients"
Portions are not computed for all nutrients
![image](https://user-images.githubusercontent.com/1689815/104119358-0b1dc200-532f-11eb-9b77-58a0994fad3b.png)

[2021-01-10 09:33] teolemon commented on #3705
This is fixed. Thank you @VaiTon 👍

[2021-01-10 09:33] #3705 closed, assigned to nobody

[2021-01-10 09:34] teolemon commented on #3692
Fixed

[2021-01-10 09:34] #3692 closed, assigned to nobody

[2021-01-10 09:36] teolemon commented on #3655
updated the issue accordingly. Thanks @VaiTon

[2021-01-10 09:36] #3662 closed, assigned to nobody

[2021-01-10 09:37] teolemon commented on #3663
Fixed by @VaiTon I believe. Closing.

[2021-01-10 09:37] #3663 closed, assigned to nobody

[2021-01-10 10:56] teolemon opened #3714 ""Add to Open Food Facts" pretends it does not detect a barcode"
"Add to Open Food Facts" pretends it does not detect a barcode, even when it detects one.
![image](https://user-images.githubusercontent.com/1689815/104120905-b7b17100-533a-11eb-91cb-7cd1f8f7178c.png)

[2021-01-10 12:39] kartikaysharma01 commented on #3710
Done. Will create a PR closing this and issue #3624

[2021-01-10 13:01] #3703 closed, assigned to nobody

[2021-01-10 13:17] #3713 closed, assigned to nobody

[2021-01-10 14:18] VaiTon commented on #3714
Translation error @teolemon .

[2021-01-10 14:50] kartikaysharma01 commented on #3673
I think this is fixed. @teolemon
Can you re-check and give product barcode if you are able to reproduce.

[2021-01-10 15:11] teolemon opened #3715 "NOVA grey logo not shown"
NOVA grey logo not shown
3245412697739
![image](https://user-images.githubusercontent.com/1689815/104126716-67e4a100-535e-11eb-99a2-7e02f171b3da.png)
https://world.openfoodfacts.org/product/3245412697739/maxi-poulet-crudites-carrefour

![image](https://user-images.githubusercontent.com/1689815/104126684-32d84e80-535e-11eb-9051-0ab5f410b255.png)

[2021-01-10 15:21] kartikaysharma01 commented on #3715
I am working on this,

[2021-01-10 15:29] teolemon commented on #2458
This one is mostly fixed. Thanks @VaiTon :-)

[2021-01-10 15:29] #2458 closed

[2021-01-10 15:32] teolemon commented on #3714
Thanks. Added a PR fixing this.

[2021-01-10 17:49] #3714 closed, assigned to nobody

[2021-01-10 19:09] VaiTon commented on #3655
History requires DB scheme edit 😢
I'm adding NutriScore atm

[2021-01-10 20:28] #3715 closed, assigned to kartikaysharma01

[2021-01-11 11:07] VaiTon commented on #3604
You mean in Scan Activity and Product View Summary, right?

[2021-01-11 11:22] #2729 closed

[2021-01-11 11:22] VaiTon commented on #3581
@teolemon are you able to reproduce on latest develop?

[2021-01-11 11:30] #613 closed

[2021-01-11 11:30] #2703 closed

[2021-01-11 11:30] #2904 closed

[2021-01-11 11:31] #2001 closed

[2021-01-11 11:32] #1881 closed

[2021-01-11 12:03] #3609 closed, assigned to nobody

[2021-01-11 14:45] #3629 closed, assigned to nobody

[2021-01-11 15:24] sentry[bot] opened #3720 "Impossible to add new products to Open Food Facts"
Sentry Issue: [OPENFOODFACTS-ANDROID-1VJ](https://sentry.io/organizations/openfoodfacts/issues/2143228380/?referrer=github_integration)
Video:  https://photos.app.goo.gl/VhUDDDpFemKrdvr77
[code]

[2021-01-12 06:42] mrudultora commented on #3610
@teolemon  This issue can be closed. Fixed by #3615 .

[2021-01-12 06:54] mrudultora commented on #3514
@adrigrillo  It's working fine even on setting the font size to XXL (Tested on Android 10).

[2021-01-12 08:20] mrudultora commented on #3673
@teolemon  When the language is set as English the buttons are aligned correctly. I tried changing my device default language to french but the text still appears in english. Some part appears in french. Have a look at the image. (Changed the language to french even from Preferences).
(View on Wikipedia must change to Voir Sur Wikipedia according to Strings.xml)
![Image](https://user-images.github

[2021-01-12 08:56] mrudultora commented on #3673
I am able to produce this issue after changing the length of Browse Products to something longer.
![Untitled](https://user-images.githubusercontent.com/65870389/104291924-2c72df80-54e2-11eb-9ece-9901f6001b9e.png)

[2021-01-12 10:41] mrudultora opened #3723 "Skip and Next Button hides behind the on screen buttons"
**Describe the bug**
Skip and Next Button hides behind the onscreen buttons. If the device is in fullscreen mode or the app is in debug mode then everything works fine. This happens in latest version of app downloaded from Google Play Store (v3.6.2).

**Expected behavior**
This works in debug mode.
![img1](https://user-images.githubusercontent.com/65870389/104303804-8ed2dc80-54f0-11eb-982f-c60a4ea

[2021-01-12 11:44] VaiTon commented on #3723
Cannot reproduce I'm sorry

[2021-01-12 11:44] #3610 closed, assigned to nobody

[2021-01-12 11:46] #3673 closed, assigned to nobody

[2021-01-12 11:55] mrudultora commented on #3723
@VaiTon  I have tested it in 3 devices. All of them were of Redmi. And the Android versions were 8.1 and 10.

[2021-01-12 11:56] VaiTon commented on #3720
I pushed an update to internal to see which barcode are causing this.

https://github.com/openfoodfacts/openfoodfacts-androidapp/actions/runs/480113128

@teolemon can you reproduce on any barcode?

[2021-01-12 11:59] mrudultora commented on #3437
I even changed the language of my device (also from settings of openfoodfacts) , but then also the strings didn't changed. All the words were in english. Although, the data coming from server was in desired language.

[2021-01-12 12:33] #3720 closed, assigned to nobody

[2021-01-12 14:37] teolemon opened #3724 "Layout issue on some attributes with long text"
Layout issue on some attributes with long text
![image](https://user-images.githubusercontent.com/1689815/104328274-f4709a00-54eb-11eb-8fb0-771ca4936d4b.png)

[2021-01-12 14:40] teolemon opened #3725 "View not updated after ingredient extraction"
Neither the ingredient tab nor the summary tab is updated with NOVA, additives, traces, and ingredient analysis after ingredient extraction

[2021-01-12 14:41] teolemon commented on #3725
A new scan solves the issue.

[2021-01-12 14:42] varunvjha commented on #3724
Can I work on this issue? Please assign this to me.

[2021-01-12 18:22] kartikaysharma01 commented on #3723
@VaiTon This occurs in phones with virtual navigation buttons.
Would you like to work on it? @mrudultora

[2021-01-12 18:30] mrudultora commented on #3723
@kartikaysharma01  Yes, I will work on this 😅

[2021-01-12 21:24] VaiTon commented on #3437
There are a lot of incostincencies when using language. We use a lot `Locale.getDefault()` when we should be using the settings language.

[2021-01-12 21:25] VaiTon commented on #3724
Sure!

[2021-01-12 22:49] VaiTon commented on #2968
I think I fixed this, anybody can check?

[2021-01-12 22:49] VaiTon commented on #2965
@teolemon could you check last develop on this one?

[2021-01-12 23:24] teolemon commented on #2968
Still here in latest internal build @VaiTon

[2021-01-13 07:59] kartikaysharma01 commented on #3608
I would like to work on it. Can you assign this to me?

[2021-01-13 08:32] VaiTon commented on #1622
@teolemon could you provide a mockup?

[2021-01-13 08:35] VaiTon commented on #2424
@teolemon can you still reproduce?

[2021-01-13 08:47] VaiTon commented on #2968
The link "ADEME" that you can see in the screenshot is not clickable

[2021-01-13 11:26] teolemon commented on #2459
This has been fixed by @VaiTon

[2021-01-13 11:26] #2459 closed

[2021-01-13 11:53] mrudultora commented on #3437
@VaiTon @teolemon I have pulled all the latest changes. When I install the app from android studio the language is changing. The one already installed from the playstore doesn't updates the language.
Had someone fixed this issue already ?
I am attaching the screenshots of both the cases.

![img2](https://user-images.githubusercontent.com/65870389/104448969-e3935780-55c3-11eb-8119-87d916eb6ecd.jpg)

[2021-01-13 12:46] mrudultora commented on #3085
@teolemon May I work on this ?

[2021-01-13 12:58] VaiTon commented on #3085
@mrudultora sure!

[2021-01-13 15:45] kartikaysharma01 commented on #3608
@teolemon  @VaiTon  What happens when the server returns values in a different locale than the one selected ?

[2021-01-13 15:49] mrudultora commented on #3085
@VaiTon  Please check this layout of signup activity. Also, please tell me where can I find the **Paramters** and **Api** for signup. I tried to look into `cgi/session.pl` in _openfoodfacts-server_ but couldn't figure out. Without that I am unable to proceed further.

![img](https://user-images.githubusercontent.com/65870389/104475354-008c5280-55e5-11eb-980c-5298f07317fa.jpg)

[2021-01-13 16:19] kartikaysharma01 commented on #3571
I am working on this.

[2021-01-13 16:49] VaiTon commented on #3608
It should not. Could you give us the URL that's causing this?

[2021-01-13 16:52] #3723 closed, assigned to mrudultora

[2021-01-13 17:16] teolemon commented on #3687
![image](https://user-images.githubusercontent.com/1689815/104485993-74b9fc80-55cb-11eb-9c87-338977e816f5.png)

[2021-01-13 17:46] #3687 closed, assigned to nobody

[2021-01-13 18:08] teolemon opened #3728 "NPE SummaryProductFragment$refreshNutriScore$1.onClick (SummaryProductFragment.java:436)"
java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.features.product.view.summary.SummaryProductFragment$refreshNutriScore$1.onClick (SummaryProductFragment.java:436)
  at android.view.View.performClick (View.java:7300)
  at android.view.View.performClickInternal (View.java:7277)
  at android.view.View.access$3600 (View.java:822)
  at android.view.View$PerformClick.run (View

[2021-01-13 18:13] sentry[bot] opened #3729 "NullPointerException"
Sentry Issue: [OPENFOODFACTS-ANDROID-1RF](https://sentry.io/organizations/openfoodfacts/issues/2139291145/?referrer=github_integration)

[code]

[2021-01-13 19:57] mrudultora commented on #3712
@teolemon  I have fixed this issue. Will make a PR soon !

[2021-01-13 21:08] kartikaysharma01 commented on #3608
From the API response, which is the new field for packaging? I might have misunderstood earlier.

[2021-01-13 22:52] VaiTon commented on #3085
That's good. I think we could add the logo on the top and maybe change the icons of email and username.

@teolemon what about it API side?

[2021-01-13 22:52] VaiTon commented on #3085
Also, @mrudultora could you open a Draft PR so I can take a look at changes?

[2021-01-13 23:02] #3728 closed, assigned to nobody

[2021-01-14 08:01] adrigrillo commented on #3514
I have recently changed the phone and seems to work fine again. I will close the issue. Thanks!

[2021-01-14 08:01] #3514 closed

[2021-01-14 08:19] teolemon opened #3732 "Image upload cropping, selection at various places are taking longer than they should"
### Image manager
#### Crop, selection and rotation
In image manager, Image cropping and selection are taking longer than they should. We only send a query to the server, we don't actually send an instruction.
Visually, we show a spinning "Loading" icon that makes you believe your crop/rotate instruction won't be fulfilled if you leave.

- [ ] Will it be fulfilled if we leave ?
- [ ] Can we rephra

[2021-01-14 13:18] mrudultora opened #3733 "Name of some products are visible only partially"
**Describe the bug**
Name of products (especially having the small images) are visible partially only.

**To Reproduce**
Steps to reproduce the behavior:
1. Search 'Peanut Butter in the app'
2. Click on 'the product appearing at 5th position'
3. The product name is partially visible.

**Screenshots**
![Untitled](https://user-images.githubusercontent.com/65870389/104595696-fa57ae00-5698-11eb-9781-9

[2021-01-14 15:53] teolemon opened #3734 "The Eco-Score is not clickable"
The Eco-Score is not clickable like NOVA or Nutri-Score. We should link to the methodology like we usually do.

https://world.openfoodfacts.org/eco-score-the-environmental-impact-of-food-products
https://fr.openfoodfacts.org/eco-score-l-impact-environnemental-des-produits-alimentaires

[2021-01-14 16:01] teolemon opened #3735 "The Hunger Games promos do not seem to be working"
The Hunger Games promos do not seem to be working, even with a country set-up in preferences.
![image](https://user-images.githubusercontent.com/1689815/104615986-1869e200-568a-11eb-85c1-2bc8ce644d32.png)

[2021-01-14 17:08] teolemon opened #3736 "Add the build number in addition to version number in settings"
Add the build number in addition to version number in settings. That will be useful to debug the internal builds in some cases.

[2021-01-15 08:53] mrudultora commented on #3736
Do you mean **Version Code** by Build Number ?

[2021-01-15 09:36] kartikaysharma01 commented on #3734
Done. Will add a PR soon.

[2021-01-15 09:57] kartikaysharma01 commented on #3735
Can you be more specific. Are you not able to click it?

[2021-01-15 10:24] #3712 closed, assigned to nobody

[2021-01-15 10:26] VaiTon commented on #3736
I guess. @teolemon ?

[2021-01-15 10:32] VaiTon commented on #3639
@teolemon could you update this when you have time?

[2021-01-15 10:36] VaiTon commented on #3076
We should refresh this issue.

[2021-01-15 10:36] VaiTon commented on #2774
Is this still an issue? @teolemon

[2021-01-15 11:40] kartikaysharma01 commented on #3608
@VaiTon  The API response for ```packaging``` lacks consistency.
Please refer to products ```3168930002987``` and ```3274080005003```

[2021-01-15 11:46] kartikaysharma01 commented on #3571
This is already implemented and can be closed.

[2021-01-15 12:16] kartikaysharma01 commented on #825
I would like to work on this. Do we have a reference design? @teolemon

[2021-01-15 12:38] licaon-kter commented on #3626
umm nope: https://f-droid.org/wiki/index.php?title=openfoodfacts.github.scrachx.openbeauty/lastbuild_362&oldid=285786

[2021-01-15 13:01] #3733 closed, assigned to nobody

[2021-01-15 19:12] teolemon opened #3741 "OBF - Grey scores are displayed for cosmetics"
**OBF - Grey food scores are displayed for cosmetics**
![image](https://user-images.githubusercontent.com/1689815/104768463-0497ac00-576e-11eb-9d40-afb83e7f1aec.png)

[2021-01-15 19:13] teolemon opened #3742 "OBF crashes in edit mode"
![image](https://user-images.githubusercontent.com/1689815/104768504-17aa7c00-576e-11eb-8e0d-72ef4c6f8ea8.png)

[2021-01-15 19:16] sentry[bot] opened #3743 "IllegalStateException: Fragment d{2bc4a5b} (0c1c916c-2785-488a-b67c-1c7f27f453f0)} not attached to an activity."
Sentry Issue: [OPENFOODFACTS-ANDROID-1RB](https://sentry.io/organizations/openfoodfacts/issues/2139235792/?referrer=github_integration)

[code]

[2021-01-15 23:23] #3742 closed, assigned to nobody

[2021-01-15 23:24] #3571 closed, assigned to kartikaysharma01

[2021-01-15 23:25] VaiTon commented on #3608
cc @teolemon

[2021-01-15 23:25] VaiTon commented on #3741
Fixed by #3745

[2021-01-15 23:25] #3741 closed, assigned to nobody

[2021-01-15 23:28] #3734 closed, assigned to nobody

[2021-01-16 09:15] teolemon opened #3746 "OBF - Eco-Score displayed on the scan card for cosmetics"
Eco-Score displayed on the scan card for cosmetics
![image](https://user-images.githubusercontent.com/1689815/104808027-b8874e80-57e3-11eb-9e86-9a9c63e79125.png)

[2021-01-16 10:07] #3624 closed, assigned to nobody

[2021-01-16 10:07] #3710 closed, assigned to kartikaysharma01

[2021-01-16 11:10] #1969 closed

[2021-01-16 13:06] mrudultora opened #3748 "npe after going back to scan from SummaryFragment"
**Describe the bug**
Getting npe after going back to scan from SummaryFragment.

**Stacktrace**
`2021-01-16 18:31:30.452 21019-21019/openfoodfacts.github.scrachx.openfood.debug E/AndroidRuntime: FATAL EXCEPTION: main
    Process: openfoodfacts.github.scrachx.openfood.debug, PID: 21019
    java.lang.NullPointerException
        at openfoodfacts.github.scrachx.openfood.features.product.view.summary.

[2021-01-16 14:26] mrudultora opened #3749 "NPE after saving edit"
**Describe the bug**
The app crashes after selecting the correct arrow in edit (at top right corner).

**To Reproduce**
Steps to reproduce the behavior:
1. Search _Peanut Butter_
2. Click on 3rd product in the list
3. Click on edit
4. Save by clicking the image at top right corner.

**Expected behavior**
It should save and return to summary fragment.

**Screenshots**
Adding the logs ..
`    java.l

[2021-01-16 19:56] kartikaysharma01 commented on #1497
I have implemented the translation. Do you have any layout in mind for this? @teolemon

![image](https://user-images.githubusercontent.com/71206228/104821559-bdd7ae00-5862-11eb-9d33-804a3646ea8a.png)

[2021-01-16 22:34] kartikaysharma01 commented on #1498
I would like to work on this.
@teolemon  Would creating two sections be better or just coloring the text would do the job?

[2021-01-17 07:03] mrudultora opened #3751 "IllegalArgumentException while opening edit"
**Describe the bug**
When trying to open edit the app crashes as the value is neither 100g nor serving.

**To Reproduce**
Steps to reproduce the behavior:
1. Search _Peanut Butter_
2. Open product at 5th position
3. Click on edit in SummaryFragment
4. See error

**Expected behavior**
ProductEditActivity must open.

**Screenshots**

[2021-01-17 07:04] mrudultora commented on #3751
I have fixed this issue. Will make a PR soon.

[2021-01-17 12:09] VaiTon commented on #1498
I think creating two sections would be better.

[2021-01-17 16:22] kartikaysharma01 commented on #1498
I agree. Do we have a mockup design for this?

[2021-01-17 17:59] #1497 closed

[2021-01-17 18:01] kartikaysharma01 commented on #3458
I am working on this.

[2021-01-17 18:11] #3736 closed, assigned to nobody

[2021-01-17 19:41] kartikaysharma01 commented on #3458
@teolemon @VaiTon Should the chips be placed below Nutriscore/Nova icons or above the nutrient level ?
In a general case there would be button or a textview  between the icons and nutrient level cardview.

[2021-01-17 23:11] #2520 closed

[2021-01-17 23:15] #356 closed

[2021-01-18 09:52] teolemon commented on #3675
Also:
- [ ] F-Droid release is stuck at 3.2.8, and each time we release there seems to be a new issue that pops up. We'll iron it out eventually, but currently stuck. We already solved an issue related to screenshot metadata, so it seems F-Droid will pick it up when we manage to get 3.6.0 published onto it.
- [ ] we have a system to generate screenshots automatically for many languages, and on man

[2021-01-18 09:57] teolemon commented on #3458
I would say that :
- Clicking on the chip should bring you to the lis
- I placed it there because the scores are IMO the most important thing.

Not sure what your mean by your second point. Not sure we should do a card per theme in the summary tab

[2021-01-18 10:29] mrudultora commented on #3751
@VaiTon Sometimes the value passed is _100.0 g_. As the **value** is final I cannot convert 100.0 g to 100g. So, I created a new constant for 100.0 g. Is it the correct way ?

[2021-01-18 10:31] VaiTon commented on #3751
@mrudultora I'm sorry it is not. I've already created an issue but i can't seem to find it. @teolemon do you remember this issue?

[2021-01-18 10:36] mrudultora commented on #3751
@VaiTon That's why I asked you before creating a PR. Could you suggest me a way to do so. Because declaring the value as _var_ instead of _val_ is also the wrong way.

[2021-01-18 18:10] teolemon opened #3753 "The ingredient photo is not displayed anymore"
The ingredient photo is not displayed anymore in the product page (ingredient tab)

[2021-01-18 18:37] VaiTon commented on #3751
It's an error with the server, not the application. We just have to wait for them

[2021-01-18 18:46] mrudultora commented on #3751
Okay I am closing this issue :)

[2021-01-18 18:59] kartikaysharma01 commented on #2069
@teolemon  Can you break this down in small tasks ?

[2021-01-18 19:14] mrudultora opened #3754 "Environment tab shows content of sysnthesis tab when opened first time"
**Describe the bug**
Everytime I open a product and move to environment tab directly for the first time, then it shows the content of synthesis tab. After that, it works fine.

[2021-01-18 19:19] kartikaysharma01 commented on #3754
possible duplicate of #3581
I suspect the root cause  is same.

[2021-01-18 19:27] mrudultora commented on #3754
@kartikaysharma01 Okay !

[2021-01-18 19:27] #3754 closed, assigned to nobody

[2021-01-18 19:38] mrudultora commented on #2968
@kartikaysharma01 Are you working on this ?

[2021-01-18 20:22] kartikaysharma01 commented on #2968
No @mrudultora , you can go ahead and take this up.

[2021-01-18 23:00] teolemon commented on #2948
@philippeauriach fixed this one.

[2021-01-18 23:00] #2948 closed

[2021-01-18 23:02] #1663 closed

[2021-01-18 23:03] VaiTon opened #3755 "Implement MaterialTheme"
Steps
- [x] Implement Bridge theme
- [ ] Extend MaterialComponents

[2021-01-19 10:40] kartikaysharma01 commented on #3755
There are two options for us to make app theme to inherit from a Material Components theme :-
1.  [Bridge Themes](https://github.com/material-components/material-components-android/blob/master/docs/getting-started.md#bridge-themes)
2. [AppCompat Themes](https://github.com/material-components/material-components-android/blob/master/docs/getting-started.md#appcompat-themes)

I personally would sugge

[2021-01-19 10:45] VaiTon commented on #3755
I would start with bridge themes, and them move to extending the MaterialComponents theme. We already follow a lot of material guidelines so why not just using the theme and extending it.

[2021-01-19 11:50] VaiTon opened #3756 "RFC: Migrate from greenDAO to ObjectBox"
As a follow up to [this announcement](https://greenrobot.org/release/daocompat-greendao-on-objectbox/), I'd like to migrate our DB system to [ObjectBox](https://objectbox.io/dev-get-started/).

The advantages are multiple and they suit our scope perfectly. From the [migration page](https://greenrobot.org/greendao/documentation/objectbox-compat/):

I'd like to emphatize the point "Kotlin support",

[2021-01-19 12:36] teolemon opened #3757 ""Take additional pictures" button does not work anymore (from scan mode)"
"Take additional picture" button does not seem to work anymore.
It lets you take a picture, and the uploading message appears, and spins forever.
This seems to happen when you open the product from scan mode

[2021-01-19 12:52] kartikaysharma01 commented on #3755
I agree.

[2021-01-19 19:23] teolemon commented on #3757
Ok, I checked:

- [ ] it does not work when expanding the view from the scan card
- [ ] it works when opening the product from history

[2021-01-19 19:51] kartikaysharma01 commented on #3756
I would like to implement this.

[2021-01-19 20:32] VaiTon commented on #3756
Thank you for your interest, although we still need to see if the other members agree or not on this one. I'd like to wait expecially for @stephanegigandet, @philippeauriach and all @openfoodfacts/openfoodfacts-server about this change.

[2021-01-19 20:56] philippeauriach commented on #3756
From what I read, we could test it as it seems to have a backward compatible api by replacing just an import ? This way we could make a first pass to check if things work well.

What about the state of the database, does it get migrated ? Or this new database would "start fresh", and therefore what data would be lost for the user?

Also, we should double check that we are compatible with all suppo

[2021-01-20 05:32] kartikaysharma01 commented on #3124
@teolemon @VaiTon I believe this issue can be closed as the required changes are already made.

[2021-01-20 10:05] #3608 closed, assigned to kartikaysharma01

[2021-01-20 10:08] VaiTon commented on #3756
Sure we could, we could start using the new api working with the old database.

From what I understood, the database can be migrated via migration task the first time the DB is initialized. See https://greenrobot.org/greendao/documentation/objectbox-compat/

Already checked. https://docs.objectbox.io/faq#on-which-platforms-does-objectbox-run

[2021-01-20 22:58] teolemon opened #3760 "Layout issues for additives cards in German"
![image](https://user-images.githubusercontent.com/1689815/105251202-5891fe80-5b7b-11eb-8a02-bf87d599d0da.png)
![image](https://user-images.githubusercontent.com/1689815/105251240-68114780-5b7b-11eb-91d2-5b8106975c28.png)

[2021-01-21 11:06] VaiTon commented on #3655
Fixed in 2382d65450c3327dee0aaed1b140a3e4724fe33a

[2021-01-21 11:06] #3655 closed, assigned to nobody

[2021-01-21 11:08] VaiTon commented on #3526
Fixed with dd4d14d2de9bf89f83faed1faa7a533771152d22

[2021-01-21 11:08] #3526 closed

[2021-01-21 13:31] teolemon opened #3761 "We should not be able to see "mailto:""
We should not be able to see "mailto:"
![image](https://user-images.githubusercontent.com/1689815/105357603-58364980-5bf5-11eb-95d8-e86bc72ec16a.png)

[2021-01-21 13:44] teolemon commented on #3743
@VaiTon this is one of the top issues. I'm not sure if it has been fixed.

[2021-01-21 14:25] licaon-kter commented on #3626
I'll disable autoupdate

https://f-droid.org/wiki/index.php?title=org.openpetfoodfacts.scanner/lastbuild_431&oldid=285831

[2021-01-21 14:30] mrudultora opened #3762 "Allowing permission but a dialog box appears asking to activate it"
**Describe the bug**
Inspite of allowing the permission during runtime, a dialog box appears to activate the permission from settings. (Permission is actually)

**To Reproduce**
Steps to reproduce the behavior:
1. Open any product
2. Click on _Take extra photos of packaging_ in Summary Tab.
3. Allow the permission.

**Expected behavior**
The camera must open.

[2021-01-21 14:37] kartikaysharma01 commented on #3762
I think its the same as #3757

[2021-01-21 14:59] mrudultora commented on #3762
@kartikaysharma01 No! they are different.

[2021-01-21 18:29] #3761 closed, assigned to nobody

[2021-01-21 20:56] teolemon opened #3764 "Move the origins warning to the Environment tab"
Move the origins warning to the Environment tab. Otherwise it will be too obnoxious, repetitive and will overload the main tab

![image](https://user-images.githubusercontent.com/1689815/105411288-7f137080-5c33-11eb-93b8-dd5214bfb562.png)

[2021-01-22 11:08] #3458 closed

[2021-01-22 12:55] kartikaysharma01 commented on #3764
@teolemon  The labels warning should be moved to environment tab too , right?

```The Eco-Score takes into account environmental labels. Please take them into photo or edit the product so that they can be taken into account```

[2021-01-22 14:43] mrudultora commented on #3757
@teolemon Can you please specify where is the button "Take additional picture".

[2021-01-22 17:43] teolemon opened #3767 "(Screenshot test failing: Unresolved reference: SearchInfo)"
e: /home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/TakeScreenshotIncompleteProductsTest.kt: (9, 52): Unresolved reference: SearchInfo
e: /home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/TakeScreenshotIncompletePro

[2021-01-22 18:12] teolemon commented on #3764
Yes, as well, good catch

[2021-01-22 18:55] mrudultora commented on #3729
This issue can be closed. It is similar to #3728 and is already resolved.

[2021-01-22 19:11] mrudultora opened #3769 "ISE - volumeUnitPreference does not exist"
**Describe the bug**
When going to preferences from drawer the app crashes with `IllegalStateException`.

**Screenshots**
Attaching the logs.

    Process: openfoodfacts.github.scrachx.openfood.debug, PID: 4771
    java.lang.IllegalStateException: volumeUnitPreference preference does not exist.
        at openfoodfacts.github.scrachx.openfood.utils.PreferencesUtilsKt.requirePreference(PreferencesU

[2021-01-23 11:48] #3764 closed, assigned to nobody

[2021-01-23 16:40] #3762 closed, assigned to nobody

[2021-01-23 16:41] #3729 closed, assigned to nobody

[2021-01-23 16:41] mrudultora commented on #3136
@teolemon @VaiTon  I think this issue has been resolved. Attaching the screenshot of the same product.
![img](https://user-images.githubusercontent.com/65870389/105608096-f37f1880-5dc7-11eb-848f-7e59f88c16a9.jpeg)

[2021-01-23 16:43] #3136 closed

[2021-01-23 17:31] teolemon opened #3772 ""Loading…" messages on the product page"
"Loading…" messages on the product page
- [ ] The loading message is duplicated
- [ ] We should fallback to raw values if we're actually performing taxonomy reload or something.

![image](https://user-images.githubusercontent.com/1689815/105609362-1817c800-5da9-11eb-9527-8af4e6e964ad.png)
### Part of
- #4170

[2021-01-24 10:06] #3767 closed, assigned to nobody

[2021-01-24 10:54] teolemon opened #3777 "OfflineSavedProduct.MapOfStringsToStringConverter in OfflineSavedProduct has to be static"
Execution failed for task ':app:greendao'.

[2021-01-24 14:04] VaiTon commented on #3777
We need to convert that class to Java as Kotlin is not supported.

[2021-01-24 14:05] #2960 closed

[2021-01-24 14:10] teolemon opened #3778 "The animation for Cropping existing photos from the image manager does not work anymore"
Cropping existing photos from the image manager does not work anymore.
To reproduce:

1. Scan a product
2. Slide up the card
3. Click on a photo
4. Click on the crop button
5. Look for the save animation
6. BOOM

https://user-images.githubusercontent.com/1689815/112795238-88bcb880-9068-11eb-92c4-be12a5d7839c.mp4

[2021-01-25 09:17] mrudultora commented on #3777
@VaiTon Yes! https://github.com/greenrobot/greenDAO/issues/643#issuecomment-292943225

[2021-01-25 10:06] mrudultora commented on #3777
@VaiTon @teolemon I have converted **MapOfStringsToStringConverter.kt** to a java file. Build is successful. Will make a PR soon !

[2021-01-25 18:23] #3777 closed, assigned to nobody

[2021-01-26 20:24] CharlesNepote opened #3780 "Saturated fat is not saved"
I modified the following product (twice) and it didn't save the saturated fat:
https://world.openfoodfacts.org/product/3270720017252/meli-melo-figue-daco-bello?rev=30

[2021-01-26 20:40] mrudultora commented on #2968
@VaiTon Fixed this. I am using default browser to open the link. Is it ok or should I use webview ?

[2021-01-27 08:07] mrudultora opened #3782 "NPE at ProductEditNutritionFactsFragment"
**Describe the bug**
Got a npe when coming back from scan to product edit nutrition fragment.

**To Reproduce**
Attaching the logs

        at android.widget.AdapterView.fireOnSelected(AdapterView.java:957)
        at android.widget.AdapterView.dispatchOnItemSelected(AdapterView.java:946)
        at android.widget.AdapterView.selectionChanged(AdapterView.java:935)

[2021-01-27 12:07] mrudultora commented on #2954
@teolemon It's already fixed. Issue can be closed

[2021-01-27 12:11] mrudultora commented on #2952
@VaiTon This issue can be closed. It is also resolved.

[2021-01-27 12:16] mrudultora commented on #2875
@VaiTon Is this issue fixed ? Because I am unable to locate such package (_views.splash_) and file (_SplashPresenter_).

[2021-01-27 18:21] kartikaysharma01 commented on #3749
Could not reproduce. @mrudultora Can you clean the project and try again?

[2021-01-27 18:23] kartikaysharma01 commented on #3735
@teolemon Can you please update the issue with expected behavior?

[2021-01-27 18:24] mrudultora commented on #3749
@kartikaysharma01 This happened with me approx. 3-4 times. I also tried to reproduce it yesterday, so that I can solve this issue. But I too was unable to reproduce :-(

[2021-01-27 18:25] mrudultora commented on #3749
Also the list might have different product at 3rd position now.

[2021-01-27 18:27] kartikaysharma01 commented on #3749
Did you face this issue it with the same product  all the times?

[2021-01-27 18:28] kartikaysharma01 commented on #3749
I think this issue can be closed.
@VaiTon @teolemon

[2021-01-27 18:51] kartikaysharma01 commented on #3748
@mrudultora Can you please add steps to reproduce ?

[2021-01-28 17:19] kartikaysharma01 commented on #3301
@teolemon I am working on this. Can you please assign this to me?

[2021-01-28 21:20] teolemon opened #3786 "5 tests are failing"
- [ ] openfood.models.entities.label.LabelsWrapperTest > map_returnsListOfCorrectlyMappedLabels_SubElementsAreMappedCorrectly FAILED
    com.google.common.truth.ComparisonFailureWithFacts at LabelsWrapperTest.kt:65

- [ ] openfood.models.entities.allergen.AllergensWrapperTest > map_returnsListOfCorrectlyMappedSubAllergens_LanguageCode FAILED
    com.google.common.truth.ComparisonFailureWithFacts a

[2021-01-29 13:57] teolemon opened #3787 "map_returnsListOfCorrectlyMappedLabels_SubElementsAreMappedCorrectly FAILED (LabelsWrapperTest.kt:65)"
openfood.models.entities.label.LabelsWrapperTest > map_returnsListOfCorrectlyMappedLabels_SubElementsAreMappedCorrectly FAILED
com.google.common.truth.ComparisonFailureWithFacts at LabelsWrapperTest.kt:65

[2021-01-29 13:58] teolemon opened #3788 "map_returnsListOfCorrectlyMappedSubAllergens_LanguageCode FAILED - AllergensWrapperTest.kt:67"
openfood.models.entities.allergen.AllergensWrapperTest > map_returnsListOfCorrectlyMappedSubAllergens_LanguageCode FAILED
com.google.common.truth.ComparisonFailureWithFacts at AllergensWrapperTest.kt:67

 openfood.models.entities.allergen.AllergensWrapperTest > map_returnsListOfCorrectlyMappedSubAllergens_Names FAILED
com.google.common.truth.ComparisonFailureWithFacts at AllergensWrapperTest.kt:75

[2021-01-29 13:58] teolemon opened #3789 "toString_returnsProperlyFormattedString FAILED - ProductStateTest.kt:26"
openfood.models.ProductStateTest > toString_returnsProperlyFormattedString FAILED
com.google.common.truth.ComparisonFailureWithFacts at ProductStateTest.kt:26

[2021-01-29 13:59] #3786 closed, assigned to nobody

[2021-01-29 16:50] #3760 closed, assigned to nobody

[2021-01-29 16:52] #2946 closed

[2021-01-29 16:53] #3743 closed, assigned to nobody

[2021-01-29 16:54] #1498 closed

[2021-01-29 16:58] VaiTon commented on #2875
@mrudultora the file has been renamed and moved. You can find it here: https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/86a1d6952587df7280e44a76b22517ad2ed0601f/app/src/main/java/openfoodfacts/github/scrachx/openfood/features/splash/SplashController.kt#L56

[2021-01-29 17:01] #2952 closed

[2021-01-29 17:33] kartikaysharma01 commented on #3788
Fixed. Will make a PR soon.

[2021-01-29 17:45] kartikaysharma01 commented on #3787
Fixed.

[2021-01-29 22:07] sentry-io[bot] opened #3791 "KeyError: 'annotations'"
Sentry Issue: [ROBOTOFF-DZ](https://sentry.io/organizations/openfoodfacts/issues/1844318143/?referrer=github_integration)

[code]

[2021-01-30 16:40] teolemon commented on #164
This has been fixed by overriding the string

[2021-01-30 16:40] #164 closed

[2021-01-30 17:15] Telperion87 commented on #3077
I would really like to export the lists of products i'm currently working on, so that I can someway "translate" them into direct links and work on a pc (more convenient for some editing aspects).

As I can see with this acknowledged bug, it's currently impossible. Is there any workaround? is there any place where the lists are saved in any form?

Thanks

[2021-01-30 20:10] mrudultora commented on #2768
@VaiTon This issue is fixed. I had already checked the layout file and its looking correct for **ldpi screens (240x320)**. May be someone had corrected it.

[2021-01-31 06:48] mrudultora commented on #3581
@VaiTon Yes. It is an active issue. This happens on opening the product very first time.

[2021-01-31 06:55] mrudultora commented on #3331
Anyone working on this ?

[2021-01-31 07:18] kartikaysharma01 commented on #3076
I think the history export and delete buttons have been disabled .
@VaiTon  @teolemon Does this issue need to be updated?

[2021-01-31 10:00] mrudultora commented on #355
@VaiTon @teolemon This issue is resolved. Can be closed.

[2021-01-31 10:18] teolemon commented on #355
@asmoth360 does the latest version work well for you ?

[2021-01-31 10:52] mrudultora commented on #181
@teolemon May I work on this ?

[2021-01-31 15:35] VaiTon commented on #181
Sure @mrudultora !

[2021-01-31 15:40] #2947 closed

[2021-01-31 15:42] #3077 closed

[2021-01-31 15:43] VaiTon commented on #3331
Nope, you can take it if you want @mrudultora

[2021-01-31 15:47] #3301 closed

[2021-01-31 15:49] VaiTon commented on #2768
Let's close for now.

[2021-01-31 15:49] #2768 closed

[2021-02-01 08:23] #2968 closed

[2021-02-01 12:47] #3746 closed, assigned to nobody

[2021-02-01 12:51] VaiTon commented on #3772
I don't think that's a good idea, because that would seem like a bug. I don't think it improves UX.

[2021-02-01 15:07] mrudultora commented on #181
@teolemon @VaiTon I am implementing this feature. But I want to throw light on some more info.

• If you're using an obfuscation tool for your release APK, disable the tool for your app's `actions.xml` file (for example, by using an allowlist). If you don't, you're likely to encounter an error when you upload your APK to the Google Play Console.

• Due to regulatory restrictions, apps participatin

[2021-02-01 19:13] kartikaysharma01 opened #3795 "History remove and export buttons are invisible"
**Describe the bug**
History remove and export buttons are invisible

**To Reproduce**
Steps to reproduce the behavior:
1. Go to History

**Expected behavior**
The buttons should be visible

[2021-02-01 19:13] kartikaysharma01 commented on #3795
Can you please assign this to me.

[2021-02-01 21:08] kartikaysharma01 commented on #3543
Can I work on this? Is the API live for all languages?

[2021-02-02 07:18] naivekook commented on #2069
Hi!
I'm a new here, excuse me if I ask fool questions and tell obvious things and of course for hoping into the train in last moment :)

@teolemon Do you consider an approach with downloading the whole sqlite DB file?
I had a project where we chose this approach and quick googling shows that converting csv to sqlite on server side is quite easy task. The main idea is to download .sqlite database f

[2021-02-02 07:21] kartikaysharma01 commented on #3543
Can I work on this? Is the API live for all languages? @teolemon @VaiTon

[2021-02-02 09:51] naivekook commented on #3753
@teolemon Hi!
Can you add some more specific details?
upd: I tested it on latest master on emulator and I even can't click on item in list, it is not handle click event.

[2021-02-02 11:21] mrudultora commented on #3331
@VaiTon Should I add a option in settings to enable it again ?

[2021-02-02 12:47] naivekook commented on #3465
Why we replace home fragment each time on botton navigation click?
should be something like `if current fragment != home fragment -> replace`

[2021-02-02 12:56] naivekook commented on #3162
Is it still actual?

[2021-02-02 13:38] naivekook commented on #2870
@teolemon @VaiTon Hi!
Is it still TBD? Can I take it?

also do we have another source of changelog?
In current case we need to parse `CHANGELOG.md` via gradle task on each build to get the new changes and store them in application and it quite tricky because this file doesn't have stable formatting.

[2021-02-02 21:38] teolemon commented on #181
Looking back at this bug, this may be a little bit over the top :-)
Not a core feature we really need. If you haven't done any sizeable work on it, feel free to drop.

[2021-02-02 21:52] teolemon commented on #2870
We can do something special with the format you'd like @naivekook

[2021-02-03 07:44] kartikaysharma01 commented on #2069
I'd suggest we keep a ```Go Offline``` tab in the sidebar. On the landing page, we can keep a link to the tab , for better user awareness of the feature.
In the tab, we can give user a choice to which country's database he wants to download. And once the download button is clicked, we can run the process in the background with a notification.
I like the idea given by @naivekook , but I don't think

[2021-02-03 08:39] VaiTon commented on #2870
Hey hi @naivekook and welcome!

Sure you can!

We could use the file used by the playstore maybe, I really do not know.

[2021-02-03 08:40] VaiTon commented on #3162
I think it is. We store history products in the db when we scan them/we open them. The app doesn't refresh them when swiping down on the history screen, it just re-queries the db. So yes, it is actual. @naivekook

[2021-02-03 08:42] VaiTon commented on #3465
Isn't it already the case?

[2021-02-03 08:42] VaiTon commented on #3331
Yes, that would be a great idea.

[2021-02-03 08:48] VaiTon commented on #3543
@kartikaysharma01 I think it is. Before assigning you though, I would like to hear @teolemon's opinion.

[2021-02-03 08:50] VaiTon commented on #2069
Also, we keep the size problem. I think the best approach would just to store a country into the local db with just a few attributes: name, ecoscore, nutriscore, brand and quantity maybe

[2021-02-03 10:15] naivekook commented on #3465
looks like it doesn't
in MainActivity we have the next code and I don't see any check
[code]

[2021-02-03 11:35] kartikaysharma01 commented on #2069
@VaiTon I think some API changes are required, Should I wait for that or continue with the API at hand ?
https://github.com/openfoodfacts/openfoodfacts-server/pull/4347

[2021-02-03 11:37] kartikaysharma01 commented on #3543
@VaiTon I think some API changes are required, Should I wait for that or continue with the API at hand ?
https://github.com/openfoodfacts/openfoodfacts-server/pull/4347

[2021-02-03 12:41] kartikaysharma01 commented on #55
Any update on this @teolemon

[2021-02-03 20:53] kartikaysharma01 opened #3798 "List Removal is incomplete"
**Describe the bug**
On List removal, list is only removed from the table ```PRODUCT_LISTS``` , leaving the products with their list name in the table ```YOUR_LISTED_PRODUCT```
This causes the product summary page to show list names even tho the list is already removed .

**Screenshots**
![image](https://user-images.githubusercontent.com/71206228/106807870-acc6d380-668f-11eb-9c8b-5d6a1b717599.png)

[2021-02-03 20:54] kartikaysharma01 commented on #3798
Can you please assign this to me.

[2021-02-03 21:29] kartikaysharma01 commented on #2924
@teolemon @VaiTon Will landing page be the right place to keep this feature?
Can we create a tab in sidebar like we have for Category and Additives.

[2021-02-03 21:35] kartikaysharma01 commented on #2278
@VaiTon Are you working on this ?

[2021-02-04 08:19] kartikaysharma01 commented on #2479
@VaiTon @teolemon This can be closed.

[2021-02-04 18:27] teolemon opened #3801 "Duplicate the Fastlane release process for OBF, OPFF and OPF"
Duplicate the Fastlane release process for Open Beauty Facts, OPFF and OPF.

OPF uses the OFF key, OBF and OPFF the OBF key. The OBF key needs to be encrypted.

[2021-02-04 18:48] teolemon opened #3802 "Weird layout for lists on Open Beauty Facts"
![image](https://user-images.githubusercontent.com/1689815/106940453-da5c5d00-6721-11eb-8810-7d97fc3af441.png)

### Part of
- #4168

[2021-02-04 18:48] teolemon commented on #3802
![image](https://user-images.githubusercontent.com/1689815/106940519-efd18700-6721-11eb-8a64-4db5decd630c.png)

[2021-02-04 18:49] teolemon opened #3803 "NOVA should not be displayed for Open Beauty Facts."
![image](https://user-images.githubusercontent.com/1689815/106940567-0081fd00-6722-11eb-9f59-9ee1aaa034e5.png)

### Part of
- #4168

[2021-02-04 18:51] teolemon opened #3804 "The Eco-Score should not be mentioned in the hint for Open Beauty Facts."
![image](https://user-images.githubusercontent.com/1689815/106940794-450d9880-6722-11eb-83e5-eee27f4413fa.png)

### Part of
- #4168

[2021-02-04 19:01] teolemon opened #3805 "Enable the attributes for Open Beauty Facts"
### What
Enable the attributes for Open Beauty Facts. We have updated the code, and Open Beauty Facts is now attributes capable.
### Part of
- #4168

[2021-02-04 19:06] teolemon opened #3806 "Enable Packaging for Open Beauty Facts"
Enable Packaging for Open Beauty Facts. We have deployed support on the server
### Part of
- #4168

[2021-02-05 08:06] teolemon opened #3807 "Small darkmode glitch in Compare Mode"
![image](https://user-images.githubusercontent.com/1689815/107006383-55a92780-6791-11eb-8b4f-b7a6b6f49fb0.png)

[2021-02-05 08:07] teolemon opened #3808 "The additives are stuck to the left of the scan card for Open Beauty Facts"
The additives are stuck to the left of the scan card for Open Beauty Facts
![image](https://user-images.githubusercontent.com/1689815/107006550-9143f180-6791-11eb-8fff-7249704e259a.png)

### Part of
- #4168

[2021-02-05 08:12] teolemon opened #3809 "We need to replace the Nutri-Score by the list icon in Open Beauty Facts"
![image](https://user-images.githubusercontent.com/1689815/107007037-437bb900-6792-11eb-8d4e-e2f12950d771.png)

### Part of
- #4168

[2021-02-05 14:51] naivekook commented on #2965
I checked it on latest develop and looks like it is already fixed. Maybe you have a name of specific product for this bug?
Phone: HTC U11 (en-ru)

[2021-02-05 15:40] teolemon opened #3813 "Autocomplete Materials input using taxonomies"
Autocomplete Materials input using taxonomies

https://static.openfoodfacts.org/data/taxonomies/packaging_materials.json
https://static.openfoodfacts.org/data/taxonomies/packaging_shapes.json

[2021-02-05 16:08] naivekook commented on #3015
I'll take this

[2021-02-05 20:18] kartikaysharma01 commented on #3813
@teolemon Are we asking user for packaging shapes at product edit/addition right now??

[2021-02-05 22:19] Mannshoch opened #3816 "Give hints about possible categories for nutriscore"
I woud like to enter the categories for calculating the nutriscore. But what are the valid categories?

Please add a chooser for that

[2021-02-06 10:57] #3804 closed, assigned to nobody

[2021-02-06 10:58] #3807 closed, assigned to nobody

[2021-02-06 10:59] #3148 closed

[2021-02-06 11:02] teolemon commented on #3813
No we're not. We're only asking for the photo of the recycling instructions

[2021-02-08 11:41] #3803 closed, assigned to nobody

[2021-02-09 07:51] mrudultora commented on #3751
@teolemon Its an issue from server side as stated by **VaiTon**. Please have a look into this.

[2021-02-09 11:34] Krusty27 opened #3823 "Update F-Droid version"
Please keep the F-Droid version up to date, lots of people depend on that.

[2021-02-09 12:52] teolemon commented on #3823
Background: I've tried, and had had 5 failures for several reasons (I fixed screenshot metadata, we fixed some tests…).
We still can't release now because develop is broken, and creating a build now would result in another F-Droid failure (and I'm not even sure it would be enough).

https://gitlab.com/fdroid/fdroiddata/-/commits/db0158523df6c124f94dc5c5c98191655bfc9df7/metadata/openfoodfacts.githu

[2021-02-09 13:22] teolemon opened #3824 "Enable attributes for Open Beauty Facts"
Enable attributes for Open Beauty Facts

[2021-02-09 13:22] #3824 closed, assigned to nobody

[2021-02-10 04:47] mrudultora commented on #3626
@teolemon `sentry reported an error: Invalid token (http status: 401)`.
**auth.token** is missing in **sentry.properties**. It is required. Will you please tell me if this is already set somewhere else in the code. May be, this is the reason for error.

[2021-02-10 12:05] naivekook commented on #3162
@VaiTon I can take it
as I understand correct on screen created and pull-to-refresh events I need to get all items from db, perform an API call `getProductByBarcode`, update database and show the info to the user?
is it ok if will make a refactoring of screen? I want to move logic from activity to viewmodel class

[2021-02-10 14:00] naivekook commented on #3015
hm not really caught what to fix here, I asked a questions in slack https://openfoodfacts.slack.com/archives/C02L15QLA/p1612768303054500, I can return to it after answers or anybody else can take it

[2021-02-10 16:33] #3787 closed, assigned to nobody

[2021-02-10 16:33] #3789 closed, assigned to nobody

[2021-02-10 16:34] #3788 closed, assigned to nobody

[2021-02-10 16:43] #3798 closed, assigned to kartikaysharma01

[2021-02-10 16:43] #3802 closed, assigned to nobody

[2021-02-10 16:45] #3795 closed, assigned to kartikaysharma01

[2021-02-11 08:21] mrudultora commented on #3337
Will you please clarify this line _Request dark mode in webviews_. Does that mean that the navigationBar must be according the theme or the whole webpage must adapt according to the dark mode. Some issues mentioned above are already fixed.
I have fixed the remaining ones. Only dark mode in webview is unclear.

[2021-02-11 08:28] mrudultora commented on #3337
@teolemon Did you mean a dark mode like this? (In the below image Toolbar and navigationBar are in dark mode and brightness reduces by some extent). I don't think there is a way for webpages to be dark.

![img](https://user-images.githubusercontent.com/65870389/107614825-0d967300-6c71-11eb-8ed9-dad8b34da48b.jpeg)

[2021-02-11 09:46] teolemon commented on #3823
@Krusty27 the build is fixed, and I've created an interim release for F-Droid: https://github.com/openfoodfacts/openfoodfacts-androidapp/releases/tag/3.6.6
fingers crossed🤞

[2021-02-11 14:36] mrudultora opened #3827 "NPE after going back from Product Browsing Activity"
Attaching the logs.
[code]

[2021-02-12 04:59] mrudultora commented on #3735
@kartikaysharma01 On clicking it, webview opens but it loads indefinitely. If you are able to reproduce something like this, then I guess this may be the issue mentioned above.

[2021-02-12 05:47] mrudultora commented on #3581
Unable to reproduce as of today on latest develop. Maybe fixed.

[2021-02-12 10:36] Krusty27 commented on #3823
Great! You're the best :tada:

[2021-02-12 11:44] kartikaysharma01 commented on #3015
If I understand it right, Once the barcode is detected, the camera should be frozen till the BottomSheet is slide down?
@teolemon @VaiTon

[2021-02-13 10:09] teolemon commented on #3244
https://gitlab.com/pierre.slamich/fdroiddata/-/jobs/1028085676
Still failing because debugging symbols fail to be uploaded to sentry. Either we find a way to make sentry work, or we can disable error tracking for F-Droid alltogether.
[code]

[2021-02-13 10:54] naivekook commented on #3780
after looking a bit into the code I found next thing
when user clicks on "save" button the app saves the data to local database and schedule the job via "Work manager" to sync the data with server and goes back to overview screen
each time when user opens the overview screen we request the product from server
this bug occurs because sync job is asynchronous and sometimes it fires BEFORE user goes

[2021-02-13 14:06] teolemon opened #3830 "Prevent Sentry from blocking the F-Droid build"
Prevent Sentry from blocking the F-Droid build. Either by disabling it for F-Droid or making it work. We are 1 year (one year) late with the F-Droid version
https://gitlab.com/pierre.slamich/fdroiddata/-/jobs/1028085676#L2588

[2021-02-13 14:48] teolemon opened #3831 "Update sentry in fastlane from 1.7.0 to 1.8.0"
| Plugin | Your Version | Latest Version |
|---|--------------|----------------|
| sentry | 1.7.0        | 1.8.0          |

[2021-02-14 11:55] kartikaysharma01 commented on #3400
Can you please assign this to me? @teolemon

[2021-02-14 12:12] #3823 closed, assigned to nobody

[2021-02-14 12:13] #3724 closed, assigned to nobody

[2021-02-14 12:19] VaiTon commented on #3581
@teolemon are you able to reproduce?

[2021-02-14 12:21] VaiTon commented on #3780
The fact is that while saving, the app takes the field name from the layout file. In android you can't name a layout with the "_" and that's why it is named `saturated-fat` and it's not parsed by the server.

[2021-02-14 12:24] VaiTon commented on #3465
You should also check the lines where we set the value of `newFragment`. I think we already do this.

[2021-02-14 12:25] VaiTon commented on #3816
What do you mean with "possible categories"? We already suggest categories as you type.

[2021-02-14 12:27] VaiTon commented on #2278
No, I'm not. Would you like to?

[2021-02-14 12:30] VaiTon commented on #3543
The api is now merged @kartikaysharma01. Feel free to take this issue.

[2021-02-14 12:35] VaiTon commented on #3015
Exactly. @teolemon right?

[2021-02-14 17:16] naivekook commented on #3780
wow, looks not good, maybe i can refactor somehow this screen to get rid of this tricky way
beside that I'm still think that we can potential problem with saving the changed product

[2021-02-14 21:22] #3337 closed

[2021-02-14 21:54] teolemon opened #3832 "Add a confirmation when setting a photo from the photos tab"
Add a confirmation when setting a photo from the photos tab, so that the user is sure it was successful.

[2021-02-15 06:15] kartikaysharma01 commented on #3015
@VaiTon  I'll take this, can you please assign it to me.

[2021-02-15 07:06] naivekook commented on #3015
just copy it here:
I found the issue when your first scan is NOT_FOUND you can't to slide up the bottom panel

[2021-02-15 07:16] naivekook commented on #3465
I guess we don't
class CommonBottomListener, case `R.id.home_page, R.id.home` -> always replace fragment
you can do a simple check on phone, just press a few times on "Home" button in bottom bar and see how tagline is reloaded each time

it is not critical at all, but in case of duplicated queries - it is place to improvement

[2021-02-15 07:19] kartikaysharma01 commented on #3015
@naivekook I am not able to reproduce that or did not understand what you meant.
I am currently working on the ML scanner so there are gonna be some changes around the continuous scan logic. I have implemented the preview stoppage on bottom panel visible as of now.

[2021-02-15 07:32] naivekook commented on #3015
@kartikaysharma01 I hope this video helps
https://drive.google.com/file/d/16uWcViHmL8IafrvzOGumZmrFqxIZd_g_/view?usp=sharing

[2021-02-15 08:30] kartikaysharma01 commented on #3015
@naivekook I have fixed this. Will make a PR soon.

[2021-02-15 11:57] VaiTon commented on #3465
@naivekook ok then, a simple check is needed here. Could you work on it?

[2021-02-15 12:01] #2479 closed

[2021-02-15 12:04] naivekook commented on #3465
@VaiTon sure, assign this ticket to me please

[2021-02-15 12:59] #3809 closed, assigned to nobody

[2021-02-15 15:59] kartikaysharma01 opened #3834 ""Trouble Scanning ?" button does not work"
**Describe the bug**
The trouble scanning button does not respond on click.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Scan
2. Click on Options/more
3. Click trouble scanning
4. See error

**Expected behavior**
It should open the search by barcode bottom listener

[2021-02-15 15:59] kartikaysharma01 commented on #3834
Can you please assign this to me.

[2021-02-16 06:50] Mannshoch commented on #3816
Oh... Not my girlfriend that came to me to ask me what to enter here even not my self had any idea what to enter here, so we didn't even try, so we never got that list.
For the record, there are too many Categories you can choose which made it difficult to choose the right entry for a product.

[2021-02-17 06:33] kartikaysharma01 commented on #3543
Thanks @VaiTon . I will get to this soon.

[2021-02-17 19:38] Mannshoch commented on #3816
See attached screenshot. I don't know what to choose to get the correct nutriscore.
![grafik](https://user-images.githubusercontent.com/7795891/108258094-f9b2ab80-715f-11eb-8374-4970308872e5.png)

[2021-02-17 22:11] VaiTon commented on #2924
We could start with a button in the HomeFragment and then move it to the sidebar

[2021-02-18 11:23] teolemon opened #3837 "@string/day and @string/night should not be translatable"
`@string/day` and `@string/night` should not be translatable.
People are translating it, and it breaks the app.

[2021-02-20 10:14] teolemon opened #3838 "Make crowdin work with 4 flavors"
Make crowdin work with 4 flavors.
Currently the translation files for all 4 flavors have the same name ("strings.xml"), and the Crowdin GitHub Action does not make the difference.
# Solution 1:
- give them specific names like common.xml off.xml
# Solution 2:
- find a config parameters to get crowdin to make the difference

[2021-02-20 11:41] #2870 closed

[2021-02-20 12:54] teolemon opened #3839 "Image selection from the image manager does not work anymore"
https://user-images.githubusercontent.com/1689815/108596090-10851800-7383-11eb-8d3e-df9b9e2fb918.mp4

[2021-02-20 16:32] kartikaysharma01 commented on #3830
@teolemon
The way to make it work is by adding the auth.token value to sentry.properties file.
The token can be generated [here](https://sentry.io/settings/account/api/auth-tokens/).  Reference documentation: [here](https://docs.sentry.io/platforms/android/proguard/)

Keeping auth tokens exposed in code is not recommended though.

[2021-02-21 14:21] teolemon opened #3842 "Scanning this barcode will crash the app"
Scanning this barcode will crash the app
![image](https://user-images.githubusercontent.com/1689815/108627963-7394ae80-7458-11eb-809b-3438cdd6bc8a.png)

[2021-02-21 14:22] teolemon commented on #3842
The stacktrace should be around Sunday, February 21, 2021, 1:48 PM on a Pixel 4

[2021-02-21 14:25] sentry[bot] opened #3843 "NPE (onBookmarkProductButtonClick(SummaryProductFragment.kt:754)"
Sentry Issue: [OPENFOODFACTS-ANDROID-1SP](https://sentry.io/organizations/openfoodfacts/issues/2140969955/?referrer=github_integration)

[code]

[2021-02-21 14:26] sentry[bot] opened #3844 "NPE (ContinuousScanActivity.kt:95)"
Sentry Issue: [OPENFOODFACTS-ANDROID-1VS](https://sentry.io/organizations/openfoodfacts/issues/2143585915/?referrer=github_integration)

[code]

[2021-02-21 14:27] sentry[bot] opened #3845 "NullPointerException: Parameter specified as non-null is null: method kotlin.a0.e.k.e, parameter view"
Sentry Issue: [OPENFOODFACTS-ANDROID-1SW](https://sentry.io/organizations/openfoodfacts/issues/2141096632/?referrer=github_integration)

[code]

[2021-02-21 15:11] teolemon commented on #3842
There's a stacktrace

[2021-02-21 15:20] #3845 closed, assigned to nobody

[2021-02-21 15:21] teolemon commented on #3839
Sentry Issue: [OPENFOODFACTS-ANDROID-1SW](https://sentry.io/organizations/openfoodfacts/issues/2141096632/?referrer=github_integration)

[code]

[2021-02-21 15:21] teolemon commented on #3839
Probably this trace

[2021-02-22 08:42] sentry[bot] opened #3847 "Changelog stack trace"
Sentry Issue: [OPENFOODFACTS-ANDROID-2KD](https://sentry.io/organizations/openfoodfacts/issues/2230523441/?referrer=github_integration)

[code]

[2021-02-22 17:30] teolemon opened #3848 "The app needs to add &lc=[UI lang] in the environnment tab HTML requests"
The app needs to add
`&lc=[UI language]`
 in the environnement tab HTML requests

[2021-02-22 19:59] sentry[bot] opened #3849 "NPE- SummaryProductFragment$refreshNutriScore$1.onClick(SummaryProductFragment.kt:431)"
Sentry Issue: [OPENFOODFACTS-ANDROID-1SF](https://sentry.io/organizations/openfoodfacts/issues/2140482467/?referrer=github_integration)

[code]

[2021-02-22 20:00] sentry[bot] opened #3850 "ISE: Fragment not attached to an activity. IngredientsProductFragment.extractIngredients(IngredientsProductFragment.kt:381)"
Sentry Issue: [OPENFOODFACTS-ANDROID-1ZZ](https://sentry.io/organizations/openfoodfacts/issues/2156051903/?referrer=github_integration)

[code]

[2021-02-22 20:04] sentry[bot] opened #3851 "RuntimeException: android.os.TransactionTooLargeException: data parcel size 544776 bytes"
Sentry Issue: [OPENFOODFACTS-ANDROID-55](https://sentry.io/organizations/openfoodfacts/issues/1866720293/?referrer=github_integration)

[code]

[2021-02-22 20:05] sentry[bot] opened #3852 "NPE SummaryProductFragment.onBookmarkProductButtonClick( line 754)"
Sentry Issue: [OPENFOODFACTS-ANDROID-1XS](https://sentry.io/organizations/openfoodfacts/issues/2149458804/?referrer=github_integration)

[code]

[2021-02-22 20:06] sentry[bot] opened #3853 "ISE: Fragment not attachedto activity: product.edit.ProductEditOverviewFragment$setupAutoSuggestion$1.onAsyncOperationCompleted(ProductEditOverviewFragment.kt:494"
Sentry Issue: [OPENFOODFACTS-ANDROID-2E9](https://sentry.io/organizations/openfoodfacts/issues/2210402911/?referrer=github_integration)

[code]

[2021-02-22 20:07] sentry[bot] opened #3854 "NPE: Parameter specified as non-null is null: method kotlin.a0.e.k.e, parameter view"
Sentry Issue: [OPENFOODFACTS-ANDROID-1SC](https://sentry.io/organizations/openfoodfacts/issues/2140341255/?referrer=github_integration)

[code]

![image](https://user-images.githubusercontent.com/1689815/109383473-fbf6d180-78e6-11eb-8d23-fadb8e73a47b.png)

[2021-02-23 08:43] teolemon opened #3855 "Re-apply the Matomo PR on top of the Kotlin code"
Re-apply the Matomo PR on top of the Kotlin code.
We waited 6 months+ before merging and the Kotlin refactoring happened meanwhile.
As a result, rebase is complicated, so reapplying one by one the changes in the PR might be the right way to go.
- #3366

[2021-02-23 09:19] teolemon opened #3857 "We should not query all languages at the same time"
As pointed out by @stephanegigandet we query both attribute_groups_en + attribute_groups_fr, which is draining ressources on the servers (and also makes the product longer to load). We should only query the current language of the UI

[code]

[2021-02-24 12:39] dfg-1310 commented on #1892
I am getting this crash on the play store build on Nexus5 having version Android 6.0.1

https://bugzilla.mozilla.org/show_bug.cgi?id=1498239

also looking for any solution or hack for this

[2021-02-24 23:20] kartikaysharma01 commented on #3830
I found a way to disable sentry for fdroid. Shall I implement that?

[2021-02-25 06:04] kartikaysharma01 commented on #2069
@VaiTon  @teolemon  I would like to implement this.

These are the subtasks :

- [ ] The user will have a option in preference to download the data for their country.
- [ ] Parse and store the downloaded file in background and show user a progress bar.
- [ ] When the user scans a barcode in offline mode the data will be shown in bottom sheet but the user will unable to swipe it up.

For this we wi

[2021-02-25 06:10] kartikaysharma01 commented on #2069
Also , can you please explain the CSV design.  @teolemon
https://world.openfoodfacts.org/data/offline/en.openfoodfacts.org.products.small.csv.zip

[2021-02-25 06:48] kartikaysharma01 commented on #3842
Are you able to reproduce this ? @teolemon

[2021-02-25 15:58] teolemon opened #3859 "Do not show the CHANGELOG translation prompt in English"
Do not show the translation prompt in English
![image](https://user-images.githubusercontent.com/1689815/109179911-ac02f800-778a-11eb-9c64-1911306729b6.png)

[2021-02-27 10:22] teolemon commented on #3757
At the bottom of the Summary tab, in the product page. Note that this page can be accessed in 2 ways (either after a scan, or by search/history…)
What seems to be broken is the Scan usecase

[2021-02-27 10:40] teolemon commented on #3851
https://stackoverflow.com/questions/11451393/what-to-do-on-transactiontoolargeexception

[2021-02-27 10:41] teolemon commented on #3851
![image](https://user-images.githubusercontent.com/1689815/109384985-c9ea6d00-78f0-11eb-8bf6-31a73d0f8a11.png)

[2021-02-27 10:42] teolemon commented on #3847
Cannot construct instance of `openfoodfacts.github.scrachx.openfood.features.k.a` (no Creators, like default constructor, exist): cannot deserialize from Object value (no delegate- or property-based Creator)
 at [Source: (String)"{
  "changelog": [
    {
      "date": "10/02/2021",
      "code": 350,
      "name": "3.5.0",
      "items": [
        "Added changelog screen"
      ]
    }
  ]
}"; lin

[2021-02-27 18:06] VaiTon commented on #3857
To query the actual language and the en language was the expected behavior, so that we have at least a language to display.
I see that when requesting attributes this is kind of useless but for the other fields it becomes necessary.

[2021-02-27 18:52] #3857 closed, assigned to nobody

[2021-02-27 22:00] naivekook commented on #3859
I'll take this

[2021-02-28 12:57] kartikaysharma01 commented on #3753
@teolemon Is this product specific ?

[2021-02-28 13:18] kartikaysharma01 commented on #2286
Could not reproduce on latest develop for the given barcode.
This can be closed. @VaiTon @teolemon

[2021-02-28 19:34] teolemon opened #3864 "the page showing the results of a product search is truncated on a Huawei 2019"
### What
the page showing the results of a product search is truncated on a Huawei 2019
"While all other pages display correctly, the page showing the results of a product search is truncated on a Huawei 2019."
### Potential fix
https://stackoverflow.com/questions/41724100/why-is-my-bottombar-in-the-middle-of-the-screen
### Screenshot
![image](https://user-images.githubusercontent.com/1689815/1094

[2021-02-28 19:44] teolemon commented on #3864
![image](https://user-images.githubusercontent.com/1689815/109431240-c563a880-7a05-11eb-9ee9-0ccdff04129a.png)

[2021-02-28 19:47] teolemon commented on #3864
"When I try to look up a product, I get a number like 1420 I see all the products, until I slide my keyboard down, then I only see 1 product.
This is also the case for to be processed products. How can I see all the products so that I can help you further! Tks (edited) "

[2021-02-28 20:01] teolemon commented on #3864
Samsung Galaxy A71

[2021-03-02 12:49] teolemon opened #3868 "when set to a dark theme, after switching off the app switches back to a light theme"
"Not much when set to a dark theme, after switching off the app switches back to a light theme."
A Czech user is reporting issues to the dark theme

Device: Samsung Galaxy A20e
Device language: Czech
App version code: 432
App version name: 3.6.3
Android version (SDK): Android 10 (SDK 29)

[2021-03-02 19:32] #3854 closed, assigned to nobody

[2021-03-02 20:41] #3465 closed

[2021-03-02 20:45] #2286 closed

[2021-03-02 21:11] #3842 closed, assigned to nobody

[2021-03-02 21:39] VaiTon commented on #3848
@teolemon we request the field when we initially get the product. Can we use the suffix with the language to get the desired language? I mean `<field>_en` for example.

[2021-03-03 07:14] teolemon commented on #3848
mmh… @stephanegigandet @VaiTon
It does not currently work:
https://world.openfoodfacts.org/api/v0/product/0634065322366.json?fields=environment_infocard_en
https://world.openfoodfacts.org/api/v0/product/0634065322366.json?fields=environment_infocard_fr

[2021-03-03 08:38] stephanegigandet commented on #3848
&lc=[language code] should be added in all queries in fact
environment_infocard_[language code] does not work and is complex to implement server side

[2021-03-03 22:19] VaiTon commented on #3848
@stephanegigandet so we should query, for example
[code]
Right?

[2021-03-03 22:20] #3852 closed, assigned to nobody

[2021-03-03 22:21] #3859 closed, assigned to nobody

[2021-03-05 19:53] kartikaysharma01 commented on #3849
@teolemon  This has been resolved on latest develop and can be closed.
The issue was because the nutriscore uri was made non-null type.

[2021-03-05 21:33] kartikaysharma01 commented on #3839
Could not reproduce the issue. but making a PR, solving the stack trace.

[2021-03-05 21:42] kartikaysharma01 commented on #3843
This can be closed.
@teolemon @VaiTon

[2021-03-05 22:44] kartikaysharma01 commented on #3832
Can you please assign this to me

[2021-03-05 22:54] kartikaysharma01 commented on #3827
@mrudultora Can you please add a video or more precise steps to reproduce.

[2021-03-05 23:24] kartikaysharma01 commented on #3782
@VaiTon @teolemon This can be closed.
Duplicate of #3854

[2021-03-06 07:15] mrudultora commented on #3530
Afaik, **in** is for Indonesian.

[2021-03-06 07:24] mrudultora commented on #3437
@teolemon @VaiTon Are we uploading app bundle on play console. If that's true, then this is the reason for language switching not working. Because, at the time of downloading play store will only download the language that is currently set in user's device. In this case, we have 2 options.
• Either we disable the split on the basis of language in the gradle file, but this will increase the app siz

[2021-03-06 11:00] teolemon commented on #3437
It's not split related, since manually changing the language works fine

[2021-03-06 14:56] #3808 closed, assigned to nobody

[2021-03-06 14:58] #3843 closed, assigned to nobody

[2021-03-06 14:59] #3782 closed, assigned to nobody

[2021-03-06 15:00] #3849 closed, assigned to nobody

[2021-03-06 15:00] #3839 closed, assigned to nobody

[2021-03-06 15:59] hangy commented on #3530
That's [`id`](https://en.m.wikipedia.org/w/index.php?title=Indonesian_language&oldid=1009592967). 😄

[2021-03-06 17:21] mrudultora commented on #3530
@hangy

![img](https://user-images.githubusercontent.com/65870389/110215163-59ce7f00-7ece-11eb-9dcf-bb9070ccfcf3.png)

[2021-03-06 19:51] mrudultora commented on #3437
Hi @teolemon , let me explain you completely. I downloaded the app from Playstore and at that time my device language was English. So, the strings were in English. Now, I manually changed my device language to Hindi from phone settings. Then I opened the app and the strings were still in English even after manually changing it. This clearly shows that `strings.xml (hi)` was not at all downloaded.

[2021-03-06 20:03] mrudultora commented on #3437
Might be you are manually switching between french and English. Please try switching to other languages manually from phone settings and you will surely see the difference. I hope I am able to explain you my point :-)

[2021-03-07 09:10] teolemon opened #3872 "Allow to share a comparison or a list"
### What
- [ ] Allow to share a comparison from the Comparison mode by adding a `Share this comparison` button.
- [x] Allow to share lists from the List mode by adding a `Share this list` button.
- [ ] Add a handling mechanism for Lists deep links to de-ambiguate between the 2
#### Web https://world.openfoodfacts.org/products/8024884500403,3263855093192,3045320001570,3021762383344,4008400402222,33

[2021-03-07 09:12] teolemon opened #3873 "Use compact API for History"
We could use just a single query by using the `code` field.
[code]

[2021-03-07 09:45] VaiTon commented on #3873
Blocked on #3840

[2021-03-07 10:15] teolemon commented on #3437
I switched to Italian, and it works perfectly. French as well know.
I believe it might have been fixed in #3540
But I swear I could reproduce a couple of days ago 🤷

[2021-03-07 10:17] teolemon opened #3874 "ANR on first load"
ANR on first load

![image](https://user-images.githubusercontent.com/1689815/110236546-a352b480-7f36-11eb-925e-84e877d66932.png)

[2021-03-07 14:50] teolemon commented on #3830
We're thinking of creating a dimension `fdroid` to remove Sentry for F-Droid and deblock the year old failing build for Open Food Facts. Given that we already have 4 flavors, I'm a bit reluctant.

The DSN is already present in the manifest: https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/b9db22ebafc424312b4ae4684b948c9db74ce7f7/app/src/main/AndroidManifest.xml#L44

But it's not pres

[2021-03-07 15:51] teolemon commented on #148
Moved to : https://wiki.openfoodfacts.org/Mobile_App/Android/Ideas

[2021-03-07 15:51] #148 closed

[2021-03-07 15:52] teolemon commented on #172
Moved to : https://wiki.openfoodfacts.org/Mobile_App/Android/Ideas

[2021-03-07 15:52] #172 closed

[2021-03-07 16:02] teolemon commented on #3816
- @Mannshoch All those categories will produce the same Nutri-Score, but the fact that you're asking shows autocomplete can be confusing. #2951 might be part of the answer

[2021-03-07 16:51] mrudultora commented on #3437
@teolemon  So, I am unable to understand that why I am getting a contradicting result. Would you please look at this screen recording.

https://user-images.githubusercontent.com/65870389/110247467-64524c80-7f92-11eb-8d42-ae314fd90393.mp4

I changed my device language to french but the app was still in english (tried everything to get the french language in the app) . Video is a bit long as my phon

[2021-03-07 23:07] hangy commented on #3530
OpenFoodFacts generally uses ISO 639-1 codes (imported from Wikidata) server-side. According to https://en.wikipedia.org/w/index.php?title=List_of_ISO_639-1_codes&oldid=1008173254, `in`  was converted to `id` in 1989. I assume the editor screenshot is from IntelliJ/Android Studio? According to https://stackoverflow.com/a/55965008/11963

I believe the `in` code is old (and [not supported by OpenFoo

[2021-03-08 01:47] mrudultora commented on #3530
Okay. Thanks for clarifying ;-)

[2021-03-08 16:05] Mannshoch commented on #3816
- For the record. I also would propose an Enhancement of the input also on other textinputs. #2951 seems 👍

[2021-03-08 16:24] Mannshoch opened #3877 "Enhance the Language support"
**Is your feature request related to a problem? Please describe.**
Switzerland has four official Language. Many times, Products has their Information in several languages on the product.

How should I enhance a Product. Im from the German speaking part of switzerland. Sometimes I have A Product on the app tht was filled by a French or Italian Speaking person. should I:

- add only the details from

[2021-03-08 18:42] #3832 closed, assigned to kartikaysharma01

[2021-03-08 18:56] VaiTon commented on #3780
@naivekook any news on this one?

[2021-03-08 19:57] naivekook commented on #3780
@VaiTon I tested it a bit again and sometimes it works fine, sometimes it not working properly, so I still stick to the idea that problem in WorkManager itself, but I don't have strong proofs

[2021-03-09 10:41] naivekook commented on #3830
@teolemon do we upload proguard mapping manually via `sentry-cli`?
if yes we can just remove gradle uploading and fix the build.

[2021-03-09 14:17] naivekook commented on #3855
I can do it

[2021-03-09 17:46] VaiTon commented on #3855
Sure you can! @naivekook

[2021-03-09 21:12] #3015 closed

[2021-03-09 21:12] #3400 closed

[2021-03-09 21:12] #3834 closed, assigned to kartikaysharma01

[2021-03-09 21:37] teolemon opened #3881 "The screenshot test is failing, possibly because of the additional dimension:"
The screenshot test is failing, possibly because of the additional dimension:
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/3836/checks?check_run_id=2017171362
[code]

_Originally posted by @teolemon in https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3836#issuecomment-790432383_

[2021-03-09 21:45] teolemon commented on #3881
* What went wrong:
Task 'testObfDebugUnitTest' not found in root project 'openfoodfacts-androidapp'.

[2021-03-09 21:46] teolemon commented on #3881
* What went wrong:
Task 'testOffDebugUnitTest' not found in root project 'openfoodfacts-androidapp'.

[2021-03-09 21:47] teolemon commented on #3881
![image](https://user-images.githubusercontent.com/1689815/110542467-5daa0d80-8129-11eb-956e-c12b0da14eb6.png)
OPFF is passing 🤷

[2021-03-10 08:10] teolemon commented on #3881
FastlaneCore::Interface::FastlaneShellError: [!] Exit status of command '/home/runner/work/***-androidapp/***-androidapp/gradlew clean bundleoffReleasePlaystore -p ./' was 1 instead of 0.

[2021-03-10 13:17] kartikaysharma01 commented on #2626
Can you please assign this to me

[2021-03-10 13:52] #2626 closed

[2021-03-10 14:23] teolemon commented on #3873
@VaiTon another use: it could allow to share lists for people without the app.
And the app could open any url like that as a list, and propose to save it locally

[2021-03-11 07:14] naivekook commented on #3855
[code]

@teolemon which urls should I use?

[2021-03-11 08:19] teolemon commented on #3855
https://analytics.openfoodfacts.org/piwik.php

[2021-03-11 08:20] teolemon commented on #3855
Site id =1

[2021-03-11 08:21] teolemon commented on #3855
But we will need to create a separate one for Android

[2021-03-11 08:27] teolemon opened #3885 "issue with nutrient levels on 3175681123014"
There’s an issue with nutrient levels on 3175681123014
https://barcode.tec-it.com/en/EAN13?data=3175681123014
They don’t display at all on the summary tab

![image](https://user-images.githubusercontent.com/1689815/110757541-ce494b00-824b-11eb-8f30-10284dd8695e.png)
![image](https://user-images.githubusercontent.com/1689815/110757553-d2756880-824b-11eb-957c-1e5249fbe846.png)
![image](https://user-

[2021-03-11 09:32] teolemon opened #3886 "Conversion of flavors to the Android locale format"
Conversion of flavors to the Android locale format: Crowdin complains that the files do not exist. And it appears currently to mix OPF and MAIN (and I suspect this could be related)

⏭  'app/src/obf/res/values-ro-rRO/strings.xml' translation file doesn't exist in the specified place
⏭  'app/src/obf/res/values-fr-rFR/strings.xml' translation file doesn't exist in the specified place
⏭  'app/src/obf

[2021-03-11 10:33] teolemon opened #3887 "State classified in wrong section"
![image](https://user-images.githubusercontent.com/1689815/110773927-8e8b5f00-825d-11eb-9672-2d78c1f7ce6d.png)

Code pointer:  https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/8e59ada12bd20ed08810d38d36a3d10c48397531/app/src/main/java/openfoodfacts/github/scrachx/openfood/features/product/view/contributors/ContributorsFragment.kt#L193

[2021-03-11 11:20] #3837 closed, assigned to nobody

[2021-03-11 12:42] naivekook commented on #3855
do we need also create another one for debug mode?

[2021-03-13 10:05] teolemon opened #3891 "Query only necessary fields in product search"
Example of what the app is sending: https://world.openfoodfacts.org/contributor/g123k/1.json?nocache=1
As a result, some unexpected field provoke bugs as seen here: https://twitter.com/g123k/status/1370654639436234753

**Steps:**
- [ ] Find which field we do need to show the product search
- [ ] Make sure we query again when opening the product

[2021-03-13 10:16] teolemon commented on #3891
Using fields= for the query would solve this one.
Double checking we had no regression on reduced queries would also be useful

[2021-03-14 13:04] naivekook commented on #3885
Looks like this is not a bug of application, because in response we don't have product name and nutriments.

`https://ssl-api.openfoodfacts.org/api/v0/product/3175681123014.json?fields=product_name%2Cgeneric_name%2Cimage_small_url%2Cimage_front_url%2Cimage_ingredients_url%2Cimage_nutrition_url%2Cimage_packaging_url%2Cimage_url%2Cselected_images%2Clanguages_codes%2Cvitamins_tags%2Cminerals_tags%2Ca

[2021-03-14 19:19] Mannshoch opened #3892 "Blueprint - OpenStorageFacts: See what you actually have at home"
**Is your feature request related to a problem? Please describe.**
Sometimes we look about our current food in our storage Nd get surprised by things we found there.

**Describe the solution you'd like**
Create a storage database where we could scan our food and say how many we have and scan it when we take it out.

***Check in a product***
 - Scan the barcode
 - set "consumed until" date (may lea

[2021-03-14 19:57] sentry[bot] opened #3893 "Crash on editing a product"
Sentry Issue: [OPENFOODFACTS-ANDROID-2TM](https://sentry.io/organizations/openfoodfacts/issues/2272789771/?referrer=github_integration)

[code]

[2021-03-14 22:58] VaiTon commented on #3893
We need to use injection now

[2021-03-15 13:35] #3893 closed, assigned to nobody

[2021-03-16 10:21] teolemon opened #3896 "Develop crashes at startup"
Develop crashes at startup

[2021-03-16 10:23] teolemon commented on #3896
RuntimeException
Unable to start activity ComponentInfo{org.openfoodfacts.scanner/openfoodfacts.github.scrachx.openfood.features.MainActivity}: kotlin.UninitializedPropertyAccessException: lateinit property _daoSession has not been initialized
mechanism
UncaughtExceptionHandler
handled
false

android.app.ActivityThread in performLaunchActivity at line 3431
android.app.ActivityThread in handleLaunc

[2021-03-17 22:40] #3896 closed, assigned to nobody

[2021-03-18 13:16] naivekook commented on #3847
I already fixed it, we don't have issues for last 7 days.

[2021-03-18 23:19] #3847 closed, assigned to nobody

[2021-03-19 08:21] teolemon commented on #3757
I believe this might have been fixed by @VaiTon

[2021-03-20 08:00] teolemon commented on #2940
This has been fixed.

[2021-03-20 08:00] #2940 closed

[2021-03-20 09:50] teolemon commented on #3855
fixed

[2021-03-20 09:50] #3855 closed, assigned to naivekook

[2021-03-20 09:50] teolemon commented on #3838
fixed

[2021-03-20 09:50] #3838 closed, assigned to nobody

[2021-03-20 09:52] teolemon commented on #3401
partly fixed by attributes

[2021-03-20 09:52] #3401 closed

[2021-03-21 22:51] #3757 closed, assigned to nobody

[2021-03-24 09:53] teolemon opened #3905 "For Pierre: fix locales"
/home/runner/work/openfoodfacts-androidapp/openfoodfacts-androidapp/app/src/main/res/values-kab-rKAB: Resource and asset merger: Invalid resource directory name

[2021-03-26 07:20] teolemon opened #3906 "The initial start is messy"
The initial start is messy. Now we have:

- [ ] The classic Onboarding screen
- [ ] The Changelog
- [ ] The Anonymous Analytics consent screen

We need a way to make it visually less overwhelming:
- [ ] Inline clickable cards on the hope screen for the last two ?
- [ ] Integrate them within the onboarding screen ?
- [ ] Something else ?

https://user-images.githubusercontent.com/1689815/112747021-

[2021-03-26 10:16] teolemon commented on #3905
Fixed

[2021-03-26 10:16] #3905 closed, assigned to teolemon

[2021-03-26 21:37] Krusty27 commented on #3078
Rip

[2021-03-27 17:25] teolemon opened #3907 "Add a special edit card for labels on the environment tab"
- [ ] The tab would be triggered if labels were empty or if "en:no-environmental-labels" is not in labels.
- [ ] It would add the ticked labels values to labels
- [ ] It would add "No Environmental Labels" if the user ticks the "No environmental labels" box

![image](https://user-images.githubusercontent.com/1689815/112728900-c0711680-8f29-11eb-8cd7-2545a292a52a.png)

[2021-03-27 17:29] teolemon opened #3908 "Add extraction for the recycling instructions"
### What

- Add extraction for the recycling instructions
- Duplicate the system in place for ingredients

### Blocks
- #4193

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/112729021-5d33b400-8f2a-11eb-8141-772dc5062c41.png)

### Part of
- #4166
- Support the Eco-Score

[2021-03-27 17:33] teolemon opened #3909 "Add a helper to input the recycling instructions"
- [ ] In some cases, the OCR fails or there are no reycling instructions.
- [ ] Add a helper to input the recycling instructions manually
- [ ] https://static.openfoodfacts.org/data/taxonomies/packaging_materials.json
- [ ] https://static.openfoodfacts.org/data/taxonomies/packaging_shapes.json

![image](https://user-images.githubusercontent.com/1689815/112729086-b1d72f00-8f2a-11eb-84dc-70a846f3194

[2021-03-27 17:38] teolemon opened #3910 "Add a way to get the origins of the ingredients in the ingredients tab"
Add a way to get the origins of the ingredients in the ingredients tab
![image](https://user-images.githubusercontent.com/1689815/112729266-9a4c7600-8f2b-11eb-92dd-88da80126df3.png)

[2021-03-27 17:47] teolemon commented on #3874
![image](https://user-images.githubusercontent.com/1689815/112729537-e8ae4480-8f2c-11eb-9ec7-687cc97a2f8e.png)
One user is not happy at all

[2021-03-28 08:00] teolemon commented on #3813
@kartikaysharma01 I've made a mockup in #3909 . Going to close this one

[2021-03-28 08:00] #3813 closed, assigned to nobody

[2021-03-28 08:51] teolemon commented on #3906
Related issue: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3874

[2021-03-29 06:53] vtanakov commented on #3906
It is a good idea to integrate the Anonymous Analytics consent to onboarding flow, I vote for it.
About the changelog screen - maybe we should turn off automatic presenting and make a button for it? in burger menu or on home screen(it is empty anyway)

[2021-03-29 15:01] kartikaysharma01 commented on #3813
Thanks for the update @teolemon . I will re-visit that after my exams.

[2021-04-01 18:11] #3162 closed

[2021-04-01 18:26] teolemon opened #3914 "ScanHistoryActivity.java:31: error: incompatible types: NonExistentClass cannot be converted to Annotation @error.NonExistentClass()"
[code]

[2021-04-03 14:10] teolemon opened #3918 "Prefill the country setting based on the phone for accurate Eco-Score computations"
- [ ] Send the country with the product queries `&cc=fr` so that the server can send back country specific values (recycling, environment and possibly more in the future)
- [ ] Prefill the country setting based on the phone. This will ensure country dependant features work well.
- [ ] We could also have an onboarding card asking for it and mentionning it can be changed at any time from the setting

[2021-04-03 16:37] VaiTon commented on #3891
But we have to consider the fact that with using the full result we can then use the JSON to show the product without making another request.

[2021-04-03 17:16] VaiTon commented on #3748
@mrudultora could you please provide more info? I am unable to reproduce.

[2021-04-03 17:43] mrudultora commented on #3748
Unable to reproduce now. Also, as far as I remember this was for a particular product.

[2021-04-03 17:43] #3748 closed, assigned to nobody

[2021-04-04 20:34] teolemon opened #3919 "kcal, kJ, sat-fat entered values from the app are not stored in the database (Production & Beta feedback)"
New beta feedback on Apr 4, 2021 at 2:43 PM GMT
kcal, kJ, saturated fat entered values from the app are not stored in the database.

[2021-04-05 08:44] teolemon commented on #3881
It's working again, afaik

[2021-04-05 08:44] #3881 closed, assigned to nobody

[2021-04-05 09:27] teolemon opened #3920 "inferred type is MediaType but String? was expected (for Screenshot test) (ProductEditActivity, ProductPhotosAdapter,SummaryProductFragment)"
[code]

[2021-04-05 10:11] VaiTon commented on #3873
@teolemon actually we query only the local database when opening lists

[2021-04-05 12:49] teolemon opened #3924 "Share icon is black on black in dark mode"
![image](https://user-images.githubusercontent.com/1689815/113575366-0743c800-961e-11eb-9eda-d7048930b0e6.png)

[2021-04-05 13:04] #3873 closed, assigned to VaiTon

[2021-04-05 13:06] #3924 closed, assigned to nobody

[2021-04-05 13:10] #3914 closed, assigned to nobody

[2021-04-05 13:11] VaiTon commented on #3920
@teolemon could you provide steps to reproduce? Running `gradle :app:compileOffPlaystoreScreenshotsKotlin` seems ok.

[2021-04-05 14:44] VaiTon commented on #3891
@teolemon we're getting 1000 ms as response if we query without fields, 222 ms if we query with fields. 🎉

[2021-04-05 14:54] teolemon commented on #3891
it does not make a difference server side in terms of execution, but the size of the payload seems to matter

[2021-04-05 15:07] #3891 closed, assigned to VaiTon

[2021-04-05 15:41] teolemon opened #3927 "3 tests failing (SendProductTest.kt)"
openfoodfacts.github.scrachx.openfood.models.SendProductTest > isEqualWithEqualProducts_returnsTrue FAILED
    com.google.common.truth.AssertionErrorWithFacts at SendProductTest.kt:59

openfoodfacts.github.scrachx.openfood.models.SendProductTest > isEqualWithProductsDifferById_returnsTrue FAILED
    com.google.common.truth.AssertionErrorWithFacts at SendProductTest.kt:69

openfoodfacts.github.scra

[2021-04-06 06:52] naivekook commented on #3927
looks like this commit https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/0e06205848ed028061e346c9c1d23acca9a3c6ad broke the tests
cc @VaiTon