[2018-04-30 12:31] ross-holloway94 commented on #1433
Thanks @Hangman228 , I forgot to close this.

[2018-04-30 12:31] #1433 closed

[2018-04-30 15:04] ross-holloway94 commented on #1490
I believe the issue is coming from AllergensAlertFragment.onViewCreated() . Otherwise I cannot see what the issue is.

[2018-04-30 17:31] huzaifaiftikhar commented on #1533
Working on this.

[2018-04-30 19:14] teolemon opened #1538 "d"
![image](https://user-images.githubusercontent.com/1689815/39445509-8064b2f8-4cbb-11e8-908d-86bcd61cb4f5.png)

[2018-04-30 19:14] #1538 closed

[2018-05-01 02:58] #1495 closed

[2018-05-01 06:49] #1409 closed

[2018-05-01 09:58] teolemon opened #1540 "java.lang.NullPointerException: Attempt to invoke virtual method 'void android.view.View.setVisibility(int)' on a null object reference at openfoodfacts.github.scrachx.openfood.network.c.a"
[code]

[2018-05-01 10:11] teolemon opened #1541 "resource string/product (aka openfoodfacts.github.scrachx.openfood:string/product) not found."
[code]

[2018-05-01 11:25] teolemon opened #1543 "Error Permission Denied when clicking on "Manage account""
Error Permission Denied when clicking on "Manage account" just after login.
![image](https://user-images.githubusercontent.com/1689815/39471357-10bbc9e0-4d43-11e8-8c61-69491812ecff.png)

[2018-05-01 11:29] teolemon opened #1544 "Extra space displayed before values"
![image](https://user-images.githubusercontent.com/1689815/39471449-907ccada-4d43-11e8-9091-b159e8e0cff8.png)

Visible on "brands" and "packaging" after the first values

[2018-05-01 12:15] teolemon opened #1545 "The full list of images is not working as intended"
The full list of images is not working as intended. It needs an API update to work properly

![image](https://user-images.githubusercontent.com/1689815/39471507-cd0b16d2-4d43-11e8-943a-81bd536b3269.png)

[code]

[2018-05-01 13:15] teolemon commented on #1541
Should be fixed in trunk. Closing

[2018-05-01 13:15] #1541 closed

[2018-05-01 14:27] #1513 closed

[2018-05-01 14:32] ross-holloway94 commented on #1490
Fixed in #1546

[2018-05-01 14:32] #1490 closed

[2018-05-01 16:42] huzaifaiftikhar commented on #1533
Fixed in #1537

[2018-05-01 16:42] #1533 closed

[2018-05-02 08:01] teolemon opened #1548 "(version 46) android.content.res.Resources$NotFoundException"
android.content.res.Resources$NotFoundException:
  at android.content.res.Resources.getText (Resources.java:1468)
  at android.content.Context.getText (Context.java:402)
  at com.afollestad.materialdialogs.f$a.a (Unknown Source)
  at openfoodfacts.github.scrachx.openfood.network.c$1.a (Unknown Source)
  at g.g$a$1$1.run (Unknown Source)
  at android.os.Handler.handleCallback (Handler.java:739)
  a

[2018-05-03 20:56] #1484 closed

[2018-05-03 23:48] #1040 closed

[2018-05-04 16:40] cliffgr commented on #1486
Seems this issue is fixed .. we can close it

[2018-05-04 16:46] PrajwalM2212 commented on #1486
Thanks @cliffgr .

[2018-05-04 16:46] #1486 closed

[2018-05-04 20:01] huzaifaiftikhar opened #1551 "Add continuous scan feature"
**Summary:**

This will enable users to scan barcodes at an unmatched speed. Scanning different barcodes one after the other without any interaction with the user.

Here is the [link](https://drive.google.com/file/d/1_4VnCqgn3VbM9AZ7L7G8WY_jNRyucbhl/view?usp=sharing) to the demo of this feature that I plan to integrate into the app during GSoC 2018.

[2018-05-04 20:01] huzaifaiftikhar opened #1552 "Improve UI of the scan fragment"
**Summary:**

Redesigning the UI of the scan fragment giving an immersive experience. Cards will be used to display the key information during the scan. Cards will be made slidable to show the complete information just like ‘Google Maps’.

The designs which I plan to implement during GSoC 2018 are :

<kbd>![screen 1 2](https://user-images.githubusercontent.com/10832531/39649070-1ff986c4-5002-11e8-

[2018-05-04 20:01] huzaifaiftikhar opened #1553 "Add thorough product addition"
**Summary:**

Adding more detailed product addition including its nutritional information, ingredients, EMB codes etc.

The designs which I plan to implement are :

<kbd>![addition screen1 1](https://user-images.githubusercontent.com/10832531/39649247-d2318dc8-5002-11e8-92d0-95721c172ed6.png)</kbd>

<kbd>![addition screen2 2](https://user-images.githubusercontent.com/10832531/39649252-d4639e60-500

[2018-05-04 20:02] huzaifaiftikhar opened #1554 "Integrate OCR for ingredients"
**Summary:**

Presently we do not have an option to add ingredients during the addition of a new product.  However, after implementing #1553 , users will get an option to add all the details about the product during its addition including ingredients. Rather than having the user type all the ingredients of the product which is a tedious task we can use the ingredients image uploaded by the user an

[2018-05-04 20:02] huzaifaiftikhar opened #1555 "Edit products within the app"
**Summary:**

Editing or adding information about the already added products using the android application. It is more convenient and easy to use mobile and hence this would help us in getting more products completed. The UI for editing a product would be similar to the one as described in #1553 only with the difference that the already known details about that  product will be displayed but made

[2018-05-05 17:58] #1532 closed

[2018-05-05 23:37] #1544 closed

[2018-05-06 06:31] jaindiv26 commented on #1516
@itchix Please upload deobfuscation file.

[2018-05-06 15:14] #1060 closed

[2018-05-07 14:53] jaindiv26 commented on #399
I think it's already fixed by someone.

[2018-05-07 15:11] jaindiv26 commented on #223
When a barcode is searched in offline mode, it displays a popup stating "The product you scanned does not exist yet in Open Food Facts. Please add it. (Yes, no)". What do you propose, what should be the ideal popup info, as after clicking on Yes button, does exactly what you stated in the description.

[2018-05-07 15:12] jaindiv26 commented on #238
I cannot reproduce this bug, please elaborate on this issue.

[2018-05-07 16:54] jaindiv26 commented on #1393
Yes, it was an error 2-3 days back but now has been fixed by someone.

[2018-05-07 23:54] Orlandov87 commented on #1483
Hello, I'm relatively new to mobile development and would like to have this as my first contribution.

[2018-05-08 01:45] Orlandov87 commented on #1482
Hello, I would like to add padding on this to get accustomed to contributing.

Thank you.

[2018-05-08 03:07] etcadinfinitum commented on #1500
@Karljoones @teolemon @huzaifaiftikhar

in ```MainActivity.java```, there is this overridden method:
[code]
I assume that the method was added for a specific reason at some point in time, but I am not sure if it is still needed, since it's sole purpose is to produce the undesired behavior seen here as far as I can tell...
There are calls to handle the preferences changed listener registration/remo

[2018-05-08 04:56] #1500 closed

[2018-05-08 06:17] etcadinfinitum commented on #965
This can be closed

[2018-05-08 06:37] #965 closed

[2018-05-08 06:38] #925 closed

[2018-05-08 08:17] huzaifaiftikhar commented on #1482
@Orlandov87 Go ahead

[2018-05-08 12:14] Karljoones commented on #63
Found a nice library for this: https://github.com/shivasurya/FeedbackDialog?utm_source=android-arsenal.com&utm_medium=referral&utm_campaign=6693

[2018-05-08 12:15] PrajwalM2212 commented on #63
That is a very nice library .

[2018-05-08 12:32] Karljoones commented on #583
Closing this due to duplication with GSoC issue creation #1554

[2018-05-08 12:32] #583 closed

[2018-05-08 12:33] #98 closed

[2018-05-08 12:35] Karljoones commented on #202
This feature has been implemented - just tested it

[2018-05-08 12:35] #202 closed

[2018-05-08 18:07] teolemon opened #1565 "Investigate the new Slices API"

[2018-05-08 18:08] teolemon opened #1566 "Investigate the new App Actions API"

[2018-05-09 03:11] hackerb9 commented on #178
[Amazon Appstore](https://www.amazon.com/getappstore) version is still stuck at Open Food Facts from 2015. (I think it's version 0.2.1)

You can work around it by using fdroid.org to install the OpenFood app (version 0.8.9 at the moment), but most Amazon device users will not find that easy to do.

[2018-05-09 03:18] hackerb9 opened #1567 "Amazon Fire Phone (reversed AF)"
### Summary

When I use the app to scan, I expect it to autofocus. It does not. In the three-dots menu, I can see that it says, **Auto Focus [ON]**.  If I click on it so it switches to **Auto Focus [OFF]**, then my camera does autofocus correctly.

### Device and Android version:

Amazon Fire Phone (model number SD4930UR)
Fire OS 4.6.6.1 (Amazon's fork of Android 4.4, KitKat)

The version of OpenF

[2018-05-09 03:40] hackerb9 opened #1568 "An "About" screen to make reporting bugs easier"
Most apps have an "About" screen that shows information about the app. This app does not. It'd be nice if had one that included at least the following information: name, version, description, copyright, link to homepage, link to report a bug. For example,

This will take the guesswork out of what version is being run and will make it easier to report bugs.

[2018-05-09 06:06] #1483 closed

[2018-05-09 12:01] teolemon commented on #63
nice one

[2018-05-09 12:05] teolemon commented on #63
I filed a bug to ask for image support:
https://github.com/shivasurya/FeedbackDialog/issues/5

[2018-05-09 12:55] teolemon opened #1570 "Language switching doesn't work out of the box with Fastlane"

[2018-05-09 13:51] ross-holloway94 commented on #633
I have created a Trello board for this now - https://trello.com/b/eP8zz1bg/open-food-facts-633

[2018-05-09 15:44] PrajwalM2212 commented on #1565
It was said that it will work on more than 95% of devices . I will work on the slices api.

[2018-05-09 17:57] #1529 closed

[2018-05-09 19:08] jaindiv26 commented on #1540
@teolemon Can you please tell me, clicking on what event or on what circumstances occurred this error in ProductBrowsingListActivity.

[2018-05-10 17:56] jaindiv26 commented on #1521
@teolemonIts cacao value is not properly implemented in nutrition table, it shows duplicated value in Per 100g serving and in Per serving. Check out the screenshots.

![screenshot_1525974819](https://user-images.githubusercontent.com/32436867/39885086-5f2b69f6-54a9-11e8-8840-2932cd5102c8.png)
![screenshot_1525974860](https://user-images.githubusercontent.com/32436867/39885088-615f9968-54a9-11e8-8e

[2018-05-10 20:35] jaindiv26 commented on #1519
How to reproduce the error?

[2018-05-10 20:54] jaindiv26 commented on #1518
@teolemon I'm using an image in the below screenshot and when I shared it in the app, it is able to recognize the barcode in the shared image. FYI I've set the language to Italino, Espaniol, and English and still app were able to recognize the image.

![screenshot_1525985486](https://user-images.githubusercontent.com/32436867/39893735-5863e080-54c2-11e8-9f4d-f4a4ecd52bb4.png)
![screenshot_15259854

[2018-05-11 14:46] huzaifaiftikhar commented on #551
![screenshot_20180511-201228](https://user-images.githubusercontent.com/10832531/39930288-f033612a-5557-11e8-9c6c-1b461168cfe2.png)

Closing as it is fixed and the values are displayed properly.

[2018-05-11 14:46] #551 closed

[2018-05-11 15:21] #1482 closed

[2018-05-12 15:36] jaindiv26 commented on #1489
@PrajwalM2212 Clicking on Sign In does not produce "Already Logged In" dialogue.

[2018-05-12 16:11] PrajwalM2212 commented on #1489
It has been resolved .

[2018-05-12 16:11] #1489 closed

[2018-05-12 18:15] #1526 closed

[2018-05-12 19:50] jaindiv26 commented on #434
The images in the above link are not compatible as images have not been cropped or resized properly for the android studio. Even changing the size dose not affect anything. Check Screenshot.

![screen shot 2018-05-13 at 1 05 47 am](https://user-images.githubusercontent.com/32436867/39960965-2561ce34-564a-11e8-9235-17eae589f860.png)

![screenshot_1526154499](https://user-images.githubusercontent.co

[2018-05-13 08:44] teolemon commented on #1540
no idea, I got that from the Play Console for the Beta. @itchix has not uploaded deobfuscation bindings yet.
So no more info. If we can't make anything of it, we can close.

[2018-05-13 10:57] jaindiv26 commented on #1540
@teolemon I've spent my time on trying to reproducing this issue but couldn't do it. If this error occurs again on the play console, then we can look more into this issue, otherwise, for now, we can tag this issue as closed.

[2018-05-14 06:46] #1494 closed

[2018-05-17 12:47] Porkepix commented on #1197
Closing, bugs fixed some times ago.

[2018-05-17 12:47] #1197 closed

[2018-05-17 16:29] teolemon opened #1579 "The app goes back to home when trying to add a new product."
The app goes back to home when trying to add a new product.

[2018-05-17 16:31] teolemon opened #1580 "Cardify the nutrition summary tab"
Cardify the nutrition summary tab (NOT the nutrition table tab), just like the product summary, and the ingredients tab.

[2018-05-17 19:52] jaindiv26 commented on #1580
@teolemon I'll take this issue, please assign me to this issue.

[2018-05-17 19:55] jaindiv26 commented on #1579
@teolemon Can you tell me on which build version this event occurs?

[2018-05-18 07:44] teolemon commented on #1579
Latest release 0.9.0, that has been deployed.

[2018-05-18 07:44] teolemon commented on #1580
assigned :)

[2018-05-18 11:53] teolemon commented on #1579
New product addition. You can try with a book or something not in the db
for instance

On Fri, May 18, 2018 at 1:23 PM Ross Holloway <notifications@github.com>
wrote:

[2018-05-18 12:31] ross-holloway94 commented on #1548
Waiting for deobfuscation bindings to be uploaded.

[2018-05-18 16:30] ross-holloway94 commented on #1548
De-obfuscated stack trace:

android.content.res.Resources$NotFoundException:
at android.content.res.Resources.getText (Resources.java:1468)
at android.content.Context.getText (Context.java:402)
at com.afollestad.materialdialogs.MaterialDialog$Builder.getContext (Unknown Source)
                                                         title
                                                         t

[2018-05-19 08:34] teolemon opened #1583 "java.lang.RuntimeException at openfoodfacts.github.scrachx.openfood.utils.WifiUploadReceiver.onReceive"
[code]
[code]

[2018-05-19 10:31] huzaifaiftikhar commented on #1579
I am not able to reproduce the issue. I added a [product](https://world.openfoodfacts.org/product/8901491990028) and it was successfully added using the app.  However just a suggestion that there is no "Save" button and the product gets uploaded when we press the back button on the toolbar at the top. This is not user friendly and we should add a "Save/Upload product" button in the UI.

[2018-05-19 10:44] #287 closed

[2018-05-19 10:54] teolemon commented on #1548
https://github.com/afollestad/material-dialogs/issues/562

[2018-05-19 11:27] teolemon opened #1585 "Rename variables nutrition_satured_fat and nutrition_satured_fat_short_name"
Rename those variables
[code]
[code]

[2018-05-19 11:49] teolemon commented on #1535
Blocked on https://github.com/openfoodfacts/openfoodfacts-server/issues/1144

[2018-05-19 11:49] teolemon commented on #1535
cc @stephanegigandet for the server part

[2018-05-19 12:01] teolemon commented on #1579
Do you have any options like Quick Scan or Scan on Startup enabled ?

[2018-05-19 14:05] #1580 closed

[2018-05-19 14:43] huzaifaiftikhar commented on #1579
No both these options were disabled during the time of product addition

[2018-05-19 14:44] teolemon commented on #1579
Are you using a build from source ? The play store build ?

[2018-05-19 14:53] huzaifaiftikhar commented on #1579
I am not using the playstore version. I'm building the app from latest version of master branch

[2018-05-19 14:59] teolemon opened #1587 "E/NetworkScheduler: org.openfoodfacts.scanner requested task be persisted for tag: 'upload_saved_product_job' but does not hold the permission android.permission.RECEIVE_BOOT_COMPLETED. This task won't be persisted."
'''05-19 16:56:34.741 28987-13305/? E/NetworkScheduler: org.openfoodfacts.scanner requested task be persisted for tag: 'upload_saved_product_job' but does not hold the permission android.permission.RECEIVE_BOOT_COMPLETED. This task won't be persisted.'''

https://stackoverflow.com/questions/37272823/android-permission-receive-boot-completed-does-not-work?utm_medium=organic&utm_source=google_rich_q

[2018-05-19 18:03] teolemon opened #1588 "android.content.res.Resources$NotFoundException (OpenFoodAPIClient.java:39)"
[code]

[2018-05-19 18:06] teolemon opened #1589 "java.lang.NullPointerExceptionj : at openfoodfacts.github.scrachx.openfood.utils.Utils.HttpClientBuilder"
Samsung Galaxy Tab A 10.1 (gtaxlwifi), 2048MB RAM, Android 7.0
[code]

[2018-05-19 18:09] teolemon opened #1590 "android.content.res.Resources$NotFoundException: at openfoodfacts.github.scrachx.openfood.network.OpenFoodAPIClient$1.lambda$onFailure$2$OpenFoodAPIClien"
[code]

[2018-05-19 18:46] huzaifaiftikhar commented on #1590
I am working on this one.

[2018-05-19 19:32] #1590 closed

[2018-05-19 20:38] huzaifaiftikhar commented on #1588
@teolemon I guess this is same as #1590
Can we close this one too?

[2018-05-19 20:38] teolemon opened #1592 "WARNING: Configuration 'compile' is obsolete"
WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html

[2018-05-19 20:38] teolemon opened #1593 "WARNING: Configuration 'provided' is obsolete"
WARNING: Configuration 'provided' is obsolete and has been replaced with 'compileOnly'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html

[2018-05-19 20:52] teolemon opened #1594 "Use placeholders for time as well"
[code]

[2018-05-19 21:04] huzaifaiftikhar commented on #1585
Closing as this has been already [fixed](https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/13beb55be7b53b6c8a7ad9533f94f730d3bb46d7).

[2018-05-19 21:04] #1585 closed

[2018-05-19 21:14] huzaifaiftikhar commented on #517
The splash screen is completely revamped and this must have been fixed. Could be reopened if issue still persists.

[2018-05-19 21:14] #517 closed

[2018-05-20 07:18] #1592 closed

[2018-05-20 07:18] #1593 closed

[2018-05-20 09:53] Karljoones opened #1597 "Contributor results load in and then disappear"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-05-20 14:23] teolemon opened #1599 "Share to Open Food Facts fails when the language is not English"
Share to Open Food Facts fails when the language is not English

[2018-05-20 15:40] jaindiv26 commented on #1579
@teolemon Hey man, I've thoroughly checked both the source build and the play store build, but this issue can't seem to occur, maybe it happened to you because of the application cache. Otherwise, everything seems to work perfectly

[2018-05-20 18:51] teolemon opened #1601 "Start fixing the ./gradlew lint backlog"
- [ ] Run ./gradlew lint
- [ ] Choose a theme, and claim it here first.
- [ ] Create a thematic PR with a few fixes.

[2018-05-21 09:44] teolemon opened #1602 "Categories are hard to click on in the Categories Explorer"
Categories are hard to click on in the Categories Explorer. The left part of the list doesn't seem clickable.

[2018-05-21 11:29] jaindiv26 commented on #1599
@teolemon In which language app fails and what build variant are you using obf, off, opf, opff ?

[2018-05-21 13:59] teolemon commented on #1599
OFF, French fails for instance.

[2018-05-22 07:36] teolemon opened #1608 "java.lang.RuntimeException"
[code]

[2018-05-22 07:38] teolemon commented on #1583
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/WifiUploadReceiver.java

[2018-05-22 07:38] jaindiv26 commented on #1599
I've tried changing many many languages and share the OFF content to many platforms (Whatsapp, Facebook, SMS, copy to clipboard) but never faced this issue! Well, at this point I can't seem to reproduce this issue if I'm missing something so as to reproduce this issue do let me know.

[2018-05-22 07:40] teolemon commented on #1599
It's inbound sharing (Share to, and not from). You can share photos from
your photo roll to Open Food Facts, and if they have a barcode, Open Food
Facts will try to add them to the right product.
----------------------------------------
Pierre Slamich - pierre@slamich.net - (+33) 6 02 13 14 57

On Tue, May 22, 2018 at 9:38 AM Divyansh Jain <notifications@github.com>
wrote:

[2018-05-22 07:51] jaindiv26 commented on #1599
@teolemon Do you also get the same result when the barcode is detected and when you click on the yes button, a toast pops up stating "Image will be uploaded when the network is available." but you are already connected to the network?

[2018-05-22 07:52] jaindiv26 commented on #1597
@Karljoones Can you give me your OFF user credentials, as that will help me a lot tracing the issue?

[2018-05-22 08:00] jaindiv26 commented on #1608
@teolemon This issue is the same as #443 & #377 Opened by you only on 12 Jan 17 & 2 Jan 17 Respectively. As I diagnosed this issue, I came to the conclusion that the issue is with the camera autofocus. I've tried to solve the issue but so far no luck.

[2018-05-22 08:01] teolemon commented on #1599
Yes. That's another bug, even in English.

[2018-05-22 08:06] jaindiv26 commented on #1599
@teolemon I'll try to solve this issue asap.

[2018-05-22 08:21] teolemon commented on #1608
Sorry, I tend to open a bug every time I see it.

[2018-05-22 09:30] teolemon commented on #1579
It has been fixed in 0.9.0.1

[2018-05-22 09:30] #1579 closed

[2018-05-22 11:02] stemy2 opened #1610 "Crash after entering the barcode, manually or by scan"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-05-22 11:08] teolemon commented on #1610
If it's version 0.9.0 from F-Droid, and that you're in French (or some language other than English), and that the app goes back to the main screen for new products, then a fix has been sent to F-Droid (and is live on the Play Store)

[2018-05-22 17:19] jaindiv26 commented on #1518
@teolemon Well, I'm working on this issue also, I've detected the root of the problem and if all goes well I'll be able to eliminate this issue. So please assign me this issue.

[2018-05-22 20:43] #1610 closed

[2018-05-22 21:41] #1597 closed

[2018-05-22 22:41] jubreal opened #1612 "Sign up button not working"
 
 
#### Expected behavior       Users should be able to sign up   when they click on the sign up button.
 
 
#### Actual behavior       The app refuse to respond to the   sign up button when it is clicked on, which means its not working.
 
 
#### How to reproduce
1.     Install, Launch and grant all necessary permissions   2.     Click on the menu slider icon (located in the top   left corner of

[2018-05-23 10:43] teolemon commented on #1612
See: https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/1361
We need it fixed and merged

[2018-05-23 10:44] teolemon opened #1613 "Update and merge PR 1353 (option to disable cropping)"
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/1353

[2018-05-23 10:44] teolemon opened #1614 "Update and merge PR 1453 (Additives Explorer)"
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/1453

[2018-05-23 14:44] teolemon opened #1616 "Refresh taxonomies only is the only file has changed"
- We currently refresh every 24 hours:
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/585b4561869360c73b22cc4b95edcb1e69628284/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashPresenter.java#L22
- We should only refresh if 'If-Modified-Since" is sent back
https://android.jlelse.eu/reducing-your-networking-footprint-with-okhttp-etags-and-if-modified-since-b

[2018-05-23 15:06] teolemon commented on #63
I was thinking about:
- [ ] checking the product state (state=categories-to-be-completed)
- [ ]  looking up the product names (name, common_name)
- [ ]  comparing that to the taxonomy JSON for categories that we have stored locally
- [ ]  If there is a match, display inline infotip
- [ ] if click on the infotip, display the popup
- [ ] if answer is yes, write the category back to the server with a

[2018-05-23 15:08] teolemon commented on #1612
@jubreal is your system language English ?

[2018-05-23 15:35] jubreal commented on #1612
Yes, it is English language.

On May 23, 2018 16:09, "Pierre Slamich" <notifications@github.com> wrote:

[2018-05-23 15:54] teolemon commented on #1518
Assigned. You can also see the nice to have improvements at
https://github.com/openfoodfacts/openfoodfacts-androidapp/labels/Share%20to%20Open%20Food%20Facts

[2018-05-23 15:59] teolemon commented on #1613
cc @Shubham2320

[2018-05-23 16:00] teolemon opened #1617 "Update and merge #1361 (login refactor)"
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/1361

[2018-05-23 22:43] huzaifaiftikhar commented on #395
Duplicate of #1551

[2018-05-23 22:43] #395 closed

[2018-05-24 09:22] teolemon opened #1619 "DialogException @ OpenFoodAPIClient.java:59"
[code]

[2018-05-24 09:23] teolemon opened #1620 "java.lang.NullPointerException at openfoodfacts.github.scrachx.openfood.views.product.ProductActivity.onCreateOptionsMenu (ProductActivity.java)"
[code]

[2018-05-24 09:39] jubreal commented on #1612
@jaindiv26 I've uninstalled and re-installed, but the issue still persist

[2018-05-24 11:11] teolemon opened #1622 "Add the Nutri-Score computation disclaimers about fruits… on the product pages"
Add a warning about lack of data to compute a perfect Nutriscore in the nutrition tab, below the Nutriscore.

[code]

Here's an example in the API:
The warnings are present in the JSON files: https://world.openfoodfacts.org/api/v0/product/3258561230221.json

[code]
Here's the server logic in Perl.

[code]
https://github.com/openfoodfacts/openfoodfacts-server/blob/44594f372a130a59332d26f07970fb4fe2

[2018-05-24 11:12] teolemon commented on #1622
The warnings are present in the JSON files: https://world.openfoodfacts.org/api/v0/product/3258561230221.json

[2018-05-24 12:25] teolemon opened #1623 "Image distorted on product addition page"
![image](https://user-images.githubusercontent.com/1689815/40485237-46250286-5f5e-11e8-8c90-050d9925898a.png)

[2018-05-24 12:26] teolemon opened #1624 "The "Share to Open Food Facts" barcode screen should show a keypad"
![image](https://user-images.githubusercontent.com/1689815/40485274-5e47977a-5f5e-11e8-8aeb-4bfea6572eac.png)

The "Share to Open Food Facts" barcode screen should show a keypad and not a regular keyboard

[2018-05-24 12:27] teolemon opened #1625 "The first image is not displayed in the "Share to Open Food Facts" modal"
![image](https://user-images.githubusercontent.com/1689815/40485330-86be7dfe-5f5e-11e8-994a-979a7389a857.png)
The first image is not displayed in the "Share to Open Food Facts" modal. It didn't have a barcode.

[2018-05-24 12:28] teolemon commented on #1522
![image](https://user-images.githubusercontent.com/1689815/40485374-a2b4a1e6-5f5e-11e8-845d-3c6e2a04fc54.png)
we can't read the barcode. Thus we should be able to zoom it.

[2018-05-24 12:29] teolemon opened #1626 "Remove the whitespace between ingredients and additives cards"
![image](https://user-images.githubusercontent.com/1689815/40485440-d1ead99e-5f5e-11e8-97b1-b549fc5c4a44.png)

[2018-05-24 12:29] teolemon opened #1627 "Remove the whitespace between cards"
![image](https://user-images.githubusercontent.com/1689815/40485466-e8b6c5c0-5f5e-11e8-8f0a-c1974528d5e8.png)

[2018-05-24 12:30] teolemon commented on #1414
step still exists in prod ??
![image](https://user-images.githubusercontent.com/1689815/40485519-09936e9c-5f5f-11e8-8fc1-5157c74cb8bb.png)

[2018-05-24 16:00] jaindiv26 commented on #1612
@jubreal is there any other bugs in the app..?

[2018-05-24 16:04] jubreal commented on #1612
I don't know yet. Because I'm yet to encounter any other bugs, but I'll
report it once I encounter another one.

On Thu, May 24, 2018, 17:01 Divyansh Jain <notifications@github.com> wrote:

[2018-05-24 20:55] huzaifaiftikhar opened #1628 "Remove error and warnings from build.gradle"
* ERROR : All android support libraries must use the exact same version. Mixing versions can lead to runtime crashes.
* WARNING : New version of android support library is available.
* WARNING : New version of android build tools (gradle) is avaliable.
* WARNING : New version of android test orchestrator is available.
* WARNING : New version of android test runner is available.
* WARNING : New ver

[2018-05-25 04:59] #1628 closed

[2018-05-25 06:27] teolemon commented on #1612
We are using Chrome custom tabs. There should be a fall back when chrome is not installed.
So digging this way is perhaps the solution.

[2018-05-25 06:43] jubreal commented on #1612
I am using chrome browser

On Fri, May 25, 2018, 07:27 Pierre Slamich <notifications@github.com> wrote:

[2018-05-25 17:48] #1627 closed

[2018-05-25 17:50] #1626 closed

[2018-05-25 20:11] #1624 closed

[2018-05-25 20:50] teolemon commented on #1625
Maybe if no barcode is detected within it.

[2018-05-26 11:45] teolemon opened #1633 "Add the gram unit in the calories calculator"
Add the gram unit in the calories calculator in the product page.

[2018-05-26 11:47] teolemon opened #1634 "Calculate all lines of the nutrition table with the Calorie calculator"
Discussed with someone who is diabetic yesterday. She would love to have all the values of the nutrition table calculated for the portion in the calorie calculator, because she needs glucose level for the portion she's eating.

[2018-05-26 13:43] teolemon opened #1636 "Cropped ingredient card"
![image](https://user-images.githubusercontent.com/1689815/40576729-7973a1a8-60fb-11e8-8548-50921c7f5048.png)
![image](https://user-images.githubusercontent.com/1689815/40576731-7d9f7766-60fb-11e8-94fe-0c7343aa7c06.png)
Product: 00901796

[2018-05-27 07:20] teolemon opened #1637 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.SaveProductOfflineActivity.onCreate (SaveProductOfflineActivity.java:83)"
Build 51 -  OnePlus One (A0001), 3072MB RAM, Android 6.0
[code]

[2018-05-27 07:24] teolemon opened #1638 "java.lang.NullPointerException @ openfoodfacts.github.scrachx.openfood.views.ProductBrowsingListActivity.a"
[code]

[2018-05-27 07:27] teolemon opened #1639 "java.lang.NullPointerException - openfoodfacts.github.scrachx.openfood.views.product.ingredients.IngredientsProductFragment.onAttach"
OnePlus One (A0001), 3072MB RAM, Android 6.0
[code]

[2018-05-27 07:36] teolemon commented on #1608
https://github.com/dm77/barcodescanner/issues/294 @jaindiv26

[2018-05-27 08:14] teolemon opened #1640 "startservice() and Android O"
[code]

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/fb8e6873e9c872a15f4ca1889560c6eaf65cb639/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/WifiUploadReceiver.java#L35

https://medium.com/blablacar-tech/our-migration-story-to-android-o-9210242cb5be

[2018-05-27 11:56] #1636 closed

[2018-05-27 13:09] huzaifaiftikhar commented on #1633
We already have gram, milligram, and kilogram unit in the calories calculator.

![videotogif_2018 05 27_18 35 58](https://user-images.githubusercontent.com/10832531/40586218-1b0ee978-61dd-11e8-9cb5-9752cd691844.gif)

[2018-05-27 17:15] teolemon opened #1644 "The category call is wrong when the app is in French"
```https://ssl-api.openfoodfacts.org/category/Maquereaux%20en%20conserve/1.json?fields=product_name,brands,quantity,image_small_url,nutrition_grade_fr,code```

This returns 0 results

The taxonomy stored is:
```"en:tinned-mackerels":{"parents":["en:canned-fishes","en:mackerels"],"name":{"en":"Tinned Mackerels","fr":"Maquereaux en conserve","nl":"Makreel in blik"}}```

As a result, the call should

[2018-05-28 09:21] teolemon commented on #1374
“https://world.*****/cgi/product_jqm2.pl?code=3700311800999&add_brands=XXXX&add_countries=en:france”

To try adding a brand without destructing the existing.

[2018-05-28 15:50] jaindiv26 commented on #1638
@teolemon At what product did this error occurred?

[2018-05-28 16:01] teolemon commented on #1638
No idea. Do you think we could instrument the app to get the barcode in those kind of cases ?

[2018-05-28 18:24] huzaifaiftikhar opened #1646 "App crashes on certain barcodes"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-05-29 08:23] #1646 closed, assigned to nobody

[2018-05-29 09:30] teolemon commented on #1633
We should add L, mL, I guess.

[2018-05-29 09:42] teolemon commented on #344
Done.

[2018-05-29 09:42] #344 closed

[2018-05-29 09:44] #224 closed

[2018-05-29 09:48] teolemon commented on #125
https://github.com/journeyapps/zxing-android-embedded/issues/211

[2018-05-29 09:48] teolemon commented on #125
poke @huzaifaiftikhar

[2018-05-30 07:37] teolemon opened #1651 "Change view name fro "OpenFoodFacts" to "Add new product" or "Open Food Facts""
![image](https://user-images.githubusercontent.com/1689815/40706065-edb8bac8-63ec-11e8-90fd-7354c44a0e79.png)

[2018-05-30 07:40] teolemon opened #1652 "Cardify/Materialize the offline mode"
https://user-images.githubusercontent.com/1689815/40706065-edb8bac8-63ec-11e8-90fd-7354c44a0e79.png

Use material fields and selectors

[2018-05-30 11:25] teolemon opened #1654 "Remove empty ingredient card in product addition mode"
![image](https://user-images.githubusercontent.com/1689815/40717521-ee50eda0-640c-11e8-8526-ffbdf57ad389.png)

[2018-05-30 11:26] teolemon opened #1655 "Remove gallery option in product addition mode"
![image](https://user-images.githubusercontent.com/1689815/40717545-0788e548-640d-11e8-9968-ffdacb8fd3a2.png)
Directly go to the camera, now that we have "Share to Open Food Facts"

[2018-05-30 11:27] teolemon opened #1656 "It should not be possible to add this as an allergen"
![image](https://user-images.githubusercontent.com/1689815/40717573-1bb137d2-640d-11e8-9b3d-ceb14443403e.png)

[2018-05-30 11:27] teolemon commented on #1656
![image](https://user-images.githubusercontent.com/1689815/40717591-306cd604-640d-11e8-9a81-51245c9cfe4c.png)

[2018-05-30 11:27] teolemon commented on #1656
poke @stephanegigandet

[2018-05-30 15:30] Karljoones opened #1657 "Reword Show Product photos tab"
The preference for the "show product photos tab" should be reworded

Or something similar, current wording sounds awkward.

This should also be bunched under "contributing" along with "show contribution tab" as these are both related preferences.

[2018-05-30 20:03] teolemon opened #1658 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.utils.Utils.HttpClientBuilder"
[code]

[2018-05-30 20:51] teolemon opened #1659 "Reenable additives detection for Open Beauty Facts"
Reenable additives detection for Open Beauty Facts.

[2018-05-31 06:56] teolemon commented on #1357
@PrajwalM2212 We just got an ingredients taxonomy live for Open Beauty Facts: https://static.openbeautyfacts.org/data/taxonomies/ingredients.json
So you can get the ingredient IDs from the product see above, and enrich them from the taxonomy, including the Wikidata system.

I'm not sure if a clickable ingredient list (or a list (like in the category explorer)) is the best solution.

[2018-05-31 06:57] teolemon commented on #1357
[code]

[2018-05-31 07:07] teolemon commented on #191
We now have the taxonomy to translate the field:
https://static.openbeautyfacts.org/data/taxonomies/periods_after_opening.json

[2018-06-01 09:29] teolemon commented on #210
![image](https://user-images.githubusercontent.com/1689815/40833742-10fdab62-658f-11e8-8375-3e36867c2124.png)

[2018-06-01 18:27] teolemon opened #1663 "Make vitamins, minerals and other substances clickable"
Make vitamins, minerals and other substances clickable
https://static.openfoodfacts.org/data/taxonomies/minerals.json
https://static.openfoodfacts.org/data/taxonomies/vitamins.json

[2018-06-02 14:50] SantosSi opened #1664 "On a LineageOS 14.1 scanning a barcode shows no camera image."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-06-02 15:48] teolemon commented on #1664
- Was 0.9.0.1 working ?
- We're about to change the scanning library. Willing to test the experimental version ?

[2018-06-02 18:33] SantosSi commented on #1664
No. Not sure since when I tested, but it never worked on LineageOS on that smartphone model.
Sure, if I can download the compiled apk.

[2018-06-03 19:44] #1657 closed

[2018-06-04 07:15] SaumiaSinghal commented on #1491
Hie @teolemon, I would like to work on this issue. Can you assign it to me?

[2018-06-04 08:39] janmiga commented on #1658
Background:
* we set targetSdkVersion to 27: https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/327b445102b3ebe3ffc030317f3998065e28c962/app/build.gradle
* this causes startService to fail as the app is no longer always allowed to start background services: https://stackoverflow.com/a/46445436
* this means that the fix here is implementing [WifiService](https://github.com/openfoodfacts

[2018-06-04 08:40] janmiga commented on #1583
Background:
* we set targetSdkVersion to 27: https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/327b445102b3ebe3ffc030317f3998065e28c962/app/build.gradle
* this causes startService to fail as the app is no longer always allowed to start background services: https://stackoverflow.com/a/46445436
* this means that the fix here is implementing [WifiService](https://github.com/openfoodfacts

[2018-06-04 08:47] janmiga commented on #1658
Background:
* [Utils.hideKeyboard](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/19dc39c756aeefd04b2379ffa1a19ea0d11bc94c/app/src/main/java/openfoodfacts/github/scrachx/openfood/utils/Utils.java) is the only method of the Utils class called from [SaveOfflineSummaryFragment.getProduct](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/88150695a107d8c911e7d384482f4174a7

[2018-06-04 10:55] SaumiaSinghal commented on #842
Hie @teolemon, I would like to work on this issue.

[2018-06-04 13:51] teolemon commented on #1658
Nice catch. Can you create a PR ? This one is a blocker.

[2018-06-04 14:08] teolemon commented on #842
You can go ahead. During a test, I couldn't see the spinner on latest trunk though.

[2018-06-04 14:11] #1491 closed

[2018-06-04 14:46] teolemon opened #1670 "Small tweak"
The product %1$s you scanned does not exist yet in Open Food Facts. Please add it.

The product %1$s you scanned does not exist yet in Open Food Facts. Can you add it ?

[2018-06-04 19:20] #1670 closed

[2018-06-04 19:50] SaumiaSinghal commented on #842
Yes, exactly, me too. I will go through the code and will try to fix that.

[2018-06-06 09:53] teolemon commented on #825
I was thinking of a lateral scrolling list of products, with their nutriscore

[2018-06-06 10:24] teolemon opened #1676 "Turn Loading… into Initial loading… on splash screen"
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/585b4561869360c73b22cc4b95edcb1e69628284/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/splash/SplashActivity.java#L70

Make it clear that the long loading will only happen once.
Turn Loading… into Initial loading… on splash screen

[2018-06-06 13:51] paritosh-gupta commented on #1583
Working on it :)

[2018-06-06 18:53] teolemon commented on #1565
https://developer.android.com/guide/slices/getting-started#run-the-slice-viewer
It seems they now have a tutorial and a simulator

[2018-06-06 19:35] janmiga commented on #1658
Solved by https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/1675
This issue can be closed now

[2018-06-07 17:34] #842 closed

[2018-06-07 21:15] huzaifaiftikhar opened #1680 "Travis CI build failing"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-06-07 21:15] huzaifaiftikhar commented on #1680
I am working on this

[2018-06-07 22:18] teolemon commented on #1664
@SantosSi Does 0.9.0.3 work better ?

[2018-06-07 22:22] #1680 closed

[2018-06-08 05:25] SaumiaSinghal opened #1683 "Travis-Ci Build error"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-06-08 06:55] huzaifaiftikhar commented on #1683
Already fixed in #1681

[2018-06-08 06:55] #1683 closed

[2018-06-08 09:58] SantosSi commented on #1664
Dear Pierre,
Yes, it is working now: it shows the
camera image and also successfully
scans barcodes.

[2018-06-08 10:01] #1664 closed

[2018-06-08 10:55] SaumiaSinghal commented on #1108
Hie @Karljoones, if it's still open and not yet fixed, i would like to work on it.

[2018-06-08 11:15] teolemon commented on #1108
It's actually done. But you have other open bugs in the "clickability of values" tag

[2018-06-08 11:41] teolemon opened #1685 "java.lang.NullPointerException: at android.support.design.widget.BottomSheetBehavior.findScrollingChild (BottomSheetBehavior.java)"
[code]

[2018-06-08 11:42] SaumiaSinghal commented on #1663
Hie @teolemon, I would like to work on this issue..

[2018-06-08 11:43] teolemon commented on #1663
You can go ahead. The behaviour is very much the same as additives, and you can reuse code from there, but the taxonomies used are the ones above.

[2018-06-08 12:28] teolemon commented on #1583
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/1640

[2018-06-08 12:29] teolemon commented on #1583
thanks @paritosh-gupta
I've stalled the deploy of V2 at 5%
Do you think you'd be able to push a fix soon ?

[2018-06-08 13:05] teolemon commented on #1553
![image](https://user-images.githubusercontent.com/1689815/41159607-5d98d444-6b2d-11e8-8b06-19a43d2bf90b.png)

[2018-06-08 13:09] teolemon commented on #1553
![image](https://user-images.githubusercontent.com/1689815/41159796-f9cce35a-6b2d-11e8-9020-0d210f6483a6.png)

[2018-06-08 13:10] teolemon commented on #1553
![image](https://user-images.githubusercontent.com/1689815/41159829-1617db0a-6b2e-11e8-9bd9-eba629a8be5f.png)

[2018-06-08 13:23] SantosSi opened #1686 "Error when uploading additional photos with mobile Firefox on Android/LineageOS"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-06-09 07:10] teolemon commented on #1658
Got a crash yesterday with the new version

[code]

[2018-06-09 08:32] teolemon opened #1689 "Slide down from scan screen to go back to main view"
Being able to slide down from scan screen to go back to main view

[2018-06-09 20:12] teolemon opened #1692 "java.lang.ArrayIndexOutOfBoundsException (version 53)"
[code]

[2018-06-09 20:12] teolemon commented on #1692
Today, 5:45 PM on app version 53
Google Pixel (sailfish), 4096MB RAM, Android API 28
Report 1 of 1

[2018-06-10 09:59] #1658 closed

[2018-06-10 10:29] huzaifaiftikhar commented on #1589
Duplicate of #1658

[2018-06-10 10:29] #1589 closed

[2018-06-10 12:34] teolemon commented on #1644
This is the location of the call
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/a8bd60e7dcc5c1a21e8c4e3dc17be0f80395e703/app/src/main/java/openfoodfacts/github/scrachx/openfood/network/OpenFoodAPIService.java#L198

[2018-06-10 13:19] SaumiaSinghal commented on #1663
Hie @toelman, i was wondering, should I create a separate database for Minerals and Vitamins, just like the one for additives..?

[2018-06-10 13:46] teolemon commented on #206
Claimed by Louis-Gabriel @lgz

[2018-06-10 13:56] teolemon commented on #1663
I guess so (like Categories, Labels, Additives, if I'm right).

[2018-06-10 13:58] teolemon commented on #1659
The code should already be there, so it should be an easy fix.

[2018-06-10 14:01] teolemon commented on #589
Closed. See #1342

[2018-06-10 14:01] #589 closed

[2018-06-10 14:02] teolemon commented on #206
Claimed by @Ektos see #1342

[2018-06-10 14:02] #206 closed

[2018-06-10 14:04] teolemon commented on #1686
This is a server-side bug, but leaving it open until we fix it. Can you tell me: any reason you didn't use the "Add more photos" button ?

[2018-06-10 14:23] teolemon opened #1694 "java.lang.NullPointerException : at openfoodfacts.github.scrachx.openfood.views.HistoryScanActivity"
[code]

[2018-06-10 17:50] SantosSi commented on #1686
Now this works directly in the new version of the app. Before the app redirected to mobile Firefox where this problem appeared.

[2018-06-10 21:37] rudrankriyam opened #1695 "Words cropping in the tagline 'the free food products database'"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-06-11 13:42] SaumiaSinghal commented on #1695
Hie @snuff4, I tried to regenerate this issue on Google Pixel XL , running 8.1, but couldn't find any such problem. However, if we simply set the height of textview as wrap content and define a textsize then, i don't think that we'll face such kind of issue in future.

[2018-06-11 13:54] SaumiaSinghal commented on #1689
Hie @teolemon, I am working on this issue.

[2018-06-11 18:40] SaumiaSinghal commented on #1655
Hie @teolemon, I am working on this issue.

[2018-06-12 11:18] teolemon commented on #1583
@paritosh-gupta any update ?

[2018-06-13 01:31] snuff4 commented on #1695
Hello @SaumiaSinghal I used the beta version available on the Play Store. Let me build it on my phone on the latest master.
And in the screenshot in #1696, I think the tagline of the logo should be in a single line, like this -
![screen shot 2018-06-13 at 6 58 24 am](https://user-images.githubusercontent.com/30552772/41325378-8af5dd4e-6ed7-11e8-8fb4-2d13edb63155.png)

[2018-06-13 01:42] SaumiaSinghal commented on #1695
Hie @snuff4, sorry for those unnecessary commits, but actually i was trying to fix the travis build error. But, as that is solved now, please test it with my latest commit. Thanks..:)

[2018-06-13 02:06] snuff4 commented on #1695
@teolemon @huzaifaiftikhar isn't it in a single line?

[2018-06-13 07:15] teolemon commented on #1644
Initial bug: #1306

[2018-06-13 07:16] teolemon commented on #1306
@l-o-b-s-t-e-r it's actually a wrong call in languages, see #1644 for more details.

[2018-06-13 14:55] teolemon opened #1701 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.models.Nutriments.get"
java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.models.Nutriments.get (Nutriments.java)
  at openfoodfacts.github.scrachx.openfood.views.product.nutrition_details.NutritionInfoProductFragment.access$000 (NutritionInfoProductFragment.java)
  or                     .getNutrimentItems (NutritionInfoProductFragment.java)
  or                     .lambda$onRequestPermissionsR

[2018-06-13 14:56] teolemon opened #1702 "(26 crash reports) android.app.RemoteServiceExceptiona"
android.app.RemoteServiceExceptiona :
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:2095)
  at android.os.Handler.dispatchMessage (Handler.java:109)
  at android.os.Looper.loop (Looper.java:166)
  at android.app.ActivityThread.main (ActivityThread.java:7367)
  at java.lang.reflect.Method.invoke (Method.java)
  at com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run (R

[2018-06-13 19:55] SaumiaSinghal commented on #1654
Hie @teolemon, I am working on this.

[2018-06-13 20:30] ross-holloway94 commented on #693
This issue can be closed. Cannot see how to do it on Fasthub though.

[2018-06-14 05:13] paritosh-gupta commented on #1583
Sorry about that got caught up in work. Let me see if I can push this out in a couple of hours.
If not then maybe it will take a week or so.

[2018-06-14 12:56] teolemon opened #1708 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.fragments.SaveOfflineSummaryFragment.getProduct (SaveOfflineSummaryFragment.java)"
Caused by: java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.fragments.SaveOfflineSummaryFragment.getProduct (SaveOfflineSummaryFragment.java)
  at openfoodfacts.github.scrachx.openfood.views.SaveProductOfflineActivity.lambda$onRequestPermissionsResult$5$SaveProductOfflineActivity (SaveProductOfflineActivity.java)
  or                     .saveProduct (SaveProductOfflineAc

[2018-06-14 13:10] #1655 closed

[2018-06-14 23:03] milancheee opened #1711 "If English is default system language app ignores app language option chosen in app"
![screenshot_2018-06-14-20-43-49-071_openfoodfacts github scrachx openfood](https://user-images.githubusercontent.com/11298427/41442285-c4514d8e-7036-11e8-86a0-70b2dc7bd2a3.png)

Here is an example. URL to the product: https://world.openfoodfacts.org/product/8600043001105/plazma-mlevena-bambi

[2018-06-15 08:17] teolemon commented on #1695
Yup. Justified with the edges of the barcode

[2018-06-15 14:08] teolemon commented on #1702
https://stackoverflow.com/questions/46771521/android-app-remoteserviceexception-bad-notification-posted-on-huawei-y6/48518536

[2018-06-16 07:23] teolemon opened #1714 "Allow searching for uncategorized product if the category is empty"
Allow searching for uncategorized products with the name of the category if the category is empty.
A nice plus would be to allow the logged-in user to add some of the results of that search to the category

[2018-06-16 16:52] teolemon opened #1716 "openfoodfacts.github.scrachx.openfood requested task be persisted for tag: 'upload_saved_product_job' but does not hold the permission android.permission.RECEIVE_BOOT_COMPLETED. This task won't be persisted."
[code]

[2018-06-17 18:55] #421 closed

[2018-06-17 18:59] teolemon opened #1717 "(Draft) Create a section to download list of additives risks"
(Draft) Create a section to download list of additives risks

This needs to :
- propose available additives risks lists
- the available lists should be refreshable from the Open Food Facts server
- let the user delete downloaded lists
- let the user enable or disable display of downloaded lists on the product page

[2018-06-17 19:01] teolemon opened #1718 "(Draft) Display the risk status of the additives according to the user's selected risk lists"
(Draft) Display the risk status of the additives according to the user's selected risk lists
The user can select several risk lists as described by #1717
The product page should display the additives with information from those risk lists.

[2018-06-17 19:19] teolemon opened #1719 "android.content.ActivityNotFoundException at openfoodfacts.github.scrachx.openfood.views.customtabs.WebViewFallback.openUri (WebViewFallback.java)"
[code]

[2018-06-17 19:22] teolemon opened #1720 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.splash.SplashActivity.navigateToMainActivity (SplashActivity.java)"
Today, 10:01 AM on app version 280
Samsung Galaxy TabS 8.4 (klimtlte), 3072MB RAM, Android 6.0

[code]

![image](https://user-images.githubusercontent.com/1689815/45595890-4607c900-b9b3-11e8-877b-d1b61be18274.png)

[2018-06-17 19:23] teolemon opened #1721 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.fragments.SaveOfflineSummaryFragment.getProduct (SaveOfflineSummaryFragment.java)"
java.lang.RuntimeExceptionj :

Caused by: java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.fragments.SaveOfflineSummaryFragment.getProduct (SaveOfflineSummaryFragment.java)
  at openfoodfacts.github.scrachx.openfood.views.SaveProductOfflineActivity.lambda$onRequestPermissionsResult$5$SaveProductOfflineActivity (SaveProductOfflineActivity.java)
  or                     .sa

[2018-06-17 19:24] teolemon opened #1722 "MaterialDialog$DialogException: at openfoodfacts.github.scrachx.openfood.network.OpenFoodAPIClient$1.a (OpenFoodAPIClient.java:59)"
[code]

[code]

[2018-06-17 20:11] ross-holloway94 commented on #1689
Merged in #1697

[2018-06-17 20:11] #1689 closed

[2018-06-18 10:23] teolemon opened #1723 "Language are mixed when changing phone language"
![image](https://user-images.githubusercontent.com/1689815/41531042-665891a6-72f2-11e8-817d-2688d98a99ab.png)

[2018-06-18 10:27] teolemon opened #1724 "Product images should honor the language of the app, not the language of the phone"
Product images should honor the language of the app, not the language of the phone.
A user reported using the app in Romanian, with his phone set to English.
His photos are uploaded as English photos. His photos should be uploaded as Romanian photos.

[2018-06-18 10:54] teolemon opened #1725 "The edit button in Romanian sends users to English version"
The edit button in Romanian sends users to English version.

[2018-06-18 11:02] ross-holloway94 commented on #1583
Working on this as a priority as it is causing users to uninstall.

[2018-06-18 12:47] #1583 closed

[2018-06-18 19:49] #1701 closed

[2018-06-19 09:43] teolemon opened #1737 "typo"
You should add atleast one picture before submitting this product
<
You should add at least one picture before submitting this product

[2018-06-19 14:20] androlover98 commented on #1737
I would like to work on this issue.

[2018-06-20 14:36] #1702 closed

[2018-06-20 23:36] teolemon opened #1741 "(19 crash reports) java.lang.NullPointerException: at android.support.design.widget.BottomSheetBehavior.a"
[code]

[2018-06-21 09:58] stephanegigandet opened #1744 "Improve allergens and traces detection from ingredients lists"
We have 2 fields for allergens: allergens and traces. The value of the allergens field is created from the ingredients list of the main language of the product, and the values of the traces field are coming from users in the traces field of the product edit form.

Bug #1238 is going to change how the fields are populated: both allergens and traces will be extracted from the ingredients list, and u

[2018-06-21 09:59] stephanegigandet commented on #1744
wrong repo, sorry

[2018-06-21 09:59] #1744 closed

[2018-06-24 06:53] #1654 closed

[2018-06-25 14:56] teolemon opened #1746 "(27 crash reports) java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.views.BaseActivity.onCreate"
[code]

[code]

[2018-06-25 14:58] teolemon commented on #1746
Only seems to impact Huawei devices.

[2018-06-25 15:14] teolemon opened #1747 "android.database.sqlite.SQLiteException org.greenrobot.greendao.database.DatabaseOpenHelper.getWritableDb"
[code]
[code]

[2018-06-25 15:16] teolemon commented on #1747
Andy_5EL2_LTE, Android 6.0

[2018-06-25 15:18] teolemon opened #1748 "java.lang.NullPointerException: at pl.aprilapps.easyphotopicker.EasyImage$Configuration.saveInAppExternalFilesDir"
[code]

[2018-06-25 15:19] teolemon commented on #1748
Samsung Galaxy TabS 8.4 (klimtlte), 3072MB RAM, Android 6.0

[2018-06-29 16:42] teolemon opened #1750 "The Hebrew locale doesn't work"
The Hebrew locale doesn't work.
Probably: https://stackoverflow.com/questions/8393771/android-not-using-finding-my-hebrew-localization

[2018-06-29 18:38] teolemon commented on #1737
Fixed.

[2018-06-29 18:38] #1737 closed

[2018-06-30 11:02] teolemon opened #1753 "Reenable categories for Open Products Facts"
We now have categories for Open Products Facts :-)
Thus: Reenable categories for Open Products Facts

[2018-06-30 17:20] teolemon opened #1754 "Make it possible to change the scanning engine"
Several people have been reporting that Open Food Facts doesn't scan/focus on their device anymore.
We should make it possible to change the scanning engine to the device built-in scanner.

[2018-07-01 10:31] Rutvikmodi opened #1757 "Login issue"
App shows logged in even if user enters wrong credentials.

Enter wrong credentials and then press Sign in button. As expected the the toast shows "Username or Password may be incorrect".
Then press back button from Toolbar and again press sign in option from side menu. The app produces alert message "Already logged in".

**Expected behavior:**

Alert message should not occur.

**Device and Androi

[2018-07-01 11:31] teolemon opened #1758 "Add a placeholder in the Nutrition Summary tab"
Add a placeholder in the Nutrition Summary tab when the nutrition table is not completed.
Show what it would look like if the table was completed.

[2018-07-01 18:46] teolemon opened #1759 "Reword the Crop button"
People are confused by the crop button and end up clicking the left arrow.
Reword the "Crop" button into a Check ✔︎

[2018-07-01 19:56] teolemon commented on #1357
@PrajwalM2212 The idea is that it would work very much like the current Wikidata system we have on click.
Option 1: We could either recreate the ingredient list in a clickable, colored version.
Option 2: Vertical list of all the ingredients, where each ingredient can be expanded for more information.

[2018-07-01 20:38] teolemon commented on #545
[code]

[2018-07-01 20:38] teolemon commented on #545
We can do it client side

[2018-07-02 07:28] #1588 closed

[2018-07-02 08:33] ross-holloway94 opened #1760 "Screenshots appear to be broken in readme.MD"

[2018-07-02 08:57] teolemon commented on #1760
Weird:
![image](https://user-images.githubusercontent.com/1689815/42154673-abb5db60-7de6-11e8-8b6a-18b845d6b411.png)

[2018-07-02 08:58] ross-holloway94 commented on #1760
![2018-07-02 09_57_48-greenshot](https://user-images.githubusercontent.com/20950727/42154735-730d4292-7dde-11e8-87ec-3390d560f4d0.png)
Firefox 61.0

[2018-07-02 10:08] Rutvikmodi opened #1761 "Unexpected Login of user"
User enters wrong credentials then also when again entering the app it shows "Logout.." instead of "Sign in" in side menu.

How can we reproduce the issue?

First enter wrong credentials for eg: username = "abcdefgh" password = "abcdefgh".

![screenshot_2018-07-02-15-15-47-490_openfoodfacts github scrachx openbeauty](https://user-images.githubusercontent.com/34269503/42157742-35abc7c4-7e0c-11e8-8a

[2018-07-02 14:37] ross-holloway94 commented on #1761
assigned to @Rutvikmodi

[2018-07-04 09:14] teolemon opened #1763 "Display a warning in the OBF flavor is one of the ingredients has a parent labelled as an allergenic substance"
https://static.openbeautyfacts.org/data/taxonomies/ingredients.json
```"en:limonene":{"name":{"fr":"Limonene","en":"Limonene"},"parents":["en:allergenic-fragrances"]}```

https://world.openbeautyfacts.org/api/v0/product/3517360002492.json

[2018-07-04 13:05] teolemon commented on #1719
Still an issue on latest trunk

[2018-07-04 13:06] teolemon commented on #1741
Only seems to impact Android 8.0

[2018-07-04 13:07] teolemon commented on #1741
https://stackoverflow.com/questions/35906125/nullpointerexeption-with-appcompat-bottomsheets

[2018-07-04 16:53] teolemon opened #1764 "Add ingredient explorer for Open Beauty Facts"
Open Beauty Facts has 20K+ ingredients. Add an ingredient explorer for Open Beauty Facts to let people better explore and understand cosmetic ingredients.

[2018-07-05 16:06] huzaifaiftikhar commented on #1760
Reproducible on Firefox Web Browser 59.0.2 (64-bit)
Ubuntu 18.04 LTS

[2018-07-06 08:54] #1761 closed

[2018-07-06 11:14] jaindiv26 commented on #1759
@teolemon Cropping the image is a part of Cropper library(https://github.com/ArthurHub/Android-Image-Cropper), that's why we cannot reword the crop button.

[2018-07-08 20:12] resid9406 commented on #1757
With the latest version, I cannot replicate this problem for the application.
I guess this issue could be closed.

[2018-07-08 20:18] ross-holloway94 commented on #1757
@Rutvikmodi would this have been fixed in #1762 ?

@resid9406 Latest release, or current build?

[2018-07-08 20:31] resid9406 opened #1768 "Bug - Broken Authentication - Weak password credential"
When you create a new user, the app allows you to type weak passwords for your credentials.
If the app storage users information, security must be implemented.

**Steps to reproduce:**

create a new user and type password, with no verification of security

**Expected behavior:**

Implement weak-password checks, such as testing new or
changed passwords against common words

**Observed behavior:**

[2018-07-08 21:10] resid9406 commented on #1768
Once logged with your credentials, not always save your in formation in the application

I have enter my user and password and then the application shows me:

![image](https://user-images.githubusercontent.com/17255390/42423982-4cfb4fa0-82c9-11e8-93f1-7a633959cddb.png)

Let my find the solution in the side of the application.
So I can create the PR if you haven't solved it.

[2018-07-13 23:21] #1759 closed

[2018-07-15 07:04] huzaifaiftikhar commented on #1608
We don't use this library anymore. Closing the issue.

[2018-07-15 07:04] #1608 closed

[2018-07-15 07:04] huzaifaiftikhar commented on #443
We don't use this library anymore. Closing the issue.

[2018-07-15 07:04] #443 closed

[2018-07-15 07:13] huzaifaiftikhar commented on #1524
We don't have a separate quick scan mode anymore. Closing the issue.

[2018-07-15 07:13] #1524 closed

[2018-07-15 07:33] huzaifaiftikhar commented on #1162
Fixed in #1600

[2018-07-15 07:33] #1162 closed

[2018-07-15 07:38] #953 closed

[2018-07-16 19:17] #1694 closed

[2018-07-18 19:52] ross-holloway94 opened #1778 "Suggestion: Implement Google smart lock for login"
As suggested [here](https://www.androidpolice.com/2018/03/05/google-smart-lock-passwords-underused-underrated-wish-android-developers-implemented/)

[2018-07-18 19:54] ross-holloway94 commented on #1768
@teolemon I feel this should be implemented higher up than just the Android app.

[2018-07-18 20:40] teolemon commented on #1778
Does it require Google Play Services ? Is there a fallback ?

[2018-07-18 22:02] ross-holloway94 commented on #1778
@teolemon I think I may have brought this up before somewhere actually. Not sure, I'd need to look into it more.

[2018-07-19 16:36] teolemon opened #1780 "Short term memory and comparison of products"
Feature idea for Android app : a way for the app to remember what I scanned earlier and compare it with what I scan now.
For example, if I scan a bottle of Pepsi, then  a bottle of Lemonade 10 minutes after, it would be nice if the app tells me "It's 10% less sweet than the bottle of Pepsi"
Particularly useful at the supermarket when I can't choose between two products

[2018-07-19 16:36] teolemon commented on #1780
@tacitefood for the idea

[2018-07-20 18:22] ross-holloway94 commented on #1757
Fixed with #1762

[2018-07-20 18:22] #1757 closed

[2018-07-23 11:32] #1760 closed

[2018-07-24 18:08] #1634 closed

[2018-07-29 15:20] #126 closed

[2018-07-29 15:20] #455 closed

[2018-07-29 15:20] #987 closed

[2018-07-29 15:20] #1553 closed

[2018-07-29 15:20] #1554 closed

[2018-07-29 15:20] #1623 closed

[2018-07-29 15:20] #1637 closed

[2018-07-29 15:20] #1652 closed

[2018-07-29 15:20] #1708 closed

[2018-07-29 15:20] #1721 closed

[2018-07-29 15:20] #1724 closed

[2018-07-30 12:32] huzaifaiftikhar commented on #1258
Closed in #1712

[2018-07-30 12:32] #1258 closed

[2018-07-30 12:34] #479 closed

[2018-07-30 12:49] huzaifaiftikhar commented on #920
Search has been removed from preferences (settings)

[2018-07-30 12:49] #920 closed

[2018-07-30 12:50] huzaifaiftikhar commented on #1374
Fixed in #1712

[2018-07-30 12:50] #1374 closed

[2018-07-30 12:51] huzaifaiftikhar commented on #476
Closed in #1712

[2018-07-30 12:51] #476 closed

[2018-07-30 12:52] huzaifaiftikhar commented on #448
Closed in #1712

[2018-07-30 12:52] #448 closed

[2018-07-30 13:00] huzaifaiftikhar commented on #109
@teolemon Can we close this now?

[2018-07-30 13:02] huzaifaiftikhar commented on #74
Fixed in #1712

[2018-07-30 13:02] #74 closed

[2018-07-30 17:23] teolemon opened #1799 "Shake to scan seems broken"
Shake to scan seems broken
Open Pet Food Facts, latest version

[2018-08-02 21:42] SantosSi opened #1805 "Product name appears for English although German selected"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-08-05 12:58] #1805 closed

[2018-08-05 15:21] huzaifaiftikhar opened #1808 "android.view.InflateException"
#### Device
Archos 101 Neon (A101NE), Android 4.2

#### Log
[code]

[2018-08-06 17:12] jaindiv26 commented on #1778
@teolemon I've implemented the Google Smart Lock for Password. But should I trigger the credential dialogue box in onStart method or on email EditText click?

![screenshot_1533575260](https://user-images.githubusercontent.com/32436867/43730724-eb3db966-99c9-11e8-821f-4aec313d32db.png)

[2018-08-06 18:05] ross-holloway94 commented on #1778
@jaindiv26 I would suggest onStart (or onCreate if it's called that) personally. Minimises user input that way. Thanks for working on it :)

[2018-08-07 17:13] huzaifaiftikhar opened #1813 "Make the quickview displayed in the scanner slide up to display the complete product details"
**Summary:**
When scanning a product the key information is displayed on the bottom sheet (quick view). Clicking this opens the complete details about that product. Instead of this behaviour make the bottom sheet swipe up (similar to Google Maps and Play Music) to display the complete details about the instead of clicking it.

[2018-08-07 17:14] huzaifaiftikhar commented on #1552
The UI of the scan fragment was completely redesigned in the PR #1618. A bottom sheet was developed to display the key information about the product. The bottom sheet can be dismissed by sliding down however due to some issues which I have already mentioned in the [weekly report](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/PROJECTS/GSOC-2018-huzaifa/STATUS.md), I was not

[2018-08-07 17:14] #1552 closed

[2018-08-07 19:19] #1808 closed

[2018-08-08 16:35] #252 closed

[2018-08-12 17:51] #1555 closed

[2018-08-12 18:03] #1753 closed

[2018-08-13 08:26] teolemon opened #1821 "RTL issue in product edit and addition"
![image](https://user-images.githubusercontent.com/1689815/44020814-636b2e50-9ee3-11e8-9a79-f56810f7fd34.png)

[2018-08-13 08:36] teolemon commented on #1722
[code]

[2018-08-13 08:41] teolemon opened #1823 "java.lang.ArrayIndexOutOfBoundsException - android.text.SpannableStringBuilder.getSpansRec"
Samsung Galaxy S7 edge (hero2lte), Android 8.0

[code]

[2018-08-13 08:42] teolemon opened #1824 "java.lang.NoSuchMethodError org.greenrobot.greendao.internal.DaoConfig.<init>"
Sony Xperia Z3 (D6603), Android 6.0
[code]

[2018-08-13 08:44] teolemon opened #1825 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductNutritionFactsFragment.a"
Sony Xperia XZ1 Compact (G8441), Android 8.0
[code]

[2018-08-13 08:45] teolemon opened #1826 "java.lang.IllegalStateException android.widget.TextView.onKeyUp"
BlackBerry PRIV by BlackBerry (venice), Android 6.0
[code]

[2018-08-13 08:48] teolemon opened #1827 "signal 11 (SIGSEGV), code 1 (SEGV_MAPERR) base.odex"
Andy_5EL2_LTE, Android 6.0

[code]

[2018-08-13 08:49] teolemon commented on #1692
Still here in 287

[2018-08-13 09:04] teolemon opened #1828 "com.afollestad.materialdialogs.MaterialDialog$DialogException openfoodfacts.github.scrachx.openfood.network.OpenFoodAPIClient$1.lambda$onFailure$2$OpenFoodAPIClient$1"
Aug 7, 9:04 PM on app version 287
Samsung Galaxy J3(2017) (j3y17lte), Android 7.0
[code]

[2018-08-13 15:29] teolemon opened #1830 "Change the comment string according to Flavor"
Change the comment string according to Flavor

Official OFF Android app (for Open Food Facts)
Official OBF Android app (for Open Beauty Facts)
Official OPF Android app (for Open Products Facts)
Official OPFF Android app (for Open Pet Food Facts)

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/39d33af3f3715c94508b8ee5329278f1a2e8418b/app/src/main/java/openfoodfacts/github/scrachx/op

[2018-08-15 08:42] jaindiv26 commented on #1830
@teolemon I don't understand what this is. Can you elaborate which comment string you are referring to and what kind of changes has to be done?

[2018-08-15 14:14] yarons opened #1832 "RTL Direction for all products"
**Summary:**

Hebrew, Farsi and Arabic are written in the opposite direction, we need to adjust the entire UI experience (Not only the mobile app but also the website) to support RTL directionality.

**Steps to reproduce:**

Switch to Hebrew, Farsi or Arabic.

**Expected behavior:**

When Hebrew, Farsi or Arabic is selected the app should flip horizontally.
As an example (Firefox 13 for iOS):
Hebr

[2018-08-15 18:36] teolemon opened #1835 "java.lang.NullPointerException: at openfoodfacts.github.scrachx.openfood.fragments.HomeFragment$1.a"
18 minutes ago on app version 289
Xiaomi Mi A1 (tissot_sprout), Android 8.1
Report 1 of 1
java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.fragments.HomeFragment$1.a (HomeFragment.java:6)
  at retrofit2.ExecutorCallAdapterFactory$ExecutorCallbackCall$1$1.run (ExecutorCallAdapterFactory.java:41)
  at android.os.Handler.handleCallback (Handler.java:790)
  at android.os.Hand

[2018-08-17 07:48] teolemon opened #1836 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductNutritionFactsFragment.access$002"
[code]
[code]

[code]

[2018-08-17 07:53] teolemon opened #1837 "java.lang.NullPointerException: at android.os.Parcel.readException"
[code]

[code]

[code]

[2018-08-17 07:54] teolemon opened #1838 "java.lang.NullPointerException android.app.ActivityThread.updateLocaleListFromAppContext"
[code]

[code]

[2018-08-17 07:58] teolemon opened #1839 "java.util.MissingFormatArgumentException openfoodfacts.github.scrachx.openfood.views.product.CalculateDetails.onCreate"
Probably due to an outdated translation with 2 variables instead of one

[code]
[code]

[2018-08-17 08:25] teolemon opened #1840 "Support all EU languages"
In preparation for an event, we need to support all EU languages.
We don't support Estonian, Slovak, lithuanian, maltese, maltese. Full list @ http://europa.eu/

[2018-08-17 08:29] teolemon commented on #1840
Slovak

[2018-08-17 08:30] teolemon commented on #1840
lithuanian

[2018-08-17 08:31] teolemon commented on #1840
maltese

[2018-08-17 08:32] teolemon commented on #1840
check bg

[2018-08-18 20:54] teolemon opened #1843 "java.lang.ArrayIndexOutOfBoundsException openfoodfacts.github.scrachx.openfood.views.HistoryScanActivity.onRightClicked"
[code]

[code]

[2018-08-18 21:00] teolemon opened #1844 "We are also not displaying the nutrient modifiers in the product view (< > ~)"
We are also not displaying the nutrient modifiers in the product view (< > ~).
Add the modifiers the same way they are added in the edit.

reported by @huzaifaiftikhar

[2018-08-18 21:02] teolemon opened #1845 "We are not displaying untaxonomized values on fields that are displayed using taxonomies"
We are not displaying untaxonomized values on fields that are displayed using taxonomies
![screenshot_20180818-112638](https://user-images.githubusercontent.com/1689815/44303197-b252c680-a33a-11e8-8d0b-46f670cea3b2.png)
![screenshot_20180818-112646](https://user-images.githubusercontent.com/1689815/44303198-b252c680-a33a-11e8-9f90-a6a551267fb4.png)

[2018-08-18 21:03] teolemon opened #1846 "The allergen field behaves weirdly"
The allergen field behaves weirdly
![screenshot_20180816-231247](https://user-images.githubusercontent.com/1689815/44303209-f1811780-a33a-11e8-9218-c6aae6ade8b0.png)

[2018-08-19 12:28] teolemon opened #1848 "Display a dismissable little message on the home screen if the translation is not complete"
Display a dismissable little message on the home screen if the translation is not complete

"Help make Open Food Facts better in your language by translating it"
"Help make Open Food Facts better in Hindi by translating it"

There would be a link to https://translate.openfoodfacts.org or better yet to https://crowdin.com/project/openfoodfacts/hi#

[2018-08-19 17:19] teolemon opened #1849 "Turn the summary tab into an actual summary"
![image](https://user-images.githubusercontent.com/1689815/44311279-b63b2300-a3e4-11e8-9d33-f2cb11898368.png)

[2018-08-24 08:18] teolemon opened #1852 "java.lang.NoClassDefFoundError - openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment.access$000"
[code]

[2018-08-24 08:18] teolemon commented on #1852
Yesterday, 1:57 PM on app version 289
Samsung Galaxy S3 (m0), Android 4.3

[2018-08-24 08:20] teolemon opened #1853 "java.lang.StringIndexOutOfBoundsException - openfoodfacts.github.scrachx.openfood.fragments.FindProductFragment.onSearchBarcodeProduct"
[code]

[2018-08-24 10:39] huzaifaiftikhar opened #1854 ""Name Unknown" is always displayed in quickView when adding a product offline"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-08-24 11:59] teolemon commented on #1840
Fixed.

[2018-08-24 11:59] #1840 closed

[2018-08-24 12:00] teolemon commented on #1839
Probably fixed

[2018-08-24 12:40] huzaifaiftikhar commented on #1849
What about the information currently displayed in the summary tab? Should it be moved to a new tab under a separate heading?

[2018-08-24 13:34] teolemon commented on #1849
We have already many tabs, just pushing it below those three elements should do.
That way, 90% of users will only need 1st and 2nd tab.

[2018-08-28 11:28] teolemon opened #1857 "Add maximum to nutrition values"
Add maximum to nutrition values. Tacite reported values of 10000 kcal inputed by users.

[2018-08-28 12:34] huzaifaiftikhar commented on #1857
What should be the maximum permissible input value?

[2018-08-28 12:36] teolemon opened #1859 "Allow the user to select from the existing pictures in product edition"
Allow the user to select from the existing pictures in product edition.

[2018-08-28 12:36] teolemon opened #1860 "Allow the user to rotate a picture from product edition"
Allow the user to rotate a picture from product edition

[2018-08-28 12:47] teolemon commented on #1857
Let's do simple:
- if per 100g, every weight should be capped at 100g (or 1000mg, or 10000microgram).
- if per portion (and portion is filled), every weight should be capped at portion weight

[2018-08-28 12:51] teolemon opened #1861 "Perform ingredient language check"
Perform ingredient language check: check that the detected language of the text in the ingredient field matches the field it's going to be written into. Otherwise display a warning: "It seems your ingredient list is in Greek. However you're going to save it as English. Save as Greek instead ?"

https://github.com/shuyo/language-detection/blob/wiki/ProjectHome.md

[2018-08-28 12:54] huzaifaiftikhar commented on #1857
What about the maximum energy? That's what the issue description says.

[2018-08-28 12:57] teolemon commented on #1857
A max of 2000kcal/100g should be enough (it's actually closer to 900kcal per 100g)

[2018-08-28 12:58] teolemon commented on #1857
8300 kilojoules (3700) per 100g

[2018-08-28 15:22] teolemon opened #1862 "Invalid CSRF token on account creation"
Invalid CSRF token on account creation

[2018-08-28 15:22] teolemon commented on #1862
Works fine from web version

[2018-08-29 12:58] teolemon opened #1864 "Encoding error on the Product URL field search function"
Encoding error on the search function within the Product URL field in the edit mode

![image](https://user-images.githubusercontent.com/1689815/44789039-e2506400-ab9b-11e8-82a8-1a9adbc9e8f6.png)

[2018-08-29 13:01] teolemon opened #1865 "Wikipedia Going further has only placeholders"
Not sure how I reached this. Probably unfixable right now, and low impact

![image](https://user-images.githubusercontent.com/1689815/44789217-4f63f980-ab9c-11e8-811d-1ad5b2f701c8.png)

[2018-09-01 08:45] #1854 closed

[2018-09-02 15:36] teolemon commented on #34
@huzaifaiftikhar fixed this.

[2018-09-02 15:36] #34 closed

[2018-09-02 15:44] #1686 closed, assigned to nobody

[2018-09-06 15:32] jaindiv26 commented on #1865
@teolemon I think it may happen due to slow internet connectivity or dead link mentioned Labels, Marques, etc. I've reproduced this issue but all seems to work just fine.

![screenshot_1536247734](https://user-images.githubusercontent.com/32436867/45168084-1d940800-b218-11e8-9e2e-03f692686951.png)

![screenshot_1536247775](https://user-images.githubusercontent.com/32436867/45168104-2ab0f700-b218-1

[2018-09-06 18:06] teolemon commented on #1864
Generate the above barcode, using: https://barcode.tec-it.com/en/EAN13
Go into edit mode, on the first page, expand all the section, and look for the magnifier glass icon and click on it.

[2018-09-07 06:31] jaindiv26 commented on #1864
@teolemon @brandenfung It's not an encoding error, the search field is properly doing what it should do. The search URL consists of a barcode, the brand name, product name along with the text "OFFICIAL WEBSITE". It would somewhat look like this (url = code + brand.getText + name.getText + "OFFICIAL WEBSITE"). I've tested this search field and it works just fine for the other products.

The google

[2018-09-08 02:28] PrajwalM2212 commented on #1849
Can i get more information about this. What do you mean by turn summary tab to actual summary ?

[2018-09-08 03:02] PrajwalM2212 opened #1868 "Check if any change is made in editing"
**Steps to reproduce**
- Open the editing feature
- Do not edit anything
- Save edits

**Issue/Problem**
Even though you did not edit anything, the app saves you as the last editor.

**Solution**
Only regard someone as a editor if at least one change is made.

[2018-09-08 10:58] brandenfung commented on #1846
Looks like a problem with the regex pattern:
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/b9d6142e435cacea2529fde6f632e8c1794234bf/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ingredients/IngredientsProductFragment.java#L82
This doesn't allow for allergen names that contain more than one word, e.g. lécithine de soja, bleu d'Auvergne.

[2018-09-08 20:43] teolemon opened #1869 "Changing languages changes connexion status in side menu"
Changing languages changes connexion status in side menu
Switching from English to French will show different connexion status.

[2018-09-08 20:44] teolemon commented on #1862
https://github.com/openfoodfacts/openfoodfacts-server/issues/1147

[2018-09-09 12:51] teolemon opened #1870 "java.lang.IndexOutOfBoundsException - openfoodfacts.github.scrachx.openfood.views.product.ingredients.IngredientsProductFragment.access$000"
[code]

[2018-09-10 17:53] #1864 closed

[2018-09-11 18:39] Divyanshu2132 commented on #1838
This issue is resolved by someone or it is still pending??

[2018-09-11 20:52] teolemon commented on #1838
If no one has claimed it here, you can safely assume it's still open. Can I
assign it to you ?

Le mar. 11 sept. 2018 à 20:39, Divyanshu Shukla <notifications@github.com>
a écrit :

[2018-09-11 20:53] Divyanshu2132 commented on #1838
Okay

[2018-09-12 03:32] brandenfung commented on #1599
@teolemon Can you describe how Share to Open Food Facts fails? Does the app crash?

[2018-09-12 10:02] teolemon commented on #1599
So you need (phone/off ?) to be in German, French, (eg not English) and share one or several images, including one with a barcode and select "Share to Open Food Facts".
The expected result is that it will either
- ask you to type manually the barcode (if no barcode was detected) (and the proceed to next steps)
- add the pictures to an existing product (if a barcode is detected and the product exis

[2018-09-12 10:04] teolemon commented on #1599
In languages other than english; it will fail silently.
this feature is very useful for Scan parties, when users take many pictures using their camera

[2018-09-12 10:49] #1846 closed

[2018-09-12 17:37] teolemon opened #1874 "Additives don't display in certain conditions"
![screenshot_20180912-192206_openfoodfacts](https://user-images.githubusercontent.com/1689815/45442760-33e00f00-b6c3-11e8-82cf-9b3da1473b97.jpg)

[2018-09-12 17:37] teolemon commented on #1874
cc @stephanegigandet

[2018-09-13 07:31] #1874 closed

[2018-09-14 13:56] Divyanshu2132 commented on #1838
How to reproduce this error??

[2018-09-14 22:55] #1518 closed

[2018-09-15 08:02] #1306 closed

[2018-09-15 10:21] teolemon opened #1881 "android.content.ActivityNotFoundException openfoodfacts.github.scrachx.openfood.views.customtabs.CustomTabActivityHelper.getSession"
[code]

[2018-09-15 11:13] #1870 closed

[2018-09-15 19:43] teolemon opened #1884 "Pull to Refresh doesn't work after product edition"
Categories are not refreshed on successful edit.
I am adding categories and they don't appear on the product page when the product is saved, even after a pull to refresh

[2018-09-15 20:23] #1853 closed, assigned to nobody

[2018-09-16 10:24] teolemon opened #1886 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.HomeFragment$1.onFailure"
[code]

![image](https://user-images.githubusercontent.com/1689815/45595406-75b2d300-b9ab-11e8-95aa-449e1b7e05f2.png)

[2018-09-16 10:27] teolemon opened #1887 "java.lang.IndexOutOfBoundsException com.hootsuite.nachos.NachoTextView.addChipTerminator"
[code]

![image](https://user-images.githubusercontent.com/1689815/45595430-ed80fd80-b9ab-11e8-91c8-5ed6bd9b5285.png)

[2018-09-16 10:43] teolemon commented on #1828
![image](https://user-images.githubusercontent.com/1689815/45595551-28843080-b9ae-11e8-8305-63cbc1c9e94d.png)

[2018-09-16 11:00] teolemon opened #1888 "java.lang.NullPointerException android.view.ViewRootImpl$SendWindowContentChangedAccessibilityEvent.run"
[code]
![image](https://user-images.githubusercontent.com/1689815/45595745-8ade3080-b9b0-11e8-9dc0-7b6b85058696.png)

[2018-09-16 11:16] teolemon opened #1889 "com.afollestad.materialdialogs.MaterialDialog$DialogException openfoodfacts.github.scrachx.openfood.views.HistoryScanActivity.onScanFirst"
[code]
![image](https://user-images.githubusercontent.com/1689815/45595862-a21e1d80-b9b2-11e8-88fa-772ee6c62f87.png)

[2018-09-16 11:22] teolemon opened #1890 "android.content.ActivityNotFoundException openfoodfacts.github.scrachx.openfood.views.splash.SplashActivity.navigateToMainActivity"
[code]

![image](https://user-images.githubusercontent.com/1689815/45595899-794a5800-b9b3-11e8-87aa-ef742ecfdafa.png)

[2018-09-16 11:56] teolemon opened #1891 "java.lang.IllegalStateException openfoodfacts.github.scrachx.openfood.fragments.OfflineEditFragment.access$300"
[code]

[code]

[2018-09-16 11:57] teolemon commented on #1891
![image](https://user-images.githubusercontent.com/1689815/45596191-65edbb80-b9b8-11e8-9d6f-3d810cfcca37.png)

[2018-09-16 12:00] teolemon opened #1892 "java.lang.IndexOutOfBoundsException android.text.SpannableStringBuilder.checkRange"
[code]
![image](https://user-images.githubusercontent.com/1689815/45596220-ce3c9d00-b9b8-11e8-9758-c40fc1e0f382.png)

[2018-09-16 12:02] teolemon opened #1893 "com.afollestad.materialdialogs.MaterialDialog$DialogException openfoodfacts.github.scrachx.openfood.views.AddProductActivity.checkForExistingProductName"
[code]

[code]

![image](https://user-images.githubusercontent.com/1689815/45596238-283d6280-b9b9-11e8-97c2-a749b8421bde.png)

[2018-09-16 14:10] teolemon opened #1894 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.network.OpenFoodAPIClient.<init>"
[code]
![image](https://user-images.githubusercontent.com/1689815/45597340-fc2add00-b9ca-11e8-926b-9514a685ebc3.png)

[2018-09-16 17:09] teolemon opened #1895 "Add the current product count on the home screen"
Add the current product count on the home screen

[2018-09-16 18:57] teolemon opened #1896 "com.afollestad.materialdialogs.MaterialDialog$DialogException openfoodfacts.github.scrachx.openfood.views.AddProductActivity$4.lambda$onError$1$AddProductActivity$4"
[code]

[2018-09-16 23:52] schokotets opened #1897 "Design: "Sign Up" button is misleading"
**Summary:**
The Sign Up button doesn't create an account for you, instead it redirects you, which is unintuitive behavior for a button

**Steps to reproduce:**
tapping on "Sign in" in the sidebar menu when logged out to get to the menu, entering account data and pressing "Sign Up" to create an account

**Expected behavior:**
The app creates an account with the given data

**Observed behavior:**
T

[2018-09-17 07:37] PrajwalM2212 commented on #1895
current product count on the home screen. Total products in the entire database ?

[2018-09-17 16:31] teolemon commented on #1895
@stephanegigandet Do we have some kind of an API for that ?

[2018-09-17 17:10] PrajwalM2212 commented on #1895
@jaindiv26 Do you want to solve this ?

[2018-09-18 04:47] jaindiv26 commented on #1895
@PrajwalM2212 Yes, please.

[2018-09-18 04:58] PrajwalM2212 commented on #1895
@teolemon @jaindiv26  You can use this api https://ssl-api.openfoodfacts.org/.json for getting total number of products.
<img width="342" alt="screen shot 2018-09-18 at 10 24 04 am" src="https://user-images.githubusercontent.com/30733262/45665165-344a3100-bb2d-11e8-8d85-48197ee1d864.png">

[2018-09-18 04:59] PrajwalM2212 commented on #1895
Hope that clarifies all doubts

[2018-09-18 05:37] jaindiv26 commented on #1895
@PrajwalM2212 Thanks for the API.

[2018-09-18 09:41] onkarpandit commented on #1892
I would like to work on this bug.

[2018-09-18 09:43] teolemon commented on #1892
Please go ahead :-)
Feel free to join us on Slack to discuss at https://slack.openfoodfacts.org

[2018-09-18 10:07] onkarpandit commented on #1892
Can you please tell me which functionality in the app got this error?

[2018-09-18 15:42] teolemon opened #1900 "Allow adding a product to any project"
![image](https://user-images.githubusercontent.com/1689815/45699210-e273cc00-bb69-11e8-9893-ba3ffc6c3f6f.png)
Add a button to select the project you'd like to send the product to.
- By default, it should be the current flavor (eg OBF if flavor OBF, OFF if flavor OFF)
- It should refresh the view with the proper behaviour
- This means moving away from the base URL for the API calls, and to the base

[2018-09-19 06:59] huzaifaiftikhar commented on #1844
Fixed in #1899

[2018-09-19 06:59] #1844 closed

[2018-09-19 10:37] teolemon opened #1901 "Encoding issues in editing (2020755034585)"
![image](https://user-images.githubusercontent.com/1689815/45748311-a80d3c00-bc08-11e8-9d30-06bdcdff6d40.png)
Encoding issues in editing (Barcode: 2020755034585)

[2018-09-19 10:39] teolemon opened #1902 "Visual glitch in French edit mode"
![image](https://user-images.githubusercontent.com/1689815/45748438-033f2e80-bc09-11e8-9753-33cc84b05bec.png)

"Vue d'ensemble"

[2018-09-19 14:20] teolemon opened #1903 "Remembering the last camera used"
[code]
Basically, for some reason, the front camera is always used on his device. Can we memorize the last selected camera (when people click on "Change camera") and use it ?

[2018-09-19 20:06] stephanegigandet commented on #1895
I guess that works, but the /.json url is weird. It might be better to use https://world.openfoodfacts.org/1.json so that's it's more obvious that it's requesting the 1st page of results.

[2018-09-20 04:45] brandenfung commented on #1625
Added in #1873

[2018-09-20 04:45] brandenfung commented on #1599
Does this #1873 fix this issue?

[2018-09-20 04:48] brandenfung commented on #1520
Added in #1873

[2018-09-20 15:27] teolemon commented on #1599
I'm still not able to upload products (will be uploaded when you get network), but at least the modal now appears everytime.

[2018-09-20 19:13] huzaifaiftikhar opened #1907 "Selecting an empty category from the categories list displays network error"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-09-20 21:03] teolemon commented on #1907
Looks good to me.

[2018-09-20 21:19] teolemon opened #1909 "Allow choosing a scope for search"
Allow choosing a scope for search:
Search country: France, Germany, India, World

[2018-09-20 21:27] teolemon opened #1910 "Allow filtering the category explorer results by Nova / Nutriscore or both"

[2018-09-20 21:27] #1910 closed

[2018-09-21 11:24] gingerling opened #1911 "Clarifying text for creating existing product in new language in app"
**Summary:**

When scanning an English product and finding it already exists in French, it was unclear how to add an English version.

**Steps to reproduce:**

Scan a product that already exists only in French and imagine you wish to add the product in English. While I could see that it was in French and French was listed as the language in the drop down, my assumption was that changing French to

[2018-09-21 12:19] #1907 closed

[2018-09-22 07:03] teolemon commented on #1357
![image](https://user-images.githubusercontent.com/1689815/45914521-6e297900-be46-11e8-85c7-23fb7ea99437.png)

[2018-09-22 07:04] #1764 closed

[2018-09-22 07:04] teolemon commented on #1764
Dupe of #1357

[2018-09-22 09:00] #1625 closed

[2018-09-22 09:00] #1522 closed

[2018-09-22 09:00] #1599 closed

[2018-09-22 09:09] PrajwalM2212 commented on #1357
@teolemon I will take this issue. I will do this after additives explorer.

[2018-09-22 14:48] teolemon commented on #1813
![image](https://user-images.githubusercontent.com/1689815/45918440-47d7fd80-be87-11e8-8ea5-855f046f7cc7.png)

[2018-09-23 08:08] #1373 closed

[2018-09-23 08:08] #1519 closed

[2018-09-23 08:40] teolemon opened #1916 "E/NetworkScheduler: org.openfoodfacts.scanner requested task be persisted for tag: 'upload_saved_product_job' but does not hold the permission android.permission.RECEIVE_BOOT_COMPLETED"
[code]

The quick solution (tested on Android 9.0) is to apply the requested permission

[2018-09-23 08:49] teolemon opened #1917 "java.lang.NullPointerException at openfoodfacts.github.scrachx.openfood.views.MainActivity$7.onClick(MainActivity.java:998)"
[code]

[2018-09-23 08:54] teolemon commented on #1917
So this happens when sharing from Google Photos, but when sharing from the files app, it works ok.

[2018-09-23 16:00] teolemon opened #1919 "Ensure the app behaves properly when the server is down"
Ensure the app behaves properly when the server is down.
The server will respond, but the app is currently confused and crashes as a result

[2018-09-23 17:42] teolemon commented on #1909
```Idea is good and it is great that it is open Source. I really wish to give 5 Stars for all great work but search is really bad. This requires a better search enginee. I am searching something results are mostly in french. I understand that creator is french but this is too much. When i search for eggs, it should return english results. Not french.```
[code]

[2018-09-23 19:07] teolemon opened #1921 "Add a user agent for Scan and requests made by the app"
Add a user agent for Scan and requests made by the app
Something that tells it's the official client, and the version of the client. That enables us to differentiate actual scans from automated API calls, and is thus essential to rank products by scan.

[2018-09-23 19:57] teolemon commented on #1921
https://stackoverflow.com/questions/26509107/how-to-specify-a-default-user-agent-for-okhttp-2-x-requests/27840834#27840834

[2018-09-23 19:59] huzaifaiftikhar opened #1922 "Use POST request for uploading and editing products"

[2018-09-23 21:09] teolemon opened #1924 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment.areRequiredFieldsEmpty"
[code]

[2018-09-23 21:10] teolemon commented on #1924
![image](https://user-images.githubusercontent.com/1689815/45933005-d16df500-bf85-11e8-91e3-1245583ad34b.png)

[2018-09-23 21:14] teolemon opened #1925 "exception.class.missing._Unknown_ com.hootsuite.nachos.NachoTextView.onTextContextMenuItem"
[code]

[2018-09-23 21:16] teolemon opened #1926 "java.lang.StringIndexOutOfBoundsException openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity.a"
[code]

[2018-09-23 21:22] teolemon opened #1927 "java.lang.OutOfMemoryError openfoodfacts.github.scrachx.openfood.views.WelcomeActivity.onCreate"
[code]

[code]
[code]

[code]

[2018-09-23 21:25] teolemon opened #1928 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment.b"
java.lang.RuntimeException:
  at android.app.ActivityThread.performResumeActivity (ActivityThread.java:3581)
  at android.app.ActivityThread.handleResumeActivity (ActivityThread.java:3621)
  at android.app.ActivityThread.handleLaunchActivity (ActivityThread.java:2862)
  at android.app.ActivityThread.-wrap11 (Unknown Source)
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1589)

[2018-09-23 21:26] teolemon opened #1929 "java.lang.IllegalArgumentException org.greenrobot.greendao.database.StandardDatabase.a"
[code]

[2018-09-23 21:28] teolemon opened #1930 "android.content.ActivityNotFoundException pl.aprilapps.easyphotopicker.EasyImage.createCameraIntent"
[code]

[2018-09-23 21:31] teolemon opened #1931 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductOverviewFragment.access$100"
[code]

[2018-09-23 21:32] teolemon opened #1932 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.AddProductIngredientsFragment.access$000"
[code]

[2018-09-23 21:35] teolemon opened #1933 "java.lang.IndexOutOfBoundsException openfoodfacts.github.scrachx.openfood.views.adapters.EmbCodeAutoCompleteAdapter.a"
java.lang.IndexOutOfBoundsException:
  at java.util.ArrayList.get (ArrayList.java:437)
  at openfoodfacts.github.scrachx.openfood.views.adapters.EmbCodeAutoCompleteAdapter.a (EmbCodeAutoCompleteAdapter.java:2)
  at openfoodfacts.github.scrachx.openfood.views.adapters.EmbCodeAutoCompleteAdapter.getItem (EmbCodeAutoCompleteAdapter.java)
  at android.widget.ArrayAdapter.createViewFromResource (ArrayA

[2018-09-23 21:37] teolemon opened #1934 "java.lang.IndexOutOfBoundsException android.text.SpannableStringInternal.checkRange"
[code]

[2018-09-23 21:41] teolemon opened #1935 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.views.ProductBrowsingListActivity.access$002"
[code]

[2018-09-23 21:43] teolemon commented on #1837
[code]

[2018-09-23 21:46] teolemon opened #1936 "java.lang.StringIndexOutOfBoundsException openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity.access$000"
[code]

[2018-09-24 11:21] #1902 closed

[2018-09-24 17:02] #1895 closed

[2018-09-25 09:13] #121 closed

[2018-09-25 09:15] teolemon commented on #174
@PrajwalM2212 currently has a branch that will solve this

[2018-09-25 09:16] teolemon commented on #168
@N00845855 if you're still up for it, please do 🙂

[2018-09-25 09:17] teolemon commented on #178
updated. closing

[2018-09-25 09:17] #178 closed

[2018-09-25 09:21] teolemon commented on #199
- https://github.com/openfoodfacts/openfoodfacts-server/issues/1376

[2018-09-25 09:34] teolemon commented on #485
QuickView is going to be deprecated. Closing

[2018-09-25 09:34] #485 closed

[2018-09-25 09:35] teolemon commented on #492
QuickView is going to be deprecated. Closing

[2018-09-25 09:35] #492 closed

[2018-09-25 09:37] teolemon commented on #580
Implemented, only the swipe up is missing. Closing

[2018-09-25 09:37] #580 closed

[2018-09-25 09:41] teolemon commented on #1005
This is still an issue on latest trunk. Becoming more problematic as we welcomed many Canadian and Belgian users.

![image](https://user-images.githubusercontent.com/1689815/46006439-d4690280-c0b7-11e8-9a7f-b35c12513d4c.png)

[2018-09-25 09:42] teolemon commented on #1005
It would probably about asking product_name +"_languageoftheUX"

[2018-09-25 09:51] teolemon commented on #1349
blocked on https://github.com/openfoodfacts/openfoodfacts-server/issues/1376 to do things properly

[2018-09-25 09:53] teolemon commented on #1108
Implemented.Closing

[2018-09-25 09:53] #1108 closed

[2018-09-25 09:54] teolemon commented on #1567
Do you still have your phone. Is on issue fixed on the latest version ?

[2018-09-25 09:55] teolemon commented on #1567
@hackerb9

[2018-09-25 09:55] teolemon commented on #1545
@PrajwalM2212 is working on a branch that will fix this.

[2018-09-25 09:59] teolemon commented on #1497
![image](https://user-images.githubusercontent.com/1689815/46007506-81447f00-c0ba-11e8-9e96-5e841e183f08.png)

[2018-09-25 10:03] teolemon commented on #1498
@PrajwalM2212 unassigning you, unless you still have an uncommited branch ;)

[2018-09-25 21:51] teolemon opened #1939 "pH shouldn't have any unit"
![image](https://user-images.githubusercontent.com/1689815/46045410-eb424000-c11d-11e8-8976-3dfa75ad585d.png)

[2018-09-25 22:20] hackerb9 commented on #1567
Yes, still have Amazon phone. The bug has been squashed. Thanks!

[2018-09-25 22:20] #1567 closed

[2018-09-25 22:27] jaindiv26 commented on #1934
@teolemon This happens due to spannable text. When the link is selected from a textView and clicked outside the selector pointer within the textView, devices running on Android version Lolipop(5.0) and Marshmallow(6.0) will cause this crash. I haven't been able to test it on N  but when I tried to reproduce this issue on O it didn't happen. So I'm quite sure this is solved in Oreo and in later ver

[2018-09-29 08:35] teolemon opened #1943 "The dynamic product count slows down the app"
The dynamic product count slows down the app. It would probably make sense to cache the number, and adding pull to refresh.

Adding pull to refresh would also open the way to a more dynamic home in the future.

[2018-09-30 13:44] dobriseb opened #1949 "Can't find FragmentConsumerEdit class in the repository"
**Summary:**

I can't find FragmentConsumerEdit class in this GitHub repository.

**Steps to reproduce:**

I've pulled openfoodfacts-androidapp from github and open it with Android Studio.
The "Make project" action failled with "error: cannot find symbol class FragmentConsumerEdit"

AllergenDetecorActivity.java :
line 24 : `import openfoodfacts.github.scrachx.openfood.FragmentConsumerEdit;`

I've

[2018-09-30 15:15] dobriseb commented on #1949
Oups, I was in allergens-overhaul branch...

[2018-09-30 15:15] #1949 closed

[2018-10-03 20:16] huzaifaiftikhar opened #1954 "App crashes on pressing back button from search by barcode"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-10-03 20:16] huzaifaiftikhar commented on #1954
@teolemon The issue you reported on Slack

[2018-10-03 22:13] huzaifaiftikhar commented on #1926
Fixed in #1938

[2018-10-03 22:13] #1926 closed

[2018-10-04 07:31] #1901 closed

[2018-10-04 07:31] #1939 closed

[2018-10-04 07:38] #1924 closed

[2018-10-05 08:09] #1943 closed

[2018-10-05 08:09] #1954 closed

[2018-10-08 14:06] teolemon commented on #1845
Reopening this one, since we also have the issues on many other labels.

[2018-10-11 21:09] hangy opened #1965 ""permission denied after going to manage account""
_Originally reported by @rbigueras as openfoodfacts/openfoodfacts-server#1305_

**Summary:**

permission denied after going to manage account

**Steps to reproduce:**

log in, click on manage account, it diverts back to openfoodfacts.org webpage and gives me an error permission denied

**Expected behavior:**
let me manage my account
**Observed behavior:**

and error message denying me permission

[2018-10-11 21:09] hangy opened #1966 ""I logged in and I'm still under anonymous""
_Originally reported by @rbigueras as openfoodfacts/openfoodfacts-server#1306_

**Summary:**
I logged in and I'm still under anonymous

**Steps to reproduce:**

use the android app beta, and click on anonymous,
the app asks to log in,
log in
once logged in the user's name is still anonymous
and when you try to relog in, it says you already are.
**Add system logs:**

Add logcat files here (if you a

[2018-10-13 09:57] huzaifaiftikhar commented on #1966
@teolemon I guess this issue was in an earlier version of the app. It must have been fixed at some point. Should we close this?

[2018-10-13 09:58] huzaifaiftikhar commented on #1965
@teolemon I am unable to reproduce with the above steps. I guess this is an old issue and we close this one too.

[2018-10-13 10:00] teolemon commented on #1966
I think it must have been NULL values passed to the URL when the user had just logged in. Ok to close.

[2018-10-13 10:01] teolemon commented on #1966
Ok to close if not reproducible

[2018-10-14 09:13] teolemon commented on #1357
@PrajwalM2212 I've been working on linking ingredients to Wikipedia for Open Food Facts as well. So this one has even a broader impact.

[2018-10-14 09:13] teolemon commented on #1357
https://static.openfoodfacts.org/data/taxonomies/ingredients.json

[2018-10-15 08:35] teolemon opened #1969 "java.lang.IndexOutOfBoundsException android.text.PackedIntVector.getValue"
[code]

[2018-10-15 13:59] PrajwalM2212 commented on #458
Native nutrition input is enabled during GSoC. So closing this.

[2018-10-15 13:59] #458 closed

[2018-10-15 14:13] PrajwalM2212 opened #1970 "Add a mechanism to automatically close a issue when PR is merged"
Add a way to automatically close a issue when PR is merged.
https://help.github.com/articles/closing-issues-using-keywords/

[2018-10-15 14:14] huzaifaiftikhar commented on #1970
We already do this. @Karljoones suggested this long back.

[2018-10-15 14:16] PrajwalM2212 commented on #1970
Yes, already sent a PR

[2018-10-15 15:09] PrajwalM2212 commented on #211
I think this is done as we already have a database for history.

[2018-10-15 15:10] teolemon commented on #211
The products themselves are not cached.

[2018-10-15 15:12] PrajwalM2212 commented on #211
What we searched/scanned can be viewed even when offline.
So is this issue about being able to see/cache the entire product ?

[2018-10-15 15:13] teolemon commented on #211
Yes, I would expect to be able to see it in all conditions.

[2018-10-17 13:29] teolemon commented on #63
![image](https://user-images.githubusercontent.com/1689815/47089512-4947dc00-d221-11e8-8fb9-d927e3e87823.png)
![image](https://user-images.githubusercontent.com/1689815/47089542-5ebd0600-d221-11e8-8edb-7091c1e3b8d4.png)

[2018-10-17 13:40] teolemon opened #1973 "java.util.UnknownFormatConversionException openfoodfacts.github.scrachx.openfood.fragments.HomeFragment$2.a"
[code]
[code]

[2018-10-17 13:42] teolemon commented on #1892
No idea, this is a bug report from the Play Console

[2018-10-17 14:42] #1970 closed

[2018-10-17 14:43] #1889 closed

[2018-10-19 08:20] Karljoones commented on #1970
@PrajwalM2212 The 'fixes #' needs to be in the title of the PR, I manually fix some of them in order to make sure that the issue does close automatically when someone forgets to add it in :)

[2018-10-19 17:57] huzaifaiftikhar commented on #1925
This is an upstream [issue](https://github.com/hootsuite/nachos/issues/33).
I also opened a new [issue](https://github.com/hootsuite/nachos/issues/74) in the library which made our app crash.

[2018-10-21 14:22] teolemon opened #1975 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity.onCreate"
[code]

[code]

[2018-10-21 14:29] teolemon opened #1976 "Pull To Refresh in Scan History"
When you edit a product and that it gets the NutriScore, that is not reflected in the History unless you close and reopen the app.
Add Pull To Refresh in Scan History to get updated photos, names and scores immediately

[2018-10-22 12:52] teolemon opened #1978 "There is no visual feedback on uploading image using "Take more pictures""
![image](https://user-images.githubusercontent.com/1689815/47293231-d6b47300-d609-11e8-8d77-f16a4159e46e.png)

There is no visual feedback on uploading image using "Take more pictures"

Users expect some feedback. The implementation in the product edit is the right one (unobtrusive and material)
![image](https://user-images.githubusercontent.com/1689815/47293293-ff3c6d00-d609-11e8-8518-195a884f6c3

[2018-10-22 12:56] teolemon commented on #1335
Very similar to this fix:
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/1972

[2018-10-22 12:57] teolemon opened #1979 "The additive information doesn't work for E150c (and probably additives with a letter)"
Example barcode:
![image](https://user-images.githubusercontent.com/1689815/47293589-cea90300-d60a-11e8-83aa-1c942b87392f.png)

Clicking on E150c won't work while E621 will work

[2018-10-22 12:58] teolemon commented on #1979
cc @ripetrescu

[2018-10-22 12:59] teolemon opened #1980 "Additive alert doesn't work for additives like E150c"
Example barcode:
![image](https://user-images.githubusercontent.com/1689815/47293589-cea90300-d60a-11e8-83aa-1c942b87392f.png)

Clicking on E150c won't work while E621 will work

[2018-10-22 13:34] ripetrescu commented on #1979
@teolemon this is happening because E150c taxonomies json payload data is missing wikidata.

Basically, here https://static.openfoodfacts.org/data/taxonomies/additives.json, there's no wikidata for "en:e150c".

[2018-10-22 13:37] teolemon commented on #1979
Ah indeed
[code]

[2018-10-22 18:09] teolemon opened #1981 "The scanner does not respect the language of the phone"
The scanner does not respect the language of the phone.
If a product is available in English and Spanish, with English as the main language, but Spanish as the language of the app, the product will be displayed in English.
The app should display the product in Spanish.

[2018-10-22 19:03] teolemon opened #1982 "Make nutrient lists in alphabetical order according to the language"
![image](https://user-images.githubusercontent.com/1689815/47312860-c3bb9600-d63d-11e8-92da-f8258ab9ff61.png)

[2018-10-22 19:03] teolemon commented on #1982
`Huzaifa Iftikhar [8:46 PM]
Possibly not. The order of the list is mapped with the ids of the "other nutrients array" in the code and since the other nutrients is a dynamic view (table layout) we actually cannot change the order of the list with the current implementation. If you have another approach for this which makes it possible to add the other nutrients and change the order the as well then

[2018-10-22 19:13] hunsly commented on #1982
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/a0e3a9d304e94a6038548ebf7c2838ab43a5d7c6/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java#L443

Can this work?
[code]

[2018-10-22 21:30] #1976 closed

[2018-10-24 01:07] RiQuY opened #1984 "Vitamins and Minerals shows like 0"
I've just added a product to the database and if I look at the Vitamins and Minerals in the app it is in 0, but if I check it through the website the values are shown correctly.

App Screenshot:
![screenshot_2018-10-24-02-54-51-274_openfoodfacts github scrachx openfood](https://user-images.githubusercontent.com/26349954/47399569-9b5c9600-d728-11e8-88a1-eb275b1bd05a.png)

Browser Screenshot:
![scre

[2018-10-24 12:18] teolemon opened #1985 "Option to disable all history"
Some people want to disable the history alltogether.

[2018-10-26 14:31] teolemon commented on #1984
Thanks a lot for the report @RiQuY
@brandenfung very much looks like a unit error (Vitamin E shows 10 time less than what it should be)

[2018-10-28 22:48] ivanhercaz commented on #1799
Hi @teolemon,

I was experimenting today with Open Food Facts. I enabled the shake option but I got an important bug: when this option is enabled it enters automatically in the scan mode and I can't exit, if I press the back button of my smartphone the app enters again in loop.

I thought "maybe if I close the app and enter again", but not, this didn't work, because the app enter again in the scan

[2018-10-29 12:55] teolemon commented on #1980
#1983 fixes this.

[2018-10-29 12:56] teolemon commented on #1979
#1983 fixes this

[2018-10-29 16:11] huzaifaiftikhar opened #1989 "SQLiteException: duplicate column name: overexposure_risk (code 1): , while compiling: ALTER TABLE additive_name ADD COLUMN 'overexposure_risk' TEXT"
[code]

I faced this after updating my master branch and building the app from it.
Device MotoG5s
Android 8.1.0

[2018-10-29 20:22] teolemon opened #1991 "Check whether those strings are still in use"
[code]
Check whether those strings are still in use. If they are still in use, they should be using placeholders and probably plural/singular.
Also, if so change the name of the string to avoid a bug with persistant translations within crowdin

[2018-10-31 14:46] rahul-jha98 commented on #429
Is the issue still open? I would like to work on it if it is.

[2018-11-01 11:54] rahul-jha98 commented on #1985
So, basically you want to show an message saying that "History is disabled. Enable it by going to settings->Enable History "   instead of the history if the user has disabled the history in the settings.
Is it correct?

[2018-11-01 15:08] savked commented on #1985
How about adding an option in Settings to disable or enable (enabled by default) history, and if the user decides to disable, history button should be removed from navigation drawer?

[2018-11-03 06:07] brandenfung commented on #1335
anyone working on this? if not, I'll work on this next

[2018-11-03 06:11] teolemon commented on #1335
Not as far as I know. Also, in general, if not claimed in the bug, you can safely process.

[2018-11-04 09:46] teolemon commented on #446
Closing since quickview is deprecated.

[2018-11-04 09:46] #446 closed

[2018-11-09 19:37] monsieurtanuki commented on #1984
It looks like a problem on the server side.

If you go to [https://fr.openfoodfacts.org/api/v0/product/8480017371676.json](https://fr.openfoodfacts.org/api/v0/product/8480017371676.json), you'll find the following values for sodium:
[code]
Which matches the values displayed in [https://world-es.openfoodfacts.org/producto/8480017371676](https://world-es.openfoodfacts.org/producto/8480017371676).

B

[2018-11-10 09:14] teolemon commented on #1991
Yup, be ruthless.

[2018-11-10 10:06] brandenfung commented on #1984
@monsieurtanuki You might be right, values in `vitamin-b2_100g` for this product seems to be in grams and not mg.

[2018-11-10 10:37] brandenfung opened #1996 "Does not display carbon footprint value"
For example
https://world.openfoodfacts.org/product/3222473808946/lasagnes-au-chevre-et-aux-epinards-casino

In grams (g)

[2018-11-10 11:40] teolemon opened #1997 "org.greenrobot.greendao.DaoException org.greenrobot.greendao.AbstractDao.loadUnique"
[code]

[code]

[2018-11-10 11:58] teolemon opened #1998 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.views.product.ProductAttributeDetailsFragment.a"
[code]

[2018-11-10 12:33] teolemon commented on #1969
[code]

[2018-11-10 12:41] teolemon opened #1999 "java.lang.OutOfMemoryError com.mikepenz.materialdrawer.view.BezelImageView.setImageResource"
[code]

[2018-11-10 12:43] teolemon opened #2000 "java.lang.NullPointerException com.mikepenz.materialdrawer.Drawer.addItemsAtPosition"
[code]

[2018-11-10 12:47] teolemon opened #2001 "java.lang.IllegalArgumentException android.view.MotionEvent.nativeGetAxisValue"
[code]

[2018-11-11 05:02] sbeitzel commented on #881
IntelliJ IDEA offers a code intention to suggest replacing anonymous classes with lambdas. I'd be willing to bet that your development environment can handle most of this work.

[2018-11-11 05:16] #881 closed

[2018-11-11 09:35] guyou commented on #1780
Is there any comparison feature already?

I looked in the history tab and expected to be able to select two product and clic a *compare* button to have, at least, a side by side comparison.

[2018-11-13 04:08] dirtygardner opened #2003 "Errors with % in Nutrition Facts"
Input item in database (Barcode: 0834266007424, last edit by me: 2018-11-13-03.05.00-UTC)

Errors (in "per serving" values):
Calcium: 0.15 % DV (label value is 15% DV)
Magnesium: 0.02% DV (label value is 6% DV)
Iron: 0.00% DV (label value is 8% DV)
Phosphorus: 0.15% DV (label value is 15%)

Inputting label values and "Save Edits" doesn't fix errors.

OpenFoodFacts version 2.9.7
LineageOS version 1

[2018-11-13 15:52] teolemon commented on #429
@rahul-jha98 You can work on it :)

[2018-11-13 17:08] #1991 closed

[2018-11-13 17:14] teolemon commented on #1780
nope. this is something that would be really nice to have.

[2018-11-17 13:45] teolemon opened #2007 "Adding a tweakable call to action in home"
Adding a tweakable call to action in home that would use a file on the Open Food Facts server, and that we could update on the fly.

![image](https://user-images.githubusercontent.com/1689815/48661748-66b5d300-ea77-11e8-8685-fa1dbe6aa669.png)

[2018-11-18 09:42] #1984 closed

[2018-12-01 13:42] rahul-jha98 commented on #429
@teolemon I see that the alert is made to pop only if the user opens the fragment the first time.
Now I have made the view in the background containing the text.

Do I have to show it only first time the fragment is opened or it should be there if the list of Allergens is empty and hide it if the user's list of allergens is not empty?

[2018-12-01 17:03] jaindiv26 commented on #1917
@teolemon I've tried to reproduce this issue in various devices but every time I share photos from Google Photos it works perfectly fine. Is this issue still happening?

[2018-12-01 17:42] jaindiv26 commented on #1748
@teolemon It seems that it's a library issue and it's not solved yet and it mostly affect the users running Android 6.0, here's the link of the issue in the library.
https://github.com/jkwiecien/EasyImage/issues/52

[2018-12-01 18:16] jaindiv26 commented on #1982
@teolemon This issue is already solved.

[2018-12-03 17:34] jaindiv26 commented on #2007
@teolemon Here's just a sample how it would look, Do we also need to update this textView if not please give a suggestion about what would be the proper text for this, and also I need the API that would give a proper json for opening the SummaryProductFragment.

![screenshot_2018-12-03-22-56-24-650](https://user-images.githubusercontent.com/32436867/49390587-65f78f00-f74f-11e8-8577-e9b3c3235546.jp

[2018-12-04 16:12] teolemon opened #2015 "Add prompts to get the NutriScore for uncomplete products"
Add prompts to get the NutriScore and Nova groups for uncomplete products
- Add a prompt for the category that turns into the category edit field 'Add a category to compute the Nutri-Score'
- Add a prompt for the Nutrition table that turns into the nutrition tab 'Add the nutrition values to compute the Nutri-Score'

[2018-12-04 18:57] RiQuY commented on #1984
@teolemon Please reopen, issue is still unsolved.
I just checked the same product today in the latest version and still show ups wrong.

[2018-12-07 10:48] ripetrescu commented on #1517
I think this is not happening anymore after we changed the modal to use BottomSheetDialogFragment.

[2018-12-07 12:04] teolemon commented on #1517
indeed. closing thanks @ripetrescu :)

[2018-12-07 12:04] #1517 closed

[2018-12-15 18:16] jaindiv26 opened #2020 "Duplicate Logout and Sign In in App Material Drawer"
**Steps to reproduce:**
Enable don't keep activities.
1. Enter username and password and press sign in.
2. After pressing Sign in, press the home button immediately.
3. Wait for 5 seconds.
4. Reopen the app from the recent list.
5. In the material drawer, you can see two Logout button.

**Observed behavior:**

Here, upon clicking any of the two buttons will prompt for Logout. But when user Logout,

[2018-12-17 21:01] teolemon opened #2022 "Additives popups don't show on some phones"
Additives popups don't show on some phones cc @sebleouf

[2018-12-19 15:37] teolemon opened #2023 "Take and upload a screenshot of the barcode when it's recognized"
Take and upload a screenshot of the barcode when it's recognized
We have too many errors in barcodes. Having a screenshot taken at the moment of the barcode recognition would enable us to correct the barcode afterwards.

Related discussion on the upstream library: https://github.com/journeyapps/zxing-android-embedded/issues/183

[2018-12-20 06:39] prashantkh19 commented on #1813
Is this still open? I would like to work on it.

[2018-12-20 07:35] huzaifaiftikhar commented on #1813
Yes, you can go ahead.

[2018-12-20 14:18] SantosSi opened #2025 "Samsung Galaxy S9: camera image freezes"
**Summary:**
The image captured from the camera is frozen after adding a new or editing an existing product.

**Steps to reproduce:**
- Scan a new product
- Add data
- Save
OR:
- Scan an existing product
- Tap the pencil icon
- Save

**Expected behavior:**
Continue to capture the live camera image.

**Observed behavior:**
A still image highly probable from when the edit icon was tapped. This is ev

[2018-12-22 00:33] shiv07tiwari commented on #2007
@teolemon  Hello !
Can I work on this issue ?
If yes, what exactly do we need to show in the web page that we will open ?

[2018-12-22 05:08] jaindiv26 commented on #2007
@shiv07tiwari I'm already working on this feature.

[2018-12-22 10:39] shiv07tiwari commented on #2007
Okay no issue.

[2018-12-22 11:38] teolemon opened #2026 "Image upload fails when the app is in Brazilian portuguese"
Image upload fails when the app is in Brazilian portuguese (and possibly other languages in the form of XX_xx)
the server only accepts 2 letters.

[2018-12-22 11:50] shiv07tiwari commented on #1985
@teolemon I am willing to work on this issue.
What approach do we need, should I just display to the user that please enable history, or just disable the history from settings and remove the history setting ? (Which user can later turn on)

[2018-12-22 13:56] prashantkh19 commented on #1813
I have made a pull request. Kindly review.

[2018-12-22 16:04] jaindiv26 commented on #2026
@teolemon I'll try to debug and reproduce this issue.

[2018-12-22 16:07] jaindiv26 commented on #2023
@teolemon So, when a new barcode is scanned and after the user fills the details and images, both the barcode image and image upload too. Right?

[2018-12-22 16:42] jaindiv26 commented on #2026
@teolemon I've selected Portueges(Brasil), upload an image, it works fine, If it's occurring at ay specific screen please tell.

![screenshot_2018-12-22-22-08-46-321_openfoodfacts github scrachx openfood](https://user-images.githubusercontent.com/32436867/50376703-a81d3d80-0636-11e9-9eeb-c4d95962a355.png)

[2018-12-22 17:14] teolemon commented on #2026
Can you try with the ingredients and nutrition, possibly in edit mode.

[2018-12-22 23:35] shiv07tiwari commented on #1985
Hey @teolemon . Yes I am on slack. Please help me with the issues I can pick.
Thanks a lot

[2018-12-23 08:49] prashantkh19 commented on #1890
Steps to reproduce this error?

[2018-12-23 10:46] teolemon opened #2028 "No way to downgrade schemas"
Not sure if essential, but yet
[code]

[2018-12-24 17:46] teolemon opened #2029 "Immediately attempt to reload the product when ingredient are added or modified"
- Immediately attempt to reload the product when ingredient are added or modified
- Usually we can compute additives, allergens, and the Nova groups, and they need to appear instantly.

[2018-12-24 17:47] teolemon opened #2030 "Immediately attempt to reload the product when the category is added or modified"
- Immediately attempt to reload the product when the category is added or modified. That way it will show the Nutri-Score
- Usually we can compute the Nutri-Score if nutrition is here, and it needs to appear instantly.

[2018-12-25 13:14] teolemon opened #2031 "Add the category game in a webview accessible from the category explorer"
![image](https://user-images.githubusercontent.com/1689815/50422900-2522ff80-084f-11e9-8a6d-25b991d84069.png)
Add the category game in a webview accessible from the category explorer. The banner doesn't need to be orange, it can be the same color as categories.

[2018-12-25 13:43] PrajwalM2212 commented on #2031
I will do this

[2018-12-26 11:59] teolemon opened #2032 "Set header with all HTTP requests"
We need to set an HTTP header for HTTP requests to the app since we need to be able to see which products are actually scanned.

[2018-12-27 13:43] shiv07tiwari commented on #2032
@teolemon  Can I start working on this issue ?

[2018-12-27 13:48] teolemon commented on #2032
Yup :)

[2018-12-27 17:09] subhanjansaha commented on #2023
I would like to pursue this. Is somebody already working on this issue?

[2018-12-28 17:02] stephanegigandet commented on #2032
Please add the User-agent header, and set it To something like OFF Android + the app version number

[2018-12-28 17:06] shiv07tiwari commented on #2032
Hello, i don't really understand what is expected, isnt the PR https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2035 sufficient to add a header in the http get request ?

[2018-12-28 18:05] prashantkh19 commented on #2030
Can you please explain this? (possibly by some steps or screenshots)

[2018-12-28 19:33] teolemon commented on #2030
1. Add a new product (without the category)
2.Scan it and go to its full page
3. Edit and add the category.
4. The category doesn't appear after save. Pull to refresh doesn't make it appear.

5. Expected result: pull to refresh should make it appear.

[2018-12-29 04:32] prashantkh19 commented on #2030
Got it! I am working on this.

[2018-12-29 08:59] subhanjansaha commented on #2029
Could you please elucidate as to what is required to be done? (if possible, include steps to reproduce the fault)

[2018-12-29 09:05] teolemon commented on #2029
Hey @subhanjansaha
1. Edit a product without the ingredients and add the ingredients.
2. The ingredients don't appear after save. Pull to refresh makes it appear, but additives and NOVA don't appear.
3. Expected result: additives and NOVA should appear.

[2018-12-29 09:15] prashantkh19 commented on #2015
Explanation (by steps to reproduce)?

[2018-12-29 10:16] teolemon commented on #2015
Some products don't have nutrition facts (there is an option to indicate that in the Edit mode, and there's a specific value in the JSON when that's the case)
As a result:

Nutrition tab (if no nutrition facts are indicated) :
Add the nutrition values to compute the Nutri-Score
This product doesn't have nutrition facts

[2018-12-29 10:42] subhanjansaha commented on #1921
So, the Http request headers have to be modified so as to distinguish them, right? Could you please clarify?

[2018-12-29 10:56] subhanjansaha commented on #1828
Any steps to reproduce the bug?

[2018-12-29 13:18] huzaifaiftikhar commented on #1921
@subhanjansaha This is already a work in progress #2035

[2018-12-29 15:37] jaindiv26 commented on #2026
@teolemon I've run various combination, but none of them makes app crash. Can you upload the deobfuscation file maybe that will help to trace this issue properly.

[2018-12-29 15:40] jaindiv26 commented on #2022
@teolemon That may happen if the user has blocked the app notification.

[2018-12-29 16:55] jaindiv26 commented on #1981
@teolemon Yes, the scanner does not respect the language of the phone, because it's depends on the app language. Whatever the language of the phone is, the app will always follow it's own language. But what we can do is, at the time of first time opening of the app, we run this line "Locale.getDefault().getDisplayLanguage();" to get the device language and set it as default of the app language.

F

[2018-12-29 17:28] jaindiv26 opened #2038 "Everytime user select countries to be sold, list of product displays and then error messages displayed."
**Summarize your issue in one sentence (what goes wrong, what did you expect to happen)**
Everytime user select countries to be sold, list of product displays and then error messages displayed.

**Steps to reproduce:**
1. Open any product.
2. Select the country where it's sold. Example France.
3. New activity opens up, displays the product list and after a few seconds, it displays the error messag

[2018-12-29 18:28] #2038 closed, assigned to nobody

[2018-12-30 07:49] #2031 closed

[2018-12-30 11:46] subhanjansaha commented on #2001
Could you please explain how to reproduce the bug? (with steps, if possible)

[2018-12-30 11:47] teolemon commented on #2001
Those are bugs from the Google Play Console. I have no further context unfortunately.
Perhaps that's related to the Shake to Scan feature.

[2018-12-30 12:24] teolemon opened #2042 "Add a small "Take Nutrition Photo" and "Take Ingredient photo" to the first tab when ingredent and/or nutrition photo are missing"
Add a small "Take Nutrition Photo" button to the first tab (similar to the one in Nutrition tab) when nutrition photo is missing and "no_nutrition_data" is not True.

Add a small "Take Ingredients Photo" button to the first tab (similar to the one in Ingredients tab) when nutrition photo is missing

They could be right and left of the button/existing photo for front

Rationale: the Take Nutrition

[2018-12-30 12:48] teolemon opened #2043 "Add a small prompt "Extract ingredients" when there's an ingredient photo but no ingredient text"
On the ingredient tab, add a small prompt "Extract ingredients" when there's an ingredient photo but no ingredient text.
It should open the edit mode, go to the ingredient section and start the OCR process.

[2018-12-30 15:45] teolemon opened #2044 "Enable contributors to select, rotate and crop images from product page on long press"
Enable contributors to select, unselect, rotate and crop images from product page (in the summary, ingredients, nutrition tabs) on long press.
Enter an edit mode that enables to crop and rotate the current image, as well as select, rotate and crop one of the other images.
@PrajwalM2212 has already created a PR #2019  for a more general image selection tab that can be leveraged.

[2018-12-30 15:57] prashantkh19 commented on #2042
A button below 'TAKE MORE PICTURES' would be fine?

[2018-12-30 23:11] teolemon commented on #2043
@subhanjansaha can you formally claim the bug ?

[2018-12-30 23:33] subhanjansaha commented on #2043
I'm not sure I follow, how do I claim an issue?

[2018-12-31 04:11] prashantkh19 commented on #2044
I am working on this.

[2018-12-31 05:37] prashantkh19 commented on #2044
- Is there any API to get all the images associated with a product?
(as to select an image for let say Front, I need to display all the images in android)

[2018-12-31 11:01] teolemon commented on #807
We now have a magic link that works cross platform:
https://fr.openfoodfacts.org/application-mobile-open-food-facts

[2018-12-31 14:36] prashantkh19 opened #2050 "Show app version number in the Preferences"
Add app version number as a new line in the Preferences.

[2018-12-31 21:02] teolemon commented on #634
https://android-developers.googleblog.com/2011/03/identifying-app-installations.html

[2019-01-01 16:41] kujaw opened #2052 "OpenFoodFacts keeps stopping"
- OFF version 2.9.8 from FDroid.
- Android 7.1.2

During opening I get the error "OpenFoodFacts has stopped", after clicking "Open app again" I get "OpenFoodFacts keeps stopping".
How can I get any logs to help you?

[2019-01-01 16:42] teolemon commented on #2052
Do you use the app in Polish, by any chance ?

[2019-01-01 16:51] kujaw commented on #2052
I have English language set systemwide, but I use it in Poland.

[2019-01-01 16:58] teolemon commented on #2052
What about the app itself. English ?

[2019-01-01 17:02] teolemon commented on #2052
If you're unfamiliar with logging, you can install Android Studio, connect your device with a USB Cord, and look for the error.
1. Enable usb debugging
https://developer.android.com/studio/debug/dev-options
2.Look for the Logcat tab at the bottom of Android Studio after installing it, filter on Errors. Filter on "openfood" and you should see the error.

[2019-01-01 19:11] #2050 closed

[2019-01-02 09:35] teolemon opened #2053 "Add an explicit 'Take another photo' button in edit mode next to the photo currently selected"
Add an explicit `Take another photo` button in edit mode next to the photo currently selected in the Summary, ingredients and nutrition steps. Currently, you have to long press the photo to take another, which is not intuitive enough.

[2019-01-02 13:17] balaji-ramavathu commented on #1568
@teolemon @hackerb9 Hello!
Can I work on this issue?

[2019-01-02 13:18] teolemon commented on #1568
We've just fixed it. @balaji-ramavathu

[2019-01-02 13:21] balaji-ramavathu commented on #1568
Okay!

[2019-01-02 13:35] teolemon commented on #1849
Basically, showing the most interesting parts in the first tab.
- the scores
- the nutrition lights
- the additives

[2019-01-02 13:43] teolemon opened #2055 "Load the ingredient taxonomy for the Open Beauty Facts flavor"
https://static.openbeautyfacts.org/data/taxonomies/ingredients.json

[2019-01-02 14:55] #1763 closed

[2019-01-02 15:12] teolemon opened #2056 "Put ingredients warnings on Open Beauty Facts"
https://world.openbeautyfacts.org/api/v0/product/3282779063234.json?fields=ingredients,code
1. Get the ingredient list for the product
[code]

2. If an ingredient which is on the blacklist is inside, display it.
[code]
[code]
If it is not present, display:
[code]

[code]

[code]

[2019-01-02 15:21] balaji-ramavathu commented on #1357
@teolemon i will work on this issue.

[2019-01-02 15:30] teolemon commented on #1357
Ok @balaji-ramavathu , you can go ahead :-)

[2019-01-02 15:51] jaindiv26 commented on #2055
@teolemon I'll be working on this.

[2019-01-02 15:51] jaindiv26 commented on #2056
@teolemon I'll be working on this.

[2019-01-02 15:52] jaindiv26 commented on #2053
@teolemon I'll be working on this.

[2019-01-02 15:57] teolemon commented on #2055
Have you noted that @dobriseb has a working solution for this in his pull request for Open Food Facts ?

[2019-01-02 15:59] jaindiv26 commented on #2055
Yes.

[2019-01-02 16:04] teolemon commented on #2055
It's part of a bigger PR. And it's OFF specific at the moment, I think. I've asked @dobriseb to split it

[2019-01-02 16:06] jaindiv26 commented on #2055
And we want the same for OBF.

[2019-01-02 16:08] teolemon commented on #2055
actually, his branch might already work with OBF (eg downloading the taxonomy, and loading it in the local db)

[2019-01-02 16:09] teolemon commented on #2055
let's pause this until the taxonomy loading is merged.

[2019-01-02 16:11] jaindiv26 commented on #1909
@teolemon I'll be working on this.

[2019-01-02 16:13] jaindiv26 commented on #1903
@teolemon I'll be working on this issue.

[2019-01-02 16:14] teolemon opened #2057 "Nutrition grade is displayed for products that don't have it"
https://world.openfoodfacts.org/api/v0/product/3228675443053.json
Doesn't have a nutrition grade BUT shown as B in the Products to be completed list

![image](https://user-images.githubusercontent.com/1689815/50600599-dd851f00-0eb1-11e9-961e-561d7a7ed083.png)

[2019-01-02 16:15] jaindiv26 commented on #2055
Surel

[2019-01-02 16:33] prashantkh19 commented on #634
Interested, working on this issue.

[2019-01-02 16:33] jaindiv26 commented on #1869
@teolemon Can you upload a screenshot in reference to this issue?

[2019-01-02 16:34] jaindiv26 commented on #1861
@teolemon I'll be working on this issue.

[2019-01-02 16:42] teolemon commented on #1869
![image](https://user-images.githubusercontent.com/1689815/50601842-b597ba80-0eb5-11e9-8e0f-302928b5bae5.png)
![image](https://user-images.githubusercontent.com/1689815/50601859-c34d4000-0eb5-11e9-9937-1c357448c501.png)

[2019-01-02 16:48] jaindiv26 commented on #1869
@teolemon Understood the issue, I'll be working on this.

[2019-01-02 16:59] jaindiv26 commented on #2057
@teolemon I'll investigate this issue.

[2019-01-03 06:35] prashantkh19 commented on #634
@teolemon Review this commit. The hashed code needs to be parsed at the server side. I have sent it with the key 'identity_code'. Also, the code will be same for a single Installation.

[2019-01-03 12:53] teolemon commented on #634
https://world.openfoodfacts.org/product/99999971/test
Can you send it in the comment field instead ?

[2019-01-04 07:51] subhanjansaha commented on #1919
@teolemon any steps to reproduce this?

[2019-01-04 07:59] subhanjansaha commented on #1848
@teolemon I'll be working on this

[2019-01-04 08:05] subhanjansaha commented on #1780
@teolemon This sounds like an interesting feature. Can I work on this?

[2019-01-04 08:11] subhanjansaha commented on #1758
@teolemon Could you elucidate? How would the app show what the nutrition table would look like?

[2019-01-04 08:14] subhanjansaha commented on #1714
@teolemon I would like to work on this

[2019-01-04 10:15] teolemon commented on #1780
@subhanjansaha I would add a comparison menu in the sidebar, and allow to scan several products, and display the main facts in a new view side by side, as columns. It could work for 2 products, but potentially more, with horizontal scrolling. We could imagine allowing to browse other products from the same category

[2019-01-04 10:58] teolemon commented on #1848
We have found a more generic way to do this, and there's a PR for this already @subhanjansaha
I'm closing this bug.

[2019-01-04 10:58] #1848 closed

[2019-01-04 10:59] teolemon commented on #1919
You can perhaps block connectivity on your local router.

[2019-01-04 11:19] teolemon commented on #2057
thnak @jaindiv26 :-)

[2019-01-04 14:55] subhanjansaha commented on #1780
@teolemon Thank you so much for the idea. I would love to work on this feature.

[2019-01-04 15:01] subhanjansaha commented on #1919
Thank you. I'll investigate this issue.

[2019-01-05 23:20] teolemon opened #2062 "Add scan Fab to the history activity"
Add scan Fab to the history activity

[2019-01-05 23:47] prashantkh19 commented on #2062
I will work on this.

[2019-01-06 21:44] teolemon opened #2065 "Adding support for recycling instructions"
We have two new fields for some products:
[code]
(You can append language for language specific versions)

[2019-01-06 21:45] teolemon opened #2066 "Adding support for storage instructions"
conservation_conditions_fr

[2019-01-06 21:46] teolemon opened #2067 "Adding support for Other informations"
other_information_fr

[2019-01-06 21:48] teolemon commented on #2065
Sample product: https://world.openfoodfacts.org/product/3222472114031/cacahuetes-grillees-et-salees-250g-casino

[2019-01-06 21:48] teolemon commented on #2066
Sample product: https://world.openfoodfacts.org/product/3222472114031/cacahuetes-grillees-et-salees-250g-casino

[2019-01-06 21:49] teolemon commented on #2067
Sample product: https://world.openfoodfacts.org/product/3222472114031/cacahuetes-grillees-et-salees-250g-casino

[2019-01-06 22:13] teolemon commented on #2056
Okay, assigned

[2019-01-06 22:17] prashantkh19 commented on #2067
I am working on this.

[2019-01-06 22:18] prashantkh19 commented on #2066
working on this.

[2019-01-06 22:18] prashantkh19 commented on #2065
working on this.

[2019-01-07 10:54] KarthikRIyer commented on #1996
I'll be looking into this issue.

[2019-01-07 17:16] teolemon opened #2069 "Allow to scan offline (not open the products)"
I've created a special excerpt of the database, which has the required data to scan products for France. This is 11 Mb zipped, and 37Mb unzipped.
http://fr.openfoodfacts.org/data/offline/fr.openfoodfacts.org.products.small.csv.tgz
Can we download this data and store it in the DB ?

[2019-01-07 17:17] teolemon commented on #2069
I can create it for other countries on demand.

[2019-01-07 17:19] prashantkh19 commented on #2069
We can download the file on the first run and will store it in the DB. I will try that.

[2019-01-07 19:53] teolemon commented on #1996
It seems this has already been fixed. @KarthikRIyer is fixing the apparence, and we'll be closing this.

[2019-01-07 20:50] #2062 closed

[2019-01-07 22:52] teolemon commented on #2052
@kujaw Can you try wiping your cache ?

[2019-01-09 11:09] #2042 closed

[2019-01-09 11:18] teolemon opened #2071 "Moving recycling instructions to the environnement tab"
Once the PR is merged, Moving recycling instructions to the environnement tab
Here's a sample product that has recycling instructions.
https://world.openfoodfacts.org/product/3222472114031/cacahuetes-grillees-et-salees-casino

[2019-01-09 11:21] subhanjansaha commented on #2071
I can work on this

[2019-01-09 11:22] teolemon commented on #2071
The PR is not yet merged, so not yet :-)

[2019-01-09 11:36] teolemon opened #2072 "Remove the pictures from the "Contributions" tab"
Remove the pictures from the "Contributions" tab, since we have a "Product Photos" tab.
Note: you have to enable both tabs in settings first.

[2019-01-09 11:38] Shritesh99 commented on #2071
I will work on it.

[2019-01-09 11:39] Shritesh99 commented on #2072
I will work on it. ASAP

[2019-01-09 11:45] teolemon opened #2073 "Small issue with the store field"
![image](https://user-images.githubusercontent.com/1689815/50897423-52a1a880-140c-11e9-9899-11072ace9463.png)
It seems that an extra space is introduced on the 2nd and 3rd value. It ain't like that on other fields.

[2019-01-09 11:45] teolemon commented on #2073
Example barcode: 3245412051661

[2019-01-09 11:46] teolemon commented on #2073
https://barcode.tec-it.com/en/EAN13?data=3245412051661

[2019-01-09 11:52] teolemon opened #2074 "Add a new setting to store the country of the user"
Allow the user to pick a country in settings, and store it.
It will be useful to automatically populate the "Country where sold" field when adding a new product.

[2019-01-09 11:58] subhanjansaha commented on #2074
I'll work on this.

[2019-01-09 11:59] subhanjansaha commented on #2073
I'll work on this.

[2019-01-09 12:16] teolemon opened #2075 "Merge the Nutrition and Nutrition table tabs"
Merge the "Nutrition" and "Nutrition table" tabs into a "Nutrition" tab

Put the content of the "Nutrition" tab above, and the "Nutrition table" below.

[2019-01-09 12:18] Shritesh99 commented on #2075
Seems interesting, I will work on it.

[2019-01-09 12:20] teolemon opened #2076 "Regroup the Brands and Quantity with the product name, above the line in the Summary tab"
Regroup the Brands and Quantity with the product name, above the line in the Summary tab

[2019-01-09 12:24] teolemon opened #2077 "The allergen popup behaves weirdly"
![image](https://user-images.githubusercontent.com/1689815/50899194-b4184600-1411-11e9-96d6-f13551ad4c00.png)
![image](https://user-images.githubusercontent.com/1689815/50899209-bf6b7180-1411-11e9-9575-e704d4c07df3.png)
![image](https://user-images.githubusercontent.com/1689815/50899217-c3978f00-1411-11e9-91c4-76b2122d55ad.png)
To reproduce, you need a product with an allergen like 3245412051661,

[2019-01-09 17:37] balaji-ramavathu commented on #1849
Can I work on this issue?

[2019-01-09 18:24] teolemon opened #2081 "Add the scan button in the categories explorer"
Add the scan button in the categories explorer

[2019-01-09 18:25] teolemon opened #2082 "Add the scan button in the product list view"
Add the scan button in the product list view that's reused to list products

[2019-01-10 02:16] subhanjansaha commented on #2082
I can work on this

[2019-01-10 02:16] subhanjansaha commented on #2081
I can work on this

[2019-01-10 09:39] teolemon commented on #2082
You can go ahead :)

[2019-01-10 09:39] teolemon commented on #2081
You can go ahead :)

[2019-01-10 09:41] teolemon commented on #2071
@Shritesh99 since I opened this bug for you, you have the priority to go ahead if you're not on some other bug.

[2019-01-10 09:51] KarthikRIyer commented on #1663
@teolemon is this done? If not, I'll work on this.

[2019-01-10 09:53] teolemon commented on #1860
This is for existing pictures, and it's a bit longer than what it looks like (it requires using the image read and write API to rotate existing images)

[2019-01-10 10:00] teolemon commented on #1860
https://en.wiki.openfoodfacts.org/API/Write#Manipulating_photos_for_a_product

[2019-01-10 10:04] KarthikRIyer commented on #1860
@teolemon I'll look into this.

[2019-01-10 10:15] teolemon commented on #1860
https://en.wiki.openfoodfacts.org/API/Write/Photos

[2019-01-10 13:43] teolemon commented on #1849
Yes, you can go ahead :-)

[2019-01-11 11:58] #1869 closed

[2019-01-11 15:48] tronku opened #2086 "Trash icon visible after swiping in History section"
**Summary:**

In the history section, the trash icon used to delete an item is visible even after deleting the item.

**Steps to reproduce:**

Go to History section from Navigation Drawer. Swipe any item to the left and click the trash icon visible on the right. The item will get deleted but the trash icon will be still visible.

**Expected behavior:**

After clicking the trash icon, it should be

[2019-01-11 15:53] Shritesh99 commented on #2086
Working on it.

[2019-01-11 19:22] tronku opened #2087 "Space increase on refresh in Nutrition Facts tab"
**Summary:**

The space between each row of nutritional value in Nutrition Facts tab increases on refreshing the data.

**Steps to reproduce:**
Select any food item and go to Nutritional Facts tab of that item. It uses swipe to refresh method so on swiping down, more space is added between each row.

**Expected behavior:**

Refreshing should only update the data.

**Observed behavior:**

Refreshin

[2019-01-12 02:34] #2075 closed

[2019-01-12 07:04] #2081 closed

[2019-01-12 07:06] PrajwalM2212 opened #2090 "Rename activity_brand.xml into a suitable name"
`activity_brand.xml` acts as a layout for `ProductBrowsingListActivity`. But the name `activity_brand.xml` is misleading and does not convey what it actually does.
It would be best to rename it

[2019-01-12 07:07] subhanjansaha commented on #2090
Working on it.

[2019-01-12 11:43] prashantkh19 commented on #2069
@teolemon please review... as of now, since the data is too big (~700000 products), so it's taking too much time to store in the database.

[2019-01-12 12:12] teolemon commented on #2069
@jinqian @huzaifaiftikhar @PrajwalM2212 any ideas to massively increase it client side ?
Can we perhaps generate and store a separate db server side ?

[2019-01-12 14:20] #2072 closed

[2019-01-12 14:56] teolemon commented on #2069
@prashantkh19 Did you manage to load it completely ? if so, how long did it take ?

[2019-01-12 15:42] #2090 closed

[2019-01-12 18:17] prashantkh19 commented on #2069
No, I didn't. I did for a subset of 10,000 products and it took around 5-6 minutes.

[2019-01-12 18:18] teolemon commented on #2069
Do you have an idea of the size of the DB for 10k products ?

[2019-01-12 18:21] PrajwalM2212 commented on #2069
Your code is trying to download it during the first run. That is great but I am more worried about the time that will take.
Even at present without the database the splash screen takes a lot of time to load.  In fact we must try to reduce the splash screen time as it is.
I think we should allow the user to schedule a time for download if he wants offline capability just like how we can schedule so

[2019-01-12 18:35] PrajwalM2212 commented on #2069
What if we don't save the data in a database. When a user scans a product, we will
Scan the csv file if the product exists and then fetch that record and display it to them.
We can improve the organization of the csv file so that we take less time to fetch the product from csv
@teolemon @prashantkh19

[2019-01-12 18:38] PrajwalM2212 commented on #2069
@prashantkh19 That is why I was saying that we download like 10000 products at every attempt rather than as whole

[2019-01-12 18:46] prashantkh19 commented on #2069
@PrajwalM2212 yeah, it can be good, we can divide the csv file based on sorted barcodes, each file having let say, 10000 products and a separate file which contains the metadata of all the csv files. That way, we will need to scan just 2 files for each product scan, and it will take hardly 5 seconds to get the results. And maybe we can try hashing each csv also.

[2019-01-12 19:10] teolemon commented on #2069
weird: http://greenrobot.org/wordpress/wp-content/uploads/2016-07-08-android-orm-performance-benchmark.png

[2019-01-12 19:10] teolemon commented on #2069
15k entities per second.

[2019-01-12 22:02] prashantkh19 commented on #2069
Optimized Version: took around 4 minutes to `read csv`(~ 2 minutes) and `saving to the database`(~ remaining 2 minutes) apart from downloading time for ~700000 products (complete csv file data).

[2019-01-12 22:13] prashantkh19 commented on #2069
It can still be optimized more, as I am saving a list of max 15000 entities each time as of now. If I increase the list size, then time can be reduced but increasing the size of the list may result in crashes due to memory. A better Data Structure (space optimized) than ArrayList may help or if we somehow can store `List<String[]> records` returned by `reader.readAll()` directly to greenDao databa

[2019-01-12 22:59] Shritesh99 commented on #2071
## Hi, @teolemon. I didn't see environnement tab in this [product](https://world.openfoodfacts.org/product/3222472114031/cacahuetes-grillees-et-salees-casino) can, you please give another product.
![whatsapp image 2019-01-13 at 4 24 36 am](https://user-images.githubusercontent.com/30935658/51079339-368f5700-16eb-11e9-8f48-47c6fa32e8fa.jpeg)

[2019-01-12 23:02] teolemon commented on #2071
http://world.openfoodfacts.org/product/3700214610466/pate-a-tartiner-bio-perou-alter-eco

[2019-01-12 23:03] teolemon commented on #2071
Currently it's only displayed for products with a carbon footprint

[2019-01-12 23:03] teolemon commented on #2071
3700214610466

[2019-01-13 13:51] Shritesh99 commented on #2071
@teolemon , I did't receive the recycling instruction data when I call api through [link](https://ssl-api.openfoodfacts.org/api/v0/product/3222472114031.json?fields=image_small_url,vitamins_tags,minerals_tags,amino_acids_tags,other_nutritional_substances_tags,image_front_url,image_ingredients_url,image_nutrition_url,url,code,traces_tags,ingredients_that_may_be_from_palm_oil_tags,additives_tags,all

[2019-01-13 13:56] teolemon commented on #2071
As mentionned above, the matching PR is not merged yet
see: https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2068

[2019-01-13 16:14] teolemon opened #2096 "Search doesn't work when invoked from the "Products to be completed" screen"
Search doesn't work when invoked from the "Products to be completed" screen

[2019-01-13 16:17] subhanjansaha commented on #2096
I'll work on this.

[2019-01-13 21:33] teolemon commented on #2052
@kujaw I have found the reason. It will be fixed in the next release :-)

[2019-01-14 00:20] #1357 closed

[2019-01-14 04:44] prashantkh19 commented on #2069
@teolemon @PrajwalM2212 can you review the latest commit?

[2019-01-14 17:49] KarthikRIyer commented on #1857
@teolemon Can I work on this?

[2019-01-14 18:23] KarthikRIyer commented on #163
@teolemon what does exporting mean here?

[2019-01-15 18:05] KarthikRIyer commented on #1857
@teolemon is this still open?

[2019-01-15 18:21] teolemon commented on #1857
I'm not sure if it was implemented (my phone has no battery left at the moment) @huzaifaiftikhar ?

[2019-01-15 18:24] KarthikRIyer commented on #1857
With the current master branch this doesn't seem to be implemented.

[2019-01-16 02:07] #2087 closed

[2019-01-16 13:32] teolemon commented on #1780
![image](https://user-images.githubusercontent.com/1689815/51252208-86944500-199b-11e9-9426-d8653650aef4.png)
I was thinking of something a bit like that

[2019-01-16 13:33] teolemon commented on #1780
with all the fields side by side.

[2019-01-16 13:43] teolemon commented on #1531
![image](https://user-images.githubusercontent.com/1689815/51252639-a841fc00-199c-11e9-9671-2d534e62809b.png)
"https://world.openfoodfacts.org/ingredient/fr:" + huile-vegetale
The system works only on French ingredients now, but the server page redirects to the English page.

[2019-01-16 13:51] prashantkh19 commented on #1616
@teolemon I would like to work on it..

[2019-01-16 13:54] teolemon commented on #1616
You can go ahead. A couple of precisions:
- I modified the time to be more or less 6 months, but that's not ideal at all
- The last point has been fixed (the loading screen is ok, we could make it granular by telling "Loading ingredients, loading additives…)
- The really big pain point is to reload on 'If-Modified-Since'

(Eventually, I'd like background download to avoid waiting too much on first

[2019-01-16 13:57] teolemon opened #2105 "Load taxonomies in the background"
Currently, users have to wait a long time on 1st use for taxonomies to load. I suspect this is loosing us contributors, especially people on slow connexions.
Can we load the taxonomies in the background ? The latest versions of Android are agressive on background processes, and this is bug prone.
Also extra care should be applied because people might load features that require taxonomies, at a tim

[2019-01-16 14:03] prashantkh19 commented on #2105
This can be applied to issue#2069 to download product in background as well. I will work on it..

[2019-01-16 19:41] KarthikRIyer commented on #1857
@teolemon is it necessary to show the feedback or can we just clamp the values as soon as the value in the editText goes out of bounds. Why I'm asking is that, if we do not clamp the values immediately, we'll have to disbale the save button until all values are within limit. This will be fine for the nutrients present initially, but I think this won't be as feasible when other nutrients are added

[2019-01-17 12:16] teolemon opened #2109 "Crasher in the Image adapter"
[code]

[2019-01-17 12:17] teolemon commented on #2109
Got it with 87222975

[2019-01-17 12:18] KarthikRIyer commented on #163
@teolemon could you please clarify this issue? I'd like to work on it.

[2019-01-17 12:22] PrajwalM2212 commented on #2109
@teolemon I would need to know the pattern for codes with less digits.  Currently we have a pattern for codes like 3302749508029 which have 13 digits.

[2019-01-17 12:23] teolemon opened #2110 "Replace log message in Product Photos by something more useful"
![image](https://user-images.githubusercontent.com/1689815/51318569-059c8280-1a5b-11e9-8ccf-d7a7609dda82.png)
The success message is very geeky.

[2019-01-17 12:29] teolemon opened #2111 "Send an updated image sends to the Contribution tab"
Send an updated image sends to the Contribution tab

[2019-01-17 13:30] PrajwalM2212 commented on #2111
Can I get more information about this ?

[2019-01-17 13:35] teolemon commented on #2111
There's this "Take an updated photo" on the ingredient tab.

[2019-01-17 13:35] teolemon commented on #2111
when you already have a picture it seems

[2019-01-17 13:42] KarthikRIyer commented on #564
@teolemon I'd like to work on this

[2019-01-18 07:54] teolemon opened #2117 "2 new fields"
warning
customer_service
This will be available for a limited number of products.

[2019-01-19 05:53] #1857 closed

[2019-01-19 08:37] teolemon opened #2118 "Create a fast addition mode"
It would only require 3 photos, product name, brand and weight.

[2019-01-19 08:38] prashantkh19 commented on #2118
working on it.

[2019-01-19 08:38] subhanjansaha commented on #2118
I can work on this

[2019-01-19 08:41] teolemon commented on #2118
@prashantkh19 I was considering starting from the existing addition mode, and hiding everything but those fields.
Perhaps we should include categories, ingredients and nutrition so that people can get the Nutri-Score and Nova groups immediately.

[2019-01-19 08:45] prashantkh19 commented on #2118
Yeah, that'd be good. I will make only these fields visible.

[2019-01-19 08:51] teolemon commented on #2118
I was thinking to hide them only during addition, and perhaps have a "Show full edition mode" option in Settings for those who want a full addition mode.
Edit mode should have all the fields, in all circumstances.

[2019-01-19 16:16] subhanjansaha commented on #1714
@teolemon Could you give an example of how the search could work?

[2019-01-19 16:18] subhanjansaha commented on #1780
Ok I am working on this, I will start a pull request once done

[2019-01-19 17:01] PrajwalM2212 commented on #2117
It would be helpful to know a some products that have these fields so that those who are implementing this can use this for validation.

[2019-01-19 19:13] Creebo opened #2121 "Nutrition facts - wrong transformation?"
Updated nutrition facts for product 4000540011081 and somehow the units are wrong. In the app I could update e.g. Mg with the unit [mg] and in the overview it comes wrong. 134 mg --> 0,13 mg ?

Using Samsung Note 9 with Android 9

[2019-01-19 19:15] subhanjansaha commented on #2121
I'll look into it.

[2019-01-20 09:51] PrajwalM2212 commented on #2111
@teolemon So you want me to hide this button if ingredient already exists

[2019-01-20 11:11] teolemon commented on #2111
I was more thinking putting it at the bottom of the page, and actually opening the photo viewfinder, rather than switching tabs

[2019-01-20 11:50] teolemon opened #2124 "Remove the exclamation mark in History when there is no Nutri-Score"
Remove the exclamation mark in History when there is no Nutri-Score. It's ugly and not very helpful.
Also, in "Products to Be Completed", 3250392243876 displays a A nutriscore, while none is actually computed.
![image](https://user-images.githubusercontent.com/1689815/51438862-00854080-1cb2-11e9-880c-4b6f3b1694a4.png)

[2019-01-20 11:51] subhanjansaha commented on #2124
I'll work on this.

[2019-01-20 12:03] KarthikRIyer commented on #1868
I'll work on this

[2019-01-20 14:15] balaji-ramavathu commented on #247
Can I work on this issue ?

[2019-01-21 12:40] #2118 closed

[2019-01-21 12:42] #634 closed

[2019-01-21 12:42] #1826 closed

[2019-01-21 12:44] #2029 closed

[2019-01-21 12:44] #2030 closed

[2019-01-21 19:10] #2043 closed

[2019-01-21 19:10] #2015 closed

[2019-01-22 17:42] KarthikRIyer commented on #807
@teolemon can this be added now?

[2019-01-24 10:48] #2124 closed

[2019-01-24 10:50] #2117 closed

[2019-01-24 10:51] #1849 closed

[2019-01-24 11:18] teolemon opened #2130 "Put the Nova Score also in the ingredient tab, with more explanations"
Put the Nova Score also in the ingredient tab, with more explanations
``` Nova classification on food processing (from 1 to 4)```
[code]
Add an explicit link to the Nova methodology. "Read more about the science behind Nova"

[2019-01-24 11:19] KarthikRIyer commented on #2130
I'll work on this

[2019-01-24 11:20] teolemon opened #2131 "Add an explicit link to the Nutri-Score methodology"
In the nutrition tab, add an explicit link to the Nutri-Score methodology
"Read more about the science and methodology behind Nutri-Score"

[2019-01-24 11:23] KarthikRIyer commented on #2131
@teolemon can this be combined with the PR for #2130

[2019-01-24 11:24] teolemon opened #2133 "The send updated image is redirecting to the Contributions tab (if enabled)"
The send updated image is redirecting to the Contributions tab (if enabled). It should instead open the edit mode and offer to take a new ingredient picture (The current way to do it is to click edit, go to the ingredient tab, long press on the existing ingredient image, which allows you to take a new one and redo the OCR)

[2019-01-24 11:30] teolemon opened #2134 "kj should be kJ"
https://fr.wikipedia.org/wiki/Joule

[2019-01-24 11:32] #2111 closed

[2019-01-24 11:34] teolemon commented on #2131
Yes, of course :-)

[2019-01-24 11:45] subhanjansaha commented on #2133
I can work on this

[2019-01-24 11:46] teolemon opened #2136 "Add the ability to deep link to individual products"
Add the ability to deep link to individual products
It should be possible to deep link to an individual product page.

[2019-01-24 11:55] jaindiv26 commented on #2134
I'll fix it.

[2019-01-24 12:05] subhanjansaha commented on #2136
Working on it.

[2019-01-24 12:47] teolemon opened #2137 "java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.String.toLowerCase(java.util.Locale)' on a null object reference at openfoodfacts.github.scrachx.openfood.utils.Utils.getSmallImageGrade(Utils.java:305)"
[code]

[2019-01-24 12:48] subhanjansaha commented on #2137
Looking into it

[2019-01-24 12:51] teolemon opened #2138 "Nutrient name should always be visible in edit mode (even if we have a value)"
Nutrient name should always be visible in edit mode (even if we have a value)
Currently, it's hidden if we have a value

[2019-01-24 12:52] subhanjansaha commented on #2138
Working on this.

[2019-01-24 13:01] teolemon opened #2139 "Hide the ingredient card if there are no ingredients"
![image](https://user-images.githubusercontent.com/1689815/51679926-8ff76000-1fe0-11e9-90d0-ef7870bb6753.png)

[2019-01-24 13:02] KarthikRIyer commented on #2139
I'll look into it

[2019-01-24 13:02] subhanjansaha commented on #2139
On it 👍

[2019-01-24 13:02] teolemon opened #2140 "Add a little padding below the product name"
![image](https://user-images.githubusercontent.com/1689815/51679968-ae5d5b80-1fe0-11e9-9429-8890311f2010.png)

[2019-01-24 13:03] teolemon opened #2141 "Hide the nutrient level card if there are no nutrient levels"
![image](https://user-images.githubusercontent.com/1689815/51680000-d1880b00-1fe0-11e9-8ee3-0f93b1b56b17.png)

[2019-01-24 13:03] KarthikRIyer commented on #2140
i'll do this

[2019-01-24 13:03] subhanjansaha commented on #2141
On it 👍

[2019-01-24 13:06] teolemon opened #2142 "Do not display a question mark on product page if the Nutri-Score is not available"
![image](https://user-images.githubusercontent.com/1689815/51680137-32afde80-1fe1-11e9-9f14-344cf2db4e68.png)

[2019-01-24 13:07] subhanjansaha commented on #2142
On it 👍

[2019-01-24 13:07] teolemon commented on #2142
Same issue on the nutrition tab

[2019-01-24 13:08] subhanjansaha commented on #2142
Alright I will open a PR for both of them

[2019-01-24 13:11] teolemon opened #2143 "The text on home is not reloaded on language change"
The text on home is not reloaded on language change. For instance, switching from English to French, the tagline below the logo will change, the sentence explaining what Open Food Facts is will not, and the call to action will not.

All 3 should be in the new selected language

[2019-01-24 13:12] subhanjansaha commented on #2143
Working on this

[2019-01-24 13:14] teolemon opened #2144 "No progress report on upload when Sharing to Open Food Facts"
1. Share an image with a barcode, from your photoroll, to Open Food Facts
2. The barcode should be detected
3. When clicking upload to Open Food Facts, there's no visible progress report.

[2019-01-24 14:15] prashantkh19 commented on #2144
I will work on it..

[2019-01-24 15:11] KarthikRIyer opened #2145 "java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.EditText.setNextFocusDownId(int)' on a null object reference at openfoodfacts.github.scrachx.openfood.fragments.AddProductNutritionFactsFragment.addNutrientRow(AddProductNutritionFactsFragment.java:1321)"
**Steps to reproduce:**

How can we reproduce the issue?
The exception occurs on clicking on the edit product icon.

**Add system logs:**
[code]

**Expected behavior:**

The edition activity should open.

**Observed behavior:**

The app crashes.

**Device and Android version:**

LG K10 2017 edition.  Android Version 8.1.0

[2019-01-24 15:11] teolemon commented on #2145
Can you give the specific barcode, and the language/version you are using ?

[2019-01-24 15:16] KarthikRIyer commented on #2145
Language: English
## Product 1
Barcode: 9556995120946
## Product 2
Barcode: 0011433117272

[2019-01-24 15:28] teolemon commented on #2145
Indeed 👍  💥

[2019-01-25 09:22] Shritesh99 commented on #2145
Will work in this.

[2019-01-25 20:06] jaindiv26 commented on #1900
@teolemon Can you give me some suggestion on this?

[2019-01-25 21:14] teolemon commented on #1005
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2034
There's a pull request open by @shiv07tiwari but it's not functional

[2019-01-25 21:44] teolemon commented on #1005
you can go ahead, please look at my comments here, and bonbonking's in the PR. Feel free to outline your approach as well.

[2019-01-26 07:39] balaji-ramavathu commented on #1005
I'm getting the same problem as in the PR i.e, the problem occurs when there's no product_name to get from the api. ( eg: {"status_verbose":"product found","product":{},"status":1,"code":"5400141297171"} ) In such case the textView is becoming invisible. So I think when this happens, we can
1.give an option to the user to add the product_name or
2.if generic name is there, we can show it as the ma

[2019-01-26 11:40] balaji-ramavathu commented on #191
Can I work on this issue?

[2019-01-26 14:34] #2141 closed

[2019-01-26 15:01] teolemon opened #2154 "Extract ingredients button doesn't check if the user is logged in"
Extract ingredients button doesn't check if the user is logged in.
There should be a check for log-in before going to edit mode.

[2019-01-26 15:11] teolemon opened #2155 "White square between the Nutrition table and the prompt"
![image](https://user-images.githubusercontent.com/1689815/51789036-0d5bd580-2185-11e9-87ae-ebb97a01b6fc.png)

[2019-01-26 15:13] teolemon opened #2156 "When adding a category, the product page is not reloaded properly"
![image](https://user-images.githubusercontent.com/1689815/51789043-29f80d80-2185-11e9-98ce-4b3dc2ab2513.png)

- The Nutri-Score doesn't appear on the main tab immediately
- It appears on pull to refresh (or immediately, not sure about that) in the nutrition tab, but the button to add the category is still there.

[2019-01-26 15:50] subhanjansaha commented on #2156
I'll work on this

[2019-01-26 15:51] subhanjansaha commented on #2155
I'll work on this

[2019-01-26 15:51] subhanjansaha commented on #2154
Yes, I missed this. I'll fix this

[2019-01-26 16:13] teolemon commented on #1005
In this exact case, it seems to have a name in French and Dutch:
https://world.openfoodfacts.org/api/v0/product/5400141297171.json?fields=product_name_fr,product_name_nl

So getting the current language from the API should be as simple as sending a query asking the product name in the current app language ?
product_name_ + APP_LANGUAGE ?

If no product_name_XX in the current language is available,

[2019-01-26 16:52] teolemon opened #2158 "Let users add products to lists"
Let users add products to lists

There would be 2 standard preloaded lists: "Eaten products" and "Products to buy", as well as the ability to create custom lists.

There would be a dropdown button on the product pages to add the product to a given list (or to add to a new list).

[2019-01-26 16:53] balaji-ramavathu commented on #1005
Yeah I got it! I did the exact thing that you just said but forgot to change my app language to french and thought my code is not working. Will submit the PR now :-)

[2019-01-26 16:56] subhanjansaha commented on #2158
I can work on this.

[2019-01-26 16:57] balaji-ramavathu commented on #2158
I love this idea! I'll work on it.

[2019-01-26 17:07] teolemon commented on #2158
I guess technically @subhanjansaha you were first, so you have a right of precedence, but @balaji-ramavathu seems very enthusiastic about it. :-)

[2019-01-26 17:08] teolemon commented on #1780
Are you still on this feature ? @subhanjansaha

[2019-01-26 17:30] PrajwalM2212 commented on #2158
@subhanjansaha You should claim issues after you submit a PR to a already reserved issue. This way every contributor gets a chance to choose issues.
You have more than 5 issues lined up. It is optimal to have not more than 2 issues reserved at a time.

[2019-01-26 17:48] subhanjansaha commented on #2158
@PrajwalM2212 Yes, I completely agree. I have a lot on my plate as it is.
@balaji-ramavathu Please go ahead with this, I don't mind at all! :-)

[2019-01-26 17:54] #2145 closed

[2019-01-26 17:56] subhanjansaha commented on #1780
Yes I am developing this feature. Coherent UI is taking a little time to develop, but I am working on it and I'll open a PR very soon

[2019-01-26 20:36] balaji-ramavathu commented on #2158
thanks @subhanjansaha :-)

[2019-01-27 17:54] teolemon opened #2164 "Let users rotate Ingredients, Front and Nutrition image left and right from the "Product photos" tab"
Display  Ingredients, Front and Nutrition images in the "Product photos" tab

Let users rotate Ingredients, Front and Nutrition image left and right from the "Product photos" tab

[2019-01-27 17:57] KarthikRIyer commented on #2164
I'll look into this

[2019-01-27 17:58] theLimitBreaker commented on #2164
Can I work on this ? Please .

[2019-01-27 18:01] teolemon opened #2165 "Let user crop images after selecting in the "Product photos" tab"
Let users crop images after selecting in the "Product photos" tab. This needs to be done with the server side api, a bit like in #2092

[2019-01-27 18:02] Shritesh99 commented on #2165
I will work in this.

[2019-01-27 18:17] teolemon opened #2166 "Add a section called "Complete products""
Add a section cloning "Products to be completed" but for "Complete products" in the Sidebar.
The proper url is https://world.openfoodfacts.org/1.json (and then 2…)

[2019-01-27 18:18] teolemon commented on #2166
This is useful to spot any vandalism on complete products.

[2019-01-27 18:18] PrajwalM2212 commented on #2166
I will work on this.

[2019-01-27 18:19] teolemon commented on #2166
@PrajwalM2212 essentially, this is the homepage on the website.

[2019-01-27 18:31] teolemon opened #2167 "Selecting images while logged in provokes anonymous edits"
https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=3560070240883
[code]
It selected them in zulu, and it didn't attribute the selection to me

[2019-01-27 18:38] theLimitBreaker commented on #2167
I would like to work on this

[2019-01-27 18:52] teolemon commented on #2167
You can go ahead @theLimitBreaker :-)

[2019-01-27 18:59] teolemon opened #2168 "Origin of ingredients and Transformation place do not seem clickable"
![image](https://user-images.githubusercontent.com/1689815/51805475-0957b280-226e-11e9-8b64-fce3be0f7e7f.png)

[2019-01-27 19:00] Shritesh99 commented on #2168
I will work in this.

[2019-01-27 19:10] teolemon opened #2169 "Load city name when available"
Some products (mostly French for the moment) have a city associated with the packager code which is not currently displayed.

Eg: https://world.openfoodfacts.org/api/v0/product/3560070888115.json?fields=cities_tags

Their proper accentuated name is located at https://world.openfoodfacts.org/cities.json
For performance reasons, the whole file needs to be downloaded once.

[2019-01-27 19:12] theLimitBreaker commented on #2169
Could I also look into this . I would also like to work on this

[2019-01-28 14:11] teolemon opened #2171 "Fast scan should show the product in the language of the app when available"
Fast scan should show the product in the language of the app when available
That means calling for an additional field in the short query, and showing it instead if not empty
product_name_ + lang of the UX

[2019-01-28 14:13] Shritesh99 commented on #2171
I will work in this.

[2019-01-28 15:00] #2140 closed

[2019-01-28 15:01] #564 closed

[2019-01-28 15:02] #2133 closed

[2019-01-28 15:04] #2168 closed

[2019-01-28 17:58] prashantkh19 commented on #2144
@tolemon can you share any image for which barcode was detected as I tried 5-6 barcode images, none of them was detected

[2019-01-29 08:43] #2110 closed

[2019-01-30 09:35] teolemon opened #2175 "Clicking on the Search button in the bottom bar should really open search"
Clicking on the Search button in the bottom bar should really open search. Currently, it only redirects to the home screen.

[2019-01-30 09:36] subhanjansaha commented on #2175
I'm on it

[2019-01-30 09:41] teolemon opened #2176 "Crash on clicking scan in the additives explorer"
[code]

[2019-01-30 15:37] teolemon opened #2177 "Prepared nutrition facts are not displayed"
![image](https://user-images.githubusercontent.com/1689815/51992334-17dfdd00-24ad-11e9-9c3b-231f890b2e2a.png)
https://world.openfoodfacts.org/product/3033710065967/nesquik-nestle

![image](https://user-images.githubusercontent.com/1689815/51992387-37770580-24ad-11e9-8a30-569650ec9062.png)
https://world.openfoodfacts.org/api/v0/product/3033710065967.json

[2019-01-30 15:39] teolemon opened #2178 "Cocoa percentage is displayed as g"
![image](https://user-images.githubusercontent.com/1689815/51992502-62f9f000-24ad-11e9-896c-222361c4814f.png)
![image](https://user-images.githubusercontent.com/1689815/51992530-71480c00-24ad-11e9-8999-8c00ada4fc3d.png)
https://world.openfoodfacts.org/api/v0/product/3033710065967.json

[2019-01-30 15:49] subhanjansaha commented on #2178
I can work on this.

[2019-01-30 16:01] stephanegigandet commented on #2178
This is tricky, it may be better to leave it in g. The 45.5% in the table above is in fact incorrect, it's 45.5g.

[2019-01-30 17:07] PrajwalM2212 commented on #2176
Will look into it soon

[2019-01-30 18:59] Shritesh99 commented on #2165
Hi, @teolemon can you provide the documentation of https://world.openfoodfacts.org/cgi/product_image_crop.pl for crop the image.

[2019-01-30 19:59] teolemon commented on #2165
Hey
https://world.openfoodfacts.org/cgi/product_image_crop.pl?code=1&imgid=2&id=front_en&x1=14&y1=14&x2=45&y2=45

code : barcode
imgid : the image you wish to crop
id : the field you wish to crop it into (front_fr, ingredients_en, nutrition_hi…)
x1, y1, x2, y2: the crop coordinates

[2019-01-31 10:53] teolemon opened #2181 "NullPointerException: Attempt to invoke virtual method 'boolean openfoodfacts.github.scrachx.openfood.models.Nutriments.contains(java.lang.String)'"
2019-01-31 11:51:00.953 26209-26209/openfoodfacts.github.scrachx.openfood E/AndroidRuntime: FATAL EXCEPTION: main
    Process: openfoodfacts.github.scrachx.openfood, PID: 26209
    java.lang.RuntimeException: Unable to start activity ComponentInfo{openfoodfacts.github.scrachx.openfood/openfoodfacts.github.scrachx.openfood.views.product.ProductActivity}: java.lang.NullPointerException: Attempt to i

[2019-01-31 12:56] PrajwalM2212 commented on #2176
@teolemon Is this issue about the search field or scanning ?
Currently,
![screenshot_1548939376](https://user-images.githubusercontent.com/30733262/52055550-b9d2f880-2585-11e9-9c28-86d9955bd6e8.png)
does not have scan button.

[2019-01-31 13:16] PrajwalM2212 commented on #2176
I will add the scan button in additives explorer.  But what is this issue arising from ?

[2019-01-31 13:42] teolemon commented on #2176
Clicking on the search icon. Instant crash.
Also, I feel that the line size is too small compared to categories.

[2019-01-31 13:52] PrajwalM2212 commented on #2176
I was going to make the UI similar to categories

[2019-01-31 13:52] PrajwalM2212 commented on #2176
Also clicking on search icon does not crash for me.

[2019-01-31 13:56] teolemon commented on #2176
[code]

[2019-01-31 14:00] PrajwalM2212 commented on #2176
1. Were you typing anything when this happened ?
2. Did you have to click the search icon for this to happen ?
3. Did this happen on clicking a additive ?
Can you say me the steps that lead to this log ?
Seems to be a subtle issue as it is not crashing for me.

[2019-01-31 15:04] teolemon commented on #2176
1. No
2. Yes
3. No

[2019-01-31 17:46] PrajwalM2212 commented on #2176
@teolemon You can check now

[2019-01-31 21:25] teolemon opened #2184 "Improve suggestions by removing diacritics in the edit mode"
Remove diacritics on suggestions in the edit mode so that we can fuzzy match.
https://stackoverflow.com/questions/8523631/remove-accents-from-string

[2019-02-01 03:37] prashantkh19 commented on #2184
I would like to work on it.

[2019-02-01 09:23] teolemon opened #2185 "Crash on clicking the scan card for 5060219600007"
Crash on clicking the scan card for 5060219600007
[code]

[2019-02-01 10:36] teolemon commented on #2185
This is probably when you switch the app to Portuguese Brazilian in the app Settings

[2019-02-01 17:15] teolemon opened #2186 "Hide the "Take a photo of the nutrition table" in the OBF flavor"
Hide the "Take a photo of the nutrition table" in the summary tab, in the OBF flavor

[2019-02-01 17:27] teolemon opened #2187 "Crash in the product page in the OBF flavor"
[code]

[2019-02-02 04:55] subhanjansaha commented on #2185
Not just Portuguese Brazilian, but this is happening for all languages. On scanning, clicking the FAB for editing won't result in a crash but clicking on the card itself, would crash the app.
As it turns out, this is happening because the product is returning null as it's Nutriments. I'll look into it.

[2019-02-02 11:38] teolemon opened #2191 "Add a "Take a photo of the ingredients in XXX" button"
On the ingredient page, add a "Take a photo of the ingredients in XXX" button if the product doesn't have an ingredient photo in the locale of your phone.

Example:
- product in French, phone in Dutch, showing "Take a photo of the ingredients in Dutch"
- uploading and selecting the photo as ingredients_nl

[2019-02-02 12:04] subhanjansaha commented on #2191
I can work on this.

[2019-02-02 12:15] teolemon commented on #2191
You can go ahead. Actually you can use the same style as when there's no ingredient picture at all (with the + camera icon).
This also requires tweaking the network call.

[2019-02-02 12:53] subhanjansaha commented on #2191
I understand, and yes, the same prompt can be used. I'll look into it. Thank you for the suggestion.

[2019-02-02 14:52] #2185 closed

[2019-02-02 15:18] #2155 closed

[2019-02-02 18:06] teolemon opened #2193 "Expand the home message to OBF/OPF/OPFF"
We're expanding the home message to the other projects.
The urls will be:
https://world.openfoodfacts.org/files/tagline/tagline-off.json
https://world.openfoodfacts.org/files/tagline/tagline-obf.json
https://world.openfoodfacts.org/files/tagline/tagline-opff.json
https://world.openfoodfacts.org/files/tagline/tagline-opf.json

[2019-02-02 18:07] teolemon commented on #2193
@jaindiv26 ? @stephanegigandet can you deploy the new files ?

[2019-02-02 18:46] jaindiv26 commented on #2193
@teolemon @stephanegigandet The tagline url for other flavors should be like this:
https://ssl-api.openbeautyfacts.org/files/tagline/tagline.json
https://ssl-api.openproductsfacts.org/files/tagline/tagline.json
https://ssl-api.openpetfoodfacts.org/files/tagline/tagline.json

[2019-02-02 19:29] teolemon opened #2194 "Product name is not immediately shown on scan card after product addition"
Product name, brand and weight + Nutriscore+ Nova are not immediately shown on the scan card after new product addition

[2019-02-02 19:41] subhanjansaha commented on #2194
I can work on this.

[2019-02-02 21:52] teolemon commented on #2194
You may go ahead

[2019-02-03 17:48] #2139 closed

[2019-02-03 17:51] #1813 closed

[2019-02-04 16:35] teolemon commented on #1663
It's up for grabs.

[2019-02-04 21:01] teolemon opened #2201 "Attempt to invoke virtual method 'boolean java.lang.String.isEmpty()' on a null object reference at openfoodfacts.github.scrachx.openfood.views.product.ingredients.IngredientsProductFragment.refreshView(IngredientsProductFragment.java:305)"
https://barcode.tec-it.com/en/EAN13?data=3389090011088
[code]

[2019-02-04 21:03] teolemon opened #2202 "Calculate nutrition facts doesn't take liquid units into account"
Calculate nutrition facts doesn't take liquid units into account
L, cl

[2019-02-04 21:09] balaji-ramavathu commented on #2202
I'll work on this.

[2019-02-05 10:25] teolemon opened #2203 "Additive search yields no result for E-numbers"
![image](https://user-images.githubusercontent.com/1689815/52267171-a7b3da00-2938-11e9-9cfe-cc202a10f37c.png)
![image](https://user-images.githubusercontent.com/1689815/52267179-ada9bb00-2938-11e9-908a-3b5a6775abbd.png)

[2019-02-05 20:18] teolemon opened #2205 "Bind new field in HTML card in the Environnment tab"
We have added a new experimental field: `environment_infocard`to give the carbon impact of a product.
https://fr.openfoodfacts.org/api/v0/produit/3560070573998/lasagnes-a-la-bolognaise-grand-jury?fields=environment_infocard
Whenever this field is not empty, the environment tab should be shown, and the basic HTML that it contains should be put in a card using this technique:
https://stackoverflow.c

[2019-02-05 20:36] teolemon opened #2206 "Display colored CO2 icon depending on the Carbon impact in the scanner view"
Depending on whether
https://fr.openfoodfacts.org/api/v0/produit/3560070573998/lasagnes-a-la-bolognaise-grand-jury
`environment_impact_level_tags` is `en:high` `en:medium` or `en:low`, display a Red, Orange or Green CO2 icon
(https://drive.google.com/open?id=1pyHX6SHwPSa8Pizmm8PiZnjYMi8ANhZP) in the Scan card

If `environment_impact_level_tags` is absent, do not display anything

[2019-02-05 20:44] teolemon commented on #2206
https://fr.openfoodfacts.org/api/v0/produit/3560070573998/lasagnes-a-la-bolognaise-grand-jury?fields=environment_impact_level_tags

[2019-02-05 21:49] teolemon commented on #2206
https://drive.google.com/open?id=1pyHX6SHwPSa8Pizmm8PiZnjYMi8ANhZP

[2019-02-06 04:14] balaji-ramavathu commented on #2206
I'll work on it.

[2019-02-06 06:02] subhanjansaha commented on #2201
I'll look into this.

[2019-02-06 06:08] subhanjansaha commented on #2205
I will work on this.

[2019-02-06 08:51] subhanjansaha commented on #2201
Any steps to reproduce the crash?
On scanning the barcode, there is no crash on my phone.

[2019-02-06 13:18] teolemon commented on #2206
thanks @balaji-ramavathu 👍 this one is going to be experimental, but awesome

[2019-02-06 13:18] teolemon commented on #2205
👍

[2019-02-07 12:01] teolemon commented on #2206
@balaji-ramavathu can you integrate it as well in your compare branch next to the Nutri-Score and Nova ?

[2019-02-07 12:21] balaji-ramavathu commented on #2206
Are you referring to this comparision feature? https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2180 That wasn't done by me, But If that PR gets merged, I can display CO2 icon in the comparison activity.

[2019-02-07 12:22] teolemon commented on #2206
Not enough sleep; sorry :-)

[2019-02-07 12:39] balaji-ramavathu commented on #2206
It's fine :-) Where exactly should I display the icon in the scan card?

[2019-02-07 12:39] teolemon opened #2209 "Add a search history to the search bar"
Add a search history to the search bar. It should be deletable, and it should be clear it's only stored locally (on first search, a suggestion might appear "Your last searches will appear here. They are stored on your phone and you can delete them at any time in Settings. They will never be associated with any personal information."

[2019-02-07 12:46] subhanjansaha commented on #2209
I can work on this.

[2019-02-07 14:51] teolemon opened #2210 "Make the categories in the category browser deep-linkable"
This is in preparation for a future feature where you can click on similar categories from the product page (this will be embeded in HTML code, so it will need to be a deeplink)

[2019-02-07 19:03] prajurock commented on #2209
can i work on this?@subhanjansaha@teolemon

[2019-02-07 20:32] yasnogor commented on #2177
I'd like to take this one.

[2019-02-07 20:36] teolemon commented on #2177
You can go ahead 👍

[2019-02-07 21:16] yasnogor commented on #2177
Actually, it looks like this is working fine now.  Might have been fixed by PR #2027.

[2019-02-07 21:45] teolemon commented on #2177
No, someone added more info.
Try with this one: https://barcode.tec-it.com/en/EAN13?data=7613034178527

[2019-02-07 21:45] teolemon commented on #2177
https://world.openfoodfacts.org/product/7613034178527/mon-1er-nesquik-nestle

[2019-02-08 00:05] yasnogor commented on #2177
It seems that the response from the server and the attributes that come back differs between these products.

Compare:
Has the data - https://world.openfoodfacts.org/api/v0/product/3033710065967.json
carbohydrates_100g
proteins_100g
Does not have this data - https://world.openfoodfacts.org/api/v0/product/7613034178527.json
However, this server response does contain
proteins_prepared_100g
carbohydr

[2019-02-08 10:15] teolemon commented on #2206
I would put it on the right of the Nova score. It's increasingly difficult to put stuff in there :-)
Also, if you can take advantage to put the logo on the summary tab, on the right on the Nova, that would be perfect.
Server side, we're computing the score for all the products in the DB as we speak. We'll be presenting the feature on Tuesday at the French National Assembly :-)

[2019-02-08 11:31] #2065 closed

[2019-02-08 12:38] prashantkh19 commented on #2210
Can you elucidate?

[2019-02-08 12:55] balaji-ramavathu commented on #2206
That's awesome !

[2019-02-09 09:42] #2205 closed

[2019-02-09 10:02] teolemon commented on #2201
@subhanjansaha It happens when clicking one of the latest products in the Products to be completed view.

[2019-02-09 17:12] jaindiv26 commented on #2193
@teolemon @stephanegigandet Any updates?

[2019-02-09 17:28] #2206 closed

[2019-02-09 17:37] #2201 closed

[2019-02-10 07:22] balaji-ramavathu commented on #2187
@teolemon How to reproduce the crash?

[2019-02-10 16:54] teolemon opened #2215 "java.lang.IndexOutOfBoundsException: Index: 0, Size: 0 at openfoodfacts.github.scrachx.openfood.views.ContinuousScanActivity$2.onSuccess(ContinuousScanActivity.java:303)"
[code]

[2019-02-10 16:54] teolemon commented on #2215
![image](https://user-images.githubusercontent.com/1689815/52536591-f01a3000-2d5c-11e9-9f6e-1c4e5f942699.png)
on the Compare branch. Might also be affecting Master.

[2019-02-10 17:04] balaji-ramavathu commented on #2215
I'll fix it.

[2019-02-10 17:11] teolemon opened #2216 "Cache the tagline.json"
Cache the tagline.json in Home. Not having a cache delays loading the home by several seconds in several cases.

[2019-02-10 21:15] #2215 closed

[2019-02-10 21:42] teolemon commented on #2144
You can take a snapshot of a barcode ?

[2019-02-11 06:57] subhanjansaha commented on #2216
I'll work on this

[2019-02-11 11:56] prajurock opened #2219 "Press back button twice to exit from application"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-11 12:02] prajurock commented on #2219
I would like to work o this

[2019-02-11 12:05] prajurock opened #2220 "Add recently searched text in the search"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2019-02-11 12:06] prajurock commented on #2220
I would like to work on this

[2019-02-11 18:39] balaji-ramavathu commented on #2171
I'll work on it. By fast scan you mean scan card right?

[2019-02-12 03:11] prajurock commented on #2220
@teolemon  whats your view on this??

[2019-02-12 21:48] teolemon commented on #2193
I've copied the tagline like so:
[code]

[2019-02-13 00:06] yasnogor commented on #2177
It seems that the app code is looking for carbohydrates_100g and such data to be returned.  If I change the attributes to carbohydrates_prepared_100g the data shows up fine in app.  Should the app code be modified to look for X_prepared_100g if X_100g is not available in json?  I'm not sure if this is an appropriate solution though.

[2019-02-14 11:26] teolemon opened #2223 "Display label images when they are available"
For some of the labels, we have SVG or PNG images, that we could display as a carrousel above the label list.

![image](https://user-images.githubusercontent.com/1689815/52783845-6f587e00-3053-11e9-830b-e57bae4e2dbe.png)

get the label_tag in the json response. Match with the file. Show the matching image. The label matching file images should probably be stored locally for performance.
https://st

[2019-02-14 11:27] subhanjansaha commented on #2223
I will work on this.

[2019-02-14 11:28] teolemon commented on #2223
@subhanjansaha hang on, we're going to do things differently in terms of server side API

[2019-02-14 11:31] subhanjansaha commented on #2223
Right.

[2019-02-14 11:32] teolemon commented on #2223
I'm still discussing specifics with @stephanegigandet

[2019-02-14 11:34] subhanjansaha commented on #2223
That's alright. :-)

[2019-02-14 14:48] #2175 closed

[2019-02-14 20:02] #2203 closed

[2019-02-14 20:04] #2186 closed

[2019-02-14 20:14] #2130 closed

[2019-02-14 20:14] #2131 closed

[2019-02-14 22:56] teolemon commented on #2071
The pr has been merged @Shritesh99 @subhanjansaha

[2019-02-15 03:46] subhanjansaha commented on #2071
Right, I'll look into it.

[2019-02-15 09:50] kujaw commented on #2052
Damn, sorry @teolemon , totally forgot about this. Do you still need logs?

[2019-02-15 09:53] teolemon commented on #2052
It is fixed, and you can update from master if you want. I don't need logs anymore :-)
Thanks for the vigilance and follow up 👍

[2019-02-15 12:29] #2071 closed

[2019-02-15 16:11] yasnogor commented on #2177
I added some code to check if nutrient X_prepared is available in json when X isn't available.  However, I'm not sure if this is an appropriate solution from business logic point of view.  Does the server side need to be changed instead to include the missing attributes?  I can create a PR if you'd like to take a look.

[2019-02-15 16:25] pavankuppa1 commented on #2187
@teolemon I can work on this issue

[2019-02-15 22:54] teolemon opened #2225 "Display a special message when the product doesn't have nutrition info"
When a product like 3256224069164 doesn't have nutrition facts on the packaging:
- hide "Take nutrition facts picture" icon
- hide "Calculate nutrition facts" button
- Hide Nutrition table headers

- Show "This product doesn't have any nutrition information on the packaging. If this has changed, you can edit the product."

You can get nutrition table status from:
https://world.openfoodfacts.org/ap

[2019-02-15 23:47] balaji-ramavathu commented on #2225
I'll work on this.

[2019-02-16 06:03] subhanjansaha commented on #2210
I would love to work on this!

[2019-02-16 06:16] joshhazelhurst123 commented on #2225
Can I make a suggestion here. If someone wants to work on the issue can they assign it to themselves that way we can be more efficient and less double handling work. Thanks.

[2019-02-16 06:19] joshhazelhurst123 commented on #2134
@jaindiv26 assign yourself to the issue thanks.

[2019-02-16 06:22] joshhazelhurst123 commented on #2165
@Shritesh99 can you assign this issue to yourself. Thanks.

[2019-02-16 06:24] joshhazelhurst123 opened #2226 "Update readme.md"
Hi,
I have noticed there is quite a bit of people taking on issues and not assigning the issue to themselves. Can the readme.md be updated so that it says on the main page to assign the issue to yourself if you will have a go at fixing it. That way it saves times for other's looking to tackle issues. Thanks. Josh

[2019-02-16 06:50] #2142 closed

[2019-02-16 07:08] brandenfung commented on #2226
I think you can only assign issues if you have write access to a repo. https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/

[2019-02-16 07:23] PrajwalM2212 commented on #2226
When someone comments that they want to work on a issue it means they are asigned to the issue.
I understand that you want the issues assigned so that you can save time by not searching others already assigned issues.
We can assign it for you if you want.

[2019-02-16 07:26] joshhazelhurst123 commented on #2226
@PrajwalM2212 yes I saw a few issues that I would of liked to of worked on but there was someone that commented that they wanted to work on the issue. So I am just bringing up the issue that maybe if it could be assigned to that user then that would be easier for other's looking to get involved. The assignee would show up on the issues page etc. Thanks for your comments.

[2019-02-16 11:53] #247 closed

[2019-02-16 11:55] #2176 closed

[2019-02-16 21:08] #2074 closed

[2019-02-16 21:48] #398 closed

[2019-02-16 21:55] #2220 closed

[2019-02-16 21:56] teolemon commented on #2219
Can you clarify what you mean ? Is there currently an issue ?

[2019-02-16 21:59] prajurock commented on #2219
If user presses back button accidentally then message will come to press the back button twice.

[2019-02-17 15:07] teolemon opened #2230 "Vertical redesign of the product addition form"
![image](https://user-images.githubusercontent.com/1689815/52914851-9a4e0680-32cd-11e9-8e80-2362f5490d38.png)

- Uploading the 3 pictures is the 1st thing the user has to do. They are immediately sent to the server.
- Processing of the ingredients is started as soon as the ingredient picture is uploaded
- Explanation that the category is important for the Nutri-Score
- Save button are regularly pl

[2019-02-17 15:07] subhanjansaha commented on #2230
Working on this!! :-)

[2019-02-17 15:10] subhanjansaha commented on #2230
I love the improvements suggested. They would simultaneously streamline the process of adding a product and improve the quality of contributions.

[2019-02-17 15:14] teolemon commented on #2230
Also usability improvement:
![image](https://user-images.githubusercontent.com/1689815/52914997-0d0bb180-32cf-11e9-9ab6-315bd38f8170.png)

[2019-02-17 15:18] teolemon commented on #2230
@subhanjansaha We tried the vertical approach for iOS, and it seems less intimidating that the current solution, shared with the edit mode.

[2019-02-17 15:21] teolemon commented on #2230
![image](https://user-images.githubusercontent.com/1689815/52915088-121d3080-32d0-11e9-96b2-5c82e8905470.png)

[2019-02-17 15:21] subhanjansaha commented on #2230
That's very true. Very often, when editing a product, it's extremely confusing to figure which value represents which nutrient for a product.

See attached,
![screenshot_20190217-204656](https://user-images.githubusercontent.com/42271776/52915083-bbc2e880-32f5-11e9-8e57-30a9226da8e2.png)

[2019-02-17 15:24] subhanjansaha commented on #2230
@teolemon I completely agree on every aspect. As a user of the app myself, I can vouch for the fact that when adding a new product, having to fill in a whole new form for a product seems like a tedious task to do. Instead, this redesign would keep the 'intimidation' to the minimum and allow an effortless entry of data.

[2019-02-17 16:29] balaji-ramavathu commented on #2171
I think the work done in the pull #2163 is similar to the work needed to solve this issue as this issue requires getting a field name in the language of the app, which was implemented in that PR. So rather than doing the same work again, it's better if that PR gets merged, so that we can use that code to fix this.

[2019-02-17 18:58] prashantkh19 commented on #2210
@subhanjansaha are you working on this?

[2019-02-17 20:31] #2193 closed

[2019-02-17 21:24] #2209 closed

[2019-02-18 03:53] subhanjansaha commented on #2210
Yes

[2019-02-18 09:17] subhanjansaha commented on #1884
@teolemon Isn't this the same issue as #2156 ?

[2019-02-18 11:56] prashantkh19 commented on #1616
@teolemon I tried using `304 NOT MODIFIED status`, i.e every time when the app opens, I will make a server call, and if the server responds with `304 NOT MODIFIED status`, I am not saving the data. But making call to the server for checking the status itself takes considerable time (just saving time to the database is reduced). So, doing this everytime the app opens won't be a good idea.
One bette

[2019-02-18 12:40] serpico commented on #2069
@teolemon what about optionally limiting the loading/excerpt to a specific store? Through the preferences maybe. I know I do most of my grocery shopping in one store so...
Also, is there a way to test your file directly from the phone with the current app ?

[2019-02-18 14:18] teolemon commented on #2177
Depending on what's available (non prepared, prepared, or both), I guess there might be a dropdown at the top of the table enabling to switch
Or we could have a table that scrolls horizontally.
@yasnogor

[2019-02-18 16:11] teolemon commented on #2069
@serpico That will be V2 or 3. For now, we can afford to load everything. In the future, we'll try to let people control how much detail they want (like full products) and what countries, what stores they want. Besides, right now, we don't know if a product is sold everywhere.
@prashantkh19 hasn't implemented scanning yet. All it does is load the DB right now :-)

[2019-02-18 18:17] teolemon opened #2231 "Allow users to define a list of favorite stores"
Allow users to define a list of favorite stores that they can type manually, and that can be added by autocomplete in the product edit form.

[2019-02-18 18:18] teolemon opened #2232 "Ensure that the favorite country is only suggested, not added automatically"
Ensure that the favorite country is only suggested, not added automatically.
Otherwise, when people travel, or edit product from other countries, we risk entering bad data in the DB.

[2019-02-18 18:19] jaindiv26 commented on #2232
I'll work on it.

[2019-02-18 18:22] teolemon opened #2233 "Show additives class on the additives card"
The additives classes are present on the additives taxonomy:

``` "additives_classes":{"en":"en:emulsifier, en:stabilizer, en:thickener"}}```
They should be shown on the card that's displayed when you click on an additive
https://static.openfoodfacts.org/data/taxonomies/additives.json

[2019-02-18 18:22] jaindiv26 commented on #2233
I'll work on it.

[2019-02-18 18:39] balaji-ramavathu commented on #2231
I'll work on this.

[2019-02-18 21:28] teolemon opened #2234 "Ask questions about incomplete products"
Ask simple questions to users about incomplete products

https://github.com/shivasurya/FeedbackDialog

For barcode: 00024907 and if the UX is in French
https://robotoff.openfoodfacts.org/api/v1/questions/00024907?lang=fr

Then depending on the answer, POST request:
https://robotoff.openfoodfacts.org/api/v1/insights/annotate

The request type must be application/x-www-form-urlencoded.
[code]

[2019-02-18 21:30] teolemon commented on #2234
This should only appear on request, a bit like this:
![image](https://user-images.githubusercontent.com/1689815/52977241-d61bc580-33cc-11e9-9b67-eb240cd00477.png)

[2019-02-18 22:28] teolemon commented on #690
@abdulwd are you still working on this ?

[2019-02-19 05:21] subhanjansaha commented on #2234
I can work on this.

[2019-02-19 08:49] abdulwd commented on #690
@teolemon No.

[2019-02-19 08:52] prajurock commented on #690
Can i take this issue?

[2019-02-19 09:24] teolemon commented on #690
@prajurock as a result, yes :-)

[2019-02-19 09:31] teolemon opened #2236 "The "Read more about Nutriscore" link in the nutrition tab doesn't work"
The "Read more about Nutriscore" link in the nutrition tab doesn't work

[2019-02-19 09:31] #2236 closed

[2019-02-19 09:32] teolemon opened #2237 "Remove the "Home" text in the home"
Remove the "Home" text in the home

[2019-02-19 09:33] balaji-ramavathu commented on #2237
I'll fix it.

[2019-02-19 10:27] CharlesNepote opened #2238 "Information related to Nutri-score and Nova should be available offline"
**Summary:**

It is annoying to have to go online to see Nutri-Score or Nova information page. It doesn't work in offline mode and may takes many seconds depending on network quality.

**Expected behavior:**

This pages could be part of the app. They should be shorter than the website ones.