[2018-02-25 13:14] shivanshsoni commented on #912
OK Sir, I updated the issue and Small logo os looking more good on big screen as redmi note 4 has 5.5 " screen

[2018-02-25 13:50] Shubham2320 opened #917 "App is getting crash due to java.lang.RuntimeException on WelcomeActivity"
**Steps to reproduce:**

By simply launching the application.

**Add system logs:**

AndroidRuntime: FATAL EXCEPTION: main
                                                                                   Process: openfoodfacts.github.scrachx.openfood, PID: 990
                                                                                   java.lang.RuntimeException: Unable to start activity C

[2018-02-25 14:26] #845 closed

[2018-02-25 14:50] teolemon commented on #868
![](https://i.imgur.com/rH80zMX.jpg)

[2018-02-25 15:30] Arshilgenius commented on #872
@policorn  @l-o-b-s-t-e-r  did it so it's okay.

[2018-02-25 17:37] Karljoones commented on #912
Thank you for updating it!

[2018-02-25 18:13] #829 closed

[2018-02-25 18:46] teolemon opened #920 "Search doesn't work when invoked from settings"
Search doesn't work when invoked from settings

[2018-02-25 18:52] Arshilgenius commented on #920
@teolemon can you please elaborate? from where?

[2018-02-25 18:53] teolemon commented on #920
![](https://i.imgur.com/6lUyLVd.png)

[2018-02-25 18:53] Karljoones commented on #920
IMO: there should be no search button in the preferences anyway, people would assume that it is for searching the preferences

[2018-02-25 18:54] Arshilgenius commented on #920
@teolemon it's working for me

[2018-02-25 18:57] Arshilgenius commented on #920
@teolemon  @Karljoones shall i remove it?

[2018-02-25 19:02] Arshilgenius opened #921 "Changed the UI for Allergen Alert a little bit"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-25 19:04] Karljoones commented on #920
This also apples for Allergen Alert where it should not be there as people may think that they are searching allergens and possibly offline edits where they may think that they are searching their own offline edits :)

[2018-02-25 19:06] Arshilgenius commented on #920
@Karljoones True. :)
@teolemon Views?

[2018-02-25 19:07] l-o-b-s-t-e-r commented on #920
@Karljoones more over, it also appears in "Offline edit" screen :)

[2018-02-25 20:21] #921 closed

[2018-02-25 21:49] #917 closed

[2018-02-25 21:51] teolemon opened #923 ""Upload all" should not propose me to upload when I'm in airplane mode"
![image](https://user-images.githubusercontent.com/1689815/36646911-5d06de18-1a7e-11e8-81fc-b48a796eac38.png)
"Upload all" should not propose me to upload when I'm in airplane mode. It should tell me I'm in airplane mode, and propose to disable airplane mode, or try later.

[2018-02-25 22:34] Karljoones opened #924 "Offline product "save" button should be disabled while it saves"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-25 22:51] teolemon opened #925 "Make the history layout more consistant with the search layout"
Current search: https://user-images.githubusercontent.com/1689815/36647480-913da272-1a86-11e8-8cdd-49973013ec46.png

Proposed history:
![image](https://user-images.githubusercontent.com/1689815/36647494-c90f9926-1a86-11e8-9485-c1e815020f63.png)

[2018-02-25 22:59] teolemon commented on #721
![image](https://user-images.githubusercontent.com/1689815/36647566-dbb4a3d6-1a87-11e8-94e5-c4993c54a8f4.png)

[2018-02-25 23:12] Karljoones commented on #925
Related: #840

[2018-02-25 23:18] Karljoones commented on #708
@batbrain7 @teolemon Please be aware of this:

From: https://play.google.com/about/developer-content-policy.html

- App purchases: Developers charging for apps and downloads from Google Play must do so by using Google Play's payment system.

- In-app purchases:
            Developers offering virtual goods or currencies within a game downloaded from Google Play must use Google Play's in-app billin

[2018-02-25 23:36] #924 closed

[2018-02-25 23:38] #923 closed

[2018-02-25 23:44] policorn commented on #872
PR has been merged; thanks guys!

[2018-02-26 00:01] l-o-b-s-t-e-r opened #928 "Crash: on History screen for devices with API < 21"
App is crashing during loading History products on devices with API level lower 21.
Reason: such devices (API<21) doesn't support vector drawables.

Stacktrace:
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: openfoodfacts.github.scrachx.openfood, PID: 22212
                  android.view.InflateException: Binary XML file line #54: Error inflating class TextView

[2018-02-26 00:39] #928 closed

[2018-02-26 01:54] shivanshsoni commented on #920
@Karljoones @teolemon I would like to solve this issue

[2018-02-26 06:08] Shubham2320 commented on #925
Seems good. Can I work on it?

[2018-02-26 08:26] Shubham2320 opened #930 "In AlertUserFragment we're only abstracting english and french allergens from AllergenDao"
**Code:**

[code]
Here in this code, we're only abstracting English and French allergens. However, I've checked allergens of other languages are also present in AllergenDao so instead of just these two languages we should check for each language which has been chosen by the user.

I've already fixed this and going to send a PR soon.

[2018-02-26 09:23] #912 closed

[2018-02-26 09:54] Karljoones opened #933 "Navigation items selection when fragment is not changed"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-26 10:52] shivanshsoni opened #934 "Improve UI of History list item"
Mobile phone Vivo Y28(screen size 4.7")

**How it is looking right now:**

![screenshot_2018-02-26-16-12-45](https://user-images.githubusercontent.com/24546371/36666552-0aa1594e-1b11-11e8-94b7-fa893835811b.png)

**Expected:**

![screenshot_2018-02-26-16-01-41](https://user-images.githubusercontent.com/24546371/36666609-30b377c0-1b11-11e8-8532-2f3182e984f6.png)

[2018-02-26 10:54] shivanshsoni commented on #934
I think this is looking much better now.

[2018-02-26 10:58] l-o-b-s-t-e-r commented on #934
@shivanshsoni This task is already in work #925

[2018-02-26 11:02] shivanshsoni commented on #934
But it was already discussed[ here](https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/915)  It was solved already [here](https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/f13cba009ad4a1f6955d151a03f061b2feb0b2a15)

[2018-02-26 11:04] shivanshsoni commented on #934
@l-o-b-s-t-e-r @teolemon It is looking more approachable as comapred to [this](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/925)

[2018-02-26 11:06] Karljoones commented on #934
@l-o-b-s-t-e-r @shivanshsoni @Shubham2320 is working on creating the new history item layout, it looks messy at the moment but it might be best just to wait for him to complete that issue and make a pull request about it

[2018-02-26 11:14] #144 closed

[2018-02-26 11:16] #215 closed

[2018-02-26 11:16] #216 closed

[2018-02-26 11:48] Karljoones commented on #184
I'm going to close this off because Google Glass is not a thing anymore :)

[2018-02-26 11:48] #184 closed

[2018-02-26 11:49] Karljoones commented on #197
Hey @teolemon is there anything happening with the missions web page? Doesn't look like anything has been done with it. Can we close this?

[2018-02-26 12:04] #467 closed

[2018-02-26 12:18] teolemon commented on #197
Yup, we'll reopen once it's fixed, I guess

[2018-02-26 12:22] teolemon opened #939 "Issues with timestamp formatting in the history"
![image](https://user-images.githubusercontent.com/1689815/36670258-0b6bd002-1af8-11e8-9fab-df1837337908.png)

[2018-02-26 12:22] teolemon commented on #939
![image](https://user-images.githubusercontent.com/1689815/36670292-238e516e-1af8-11e8-8988-222cd17b6628.png)

[2018-02-26 12:23] teolemon opened #940 "Error on uploading additional image"
![image](https://user-images.githubusercontent.com/1689815/36670317-3bf65ee0-1af8-11e8-9ac1-1e353628fa13.png)

[2018-02-26 12:24] #197 closed

[2018-02-26 12:24] teolemon commented on #940
https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=00369220

[2018-02-26 12:25] PrajwalM2212 commented on #939
I will correct it .

[2018-02-26 12:50] samagra14 commented on #645
@teolemon Please close this issue. It has already been resolved.

[2018-02-26 12:52] PrajwalM2212 commented on #939
@teolemon  I have used a function from https://developer.android.com/reference/android/text/format/DateUtils.html.
Do you want me to use any particular function from the above page ?

[2018-02-26 12:56] l-o-b-s-t-e-r commented on #940
@teolemon
Could you describe steps, because it works fine on my device.
Does it happen for all products?
Most likely app asked you to grant some permissions before taking the photo, am I right? This is the only one reason which I can see for now.

[2018-02-26 13:15] ArchangeGabriel commented on #776
0.8.1 has now been published on GPS, still nothing here, except an addition in CHANGELOG.md without any information: https://github.com/openfoodfacts/openfoodfacts-androidapp/commit/a91778b62067e6b1ebccf732d2b9135249c2691e#diff-4ac32a78649ca5bdd8e0ba38b7006a1e.

[2018-02-26 13:18] samagra14 commented on #903
@l-o-b-s-t-e-r Yes I guess, there is an option to expand the list but it is not clickable. @teolemon please clarify what is expected to be done.

[2018-02-26 13:43] PrajwalM2212 commented on #939
@teolemon  Seems to work well on my phone .
But I have changed the function in my pull request.

[2018-02-26 14:00] teolemon commented on #864
Yes :-)
The icon is not 100% material, but it's looking good anyway :)

[2018-02-26 14:05] teolemon commented on #864
You need to take into account two cases:
- When your contributions have been sent ("All your contributions have been sent.")
- Before first use of the feature ("Your offline contributions will appear here.")
So you need to store the fact that the user has used the feature once

[2018-02-26 15:10] #930 closed

[2018-02-26 15:14] #900 closed

[2018-02-26 15:35] Shubham2320 opened #943 "In AlertUserFragment all the allergens need to be shown in every language."
We should look for all translations of an allergen, in all available languages on the product. This might yield false positives but will be safer than the current implementation.

Please ask for more clarification if needed.

[2018-02-26 15:55] jaztriumph commented on #580
@teolemon I am working on this I will make a PR soon

[2018-02-26 17:13] PrajwalM2212 commented on #300
I will work on this .

[2018-02-26 17:51] Shubham2320 commented on #173
I would like to work on it. Can I start?

[2018-02-26 18:24] Arshilgenius opened #944 "Add an activity for FAQ (Frequently Asked Questions)"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-26 19:21] teolemon opened #945 "Allow to change the display language of a product"
Many products on Open Food Facts are multilingual:
they have a main language, their ingredients, name, common name are typed into several languages.
They have an ingredient/nutrition/front picture for several languages.

Make it possible to change the display language of a product.
https://world.openfoodfacts.org/language/multilingual/state/complete

https://world-it.openfoodfacts.org/product/8076

[2018-02-26 19:38] teolemon commented on #296
1. Display categories in user language if available
2. Otherwise display categories in English if available
3. Otherwise display categories in the product main's language

[2018-02-26 19:40] teolemon opened #946 "Labels are always displayed in French, although we have translations for them."
Labels are always displayed in French, although we have translations for them.

1.Display Labels in user language if available
2.Otherwise display Labels in English if available
3.Otherwise display Labels in the product main's language

https://world.openfoodfacts.org/labels.json
https://world-fr.openfoodfacts.org/labels.json

[2018-02-26 20:12] teolemon commented on #944
You can add it as an entry in the settings. The left menu is already overloaded
https://world.openfoodfacts.org/faq

[2018-02-26 20:49] #256 closed

[2018-02-26 21:11] #677 closed

[2018-02-26 22:21] l-o-b-s-t-e-r commented on #946
I've taken this one and related issues with translations #945

[2018-02-26 22:27] l-o-b-s-t-e-r commented on #945
@teolemon
I've taken this one and related issues with translations #946

[2018-02-26 22:59] policorn opened #948 "Back button closes the activity in fragments"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-26 23:41] #934 closed

[2018-02-27 00:13] #933 closed

[2018-02-27 00:38] #70 closed

[2018-02-27 01:06] PrajwalM2212 commented on #948
I will fix this issue .

[2018-02-27 01:22] #498 closed

[2018-02-27 03:26] shivanshsoni commented on #944
May I add this feature?

[2018-02-27 05:51] samagra14 commented on #852
I am working on this.

[2018-02-27 06:12] samagra14 commented on #478
@teolemon Can I work on this? I am planning to use a background service. Please let me know if anything else can be done.

[2018-02-27 06:34] samagra14 commented on #445
@Shubham2320 Are you still working on this ?

[2018-02-27 06:37] samagra14 commented on #449
I am working on this.

[2018-02-27 06:52] samagra14 commented on #694
@teolemon I would love to work on it. I just had to clarify what all details are to be saved regarding the favourite products ?

[2018-02-27 07:14] samagra14 opened #950 "No runtime permissions for camera."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-27 07:14] samagra14 commented on #950
I would love to work on it.

[2018-02-27 07:52] Shubham2320 commented on #445
@samagra14  Yes I'm working on this, I've queued some of my taken issues so it is taking time.
By the way, you can take this issue if you're not indulged in any other issue :).

[2018-02-27 09:24] teolemon opened #951 "Add a warning about allergen detector when a product is not complete"
When the user has set at least an allergen to detect, add a warning about allergen detector when a product is not complete.

"This product is not complete. As a result, we couldn't do the allergen check."

[2018-02-27 09:27] teolemon opened #952 "Keep a local cache of the categories.json"
Keep a local cache of the categories.json
Loading it each time takes time, and overloads the server.

[2018-02-27 09:28] Shubham2320 commented on #951
I would like to work on it :).

[2018-02-27 09:38] teolemon opened #953 "Brand and Weight are not displayed in the Offline product list"
Brand and Weight are not displayed in the Offline product list
![image](https://user-images.githubusercontent.com/1689815/36721272-b55cf2fa-1baa-11e8-95e6-5a70bdc6fcb6.png)

[2018-02-27 09:39] teolemon opened #954 "The Upload All icon has a visual glitch"
The Upload All icon has a visual glitch
![image](https://user-images.githubusercontent.com/1689815/36721264-acb4d8b6-1baa-11e8-83b7-2e24d551fe24.png)

[2018-02-27 09:59] ManognaMutyala commented on #954
So do you want to change the position of toast or upload button @teolemon ?

[2018-02-27 10:10] teolemon commented on #954
Not at all it is just the asset that seems to have a tiny issue

[2018-02-27 10:11] teolemon commented on #951
Go ahead :)

[2018-02-27 10:11] teolemon commented on #951
Please don't use pop-ups, just a dismissible message in the summary tab

[2018-02-27 10:12] teolemon commented on #445
Please don't hoard issues.

[2018-02-27 10:13] teolemon commented on #950
We should ask for permissions when they are required not before

[2018-02-27 10:13] teolemon commented on #950
That is to say the first time people scan a product

[2018-02-27 10:14] teolemon commented on #478
@jinqian is that the right approach?

[2018-02-27 10:20] teolemon commented on #924
It still takes a while before there is any feedback that the product is being saved

[2018-02-27 10:40] shivanshsoni commented on #954
@teolemon SO May I know what you want to change??

[2018-02-27 10:42] shivanshsoni commented on #953
I am working on it...

[2018-02-27 10:44] teolemon commented on #954
![image](https://user-images.githubusercontent.com/1689815/36724461-8ede6e48-1bb3-11e8-8b3f-c54793eedde1.png)
![image](https://user-images.githubusercontent.com/1689815/36724477-9ba46416-1bb3-11e8-93ae-1f6634c23ee6.png)

[2018-02-27 10:45] shivanshsoni commented on #954
Ok Cool I will solve it...

[2018-02-27 10:48] Karljoones commented on #143
@teolemon can this be closed as OBF is now a thing and there is a prompt to install from the navigation drawer?

[2018-02-27 10:50] teolemon commented on #143
Ok. I wanted to merge both apps at some point.

[2018-02-27 10:50] #143 closed

[2018-02-27 10:51] Karljoones commented on #332
I was thinking of having a look at this, we could just save the product offline if they do not wish to upload them. What do you think? @jinqian did you ever do anything with this?

[2018-02-27 10:52] teolemon commented on #332
I was bugging Qian with too many questions at the time :)

[2018-02-27 10:58] Karljoones commented on #332
@teolemon No worries, I'll take it over and hopefully have a PR for it this evening!

[2018-02-27 12:26] teolemon commented on #877
We have actually dozens of translations, so it might be more scalable to concatenate the locale ?

[2018-02-27 12:30] Shubham2320 commented on #951
Sure, thanks :).

[2018-02-27 12:42] teolemon commented on #506
https://world-el.openfoodfacts.org/additives.json
https://world-el.openfoodfacts.org/categories.json
https://world-el.openfoodfacts.org/labels.json

```,{"linkeddata":{"pnns_group_2:en":"Cheese","wikidata:en":"Q10943"},"url":"https://world-el.openfoodfacts.org/κατηγορια/%CF%84%CF%85%CF%81%CE%AF","name":"Τυρί","products":5575,"id":"en:cheeses"}```

We now have Wikidata ID in the additives JSON

[2018-02-27 13:16] Shubham2320 commented on #445
okay, @teolemon I'll make sure it in future :).
And I've thought an approach in which after 15 seconds a small overlay will come at the top of ActionBar or fragment which would contain a message to enter a barcode instead of scanning and on choosing that option user will be taken to FindProductFragment to enter the barcode.

Can I use this approach?

[2018-02-27 13:28] Shubham2320 commented on #951
Hey, how could I know that the product is incomplete?

[2018-02-27 13:29] teolemon commented on #951
```"states_tags":["en:to-be-checked","en:complete","en:nutrition-facts-completed","en:ingredients-completed","en:expiration-date-to-be-completed","en:packaging-code-to-be-completed","en:characteristics-completed","en:categories-completed","en:brands-completed","en:packaging-completed","en:quantity-completed","en:product-name-completed","en:photos-validated","en:photos-uploaded"]```

[2018-02-27 13:31] teolemon commented on #951
Uncomplete:
```"states_tags":["en:to-be-completed","en:nutrition-facts-completed","en:ingredients-to-be-completed","en:expiration-date-to-be-completed","en:packaging-code-to-be-completed","en:characteristics-to-be-completed","en:categories-to-be-completed","en:brands-completed","en:packaging-to-be-completed","en:quantity-to-be-completed","en:product-name-completed","en:photos-to-be-validated","en:

[2018-02-27 13:34] Shubham2320 commented on #951
Thanks :).

[2018-02-27 13:55] #697 closed

[2018-02-27 14:00] #954 closed

[2018-02-27 14:09] #368 closed

[2018-02-27 14:12] teolemon commented on #903
I expect the app to open the category page when a category is clicked. Bonus points if you show the category natively.

[2018-02-27 14:14] Karljoones commented on #220
Were you originally referring to this one: [https://material.io/icons/#ic_cloud_off](https://material.io/icons/#ic_cloud_off)?

[2018-02-27 14:21] #645 closed

[2018-02-27 14:21] teolemon commented on #645
Thanks

[2018-02-27 14:30] #948 closed

[2018-02-27 14:31] teolemon commented on #708
@batbrain7 as long as we use the Chrome custom tab it will be ok

[2018-02-27 14:31] teolemon commented on #708
https://www.helloasso.com/associations/open-food-facts/formulaires/1/widget/en

[2018-02-27 14:47] teolemon commented on #694
https://github.com/NasiaKouts/openfoodfacts-androidapp

It has been implemented by @NasiaKouts in that repo, and we never merged it, can you try rebasing it on trunk, and making a PR ?

[2018-02-27 15:02] #212 closed

[2018-02-27 15:04] teolemon commented on #220
They had a specific icon with a thunderbolt, but the airplane icon is
working well in the end

----------------------------------------
Pierre Slamich - pierre@slamich.net - (+33) 6 02 13 14 57

On Tue, Feb 27, 2018 at 3:14 PM, Karl Jones <notifications@github.com>
wrote:

[2018-02-27 15:12] Karljoones commented on #220
Well in that case, I will close this off :)

[2018-02-27 15:12] #220 closed

[2018-02-27 15:28] PrajwalM2212 opened #962 "Issue with title when moving from a fragment to MainActivity"
When going back from Fragment to MainActivity , the title of the SupportActionBar does not change

![title1](https://user-images.githubusercontent.com/30733262/36737293-bbbe93be-1c00-11e8-8a1e-9a07a8370ea2.png)

The title still remains as Allergen alert
![titlle2](https://user-images.githubusercontent.com/30733262/36737296-bd08c4ec-1c00-11e8-8f06-a1a5774db84f.png)

[2018-02-27 15:29] PrajwalM2212 commented on #962
I am working on this issue.

[2018-02-27 16:02] teolemon opened #965 "java.lang.ClassCastException"
45 minutes ago on app version 39
Google Emulator (generic_x86), 4096MB RAM, Android 8.0
Report 1 of 1

[code]

[2018-02-27 16:03] teolemon opened #966 "java.lang.RuntimeException"
Today, 1:31 AM on app version 39
Google Emulator (generic_x86), 4096MB RAM, Android 8.0
Report 1 of 1
[code]

[2018-02-27 16:04] teolemon opened #967 "java.lang.ClassCastException — openfoodfacts.github.scrachx.openfood.views.adapters.HistoryListAdapter.onBindViewHolder"
Feb 25, 8:45 AM on app version 39
Google Emulator (generic_x86), 4096MB RAM, Android 8.0
Report 1 of 1
java.lang.ClassCastException:
  at openfoodfacts.github.scrachx.openfood.views.adapters.HistoryListAdapter.onBindViewHolder (HistoryListAdapter.java:44)
  at openfoodfacts.github.scrachx.openfood.views.adapters.HistoryListAdapter.onBindViewHolder (HistoryListAdapter.java:17)
  at android.support.

[2018-02-27 16:04] teolemon opened #968 "android.content.ActivityNotFoundException openfoodfacts.github.scrachx.openfood.fragments.OfflineEditFragment.lambda$onSendAllProducts$5$OfflineEditFragment"
[code]

[2018-02-27 16:05] teolemon opened #969 "android.database.sqlite.SQLiteException org.greenrobot.greendao.database.DatabaseOpenHelper.getWritableDb"
Today, 1:15 PM on app version 39
Google Emulator (generic_x86), 4096MB RAM, Android 8.0
Report 1

java.lang.RuntimeException:
  at android.app.ActivityThread.handleBindApplication (ActivityThread.java:5794)
  at android.app.ActivityThread.-wrap1 (Unknown Source)
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1661)
  at android.os.Handler.dispatchMessage (Handler.java:105)
  a

[2018-02-27 16:06] teolemon opened #970 "android.util.AndroidRuntimeException openfoodfacts.github.scrachx.openfood.views.WelcomeActivity.onCreate"
Today, 9:55 AM on app version 39
Hisense F20 (HS8909QC), 2048MB RAM, Android 6.0
Report 1
[code]

[2018-02-27 16:06] teolemon opened #971 "java.lang.NullPointerException openfoodfacts.github.scrachx.openfood.fragments.PreferencesFragment$2.onPreferenceClick"
50 minutes ago on app version 39
Google Emulator (generic_x86), 4096MB RAM, Android 8.0
Report 1 of 4

java.lang.NullPointerException:
  at openfoodfacts.github.scrachx.openfood.fragments.PreferencesFragment$2.onPreferenceClick (PreferencesFragment.java:87)
  at android.support.v7.preference.Preference.performClick (Preference.java:1116)
  at android.support.v7.preference.Preference.performClick (

[2018-02-27 17:15] PrajwalM2212 opened #972 "Offline edit not opening and app is crashing."
The app crashes when offline edit is chosen from navigation drawer.
[code]

[2018-02-27 17:17] PrajwalM2212 commented on #972
```Caused by: android.content.res.Resources$NotFoundException: File res/drawable/ic_done_all.xml from drawable resource ID #0x7f080076```
@shivanshsoni  Seems to be caused by your pull request #957
Can you fix it ?

[2018-02-27 17:29] Karljoones commented on #972
This is actually fixed in #961, just waiting for a merge
Poke @teolemon

[2018-02-27 17:38] #332 closed

[2018-02-27 17:39] teolemon commented on #972
merged.

[2018-02-27 17:43] #972 closed

[2018-02-27 19:11] l-o-b-s-t-e-r commented on #952
@teolemon Actually, app keeps categories...

`public Single<List<Category>> retrieveAll() {
        if (memoryCache.get() != null) {
            return Single.just(memoryCache.get());
        }
        return networkService.getCategories()
                .map(categoryResponse -> mapper.fromNetwork(categoryResponse.getTags()))
                .doOnSuccess(memoryCache::set)
                .subscri

[2018-02-27 19:24] #968 closed

[2018-02-27 19:34] #877 closed

[2018-02-27 19:38] #735 closed

[2018-02-27 19:49] samagra14 commented on #971
I will try to take a look at this.

[2018-02-27 20:35] Shubham2320 commented on #951
I've analyzed the code and in that, I came to know that we're getting `states_tags` array from the server but we're not storing it anywhere so I'm thinking to store these values in `Product` class shall I do this?

[2018-02-27 21:49] Shubham2320 commented on #943
From where I can get the translations, is there any API call I can make?
At present, the app gets Allergen from https://ssl-api.openfoodfacts.org/allergens.json.

[2018-02-27 23:28] #173 closed

[2018-02-27 23:35] #939 closed

[2018-02-28 00:07] #950 closed

[2018-02-28 00:43] #901 closed

[2018-02-28 00:43] #902 closed

[2018-02-28 02:10] policorn opened #980 "Gradle build failing"
It seems after the merge of #947 buils are failing with the following error:

[code]

[2018-02-28 02:10] policorn commented on #980
I'll work on this one

[2018-02-28 02:31] #980 closed

[2018-02-28 02:54] ManognaMutyala commented on #729
@sachincool  I have already submitted PR for this and it is under review!!

[2018-02-28 03:58] ManognaMutyala commented on #708
![screenshot_20180228-085913](https://user-images.githubusercontent.com/22299553/36769300-7caf7c10-1c69-11e8-863a-a075550a68bf.png)
![screenshot_20180228-085920](https://user-images.githubusercontent.com/22299553/36769335-b16ef958-1c69-11e8-8112-07c2f0a1aac7.png)

It would look something like this!!!

[2018-02-28 05:40] shushilkumarr commented on #864
Do you want me to keep the same image for "first use" too or different images are fine?

[2018-02-28 06:22] PO15ON commented on #969
Can you please elaborate the issue? when does it happen?

[2018-02-28 06:56] #766 closed

[2018-02-28 11:13] #944 closed

[2018-02-28 11:20] pprathameshmore opened #987 "Crashing when open Offline Edit Menu"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [ ] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

Crashing app when Open Offline Edit

[2018-02-28 13:12] jinqian commented on #478
IMHO, this is something nice to have, but I don't think it is worth the energy to develop. The most efficient way to do it is a `Reload` button :)

[2018-02-28 13:12] PrajwalM2212 commented on #231
I am working on it .

[2018-02-28 15:21] PrajwalM2212 opened #990 "Open FAQ in Chrome Custom Tab"
The FAQ is not being opened in Chrome Custom Tab. It has to be opened in Chrome Custom tab.
![faq](https://user-images.githubusercontent.com/30733262/36795347-d58f9fc2-1cc8-11e8-93a9-dbe0ae4ca569.png)

[2018-02-28 15:21] PrajwalM2212 commented on #990
I am working on it

[2018-02-28 15:26] samagra14 commented on #965
@teolemon Almost after two hours of struggling on StackOverflow and exploring the core android APIs. I have found that this occurs because of the order of execution in onDestroy(). I have fixed the bug. It is very hard to reproduce as it does not occur always.

[2018-02-28 15:33] iml-v commented on #966
@teolemon i will correct it

[2018-02-28 15:51] iml-v commented on #473
@teolemon  i am working in this .

[2018-02-28 16:09] teolemon commented on #987
@nicolasleger is not working on the Android app

[2018-02-28 16:11] samagra14 commented on #807
@Karljoones @doomers What's the progress on this? Are you still working on this?

[2018-02-28 16:15] teolemon commented on #231
Ok, you may use this icon: ic_insert_chart

[2018-02-28 16:15] samagra14 commented on #478
@teolemon @jinqian
Can you please tell me what needs to be done? Should I just add a refresh feature (swipe and refresh) or should I keep downloading the search results in the background?

[2018-02-28 16:16] teolemon commented on #231
And it it fits: "Advanced Search & Charts"

[2018-02-28 16:19] PrajwalM2212 commented on #231
@teolemon Should this be added in navigation drawer or settings ?

[2018-02-28 16:25] teolemon commented on #231
In the Search section of the drawer.

[2018-02-28 16:27] #119 closed

[2018-02-28 16:39] samagra14 opened #993 "Category activity keeps loading forever even if there is no connectivity."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-28 16:40] samagra14 commented on #993
I am working on this issue. Please have a look here @Karljoones.

[2018-02-28 16:54] teolemon commented on #478
Pull to Refresh has been implemented in the search results but not in the product page it seems. So you could add it to the product page. @jinqian ?

[2018-02-28 17:08] samagra14 commented on #478
@teolemon Yeah sure I will do that soon.

[2018-02-28 17:14] teolemon commented on #501
Don't pay attention to the design, it should be gray text, very much like the Empty History

[2018-02-28 18:03] Shubham2320 commented on #501
Can I work on it?

[2018-02-28 18:09] teolemon commented on #501
Yup, basically center the message with dark grey text, like in the history. And Whenever you have an offline product, the message disappears.

[2018-02-28 18:11] jaztriumph commented on #580
@teolemon does the background need to be white or transparent , I think transparent background would be more appealing like below and you said when we swipe up it need to display more info does that mean the whole info we used to display in view pager.
![quick_mode](https://user-images.githubusercontent.com/22943390/36804310-37755594-1ce0-11e8-8070-c6c9e7b48b43.gif)

[2018-02-28 18:12] Shubham2320 commented on #501
okay.

[2018-02-28 19:33] sachincool commented on #888
@waadalkatheri any updates?

[2018-02-28 19:40] sachincool commented on #853
@Karljoones https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/858 Merged You can confirm and close this one now.

[2018-02-28 19:43] sachincool commented on #574
@teolemon  this one can be closed. i think

[2018-02-28 19:48] #853 closed

[2018-02-28 19:48] #990 closed

[2018-02-28 20:25] sachincool opened #996 "Already Login is displayed when User is not logged in"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-28 20:25] sachincool commented on #996
i want to work on this.

[2018-02-28 20:31] sachincool commented on #601
@teolemon Is this still the case?  In my nougat the icon fills the circle.

[2018-02-28 20:34] Shubham2320 commented on #987
Could you give more details about it like stack trace? And are you able to reproduce it?

[2018-02-28 20:39] sachincool commented on #501
@Shubham2320  you can Refer this https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/730 as well and close both in 1 PR.  Thanks

[2018-02-28 20:44] teolemon commented on #601
fixed, closing, thanks @sachincool

[2018-02-28 20:44] #601 closed

[2018-02-28 20:47] #574 closed

[2018-02-28 20:54] Shubham2320 commented on #842
@teolemon please look into it :).

[2018-02-28 20:59] Shubham2320 commented on #331
I would like to work on it.

[2018-02-28 21:09] sachincool opened #999 "Multiple Toast showing on Search Barcode"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-02-28 21:09] sachincool commented on #999
i would like to work on this issue.

[2018-02-28 21:11] Shubham2320 commented on #331
@teolemon I've checked out the GitHub link which you've mentioned that is pretty good. However, I would like to implement it without using any library :). I just wanna know that do we just need to show a number(number of items) on ActionBar or an Icon with a badge(containing the number of items).

[2018-02-28 22:12] Shubham2320 commented on #450
Now it works fine, We can close this issue.

[2018-03-01 00:59] l-o-b-s-t-e-r commented on #925
Looks like there is no progress here, so I've taken this issue.

[2018-03-01 05:04] doomers commented on #807
there is still no confirmation that this should be implemented as of now or later

[2018-03-01 06:33] danzzen commented on #999
i also work on this issue.

[2018-03-01 07:04] danzzen commented on #999
What you want is that toast should be displayed only once for first time, rest of the time there should not be any toast messages.But there should be some thing to tell user that your `Barcode required` or `Barcode Invalid` ,if he/she keep clicking the button. So what we can do is keep a text view hidden and  show it with highlighted text when one of these conditions `Barcode required`or`Barcode I

[2018-03-01 08:45] samagra14 commented on #999
@danzzen As @sachincool has already claimed the issue, please find some other issue to work on.

[2018-03-01 09:55] danzzen opened #1003 "Action Bar title is not changing when back button is pressed and app redirects to some other Fragment."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it e

[2018-03-01 10:20] danzzen commented on #1003
I would like to work on this issue.

[2018-03-01 10:35] PrajwalM2212 commented on #1003
@danzzen I have already created this issue earlier . Please refer before creating issues and do not create a duplicate issue .
I have already sent a pull request for the same and has been approved.

[2018-03-01 11:00] jaztriumph commented on #580
@teolemon can you also tell me what information and in which layout should we display information when user completely swipes up the pannel and I also put link to complete info when user clicks on that dialog_info icon.

[2018-03-01 11:21] #1003 closed

[2018-03-01 11:37] danzzen commented on #1003
@PrajwalM2212 sir i downloaded current version of code and running it on my phone is creating this issue.

[2018-03-01 11:37] #962 closed

[2018-03-01 11:39] PrajwalM2212 commented on #1003
@danzzen  My pull request is merged now , so  update your fork now . You will not find the problem now .

[2018-03-01 11:55] sachincool commented on #996
No Longer exists

[2018-03-01 12:00] #993 closed

[2018-03-01 12:33] sachincool commented on #996
Steps to reproduce  :-
* Reinstall
* sign in to the app
* close the app
* It shows Sign in and an alert dialog with Already sign in  instead of LOGOUT

[2018-03-01 12:46] teolemon opened #1005 "Common name is always displayed in French, although we have translations for it"
Common name is always displayed in French, although we have translations for it

https://world.openfoodfacts.org/product/4021912006023/hemp-beer-cannabia

![image](https://user-images.githubusercontent.com/1689815/36845399-da44c95a-1d56-11e8-9438-3e5128418c33.png)

Order of the fallbacks:
1. Display UX language if available
2. Otherwise display English if available
3. Else display the Main languag

[2018-03-01 12:50] teolemon opened #1006 "Ingredients always displayed in French, although we have translations for it"
Ingredients always displayed in French, although we have translations for it

https://world.openfoodfacts.org/product/4021912006023/hemp-beer-cannabia

![image](https://user-images.githubusercontent.com/1689815/36845539-7352e50a-1d57-11e8-8fee-32b3a7329787.png)

[2018-03-01 12:54] teolemon opened #1007 ""Take more photos" doesn't seem to work anymore"
"Take more photos" doesn't seem to work anymore. No feedback as to whether cropped photos are actually uploaded, and they are not arriving online.

[2018-03-01 12:57] teolemon opened #1008 "Fix Serbian locale bug"
Investigate the right locale for Serbian latin and Serbian cyrillic and fix the language folder, and language switcher accordingly.

[2018-03-01 13:01] teolemon opened #1009 "Adding Mozzarella as an allergen doesn't work"
Adding Mozarella as an allergen doesn't work because Mozarella isn't a common allergen and isn't in the ingredient list:
https://world.openfoodfacts.org/product/8000430133035/mozzarella-galbani

As a result, we should restrict the allergen alert to common allergens that have been translated accross languages.

[2018-03-01 13:16] teolemon commented on #969
Those are bug reports from the Play Store. Unfortunately no more context. We can close if it can't be reproduced.

[2018-03-01 13:21] teolemon opened #1010 "Don't delete brand and product name if we upload an Offline product that already exists"
![image](https://user-images.githubusercontent.com/1689815/36846687-eb12ac70-1d5b-11e8-8123-b6583e1f8790.png)
https://world.openfoodfacts.org/product/3263859858117
Don't delete brand and product name if we upload an Offline product that already exists, but without giving any brand or name.

[2018-03-01 13:55] jaztriumph commented on #1007
I think I got this. I am working on this.

[2018-03-01 14:01] teolemon commented on #1010
![image](https://user-images.githubusercontent.com/1689815/36848374-5d2e8c16-1d61-11e8-92ea-601197c107e6.png)

[2018-03-01 14:02] Shubham2320 commented on #1010
It is similar to #375 could you please elaborate it on what has to be done :).

[2018-03-01 14:40] teolemon commented on #1010
It is the same issue as #375
On upload, a check needs to be done:

If brand, weight, name is empty, don't send an empty parameter (like brand=&weight=&name=) (otherwise the server will assume you want to delete it)

[2018-03-01 14:47] teolemon commented on #842
@itchix Can I have your opinion ?

[2018-03-01 15:05] Shubham2320 commented on #1010
Okay :) I would like to work on it.

[2018-03-01 15:14] #951 closed

[2018-03-01 15:22] Karljoones commented on #999
This is the expected operation of a toast in Android, this is not considered an issue. The chances of people repeatedly clicking it like that is slim

[2018-03-01 15:36] roychowdhuryrohit-dev commented on #1008
I would like to solve this issue.

[2018-03-01 15:41] teolemon commented on #1008
Please go ahead. Also, please notify me here the locale folder names we need to export to

[2018-03-01 15:43] Karljoones commented on #1007
I'm going to leave this open, the PR is merged but I think this should be tested once more to confirm closure.

[2018-03-01 15:48] sachincool commented on #999
@Karljoones No, that is not expected behaviour in good apps.  For Eg.
* Try clicking on the button 2-3 times and close the app. you'll still be stuck seeing the Toast messages even outside the app. Normally a Service bound should unregister on onPause or onDestroy, right?  Also If 1 Toast instance is executing other instance should not execute till the first one cancels.
you'll understand what i m

[2018-03-01 16:21] teolemon opened #1018 "Replace the allergen JSON by this one"
https://static.openfoodfacts.org/data/taxonomies/allergens.json

It is multilingual, static (thus much quicker to load), and more reliable (the Allergens are translated, thus the check can be done with all languages at once)

[2018-03-01 16:22] teolemon opened #1019 "Include multilingual taxonomies as default in the app"
We have decided to include the multilingual taxonomies as default, directly within the app, to provide a good and simplified multilingual experience.

The app should include all those files by default:

https://static.openfoodfacts.org/data/taxonomies/categories.json
https://static.openfoodfacts.org/data/taxonomies/labels.json
https://static.openfoodfacts.org/data/taxonomies/additives.json
https:/

[2018-03-01 16:33] teolemon opened #1020 "Update mechanism for the in-app taxonomies"
As mentioned in #1019 , we want to now include multilingual taxonomies within the app for better reliability.

However, we update them regularly, and thus we must provide an update mechanism.

The zipped version of the files are located at:

https://static.openfoodfacts.org/data/taxonomies/categories.json
https://static.openfoodfacts.org/data/taxonomies/labels.json
https://static.openfoodfacts.org

[2018-03-01 17:22] teolemon commented on #1018
[code]

[2018-03-01 17:29] l-o-b-s-t-e-r commented on #1006
@teolemon
Probably, this issue is just a small part of this one #945, which I'm working on.
If everyone starts to translate some small part of product, we will get the mess...

[2018-03-01 17:30] teolemon opened #1021 "Use the new categories.json file to translate categories"
https://static.openfoodfacts.org/data/taxonomies/categories.json

[2018-03-01 17:31] teolemon opened #1022 "Use the new labels.json file to translate labels"
https://static.openfoodfacts.org/data/taxonomies/labels.json

[2018-03-01 17:31] teolemon opened #1023 "Use the new additives.json file to translate additives"
Use the new additives.json file to translate additives
https://static.openfoodfacts.org/data/taxonomies/additives.json

[code]

[2018-03-01 17:32] teolemon opened #1024 "Use the new countries.json file to translate countries"
https://static.openfoodfacts.org/data/taxonomies/countries.json

[2018-03-01 17:32] teolemon opened #1025 "Use the new allergens.json file to translate allergens"
https://static.openfoodfacts.org/data/taxonomies/allergens.json
[code]

[2018-03-01 17:32] #1018 closed

[2018-03-01 17:34] teolemon commented on #946
Please look at
Use the new labels.json file to translate labels
#1022 opened 2 minutes ago by teolemon

[2018-03-01 17:52] teolemon commented on #71
I guess the user could theoretically retake a photo.
What happens in reality is that user take many products in a row  (for instance in a supermarket). So having the ability to enter rotate/crop mode on an already saved image would be useful as well.

[2018-03-01 17:54] teolemon commented on #165
We disabled it. Closing since we'll replace it with something more scalable

[2018-03-01 18:56] sachincool commented on #996
It's in Obfdebug variant.  but it can't be found in off variant. should this be worked upon?

[2018-03-01 18:58] roychowdhuryrohit-dev commented on #1008
There will be no need to any change in locale folder names. I have fixed a bug where BCP 47 language tags were used which is only supported from Android Lollipop.

[2018-03-01 19:06] Shubham2320 commented on #1025
I am working on this one along with #943 both are same.

[2018-03-01 19:21] Shubham2320 commented on #1025
The response of the given link doesn't contain translations of all allergens present in the English language. So what is supposed to be done, is it the case that right now it just has to be implemented and in future other translations would also be made available in the same link?

[2018-03-01 19:22] #501 closed

[2018-03-01 19:42] #999 closed

[2018-03-01 19:50] sachincool commented on #1005
Working on it!

[2018-03-01 20:00] #1008 closed

[2018-03-01 20:23] Shubham2320 commented on #1021
I'm interested in doing this but I really need some suggestions for it, it's confusing to me about when do we need translations of categories, countries, labels and others?
@teolemon please guide me :).

[2018-03-01 20:33] Shubham2320 commented on #1020
Okay, so what I understood from this is that we'll store all these files in the greendao database a single time and then perform regular checks regarding the version of files. If I'm correct please let me know that can we perform network requests on SplashActivity to get these files on the first run of the app, At present, we're performing a single request to get allergens there.
Please correct me

[2018-03-01 21:34] #754 closed

[2018-03-01 21:46] ManavPoddar commented on #1009
Hi @teolemon , I checked this by adding Mozzarella as allergen and then checked for the product below. Mozzarella alert as an allergen doesnt work here too, but it is there in the ingredients list.
Could you please ellaborate what needs to be done ? :)

![screenshot_20180302-031104](https://user-images.githubusercontent.com/18038492/36871315-e4ddbc34-1dc7-11e8-8f5f-b203949cfbb2.png)
![screenshot_2

[2018-03-01 21:46] sachincool commented on #1005
@teolemon
My research  resulted in some cool facts :-
* The Search api endpoint it this
`https://world.openfoodfacts.org/cgi/search.pl?search_simple=1&json=1&action=process&fields=image_small_url,product_name,brands,quantity,code&search_terms=cannabia&page=1`

This results in only 1 product with same Barcode as you mentioned in

 `https://world.openfoodfacts.org/product/4021912006023/hemp-beer-can

[2018-03-02 00:41] sachincool commented on #830
@Siddharth-Singhs this was an Easy Task.  how's the progress?

[2018-03-02 00:49] sachincool commented on #864
@shushilkumarr I think different images
I found this awsome image ![](https://image.freepik.com/free-icon/food-donation_318-114267.jpg)

[Here](https://www.freepik.com/free-icon/food-donation_871841.htm#term=gestures&page=5&position=9)

You can put an ImageView there and we can Swap Src in java based on first use or "upload done"  :+1:

[2018-03-02 03:58] shivanshsoni commented on #830
@Siddharth-Singhs If you are not working on this then, I already had done changes and I will be happy to reopen my closed PR for this :-) Please reply.

[2018-03-02 04:00] shivanshsoni commented on #1024
I am working on this. :-)

[2018-03-02 05:51] Shubham2320 commented on #1024
Hey @shivanshsoni it's good you're working on it, I need some help too in #1025 and this is also similar to it so please let me know your approach as well :).

[2018-03-02 05:59] jaztriumph opened #1031 "images are not displayed in history"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**
images in history are never displayed

[2018-03-02 06:06] jaztriumph commented on #1031
I am working on this.

[2018-03-02 08:10] ManognaMutyala opened #1033 "Grouping header groups in preference screen"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search for the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-02 08:45] PrajwalM2212 commented on #1033
Chrome Custom Tabs are for opening webpages . Refer https://developer.chrome.com/multidevice/android/customtabs

[2018-03-02 08:56] teolemon commented on #1025
The link contains the official list of allergenic substances and their translations in many langages. The previous list has user imputed allergens that are not translated nor linked (eg mozzarella).

So we were giving false expectations the feature would work properly.

We'll stick to that shorter list, and make it evolve as we translate it, and expand it beyond allergens ( for people who don't li

[2018-03-02 10:12] #1031 closed

[2018-03-02 10:35] ManognaMutyala commented on #1033
I was not clear in explaining my issue @PrajwalM2212, I think now things are clear.

[2018-03-02 10:40] #267 closed

[2018-03-02 10:41] #242 closed

[2018-03-02 10:42] Karljoones commented on #331
Hi @Shubham2320, from what I can gather we would like a badge with the number of items that need to be uploaded

[2018-03-02 10:43] #231 closed

[2018-03-02 10:43] #484 closed

[2018-03-02 10:44] #461 closed

[2018-03-02 10:48] Shubham2320 commented on #331
Thanx I would send the PR soon :).

[2018-03-02 10:51] #708 closed

[2018-03-02 11:17] teolemon opened #1039 "Memory issues after Search"
**Summary:**

After doing a search, and scrolling a lot, the app becomes slower and unresponsive

**Steps to reproduce:**
Search for coca, click on the first product. It loads quite fast.
Search for coca, scroll a lot to the bottom, go back to the first product. Click on it, it loads slower.
Scroll even more, do even more searches, eventually the app stops responding.

**Expected behavior:**

Stay

[2018-03-02 11:18] iml-v opened #1040 "Multi-format barcode does not supports"
**Summary:**

App does not supports multi-barcode formats like UPC_EAN_EXTENSION ,MAXICODE ,DATA_MATRIX, RSS_EXPANDED ,CODABAR etc.

**Expected behavior:**

App should be multi-formats barcode supported

**Observed behavior:**

It does not supports above mentioned formtats

**Screenshots:**

Can be created by pressing the Volume Down and Power Button at the same time on Android 4.0 and higher.

I

[2018-03-02 11:28] teolemon commented on #1040
@iml-v Do all of them have a numeric translation ?

[2018-03-02 11:31] iml-v commented on #1040
@teolemon  yes ,also all are used in Retail  industry

[2018-03-02 11:36] teolemon opened #1042 "Ensure Nutriscore in Search and History are disabled for OBF and OPFF"
Ensure Nutriscore in Search and History are disabled for OBF and OPFF.
The Nutriscore is for OBF only, and we thus shouldn't display for OBF and OPFF

[2018-03-02 11:48] jaztriumph opened #1043 "display progress bar until history is loaded"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting a issue.
- [x] Don't forget to tag your issue, it makes it easier to discover.
**Summary:**

use progress bars to notify user of loading history.

**Expected behavior:**

![progress]

[2018-03-02 11:48] jaztriumph commented on #1043
I am working on this.

[2018-03-02 11:57] Shubham2320 commented on #1043
Yeah, it would be good :).

[2018-03-02 11:58] Shubham2320 commented on #1042
Okay I will work on this.

[2018-03-02 15:07] teolemon opened #1047 "Remove fastscroller_track & fastscroller_handle strings"
Remove
[code]

[2018-03-02 15:16] iml-v commented on #1047
I will correct it

[2018-03-02 18:05] iml-v commented on #1047
@teolemon  will you clarify about this , should I remove these strings from all String files or only from specified language (Hindi ) because these strings have been used in fastscroller

[2018-03-02 18:35] teolemon commented on #1047
Those strings just mention FastScroller, they don't say anything useful to the end user ?
So I guess they can be removed from the source file ?

[2018-03-02 18:37] iml-v commented on #1047
@teolemon  thanks

[2018-03-02 20:29] #1047 closed

[2018-03-03 05:11] samagra14 opened #1053 "Wrong message display when connectivity is lost during search."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search for the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-03 05:11] samagra14 commented on #1053
@teolemon @Karljoones Have a look here. I am working to resolve this.

[2018-03-03 06:49] #716 closed

[2018-03-03 08:54] samagra14 commented on #1039
I would love to take a sneek into the memory issues.

[2018-03-03 09:20] teolemon opened #1059 "android.database.sqlite.SQLiteException org.greenrobot.greendao.database.StandardDatabase.execSQL"
[code]

[2018-03-03 09:23] teolemon opened #1060 "java.lang.IllegalStateException android.widget.RelativeLayout$DependencyGraph.getSortedViews"
Yesterday, 11:16 PM on app version 40
OnePlus One (A0001), 3072MB RAM, Android 6.0
Report 1 of 1
java.lang.IllegalStateException:
  at android.widget.RelativeLayout$DependencyGraph.getSortedViews (RelativeLayout.java:1724)
  at android.widget.RelativeLayout.sortChildren (RelativeLayout.java:382)
  at android.widget.RelativeLayout.onMeasure (RelativeLayout.java:389)
  at android.view.View.measure (

[2018-03-03 12:07] ManognaMutyala opened #1065 "Adding terms and conditions for users in preference screen"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search for the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-03 13:09] teolemon opened #1066 "java.lang.RuntimeException: Unable to create application openfoodfacts.github.scrachx.openfood.views.OFFApplication: android.database.sqlite.SQLiteException: duplicate column name: quantity (code 1): , while compiling: ALTER TABLE history_product ADD COLUMN 'quantity' TEXT NOT NULL DEFAULT '';"
03-03 14:08:24.772 19548-19548/openfoodfacts.github.scrachx.openfood E/SQLiteLog: (1) duplicate column name: quantity
03-03 14:08:24.791 19548-19548/openfoodfacts.github.scrachx.openfood E/AndroidRuntime: FATAL EXCEPTION: main
                                                                                       Process: openfoodfacts.github.scrachx.openfood, PID: 19548

[2018-03-03 15:25] #1043 closed

[2018-03-03 15:38] jaztriumph opened #1068 "making getDaoSession() in OffApplicaiton static"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-03 16:08] jaztriumph commented on #1068
@teolemon @Karljoones If you agree I will change the code and even change the job scheduler code, as with the current implementation there is a chance of getting `database lock` error .

[2018-03-03 16:29] shushilkumarr commented on #864
![screenshot_20180301-201337](https://user-images.githubusercontent.com/22811731/36936648-044472cc-1f2e-11e8-8986-aa5fb2889096.jpg)
I have used "ic_cloud_off" image for the "first use" fragment. The Boolean value is stored in sharedpreferences file with key "firstupload" and is updated to true when "upload all" button is clicked for the first time. Is this logic and layout ok?

[2018-03-03 17:32] #228 closed

[2018-03-03 18:18] huzaifaiftikhar opened #1070 "Add Photo button not clickable in no results screen"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-03 18:19] huzaifaiftikhar commented on #1070
I am working on this issue.

[2018-03-03 18:34] huzaifaiftikhar opened #1072 "android.database.sqlite.SQLiteException: not an error (code 0)"
FATAL EXCEPTION: main
                                                                                       Process: openfoodfacts.github.scrachx.openfood, PID: 15603
                                                                                       android.database.sqlite.SQLiteException: not an error (code 0)

[2018-03-03 18:58] jaztriumph commented on #1066
@teolemon I finally got this :relieved: after staring at the code for more than half an hour. I will make a pull request soon.

[2018-03-03 18:59] Shubham2320 commented on #1025
Now, after a lot of analysis of the whole code, I found that the link which we're using now has 2,356 allergens this number include the repetition of single allergen in different languages.

The structure of this allergen contains name, URL and number of products.
So in order to use the new link, we would be losing the number of products and URL which in my opinion is also not much necessary.

**N

[2018-03-03 19:18] ManognaMutyala opened #1073 "Removal of search icon in preference screen"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search for

 the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes

[2018-03-03 19:45] jaztriumph commented on #1072
@huzaifaiftikhar I have made the issue #1068 on this. I am about to make a pull request resolving this soon.

[2018-03-03 20:04] #1066 closed

[2018-03-03 20:29] ManognaMutyala opened #1077 "Disabling Search Option in Offline Edit,AllergenAlert"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search for the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-03 20:36] #1070 closed

[2018-03-03 20:42] #1073 closed

[2018-03-03 21:00] teolemon opened #1080 "Badge displays 1 while Offline screen is empty"
![image](https://user-images.githubusercontent.com/1689815/36939270-4629c570-1f2e-11e8-86e9-1f3ab5635714.png)

[2018-03-03 21:04] Karljoones commented on #1080
Interesting.. That would mean that the app thinks that there is an item there even when there is not, which makes no sense

[2018-03-03 21:04] teolemon opened #1081 "Confirm logout should be translatable."
app/src/main/java/openfoodfacts/github/scrachx/openfood/views/MainActivity.java

![image](https://user-images.githubusercontent.com/1689815/36939307-e5f4f1d8-1f2e-11e8-91ee-5d2695b718da.png)

[2018-03-03 21:14] teolemon opened #1082 "Nutriscore not correctly shown in history"
![image](https://user-images.githubusercontent.com/1689815/36939379-3194624e-1f30-11e8-8426-97d31237fb81.png)

[2018-03-03 21:16] teolemon opened #1084 "History should be fully translatable"
![image](https://user-images.githubusercontent.com/1689815/36939384-48f203b0-1f30-11e8-8571-c5ba6c25623e.png)
Note that"'History" activity title should be translatable as well as the timestamp.

[2018-03-03 21:20] #1042 closed

[2018-03-03 21:21] teolemon opened #1085 "Why are those strings non translatable ?"
![image](https://user-images.githubusercontent.com/1689815/36939419-f0a3d9bc-1f30-11e8-9f8a-5942c5d7ef49.png)

[code]

[2018-03-03 21:23] teolemon opened #1086 "Those strings should be changed or removed."
Those strings should be changed or removed, translators are confused by them.
![image](https://user-images.githubusercontent.com/1689815/36939440-6a7a5194-1f31-11e8-8ce8-26d2fb626fa7.png)

[2018-03-03 21:34] Shubham2320 commented on #1080
I'll fix this :).

[2018-03-03 21:42] jaztriumph commented on #1082
@teolemon that history is old history right. can you confirm this?
Because there was no nutriscore column in schema 4 so old history nutriscore are null after upgrading.
I will work on this.

[2018-03-03 21:52] #761 closed

[2018-03-03 21:52] #756 closed

[2018-03-04 02:40] PrajwalM2212 commented on #1085
@teolemon  translatable =" false " has been set on those strings . Should they be removed?

[2018-03-04 02:47] PrajwalM2212 commented on #1086
@teolemon  Those strings should not be translated . They are the keys used by preference activity . Removing or changing them will affect the working of preferences activity.
I will set them to be non-translatable .

[2018-03-04 02:59] PrajwalM2212 commented on #1081
I am working on it.

[2018-03-04 03:32] PrajwalM2212 commented on #1084
Working on it .

[2018-03-04 06:15] ManavPoddar opened #1093 "Issue in time for the product in history page"
**Summary:**

the time shown is  "1 minutes ago" or "1 hours ago". Rather it should be "1 minute ago" or "1 hour ago".
**Steps to reproduce:**

menu -> history -> see for an item viewed an hour ago or a minute ago

**Screenshots:**

![screenshot_20180304-114035](https://user-images.githubusercontent.com/18038492/36942775-19bcd8c4-1fa1-11e8-95ce-52facbf97635.png)

[2018-03-04 06:17] ManavPoddar commented on #1093
I would love working on it

[2018-03-04 06:32] PrajwalM2212 commented on #1093
You will have to add conditions to check cases of one second , one minute and one year .

[2018-03-04 06:34] ManavPoddar commented on #1093
yeah @PrajwalM2212 , do you know the exact file where I can make the changes ?

[2018-03-04 06:36] PrajwalM2212 commented on #1093
In HistoryListAdapter there is a function called calcTime()

[2018-03-04 06:37] ManavPoddar commented on #1093
got it thanks @PrajwalM2212 :)

[2018-03-04 07:04] ManavPoddar opened #1095 "Back arrow is of grey color, rest all items are of black color in Product Summary"
**Summary:**

The back arrow is of grey color while all other items in the toolbar are of black color. This breaks the symmetry design of app as in all other pages the back arrow is of black color.

**Steps to reproduce:**

open any product

**Screenshots:**
![screenshot_20180304-121702 1](https://user-images.githubusercontent.com/18038492/36943015-9b19f4be-1fa7-11e8-8d4c-12bebebc1684.png)

![scre

[2018-03-04 07:04] ManavPoddar commented on #1095
I would love to work on it :)

[2018-03-04 08:18] huzaifaiftikhar opened #1097 "Clicking on 'Preferences' crashes the app when language is changed to Hindi"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-04 08:18] huzaifaiftikhar commented on #1097
I am working on this.

[2018-03-04 08:27] ManavPoddar commented on #775
I would love to work on this issue if still available :)

[2018-03-04 08:40] ManavPoddar commented on #1097
Hi @huzaifaiftikhar, I am not facing this issue with my android version. I am using Noughat. Which android version are you using ?

[2018-03-04 08:44] #1081 closed

[2018-03-04 08:46] #1085 closed

[2018-03-04 08:46] #1086 closed

[2018-03-04 09:10] #1077 closed

[2018-03-04 09:35] PrajwalM2212 opened #1098 "Change ListView to RecyclerView in OfflineEditFragment"
The ListView in OfflineEditFragment can be changed to RecyclerView.

<img width="559" alt="listview" src="https://user-images.githubusercontent.com/30733262/36944204-625ddf62-1fbd-11e8-819c-85a5d106760b.png">

[2018-03-04 09:37] PrajwalM2212 opened #1099 "The ListView in NutritionProductFragment can be changed to RecyclerView"
The ListView in NutritionProductFragment can be changed to RecyclerView

<img width="599" alt="listview2" src="https://user-images.githubusercontent.com/30733262/36944221-adb4d31c-1fbd-11e8-80da-2e3c9155ec0a.png">

[2018-03-04 09:38] PrajwalM2212 commented on #1099
Pull request sent .

[2018-03-04 09:39] PrajwalM2212 commented on #1098
Pull request sent

[2018-03-04 10:09] huzaifaiftikhar commented on #1097
@vaishali51 I was already working on this issue. Please verify if someone else is working on the issue or not before submitting a PR to it :)

[2018-03-04 10:16] Karljoones opened #1102 "Languages should only be translated into their own language"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-04 10:21] Karljoones opened #1103 "Navigation drawer selection on language change"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-04 10:28] vaishali51 commented on #1097
Okay, I will verify before submitting a PR next time :)

[2018-03-04 10:36] teolemon opened #1104 "Make categories clickable on Product Page"
One of the killer things on Open Food Facts web version is being able to browse from product to other product of the same category by clicking on the category field (eg: Caramel Stuffed Wafers)
It would be great to make the category field clickable

https://world.openfoodfacts.org/product/3438351360080/gaufres-fines-pur-beurre-caramel-au-beurre-sale-la-dunkerquoise

Example with Caramel Stuffed Wa

[2018-03-04 10:38] teolemon commented on #1104
It should basically work like the EMB codes, using a Chrome Custom Tab (or perhaps a Recycler view, with the JSON API, if you're feeling more adventurous)

![image](https://user-images.githubusercontent.com/1689815/36944602-66411080-1fa0-11e8-80f8-91222074c06c.png)

[2018-03-04 10:40] huzaifaiftikhar commented on #1097
@vaishali51 Please close your PR #1100 as this issue is fixed in #1088

[2018-03-04 10:40] #1097 closed

[2018-03-04 10:43] teolemon opened #1105 "Make brands clickable on Product Page"
One of the killer things on Open Food Facts web version is being able to browse all products of a same brand by clicking on the brand field on the product page (eg: Haldiram's)
It would be great to make the brand field clickable

https://world.openfoodfacts.org/product/8904063200013/aloo-bhijia-200g-kartoffelsnack-scharf-haldirams-haldiram-s

Example with Haldiram's
https://world.openfoodfacts.org

[2018-03-04 10:44] teolemon commented on #1105
It should basically work like the EMB codes, using a Chrome Custom Tab (or perhaps a Recycler view, with the JSON API, if you're feeling more adventurous)

[2018-03-04 10:47] Shubham2320 commented on #1105
I would love to work on this :).

[2018-03-04 10:56] teolemon commented on #1105
You can proceed 👍

[2018-03-04 11:09] PrajwalM2212 commented on #1104
Working on it.

[2018-03-04 11:28] iml-v commented on #1103
@Karljoones i will correct this .

[2018-03-04 11:33] #1033 closed

[2018-03-04 11:41] #1065 closed

[2018-03-04 12:56] PrajwalM2212 commented on #876
Working on it .

[2018-03-04 13:04] teolemon opened #1107 "Make labels clickable on product page"
One of the killer things on Open Food Facts web version is being able to browse all products of a same label by clicking on the label field on the product page (eg: Organic)
It would be great to make the brand field clickable

https://world.openfoodfacts.org/product/3560070575855/tofu-a-l-indienne-riz-basmati-et-lentilles-bio-carrefour-bio

Example with Organic
https://world.openfoodfacts.org/labe

[2018-03-04 13:04] PrajwalM2212 commented on #876
@teolemon How do you want this to be implemented ?
Should it be like the EMB codes , which opens in a chrome custom tab ?

[2018-03-04 13:05] shivanshsoni commented on #1107
I would like to work on this issue

[2018-03-04 13:05] PrajwalM2212 commented on #1107
Working on it.

[2018-03-04 13:06] PrajwalM2212 commented on #1107
@shivanshsoni  I am already working on it.

[2018-03-04 13:07] shivanshsoni commented on #1107
@PrajwalM2212 Ok

[2018-03-04 13:07] teolemon opened #1108 "Make packaging clickable on Product Page"
One of the killer things on Open Food Facts web version is being able to browse all products of a same packaging by clicking on the packaging field on the product page (eg: Plastic)
It would be great to make the brand field clickable

https://in.openfoodfacts.org/product/8904063200945/haldirams-bhujia

Example with Plastic
https://world.openfoodfacts.org/packaging/plastic
https://world.openfoodfac

[2018-03-04 13:08] PrajwalM2212 commented on #1107
@shivanshsoni  Thanks .

[2018-03-04 13:10] ManavPoddar commented on #1108
I'll like to work on it

[2018-03-04 13:12] teolemon commented on #1107
@shivanshsoni I opened another one for labels: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/1108

[2018-03-04 13:12] teolemon commented on #1108
Ok, go ahead :)

[2018-03-04 13:18] teolemon opened #1109 "Make country clickable on Product Page"
One of the killer things on Open Food Facts web version is being able to browse all products of a same country by clicking on the Country field on the product page (eg: France)
It would be great to make the country field clickable

https://world.openfoodfacts.org/product/8904063200945/haldirams-bhujia

Example with India
https://world.openfoodfacts.org/country/india
https://world.openfoodfacts.org

[2018-03-04 13:19] PrajwalM2212 commented on #1109
Working on it.

[2018-03-04 13:19] teolemon commented on #1107
@shivanshsoni also another one for countries, since labels was taken: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/1109

[2018-03-04 13:20] shivanshsoni commented on #1107
@teolemon That one is also taken :-(

[2018-03-04 13:22] teolemon opened #1110 "Add a contributor tab to products"
We display the Add date, the last edit date, and the list of contributors

[code]

[2018-03-04 13:27] teolemon opened #1112 "Make traces and substances causing allergies or intolerances clickable"
One of the killer things on Open Food Facts web version is being able to browse all products by clicking on the fields on the product page
It would be great to make the traces field, and the substances causing allergies or intolerances fields  clickable
https://world.openfoodfacts.org/product/3560070575855/tofu-a-l-indienne-riz-basmati-et-lentilles-bio-carrefour-bio

https://world.openfoodfacts.or

[2018-03-04 13:33] PrajwalM2212 commented on #1112
@shivanshsoni  Do you want to work on it ?

[2018-03-04 13:35] shivanshsoni commented on #1112
Yes, I would like to work on this

[2018-03-04 13:35] shivanshsoni commented on #1112
Thanks @PrajwalM2212

[2018-03-04 14:09] Karljoones commented on #31
I am going to close this as you have split it into individual issues

[2018-03-04 14:09] #31 closed

[2018-03-04 14:13] Shubham2320 commented on #1110
I would love to work on it.

[2018-03-04 14:25] teolemon commented on #1110
You can go ahead.

[2018-03-04 14:37] teolemon opened #1114 "Make stores clickable"
One of the killer things on Open Food Facts web version is being able to browse all products of a same store by clicking on the Store field on the product page (eg: Reliance Fresh)
It would be great to make the store field clickable

https://world.openfoodfacts.org/product/8904063200945/haldirams-bhujia

Example with Reliance Fresh
https://world.openfoodfacts.org/store/reliance-fresh
https://world

[2018-03-04 14:43] ManavPoddar commented on #1114
I am working on it

[2018-03-04 16:58] #1095 closed

[2018-03-04 17:04] vaishali51 commented on #904
I will like to work on it.

[2018-03-04 22:40] iml-v opened #1118 "App crashes on selecting Preference after translating to new language"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-04 22:41] iml-v commented on #1118
@teolemon take a look a this

[2018-03-04 22:56] sowmya9029 commented on #868
I am working on this implementation. This is what I have done till now. Please let me know if this looks ok
![device-2018-03-04-143646](https://user-images.githubusercontent.com/11407233/36951764-0cf1f578-1fbc-11e8-9aa5-15be94dc8df9.png)
![device-2018-03-04-143812](https://user-images.githubusercontent.com/11407233/36951765-0d0985d0-1fbc-11e8-9754-b51071896816.png)

[2018-03-05 02:49] samagra14 commented on #445
@Shubham2320 What's your progress on this?

[2018-03-05 02:50] samagra14 commented on #445
I guess overlay on the ActionBar would not be such a nice idea. Try overlay on the screen.

[2018-03-05 08:46] iml-v commented on #1118
@toelemon please Review PR #1118

[2018-03-05 11:03] huzaifaiftikhar opened #1121 ""Help translate OFF" displayed twice in Preferences"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-05 11:03] huzaifaiftikhar commented on #1121
Working on this.

[2018-03-05 12:14] #1121 closed

[2018-03-05 12:15] #764 closed

[2018-03-05 14:00] #1099 closed

[2018-03-05 14:01] #1098 closed

[2018-03-05 19:09] Shubham2320 commented on #445
@samagra14 yeah I'm going to send a PR :).

[2018-03-05 19:35] Shubham2320 commented on #721
I think this can be closed now.

[2018-03-05 19:39] #721 closed

[2018-03-05 19:40] teolemon commented on #721
thanks @Shubham2320

[2018-03-05 19:46] Shubham2320 opened #1129 "App crashes on launching offlineEditFragment when it contains a single item."
**Summary:**

App crashes on launching offlineEditFragment when it contains a single item.

**Steps to reproduce:**

How can we reproduce the issue?

**Add system logs:**

E/AndroidRuntime: FATAL EXCEPTION: main
                                                   Process: openfoodfacts.github.scrachx.openfood, PID: 10307
                                                   java.lang.IllegalStateExcep

[2018-03-05 19:46] Shubham2320 commented on #1129
I would work on this.

[2018-03-05 20:58] Shubham2320 commented on #1129
I've figured it out, it is happening because of circular chaining of views inside relativeLayout of save_list_item.xml and going to a send PR asap :).

[2018-03-05 23:40] l-o-b-s-t-e-r commented on #1102
In progress)

[2018-03-06 00:43] PrajwalM2212 commented on #492
Working on it .

[2018-03-06 02:59] Shubham2320 commented on #903
I would like to work on it.

[2018-03-06 03:13] Shubham2320 commented on #825
I would love to work on it.
Can I proceed with adding a new tab in product page?

[2018-03-06 03:17] Shubham2320 commented on #706
Is there any API call we can make to get the  required product?

[2018-03-06 05:39] PrajwalM2212 commented on #876
Can i implement a new tab for this ?

[2018-03-06 08:04] PrajwalM2212 commented on #241
I am working on it
 Should it be on the navigation drawer or settings ?

[2018-03-06 11:33] ManognaMutyala commented on #583
Could you please elaborate details of NSNW content @teolemon ?

[2018-03-06 13:12] PrajwalM2212 commented on #876
@teolemon  How should this be implemented ? Should label images be displayed in recycler view ?
What should be done when there are no label images ?

[2018-03-06 14:21] Shubham2320 opened #1133 "On SearchProductResultFragment app does not show any progress on itemClick."
**Summary:**

On SearchProductResultFragment there is the list of search products.
Now, in low internet speed, there is no response provided to the user and the app stays still although the network requests run on the background thread.

In this way because of less information about the progress user can think that app is not giving any response on click and would click same or different product m

[2018-03-06 14:21] Shubham2320 commented on #1133
I am working on this.

[2018-03-06 15:30] ManavPoddar commented on #1114
hey @teolemon , I would be implementing it within a recycler view. It will be much convenient for the user :)

[2018-03-06 15:35] ManavPoddar commented on #422
@teolemon I would love to work on this

[2018-03-06 15:44] ManavPoddar commented on #707
I would love to work on this if still available

[2018-03-06 16:06] jaztriumph commented on #707
@ManavPoddar you can go on with this.

[2018-03-06 16:11] ManavPoddar opened #1134 "Not able to add Allergen"
**Summary:**

Not able to add an Allergen.
![videotogif_2018 03 06_21 36 09](https://user-images.githubusercontent.com/18038492/37043622-1ae22258-2187-11e8-8e91-7dfd7fb2239b.gif)

**Screenshots:**

[2018-03-06 16:12] ManavPoddar commented on #1134
I would love to work on it

[2018-03-06 16:56] l-o-b-s-t-e-r commented on #1020
@teolemon
1) https://static.openfoodfacts.org/data/taxonomies/version.json - 404 Not Found
2) To start working on this we firstly need to merge this one #1115

[2018-03-06 17:05] teolemon commented on #1020
We're not introducing a version.json, rather we should directly check the version of the file and see if it has changed.
last modified or the http etag  (if the server returns 304, no new version)

I haven't checked on #1115 yet again, been busy all day

[2018-03-06 17:29] Shubham2320 commented on #1080
I have to wait until #1130  is merged than only I'll be able to resolve this.

[2018-03-06 17:36] Shubham2320 commented on #694
@samagra14 are you still working on this? if not I would be willing to do it.

[2018-03-06 17:41] Shubham2320 commented on #825
@Karljoones @teolemon I am thinking to add a tab in ProductActivity in which products with same category and country with better nutritiscore would appear. Can I proceed with it, please provide your thoughts.

[2018-03-06 17:45] Shubham2320 commented on #649
Could you please guide me more on this?

[2018-03-06 19:28] samagra14 commented on #694
@Shubham2320 Yes, I am working on this.

[2018-03-06 20:05] #1102 closed

[2018-03-06 20:05] #288 closed

[2018-03-06 20:09] #1105 closed

[2018-03-06 21:02] teolemon opened #1138 "Sorry!! Something went wrong..."
<string name="something_went_wrong">Sorry!! Something went wrong...</string>

"Sorry, something went wrong..."
Let's avoid exclamation marks!!!!!!!

[2018-03-07 02:24] PrajwalM2212 commented on #1138
Working on it.

[2018-03-07 02:33] PrajwalM2212 opened #1142 "Open Labels in RecyclerView"
On clicking labels , the labels should open in a recycler view.

[2018-03-07 02:34] PrajwalM2212 commented on #1142
Working on it.

[2018-03-07 02:35] PrajwalM2212 opened #1143 "Open Categories in RecyclerView"
On clicking categories , the categories must open in a recycler view.

[2018-03-07 02:35] PrajwalM2212 commented on #1143
Working on it.

[2018-03-07 05:33] jaztriumph commented on #536
I will work on this.

[2018-03-07 05:48] ManavPoddar opened #1144 "The labels of some languages in hindi are not correct"
**Summary:**

For some languages like English, French etc. These labels in hindi are set to the hindi names of these languages. Whereas it should be "en" for english, "fr" for french etc.

**Expected behavior:**

Due to this, the label after changing the laguage to english back from hindi is set to अंग्रेज़ी. This causes problems in other parts of the app like the Add Alergens

**ScreenShots**
![s

[2018-03-07 05:48] ManavPoddar commented on #1144
Working on it

[2018-03-07 06:00] Shubham2320 commented on #506
Cool. :smile_cat: I would like to work on it.

[2018-03-07 06:08] Shubham2320 commented on #506
@teolemon could you please guide me on what exactly has to be done on this.

[2018-03-07 06:12] ManavPoddar commented on #1134
@teolemon  The PR #1145 fixes this issue. But for some languages like Hindi, there is no allergen for it in the allergen list. Shall I add a toast or dialog asking the user -> No allergens found, Please change the language ?

[2018-03-07 06:26] Shubham2320 commented on #1134
I think this issue would be resolved with the merging of #1115.

[2018-03-07 06:34] ManavPoddar commented on #1134
Hey @Shubham2320 , #1115 resolves many issues, can you exactly tell which commit is solving the problem. Also the problem was because of error in the strings-hi.xml file as is discussed in issue #1144. Which is solved in PR #1145. So I think it can be merged

[2018-03-07 06:35] ManavPoddar commented on #1134
So I think the issue can be closed after merging PR #1145

[2018-03-07 06:37] ManavPoddar opened #1146 "Loading Toast keeps loading in Allergen Alert"
**Summary:**

In the dialog to download some additional data, If we select no, the loading icon keeps loading on the top.

**Screenshots:**
![videotogif_2018 03 07_11 54 45](https://user-images.githubusercontent.com/18038492/37077208-f270c85a-21ff-11e8-8740-57e7e5736859.gif)

same is the case with other languages too

[2018-03-07 06:37] ManavPoddar commented on #1146
working on it

[2018-03-07 10:28] Shubham2320 commented on #1138
This can be closed now.

[2018-03-07 10:40] #1144 closed

[2018-03-07 10:43] #1084 closed

[2018-03-07 10:56] teolemon opened #1148 "<string name="conform_logout">Confirm Logout</string>"
Change string name from <string name="conform_logout">Confirm Logout</string>
to
<string name="confirm_logout">Confirm Logout</string>

[2018-03-07 11:02] Shubham2320 commented on #1148
working on it.

[2018-03-07 11:44] #1148 closed

[2018-03-07 13:00] Shubham2320 commented on #506
I've read some documentation on wiki data and I got to know that I can get JSON response from item's id it.
In the JSON response, there are following objects from the JSON response that can be used:

- Label (in all languages)

- Description (in all languages)

- Sitelinks which contains links to Wikipedia page (in all languages)

Now, I'm thinking to make ingredients, additives, categories, label

[2018-03-07 13:10] teolemon commented on #506
That makes sense.
Note: On some Wikidata entities, you have additional links like properties for additives (antioxydant…) and many other things (for instance, for French wines, there's a link to the official certification agency on Wikidata).
But I guess we should start simple by linking to the Wikipedia page.
I had thought of a header approach (display info and links, and products below), but the

[2018-03-07 13:18] Shubham2320 opened #1152 "In ProductActivity Additives, Ingredients can be made clickable."
In ProductActivity Additives can be made clickable and we can browse products containing these parameters.

[2018-03-07 13:27] Shubham2320 commented on #506
😃 Thanks for assurance, I'm working on this now.

[2018-03-07 13:44] PrajwalM2212 commented on #1152
@Shubham2320 I have made countries clickable . I am already working on Labels and Categories .
I think @ManavPoddar and @shivanshsoni are working to make other items clickable.

[2018-03-07 13:54] Shubham2320 commented on #1152
Oh I see, @PrajwalM2212  then only additives are left so I would just do that. Thanks

[2018-03-07 13:58] raghavpuri31 commented on #491
Is this issue solved @teolemon or anyone working on it?

[2018-03-07 14:18] teolemon commented on #491
@iml-v has sent a pull request on this

[2018-03-07 14:30] jaztriumph opened #1153 "app crashes on opening preferences in API 19"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-07 15:31] l-o-b-s-t-e-r commented on #1153
Probably fixed here: #1115
I added nullable reference check.

[2018-03-07 15:49] jaztriumph commented on #1153
@l-o-b-s-t-e-r I will close this after that PR is merged.

[2018-03-07 16:02] PrajwalM2212 commented on #1152
@Shubham2320 Can you wait till https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/1140 is merged . We can develop on this .

[2018-03-07 16:13] Shubham2320 commented on #1152
Yeah sure. :)

[2018-03-07 16:22] ManavPoddar commented on #1108
waiting for #1140 to merge so that there are no conflicts

[2018-03-07 17:05] iml-v opened #1155 "text is not selectable in category list"
**Summary:**

Text is not  selectable in in category list .

**Observed behavior:**

Text should be selectable in in category list .

**Screenshots:**
![video2gif_20180307_223034 1](https://user-images.githubusercontent.com/30701209/37106403-c08f0768-2257-11e8-96fe-8618e28a2ef3.gif)

I will correct this .

[2018-03-07 17:34] #1155 closed

[2018-03-07 20:49] Shubham2320 commented on #583
Is anyone still working on this? If not I can try to implement it. 😄

[2018-03-07 20:57] sowmya9029 commented on #583
@Shubham2320 ya I am working on this.I have working prototypes and I'm finalizing how the design for this feature should be.

[2018-03-07 21:23] #445 closed

[2018-03-07 22:17] #491 closed

[2018-03-07 22:34] policorn opened #1157 "OPFF menu entry to OFF wrong behavior"
**Summary:**

OPFF menu entry to OFF opens PlayStore site having OFF installed

**Steps to reproduce:**

Install OFF and OPFF. Open OPFF side-menu, click OFF entry

**Expected behavior:**

Open OFF application

**Observed behavior:**

Browser opens showing PlayStore's OFF site

[2018-03-07 22:57] policorn commented on #1157
![out](https://user-images.githubusercontent.com/18316436/37123077-36d3f040-2263-11e8-8ddc-40339c2b405e.gif)

[2018-03-08 11:37] teolemon commented on #1152
#1140 has been merged.
I guess additives are a better candidate than all the ingredients.
Making the whole ingredient list clickable feels like a bit overkill.

[2018-03-08 11:39] teolemon commented on #1109
Fixed with #1140

[2018-03-08 12:23] #1103 closed

[2018-03-08 12:26] PrajwalM2212 commented on #1157
@policorn  OPFF contains link to V1(Open Food Facts)of the app and not to V2(Open Food) .@teolemon wants to keep the link to V1 , so this issue can be closed.

[2018-03-08 12:31] #1025 closed

[2018-03-08 12:31] #1024 closed

[2018-03-08 12:31] #1023 closed

[2018-03-08 12:31] #1022 closed

[2018-03-08 12:31] #1021 closed

[2018-03-08 12:31] #1006 closed

[2018-03-08 12:32] #946 closed

[2018-03-08 13:40] teolemon opened #1162 "Issues with timestamps in History"
![image](https://user-images.githubusercontent.com/1689815/37153887-6f3c4a24-22de-11e8-85e4-b0109c87df6b.png)

- no space after numeric value
- the translatable string is "minutes ago". 5 minutes ago. But in French for instance, we must say: "Il y a 5 minutes" >> include a placeholder for the number in the string

[2018-03-08 13:42] teolemon opened #1163 "Typo in product list"
![image](https://user-images.githubusercontent.com/1689815/37153980-d3ff09c4-22de-11e8-81c6-e483ca83fd8e.png)
- Extra space needed after :
- formatting the number of products with thousands (in French for instance: 233 454)

[2018-03-08 13:43] teolemon opened #1164 "Missing space in offline screen"
![image](https://user-images.githubusercontent.com/1689815/37154051-0f9bea92-22df-11e8-9fd1-5720322c67bb.png)
Sorry,something >>> Sorry, something

[2018-03-08 13:44] jaztriumph commented on #1163
I will work on this.

[2018-03-08 13:46] teolemon opened #1165 "Be more precise about the country in the product list"
"Country where sold" should appear instead of "Country". Otherwise people will believe Mexican products sold in France are French products :-)
![image](https://user-images.githubusercontent.com/1689815/37154109-402a0e14-22df-11e8-9655-3fb68293c386.png)
![image](https://user-images.githubusercontent.com/1689815/37154113-44f81774-22df-11e8-8f25-f1e33367f2d4.png)

[2018-03-08 13:46] Shubham2320 commented on #1164
I've already fixed this in pr #1163

[2018-03-08 13:47] teolemon opened #1166 "Remove language codes in country switcher"
Remove language codes in country switcher. Keep only the name of the language.

[2018-03-08 13:48] Shubham2320 commented on #1165
I 'll fix this.

[2018-03-08 13:49] Shubham2320 commented on #1166
I'm working on this.

[2018-03-08 16:13] iml-v commented on #1162
@teolemon i am working on this

[2018-03-08 18:21] jaztriumph opened #1173 "network preference not working properly"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-08 18:21] jaztriumph commented on #1173
I am working on this.

[2018-03-08 18:35] Karljoones commented on #1173
The network option is related to uploading history and new products to the database. Not retrieving data for the user

[2018-03-08 18:57] jaztriumph commented on #1173
@Karljoones problem is I can not get product information by scanning when I uncheck that check box .which should not happen, so it is an issue.

[2018-03-09 01:33] iml-v opened #1176 "Export history in App folder"
**Summary:**
In app for exporting history it is having absolute path for storing csv in download folder  ,this History  should be stored in "Open Beauty Facts " folder
**Steps to reproduce:**

**Expected behavior:**

it should store all exports in  its own folder

**Observed behavior:**

it is exporting to download folder .

[2018-03-09 07:07] PrajwalM2212 commented on #194
Looking into it .

[2018-03-09 14:05] #775 closed

[2018-03-09 17:12] #1068 closed

[2018-03-09 19:51] sowmya9029 commented on #868
I have finished adding this feature  but not sure if i am totally correct.I am still confused on some parts.
I have few question here
1)if the user selects multiple images with bar code then which one should we consider? - currently I'm assuming the images will have only one with barcode.
2)should we consider those images as "OTHER" images for the product ? - currently I'm uploading the images to

[2018-03-09 23:30] #1138 closed

[2018-03-10 00:13] #830 closed

[2018-03-10 00:14] #1173 closed

[2018-03-10 04:22] shivanshsoni opened #1179 "Typo in string files."
**Typo in strings:**

"You can add new products, even if you don't have an Internet connexion right now. " **must be changed to** "You can add new products, even if you don't have an Internet **connection** right now."

![screenshot_2018-03-10-09-50-34](https://user-images.githubusercontent.com/24546371/37238275-b0c18994-2448-11e8-99dc-c3d0367eba2d.png)

[2018-03-10 04:24] shivanshsoni commented on #1179
@ManavPoddar i have fixed it already. Just need to push changes

[2018-03-10 04:25] ManavPoddar commented on #1179
ok great, Go ahead :)

[2018-03-10 04:26] shivanshsoni commented on #1179
Done :-)

[2018-03-10 10:39] huzaifaiftikhar opened #1181 "Convert PNGs to Vector Drawables"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-10 10:39] huzaifaiftikhar commented on #1181
I am working on this issue.

[2018-03-10 13:51] #1165 closed

[2018-03-10 13:52] #1179 closed

[2018-03-10 14:13] teolemon commented on #868
- Add the picture above "Please type the barcode below:" (for people who shared an illegible barcode picture the human eye can decipher)
- Correcting from "please type bar code below" to: "Please type the barcode below:"

1) Try to find a barcode in all of them, starting from the first one, and assign the first found barcode to the product. Ideally create a separate product if a second barcode is

[2018-03-10 15:45] #1176 closed

[2018-03-10 15:53] #1129 closed

[2018-03-10 17:01] shivanshsoni opened #1188 "Typo in number of results"
**Observed behaviour:**
Number of results :

**Expected behaviour:**
Number of results:

![screenshot_2018-03-10-22-23-07](https://user-images.githubusercontent.com/24546371/37244660-74d60daa-24b2-11e8-826b-f366b32a307b.png)

[2018-03-10 17:02] shivanshsoni commented on #1188
Working on this

[2018-03-10 17:04] #1164 closed

[2018-03-10 17:05] #1163 closed

[2018-03-10 17:09] #1188 closed

[2018-03-10 18:25] ManognaMutyala commented on #471
@teolemon ,Could you please be more specific where can I add this message?

[2018-03-10 19:04] teolemon commented on #471
I was thinking of the Product Addition Form

Also, I've found this library (there might be others)
https://github.com/sjwall/MaterialTapTargetPrompt

[2018-03-10 19:21] teolemon opened #1192 "Use the new categories.json file in the Category browser"
Now that we download and use the categories.json file (https://static.openfoodfacts.org/data/taxonomies/categories.json) in the Product View, we can reuse it the category browser to increase performance.

[2018-03-10 19:53] ManavPoddar commented on #1192
I will try fixing it :)

[2018-03-10 20:05] #943 closed

[2018-03-10 20:07] teolemon commented on #943
for reference: https://static.openfoodfacts.org/data/taxonomies/allergens.json

[2018-03-10 23:29] #1093 closed

[2018-03-10 23:42] #1153 closed

[2018-03-11 02:12] l-o-b-s-t-e-r commented on #1020
@teolemon
Did the server side enable "Cache-Control: private, must-revalidate"? Because I always get 200.

[2018-03-11 06:09] sowmya9029 commented on #868
@teolemon  Thankyou your response. I have completed the changes and trying to do PR but unable to because  when I checkout the master, I'm getting missing file error.
"import openfoodfacts.github.scrachx.openfood.models.ToUploadProductDao" .Can you please help in resolving this.

[2018-03-11 08:18] ManognaMutyala commented on #471
I will work on it!!

[2018-03-11 09:40] Porkepix opened #1197 "Complete crash of the application on startup related to the local database"
**Summary:**

Application crash at startup, can't even get to the home screen.

**Steps to reproduce:**

Just starting the application

**Add system logs:**
Below, the lines related to the OpenFood Facts process from `adb logcat -v threadtime`

[code]

**Expected behavior:**

Not having an application crash.

**Observed behavior:**

A complete crash

**Device and Android version:**

Sony Xperia Z3

[2018-03-11 10:46] l-o-b-s-t-e-r commented on #1197
Which version was installed before?

[2018-03-11 11:28] jaztriumph commented on #1197
@Porkepix this has been resolved in #1075 it was merged only 8 days ago.

[2018-03-11 14:11] iml-v commented on #431
@teolemon @Karljoones  i have fixed this issue ,Pls have a look at this PR #1198

[2018-03-11 14:46] tjwhm opened #1199 "A UI bug in LoginActivity"
The icon at the left side of the password edittext in LoginActivity cannot be seen.

[2018-03-11 15:38] tjwhm commented on #1199
@shivanshsoni Sorry, here is my screenshot.
![screenshot_2018-03-11-23-25-03-683_openfoodfacts](https://user-images.githubusercontent.com/23334846/37255288-20a286b8-2585-11e8-9386-7fa8020c8638.png)

[2018-03-11 15:47] tjwhm commented on #1199
@shivanshsoni
Sorry, here is my screenshot.
My android version is 8.0.
I think this bug is caused by a method  "setCompoundDrawablesWithIntrinsicBounds"
in CustomEditTextView.java is not adapted when you set "android:inputType" as "textPassword"
in activity_login.xml.
I've already created a pull request.
![screenshot_2018-03-11-23-34-22-437_openfoodfacts](https://user-images.githubusercontent.com/

[2018-03-11 16:09] #1199 closed

[2018-03-11 16:57] teolemon commented on #1197
@itchix Can you tag a new version for F-Droid ?

[2018-03-11 18:03] #1166 closed

[2018-03-11 18:04] huzaifaiftikhar opened #1201 "App crashes if a product link doesn't have an "HTTP" part to it"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-11 18:04] huzaifaiftikhar commented on #1201
I am working on this issue.

[2018-03-11 18:06] #431 closed

[2018-03-11 18:35] #904 closed

[2018-03-11 18:56] teolemon opened #1203 "Inconsistant spaces (minute vs hour)"
[code]

[2018-03-11 19:09] mostafa07 commented on #1203
I will start working on it.

[2018-03-11 19:12] teolemon commented on #518
Here are the links to the base SVG
https://github.com/openfoodfacts/openfoodfacts-server/blob/master/html/images/misc/openbeautyfacts-logo-en-without-tagline.svg
https://github.com/openfoodfacts/openfoodfacts-server/blob/master/html/images/misc/openfoodfacts-logo-no-tagline.svg

Here are the taglines that should be translatable below the logo
OFF "the free food products database"
OBF "the free cos

[2018-03-11 19:39] huzaifaiftikhar commented on #253
@teolemon @herau I guess we can close this now :slightly_smiling_face:

[2018-03-11 19:44] #253 closed

[2018-03-11 19:44] teolemon commented on #253
Thanks @huzaifaiftikhar

[2018-03-11 19:44] sowmya9029 commented on #473
@teolemon I've implemented this as a part of feature https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/868.
However i'm blocked on creating a PR by a missing file on master. Will have the PR once i'm unblocked.

[2018-03-11 20:40] #160 closed

[2018-03-11 20:40] #159 closed

[2018-03-11 20:41] #118 closed

[2018-03-11 20:44] Shubham2320 commented on #518
Working on it.

[2018-03-11 20:46] #186 closed

[2018-03-11 20:48] #165 closed

[2018-03-11 20:48] #274 closed

[2018-03-11 20:50] #265 closed

[2018-03-11 20:51] #260 closed

[2018-03-11 20:51] #259 closed

[2018-03-11 20:52] #250 closed

[2018-03-11 20:52] #232 closed

[2018-03-11 20:54] #222 closed

[2018-03-11 20:55] #333 closed

[2018-03-11 20:56] #324 closed

[2018-03-11 20:57] teolemon commented on #305
I was thinking of removing the progress spinner that appears on top of the screen, and using the Android Process Button instead.

[2018-03-11 20:58] #301 closed

[2018-03-11 21:00] teolemon commented on #298
@Shubham2320 You can go ahead, but beware, the first library seems deprecated: https://github.com/amlcurran/ShowcaseView

[2018-03-11 21:00] #296 closed

[2018-03-11 21:03] #362 closed

[2018-03-11 21:04] teolemon commented on #357
Can't reproduce. Closing

[2018-03-11 21:04] #357 closed

[2018-03-11 21:06] teolemon commented on #354
Can't reproduce. Closing

[2018-03-11 21:06] #354 closed

[2018-03-11 21:07] #454 closed

[2018-03-11 21:08] teolemon opened #1206 "Delete old additives files"
app/src/main/assets/additives_fr.json
app/src/main/assets/additives_en.json

[2018-03-11 21:09] #453 closed

[2018-03-11 21:09] teolemon commented on #451
fixed. closing.

[2018-03-11 21:09] #451 closed

[2018-03-11 21:09] #449 closed

[2018-03-11 21:13] teolemon commented on #423
can't reproduce.

[2018-03-11 21:13] #423 closed

[2018-03-11 21:15] teolemon commented on #528
And now Open Pet Food Facts

[2018-03-11 21:16] teolemon commented on #506
@Shubham2320 You can join #wikidata on the Slack

[2018-03-11 21:19] teolemon commented on #580
I think a white background is preferable, because otherwise, you'd swipe up invisibility :)
I guess swiping up should reveal the full product view

[2018-03-11 21:19] #840 closed

[2018-03-11 21:21] iml-v commented on #1206
@teolemon  i am working on this

[2018-03-11 21:22] teolemon commented on #475
This one is most likely fixed by using the new API

[2018-03-11 21:25] Shubham2320 commented on #506
Thanks, @teolemon I would surely join it.

[2018-03-11 21:34] teolemon commented on #605
@ross-holloway94 I think this one might interest you :)

[2018-03-11 21:35] teolemon commented on #588
fixed @ross-holloway94

[2018-03-11 21:35] #588 closed

[2018-03-11 21:39] teolemon commented on #649
Some strings are URL. We should check for 404 not found.

eg: https://world.openfoodfacts.org/ddfs

[2018-03-11 21:51] teolemon commented on #506
The Wikidata IDs are now in the local taxonomies (downloaded once, no need for additional network calls)

https://static.openfoodfacts.org/data/taxonomies/categories.json
https://static.openfoodfacts.org/data/taxonomies/labels.json

[2018-03-11 21:51] Shubham2320 opened #1208 "ProgressBars and loading of screen in many places can be replaced by shimmer effect."
This would really give an amazing user experience.

For example:

![grid_demo](https://user-images.githubusercontent.com/25099208/37258864-60690596-25a4-11e8-922f-d601dc9e61f9.gif)

[2018-03-11 21:53] Shubham2320 commented on #1208
I would be working on this if  @teolemon you'd provide your assurance.

[2018-03-11 21:55] Shubham2320 commented on #1208
For more information about its implementation:
https://github.com/sharish/ShimmerRecyclerView

[2018-03-11 21:58] teolemon commented on #1208
Yup, why not ?

[2018-03-11 22:04] Shubham2320 commented on #270
I am taking this one. I just wanna know where to place the option to allow this feature.

[2018-03-11 22:05] teolemon commented on #270
Settings I guess. Checkbox, probably ?

[2018-03-11 22:09] iml-v commented on #1208
@Shubham2320 cool one

[2018-03-11 22:14] Shubham2320 commented on #205
Working on it.

[2018-03-11 22:25] Shubham2320 commented on #248
I'm taking this one and #356 both requires working with product modification history, that is almost same kind of stuff.

[2018-03-11 23:08] mostafa07 commented on #1203
@teolemon could you please check this?
I have fixed the typo in PR #1209

[2018-03-11 23:44] shushilkumarr commented on #305
That is a great idea. I would like to work on it.

[2018-03-11 23:52] iml-v opened #1210 "android.content.ActivityNotFoundException: No Activity found to handle Intent"
this  found in off SummaryProductFragment on clicking on "Link to product page "
**Add system logs:**
[code]

[2018-03-11 23:54] #1152 closed

[2018-03-12 00:39] teolemon opened #1212 "Additives not in list anymore"
![](https://i.imgur.com/pDY5pbY.png)

[2018-03-12 00:39] teolemon opened #1213 "Categories not clickable"
![](https://i.imgur.com/kHqrsrz.png)

[2018-03-12 00:40] teolemon opened #1214 "Missing commas between brands"
![](https://i.imgur.com/ozTNXal.png)

[2018-03-12 01:10] iml-v commented on #1214
@teolemon  i am working on this

[2018-03-12 01:45] shivanshsoni commented on #1212
Working on this..

[2018-03-12 02:07] shivanshsoni commented on #1213
Working on this...

[2018-03-12 03:11] PrajwalM2212 commented on #264
Working on it

[2018-03-12 03:13] PrajwalM2212 commented on #374
I will do this .

[2018-03-12 03:16] PrajwalM2212 commented on #433
Working on this

[2018-03-12 03:17] PrajwalM2212 commented on #439
Working on this

[2018-03-12 03:19] PrajwalM2212 commented on #422
Working  on this

[2018-03-12 03:21] ManavPoddar commented on #422
@PrajwalM2212 I am already working on it :)

[2018-03-12 03:22] PrajwalM2212 commented on #422
@ManavPoddar  ok

[2018-03-12 09:52] stemy2 opened #1216 "The app crash immediately"
Hello,

Since the version 0.8.2, i can't launch the app because it crashes at the splash screen.

Os: fairphone open.

[2018-03-12 09:56] teolemon commented on #1216
We released a fix for F-Droid yesterday evening. It should take a while to appear as an upgrade.

[2018-03-12 10:13] mostafa07 commented on #1203
#fixed in PR #1209

[2018-03-12 11:24] #1114 closed

[2018-03-12 11:29] Karljoones commented on #1216
@stemy2 can you confirm if it is fixed in the latest update from F-Droid? If it is, we can close off this issue.

[2018-03-12 11:30] #1107 closed

[2018-03-12 11:32] stemy2 commented on #1216
Nope, the fixed version is not (yet) present.

[2018-03-12 11:41] ManognaMutyala commented on #455
I am working on this!!

[2018-03-12 11:41] #1203 closed

[2018-03-12 11:42] Karljoones commented on #1216
I'm going to close this as it is being dealt with under #1197. Thanks for reporting @stemy2

[2018-03-12 11:42] #1216 closed

[2018-03-12 11:42] Karljoones commented on #1197
Second user reported with
Os: fairphone open.

[2018-03-12 11:44] #692 closed

[2018-03-12 12:01] #130 closed

[2018-03-12 12:02] Karljoones commented on #130
Closing as I assume this has been implemented

[2018-03-12 12:04] #365 closed

[2018-03-12 12:09] #353 closed

[2018-03-12 12:09] Karljoones commented on #353
Closing as this list was recently worked on

[2018-03-12 12:11] Karljoones commented on #221
Closed as #398 was created, leaving the later one open for more exposure

[2018-03-12 12:11] #221 closed

[2018-03-12 12:36] ross-holloway94 commented on #605
@teolemon It does, thanks. Allergens need a lot of work :)

[2018-03-12 13:58] Karljoones commented on #91
I'm going to close this as we now have the new system of handling allergens :)

[2018-03-12 13:58] #91 closed

[2018-03-12 14:19] mikini commented on #1197
Also experiencing crash immediately on start-up  (quick glimpse of logo) on stock Samsung Galaxy S7 after upgrade from 0.7.4 to 0.8.2 from fdroid. Haven't looked at logs.

[2018-03-12 14:40] ross-holloway94 commented on #91
@Karljoones I thought the new system was temporary whilst it wasn't working?

[2018-03-12 15:11] PrajwalM2212 commented on #1208
@Shubham2320  You can use http://facebook.github.io/shimmer-android/ which is more reliable .
@teolemon Would this be okay ?

[2018-03-12 15:39] ross-holloway94 commented on #91
@teolemon What's going on regarding the above comments?

[2018-03-12 18:16] huzaifaiftikhar commented on #418
I am working on this.

[2018-03-12 20:01] roydipayan003 commented on #205
Can I work on it?

[2018-03-12 20:01] Karljoones commented on #205
@roydipayan003 there is already someone working on this one, but feel free to choose another issue that nobody else has claimed :)

[2018-03-12 20:04] roydipayan003 commented on #205
I'm new to git...so thanks for the guidance :)

[2018-03-12 20:07] Karljoones commented on #205
No problem. If someone has commented on it it usually means someone is working on it! Ping me on [Slack](openfoodfacts.slack.com) if you need any help :)

[2018-03-12 20:19] Shubham2320 commented on #1208
@PrajwalM2212 that was cool 😮. thanks.

[2018-03-12 22:41] #1142 closed

[2018-03-12 22:41] #1143 closed

[2018-03-12 23:26] #996 closed

[2018-03-13 01:23] Shubham2320 opened #1225 "Bug in search."
**Summary:**

On refreshing the search list by swiping the layout, multiple recycler view gets Stacked, the number of stacked recyclerview would be equal to the number of times layout is swiped, and we need to press back multiple times to get back to search results.
Also `onLoad()` method appends countOfProducts every time when it gets the `true` response which is should not happen.

**Steps to re

[2018-03-13 09:28] #1214 closed

[2018-03-13 10:32] teolemon opened #1230 "Adaptative icons"
We're not quite there yet.
![image](https://user-images.githubusercontent.com/1689815/37336579-23582a42-26b2-11e8-8dd8-3ce6d8ae2872.png)
![image](https://user-images.githubusercontent.com/1689815/37336583-275fc866-26b2-11e8-997b-33d415931985.png)
![image](https://user-images.githubusercontent.com/1689815/37336595-2c1f1334-26b2-11e8-95cf-dfd62fab30b3.png)

[2018-03-13 10:34] teolemon opened #1231 "No translations + Duplicate additives"
![image](https://user-images.githubusercontent.com/1689815/37336646-552ff860-26b2-11e8-8ef0-f11a8dac80dd.png)

- The translation don't appear (fresh install, the translation file wasn't there yet, possibly)
- The additives appear duplicated.
- Erratic carriage return

[2018-03-13 10:40] teolemon opened #1232 "Pull to reload on Product View"
**Summary:**

Implement pull to reload on Product View

**Expected behavior:**

When you drag/pull on one of the tabs of product view, it should reload the full product page, while staying on the same tab.

[2018-03-13 10:43] teolemon opened #1233 "Performance issues on the Product Page (at first load ?)"
**Summary:**

Performance issues on the Product Page (at first load ?)
No logs so far. Possibly had spotty network when it occured. Also, first load after fresh compile.

**Expected behavior:**

Load the product fast, even on a budget phone

**Observed behavior:**

Open Food Facts isn't responding, even on a premium phone.

**Device and Android version:**

Android Oreo, Google Pixel

**Screenshots

[2018-03-13 10:52] Karljoones commented on #1233
There is a lot of information processed when the user opens up a product so to load all of that information and parse it all, it doesn't surprise me that we ran into some issues with it eventually.

IMO: one of the first things that we should implement is the images being loaded on a separate thread, possibly breaking off some of the other parsing of information into another thread

[2018-03-13 11:05] teolemon opened #1234 "Search results page behaving erratically"
**Summary:**

Search results page behaving erratically, loading or not loading

**Steps to reproduce:**

Click on a facet

**Expected behavior:**

Always display offline msg if offline
Always display results if online

**Device and Android version:**

Android Oreo - Google Pixel

**Screenshots:**
![image](https://user-images.githubusercontent.com/1689815/37338067-960c9ed4-26b6-11e8-869e-b03b72f723

[2018-03-13 11:30] #430 closed

[2018-03-13 11:30] #729 closed

[2018-03-13 11:43] Shubham2320 commented on #1234
I'm making changes in this activity so I'll update this too there itself. I'm taking this one.

[2018-03-13 11:44] shivanshsoni commented on #1232
I am working on this

[2018-03-13 11:44] Shubham2320 commented on #1232
I'm taking issues with product page.

[2018-03-13 11:45] Shubham2320 commented on #1232
Okay @shivanshsoni you can proceed if you want to.

[2018-03-13 11:46] shivanshsoni commented on #1232
@Shubham2320 Ok go for it

[2018-03-13 11:47] shivanshsoni commented on #1232
@Shubham2320 This is related to product page. Are you sure that you don't want to go for it.

[2018-03-13 11:51] Shubham2320 commented on #1233
Actually we only get url of images in the Json response and then use that to load images using Picasso so it's already in the different thread please correct me if I'm wrong. And I was thinking to add a materialistic loading as right now we don't show that. I'm taking this one and work on it.

[2018-03-13 12:20] Shubham2320 commented on #1232
@shivanshsoni okay then I'll work on it, thanks.

[2018-03-13 12:22] Shubham2320 commented on #1213
This has been done in the latest code. It can be closed now.

[2018-03-13 12:25] #1213 closed

[2018-03-13 13:05] ManognaMutyala commented on #407
Working on this!!

[2018-03-13 14:43] PrajwalM2212 commented on #1234
This a priority issue and must be resolved fast .

[2018-03-13 15:42] shivanshsoni commented on #1231
I am taking this issue

[2018-03-13 19:29] Shubham2320 commented on #1234
This has happened because of in ProducTBrowsingListActivity there was no `break` statement in switch case for "search", "search by category" and "labels" , I've made a PR #1226 on it.

[2018-03-13 22:40] #1206 closed

[2018-03-13 23:22] l-o-b-s-t-e-r commented on #1231
@teolemon
What is the product on the screenshot?
As I told earlier, the size of JSONs are huge, it takes ~4 minutes to save all translations to local database.

[2018-03-13 23:22] l-o-b-s-t-e-r commented on #1020
@teolemon
Ping-ping)

[2018-03-13 23:32] l-o-b-s-t-e-r commented on #1231
@teolemon
To tell the truth the list of Additives looks pretty strange. What is this version?

[2018-03-13 23:48] l-o-b-s-t-e-r commented on #1233
It means that some operations are working in the main(UI) thread.
For example saving, loading data from the local database. It should be moved to the background thread. I didn't implemented this, because my PR was already huge.

[2018-03-14 01:42] PrajwalM2212 commented on #1234
![c](https://user-images.githubusercontent.com/30733262/37378748-85dd5b02-2756-11e8-9f0c-6f30217f8fe1.png)

@Shubham2320 After moving to single activity , the user can search products only from home . Like before we should allow  search in product list view also .

@teolemon @Karljoones @policorn Should we allow search option in product list view ?

[2018-03-14 05:55] Shubham2320 commented on #1234
Okay @prajwal what are other use cases in which  the user can search products other then from home? I think we can modify this as per our requirements and the main reason to make a single activity was that if in future their is any requirement of making changes to this feature then we can do that by just making changes at a single place, otherwise it would be difficult to manage the code, however

[2018-03-14 06:03] Shubham2320 commented on #1234
@PrajwalM2212 yes we can add a search bar to this activity as well.

[2018-03-14 08:47] #1104 closed

[2018-03-14 09:00] #418 closed

[2018-03-14 09:40] teolemon opened #1238 "Remove Fastscroller placeholder strings from translatable strings."
Remove Fastscroller placeholder strings from translatable strings. They have reappeared.

[code]

[2018-03-14 10:54] teolemon opened #1240 "Remove image resolutions from translatable strings"
Remove image resolutions from translatable strings

[2018-03-14 11:01] teolemon opened #1241 "Typo"
You must enter the characters of the barcode or send a product image when the barcode is visible.

You must enter the characters of the barcode or send a product image where the barcode is visible.

[2018-03-14 11:04] PrajwalM2212 commented on #1238
Working on it

[2018-03-14 11:04] PrajwalM2212 commented on #1240
Working on it

[2018-03-14 11:05] PrajwalM2212 commented on #1241
Working on it

[2018-03-14 11:45] teolemon opened #1242 "Add an option to force offline mode"
Some people want to store the product offline to avoid paying for data. Add a toggle at the bottom of the main menu to force offline mode.

[2018-03-14 11:51] #1242 closed

[2018-03-14 11:56] Karljoones commented on #1241
Thanks @PrajwalM2212! Could we ask you to bump #1238 into the same PR? This is a simple issue that just requires the removal of the strings from the main values.xml

[2018-03-14 12:07] Karljoones commented on #168
We could work this so when the user tries to open an "unknown" product that it brings them to the activity that they would see should they decide to add it at the time of scan

[2018-03-14 13:10] PrajwalM2212 commented on #1241
Sure ...i will get all three in one pull request .

[2018-03-14 13:16] PrajwalM2212 commented on #1234
@Shubham2320 Thanks !
Suppose i search a product  and from that product i click categories and so on , i will have to press back that many times to reach the home to make another search . This would be really inconvinient from a users perspective.
Sorry if it involves work , but this is really important from a users perspective.

[2018-03-14 14:00] PrajwalM2212 commented on #1241
@Karljoones I am not able to find the string "You must enter the characters of the barcode or send a product image where the barcode is visible." in strings.xml

[2018-03-14 14:17] Karljoones commented on #1241
@PrajwalM2212 just had a look through the code myself, can't seem to find it, maybe @teolemon can shed some light on where he seen this string?

[2018-03-14 14:26] teolemon commented on #1241
Sorry, this was a server string. Closing this bug.

[2018-03-14 14:26] #1241 closed

[2018-03-14 15:17] #439 closed

[2018-03-14 15:20] Karljoones commented on #341
This button is currently disabled due to a recent PR merge, I'm going to close this for now and open another issue about replacing it somewhere useful, though is there a way of putting this somewhere useful and keeping the user logged in to manage it without exposing their password etc? Maybe we could have a dedicated activity to handle this in-app?

[2018-03-14 15:20] #341 closed

[2018-03-14 15:22] Karljoones commented on #299
Going to close this off too as this feature has been disabled in a recent PR, the dropdown is no longer present in the app

[2018-03-14 15:22] #299 closed

[2018-03-14 15:23] Karljoones commented on #128
We could use a nice bottom fragment for this. Just show the name of the product and allow the user to drag up if they want to find out basic information about the product!

[2018-03-14 16:09] Shubham2320 commented on #128
Ohh, great!! then on dragging up there would be an option to go to the product page.

[2018-03-14 17:06] #1238 closed

[2018-03-14 17:06] #1240 closed

[2018-03-14 17:09] Karljoones commented on #128
@Shubham2320 I think it would be best to give the user some basic information about the product, and then right at the bottom of that, have the option to open the full product. But initially give them just enough basic information that they would need, maybe the nutriscore or something along those lines, allergen warnings if they have any etc

[2018-03-14 17:53] jaztriumph commented on #1210
@iml-v  this is same as #1201.

[2018-03-14 19:08] l-o-b-s-t-e-r commented on #1231
@teolemon
ping

[2018-03-15 01:42] MohamedHefny opened #1247 "ProductBrowsingListActivity search feature missing"
**Summary:**

When the user start search about product from Home and move to ProductBrowsingListActivity (Product list) he can't make a search query again until back to home again by pressing back arrow and make new search query from home which is not good UX for user.

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behavior:**

Search feature add to products list.

**Screens

[2018-03-15 10:08] iml-v commented on #1210
Thanks @jaztriumph  ok I am closing this .

[2018-03-15 10:08] #1210 closed

[2018-03-15 11:52] Karljoones commented on #194
@PrajwalM2212 How is this coming along?

[2018-03-15 11:53] #75 closed

[2018-03-15 12:24] PrajwalM2212 commented on #194
@Karljoones  I have not started working on it yet . I had other issues to solve as well .
I am busy writing my proposal and also have tests from 17th . So i can start working only after 22nd .

[2018-03-15 12:37] #188 closed

[2018-03-15 12:44] PrajwalM2212 commented on #194
@Karljoones  I will send this out as soon as i can

[2018-03-15 13:06] PrajwalM2212 commented on #194
@Karljoones Finished! Will send a PR soon .

[2018-03-15 13:48] hismaeel opened #1251 "Allow users to categorize/filter product results in the App"
Hello. I was wondering it would be nice project to allow users search for products using filters and categories, just as it's done by the website;

![untitled](https://user-images.githubusercontent.com/25305892/37467064-83501d36-281c-11e8-9026-ce85f50dc001.png)

A user might just come to the app to search for product he/she can't remember. So if I type "broccoli", the app just gives hundreds of re

[2018-03-15 14:22] PrajwalM2212 commented on #1251
@hismaeel  Allowing the user to search products by preferences is a GSoC project idea.  Comparing products using statistics is also a GSoC idea.

[2018-03-15 14:29] PrajwalM2212 commented on #1251
@hismaeel  As we are doing this in GSoC i suggest you to not start working on this .
Many people have already started writing proposals.

[2018-03-15 14:31] #1118 closed

[2018-03-15 15:04] huzaifaiftikhar commented on #117
I am working on this.

[2018-03-15 15:18] #1251 closed

[2018-03-15 18:00] huzaifaiftikhar opened #1253 "Nutrition Facts layout not symmetrical and hides values"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-15 18:01] huzaifaiftikhar commented on #1253
I am working on this.

[2018-03-15 21:05] teolemon opened #1256 "Many Travis build are failing, exceeding the time limit"
Many Travis build are failing, exceeding the time limit.

[2018-03-15 21:17] huzaifaiftikhar commented on #1256
#1115  is the latest merge where we changed the travis configuration.

[2018-03-16 09:44] #1253 closed

[2018-03-16 09:50] teolemon opened #1258 "Offline mode is slow"
Saving a product in offline mode is slow. It should be instant, even if work is done on the background: People want to scan / save as many products as possible, very quickly.

[2018-03-16 09:52] teolemon opened #1259 "Scanning can be slow"
Scanning can be slow, the viewfinder freezes for several seconds, probably when it's loading the JSON. We should directly jump to the page, and display a placeholder until it's loaded.

[2018-03-16 12:02] Shubham2320 opened #1261 "Both Jackson and Gson library is used in app. Should be one of them."
At present both Jackson and Gson Library is used to handle JSON results whereas we can work with any one of them and remove the other which would help in reducing the APK's size.

[2018-03-16 12:08] Karljoones commented on #1261
Just going to leave this here to help with deciding which one should stay and which should go if either of them are to go:
https://blog.takipi.com/the-ultimate-json-library-json-simple-vs-gson-vs-jackson-vs-json/

[2018-03-16 12:47] teolemon commented on #1261
@jinqian

[2018-03-16 12:49] jaztriumph commented on #1258
@teolemon I think saving the products in local database does not take time, but uploading takes time. Currently when the user saves the product, we are uploading the product and if there is no network or any other failure occurs we are saving it in offline edit. The updates we can make is that we will save the product with out uploading and then we will make a scheduler which will upload the produ

[2018-03-16 13:24] Karljoones commented on #704
FYI: this issue is available for anyone who wants to work on it :)

[2018-03-16 13:25] #433 closed

[2018-03-16 13:25] #428 closed

[2018-03-16 14:42] teolemon commented on #1231
It is latest trunk, with app cache wiped, and this product: https://world.openfoodfacts.org/product/7622210125439/napolitain-chocolat-framboise-lu

(though the bug happens with shorter additives list as well)

[2018-03-16 14:43] teolemon commented on #1020
@stephanegigandet Server side issue for taxonomies: "Did the server side enable "Cache-Control: private, must-revalidate"? Because I always get 200."

[2018-03-16 15:44] dirtygardner commented on #1197
Immediate crash on start-up after upgrading to Open Food Facts 0.8.2 (SAMSUNG-SGH-I747 Android 4.4.2).

[2018-03-16 15:48] iml-v commented on #704
@Karljoones  i will take it forward from here

[2018-03-16 15:49] iml-v commented on #704
@Karljoones i will take it forward from here

[2018-03-16 17:48] l-o-b-s-t-e-r commented on #1261
My fault, I used GSON for deserialization.
I will try to remake.

[2018-03-16 18:15] l-o-b-s-t-e-r commented on #1231
@teolemon
Duplicated additives - it's easy to fix, already fixed.
Translations - it takes really long time to save everything to the local database. Probably, you didn't see translations, because they were being saved at that moment...

After clearing the cache, the local database was deleted, so the data had to been loaded and saved again.

[2018-03-17 07:42] danzzen opened #1262 "Fragments keeps changing among them on back press"
Fragments keep changing between them in order they were called

**Steps to reproduce:**

1. Open the app
2. Click on Search by barcode
3. Click on Home
4. Click on Search by barcode
5. Click on Home again

repeat this and

Now press back button and `home `and `Search by barcode ` appears again and again.

**One problem is that when you press Home 5 time and now you want to exit the app you have to

[2018-03-17 07:42] danzzen commented on #1262
I would like to work on this

[2018-03-17 08:11] PrajwalM2212 commented on #1262
@danzzen  Suppose i searched a product and from that product i clicked category .
Now i want to go back to the product page and not home . What to do now ?

[2018-03-17 08:16] danzzen commented on #1262
@PrajwalM2212 this is to reduce the overhead. Home is like main part and wherever you go you return to home.

[2018-03-17 08:59] PrajwalM2212 commented on #1262
It is not wise to just return to  home from every fragment . It would be better if back stacking of fragments is managed properly  .

[2018-03-17 09:04] PrajwalM2212 commented on #1262
@danzzen
Can you please do some research on this . Check the youtube app . It does not return to home everytime  you press back .

[2018-03-17 12:59] iml-v commented on #704
@teolemon @Karljoones what about this
![video2gif_20180317_182652 1](https://user-images.githubusercontent.com/30701209/37555653-e644e61a-2a10-11e8-9999-b7020780f0b8.gif)

[2018-03-17 14:12] teolemon opened #1264 "It should be possible to slide out the intro slides"
It should be possible to slide out the intro slides, from the last slide. Currently you have to move your finger to Okay.

[2018-03-17 14:27] iml-v commented on #1264
@teolemon i will correct it

[2018-03-17 18:12] huzaifaiftikhar opened #1267 "Give padding in allergen alert list"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-17 18:28] iml-v commented on #704
@teolemon  @Karljoones i have Sent PR for first GIF's implementation ,Pls review it

[2018-03-17 19:36] huzaifaiftikhar commented on #1072
Closing this via #1079

[2018-03-17 19:36] #1072 closed

[2018-03-17 19:38] huzaifaiftikhar opened #1268 "java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid item position 6(offset:6).state:8 android.support.v7.widget.RecyclerView"
FATAL EXCEPTION: main
                                                                                     Process: openfoodfacts.github.scrachx.openfood, PID: 3820
                                                                                     java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid item position 6(offset:6).state:8 android.support.v7.widget.RecyclerView{32a83f5

[2018-03-17 22:32] amanjeetsingh150 opened #1270 "The Load Toast in Login keep showing loading"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-17 22:35] amanjeetsingh150 commented on #1270
@teolemon @Karljoones  Can I fix this and send a quick PR?

[2018-03-17 23:06] Shubham2320 commented on #1270
@amanjeetsingh150 you can send the PR if you're sure about this bug.   :)

[2018-03-17 23:19] #864 closed

[2018-03-17 23:19] Karljoones commented on #1270
@amanjeetsingh150 Go ahead!

[2018-03-18 10:25] teolemon opened #1273 "Add a battery low mode in settings"
If battery low, we could disable image loading.

'''Disable image loading on low battery'''

[code]

[2018-03-18 10:26] ManavPoddar commented on #1273
I would like to work on it :)

[2018-03-18 10:47] shushilkumarr commented on #305
This is what i have implemented.

![success-login](https://user-images.githubusercontent.com/22811731/37565040-af7c0138-2ac7-11e8-9fde-7609019f7f24.gif)
![failed-login](https://user-images.githubusercontent.com/22811731/37565039-af1d4c92-2ac7-11e8-8184-66f30deb1444.gif)

[2018-03-18 10:56] teolemon commented on #305
You have four ways to show state:
- the blue popup
- the text below the signup button
- the black overlay
- the black snackbar.

You need to choose one :-)

[2018-03-18 11:06] vaishali51 commented on #1267
I would like to work on it.

[2018-03-18 11:24] shushilkumarr commented on #305
I'll remove the extra stuff and keep the button only

[2018-03-18 11:24] teolemon opened #1275 "Add support for vitamins and minerals in products"
We recently added support for vitamins and minerals in products.
In some cases, you will find what is below in a product:
[code]

===== Vitamins and minerals detection =====

====== Vitamins ======
<pre>"vitamins_tags":["en:vitamin-a","en:cholecalciferol","en:vitamin-e","en:vitamin-c","en:thiamin","en:riboflavin","en:niacin","en:vitamin-b6","en:folic-acid","en:vitamin-b12","en:biotin","en:phylloqu

[2018-03-18 12:32] amanjeetsingh150 opened #1277 "Adding shared element transition when user clicks on product Image."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-18 12:33] amanjeetsingh150 commented on #1277
@teolemon @Karljoones Your views needed :)

[2018-03-18 12:54] teolemon commented on #1110
![image](https://user-images.githubusercontent.com/1689815/37566028-bbc27d96-2ab3-11e8-8169-4f5595992aec.png)
Here's a mockup.  Note that the unselected images should probably be on top

[2018-03-18 14:48] teolemon commented on #1110
- Existing images: the miniature of the previous tab, yes
- State of the product: same tab, I just didn't have any room left :-)

[2018-03-18 23:09] PO15ON commented on #1264
I'm working on it

[2018-03-19 00:19] amanjeetsingh150 commented on #1275
Working on this issue.

[2018-03-19 08:25] PO15ON commented on #1264
@teolemon Travis shows: The job exceeded the maximum time limit for jobs, and has been terminated.
could you please review the PR.

[2018-03-19 08:45] #1270 closed

[2018-03-19 08:54] #1247 closed

[2018-03-19 11:31] shushilkumarr commented on #305
This is what it looks like now.

![success-login](https://user-images.githubusercontent.com/22811731/37593183-2037ef34-2b97-11e8-966f-50d117fc2a4a.gif)

![failed-login](https://user-images.githubusercontent.com/22811731/37593182-1fdb222c-2b97-11e8-83cf-721c92aa9bd7.gif)

[2018-03-19 11:41] #489 closed

[2018-03-19 12:08] teolemon opened #1284 "Add a contributions widget"
Add a contributions widget

[2018-03-19 12:08] teolemon commented on #1284
Not a priority.

[2018-03-19 12:09] PrajwalM2212 commented on #1284
Working on it

[2018-03-19 14:12] ross-holloway94 commented on #633
This issue would involve:

- Storing allergens for individuals locally.
- Creating the UI to represent this data.
- Showing who should not consume the product in the Product pages.

[2018-03-19 17:41] adamfils opened #1285 "OpenBeautyFacts crashes when Opening OpenFoodFacts via Intent"
**Summary:**
OpenBeautyFacts Crashes When Opening OpenFoodFacts Via Intent.

**Steps to reproduce:**

Install O.B.F and O.F.F apps. Disable O.F.F in Phone Settings and open O.B.F.
Open the Navigation Drawer and click on "Open Food Facts".
The App Crashes.

**Add system logs:**

**Expected behavior:**

I expected the App To Tell Me That O.F.F was disabled.
**Observed behavior:**

The App Crashes Be

[2018-03-19 19:25] #1082 closed

[2018-03-19 20:05] jaztriumph commented on #1268
Not only for "your contributions" same thing is happening  for very view that's using 'productBrowsingListActivity", even the search results.
I will work on this.

[2018-03-19 21:02] teolemon opened #1288 "Show prepared values for prepared products"
You need to concatenate _prepared to the regular values

Example:
https://world.openfoodfacts.org/product/3036812020704/gratinee-oignons-et-croutons-royco
https://world.openfoodfacts.org/api/v0/product/3036812020704.json

```{"salt_prepared_100g":0.850000000000001,"carbohydrates_unit":"","sodium_prepared":0.334645669291339,"fiber_prepared_value":"0.2","nutrition-score-fr":"3","proteins_prepared":0

[2018-03-19 21:03] teolemon commented on #1288
It should probably be additional columns, but raises UX questions, since it can create up to 2 additional columns

[2018-03-19 21:30] geekanamika commented on #1256
@huzaifaiftikhar Travis file currently contains `./gradlew assembleDebug --stacktrace' in *install*  which should not be required. `./gradlew build connectedCheck --stacktrace` is enough for building the project.
Also, it should be configured to cache the results to speed up the travis build process.
I can fix it if this is approved. #1275 also fails due to exceeding time limit & it must be fixed.

[2018-03-20 08:47] gulzar1996 opened #1292 "Home screen lacks user-engagement content"
On opening the app for the first time user is greeted with almost a blank screen with most of the features of the app hidden behind a navigation bar. This makes the experience dull.

- Instead we can show some items when the user opens the app for the first time like (most viewed food products and their nutritional value, top food products in the location and recently added products) (Similar to R

[2018-03-20 14:24] #1268 closed

[2018-03-20 14:24] ManognaMutyala commented on #455
@teolemon @ross-holloway94 I just wanted to know if it is ok to add progress bar to show the status of upload?

[2018-03-20 14:26] #1277 closed

[2018-03-20 14:52] teolemon commented on #455
Visual feedback, as soon as possible, is extremely important. It should be visible, yet it should not prevent the users from continuing product addition.

[2018-03-20 15:06] #1201 closed

[2018-03-20 16:13] #903 closed

[2018-03-20 16:13] #1192 closed

[2018-03-20 17:34] jaztriumph opened #1296 "App crashes for some barcodes"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-20 17:37] jaztriumph commented on #1296
I will resolve this.

[2018-03-20 19:13] alexaldev commented on #479
I would like to fix this. Currently, when no results found, no internet connection icon shows up.

[2018-03-20 19:35] ManavPoddar commented on #1273
Hey @teolemon, what I can understand is that we wont display the images if the low battery mode is turned on. So I was thinking of using shared preferences to add a check for the low battery and then using it in the respective views. Please correct me if I'm wrong. Also is there a better approach you can think of ?   :)

[2018-03-20 22:02] teolemon commented on #518
https://static.openfoodfacts.org/images/misc/openfoodfacts-logo-sq-178x150.png
https://static.openfoodfacts.org/images/misc/openfoodfacts-logo-fr-178x150.png
https://static.openfoodfacts.org/images/misc/openfoodfacts-logo-en-178x150.png
https://static.openfoodfacts.org/images/misc/openfoodfacts-logo-pl-178x150.png
…

[2018-03-20 22:03] teolemon commented on #518
https://static.openfoodfacts.org/images/misc/openbeautyfacts-logo-en-178x150.png
https://static.openfoodfacts.org/images/misc/openbeautyfacts-logo-fr-178x150.png
https://static.openfoodfacts.org/images/misc/openbeautyfacts-logo-es-178x150.png

[2018-03-20 23:59] jaztriumph commented on #1288
@teolemon what is the difference between 'fat_prepared_value' and 'fat_value'  or 'fat_prepared_serving' and 'fat_serving' ? some products have 'fat_prepared_value' like example you gave, but some doesn't have _prepared like
https://world.openfoodfacts.org/api/v0/product/3073780258098.json

[2018-03-21 09:17] #1275 closed

[2018-03-21 10:54] #1296 closed

[2018-03-21 11:02] teolemon commented on #1288
@jaztriumph This is present only on products that need a preparation with milk or water.
Most product won't have prepared.
Like Cake Mix, where you have fat_value for just the powder, and fat_prepared_value for the prepared version (Powder + Milk + Butter + Egg, for instance)

[2018-03-21 11:09] jaztriumph commented on #1288
@teolemon so should we need to display all the four columns is this the issue?

[2018-03-21 11:23] teolemon opened #1300 "Issues with the intro slides of Open Pet Food Facts"
The strings are cut half-way.

![screenshot_20180320-184334](https://user-images.githubusercontent.com/1689815/37707194-99a2f0c8-2d02-11e8-9000-5d13701c53f5.png)
![screenshot_20180320-184336](https://user-images.githubusercontent.com/1689815/37707195-99c002f8-2d02-11e8-9dba-71b749367c51.png)
![screenshot_20180320-184342](https://user-images.githubusercontent.com/1689815/37707196-99d8eb9c-2d02-11e8

[2018-03-21 11:26] #1264 closed

[2018-03-21 12:38] teolemon opened #1304 "Error when attempting to compile"
Error:Execution failed for task ':app:transformClassesWithInstantRunForOffDebug'.

[2018-03-21 12:42] teolemon commented on #1304
Seems it was transient, due to lib updates. I guess we can close.

[2018-03-21 12:50] #1304 closed

[2018-03-21 12:59] teolemon opened #1305 "Image animations on Ingredient and nutrition images are not consistant with the new front animation"
Image animations on Ingredient and nutrition images are not consistant with the new front animation.

[2018-03-21 13:02] teolemon opened #1306 "Individual category doesn't load (Cloud icon) when the app is in French"
Individual category doesn't load (Cloud icon) when the app is in French.

Steps to reproduce:
- set the app in French (or some other language other than English, probably)
- Open the category browser
- Click on a category:

Result:
'Désolé une erreur s'est produite', 'Please retry'

Expected:
Proper loading, like in English

[2018-03-21 13:04] ManavPoddar commented on #1306
I'll fix it

[2018-03-21 14:30] shushilkumarr commented on #305
@teolemon can you please review the changes made?

[2018-03-21 15:29] #1261 closed

[2018-03-21 16:28] PO15ON commented on #1300
I can work on this

[2018-03-21 16:41] amanjeetsingh150 commented on #1305
Will try to fix this :+1:

[2018-03-21 18:03] huzaifaiftikhar opened #1309 "Product Image gets stretched in full-screen after transition"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-21 18:03] huzaifaiftikhar commented on #1309
I am working on this.

[2018-03-22 08:05] #1053 closed

[2018-03-22 08:15] #1300 closed

[2018-03-22 08:15] #1309 closed

[2018-03-22 08:58] jaztriumph commented on #1288
@teolemon can you confirm whether we need to display all four columns?

[2018-03-22 17:42] teolemon commented on #1288
Either the four or find some creative way to expand or scroll them ?

[2018-03-22 21:15] MohamedHefny opened #1319 "Number of products duplication [ProductBrowsingListActivity]."
**Summary:**
When the user search about product the list of available products will show up with the number of products in the list, and when user try to search again about different product from ProductBrowsingListActivity the number of new products is append to the last number.

**Steps to reproduce:**
Using setText method on text view instead of append.

**Expected behavior:**
only number of cu

[2018-03-23 07:42] #1319 closed

[2018-03-23 07:47] #1285 closed

[2018-03-23 09:44] Shubham2320 commented on #1292
Yep, this would be a nice idea but this issue has already been opened in #704 and #706.

[2018-03-23 09:47] Shubham2320 commented on #1273
@ManavPoddar  you could just add a helper function which you can call from every place before loading images. The helper function will check the battery and return a boolean value about the status to load images or not.

[2018-03-23 10:37] huzaifaiftikhar opened #1322 ""No results found" is never displayed while searching products"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-23 10:37] huzaifaiftikhar commented on #1322
I am working on this.

[2018-03-23 13:42] #1267 closed

[2018-03-23 18:56] huzaifaiftikhar commented on #518
@Shubham2320 Are you still working on this?

[2018-03-24 09:26] alexaldev commented on #1232
@Shubham2320 How is this going? Can I proceed with it ?

[2018-03-24 09:32] Shubham2320 commented on #1232
@alexaldev actually I'm busy in my exams so I'm not able to complete it, you can proceed with this issue if you want.

[2018-03-24 09:33] Shubham2320 commented on #1232
but before proceeding with it please wait for some PR's related to this page which is yet to be merged.

[2018-03-24 10:03] Shubham2320 commented on #518
You can take this.

[2018-03-24 15:52] alexaldev commented on #1232
Sure, thanks !

[2018-03-24 17:57] PO15ON commented on #1259
I will have a look at this.

[2018-03-25 20:21] PO15ON commented on #1259
@teolemon what do you mean by "the page"? the product page? what if there is no product exist?

[2018-03-26 07:50] teolemon commented on #1259
Yes, the product page if it exists.
The offline mode is also slow to load, but that's another issue.

[2018-03-26 08:19] PO15ON commented on #1259
But we don't know if it exists until we load the JSON, which is our problem here. The problem causing the scanner to freeze is when making a connection to the server.

[2018-03-26 10:23] teolemon opened #1327 "E/SQLiteLog: (1) no such column: T.WIKI_DATA_ID"
03-26 12:20:43.265 8077-8077/openfoodfacts.github.scrachx.openfood E/SQLiteLog: (1) no such column: T.WIKI_DATA_ID
03-26 12:20:43.266 8077-8077/openfoodfacts.github.scrachx.openfood D/AndroidRuntime: Shutting down VM
03-26 12:20:43.269 8077-8077/openfoodfacts.github.scrachx.openfood E/AndroidRuntime: FATAL EXCEPTION: main
                                                                     Process

[2018-03-26 10:23] teolemon commented on #1327
@Shubham2320

[2018-03-26 10:24] teolemon opened #1328 "app:theme is now deprecated. Please move to using android:theme instead."
03-26 12:20:42.480 8077-8077/openfoodfacts.github.scrachx.openfood I/AppCompatViewInflater: app:theme is now deprecated. Please move to using android:theme instead.

[2018-03-26 10:26] Shubham2320 commented on #1327
@teolemon Ohh, actually it happened because the schema has not been updated in the previous app's database, Uninstalling and reinstalling the app would solve this issue.

[2018-03-26 10:41] l-o-b-s-t-e-r commented on #1306
@teolemon

[2018-03-26 10:42] Shubham2320 commented on #1327
I'm fixing this by upgrading the schema version.

[2018-03-26 10:51] teolemon opened #1329 "Provide feedback about taxonomy download status in the settings"
Provide feedback about taxonomy download status in the settings.

I've just reinstalled the application agréer building, the taxonomy translations are not working, and there is no way to know if it's a temporary issue.

[2018-03-26 11:38] alexaldev commented on #1328
I can fix this.

[2018-03-26 11:58] #345 closed

[2018-03-26 11:59] teolemon opened #1330 "Clone the Categories explorer into an Additive Explorer"
Duplicating the Categories explorer to let users explore additives.

[2018-03-26 14:27] #1225 closed

[2018-03-26 14:27] #1234 closed

[2018-03-26 16:30] #1327 closed

[2018-03-26 17:13] huzaifaiftikhar opened #1333 "Display search icon on soft keyboard while searching"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-03-26 17:14] huzaifaiftikhar commented on #1333
I am working on this.

[2018-03-26 19:57] #1112 closed

[2018-03-26 19:58] teolemon opened #1335 "Migrate traces and substances causing allergies or intolerances to new system"
It seems that traces and allergens are still on the old system.

https://world.openfoodfacts.org/trace/eggs
https://world.openfoodfacts.org/trace/eggs.json

https://world.openfoodfacts.org/allergen/soybeans
https://world.openfoodfacts.org/allergen/soybeans.json

[2018-03-26 20:01] teolemon opened #1336 "Remove ": Wiki link present", it pollutes product reading"
![image](https://user-images.githubusercontent.com/1689815/37929771-25c98912-3141-11e8-965f-b8ccd416a56a.png)

Remove ": Wiki link present", it pollutes product reading

[2018-03-26 20:02] teolemon opened #1337 "Categories and Label display is broken"
Categories and Label display is broken
![image](https://user-images.githubusercontent.com/1689815/37929868-5c37f38a-3141-11e8-8370-6f0a6de18a0f.png)

[2018-03-26 20:13] Shubham2320 commented on #1336
So how do we distinguish between the items which has this feature and which don't?

[2018-03-26 20:31] teolemon commented on #1336
The current behaviour is fine: Open the search result if we have no wikidata link, otherwise, open the popup ?

[2018-03-26 20:36] Shubham2320 commented on #1336
Okay seems good.

[2018-03-27 10:55] teolemon opened #1342 "Generate screenshots of the app automatically using Fastlane, Screengrab and Espresso"
https://docs.fastlane.tools/getting-started/android/screenshots/

[2018-03-27 11:16] dirtygardner commented on #1197
Immediate crash on start-up: Open Food Facts 0.8.5 (SAMSUNG-SGH-I747 Android 4.4.2).

[2018-03-27 11:18] teolemon commented on #1197
@dirtygardner can you provide a log ?

[2018-03-27 11:38] teolemon opened #1343 "FATAL EXCEPTION: main Process: openfoodfacts.github.scrachx.openfood, PID: 31275 java.lang.NoSuchFieldError: No static field PUBLIC_ONLY of type Lcom/b/a/a/e$a"
03-27 13:36:50.888 31275-31275/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: openfoodfacts.github.scrachx.openfood, PID: 31275
    java.lang.NoSuchFieldError: No static field PUBLIC_ONLY of type Lcom/b/a/a/e$a; in class Lcom/b/a/a/e$a; or its superclasses (declaration of 'com.b.a.a.e$a' appears in /data/app/openfoodfacts.github.scrachx.openfood-mw0ZPrG9Jst99f-62QAg-w==/base.apk)
        a

[2018-03-27 11:38] teolemon commented on #1197
https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/1343

[2018-03-27 11:47] Shubham2320 commented on #1343
Are these the logs generated from the release apk?

[2018-03-27 12:02] teolemon commented on #1343
yup. 0.8.5, live on F-Droid, on update from 0.7.3

[2018-03-27 12:02] teolemon commented on #1343
Clearing cache doesn't solve anything.

[2018-03-27 12:36] Shubham2320 commented on #1343
After analyzing this issue and reading [this article in stack overflow](https://stackoverflow.com/questions/39848065/android-release-apk-getting-error-nosuchfielderror)
 I came to know that
[mapping.txt](https://github.com/openfoodfacts/openfoodfacts-androidapp/files/1851972/mapping.txt)
can be used to find out the classes like Lcom/b/a/a/e$a , etc.
This issue has appeared because of some Jackson

[2018-03-27 14:05] gulzar1996 commented on #1343
@Shubham2320 This because we obfuscate the code in release build. A mapping file is created  which can be used to get back the human-readable crash log.

[2018-03-27 15:09] teod0r opened #1344 "Crashes when starting"
Crashes when starting.
Cyanogenmod 11.

[2018-03-27 16:00] Shubham2320 commented on #1343
@gulzar1996  I've attested that mapping file in my comment you can have a look into that.

[2018-03-27 16:13] teolemon commented on #1344
Duplicate of #1343

[2018-03-27 16:13] #1344 closed

[2018-03-27 16:15] teolemon commented on #1343
[code]

[2018-03-27 19:43] Ekt0s commented on #1342
I'm working on it :)

[2018-03-27 19:45] Ekt0s commented on #1342
@teolemon
What are the screen you're willing to generate ?
Can you list them please ?

[2018-03-27 20:49] teolemon commented on #1342
We can start with:
-Home screen, Summary tab of a product, Wikidata view (when you click on a category), Search view

All languages

Be able to load products from:
https://en.wiki.openfoodfacts.org/Translations/One_complete_typical_product

[2018-03-27 21:15] #1337 closed

[2018-03-27 21:16] #1336 closed

[2018-03-28 15:23] #1333 closed

[2018-03-28 17:00] PrajwalM2212 opened #1349 "Sort search items based on title , brand and grade"
The User should be allowed to sort search items based on title , brand and grade.

[2018-03-28 17:00] PrajwalM2212 commented on #1349
Working on it .

[2018-03-29 00:00] dirtygardner commented on #1197
Immediate crash on start-up: Open Food Facts 0.8.5 (SAMSUNG-SGH-I747 Android 4.4.2).

--------- beginning of /dev/log/system
D/MultiPhoneWindow(10490): generateLayout : sMinimumStackBoundForPortraitOrientRect(0, 0 - 0, 0), sMinimumStackBoundForLandscapeOrient=Rect(0, 0 - 0, 0)
D/MultiPhoneWindow(10490): generateLayout : sMinimumStackBoundForPortraitOrientRect(0, 0 - 0, 0), sMinimumStackBoundForLan

[2018-03-29 16:07] huzaifaiftikhar commented on #479
@alexaldev This has already been fixed in #1323.

[2018-03-29 16:27] huzaifaiftikhar commented on #252
@teolemon I guess this issue is now fixed and we can close this. This can be verified by the screens below :

![screenshot_20180329-215128](https://user-images.githubusercontent.com/10832531/38100762-e6db2eec-339b-11e8-8b70-16d45261635f.png)

![screenshot_20180329-215153](https://user-images.githubusercontent.com/10832531/38100765-e9cbc12a-339b-11e8-8d87-2d72e066f85a.png)

[2018-03-29 17:04] huzaifaiftikhar commented on #55
@teolemon for Android's TTS API we need the locale of the string that needs to be spoken out. Currently, we do not know the ingredient's language. We just display what we get in the JSON from the server without any knowledge of the locale of this string. Therefore to implement this feature we need to update the API to get information about the Ingredient's language.

[2018-03-30 12:03] teolemon opened #1352 "Add an option to disable cropping"
Add an option to disable cropping in the settings (it increases time spent on adding a new product)

[2018-03-30 12:53] Shubham2320 commented on #1352
I'm working.

[2018-03-30 13:31] teolemon commented on #305
looks good :)

[2018-03-30 13:32] teolemon opened #1355 "Auto download allergen file (don't ask for confirmation)"
Currently, there is a confirmation step for the allergen file download. We should attempt to autodownload it, like we do for the taxonomies.

[2018-03-30 13:36] teolemon opened #1356 "Allow to filter the categories in the category browser"
Allow to filter the categories in the category browser.
Currently you need to scroll and find the right category: it should be possible to type the first letters of the category to filter the list

[2018-03-30 13:37] ManavPoddar commented on #1356
Working on it

[2018-03-30 15:20] teolemon opened #1357 "Add an ingredient analysis tab for Open Beauty Facts"
Add an ingredient analysis tab for Open Beauty Facts

Option 1: We could either recreate the ingredient list in a clickable, colored version.
Option 2: Vertical list of all the ingredients, where each ingredient can clicked/expanded for more information.

![image](https://user-images.githubusercontent.com/1689815/45914521-6e297900-be46-11e8-85c7-23fb7ea99437.png)

1. Get the ingredient from the pr

[2018-03-30 16:06] #280 closed

[2018-03-30 16:07] #279 closed

[2018-03-31 07:43] #422 closed

[2018-03-31 09:02] #334 closed

[2018-03-31 12:35] teolemon opened #1360 "Create a new flavor of the app"
(This bug needs to be solved before tomorrow)
Create a new flavor of the app called opf

It should introduce the following behaviours:
[code]

[2018-03-31 15:28] PrajwalM2212 commented on #1360
Working

[2018-03-31 16:09] #1360 closed

[2018-03-31 16:10] teolemon opened #1365 "Extract https://fr.openfoodfacts.org/score-nutritionnel-france as non translatable string"
Extract
```nutritionScoreUri = Uri.parse("https://fr.openfoodfacts.org/score-nutritionnel-france");```
as non translatable string
in SummaryProductFragment.Java

[2018-03-31 16:13] teolemon opened #1367 "Extract "Error in creating fragment" in MainActivity.java"
Log.e("MainActivity", "Error in creating fragment");

Extract  "Error in creating fragment" in MainActivity.java as translatable string

[2018-03-31 16:15] teolemon opened #1369 "Make Translatable (ProductActivity.java)"
Log.i("ProductActivity", "Result for wikilink is not found in native or english language.");
Log.i("ProductActivity", "Result for description is not found in native or english language.");

[2018-03-31 17:50] #868 closed

[2018-03-31 17:54] #375 closed

[2018-03-31 17:54] #1010 closed

[2018-03-31 18:16] teolemon opened #1373 "Improvements to the share with Open Food Facts feature"
- Always says it will upload the picture when the network is available (doesn't create any offline product, and the network is actually available in those cases)
- Doesn't work when selecting two or more pictures
- It should show the shared picture even when a barcode is detected
- It should let you zoom on the picture when no barcode is detected
- The Share menu should be named "Add to Open Food

[2018-03-31 18:21] teolemon commented on #1373
cc @sowmya9029

[2018-03-31 18:39] teolemon opened #1374 "Don't overwrite offline products"
Uploading an offline product, after the merge of don't overwrite product branch
![image](https://user-images.githubusercontent.com/1689815/38166403-7eeb821c-3523-11e8-8b5c-3cc052ff1d68.png)

[2018-03-31 18:40] teolemon commented on #1374
[code]

[2018-03-31 19:13] teolemon opened #1376 "Add a special "Photos" tab for opf flavour to display all uploaded image for a product"
Add a special "Photos" tab for opf flavour to display all uploaded images for a product

[2018-03-31 19:13] teolemon opened #1377 "Disable the ingredients tab for the opf flavour"
Disable the ingredients tab for the opf flavour

[2018-03-31 19:28] PrajwalM2212 commented on #1377
Working  on it

[2018-03-31 19:29] PrajwalM2212 commented on #1365
Working on it

[2018-03-31 19:35] PrajwalM2212 commented on #1367
The user will not see these log statements . Should they be extracted ?

[2018-03-31 19:35] PrajwalM2212 commented on #1369
The user will not see these log statements . Should they be extracted ?

[2018-03-31 19:36] PrajwalM2212 commented on #1376
Working on it

[2018-03-31 20:44] teolemon opened #1379 "Disable nutrition grade in History sorting for OBF, OPFF and OPF"
Disable nutrition grade in History sorting for OBF, OPFF and OPF

![image](https://user-images.githubusercontent.com/1689815/38167419-033594ac-3535-11e8-8769-01952e858c48.png)

[2018-03-31 20:45] teolemon opened #1380 "Disable grade overlay in History for OBF, OPFF and OPF flavors"
Disable grade overlay in History for OBF, OPFF and OPF flavors

![image](https://user-images.githubusercontent.com/1689815/38167438-2b6c8f84-3535-11e8-86da-1db2ba9be5e7.png)

[2018-03-31 21:41] teolemon commented on #1343
This one needs to be solved so that we can unblock all the F-Droid users.

[2018-04-01 05:39] PrajwalM2212 commented on #1379
Working on it

[2018-04-01 05:39] PrajwalM2212 commented on #1380
Working on it

[2018-04-01 14:04] teolemon opened #1385 "FATAL EXCEPTION: main Process: org.openproductsfacts.scanner, PID: 2828 java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v7.widget.SearchView.setSearchableInfo(android.app.SearchableInfo)' on a null object reference at openfoodfacts.github.scrachx.openfood.views.MainActivity.onCreateOptionsMenu(MainActivity.java:573)"
[code]

[2018-04-01 15:26] #1385 closed

[2018-04-02 04:41] #720 closed

[2018-04-02 10:13] teolemon opened #1392 "Release 0.8.8 on the Play Store"
Release 0.8.8 on the Play Store
It fixes the crash at startup and introduces new features

[2018-04-02 11:36] teolemon opened #1393 "Product image stretched on upload"
![image](https://user-images.githubusercontent.com/1689815/38194906-d8adb240-367a-11e8-98b0-ad494125e41d.png)

[2018-04-02 11:57] teolemon opened #1394 "The Cache size is insane"
![image](https://user-images.githubusercontent.com/1689815/38195400-98b47a9a-367d-11e8-888f-2b8812cbc040.png)

506 MB. We don't have any taxonomies, so I reckon it's all the products that I scanned yesterday that are somehow stored, even if they don't appear in offline products.

[2018-04-03 16:26] PrajwalM2212 commented on #1230
@teolemon  Are these images from device running Android O

[2018-04-04 00:56] sowmya9029 commented on #1373
I'm working on this.

[2018-04-04 10:58] #336 closed

[2018-04-05 15:42] teolemon commented on #1343
Still crashing on the latest F-Droid release.

[2018-04-05 15:59] LuccoJ commented on #1343
Confirm 0.8.6 from F-Droid still crashing on LineageOS 14.1 on my phones (i9300 and axon7).

@gulzar1996 I probably don't understand the purpose of obfuscation... why does released code need to undergo that in a free software project?

[2018-04-05 16:06] teolemon commented on #1343
Probably that code shrinking to reduce APK size. But it makes it harder to debug production issues, and might even be introducing bugs ?

[2018-04-05 16:07] teolemon commented on #1343
https://stackoverflow.com/questions/8405225/error-working-with-jackson-library-post-obfuscation-using-proguard?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-04-06 09:30] teolemon opened #1403 "Convert the product view cards to proper material cards"
Convert the product view cards to proper material cards, with drop shadows
![image](https://user-images.githubusercontent.com/1689815/38413660-a3bcbc42-398c-11e8-8c05-fc4b0691fa7a.png)
![image](https://user-images.githubusercontent.com/1689815/38414127-ea5653a6-398d-11e8-8078-d80af2c350f5.png)

[2018-04-06 09:31] teolemon commented on #1403
Wet food for adult cats: common name
The Nutriscore should be displayed between the photo and the card, without any background, centered

[2018-04-06 11:11] #704 closed

[2018-04-06 11:12] #536 closed

[2018-04-06 11:56] PrajwalM2212 commented on #1403
Working on it

[2018-04-06 15:38] #1343 closed

[2018-04-06 16:31] teolemon opened #1408 "After adding multiple products, you need to click multiple times on the back menu to go back to settings."
After adding multiple products, you night to click multiple times on the back menu to go back to settings.
You should only have to click once.
High priority.

[2018-04-06 16:37] teolemon opened #1409 "The edit icon on the new bottom par has been replaced by a search icon."
The edit icon on the new bottom par has been replaced by a search icon.
The crayon is much more explicit.

[2018-04-06 16:42] PrajwalM2212 commented on #1409
Working on it

[2018-04-06 17:25] ross-holloway94 opened #1410 ""Sign in" appears in the drawer when the user is already signed in after re-launching app."
**Summary:**

"Sign in" appears in the drawer when the user is already signed in after re-launching app.

**Steps to reproduce:**

1. Sign in to Open Food Facts.
2. Close the app (and kill it).
3. Re-open and observe the drawer.

**Add system logs:**
NA

**Expected behaviour**

Button shows the "Logout" option with icon.

**Observed behavior:**

Button shows "Sign In" still.

**Device and Android

[2018-04-06 19:04] PrajwalM2212 commented on #1410
Working on it

[2018-04-06 19:25] teolemon opened #1413 "Add padding to "Get the facts" onboarding slide"
![image](https://user-images.githubusercontent.com/1689815/38440191-e9a89290-39e0-11e8-94cd-5bc740463a28.png)

It seems that "Get the facts" doesn't have a proper padding.

[2018-04-06 19:29] teolemon opened #1414 "Remove confirmation step for new products"
![image](https://user-images.githubusercontent.com/1689815/38440329-63f82e16-39e1-11e8-9231-d39c31e21483.png)
Of course they want to be part of food transparency :) Remove the confirmation step. People will be able to press back if they want to go back to the scan screen.

[2018-04-06 19:31] PrajwalM2212 commented on #1414
Working on it

[2018-04-06 19:31] teolemon opened #1415 "Probably: remove the loading transient info"
![image](https://user-images.githubusercontent.com/1689815/38440418-ae0f270c-39e1-11e8-9a48-e913d37135c9.png)

Two transient information overlap. Let's remove the loading one. Eventually the offline mode will be so fast we won't need it anyway :)

[2018-04-06 19:35] jaztriumph commented on #1415
I will remove that.

[2018-04-06 19:37] teolemon opened #1416 "Move the uploading button in Offline mode to the center of the screen"
![image](https://user-images.githubusercontent.com/1689815/38440719-994202ee-39e2-11e8-85be-b792f0d5f383.png)

Should be smaller, and the spinning wheel grey

[2018-04-07 02:16] PrajwalM2212 commented on #1416
@teolemon I have added spinner progress dialog .

[2018-04-07 02:44] jaztriumph commented on #1415
@teolemon I think the Loading toast is already removed in the new master.

[2018-04-08 06:48] huzaifaiftikhar opened #1421 "Launcher icon of OPF has is not perfectly circular"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-04-08 07:02] huzaifaiftikhar commented on #1413
I am working on this issue.

[2018-04-08 07:05] jaztriumph commented on #1408
I am working on this.

[2018-04-08 11:45] huzaifaiftikhar commented on #1305
@amanjeetsingh150 Are you still working on this?

[2018-04-08 12:05] PrajwalM2212 commented on #1305
@huzaifaiftikhar  Sorry , I did not see the conversation before sending the PR .

[2018-04-08 14:12] Porkepix opened #1425 "Full application crash at startup on version 0.8.7 (F-droid)"
**Summary:**

Application crash on startup

**Steps to reproduce:**

Install the application from F-droid, launch it, it crashes.

**Add system logs:**

`adb logcat -v threadtime` result:
[code]

**Expected behavior:**

To not crash.

**Observed behavior:**

It crashed at startup

**Device and Android version:**

Sony Z3 Compact, Android 6.0.1 with manufacturer unmodified rom.

Issue should probab

[2018-04-09 08:16] teolemon commented on #1367
Nope, indeed, you're right: I opened too many bugs in a row :-)

[2018-04-09 08:16] #1367 closed

[2018-04-09 08:17] teolemon commented on #1369
closing, it's indeed logging

[2018-04-09 08:17] #1369 closed

[2018-04-09 08:26] teolemon commented on #1349
Not sure how you plan to do that ? You'd need to load all products preemptively ?

[2018-04-09 08:31] teolemon commented on #226
Fixed

[2018-04-09 08:31] #226 closed

[2018-04-09 08:39] PrajwalM2212 commented on #1349
@teolemon When the user chooses sort type , all returned products stored in the list will be sorted using comparator .

[2018-04-09 08:40] teolemon commented on #1349
ok, we'll also introduce at some point an API to rank all products server side

[2018-04-09 09:54] #1425 closed

[2018-04-09 15:20] PrajwalM2212 opened #1428 "Take more pictures button can be material"
The take more pictures button is not material and will look good if it is material .

![screenshot_1523287144](https://user-images.githubusercontent.com/30733262/38506489-a70312b8-3c37-11e8-82d1-6ac33553ffa6.png)

[2018-04-09 15:25] PrajwalM2212 opened #1429 "Exporting History can have more fields"
At present exporting history gives only title , brand  and barcode . More fields can be added .
 ![screenshot_20180405-173644](https://user-images.githubusercontent.com/30733262/38371779-e5724238-390a-11e8-9f2d-dd19a623f982.jpg)

[2018-04-09 15:29] PrajwalM2212 opened #1430 "Remove loading toast on splash screen"
The load toast on splash screen can be removed .
![screenshot_1523287640](https://user-images.githubusercontent.com/30733262/38506910-c9ee9d5a-3c38-11e8-82b7-e2dd9be1cb74.png)

[2018-04-09 15:30] PrajwalM2212 commented on #1428
@teolemon  Require your opinion if this issue is ok with you .

[2018-04-09 15:30] PrajwalM2212 commented on #1429
@teolemon Require your opinion as to whether this issue is ok with you .

[2018-04-09 15:31] PrajwalM2212 commented on #1430
@teolemon Require your opinion as to whether this issue is ok with you .

[2018-04-09 15:31] huzaifaiftikhar commented on #1430
This has already been taken care of in #1347

[2018-04-09 15:32] #1430 closed

[2018-04-09 17:43] #270 closed

[2018-04-09 17:44] #1414 closed

[2018-04-09 17:44] #1416 closed

[2018-04-09 17:45] #1305 closed

[2018-04-09 17:46] #1421 closed

[2018-04-09 18:20] huzaifaiftikhar opened #1432 "Onboarding slide is exited on swiping right from the last slide"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-04-09 19:12] huzaifaiftikhar commented on #1256
After doing quite a lot of study on Travis I found out that :
- `./gradlew assembleDebug --stacktrace` command is actually not required, this builds the Debug version of the app. Since we are already building all the flavors of the app by `./gradlew build connectedCheck --stacktrace` which runs both the assemble and check task therefore the building of debug is not at all required and this line ca

[2018-04-09 20:20] teolemon opened #1433 "android.database.sqlite.SQLiteException: duplicate column name: wiki_data_id (code 1): , while compiling: ALTER TABLE additive_name ADD COLUMN 'wiki_data_id' TEXT NOT NULL DEFAULT '';"
04-09 22:19:57.542 1551-1551/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.openpetfoodfacts.scanner, PID: 1551
    java.lang.RuntimeException: Unable to create application openfoodfacts.github.scrachx.openfood.views.OFFApplication: android.database.sqlite.SQLiteException: duplicate column name: wiki_data_id (code 1): , while compiling: ALTER TABLE additive_name ADD COLUMN 'wiki_data_i

[2018-04-09 20:34] maroneze opened #1434 "Cannot upload in airplane mode, even with wifi on"
**Summary:**

Following #923, it is not possible to click on the "Upload all" button when in airplane mode, even when Wireless is enabled (Wifi is automatically disabled when Airplane mode is activated, but it can be manually re-enabled afterwards - Airplane mode is mainly concerned with disabling the cellular antenna).

I believe the condition implemented in https://github.com/openfoodfacts/openf

[2018-04-10 03:10] jaztriumph opened #1435 "correct searchview behaviour"
**Summary:**

search view still appear on going back from the search results.

**Expected behavior:**

Home should appear on clicking back button from search results as there is a option to search in the search result activity itself.

**Device and Android version:**
HTC 820 g+, Android 4.4 KITKAT.

**Screenshots:**
![searchview](https://user-images.githubusercontent.com/22943390/38534219-b2af6950

[2018-04-11 04:33] jaztriumph commented on #1355
I will work on this.

[2018-04-11 04:51] PrajwalM2212 commented on #1330
Working on it

[2018-04-11 12:41] Karljoones commented on #1428
@PrajwalM2212 I agree, this could do with some work

[2018-04-11 12:43] PrajwalM2212 commented on #1428
I will work on it @Karljoones

[2018-04-11 13:10] PrajwalM2212 commented on #1357
I will work on it .

[2018-04-11 13:11] PrajwalM2212 commented on #1357
Can i get more information on how this should work ?

[2018-04-11 18:27] #814 closed

[2018-04-15 00:27] N00845855 commented on #168
can I work on this issue?

[2018-04-15 09:53] #1256 closed

[2018-04-15 12:01] teolemon commented on #1428
Do you have an example image of a more material button ?

[2018-04-15 12:16] PrajwalM2212 commented on #1428
@teolemon Probably the blue background button we use in the app.

[2018-04-15 12:52] PrajwalM2212 commented on #1428
![screenshot_20180415-181808](https://user-images.githubusercontent.com/30733262/38778624-f3c5b226-40d9-11e8-83e8-2e178ab7c8ba.jpg)

@teolemon  I was thinking of replacing the bottom navigation by something like in the image above so that we can put all buttons into one . Would this be okay ?

[2018-04-15 19:12] #117 closed

[2018-04-16 08:02] jaztriumph opened #1451 "App crashes on clicking language options on Android 4.4"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-04-16 08:02] jaztriumph commented on #1451
i am working on this

[2018-04-16 13:56] #1408 closed

[2018-04-16 15:13] PrajwalM2212 commented on #953
This issue can be closed

[2018-04-16 18:33] huzaifaiftikhar commented on #551
This can be closed as it was fixed in #1254

[2018-04-16 18:38] huzaifaiftikhar commented on #506
I guess we can close this now :slightly_smiling_face:

[2018-04-16 18:52] huzaifaiftikhar commented on #340
We use this name for the DB. Can be verified [here](https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/OFFApplication.java#L43).
This can be closed :slightly_smiling_face:

[2018-04-16 19:24] l-o-b-s-t-e-r commented on #1356
Working on it too

[2018-04-16 19:30] l-o-b-s-t-e-r commented on #1232
I'm working on it

[2018-04-17 06:42] #506 closed

[2018-04-17 08:01] #1355 closed

[2018-04-17 08:24] #1273 closed

[2018-04-17 08:25] #1322 closed

[2018-04-17 08:26] #518 closed

[2018-04-17 08:34] #1435 closed

[2018-04-17 08:36] #1413 closed

[2018-04-17 08:37] #1432 closed

[2018-04-17 09:41] yeldartoktasynov opened #1454 "Number of results is duplicated each time when refreshing the list in the OpenBeautyFacts branch."
/Users/yurka/Downloads/4.png
Can be created by pressing the Volume Down and Power Button at the same time on Android 4.0 and higher.

[2018-04-17 09:42] yeldartoktasynov opened #1455 "Number of results is duplicated each time when refreshing the list in the OpenBeautyFacts branch."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-04-17 09:43] yeldartoktasynov opened #1456 "Each time searching a product number of results is shown together with an error page. User has to tap once again to see the products list."
Each time searching a product number of results is shown together with an error page. User has to tap once again to see the products list.

[2018-04-17 13:09] #1451 closed

[2018-04-17 17:26] PrajwalM2212 commented on #1212
Additives are in list now ,so this issue can be closed.

[2018-04-17 17:27] PrajwalM2212 commented on #1109
This issue can be closed

[2018-04-18 04:31] jaztriumph opened #1461 "Duplicate Additivies are displayed in Ingredients"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-04-18 04:31] jaztriumph commented on #1461
I will correct this.

[2018-04-18 11:29] #1461 closed

[2018-04-18 12:08] teolemon opened #1464 "Add credits for contributors (coders and translators)"
It would be nice to give credits to everyone involved in coding and translating in the settings.

A little rolling list of code contributors :-)

[2018-04-18 12:09] PrajwalM2212 commented on #1464
I will work on it .

[2018-04-18 12:10] PrajwalM2212 commented on #1464
@teolemon Where should is add this and how should this appear

[2018-04-18 16:31] jaztriumph opened #1466 "changes in UI"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-04-18 17:54] PrajwalM2212 commented on #167
Categories and additives are done . I will finish off the brands as well

[2018-04-19 02:50] huzaifaiftikhar opened #1469 "Onboarding slides are shown everytime the app is launched"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-04-19 02:51] huzaifaiftikhar commented on #1469
I am working on this

[2018-04-19 08:59] Karljoones commented on #1455
Closed duplicate

[2018-04-19 08:59] #1455 closed

[2018-04-19 09:00] yeldartoktasynov commented on #1454
I want to be assigned to this issue

[2018-04-19 09:00] Karljoones commented on #1454
Hi @yeldartoktasynov, I noticed that in a few of your issues created that you have not filled in much information in the report. Can you fill in some of the information in the bug report itself? Such as **Steps to reproduce** and **Expected behaviour**.

[2018-04-20 16:56] huzaifaiftikhar commented on #369
I am working on this

[2018-04-21 12:01] teolemon commented on #952
![image](https://user-images.githubusercontent.com/1689815/39083883-6c25bca2-456c-11e8-8cc7-e419db0a6bf4.png)
Here's the current behaviour in offline mode

[2018-04-21 12:02] teolemon opened #1475 "Keep a cache of the loaded contributions so it can be viewed offline like the history"
![image](https://user-images.githubusercontent.com/1689815/39083889-916125ec-456c-11e8-968c-7b0cd1b4023b.png)
Only keep the parts which were loaded while online.

[2018-04-21 12:03] teolemon commented on #1475
Also keep the total contributions count, so that contributors can brag about it in all conditions :)

[2018-04-21 19:14] #304 closed

[2018-04-21 19:47] PrajwalM2212 commented on #1464
@teolemon  Github api can be used to get list of all code contributors .
Dont know how to get list of translators

[2018-04-21 20:45] l-o-b-s-t-e-r commented on #952
ah, you mean Offline mode. Okay, I will take a look at this.

[2018-04-22 15:13] teolemon opened #1482 "Add a little padding on top of the allergen alert"
![image](https://user-images.githubusercontent.com/1689815/39096443-816aa1c4-4650-11e8-8d99-80a6e97e1fa4.png)

[2018-04-22 15:14] teolemon opened #1483 "Reword the category search"
"Search for a food category"
![image](https://user-images.githubusercontent.com/1689815/39096449-9746bb22-4650-11e8-8d33-928200fe9959.png)

[2018-04-22 15:29] huzaifaiftikhar opened #1484 "Add a little padding on top of the add photo message"
![screenshot_20180417-003416](https://user-images.githubusercontent.com/10832531/39096607-f5f0c568-466f-11e8-9bbf-b8fff24564b9.png)

[2018-04-22 15:55] teolemon opened #1485 "android.database.sqlite.SQLiteException org.greenrobot.greendao.database.StandardDatabase.beginTransaction"
[code]

[2018-04-22 17:01] teolemon opened #1486 "username disappears if the password is wrong"
When trying to login, username disappears if the password is wrong

Expected: the username should stay, only the password should disappear

[2018-04-22 17:33] teolemon opened #1487 "Clicking on the User image or anonymous should open the Login screen"
Clicking on the User image or anonymous should open the Login screen

[2018-04-22 17:51] PrajwalM2212 commented on #1486
@teolemon  The login fails either if password or username or both are wrong . But it is not possible to determine whether it failed due to incorrect name or password or both .
We could let the username persist if we knew that the login failed due to incorrect password , but now it is not possible to do so.

[2018-04-22 18:09] teolemon commented on #1486
We need a serverside update theoretically, but I think we could leave the username anyway.
The user will be easily able to see if he/she has done a typo.

[2018-04-22 18:12] PrajwalM2212 commented on #1487
@teolemon  This is done

[2018-04-22 18:42] PrajwalM2212 opened #1489 "Clicking SignIn shows " already logged in dialog " even if not logged in"
![screenshot_1524422489](https://user-images.githubusercontent.com/30733262/39098608-0d7d6f4a-468b-11e8-9f2d-9d9f2e2959d5.png)
![screenshot_1524422492](https://user-images.githubusercontent.com/30733262/39098609-0fb67ebe-468b-11e8-9257-fdb0bffb9273.png)

[2018-04-22 22:11] #1233 closed

[2018-04-23 08:22] teolemon opened #1490 "java.lang.NullPointerException at openfoodfacts.github.scrachx.openfood.views.adapters.AllergensAdapter.getItemCount(AllergensAdapter.java:69)"
Crash in chinese on  fresh install from trunk. When opening the allergen view.
[code]

[2018-04-23 08:53] teolemon opened #1491 "Add left and right padding to the offline edit view"
![image](https://user-images.githubusercontent.com/1689815/39116347-821b0dd6-46e4-11e8-8622-a5d15da0d1c4.png)

As a card, it shouldn't be edge to edge. Add a minimal amount of left and right padding so that it looks good.

[2018-04-23 08:54] teolemon commented on #1491
Also reword "Information" to "How does it work ?"

[2018-04-23 09:34] teolemon opened #1492 "The upload will honor the locale of the phone, and not of the app"
Currently, the upload will honor the locale of the phone, and not of the app.
@groverchout has his phone in English, his app in Chinese, and as a result, his product was uploaded in English.

The expected result was that the product would be uploaded in Chinese.

[2018-04-23 09:38] GroverChouT commented on #1492
Little fix: uploaded in United State, not China

[2018-04-23 11:41] #1110 closed

[2018-04-23 11:47] ross-holloway94 commented on #158
Appears to be fixed in release 0.8.9

[2018-04-23 11:47] #158 closed

[2018-04-23 12:29] #369 closed

[2018-04-23 12:50] teolemon opened #1494 "Offline notification needs to have a singular/plurial variant."
[code]
Needs to have a singular/plurial variant.

[2018-04-23 13:06] teolemon opened #1495 "Unproper commas in the contributor list"
Current:```moon-rabbit ,openfoodfacts-contributors```
Should be:```moon-rabbit, openfoodfacts-contributors```

![image](https://user-images.githubusercontent.com/1689815/39128275-ad254974-4707-11e8-9d44-2efb951b43f2.png)

[2018-04-23 13:08] PrajwalM2212 commented on #1495
Will take this issue

[2018-04-23 13:15] teolemon opened #1496 "Make the contributor tab optional in the settings."
Make the contributor tab optional in the settings. It's a feature for power contributors.

[2018-04-23 13:15] teolemon opened #1497 "Use the JSON states taxonomy to translate States"
We now have a JSON export of the states for the contributor tab:
https://static.openfoodfacts.org/data/taxonomies/states.json
You can enable the contributor tab in the app settings.

[2018-04-23 13:16] PrajwalM2212 commented on #1496
Oh ! Forgot . Will do that .

[2018-04-23 13:17] teolemon opened #1498 "Color the product states green or red to make what's left clearer"
Color the product states green or red to make what's left clearer

Turn the states green or red depending on if they contain:

- red: "to be completed" or "to be uploaded" or "to be checked"
- green: all other states

[2018-04-23 13:43] teolemon commented on #1356
Fixed by @l-o-b-s-t-e-r in https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/1467 , and merged

[2018-04-23 13:43] #1356 closed

[2018-04-23 22:49] N00845855 commented on #1484
Yes I will work on this bug

[2018-04-24 14:50] huzaifaiftikhar opened #1500 "Scan on Shake in preferences makes the app go back to homescreen"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker](https://github.com/openfoodfacts/openfoodfacts-androidapp/issues) before creating or reporting an issue.
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.
- [x] Don't forget to tag your issue, it makes it

[2018-04-25 10:01] #241 closed

[2018-04-25 10:12] #1469 closed

[2018-04-25 10:27] Karljoones commented on #1464
@PrajwalM2212 probably easier just to have a file in the app (assets) that can be read into a list, the contributors to the Android project can just append their name onto it in a PR

[2018-04-25 10:28] Karljoones commented on #1429
@PrajwalM2212 what do you suggest putting into this? We do not want to make the file too big

[2018-04-25 10:30] Karljoones commented on #1428
@PrajwalM2212 the bottom navigation is something that we want to include in the product view, maybe for now we will just leave it as a bottom navigation bar.

[2018-04-25 10:31] Karljoones commented on #1415
@jaztriumph can you confirm this? If so, this issue can be closed.

[2018-04-25 10:31] #1410 closed

[2018-04-25 10:31] #1403 closed

[2018-04-25 10:32] #1392 closed

[2018-04-25 10:34] Karljoones commented on #1328
@alexaldev are you working on this?

[2018-04-25 10:35] Karljoones commented on #1306
@ManavPoddar @l-o-b-s-t-e-r is anyone working on this?

[2018-04-25 10:35] Karljoones commented on #1292
Closed duplicate

[2018-04-25 10:35] #1292 closed

[2018-04-25 10:36] Karljoones commented on #1284
@PrajwalM2212 are you working on this?

[2018-04-25 10:36] #1262 closed

[2018-04-25 10:36] Karljoones commented on #1259
@PO15ON are you working on this? A progress bar would work in this case.

[2018-04-25 10:37] #1232 closed

[2018-04-25 10:37] #205 closed

[2018-04-25 10:38] #1231 closed

[2018-04-25 10:39] Karljoones commented on #1258
@jaztriumph  are you working on this

[2018-04-25 10:40] PO15ON commented on #1259
@Karljoones I was trying to open the product page while it is loading, but the user will wait as before.
I will implement the progress bar. Thanks.

[2018-04-25 10:41] Karljoones commented on #1259
Thanks!

[2018-04-25 10:42] #1212 closed

[2018-04-25 10:42] Karljoones commented on #1208
@Shubham2320 are you working on this?

[2018-04-25 10:43] Karljoones commented on #1162
@iml-v are you working on this?

[2018-04-25 11:01] #1134 closed

[2018-04-25 11:01] Karljoones commented on #1133
@Shubham2320 are you still working on this?

[2018-04-25 11:01] #1109 closed

[2018-04-25 11:01] Karljoones commented on #1108
@ManavPoddar are you working on this?

[2018-04-25 11:02] Karljoones commented on #1040
@iml-v are you still working on this?

[2018-04-25 11:03] Karljoones commented on #1039
@samagra14 are you working on this?

[2018-04-25 11:03] #1007 closed

[2018-04-25 11:04] Karljoones commented on #1005
@sachincool are you still working on this?

[2018-04-25 11:05] Karljoones commented on #920
This has been removed, no? @teolemon can you confirm?

[2018-04-25 11:06] Karljoones commented on #888
@sachincool @waadalkatheri does this issue still occur? If so, are either of you working on it?

[2018-04-25 11:08] Karljoones commented on #852
@samagra14 are you still working on this?

[2018-04-25 11:09] #776 closed

[2018-04-25 11:10] Karljoones commented on #730
@abhinavbajpai2012 What is happening with this? Did you manage to implement this?

[2018-04-25 11:10] Karljoones commented on #707
@ManavPoddar Did you ever manage to look into this?

[2018-04-25 11:12] samagra14 commented on #1039
@Karljoones There was no mutual consent on how to solve this. The discussion can be seen in #995 .

[2018-04-25 11:15] Karljoones commented on #1039
@samagra14 the list should be put into a recylerview, this is the most efficient list view at the moment in Android. You should not save this information in a savedInstanceBundle as this is not what it is used for, the only thing that should be saved there is the search query, not the array that the list is displaying. The activity should be handled by the life cycle rather than telling the app no

[2018-04-25 11:29] l-o-b-s-t-e-r commented on #1306
@Karljoones
I stopped to work on this, because I didn't get any answers on my questions.

[2018-04-25 11:36] teolemon commented on #1306
sorry for not replying earlier.
- You have the canonical categories at https://static.openfoodfacts.org/data/taxonomies/categories.json
The url you gave is the canonical categories, plus the user imputed categories.
- Short story: we need to recompute all the categories for all the products server side, because we changed the taxonomies. It's on the TODO list.So basically the categories don't have

[2018-04-25 11:36] teolemon commented on #1306
so basically, we need to wait for @stephanegigandet to recompute everything.

[2018-04-25 11:37] teolemon commented on #1306
(he's on holidays right now)

[2018-04-25 12:09] ArchangeGabriel commented on #776
You should maybe add a line on top of `CHANGELOG.md` saying that now changes are listed in the release section. ;)

[2018-04-25 12:18] jaztriumph commented on #1415
@Karljoones Yes that's already removed.

[2018-04-25 12:26] ross-holloway94 commented on #1433
I'm now having this with OFF too.

[2018-04-25 12:26] sachincool commented on #1005
no, @Karljoones you can take it. :smile:

[2018-04-25 12:29] jaztriumph commented on #1258
@Karljoones Currently I am not working on this.

[2018-04-25 12:35] sachincool commented on #888
@Karljoones I haven't tested it recently. you can take it.

[2018-04-25 12:42] ArchangeGabriel commented on #776
Well honestly I don’t care about the changelog on GPS. My issue was more that no new version was tagged here, so that F-Droid couldn’t build it. ;)

[2018-04-25 12:42] Karljoones commented on #1415
Awesome. Closing this issue.

[2018-04-25 12:42] #1415 closed

[2018-04-25 12:43] Karljoones commented on #1258
Thank you for confirming

[2018-04-25 12:44] Karljoones commented on #888
I'm going to close this for now, to be reopened if someone else comes across the issue

[2018-04-25 12:44] #888 closed

[2018-04-25 14:29] ross-holloway94 commented on #1433
We need a way of checking if the column exists before trying to add it in each table.
Method is DatabaseHelper.upgrade() - case 7.

[2018-04-25 14:40] Hangman228 commented on #1433
Not very usefull but I have same error on Android 7.1.2 and crash on start, if you need any logs let me know

[2018-04-25 16:42] #952 closed

[2018-04-25 17:30] Karljoones commented on #1259
This was implemented with a loading dialog as part of the scanner, which i think looks fine, not the same as this issue but still solved the problem. Closing this issue.

[2018-04-25 17:30] #1259 closed

[2018-04-26 12:46] PrajwalM2212 opened #1511 "App crashing on clicking to view product details"
![screenshot_1524746615](https://user-images.githubusercontent.com/30733262/39306367-a4eb3c78-497d-11e8-924b-5ec112dbb3b7.png)

[2018-04-26 13:04] teolemon commented on #1511
[code]

[2018-04-26 13:33] PrajwalM2212 commented on #1511
fixed in #1510

[2018-04-26 13:46] #1487 closed

[2018-04-26 14:24] N00845855 commented on #1484
Which of the following components should have padding added?

![screenshot_2018-04-25-21-00-47 sm](https://user-images.githubusercontent.com/33704683/39311793-e633546e-493b-11e8-9057-5ebc31c91046.png)

Should the padding be added above the component (i.e. between two components in the layout) or should it be added around the text within the component? If the padding is to be added around the text

[2018-04-26 16:24] huzaifaiftikhar commented on #1484
@N00845855 padding is supposed to be added to the top of the card which says "only one photo is compulsory to send a new product". From your screenshot, I would say the first one you mentioned. No need to add padding anywhere else.

[2018-04-26 17:33] #194 closed

[2018-04-26 17:33] #1496 closed

[2018-04-26 17:33] #1511 closed

[2018-04-26 18:43] teolemon opened #1513 "NullPointerException: Attempt to invoke interface method 'int java.util.List.size()' on a null object reference at openfoodfacts.github.scrachx.openfood.views.adapters.AllergensAdapter.getItemCount"
04-26 20:42:15.896 24202-24202/openfoodfacts.github.scrachx.openfood E/AndroidRuntime: FATAL EXCEPTION: main
    Process: openfoodfacts.github.scrachx.openfood, PID: 24202
    java.lang.NullPointerException: Attempt to invoke interface method 'int java.util.List.size()' on a null object reference
        at openfoodfacts.github.scrachx.openfood.views.adapters.AllergensAdapter.getItemCount(Allergen

[2018-04-26 18:44] teolemon commented on #1513
Happens on opening the allergen view on latest trunk.

[2018-04-26 20:43] PO15ON commented on #1513
I think it is the same as #1490 @teolemon

[2018-04-26 21:08] ross-holloway94 commented on #1513
I agree with @PO15ON , but this issue is more descriptive. Can look Monday if nobody takes it before then

[2018-04-27 07:35] PO15ON commented on #1513
@teolemon is there more information available on how to reproduce it?

[2018-04-27 07:48] teolemon opened #1515 "Upload Proguard deobfuscation file to Play Console"
This one is for @itchix

[code]

[2018-04-27 07:50] teolemon opened #1516 "java.lang.NullPointerException at openfoodfacts.github.scrachx.openfood.network.c.a"
Sorry for the obfuscated trace. I have no mean to upload the deobfuscation file (@itchix needs to do so)

Feel free to add the full trace if you find the bug again

[code]

[2018-04-27 08:39] teolemon opened #1517 "The bottom bar is hiding the Wikidata info"
![image](https://user-images.githubusercontent.com/1689815/39353171-36ee2b60-4a07-11e8-808d-4d5a0fcda6de.png)

[2018-04-27 08:50] teolemon commented on #1373
@sowmya9029 are you still working on this ?

[2018-04-27 08:52] teolemon opened #1518 ""Share to Open Food Facts" fails silently"
- Share a photo with barcode to Open Food Facts
- The app probably doesn't recognize any barcode
- It stays on the homepage without any message to type manually the barcode (already exists within the code)
- The app was in Italian

[2018-04-27 08:54] teolemon commented on #1518
Switching to English seems to solve the issue.

[2018-04-27 08:56] teolemon opened #1519 ""Share to Open Food Facts" always says it will upload the picture when the network is available"
Always says it will upload the picture when the network is available (doesn't create any offline product, and the network is actually available in those cases)

![image](https://user-images.githubusercontent.com/1689815/39353989-8c91eb36-4a09-11e8-9937-8da96423f2d5.png)

![image](https://user-images.githubusercontent.com/1689815/39353999-90b933d6-4a09-11e8-9c70-bb6cbd6851ab.png)

[2018-04-27 08:57] teolemon opened #1520 "Show shared photos, even if a barcode has been detected."
![image](https://user-images.githubusercontent.com/1689815/39354052-b8722f04-4a09-11e8-931c-e3f4f35228f0.png)
Show shared photos, even if a barcode has been detected, probably as a scrollable horizontal carousel ?

[2018-04-27 09:01] teolemon opened #1521 "Check if cacao is properly implemented in the nutrition table"
![image](https://user-images.githubusercontent.com/1689815/39354241-5831ef52-4a0a-11e8-9fc7-e486f17c4011.png)
Weird duplicate value: ```11 g```

[2018-04-27 09:03] teolemon opened #1522 "Share to Open Food Facts should let you zoom on the picture when no barcode is detected"
Share to Open Food Facts should let you zoom on the picture when no barcode is detected

[2018-04-27 09:41] Hangman228 commented on #1433
Now fixed (0.8.10) ! I think you can close this one

[2018-04-27 16:57] teolemon opened #1524 "Quick scan mode crashes on unexisting product"
Quick scan mode crashes on unexisting product

[2018-04-27 23:40] N00845855 commented on #1484
Do you also want to me make"Only one photo is complusary to send a product" in the middle of the card as it is towards the top of the card?

![image](https://user-images.githubusercontent.com/33704683/39389022-a4a80cca-4a52-11e8-91ef-9eed383dfe97.png)
![image 1](https://user-images.githubusercontent.com/33704683/39389028-acb4fa72-4a52-11e8-834c-54af9155c4bf.png)

[2018-04-28 05:40] huzaifaiftikhar commented on #1484
@N00845855 The textual content in the middle looks more good to me. Also do not change the drawable which is at the starting of the card (leave it to be the green icon as it was before)

[2018-04-28 06:51] N00845855 commented on #1484
I never changed the drawable. I updated my project to recent commits and I noticed this change too.

[2018-04-28 08:52] #1376 closed

[2018-04-28 08:52] #1377 closed

[2018-04-28 08:52] #1379 closed

[2018-04-28 08:52] #1380 closed

[2018-04-28 08:52] #1365 closed

[2018-04-28 11:39] huzaifaiftikhar commented on #1484
Ohh okay then leave it as it is in this PR.

[2018-04-28 12:28] huzaifaiftikhar commented on #1181
After certain new merges such as #1444 and #704 a few PNGs are again added to the codebase. Reopening the issue.

[2018-04-29 09:18] teolemon opened #1526 "Layout issue on the Chinese onboarding slides"
![image](https://user-images.githubusercontent.com/1689815/39405104-0f16c6a8-4b9f-11e8-8d74-2258a0b57c27.png)

[2018-04-29 15:54] teolemon opened #1528 "Add the Wikipedia/Wikidata info on top of product lists"
Add the Wikipedia/Wikidata info on top of product lists.
EG, when you look at "Beef lasagne" from the category explorer, it should display the info from Wikidata/Wikipedia as a header on top.

[2018-04-29 15:55] teolemon opened #1529 "Cardify the Ingredient tab"
Cardify the Ingredient tab, just like the summary tab.

[2018-04-29 15:56] teolemon opened #1530 "Use the native product list system for the clickable allergens"
Use the native product list system for the clickable allergens

[2018-04-29 15:57] teolemon opened #1531 "Make the ingredients from palm oil clickable"
- Make the ingredients from palm oil clickable.
- List the various ingredients within it as a list.

For the translations, the server team is going to make is multilingual as soon as possible.

[2018-04-29 16:00] teolemon opened #1532 "Duplicated ingredient tab"
You can see the tab 2 times

![image](https://user-images.githubusercontent.com/1689815/39408487-42936f58-4bd7-11e8-9089-260f5cf2ad95.png)

[2018-04-29 16:05] teolemon opened #1533 "Create a specific string for the icon name"
Renaming the string in flavors for better launcher icon legibility also renamed the name in the product detail view.
The official branding is "Open Food Facts", except on the launcher icon where we remove the spaces.

![image](https://user-images.githubusercontent.com/1689815/39408513-c3bc4104-4bd7-11e8-95be-d437d304e9a3.png)
![image](https://user-images.githubusercontent.com/1689815/39408515-cafb

[2018-04-30 09:49] teolemon opened #1535 "Make the ingredient list clickable"
We're introducing Ingredient taxonomies, especially for Open Beauty Facts.
We need to make the ingredient list clickable, so that users can delve into an ingredient.

Important thing to consider: you should still be able to copy paste it. So see if it's not uncompatible, otherwise add a copy ingredient list button ?